<template>
	<div class="container section fuente">
		
		<div class="row text-center q-mt-md q-mb-lg q-mt-lg flex content-between item-center ">
			<div class="col-2">
				<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
			</div>
			<div class="col-8">
				<p class="mb-0 titulo-header  " >Cambiar contraseña</p>
			</div>
			<div class="col-2">
			</div>
		</div>

		<q-form id="form_cambiar" @submit="onSubmit" @reset="onReset" class=" q-mt-md ">
			<div class="q-mt-md">

				<div class="flex flex-center">
					<q-input :dense="true" class=" w-80" name="pass" v-model="password"  :type="isPwd ? 'password' : 'text'" hint="" label="Contraseña actual" v-on:keyup="limpiar">
						<template v-slot:append>
							<q-icon
								:name="isPwd ? 'visibility_off' : 'visibility'"
								class="cursor-pointer"
								@click=" isPwd = !isPwd"
							/>
						</template>
					</q-input>
				</div>
			</div>

			<div class="q-mt-md" >

				<div class="flex flex-center q-mt-lg ">
					<q-input :dense="true" name="pass_new" class=" w-80" v-model="passwordn" :type="isPwdn ? 'password' : 'text'" label="Contraseña nueva" v-on:keyup="limpiar">
						<template v-slot:append>
							<q-icon
								:name="isPwdn ? 'visibility_off' : 'visibility'"
								class="cursor-pointer"
								@click="isPwdn = !isPwdn"
							/>
						</template>
					</q-input>
				</div>
			</div>


			<div class="q-mt-md">

				<div class="flex flex-center q-mt-lg " >
					<q-input :dense="true"  name="pass_new_con" class=" w-80" v-model="passwordn2" :type="isPwdn2 ? 'password' : 'text'" label="Confirmar contraseña"  v-on:keyup="limpiar">
						<template v-slot:append>
							<q-icon
								:name="isPwdn2 ? 'visibility_off' : 'visibility'"
								class="cursor-pointer"
								@click="isPwdn2=!isPwdn2"
							/>
						</template>
					</q-input>
				</div>
			</div>


			<div class="flex flex-center q-mt-md btn-fixed-end q-mb-md " >
				<q-btn  size="md" label="Guardar" type="submit" class="cl_standar rounded q-mt-md w-80" :disabled="buttonDisabled"/>
			</div>
		</q-form>
	</div>
</template>

<script>
	export default {
		data () {
			return {
				buttonDisabled: false,
				msjError: false,
				msjSucces: false,
				password: '',
				passwordn: '',
				passwordn2: '',
				isPwd: true,
				isPwdn: true,
				isPwdn2: true
			}
		},
		methods: {
			limpiar: function() {
				this.msjError = false;
				this.msjSucces = false;
			},
			onSubmit(evt){
				evt.preventDefault();
				this.buttonDisabled = true;
				this.msjError = false;
				this.msjSucces = false;

				this.formData = new FormData(document.getElementById('form_cambiar'));
				this.$api.general.post('login/cambiar-clave', this.formData)
					.then(r => {
						if(r.r){ //si todo esta bien, se borran los datos de los campos
							//this.msjSucces = r.msj||r.msg;
							//this.$router.back();
							this.$q.notify({message: 'Contraseña cambiada exitosamente', position:'top',color: 'cyan-4', timeout:3000});
							if(this.cliente)
								this.$router.push('/Home');
							else
								this.$router.back();
							this.email= '';
							// swal.fire('Genial!!',r.msj||r.msg,'success');
							this.password= '';
							this.passwordn= '';
							this.passwordn2= '';
						}else
							swal.fire('Oops...',r.msj||r.msg,'error');
						this.buttonDisabled = false;
					})
					.catch(err => {
						swal.fire('Oops...',err.msj||err.msg,'error');
						this.buttonDisabled = false;
					});
			},

			onReset(){},
		},
		computed: {
			cliente(){ return this.$auth.obtenerTipoUsuario() == 'cliente' },
		},
	}
</script>
