<style>
	.swal2-content{
		padding: 0px;
	}
</style>
<template>
	<!-- LA CLASE bg_carrito-vacio SE ACTIVARA CUANDO EL CARRITO ESTA VACIO  -->
	<div :class=" ['blue', 'fuente', 'overflow','q-pb-md', bgCarrito] ">

		<div class="row text-center q-pl-md q-pr-md q-mt-lg q-mb-lg flex content-between item-center ">
			<div class="col-2 flex ">
				<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn  flat class="btn_back" color="primary" icon="keyboard_arrow_left" label="" to="/Home" /> -->
			</div>
			<div class="col-8">
				<p class="mb-0 titulo-header  " >Carrito</p>
			</div>
			<div class="col-2">
			</div>
		</div>

		<!-- <div class="text-center q-mt-md">

			<h6 class="titulo-header">
				<q-btn  flat color="primary" class="btn-atras fa fa-angle-left fa-2x" @click="atras()"  />
				Carrito
				<q-btn flat
					v-if="hayProductos"
					icon="delete_outline"
					aria-label="Vaciar"
					style="position:absolute; right:5px;"
					@click="clickVaciar"
					/>
			</h6>
		</div> -->

		<div class="text-center" v-if="!hayProductos">
			<h6 class="m-0 pt-5">No hay productos</h6>
		</div>

		<div class="row q-ml-md q-mr-md card_shadow_bottom_sm " v-if="hayProductos">
			<div class="col-12">
				<p class="mb-0 titulo-header font-m cont_doomi q-pl-md ">{{ doomialiado.nombre }}, <span @click="verTienda" class="clr_light_blue " > Ver tienda</span> </p>
			</div>
		</div>

		<!-- <LISTADO-PRODUCTOS> -->
		<div class="row cont_carrito q-mt-md rounded-1 q-pl-sm q-pr-sm q-pb-sm q-ml-md q-mr-md"
			v-for="item in datos" :key="item.id"
		>

			<!-- <div class="col-4">
				<q-img
				:src="  item.img || 'statics/images/logo.png' "
				class="img-doomi"
				/>
			</div> -->

			<div class="col-12 q-pt-sm flex item-center content-between ">
				<p class="m-0 font-xl q-mt-md bold w-80 ">{{ item.nombre }}</p>

					<q-img style="position: relative;margin-right:0%"  @click="clickEliminar(item)"  width="15px" height="15px" class=" q-mr-md" v-close-popup src="statics\Iconos\X.png" ></q-img>

			</div>

			<div class="col-12 ">
				<p class="m-0 nombre-doomi">
					<span v-if="item.adicionales">
						<b> Adicionales: </b>{{ item.adicionales }}
					</span> <br/>
					<span v-if="item.acompañantes">
						<b> Acompañantes: </b>{{ item.acompañantes }}
					</span> &nbsp;
				</p>
				<p class="m-0 nombre-doomi">
					<span v-if="item.notas">
						<b>Nota:</b>{{ item.notas }}
					</span> &nbsp;
				</p>
				<div class="flex item-center content-between ">
					<div class="">
						<p class="font_titulosxl  bold m-0">{{ item.precio }}</p>
					</div>

					<div class="flex item-center">

						<q-btn @click="cambiarCantidad(item, -1)" icon="remove" size="sm" round class="btn-black rounded circle"></q-btn>

						<p class="q-mt-sm q-mb-sm parrafos q-ml-sm q-mr-sm">{{ item.cantidad }}</p>

						<q-btn @click="cambiarCantidad(item, +1)" icon="add" size="sm" round class="btn-black rounded circle "></q-btn>

					</div>
				</div>
			</div>
		</div>
		<!-- </LISTADO-PRODUCTOS> -->


		<!-- <div v-if="hayProductos">
			<div class="row" v-if="$auth.autenticado()">
				<div class="col-12 q-mt-sm">
					<label for="">Modalidad</label>
					<q-select borderless class="input" v-model="modalidad" :options="modalidadesDeTrabajo" @input="buscarconfi" />
				</div>
			</div> -->

			<!--modalidad reservacion
			<div class="row q-mt-md " v-if="modoReservacion">
				<div class="  flex content-around col-6 item-center ">
					<p class="m-0 nombre-doomi" >Fecha:</p>
						<q-btn icon="event" size="sm" round class="cl_standar rounded circle " >
						<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
							<q-date
								v-model="proxyDate"
								subtitle="Selecciona la fecha para su pedido"
								title="Seleccionar fecha"
								:options="filtrarDiasSeleccionables"
							>
								<div class="row items-center justify-end q-gutter-sm">
									<q-btn label="Cancel" color="primary" flat v-close-popup />
									<q-btn label="OK" color="primary" flat @click="" v-close-popup />
								</div>
							</q-date>
						</q-popup-proxy>
					</q-btn>
					<p class="m-0 nombre-doomi">{{proxyDate}}</p>
				</div>

				<div class="flex content-around col-6 item-center">
					<p class="m-0 nombre-doomi" >Hora:</p>
					<q-btn icon="access_time" size="sm" class="rounded circle cl_standar" round >
					<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
						<q-time :format24h="false" v-model="proxyTime">
							<div class="row items-center justify-end q-gutter-sm">
								<q-btn label="Cancel" color="primary" flat v-close-popup />
								<q-btn label="OK" color="primary" flat @click="" v-close-popup />
							</div>
						</q-time>
					</q-popup-proxy>
					</q-btn>
					<p class="m-0 nombre-doomi">{{proxyTime}}</p>
				</div>
			</div>


			modalidad pick up
			<div class="row" v-if="modoPickup">

				<div class="col-12 text-center">
										<q-btn class="q-ma-md cl_standar soft-border" size="sm" label="Ver ubicación" @click="vermapa" icon="edit_location" />
				</div>


				<q-dialog v-model="Modalmapa" maximized>
					<q-card class="w-100" >
						<q-card-section class="text-right p-0 " >
							<q-btn flat label="X" v-close-popup />
						</q-card-section>

						<q-card-section class="q-pt-none" style="height: 90vh">
							<div class="col-12 text-center " >
								<p class="titulo-header m-0 " ></p>
							</div>

							<div  class=" bordes q-pa-xs soft-border flex item-center content-around">
			                    <div class="flex item-center q-mt-sm ">
				                    <img src="statics\images\map-verde.png" width="20px" alt="">
				                    <p class="m-0 encabezado" >{{ doomialiado.nombre }}</p>
			                    </div>

			                   <div class="flex item-center q-mt-sm">
				                <img src="statics\images\map-aqui-estoy.png" width="20px" alt="">
				                <p  class="m-0 dncabezado " >Mi ubicacion</p>
			                    </div>
		                   </div>

							<div
								ref="mapa2"
								map-type-id="terrain"
								class="col-12 q-mt-md"
								style="height: 80vh;position: absolute;width: 90%;z-index:9999;"
								>
							</div>
							<div class="col-12 q-mt-md ">
								<google-map>
									<slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
									<input name="lat_dir" v-model="lat" type="hidden" />
									<input name="lon_dir" v-model="lon" type="hidden" />
									</slot>
								</google-map>
							</div>
						</q-card-section>
					</q-card>
				</q-dialog>

			</div>

			modalidad pick up

			Delivery

			<div class="row" v-if="modoDelivery">
				<div class="col-12 text-center ">
					<q-btn class="q-ma-md cl_standar soft-border" size="sm" label="Agregar ubicación" @click="abrirdelivery" icon="edit_location" />
				</div>

				<q-dialog v-model="UbicacionDialog">
					<q-card class="w-100" >
						<q-card-section class="text-right p-0 " >
							<q-btn flat label="X" v-close-popup />
						</q-card-section>

						<q-card-section class="q-pt-none">
							<label for="">Mis direcciones</label>
							<q-select borderless class="input" v-model="direcciones" option-value="id" option-label="nom_dir" @input="buscardirec" :options="misdirecciones" />
							<label for="">ubicación</label>
							<q-input borderless class="soft-border " style="background-color:rgb(236, 236, 236)"  autogrow  v-model="ubicacion" type="textarea" name="direc_dir"  />
							<label for="">punto de referencia</label>
							<q-input borderless class="soft-border " style="background-color:rgb(236, 236, 236)"  autogrow  v-model="referencia" type="textarea" name="ref_dir"  />

							<div  class=" bordes q-pa-xs soft-border flex q-mt-md item-center content-around" v-if="verleyendadelevery">
			                    <div class="flex item-center q-mt-sm ">
				                    <img src="statics\images\map-verde.png" width="20px" alt="">
				                    <p class="m-0 encabezado" >Doomi</p>
			                    </div>

			                   <div class="flex item-center q-mt-sm">
				                <img src="statics\images\map-aqui-estoy.png" width="20px" alt="">
				                <p  class="m-0 dncabezado " >Mi ubicacion</p>
			                    </div>
		                   </div>

							<div
								ref="mapa2"
								map-type-id="terrain"
								class="col-12 q-mt-md"
								style="height: 300px;position: relative;width: 100%;"
								>
							</div>

							<div class="col-12 q-mt-md ">
								<google-map>
									<slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
									<input name="lat_dir" v-model="lat" type="hidden" />
									<input name="lon_dir" v-model="lon" type="hidden" />
									</slot>
								</google-map>
							</div>
						</q-card-section>

						<q-card-actions align="center">
							<q-btn size="sm" class="soft-border cl_standar" @click="cerrardelivery" >Aceptar</q-btn>
						</q-card-actions>
					</q-card>
				</q-dialog>
			</div>
		</div>
				 Delivery

		<br/>
		<table v-if="hayItems" id="tabla-totales" class="q-mt-xs  text-center mr-1">
			<tr>
				<td colspan="3">TOTALES</td>
			</tr>
			<tr>
				<td>Subtotal:</td>
				<td>{{ precio(subtotal) }}</td>
			</tr>
			<tr>
				<td>Adicionales:</td>
				<td>{{ precio(subtotalAdicionales) }}</td>
			</tr>
			<tr v-if="modoDelivery">
				<td>Pago Delivery:</td>
				<td>{{ precio(this.tot_del) }}</td>
			</tr>
			<tr>
				<td>Total:</td>
				<td>{{ precio(total + this.tot_del) }}</td>
			</tr>
		</table>
		<br/> -->

			<div class="row q-mt-lg q-ml-md q-mr-md mb-10vh soft-border ">
			<div  v-if="hayProductos" @click="clickVaciar" class="text-center w-100 " >
				<p class="mb-0 bg_cont q-pa-sm soft-border titulo-header no-bold "  > <q-icon name="far fa-trash-alt" class="q-mr-sm" ></q-icon> Vaciar carrito</p>
			</div>



			</div>
		<div class="text-center q-mt-sm"></div>

         <div class="col-12 text-center  q-mt-md btn-fixed-end " v-if="botonProcesar">
			<q-btn :disabled="botonDisabled" @click="clickPagar" size="md" class="cl_standar no-capitalize w-90  titulo-header rounded" >Ir a pagar</q-btn>
		</div>

	</div>
</template>


<script>

import { mapGetters } from 'vuex'
// import { EventBus } from '../router/index';
import swal from 'sweetalert2';
import GoogleMap from 'components/GoogleMap';
import Modalmapa from 'components/modal-mapa';

export default {

	components: {
		GoogleMap,
		Modalmapa
		},

data(){
	return{
		proxyTime: null,
		proxyDate: null,
		model:'Seleccione',
		Modalmapa:false,
		UbicacionDialog:false,
		mapConfig: {zoom:8},
		time: '10:56',
		date: '2019/03/01',
		cantidad:0,
		modalidad: null,
		modalidadesDeTrabajo: [],
		direcciones: null,
		misdirecciones: [],
		ubicacion: null,
		referencia: null,
		tot_del: 0,
		ran_min_km: 0,
		pre_del_km: 0,
		pre_del_ext: 0,
		botonProcesar: false,
		botonDisabled: true,
		lat: null,
		lon: null,
		map: null,
		options: {
			mapTypeControl: false,
			streetViewControl: false,
			fullscreenControl: false,
			zoomControl: true,
			scaleControl: true,
			gestureHandling: "greedy",
			zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            backgroundColor: "#fff"
		},
		googlee: google,
		DSERU: "",
    	DIRDISU: "",
    	marker_n: null,
    	marker_n2: null,
    	verleyendadelevery: false
	};
},

created () {
	this.cargarDirecciones();
},
/*
mounted(){

	// this.idDoomialiado = this.$store.getters['carrito/idDoomialiadoActual'];

	if(this.doomialiado.modalidad_delivery)
		this.modalidadesDeTrabajo.push('Delivery');

	if(this.doomialiado.modalidad_pickup)
		this.modalidadesDeTrabajo.push('Pickup');

	if(this.doomialiado.modalidad_programados)
		this.modalidadesDeTrabajo.push('Programado');

	//this.lat = this.doomialiado.lat;
	//this.lon = this.doomialiado.lon;

	this.modalidad = 'Seleccione...';
	// const datos = [];
	// let cuenta = 1;
},*/


computed: {
	...mapGetters({
		pedidos: 'carrito/pedidosDetallados',
		total: 'carrito/total',
		subtotal: 'carrito/subtotal',
		subtotalAdicionales: 'carrito/subtotalAdicionales',
		hayItems: 'carrito/items',
	}),

	pedidos(){
		return this.$store.getters[ this.$auth.autenticado() ?
			'carrito/pedidosDetallados' :
			'carrito/pedidosDetalladosNoLogueado'];
	},

	hayProductos(){ return this.datos && this.datos.length > 0 },

	bgCarrito(){ return this.hayProductos ? '' : 'bg_carrito-vacio' },

	datos(){
		if(!this.hayItems){
			this.botonProcesar = false;
			return [];
		}

		this.botonProcesar = true;
		this.botonDisabled = false;

		return this.pedidos.map(item => ({
			id: item.id || item.ID,
			id_producto: item.producto.id,
			cantidad: item.cantidad,
			nombre: item.producto.nombre,
			descripcion: item.producto.descripcion,
			precio: this.precio(item.TOTAL || item.producto.precio_usd),
			adicionales: item.adicionales.map(e => e.nombre+'('+e.cantidad+')').join(', '),
			acompañantes: item.acompañantes.map(e => e.nombre+'('+e.cantidad+')').join(', '),
			// precio_adicionales: this.precio(item.SUBTOTAL_ADICIONALES),
			// subtotaladicionado: this.precio(item.TOTAL),
			notas: item.notas,
			img: item.producto.img,
		}), this);
	},

	doomialiado(){
		if(this.pedidos.length > 0)
			return this.$store.getters['carrito/doomi_actual']
			//return this.$store.getters['doomis/porId'](this.pedidos[0].producto.id_restaurante);
		return {};
	},
	/*
	modoDelivery(){
		return this.modalidad ? this.modalidad.toLowerCase() == 'delivery' : false;
	},

	modoPickup(){
		return this.modalidad ? this.modalidad.toLowerCase() == 'pickup' : false;
	},

	modoReservacion(){
		return this.modalidad ? this.modalidad.toLowerCase() == 'programado' : false;
	},

	labelModalidad(){ return this.modalidad ? '' : 'Seleccione...' },
	*/

},


methods:{

	async clickPagar(){
		if(!this.$auth.autenticado()){
			// this.botonProcesar = false;
			let r = await this.$store.dispatch('swalInfo', {
				text: 'Debes iniciar sesión para procesar el pedido',
				confirmButtonText: 'Iniciar Sesión'
			});
			if(r.isConfirmed)
				this.$router.push('Iniciodesesion');
			return;
		}
		this.$api.general.recuperarData('carrito/validad_productos_carrito')
					.then(r => {
						if(r.errr)
							swal.fire('Oops...','<p style="font-size:18px;"><b>Corrige el pedido para continuar</b></p><p style="font-size:16px;">'+r.msj+'</p>','error');
						else
							this.$router.push('/Pago');

					}).catch(err => {
						console.log(err);
					});
	},

	clickVaciar(){
		this.$store.dispatch('_swal', {
			text:'¿Vaciar el carrito?',
			showCancelButton:true,
			confirmButtonText:'Sí',
			cancelButtonText:'No',
			icon: 'question'
		})
		.then(async res => {
			if(!res.isConfirmed) return;
			await this.$store.dispatch('carrito/vaciar');
			// this.$store.dispatch('swalSuccess', 'Carrito vacío');
		});
	},

	verTienda(){
		this.$router.push('/Menudoomialiadohome/'+this.doomialiado.id);
	},
	/*
	filtrarDiasSeleccionables(fecha){
		fecha = new Date(fecha);
		let seleccionable = true;
		const hoy = new Date();

		// Verificar que la fecha sea despues de hoy.
		if(fecha < hoy)
			seleccionable = false;

		else if(this.diferenciaDateEnDias(hoy, fecha) < this.doomialiado.modalidad_programados_cantidad)
			seleccionable = false;

		return seleccionable;
	},

	diferenciaDateEnDias(date1, date2){
		const diff = date2.getTime() - date1.getTime(); // Restar milisegundos.

		return diff / (1000 * 3600 * 24); // Convertir a dias.
	},
	*/
	updateProxy(x){  },

	cambiarCantidad(item, cambio){
		const producto = this.$store.getters['productos/porId'](item.id_producto);
		if(producto.existencias < item.cantidad+cambio) return;
		this.$store.dispatch('carrito/cambiarCantidadOrden', [item.id, item.cantidad+cambio])
			.then(r => this.$store.dispatch('carrito/actualizar'));
	},

	precio(val){
		return this.$utils.precio(val, '$')
	},

	clickContinuar(){
		if(this.hayItems)
			this.$router.push({path: '/Menudoomialiadohome/'+ this.pedidos[0].producto.id_restaurante})
		else
			this.$router.push({path: '/Home'})
	},

	clickEliminar(item){
		swal.fire({
			text: '¿Desea eliminar este ítem?',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Sí',
			cancelButtonText: 'No',
			showClass: {popup: 'animate__animated animate__fadeIn'},
			hideClass: {popup: 'animate__animated animate__fadeOut'},
		}).then(res => {
			if(res.isConfirmed) {
				this.$store.dispatch('carrito/eliminar', item.id)
			}
		});


		// this.$store.dispatch('carrito/eliminar', item.id)
		// 	.then(r => {
		// 		console.log(r);
		// 		this.$store.dispatch('carrito/actualizar');
		// 	});
	},

	cargarDirecciones(){
		const data_user = this.$api.cliente.obtenerDatos();
		if(!data_user) return;
		this.$api.general.recuperarDataConData('direcciones/', {id_cli:data_user.id})
			.then(r => {

				this.misdirecciones = r;
				this.misdirecciones.push({id: null, nom_dir:"Eventual (no se registra)"});

			}).catch(err => {
				console.log(err);
			});
	},
	/*
	abrirdelivery(){
		this.UbicacionDialog= true;
		this.verleyendadelevery = false;
		this.vermapa('2');
	},
	cerrardelivery(){
		this.UbicacionDialog= false;
	},
	buscardirec(){
		if(this.direcciones.id){
			this.ubicacion = this.direcciones.dir_dir;
			this.referencia = this.direcciones.ref_dir;
			this.lat = this.direcciones.lat_dir;
			this.lon = this.direcciones.lon_dir;
			this.vermapa('1');
		}else{
			this.ubicacion = null;
			this.referencia = null;
			this.lat = null;
			this.lon = null;
			this.verleyendadelevery = false;
			this.vermapa('2');
		}
	},
	buscarconfi(){
		if(this.modalidad=='Delivery'){
			this.$api.general.recuperarData('configuracion/')
			.then(r => {
				//console.log(r);
				if(r.minimo){
					this.ran_min_km = r.kmd;
					this.pre_del_km = r.minimo;
					this.pre_del_ext = r.precio;
					this.tot_del = r.minimo;
				}
			}).catch(err => {
				console.log(err);
			});
			this.direcciones = 'Seleccione...';
		}else{
			this.pre_del_km = 0;
			this.pre_del_ext = 0;
			this.tot_del = 0;
		}
	},
	async vermapa(op){
		//console.log(op);
		if(op!='2' && op!='0' && op!='1')
			this.Modalmapa= true;
		//document.body.style.overflow = 'hidden';
		var cordenadas = {};
		await this.$api.general.geo().then(ubicacionActual => {
	      	cordenadas = ubicacionActual;
	    }).catch(err => {console.log(err);});

		var self = this;
		setTimeout(function(){ //para que cargue bien en el modal
			if (typeof google) {
	            self.DSERU = new google.maps.DirectionsService();
	            self.DIRDISU = new google.maps.DirectionsRenderer({suppressMarkers: true});
	        }

			var styles = [
	            { featureType: "poi.business", elementType: "labels", stylers: [{ visibility: "off" }] },
	            { elementType: 'labels.text.fill', stylers: [{ color: '#294dce' }] }
	        ];

			var styledMap = new google.maps.StyledMapType(styles, { name: "Styled Map" });
			self.options.center = new google.maps.LatLng(cordenadas.lat, cordenadas.lon);
			var map = new google.maps.Map(
	            self.$refs.mapa2,
	            self.options
	        );
	        map.mapTypes.set('map_style', styledMap);
	        map.setMapTypeId('map_style');
	        self.DIRDISU.setMap(map);
	        if(op!='2' && op!='0'){ //funcion para el pickup y cuando se seleccionar una direccion
	        	if(op=='1'){
	        		var data_map = {
				        origin: self.doomialiado.lat + "," + self.doomialiado.lon,
				        destination: self.lat + "," + self.lon,
				        optimizeWaypoints: true,
				        travelMode: 'DRIVING'
		        	};
	        	}else{
	        		var data_map = {
			            origin: cordenadas.lat + "," + cordenadas.lon,
			            destination: self.doomialiado.lat + "," + self.doomialiado.lon,
			            optimizeWaypoints: true,
			            travelMode: 'DRIVING'
			        };
	        	}
	        	self.DSERU.route(data_map, function(response, status) {
	        		if (status === 'OK') {
		        		//console.log(response.request);
		        		if(op==1){
		        			var point = response.routes[ 0 ].legs[ 0 ];
			        		var kmd = self.ran_min_km * 1000;
			        		if(point.distance.value>kmd){
			        			var dif = (point.distance.value - kmd)/1000;
			        			var tot_ext = dif*self.pre_del_ext;
			        			self.tot_del=self.pre_del_km+parseFloat(tot_ext.toFixed(2));
			        		}else{
			        			self.tot_del=self.pre_del_km;
			        		}
			        	}
		        		self.DIRDISU.setDirections(response);
		        		var image = {url: "statics/images/map-verde.png",size: new google.maps.Size(81, 81),origin: new google.maps.Point(0, 0),anchor: new google.maps.Point(17, 34),scaledSize: new google.maps.Size(30, 30)};
		        		var image2 = {url: "statics/images/map-aqui-estoy.png",size: new google.maps.Size(81, 81),origin: new google.maps.Point(0, 0),anchor: new google.maps.Point(17, 34),scaledSize: new google.maps.Size(30, 30)};

						var marker_n = new google.maps.Marker({
						 	position: {lat: parseFloat(response.request.origin.location.lat()), lng: parseFloat(response.request.origin.location.lng())},
						 	icon: image2
						});
						var marker_n2 = new google.maps.Marker({
						 	position: {lat: parseFloat(response.request.destination.location.lat()), lng: parseFloat(response.request.destination.location.lng())},
						 	icon: image
						});
						self.verleyendadelevery = true;
						marker_n.setMap(map);marker_n2.setMap(map);
		            } else {
		            	if(status === 'ZERO_RESULTS'){
		            		swal.fire('Oops...','Google maps no puede establecer una ruta con tu destino, intente con otra ruta','error');
		            		if(op=='1'){
		            			self.direcciones = 'SELECCIONE...';
		            			self.ubicacion = null;
								self.referencia = null;
								self.lat = null;
								self.lon = null;
								self.UbicacionDialog = false;
		            		}
		            	}
		                console.log('ocurrio un error intenta mas tarde');
		            }
		        });
	    	}else if(op=='2'){ //funcion para cuando se apreta el mapa y es eventual el delivery
	    		if(self.lat!=null){
	    			var data_map = {
				        origin: self.doomialiado.lat + "," + self.doomialiado.lon,
				        destination: self.lat + "," + self.lon,
				        optimizeWaypoints: true,
				        travelMode: 'DRIVING'
		        	};
		        	self.DSERU.route(data_map, function(response, status) {
			        	if (status === 'OK') {
			        		if(self.modalidad=='Delivery'){
			        			var point = response.routes[ 0 ].legs[ 0 ];
				        		var kmd = self.ran_min_km * 1000;
				        		if(point.distance.value>kmd){
				        			var dif = (point.distance.value - kmd)/1000;
				        			var tot_ext = dif*self.pre_del_ext;
				        			self.tot_del=self.pre_del_km+parseFloat(tot_ext.toFixed(2));
				        		}else{
				        			self.tot_del=self.pre_del_km;
				        		}
				        	}
			        		//console.log(response.request);
			        		self.DIRDISU.setDirections(response);
			        		var image = {url: "statics/images/map-verde.png",size: new google.maps.Size(81, 81),origin: new google.maps.Point(0, 0),anchor: new google.maps.Point(17, 34),scaledSize: new google.maps.Size(30, 30)};
			        		var image2 = {url: "statics/images/map-aqui-estoy.png",size: new google.maps.Size(81, 81),origin: new google.maps.Point(0, 0),anchor: new google.maps.Point(17, 34),scaledSize: new google.maps.Size(30, 30)};

							self.marker_n = new google.maps.Marker({
							 	position: {lat: parseFloat(response.request.origin.location.lat()), lng: parseFloat(response.request.origin.location.lng())},
							 	icon: image
							});
							self.marker_n2 = new google.maps.Marker({
							 	position: {lat: parseFloat(response.request.destination.location.lat()), lng: parseFloat(response.request.destination.location.lng())},
							 	icon: image2
							});
							self.verleyendadelevery = true;
							self.marker_n.setMap(map);self.marker_n2.setMap(map);
			            } else {
			            	if(status === 'ZERO_RESULTS')
		            			swal.fire('Oops...','Google maps no puede establecer una ruta con tu destino, intente con otra ruta','error');

			                console.log('ocurrio un error intenta mas tarde');
			            }
			        });
	    		}
	    		google.maps.event.addListener(map, 'click', function(event) {
					var data_map = {
			            origin: self.doomialiado.lat + "," + self.doomialiado.lon,
			            destination: event.latLng.lat() + "," + event.latLng.lng(),
			            optimizeWaypoints: true,
			            travelMode: 'DRIVING'
	        		};
	        		self.DSERU.route(data_map, function(response, status) {
	        			if (status === 'OK') {
	        				var point = response.routes[ 0 ].legs[ 0 ];
			        		var kmd = self.ran_min_km * 1000;
			        		if(point.distance.value>kmd){
			        			var dif = (point.distance.value - kmd)/1000;
			        			var tot_ext = dif*self.pre_del_ext;
			        			self.tot_del=self.pre_del_km+parseFloat(tot_ext.toFixed(2));
			        		}else{
			        			self.tot_del=self.pre_del_km;
			        		}
			        		self.DIRDISU.setDirections(response);
			        		var image = {url: "statics/images/map-verde.png",size: new google.maps.Size(81, 81),origin: new google.maps.Point(0, 0),anchor: new google.maps.Point(17, 34),scaledSize: new google.maps.Size(30, 30)};
			        		var image2 = {url: "statics/images/map-aqui-estoy.png",size: new google.maps.Size(81, 81),origin: new google.maps.Point(0, 0),anchor: new google.maps.Point(17, 34),scaledSize: new google.maps.Size(30, 30)};
							if(self.marker_n!=null)
								self.marker_n.setMap(null);
							if(self.marker_n2!=null)
								self.marker_n2.setMap(null);
							self.marker_n = new google.maps.Marker({
							 	position: {lat: parseFloat(response.request.origin.location.lat()), lng: parseFloat(response.request.origin.location.lng())},
							 	icon: image
							});

							self.marker_n2 = new google.maps.Marker({
							 	position: {lat: parseFloat(response.request.destination.location.lat()), lng: parseFloat(response.request.destination.location.lng())},
							 	icon: image2
							});

							self.verleyendadelevery = true;
			        		self.marker_n.setMap(map);self.marker_n2.setMap(map);
			            } else {
			            	if(status === 'ZERO_RESULTS')
		            			swal.fire('Oops...','Google maps no puede establecer una ruta con tu destino, intente con otra ruta','error');
			                console.log('ocurrio un error intenta mas tarde');
			            }
			        });
					self.lat = event.latLng.lat();
					self.lon = event.latLng.lng();
				});
	    	}

        }, 150);
	},

	clickProcesar(){

		if(!this.$auth.autenticado()){
			this.botonProcesar = false;
			this.$store.dispatch('swalInfo', {
				text: 'Debes iniciar sesión para procesar el pedido',
				confirmButtonText: 'Iniciar Sesión'
			}).then(res => {
				if(res.isConfirmed){ this.$router.push('Iniciodesesion') }
			});
			return;
		}

		if(!this.modalidad || !(this.modoDelivery || this.modoPickup || this.modoReservacion))
			return this.notificar('Selecciona una modalidad');
		if(this.modalidad=='Programado' && (!this.proxyTime || !this.proxyDate))
			return this.notificar('Selecciona la fecha y hora para programar el pedido');
		if(this.modalidad=='Delivery' && (!this.lat || !this.ubicacion))
			return this.notificar('Ingresa y selecciona la ubicación donde deseas el pedido');

		var data_enviar = {
			modalidad: this.modalidad
		};

		if(this.modalidad=='Programado'){
			data_enviar.fecha_p = this.proxyDate;
			data_enviar.hora_p = this.proxyTime;
		}
		if(this.modalidad=='Delivery'){
			data_enviar.dir = this.ubicacion;
			data_enviar.ref = this.referencia;
			data_enviar.lat = this.lat;
			data_enviar.lon = this.lon;
			data_enviar.precio_del = this.tot_del;
		}
		// if(!this.ubicacion || !this.lat_dir){
		// 	return this.$store.dispatch('swalInfo', {text:'Selecciona una ubicación'});
		// }
		this.botonDisabled = true;
		this.$store.dispatch('carrito/checkout', data_enviar)
			.then(r => {
				this.botonProcesar = false;
				if(r.errr){
					swal.fire('Oops...',r.msj,'error');
				}else{
					this.tot_del= 0;
					this.pre_del_km= 0;
					this.pre_del_ext= 0;
					swal.fire({
						text: r,
						icon: 'success',
						showCancelButton: true,
						cancelButtonText: 'Cerrar',
						confirmButtonText: 'Ver ordenes',
						showClass: {popup: 'animate__animated animate__fadeIn'},
						hideClass: {popup: 'animate__animated animate__fadeOut'},
					}).then(res => { if(res.isConfirmed) this.$router.push('Misordenes') });
				}

			})
			.catch(this.notificar);
	},
	*/
	atras(){
		this.$router.back();
	},

	notificar(text){
		return this.$store.dispatch('swalInfo', {text});
	},
},


};
</script>

<style type="text/css">
	#tabla-totales {
		font-size: 13px;
		text-align: right;
		margin-left: auto; margin-right: 0;
	}

	#table-totales td,th {
		min-width: 70px;
	}

	#tabla-totales td:last-child {
		width: 80px;
		font-weight: bold;
	}
	.swal2-container{
		z-index: 999999;
	}
</style>
