<template>
<div  class="blue cont_home fuente " >
	<div >
		<div class="text-center">

		<div style="z-index:5" class="row absolute-top q-mt-md w-100  text-center q-mt-md q-mb-md flex content-between item-center ">
			<div class="col-2">

			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header-repartidor " >Pedido N° {{ pedido.id }}</p>
			</div>
			<div class="col-2">

			</div>
		</div>

			<GoogleMapRepartidor style="height: 68vh;overflow:hidden " :setDirection="direccion" @hook:mounted="cargarDireccion" />


		</div>
		<div style="height:32vh" class=" w-100  flex item-center bg-white">
		<div class="row w-100 q-pa-md text-white rounded-1 box-shadow-1 ">
			<div class="col-2 flex item-center row">
					<div class="col-12 text-center  ">
						<img class="circle" height="50px" width="50px" :src=" cliente.foto || 'statics/images/user.png'" >
					</div>
			</div>
			<div class="col-9 row">
				 <div class="col-12 q-ml-sm row ">
					<div class="col-9">
						<p class="text-black mb-0 " >Entrega</p>
						<p class="text-black mb-0 font-lg bold limitar-texto-pedido ">{{ cliente.nombre }} {{ cliente.apellido }}</p>
					</div>
					<div style="height:25px" class="col-3  text-center   ">
							<q-btn type="a" :href="'tel:+'+cliente.telefono" class="bg-grey-light text-black soft-border q-mt-md " icon="phone" size="sm"></q-btn>
					</div>
				</div>
				 <div class="col-12 q-mt-md q-ml-sm ">
					<p class="text-black mb-0 font-lg "  >{{ pedido.direccion }}</p>
				</div>
			</div>

			<div class="col-12 flex flex-center q-mt-lg  ">
			   <q-btn @click="clickEntregar" class="rounded w-100 cl_standar " label="Entregar" ></q-btn>
		    </div>

		</div>

		<!-- <div class="col-12 flex flex-center">
			<q-btn @click="clickEntregar" color="primary" class="rounded w-70 " label="Entregar" ></q-btn>
		</div> -->

		<!-- Modal entrega -->
		<q-dialog v-model="entregar" persistent>
		<q-card class="w-100  " >

			<q-card-section class="q-pt-none">
			<div class="row">

				<div  @click="clickAyuda" class="col-12 flex content-left ">
                    <div style="position:relative" class=" bg-img-ayuda ">
					  <q-btn flat style="position:absolute;top:5px;right:0" class="mb-0 clr_light_pink font-lg fas fa-question-circle" ></q-btn>
                    </div>
				</div>

			  <div class="col-12 text-center  ">
				<img class="w-50" src="statics\images\doomi-arrodillado.jpg" >
			   </div>

			 <div class="col-12 text-center q-pl-md q-pr-md ">
				 <p class="font-xl  bold "  >Recuerda pedirle al cliente que acepte la entrega</p>
			 </div>

			</div>
			</q-card-section>

		</q-card>
		</q-dialog>
		</div>
	</div>


	<!-- <div v-else class="text-white" style="margin-top: 100px;">
		<center><b><i>Cargando...</i></b></center>
	</div> -->
</div>
</template>

<script>

import GoogleMapRepartidor from 'components/GoogleMap'
import Swal from 'sweetalert2'

export default {

components: {GoogleMapRepartidor},

data () {
	return {
		entregar: false,
	// 	dialogMapa: false,
		direccion: null,
		pedido: {},
		cliente: {},
		idPedido: null,
  };
},


created(){
	// this.$q.loading.show();

	// this.idPedido = this.$route.params.id;
	this.idPedido = this.$store.getters['repartidor/pedido_actual']

	this.$api.general.recuperarDataPorId('/pedidos/repartidor', this.idPedido)
		.then(resp => {
			this.$q.loading.hide();
			this.pedido = resp;
			this.cliente = resp.cliente;
		});

		this.$api.general.recuperarData('/configuracion').then(conf => { this.configuracion = conf });

},

watch: {
	pedido(val){
		if(this.pedido.id) {
			this.cargarDireccion();
		}
	},
},

methods: {

	clickAyuda(){
		if(this.configuracion.whatsapp_soporte){
			window.open('https://wa.me/'+this.configuracion.whatsapp_soporte);
		}
	},


	clickEntregar(){
		this.$store.dispatch('repartidor/entregar_pedido').then(r => {
			this.entregar = true;
			// setTimeout (() => this.$router.push({ path:'/Pedidos' }) , 4000 );
		});
	},

	clickLlamarCliente(){ console.log('Llamando a:', this.cliente.telefono) },

	async cargarDireccion(){
		this.direccion = null;
		let data_r = await this.$api.repartidor.recuperarDatos();
		var lat_rep = null;
		var lon_rep = null;
		var img_rep = "statics/images/map-repartidor.png";
		if(this.pedido.repartidor){
			lat_rep = data_r.lat;
			lon_rep = data_r.lon;
			img_rep = "statics/images/transporte/"+data_r.vehiculo[0].icono_veh;
		}
		let direccion = {
			destination: {
				lat: this.pedido.lat_dir_p,
				lon: this.pedido.lon_dir_p
			},
			origin: {
				lat: this.pedido.doomi_lat,
				lon: this.pedido.doomi_lon
			},
			repartidor: {
				lat: lat_rep,
				lon: lon_rep,
				imgrep: img_rep
			},
			sts: this.pedido.id_estatus
		};
		await new Promise((resolve) => {setTimeout(() => resolve(), 1000)});

		this.direccion = direccion;
	},
},


};
</script>

<style>
.my-table-details {
	font-size: 0.85em;
	font-style: italic;
	max-width: 200px;
	white-space: normal;
	color:white;
	margin-top: 4px;
}
</style>
