<template>
	<div id="Pedidos fuente">
		<div  class="blue cont_home" >
			<div class="q-pa-sm q-gutter-sm ">

				<div  class="">
			<div class="flex item-center row text-white flex-start q-mt-sm">
				<div class="col-1" >
					<q-btn class="btn_back"  flat color="primary" icon="keyboard_arrow_left" label="" to="/Pedidos" />
				</div>

				<div class="col-11 text-center " >
					<h6 style="margin-top:0px;margin-bottom:0px;" class="titulo-header">RESULTADOS</h6>
				</div>


			</div>
		</div>



		<q-card
			flat bordered
			class="my-card degradado q-ml-sm q-mr-sm text-white rounded-1 row flex"
			v-for="pedido in busquedaPedidos" :key="pedido.id">

			<q-card-section horizontal class="item-center" >
				<q-card-section class="col-4 row">
					<div class="col-12 text-center ">
						<img class="circle" height="50px" width="50px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
					</div>
					<div class="col-12 text-center">
						<img class="circle" height="50px" width="50px" :src=" pedido.cliente.foto || 'statics/images/user.png'" >
					</div>
				</q-card-section>

				<q-card-section style="" class="p-0  col-8  ">
					<div class="text-caption text-white w-90 ">
						<div class="q-mb-xs q-mt-md ">
							<div class=" q-mt-sm q-mb-xs parrafos m-0"> <b>{{ pedido.doomi_nombre }}</b>
							</div>
						</div>

						<p class="m-0 nombre-doomi q-mt-md q-mb-md " > <b> Destino: {{ pedido.direccion }}</b></p>
						<div class="text-right">
							<p class="m-0 parrafos-sm q-mb-md " >{{ $utils.timeAgo(pedido.creado) }}</p>
						</div>
						<div class="text-center q-mt-sm q-mb-sm ">
							<q-btn @click="clickVerMas(pedido)" label="Ver más" size="sm" class=" rounded cl_standar"></q-btn>
						</div>

					</div>
				</q-card-section>
			</q-card-section>
		</q-card>



			</div>
		</div>
	</div>
</template>

<script>


export default {
data(){
	return {}
},

methods: {
	clickVerMas(pedido){
		this.$router.push({
			path:'/Vermas1/' + pedido.id,
		});
	},
},

computed: {
	busquedaPedidos(){ return this.$store.getters['ordenes/busquedaPedidos'] },
},


};</script>
