<template>
	<div class="blue cont_home fuente ">

		<div class="text-center q-mt-md">
			<q-btn flat  color="primary" @click="atras()" class="btn-atras fa fa-angle-left fa-2x" />
			<h6 class="titulo-header m-0"> Formas de pago</h6>
		</div>

		<div class="row q-ma-md ">

			<div class="col-12">
                <label class="m-0 " for="">Seleccione tipo de cuenta</label>
           <q-select
			class="input soft-border "
            borderless
			emit-value
			map-options
			option-value="id"
			option-label="nombre"
			v-model="cuenta"
			:options="cuentas"
			option="Seleccione..."
             />
			</div>

		</div>

         <div class="row q-ma-md ">

			 <div class="col-12">
				 <label class="m-0" for="">Seleccione métodos de pago</label>
                <q-select
			class="input soft-border"
             borderless
			:disabled="!cuenta"
			emit-value
			map-options
			option-value="id_metodo"
			option-label="nombre"
			v-model="metodo"
			:options="metodos"
			option="Seleccione..."
			 />
			 </div>

		 </div>


		<div class="flex flex-center">
			<q-btn label="Aceptar" @click="clickAceptar" size="sm" class=" q-ma-md soft-border cl_standar" ></q-btn>
			<q-btn label="Cancelar" to="/Home" size="sm" class=" q-ma-md soft-border cl_standar"  ></q-btn>
		</div>
	</div>
</template>

<script>
export default {

props: {
	idDoomialiado: {validator: v => +v===+v},
	idPedido: {validator: v => +v===+v},
},

data () {
	return {
		idDoomi: this.idDoomialiado,
		cuenta: 'Cargando...',
		metodo: 'Seleccione una cuenta',
		metodos: null, //['Transferencia','Deposito','Pago móvil'],
		cuentas: null, //['Mercantil','Venezuela','Bicentenario','BBVA','Banesco'],
		doomialiado: null,
	};
},


created(){
	this.doomialiado = this.$store.getters['doomis/porId'](this.idDoomi);
	/*
	let ruta_cuentas, ruta_metodos;

	if(this.doomialiado.estatus) {
		ruta_cuentas = `/cuentas/?tipo_usu=cliente&id_res=${this.idDoomi}`;
		ruta_metodos = `/metodos_pagos/?tipo_usu=cliente&id_res=${this.idDoomi}`;
	}
	else{
		ruta_cuentas = '/cuentas/?tipo_usu=administrador';
		ruta_metodos = '/metodos_pagos/?tipo_usu=administrador';
	}
	*/
	this.$api.general.recuperarData(`/cuentas/app?id_res=${this.idDoomi}`)
		.then(data => {
			this.cuentas = data;
			this.cuenta = 'Seleccione';
		});

	// this.$api.general.recuperarData(ruta_metodos)
	// 	.then(data => this.metodos = data);
},


methods: {
	clickAceptar(){
		if(+this.cuenta && +this.metodo){ // Que ambos existan y sean numericos.
			this.$router.push({
				name: 'pago',
				params:{idCuenta:this.cuenta, idMetodo: this.metodo, idPedido:this.idPedido}
			});
		}

		else
			this.notificar('Seleccione una cuenta y un método de pago');
	},

	notificar(text){
		swal.fire({
			text,
			icon: 'info',
			showClass: { popup: 'animate__animated animate__fadeIn'},
			hideClass: {popup: 'animate__animated animate__fadeOut'}
		});
	},

	atras(){ this.$router.push({name:'Misordenes'}) },
},

watch: {
	cuenta(id_cuenta){
		if(!this.$utils.esNumerico(id_cuenta))
			return;
		// let cuenta = this.cuentas.filter(c => c.id==1).pop();
		this.$api.general.recuperarDataPorId('/cuentas/', id_cuenta)
			.then(cuenta => {
				this.metodos = cuenta.metodos;
			});
	},
},

};</script>
