<template>
	<div class="blue cont_home fuente">
		<div class="row">
			<div class="col-12 pr-3 pl-3">
				<q-select
					use-input
					v-model="text"
					hide-selected
					fill-input
					borderless
					input-debounce="0"
					:options="options"
					@filter="filterFn"
					hide-dropdown-icon
					option-value="id"
					option-label="nombre"
					class="input input-search mt-2 rounded "
					style="width: 100%;"
					@input="buscardomi"
					:loading="loading"
					behavior="menu"
					placeholder="Buscar doomialiado"
				>
					<template v-slot:selected>
					  {{ all_domi.nombre }}
					</template>
					<template v-slot:prepend>
					  <q-icon name="search" />
					</template>
					<template v-slot:no-option>
					  <q-item>
						<q-item-section class="text-grey">
						  Sin resultados
						</q-item-section>
					  </q-item>
					</template>
				</q-select>
			</div>

			<q-scroll-area horizontal style="height:50px;" :visible="true" class=" bg_blue w-100 font-md no-capitalize rounded-borders q-mb-sm q-mt-sm">
				<div class="w-100">
				 <filter-tags :tags="categorias" />
				</div>

			</q-scroll-area>

		</div>

		<div  class="flex flex-center">
			<h6 class="w-100 text-center titulo-header q-mb-md " style="margin-top:0px;margin-bottom:10px;color:white;"   >{{this.txt_tit}}</h6>
		</div>

		<div class="row q-ml-lg q-mr-lg " v-if="mostrarLoader" >
				<div class="col-4 q-pa-md col-sm-3 text-center"
					v-for="n in 9"
					:key="n"
					>
					<q-card  flat style="width:100%" class="text-center flex flex-center">
						<q-skeleton class="rounded-1" height="80px" width="80px" square />
					</q-card>
					<q-card-section class="p-0 flex flex-center " >
						<q-skeleton type="text" class="text-subtitle1 w-100 " />
						<q-skeleton type="text" class="text-subtitle1  w-80 " />
					</q-card-section>


				</div>
		</div>

		<div style="max-width: 100%;" v-if="ver_abiertos" >

			<div class="row q-ml-lg q-mr-lg " v-if="domi && domi.length > 0">
				<div class="col-4 col-sm-3 text-center"
					v-for="doomi in domi"
					:key="doomi.id"
					@click=" verMas(doomi)">

					<img :src="doomi.img || 'statics/images/logo.png'" style="background-color: #FFF" class=" shadow-1 img-xs rounded-1" alt="">
					<p class="text-center capitalize m-0 font-m nombre-doomi" ><b>{{ doomi.nombre }}</b></p>

					<div class="">
						<p class="text-center capitalize m-0 elipses nombre-cat" ><span >{{ doomi.nombre_cat || doomi.categoria.nombre }}</span></p>
					</div>

					<p class="text-center clr_white m-0" ></p>
				</div>
			</div>

			<div v-else class=" col-12 rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<center><b><i>No hay doomialiados que mostrar</i></b></center>
			</div>
		</div>

		<div class="row q-pl-md q-pr-md q-ml-md q-mr-md " v-if="ver_abiertos && ver_cerrados">
			<div class="col-12 bg_cont text-center q-mb-md q-pt-sm q-pb-sm clr_light_pink" style="border-radius: .5rem;">
				<p class="m-0 font-xl"> Negocios cerrados/no disponibles.</p>
			</div>
		</div>

		<div v-if="ver_cerrados">
			<div class="row q-ml-lg q-mr-lg " v-if="domi_ce && domi_ce.length > 0">
				<div class="col-4 text-center no-disponible"
					v-for="doomi in domi_ce"
					:key="doomi.id"
					@click=" verMas(doomi)">

					<img :src="doomi.img || 'statics/images/logo.png'" style="background-color: #FFF" class=" shadow-1 img-xs rounded-1" alt="">
					<p class="text-center text-grey capitalize m-0 font-m nombre-doomi " style="text-transform: uppercase;"> <b> {{ doomi.nombre }} </b>  </p>
					<div class="">
						<p class="text-center m-0 elipses nombre-cat" ><span style="text-transform: uppercase;">
			  {{ doomi.nombre_cat || doomi.categoria.nombre  }}
			</span></p>
					</div>
					<p class="text-center clr_white m-0" ></p>
				</div>
			</div>

			<div v-else style="height:40px:width:100%" class=" col-12 rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<center><b><i>No hay doomialiados que mostrar</i></b></center>
			</div>
		</div>
						<!-- <div class="">
						<div class=" fixed_footer w-100 flex content-around item-center text-center ">

							<q-btn push class="rounded cl_standar"  round icon="home" />

							<q-btn push class="rounded cl_standar"    round icon="map" />

							<q-btn push class="rounded cl_standar"    round icon="favorite" />

							<q-btn push class="rounded cl_standar "   round icon="notifications" />

					   </div>
						</div> -->

		<!-- boton doomi flotante -->


				<div class="btn-doomi " v-if="ver_casco" @click="verPendientes()">
					<div class="badge-doomi">
						{{this.cantidad_casco}}
					</div>
				  <q-img src="statics/images/logo-icon.png" width="40px" height="40px" ></q-img>
				</div>


		<!-- fin boton doomi flotante -->

	<q-dialog v-model="confirmar_reintento" persistent>
			<q-card style="padding-left:20px;padding-right:20px" class="bg_blue fuente ">
				<q-card-section  class="row " >

					<div class="text-center col-12 fuente">
						<q-avatar icon="warning" class="clr_orange"   style="text-align:center;font-size:130px" />
					</div>

				   <div class="flex flex-center col-12">
					   <p style="color: #545454;font-size: 1.125em;font-weight: 400;" class="" >La información está <br> tardando en llegar</p>
				   </div>

				   <div class="text-center w-100 q-mb-md ">
					<q-btn push  @click="$router.go(0)" v-close-popup size=md class="rounded cl_standar fuente w-90 q-mt-md " label="Reintentar"  />
					<!--
					<q-btn push v-close-popup class="rounded btn-border-black cl_standar fuente w-90 q-mt-md q-mb-md " size="md" label="Cerrar"  />
					-->
				   </div>

				</q-card-section>

			</q-card>
		</q-dialog>

	<!-- <q-dialog v-model="confirmar_reintento" persistent>
	  <q-card>
		<q-card-section>
		  <div class="text-h6">La información está<br> tardando en llegar</div>
		</q-card-section>

		<q-card-section class="q-pt-none">
		  Click/Tap on the backdrop.
		</q-card-section>

		<q-card-actions align="right">
		  <q-btn flat label="Cerrar" color="primary" v-close-popup />
		  <q-btn flat label="Reintentar" @click="$router.go(0)" color="primary" v-close-popup />
		</q-card-actions>
	  </q-card>
	</q-dialog> -->
  <img src="statics/images/logo.png" style="display: none;">
	</div>
</template>

<script>
	import { mapGetters } from 'vuex'
	import FilterTags from 'components/FilterTags'
	import Vue from 'vue';
	import {Quasar,QSelect} from 'quasar';

	export default {
	name: 'Home',

	components: {
		FilterTags,
		QSelect,
	},


	data() {
		return {
			estatus_contados_en_casco: [3, 5, 6, 7, 8, 10, 12, 97],
			ver_casco: false,
			cantidad_casco: 0,
			lat_user: 0,
			lon_user: 0,
			fav1: 0,
			fav2: 0,
			fav3: 0,
			fav4: 0,
			// ver_abiertos: false,
			// ver_cerrados: false,
			estado: true,
			Comidas: null,
			Licores: null,
			Postres: null,
			Otras: null,
			text: null,
			//all_domi: [],
			options: this.all_domi,
			loading: false,
			// domi: [],
			// domi_ce: [],
			iden: 0,
			// txt_tit: '',
			loader: true,
			confirmar_reintento: false,
			conteo_hasta_reintentar: 10000,//ms
			id_timeout_reintentar: null,
		};
	},
	async created () {

		/******AL DAR CLICK PARA ATRAS QUEDE EN LA MISMA VENTANA********/
		/*if(rutaactual=='/Home/' || rutaactual=='/Home'){
			history.pushState(null, null, location.href);
			history.back();
			history.forward();
			window.onpopstate = function () { history.go(1); };
		}
		/******FIN AL DAR CLICK PARA ATRAS QUEDE EN LA MISMA VENTANA********/

		//this.$q.loading.show();
		await this.$api.general.geo().then(ubicacionActual => {
			this.lat_user = ubicacionActual.lat;
			this.lon_user = ubicacionActual.lon;
			this.cargarRestaurantes();
			//this.$q.loading.hide();
		})
		.catch(err => {
			console.log(err);
			//this.$q.loading.hide();
			// this.ver_cerrados = true; this.ver_abiertos = true;
			//location.reload();
		});
		if(this.$auth.obtenerTipoUsuario() == 'cliente'){
			let self = this;
			setTimeout(function(){
				let datos_cli = self.$auth.obtenerDatos();
				if(!datos_cli.nombre || !datos_cli.apellido)
					self.$router.push({ path:'/profile' })
			}, 3000);

			this.$api.general.recuperarData('/pedidos/conteo_pedidos_por_tab')
				.then(data => {
					let cantidad = 0;
					for (let count of data) {
						if (this.estatus_contados_en_casco.includes(parseInt(count.id_estatus,10))) {
							cantidad += +count.count;
						}
					}
					this.cantidad_casco = cantidad;
					this.ver_casco = cantidad;
				})
			// await this.$api.general.recuperarData('/pedidos/').then(data => {
			// 	// var all_ped = data.filter(o => o.id_estatus != 11 && o.id_estatus != 98 && o.id_estatus != 99);
			// 	var all_ped = data.filter(o => [3, 6, 7, 8, 10, 11, 97].includes(parseInt(o.id_estatus, 10)));
			// 	if(all_ped.length>0){
			// 		this.cantidad_casco = all_ped.length;
			// 		this.ver_casco = true;
			// 	}
			// });
		}

		//const data_user = this.$api.cliente.obtenerDatos();
	},
	methods: {
		async cargarRestaurantes(){
			// this.iniciarConteoReintentar();
			if(this.$route.params.id)
				this.iden = this.$route.params.id;

			if (this.domi?.length || this.domi_ce?.length){
				this.loader = false;
			}

			if (this.$store.getters['doomis/cargando']) {
				this.iniciarConteoReintentar();
			}

			switch (this.iden) {
				case '-1': //TODOS
				return this.$router.push({ path:'/Vertodos' });

				// case '-2'://ABIERTOS
				// 	this.ver_cerrados = false;
				// 	this.ver_abiertos = true;
				// 	return;

				// case '-3'://CERRADOS
				// 	this.ver_cerrados = true;
				// 	this.ver_abiertos = false;
				// 	return;
			}

			// this.ver_abiertos = this.ver_cerrados = true;


		},
		Agregar(){
			this.$q.notify({
				message: 'Agregado a mis favoritos',
				color: 'purple',
				textColor: 'white',
				icon: 'done_all',
				color: 'cyan-4',
			})
		},
		Eliminar(){
			this.$q.notify({
				message: 'Eliminado de mis favoritos',
				color: 'green-4',
				textColor: 'white',
				icon: 'done_all',
				color: 'cyan-4',
			})
		},
		Estado(){
			this.estado = !this.estado
		},
		verMas(doomi){
			this.$router.push({ path:'/Menudoomialiadohome/'+doomi.id, params: {id:doomi.id} })
		},
		Vertodo(){
			this.$router.push({ path:'/Vertodos' })
		},
		verPendientes(){
			this.$router.push({ path:'/Misordenes/_' })
		},
		buscardomi(){
			this.loading=true;
			this.$router.push({ path:'/Menudoomialiadohome/'+this.text.id, params: {id:this.text.id} })
		},
		filterFn (val, update, abort) {
			if (val.length < 3) {
				abort()
				return
			}
			update(() => {
				const needle = val.toLowerCase()
				this.options = this.all_domi.filter(v => v.nombre.toLowerCase().indexOf(needle) > -1 || v.subcategorias_menu.toLowerCase().indexOf(needle) > -1 || v.categoria.nombre.toLowerCase().indexOf(needle) > -1)
			})
		},

		iniciarConteoReintentar() {
			this.id_timeout_reintentar = setTimeout(() => {
				this.confirmar_reintento = true;
			}, this.conteo_hasta_reintentar);
		},
		pararConteoReintentar() {
			clearTimeout(this.id_timeout_reintentar);
		},

	},

	watch: {
		cargando_doomis(v) {
			if (!v) {
				this.pararConteoReintentar();
				this.confirmar_reintento = false;
			}
		},

	},

	computed: {
		...mapGetters({
			categorias: 'doomis/categorias',
			domi: 'doomis/abiertos',
			domi_ce: 'doomis/cerrados',
			all_domi: 'doomis/todos',
			cargando_doomis: 'doomis/cargando',
		}),

		txt_tit() {
			if (this.iden == '-2')
				return 'ABIERTOS';

			if (this.iden == '-3')
				return 'CERRADOS';

			return '';
		},

		mostrarLoader() {
			return !this.domi?.length  &&
				!this.domi_ce?.length  &&
				// this.loader &&
				this.$store.getters['doomis/cargando'];
		},

		ver_abiertos() {
			if (this.iden == '-2') {
				return true;
			}
			if (this.iden == '-3' || this.mostrarLoader) {
				return false;
			}
			return true;
		},
		ver_cerrados() {
			if (this.iden == '-2') {
				return false;
			}
			if (this.iden == '-3' || this.mostrarLoader) {
				return true;
			}
			return true;
		},
	},


	};
</script>
