<template>
	<div id="Iniciodesesion" class="fuente bg_white " style="overflow: scroll !important;">

		 <div class="row text-center q-mt-lg q-mb-lg flex content-between item-center ">
			<div class="col-2">
				<q-img @click="atras()" class="q-ml-md" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header " ></p>
				</div>
			<div class="col-2">

			</div>
		</div>

		<div style="height: 20vh" >

		</div>

		<div class="q-mt-md">
			<!-- <div class="ml-xs">
				<label>Correo</label>
			</div> -->

			<div class="flex flex-center">
				<q-input  v-model="email" :dense="true" class=" w-80 font-lg bold "  type="email" label="Correo electrónico "  :rules="[this.$utils.verificarCorreo]" >
					 <template v-slot:prepend>
						<q-icon name="local_post_office" />
					</template>
				</q-input>
			</div>
		</div>

		<div class="q-mt-md">
			<!-- <div  class="ml-xs">
				<label>Contraseña</label>
			</div> -->

			<div class="flex flex-center">
				<q-input  v-model="password" :dense="true" class=" w-80 q-mt-md font-lg " :type="isPwd ? 'password' : 'text'" label="Contraseña" >
				<template v-slot:append>
				<q-icon
					:name="isPwd ? 'visibility_off' : 'visibility'"
					class="cursor-pointer"
					@click="isPwd = !isPwd"
				/>
				</template>
				</q-input>
			</div>
		</div>

		<div class="flex flex-center q-mt-sm mb-20vh ">
			<div class="w-80 flex item-center content-between ">
				<q-checkbox color="black" class="font-lg " v-model="recordarme" label="Recordarme" />
				<!-- <div style="width: 117px;"></div> -->

				<q-btn flat to="/Recuperarcontraseña" size="md" label="" class="p-0 clr_light_pink font-lg bold " type="Guardar" >Olvide contraseña</q-btn>
			</div>
		</div>


		<div class=" text-center flex flex-center q-mt-md" v-if="msjError">
			<p class="m-0"  style="color:red;">{{ msjError }}</p>
		</div>

		<div class="btn-fixed-end-double q-mb-lg row ">

		<div class=" col-12 q-mb-lg flex flex-center q-mt-md" >
			<q-btn size="md" :disabled="buttonDisabled" @click="login" label="Iniciar sesión" type="Guardar" class="w-80 rounded font-lg bold cl_standar"/>
		</div>

		<br />
		<div class="flex col-12 q-mb-xl flex-center ">
			<q-btn to="/Registro" size="md" label="Registrarme" class="w-80 rounded btn-border-pink font-lg bold " type="Guardar"/>
		</div>

		</div>

		<!-- <div class="flex flex-center q-ma-sm">
			<q-btn flat to="/registroRepartidor" size="md" label="Registrarse como Repartidor" class="p-0" type="Guardar"/>
		</div> -->


		<!-- USUARIOS RECORDADOS -->
		<q-dialog v-model="dialogUsers" full-width persistent>
			<q-card>
				<q-card-section class="row items-center q-pb-none">
					<div class="font-xl">Acceder cómo...</div>
					<q-space />
					<q-btn icon="close" flat round dense v-close-popup />
				</q-card-section>

				<q-card-section>
					<q-list>

					<div v-for="user in users" :key="user.iden" @click="accederComo(user)">
						<q-item clickable >
							<q-btn class="on-left" icon="delete_outline" flat round dense
								@click.stop="confirmDialog={show:true, user}" />
							<q-space />
							<q-item-section avatar>
								<q-avatar>
									<q-img :src="user.foto || foto_default" heigth="50px" width="50px" class="circle img-user" ></q-img>
								</q-avatar>
							</q-item-section>

							<q-item-section>
								<q-item-label class="font-xl">
									{{ user.nombre||'' + ' ' + user.apellido||'' }}
								</q-item-label>
								<q-item-label class="font-xl" >{{ user.correo }}</q-item-label>
							</q-item-section>
						</q-item>
						<q-separator color="black" />
					</div>

					</q-list>
				</q-card-section>
			</q-card>
		</q-dialog>


		<q-dialog v-model="confirmDialog.show" persistent transition-show="scale" transition-hide="scale">
			<q-card style="width: 300px">
				<q-card-section>
					<div class="text-h6">¿Olvidar usuario?</div>
				</q-card-section>

				<q-card-actions align="right">
					<q-btn class="text-h6" flat label="Sí" v-close-popup @click="olvidar(confirmDialog.user)"/>
					<q-btn class="text-h6" flat label="No" v-close-popup />
				</q-card-actions>
			</q-card>
		</q-dialog>


	</div>
</template>


<script>
import DialogCarritoNoLogueado from 'components/DialogCarritoNoLogueado'

export default {

components: { DialogCarritoNoLogueado },

data () {
	return {
		dialogUsers: false,
		confirmDialog: {show:false, user:null},
		recordarme: false,
		msjError: false,
		buttonDisabled: false,
		password: '',
		isPwd: true,
		email: '',
		foto_default: 'statics/images/user.png',
		users: [],
	}
},

mounted(){
	this.cargarUsuarios();
},

methods: {
	async _processLogin(res){
		this.$store.dispatch('carrito/subir')
		.then(() => this.$router.push('/Carrito'))
		.catch(res => {
			if(res.status == 409) { //Conflicto
				const doomiRemoto = res.data.id_restaurante_actual;
				const doomiLocal = this.$store.getters['carrito/idDoomialiadoActual'];
				const mismoDoomi = doomiLocal == doomiRemoto;
				this.$router.push('/Carrito');
				this.$q.dialog({
					component: DialogCarritoNoLogueado,
					texto: 'Con el usuario que acabas de ingresar, tienes un pedido pendiente de '+
						(mismoDoomi ? 'este' : 'otro') + ' doomialiado. ¿Qué deseas hacer?',
				})
				.onOk(() => {
					this.$store.dispatch('carrito/vaciar', false).then(() => this.$store.dispatch('carrito/subir'));
				})
				.onCancel(() => {
					this.$store.commit('carrito/VACIAR');
					this.$store.commit('carrito/VACIAR_TOTALES');
					this.$store.commit('carrito/SET_CARRITO_NO_LOGUEADO', false);
					this.$store.dispatch('carrito/actualizar');
				});
			}
		});

		if(res.activado == 0)
			this.$store.dispatch('swalInfo', {text: 'No olvide revisar su correo para confirmar su cuenta'});

		const tipoUsuario = this.$auth.obtenerTipoUsuario();

		if(tipoUsuario=='repartidor'){
			this.$store.dispatch('repartidor/reset_state');
			if(!res.aprobado){
				this.$store.dispatch('swalInfo', 'Su cuenta no ha sido verificada por el administrador');
			}
			if(res.pedido_actual){
				await this.$store.dispatch('repartidor/set_pedido_actual', res.pedido_actual);
			}
			this.$store.dispatch('iniciarsetinterval');
			this.$router.push({ name:'Pedidos' })
		}
		else if(tipoUsuario=='cliente'){
			this.$router.push({ path:'/Home' })
		}
		else { this.$router.push({ path:'/' }) }
	},

	login(){
		this.buttonDisabled = true;
		this.msjError = false;
		this.$auth.autenticar(this.email, this.password, this.recordarme)
			.then(this._processLogin)
			.catch(this._errLogin);
	},

	accederComo(user){
		this.dialogUsers = false;
		this.$auth.recordar(user)
			.then(this._processLogin)
			.catch(this._errLogin);
	},

	olvidar(user){
		this.dialogUsers = false;

		this.$auth.olvidarUsuario(user);
		this.cargarUsuarios();
	},

	_errLogin(err){
		this.msjError = err.msj || 'Error al iniciar sesión';
		this.buttonDisabled = false;
	},

	cargarUsuarios(){
		this.users = this.$auth.recordarUsuarios();
		if(this.users && this.users.length > 0)
			this.dialogUsers = true;
		else
			this.dialogUsers = false;
	},

	atras(){
		// this.$router.go(-1)
		this.$router.push({ path:'/Home' });
	},

},


};</script>
