<template>
  <div class="q-pb-md fuente bg-white vh100  ">

    <div
      class="row text-center q-mt-lg q-mb-lg flex content-between item-center ">
      <div class="col-2">
        <q-img @click="atras()" src="statics\Iconos\Icono_Atras.png"
          width="20px" height="30px"></q-img>
        <!-- <q-btn  flat color="primary" class="btn_back" icon="keyboard_arrow_left" label="" @click="atras()" /> -->
      </div>
      <div class="col-8">
        <p class="mb-0 titulo-header  ">Detalles del producto</p>
      </div>
      <div class="col-2">
      </div>
    </div>


    <div
      class="row flex content-between item-center q-pl-lg q-pr-lg ">

      <q-img :src=" producto.img || 'statics/images/logo.png'"
        width="50%" class="bg-white img-doomi" />

      <div class="text-center q-mr-xl ">
        <q-btn icon="add" size="md" :disabled="!producto.existencias"
          @click="cambiarCantidad(+1)" round
          class=" btn-black rounded circle "></q-btn>
        <p class="q-mt-sm q-mb-sm parrafos">{{cantidad}}</p>
        <q-btn icon="remove" :disabled="!producto.existencias"
          @click="cambiarCantidad(-1)" size="md" round
          class="btn-black rounded circle "></q-btn>
      </div>

      <div class="col-12 ">
        <h6 class="m-0 font-xl bold">{{ producto.nombre }}</h6>
      </div>

      <div class="col-12 q-mb-sm ">
        <p class="text-justify m-0 text-categoria font-xl ">
          {{ producto.descripcion }}</p>
        <!-- <span class="m-0 nombre-cat">{{ producto.categoria.nombre }}</span> -->
      </div>

      <!-- <div class="col-4 text-center">
				<h5 class="m-0">{{ precio(producto.precio_usd) }}</h5>
			</div> -->
    </div>

    <q-separator color="grey" class="q-mb-xs"></q-separator>

    <div class="row q-pl-sm q-pr-sm mb-10vh items-start">
      <!-- <LISTA-ADICIONALES> -->
      <div
        v-if="ready && producto.adicionales && producto.adicionales.length > 0"
        class="col-12 text-center " style="text-align: center;">

        <div>
          <h6 class="m-0 text-center font-xl bold subrayado m-0">
            Adicionales + </h6>

          <div class="row q-mt-md "
            v-for="adi in producto.adicionales" :key="adi.id"
            v-if="adi.existencias>0">

            <div class="col-1 flex item-center flex item-center ">
              <q-checkbox @input="checkAdicional(adi)" color="black"
                v-model="adicionales[adi.id].checked" />
            </div>

            <div style="text-align:initial"
              class="col-5 flex item-center q-pl-md q-pr-md ">
              <p class="mb-0"> {{ adi.nombre }} </p>
            </div>

            <div class="col-4 flex item-center ">
              <q-btn icon="remove" :disabled="!producto.existencias"
                @click="cambiarCantidadAdicional(adi, -1)" size="sm"
                round class="btn-border-black rounded circle ">
              </q-btn>
              <p class="q-ml-sm q-mr-sm parrafos mb-0 ">
                {{ adicionales[adi.id].cantidad }}</p>
              <q-btn icon="add" size="sm"
                :disabled="!producto.existencias"
                @click="cambiarCantidadAdicional(adi, +1)" round
                class="btn-border-black rounded circle "></q-btn>
            </div>

            <div class="col-2  flex item-center flex-center ">
              <p class="mb-0 bold font-xl ">
                {{ precio( porcentaje(adi.precio_usd) ) }}</p>
            </div>

          </div>
        </div>
      </div>
      <!-- </LISTA-ADICIONALES> -->

      <!-- acompañantes -->
      <div
        v-if="ready && producto.acompañantes && producto.acompañantes.length > 0"
        class="col-12 text-center q-mt-md "
        style="text-align: center;">
        <div>
          <h6 class="m-0 text-center font-xl bold subrayado m-0">
            Acompañantes + </h6>

          <div class="row flex item-center q-mt-md"
            v-for="acom in producto.acompañantes" :key="acom.id"
            v-if="acom.existencias>0">
            <div class="col-1  flex item-center ">
              <q-checkbox @input="checkAcompañante(acom)" color="black"
                v-model="acompañantes[acom.id].checked" />
              <!-- <div class="w-70">
								<p class="mb-0 " >{{ acom.nombre }}</p>
							</div> -->
            </div>

            <div style="text-align:initial"
              class="col-5  flex item-center q-pl-md q-pr-md ">
              <p class="mb-0 font-m"> {{ acom.nombre }} </p>
            </div>

            <div class="col-4 flex item-center btn-extrasm ">
              <q-btn icon="remove" size="sm"
                @click="cambiarCantidadAcompañante(acom, -1)" round
                class="btn-border-black rounded circle "></q-btn>
              <p class="q-ml-sm q-mr-sm parrafos mb-0 ">
                {{ acompañantes[acom.id].cantidad }}</p>
              <q-btn icon="add" size="sm"
                @click="cambiarCantidadAcompañante(acom, +1)" round
                class="btn-border-black rounded circle  "></q-btn>
            </div>

            <div class="col-2  flex item-center flex-center ">
              <p class="mb-0 font-xl bold ">
                {{ precio( porcentaje(acom.precio_usd) ) }}</p>
            </div>
          </div>

        </div>
      </div>
      <!-- /acompañantes -->

      <div class="col-12 q-mt-md q-mb-lg ">
        <p class="mb-0 font-xl bold q-ml-xs ">Notas</p>
        <q-input v-model="nota"
          style="background-color:rgb(236, 236, 236)" type="textarea"
          autogrow borderless
          class="soft-border font-lg q-ml-xs q-mr-sm "
          placeholder="Aqui puedes escribir instrucciones especiales ejemplo: sin pitillos por fis..." />
      </div>

    </div>

    <div class="flex flex-center btn-detalle flex item-center  ">

      <div class="row w-100 q-ml-md q-mr-md ">
        <div class="col-12 flex item-center content-between ">
          <p class="mb-0 q-ml-sm text-grey font-md">Subtotal</p>
          <p class="mb-0 font_titulosxl q-mr-sm ">{{ subtotal }}</p>
        </div>
      </div>

      <q-btn @click="clickAgregar()" :disabled="btnAgregar"
        class="rounded cl_standar w-90 no-capitalize font-xl bold "
        label="Agregar al carrito" size="md" />
    </div>


  </div>
</template>


<script>

import { mapGetters } from 'vuex'

export default {

props: {
	id: {required: false, validator: v => +v===+v},
},

data () {
	return {
		idProducto: null,
		nota: '',
		cantidad: 1,
		adicionales: {}, // adicionales[index] = {cantidad, checked, precio_usd}
		acompañantes: {}, // acompañantes[index] = {cantidad, checked, precio_usd}
		desactivarAgregar: false,
		// subtotal: 0,
		ready: false,
	};
},


created(){
	if(!this.id && !this.$route.params.id)
		return this.$router.push({path: '/Home'});

	this.idProducto = this.id || this.$route.params.id;
},


mounted(){
	this.resetOpciones();
	this.ready = true;
},


methods: {
	porcentaje(precio_usd, porcentaje) {
		return this.$utils.addPercentage(precio_usd, porcentaje || this.producto.ganancia)
	},


	resetOpciones(){
		// let idAdicionales = [];

		// if(this.pedidoEnCarrito)
		// 	idAdicionales = this.pedidoEnCarrito.idAdicionales;

		for (let adi of this.producto.adicionales){
			// let estaSeleccionado = idAdicionales.includes(adi.id);
			// this.$set(this.adicionales, adi.id, false);
			this.$set(this.adicionales, adi.id, {cantidad:0, checked:false, precio_usd: adi.precio_usd});
		}

		for (let aco of this.producto.acompañantes){
			this.$set(this.acompañantes, aco.id, {cantidad:0, checked:false, precio_usd: aco.precio_usd});
		}

		// let pedido = this.$store.getters['carrito/pedidoPorId'](this.idProducto);

		// if(!this.pedidoEnCarrito)
		// 	this.cantidad = 0;
		// else
		// 	this.cantidad = this.pedidoEnCarrito.cantidad;

		this.cantidad = 1;
		this.nota = '';
	},

	checkAdicional(adi){
		this.adicionales[adi.id].cantidad = this.adicionales[adi.id].checked ? 1 : 0;
	},

	checkAcompañante(aco, val){
		// this.acompañantes[aco.id] = Boolean(val);
		this.acompañantes[aco.id].cantidad = this.acompañantes[aco.id].checked ? 1 : 0;
		// if(!this.pedido.idAcompañantes.includes(aco.id))
		// 	this.pedido.idAcompañantes.push(aco.id);
	},

	cambiarCantidad(cambio){
		if((this.cantidad+cambio >= 0) && (this.cantidad+cambio <= this.producto.existencias)){
			this.cantidad += cambio;
			// this.$store.dispatch('carrito/cambiarCantidadPedido', [this.idProducto, cambio]);
		}
	},

	cambiarCantidadAdicional(adi, cambio){
		let nuevo_valor = this.adicionales[adi.id].cantidad+cambio;
		if(nuevo_valor >= 0 && nuevo_valor <= adi.existencias)
			this.adicionales[adi.id].cantidad += cambio;
	},

	cambiarCantidadAcompañante(acom, cambio){
		let nuevo_valor = this.acompañantes[acom.id].cantidad+cambio;
		if(nuevo_valor >= 0 && nuevo_valor <= acom.existencias)
			this.acompañantes[acom.id].cantidad += cambio;
	},

	clickAgregar(){
		let pedido = {
			cantidad: this.cantidad,
			idProducto: this.idProducto,
			nota: this.nota,
			idAdicionales: Object.entries(this.adicionales).map(e => e[1] ? e[0] : null).filter(Boolean),
			acompañantes: this.acompañantes_checked.map(e => [e[0], e[1].cantidad]), // Pares [id, cantidad]
			adicionales: this.adicionales_checked.map(e => [e[0], e[1].cantidad]), // Pares [id, cantidad]
		};

		this.desactivarAgregar = true;
		this.$store.dispatch('carrito/agregar', pedido)
			.then(data => {
				this.desactivarAgregar = false;
				if(data.r > 0){
					this.resetOpciones();
					this.cantidad = 0;
					return this.$router.push({
						path: `/Menudoomialiadohome/${this.$store.getters['carrito/idDoomialiadoActual']}`
					})
					.then(data => {
						navigator.vibrate(1000);
						this.$q.notify({message:'Agregado al carrito', position:'top', icon: 'done_all',color: 'cyan-4', timeout:800});
					})
					// return this.$store.dispatch('swalInfo', {
					// 	text: data.m,
					// 	icon: 'success',
					// 	showCancelButton: true,
					// 	cancelButtonText: 'OK',
					// 	confirmButtonText: 'Seguir comprando',
					// }).then(res => {
					// 	if(res.isConfirmed){
					// 		this.$router.push({path: '/Menudoomialiadohome/'+this.producto.id_restaurante});
					// 	}
					// 	else if(res.isDismissed && res.dismiss == 'cancel'){}
					// });
				}
				else if(data.r == -2)
					return this.$store.dispatch('swalInfo', {text:data.m, icon: 'warning'});

				this.$store.dispatch('swalOtroDoomi', {
					text:data.m,
					path: `/Menudoomialiadohome/${this.$store.getters['carrito/idDoomialiadoActual']}`,
				});
				/*
				swal.fire({
					text: data.m,
					icon: 'warning',
					showCancelButton: true,
					cancelButtonText: 'Ir al doomialiado',
					confirmButtonText: 'Cancelar orden anterior',
					showClass: {popup: 'animate__animated animate__fadeIn'},
					hideClass: {popup: 'animate__animated animate__fadeOut'},
				}).then(res => {
					if(res.isConfirmed) {
						this.$store.dispatch('carrito/vaciar');
					}
					else if(res.isDismissed && res.dismiss == 'cancel')
						this.$router.push({
							path:`/Menudoomialiadohome/${this.$store.getters['carrito/idDoomialiadoActual']}`
						});
				})
				*/
			}).catch(() => this.desactivarAgregar=false);
	},

	notificar(message, timeout=2000){
		this.$q.notify({
			message,
			icon: 'done_all',
			timeout,
			color: 'cyan-4',
		});
	},

	aumentar(){ this.$store.dispatch('carrito/cambiarCantidadPedido', [this.idProducto, +1]) },
	disminuir(){ this.$store.dispatch('carrito/cambiarCantidadPedido', [this.idProducto, -1]) },

	atras(){ this.$router.back() },

	precio(val){
		return this.$utils.precio(val, '$')
	},
},


computed: {
	btnAgregar(){
		return !this.cantidad || !this.producto.existencias || this.desactivarAgregar;
	},

	producto(){
		return this.$store.getters['productos/porId'](this.idProducto);
	},

	pedidoEnCarrito(){
		return this.$store.getters['carrito/pedidoPorId'](this.idProducto);
	},

	adicionales_checked(){
		// Regresa Array de pares: [id, {...}]
		return Object.entries(this.adicionales).map(e => e[1].checked && e[1].cantidad? e : null).filter(Boolean);
	},

	acompañantes_checked(){
		// Regresa Array de pares: [id, {...}]
		return Object.entries(this.acompañantes).map(e => e[1].checked && e[1].cantidad? e : null).filter(Boolean);
	},

	subtotal(){
		let sub = 0;
		const ganancia = this.producto.ganancia;

		// Para cada extra: subtotal = precio * cantidad_extra.
		let acomps = this.acompañantes_checked.map(e => this.porcentaje(e[1].precio_usd, ganancia) * 100 * e[1].cantidad / 100);
		let adis = this.adicionales_checked.map(e => this.porcentaje(e[1].precio_usd, ganancia) * 100 * e[1].cantidad / 100);

		sub = this.porcentaje(this.producto.precio_usd, ganancia) * 100 * this.cantidad / 100;
		return this.precio(this.$utils.sumarDinero(sub, ...acomps, ...adis));
	},

	// cantidad(){ return this.$store.getters['carrito/cantidadPedido'](this.idProducto) },
},


}</script>

<style type="text/css">
.q-drawer .scroll {
	overflow:hidden;
}
</style>
