<template>
	<div class="bg_gray">

		<div class="row text-center q-mb-md q-mt-lg flex content-between item-center ">
			<div class="col-2">
               <q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
			  <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" /> -->
			</div>
			<div class="col-8">
					<p class="mb-0 titulo-header " >Configuración</p>
			</div>
			<div class="col-2">

			</div>
		</div>

		<div class="row">
			<div class="col-12  text-center ">
				<q-img :src="foto" height="100px" width="100px" class="circle" ></q-img>
			</div>
		</div>


	<div class="q-ml-md q-mt-lg q-mr-md bg-white border-gray card_shadow_bottom soft-border ">
		<div class="row q-mt-sm q-mb-sm ">
			<div  @click="Profile()" class="  col-12 flex item-center content-between ">
				<div class="w-50 flex item-center ">
					<q-btn icon="person" flat ></q-btn>
					<p class="mb-0 font-m">Mi perfil</p>
				</div>
				<q-btn flat icon="keyboard_arrow_right"></q-btn>
			</div>
		</div>

		<q-separator color="" class="clr_dark_gray" />

		<div @click="Historial()" class="row q-mt-sm q-mb-sm ">
			<div class="col-12 flex item-center content-between ">
				<div class="w-70 flex item-center ">
					<q-img class="q-ml-md img-icon " src="statics\Iconos\072-scroll.png" width="27px" height="27px" ></q-img>
					<p class="mb-0 q-ml-sm font-m ">Historial de pedidos</p>
				</div>
				<q-btn flat icon="keyboard_arrow_right"></q-btn>
			</div>
		</div>

		<q-separator color="gray" />

		<div class="row q-mt-sm q-mb-sm " v-if="cliente" >
			<div @click="Ayuda()" class="col-12 flex item-center content-between ">
				<div class="w-50 flex item-center ">
					<q-btn icon="help_outline" flat ></q-btn>
					<p class="mb-0 font-m">Ayuda</p>
				</div>
				<q-btn flat icon="keyboard_arrow_right"></q-btn>
			</div>
		</div>

		<q-separator color="gray" v-if="cliente" />

		<div class="row q-mt-sm q-mb-sm " v-if="cliente">
			<div @click="nosotros = true" class="col-12 flex item-center content-between ">
				<div class="w-70 flex item-center ">
					<q-btn icon="group" flat ></q-btn>
					<p class="mb-0 font-m">Sobre nosotros</p>
				</div>
				<q-btn flat icon="keyboard_arrow_right"></q-btn>
			</div>
		</div>

		<q-separator color="gray"  v-if="cliente"/>

		<div @click="sesion = true" class="row q-mt-sm q-mb-sm">
			<div class="col-12 flex item-center content-between ">
				<div class="w-70 flex item-center ">
					<q-btn icon="power_settings_new" flat ></q-btn>
					<p class="mb-0 font-m">Cerrar sesión</p>
				</div>
				<q-btn flat icon="keyboard_arrow_right"></q-btn>
			</div>
		</div>

		</div>

		<!-- modal quienes somos -->
		<q-dialog v-model="nosotros">
			<q-card  class="bg_blue fuente ">

				<div class="text-right">
						<q-img width="15px" height="15px" class="q-mt-md q-mr-md" v-close-popup src="statics\Iconos\X.png" ></q-img>
					</div>


				<q-card-section class="q-ml-md q-mr-md" >

					<div class="text-center">
						<p class="bold font-xl">¿Quienes somos?</p>
					</div>

					<p style="" class="font-lg text-center " >Ni siquiera nosotros mismos lo sabemos. Lo único que si esta claro es que somos tres bobos de San Felipe y Doomi detras de esta app. <b> ¡HA LLEGADO LA REVOLUCION DEL DELIVERY! </b> besos...</p>
				</q-card-section>
			</q-card>
		</q-dialog>

		<!-- fin modal de cerrar sesión -->


		<!-- modal de cerrar sesión -->
		<q-dialog v-model="sesion" persistent>
			<q-card style="padding-left:20px;padding-right:20px" class="bg_blue fuente ">
				<q-card-section  style="padding-top:0px" class="row " >

					<div class="text-center col-12 fuente">
						<q-avatar icon="warning" class="clr_orange"   style="text-align:center;font-size:130px" />
					</div>

				   <div class="flex flex-center col-12">
					   <p style="color: #545454;font-size: 1.125em;font-weight: 400;" class="" >¿Esta seguro que desea salir?</p>
				   </div>

				   <div class="text-center w-100  ">
					<q-btn push  @click="salir()" size=md class="rounded cl_standar fuente w-90 q-mt-md " label="Aceptar" v-close-popup />
					<q-btn push class="rounded btn-border-black cl_standar fuente w-90 q-mt-md " size="md" label="Cancelar " v-close-popup />
				   </div>

				</q-card-section>

			</q-card>
		</q-dialog>

		<!-- fin modal de cerrar sesión -->

	</div>
</template>

<script>
export default {
	data(){
		return{
			nosotros: false,
			sesion:false,
			default_foto: 'statics/images/user.png',
		}
	},
	methods:{
		salir(){
			this.$auth.salir()
				.then(() => {
					this.$store.commit('carrito/VACIAR');
					this.$store.dispatch('detenersetinterval');
					this.$router.push('/Iniciodesesion');
				});
		},

		Historial(){
			if(this.cliente)
				this.$router.push({ path:'/Misordenes' });
			else
				this.$router.push({ path:'/Historial' });
		},

		Profile(){
			if(this.cliente)
				this.$router.push({ path:'/Profile' });
			else
				this.$router.push({ path:'/ProfileRepartidor'})
		},

		Enconstruccion(){
			this.$router.push({ path:'/Enconstruccion' });
		},

		Ayuda(){
			this.$router.push({ path:'/Ayuda' });
		},

		atras(){
		this.$router.back();
	},


	},

	computed: {
		cliente(){ return this.$auth.obtenerTipoUsuario() == 'cliente' },
		foto(){
			let datos = this.$auth.obtenerDatos();
			if(datos)
				return datos.foto || this.default_foto;
			else
				return this.default_foto;
		},
	},
}
</script>