<template>
	 <div class="fuente">

		<q-img style="position:fixed ; top:0;margin-top:10%;z-index:2;left:0;margin-left:10%" @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
        <!-- <q-btn  style="position:fixed ; top:0;margin-top:0%;z-index:2;left:0;" flat  class="btn_back" color="primary" icon="keyboard_arrow_left" label="" @click="Atras()" /> -->
		<div style="position:fixed ; bottom:0;margin-bottom:45vh;z-index:2;left:5px;" class="bg-white  flex flex-center item-center circle ">
           <q-img   src="statics\Iconos\Icono_ubicacion_guardada.png" width="50px" height="50px" @click="ubicacionactual()" ></q-img>
		</div>

			<google-map style="height:50vh !important;"  @ObtenerEmit="ObtenerEmit" :setprueba="centrar_direction">
				<slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
					<input name="lat_dir" id="lat_dir" v-model="lat" type="hidden" />
					<input name="lon_dir" id="lon_dir" v-model="lon" type="hidden" />
				</slot>
				<p>hola soy un mensaje</p>
			</google-map>

		<div class="w-100 bg-white vh40 overflow-scroll flex flex-center item-center fixed-bottom q-pl-md q-pr-md ">

			<div class="row">

				<div class="col-12">
                   <p class="font-xl bold q-mt-md q-mb-md " >Confirmar dirección de envio</p>
				</div>

				<div class="col-12">
                    <p class=" font-lg" >{{text2}} </p>
				</div>

				<div class="col-12 text-center ">
                   <q-btn class="cl_standar w-100 q-mt-md q-mb-md  rounded " @click="verificardireccion" :label="txtbtn" size="md" ></q-btn>
                   <q-btn class="cl_standar w-100  q-mb-md  rounded " @click="usarubicacionactual" label="confirmar" size="md" v-if="verconfirmar_ubiact"></q-btn>
				</div>
				<div class="col-12 text-center " >

				</div>
			</div>

		</div>

		 <q-dialog v-model="formulario">
			<q-card style="width:90%" >

				<q-card-section class="q-pt-none">

					<div class="text-right">
                      <q-img width="15px" height="15px" class=" q-mr-md q-mt-md " v-close-popup src="statics\Iconos\X.png" ></q-img>
					</div>

					<div class="text-center q-mt-md ">
                      <p class="font_tituloslg" >Descripción de dirección </p>
					</div>

                <div class="">
			<div class="">
				<q-form id="form_direc" @submit="onSubmit" @reset="onReset" class="">


					<div class="row q-mt-md ">
						<!-- <div  class="col-12 flex flex-center  ">
							<label class="w-80" for="">Dirección</label>
							<q-input borderless class="input w-80 " style="background-color: #fff" autogrow v-model="text" type="textarea" name="direc_dir" />
						</div> -->

					<div class=" col-12 flex flex-center">
						<label class="w-100 flex flex-center q-mb-md text-center font-m" for=""><b>Para mejor experiencia escribe con exactitud este campo</b></label>
						<q-input placeholder="Dirección ej: Av. José Joaquín Veroes con calle 12" class="w-90" autogrow v-model="text" type="textarea" name="direc_dir" :dense="true"  >
						</q-input>
					</div>
					</div>



					<div  class="row q-mt-md ">
						<!-- <div class="col-12 flex flex-center ">
							<label class="w-80" for="">Nombre de esta dirección</label>

							<q-input borderless class="input w-80 "  name="nombre_dir" v-model="nombre" placeholder="ejemplo: mi casa"  type="text" hint=""/>
						</div> -->

						<div class=" col-12 flex flex-center q-mt-md">
							<q-input  class="w-90" name="nombre_dir" :dense="true" v-model="nombre" placeholder="Alias de la direccion ej: Mi casa"  type="text" hint="" >
							</q-input>
					    </div>
					</div>


					<div class="row q-mt-md ">
						<!-- <div  class="col-12 flex flex-center">
							<label class="w-80" for="">Punto de referencia (opcional)</label>
							<q-input borderless class="input w-80 " style="background-color: #fff" autogrow v-model="ref" name="ref_dir"  type="textarea" label="" />
						</div> -->

						<div class=" col-12 flex flex-center q-mt-md">
						<q-input  class="w-90"   autogrow v-model="ref" name="ref_dir"  type="textarea"  placeholder="Punto de referencia (obligatorio)" :dense="true"  >
						</q-input>
					</div>
					</div>


					<div  class="row w-100 q-mt-lg ">
						<div class="col-12 q-mt-md flex flex-center " v-if="formadd">
							<q-btn  size="md" label="Guardar" type="submit" class="  q-mb-md cl_standar rounded w-90" :disabled="buttonDisabled" />
						</div>

						<div class="col-12 q-mt-md text-center" v-if="formedit">
							<q-btn  size="md" label="Guardar cambios" type="submit" class="cl_standar rounded w-90 " :disabled="buttonDisabled" />
							<q-btn  size="md" label="Eliminar" type="button"  class="cl_standar rounded q-mt-md w-90 " v-on:click="__alertConfirm(id_direccion)" :disabled="buttonDisabledEli" />
						</div>
					</div>
				</q-form>
			</div>
		</div>

				</q-card-section>

			</q-card>
		</q-dialog>




	</div>
</template>

<script>
	import GoogleMap from 'components/GoogleMap';
	import { LocalStorage } from 'quasar'
	export default {
		components: {GoogleMap},

		 data() {
				return {
					txtbtn: 'confirmar',
					verconfirmar_ubiact: false,
					formulario: false,
					text:null,
					text2:null,
					nombre:null,
					ref:null,
					buttonDisabled: false,
					buttonDisabledEli: false,
					msjError: false,
					formadd: true,
					formedit: false,
					id_direccion: 0,
					lat: null,
					lon: null,
					centrar_direction: null
				}
		 },
		 mounted(){
			if(this.$route.params.id){
				this.id_direccion = this.$route.params.id;
				this.cargarData(this.$route.params.id);
			}
			if(LocalStorage.has('DIRECCIONNOM')){
		      	this.text2 = LocalStorage.getItem('DIRECCIONNOM');
		    }
		    if(LocalStorage.has('DIRECCIONTIP')){
				if(LocalStorage.getItem('DIRECCIONTIP')=='A'){
					this.txtbtn = 'guardar'
					this.verconfirmar_ubiact = true;
				}
				if(LocalStorage.getItem('DIRECCIONTIP')!='B' && LocalStorage.getItem('DIRECCIONTIP')!='A'){
					LocalStorage.remove('DIRECCIONNOM');
					LocalStorage.remove('DIRECCIONLOC');
					LocalStorage.remove('DIRECCIONTIP');
				}
			}
		 },
		 methods: {
		 	usarubicacionactual(){
		 		LocalStorage.set('DIRECCIONSELECT',"0");
		 		LocalStorage.set('DIRECCIONSELECTCORDENADA',{})
				this.$store.commit('doomis/COORDENADAS',{});
				this.$store.dispatch('doomis/actualizarDoomialiadosCercanos');
		 		this.$router.push({path:'/Home'})
		 	},
		 	verificardireccion(){
		 		//if(this.text.indexOf('Unnamed Road') > -1)
		 		//	this.text = '';
		 		this.formulario = true;
		 	},
		 	ObtenerEmit(data){
		 		this.text2 = data;
	      	},
	      	async ubicacionactual(){
	      		var cordenadas = {}
				await this.$api.general.geo().then(ubicacionActual => {
				    cordenadas = ubicacionActual;
				})

				const latlng = new google.maps.LatLng(parseFloat(cordenadas.lat), parseFloat(cordenadas.lon));
				this.centrar_direction=latlng;
	      	},
			cargarData(id_dir){
				this.$api.general.recuperarData('direcciones/'+id_dir)
					.then(r => {
						this.nombre = r.nom_dir;
						this.text = r.dir_dir;
						this.text2 = r.dir_dir;
						this.ref = r.ref_dir;
						this.formedit = true;
						this.formadd = false;
					}).catch(err => {
						console.log(err);
					});
			},
			onSubmit(evt){
				evt.preventDefault();
				this.msjError = false;
				this.buttonDisabled = true;
				const data_user = this.$api.cliente.obtenerDatos();

				const formData = new FormData(document.getElementById('form_direc'));
				formData.append('lat_dir',document.getElementById('lat_dir').value);
				formData.append('lon_dir',document.getElementById('lon_dir').value);
				if(this.$route.params.id){ //EDITAR
					formData.append('iden',this.$route.params.id);
					this.$api.general.put('direcciones/edit', formData)
						.then(r => {
							if(r.r){ //si todo esta bien, se borran los datos de los campos
								swal.fire('Genial!!',r.msj||r.msg,'success');
								this.$router.push({path:'/Home'})
							}else
								swal.fire('Oops...',r.msj||r.msg,'error');
							this.buttonDisabled = false;
							this.formulario = false;
						})
						.catch(err => {
							swal.fire('Oops...',err.msj||err.msg,'error');
							this.buttonDisabled = false;
						});
				}else{ //REGISTRAR
					formData.append('id_cli',data_user.id);
					this.$api.general.post('direcciones/add', formData)
						.then(r => {
							if(r.r){ //si todo esta bien, se borran los datos de los campos
								swal.fire('Genial!!',r.msj||r.msg,'success');
								this.nombre= '';
								this.text= '';
								this.ref= '';
								this.lat= '';
								this.lon= '';
								LocalStorage.remove('DIRECCIONNOM');
								LocalStorage.remove('DIRECCIONLOC');
								if(LocalStorage.has('DIRECCIONTIP')){
									if(LocalStorage.getItem('DIRECCIONTIP')=='A')
										LocalStorage.set('DIRECCIONSELECT',r.id);
								}
								LocalStorage.remove('DIRECCIONTIP');
								this.formulario = false;
								this.$router.push({path:'/Home'})
							}else
								swal.fire('Oops...',r.msj||r.msg,'error');
							this.buttonDisabled = false;
						})
						.catch(err => {
							swal.fire('Oops...',err.msj||err.msg,'error');
							this.buttonDisabled = false;
						});
				}

			},
			__alertConfirm(ideli) {
				this.buttonDisabledEli = true;
				swal.fire({
					//title: "¿Esta seguro?",
					text: "¿Desea eliminar esta dirección?",
					icon: "warning",
					showCancelButton: true,
					confirmButtonText: 'Si',
					cancelButtonText: 'No'
				})
				.then((res) => {
					if (res.value) {
						this.$api.general.eliminarruta('direcciones/delete/'+ideli)
						.then(r => {
							if(r.r){
								swal.fire('Genial!!',r.msj||r.msg,'success');
								this.$router.push({path:'/Home'})
							}else
								swal.fire('Oops...',r.msj||r.msg,'error');
							this.buttonDisabledEli = false;
						})
						.catch(err => {
							swal.fire('Oops...',err.msj||err.msg,'error');
							this.buttonDisabledEli = false;
						});


					}else{
						this.buttonDisabledEli = false;
					}
				});
			},
			onReset(){},
			Atras(){
				this.$router.go(-1)
			}
		 },
	}
</script>