<template>
	<div :class="$route.params.en_gota ? 'bg_cont' : 'bg_blue' "  class="blue  cont_home fuente">

		<div class="row text-center q-mt-lg q-mb-lg  flex  item-center ">
			<div class="col-2">
				<q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" @click="clickAtras" /> -->
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header " >{{ $route.params.en_gota ? "Pedidos en proceso" : "Historial de pedidos" }}</p>
			</div>

			<div v-if="!$route.params.en_gota" class="col-2">
				<q-btn v-on:click='Mostrarfiltro = !Mostrarfiltro' flat icon="menu" class="" ></q-btn>
			</div>
		</div>

		<div v-if="Mostrarfiltro" class="  bg_cont flex item-center row rounded-1 q-pa-sm q-ml-sm q-mr-sm q-mb-md">
			<div class="flex col-10 content-around item-center">
				<div class="flex item-center w-70 ">
					<p class="m-0" >Desde: </p>
					<q-btn icon="event" size="sm" round class=" q-ml-md q-mr-md cl_standar rounded" >
						<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
							<q-date v-model="filtroDesde" :options="filtrarDiasSeleccionablesDesde">
								<div class="row items-center justify-end q-gutter-sm">
									<q-btn label="Cancel" color="primary" flat v-close-popup />
									<q-btn label="OK" color="primary" flat @click="save" v-close-popup />
								</div>
						</q-date>
						</q-popup-proxy>
					</q-btn>
					<p class="m-0" >{{desde}}</p>
				</div>

				<div class="flex item-center w-70 q-mt-sm">
					<p class="mb-0 q-mr-xs" >Hasta:  </p>
					<q-btn icon="event" size="sm" round class=" q-ml-md q-mr-md cl_standar rounded">
						<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
							<q-date v-model="filtroHasta" :options="filtrarDiasSeleccionablesHasta">
							<div class="row items-center justify-end q-gutter-sm">
								<q-btn label="Cancel" color="primary" flat v-close-popup />
								<q-btn label="OK" color="primary" flat @click="save" v-close-popup />
							</div>
						</q-date>
						</q-popup-proxy>
					</q-btn>

					<p class="m-0" >{{hasta}}</p>

				</div>

				<div class="flex item-center content-between w-70 q-mt-sm">
					<p class="m-0 font-m" >Estatus: </p>
					<q-select borderless class="input-search w-70" v-model="estatusFiltro" :options="listaEstatus" option-value="id" option-label="nombre" emit-value map-options/>
				</div>

			</div>

			<div class="col-2">
				<q-btn @click="clickBuscar" class="cl_standar rounded" round size="md" icon="search" ></q-btn>
			</div>
		</div>


		<!-- tabs/pestañas -->
		 <div  v-if="$route.params.en_gota"  class="row">
			<div class="col-12 bg_cont text-center q-pl-md q-pb-md q-pr-md ">
				<q-img :src="memeActual" class=" w-70  " ></q-img>
				<!-- <q-img v-if="meme2" src="statics\Iconos\Meme_En_camino.png" class=" w-70  " ></q-img> -->
				<!-- <q-img v-if="meme3" src="statics\Iconos\Meme_pendiente.png" class=" w-70  " ></q-img> -->
				<!-- <p class="mb-0 font-xl bold " >Ruega para que pase</p> -->
				<!-- <p class="mb-0 font-md  " >Tu Pedido esta en proceso de verificación de pago</p> -->
				<p class="mb-0 font-md  " >{{ fraseSubMeme }}</p>
			</div>
		</div>

		<!-- fin tabs/pestañas -->
		<pedidos-tabs v-slot="{ tab: tab_ }" v-if="$route.params.en_gota" :tabs="tabs">
			<span style="display: none;">{{ tab=tab_ }}</span><!-- Extraer tab activa -->
		</pedidos-tabs>

		<pedidos-listado v-else :pedidos="pedidos" :mensaje="msj" />

	</div>
</template>


<script>

import PedidosTabs from 'components/PedidosTabs'
import PedidosListado from 'components/PedidosListado'

export default {

components: { PedidosTabs, PedidosListado },

data () {
	return {
		meme1: true,
		meme2: false,
		meme3: false,
		entregados_antes_de_hoy: true,
		Mostrarfiltro:false,
		msj: 'Cargando...',
		filtroDesde: '',
		filtroHasta: '',
		estatusFiltro: null,
		proxyDate: '2019/03/01',
		model: null,
		listaEstatus: [{id:-1, label:'Todos'}],
		pedidos: [],

		tab: 'Pendientes',
		/* Estatus por pestaña */
		tabs: {
			'Pendientes': [3, 97], // Pagados, Inhabilitados
			// 'Rechazados': [98, 99], // Cancelados, Rechazados
			'Confirmados': [5, 6, 7, 8], // En proceso, Preparado, Finalizado, Por entregar
			'En Camino': [10, 12], // En transito, Entrgado al cliente
			// 'Entregados': [11], // Completos
		},

		estatus_historial: [11, 98, 99],

		numero_pedidos: {},
	};
},


async created(){
	this.$q.loading.show();

	// Cargar pedidos para historial sin tabs.
	if (!this.$route.params.en_gota)
		this.recuperarPedidos({estatus_in: this.estatus_historial});

	this.$api.general.recuperarData('/pedidos/estatus')
		.then(data => {
			data = data.filter(e => this.estatus_historial.includes(parseInt(e.id, 10)))
			data.unshift({id:-1, nombre:'Todos'});
			this.listaEstatus = data;
		});
	this.$q.loading.hide();
},


computed: {
	desde(){
		// Orden DD/MM/AA
		const fechas = this.filtroDesde.split('/');
		fechas.reverse();
		return fechas.join('/');
	},
	hasta(){
		// Orden DD/MM/AA
		const fechas = this.filtroHasta.split('/');
		fechas.reverse();
		return fechas.join('/');
	},

	pedidosEnTab(){
		// let pedidos = this._pedidos;
		return this.pedidos
			// .filter(o => this.estatusTab(o.id_estatus) == this.tab && o.id_estatus != 97)
			.sort((a,b) => new Date(b.creado) - new Date(a.creado));
	},

	pedidosPendientesRechazados(){
		if(this.tab == 'Pendientes')
			return this.pedidos.filter(o => this.estatusTab(o.id_estatus) == this.tab && o.id_estatus == 97);

		return [];
	},

	memeActual(){
		switch (this.tab) {
			case 'Pendientes': return 'statics\\Iconos\\Meme_pendiente.png';
			case 'Confirmados': return 'statics\\Iconos\\Meme_confirmado.png';
			case 'En Camino': return 'statics\\Iconos\\Meme_En_camino.png';
		}
	},

	fraseSubMeme(){
		switch (this.tab) {
			case 'Pendientes': return 'Tu Pedido esta en proceso de verificación de pago';
			case 'Confirmados': return 'En este paso tu pedido se está preparando para que llegue sano y salvo';
			case 'En Camino': return 'El repartidor está en camino ¡Pila ahí!';
		}
	},

	// numeroOrdenes(){
	// 	// return this.$store.getters['ordenes/items'];
	// 	return this.ordenes ? this.ordenes.length : 0;
	// },
},


// watch: {
// 	tab(tab){
// 		this.pedidos = [];
// 		this.recuperarPedidos({
// 			estatus_in: this.tabs[tab],
// 			actual: this.entregados_antes_de_hoy ? '' : 1
// 		}).then(() => this.contarPedidos(tab));
// 	},
// },


methods: {

	atras(){
		this.$router.back();
	},


	clickVerMas(pedido){
		this.$router.push({path: '/Detallescliente/'+pedido.id, params:{id:pedido.id}})
	},

	clickVerAnteriores() {
		this.pedidos_anteriores_a_hoy = true;
	},

	clickBuscar(){
		const filtros = {};

		if(this.filtroDesde)
			filtros.desde = this.filtroDesde;

		if(this.filtroHasta){
			filtros.hasta = new Date(this.filtroHasta);
			// Para que incluya el dia actual.
			filtros.hasta.setHours(23, 59, 59);
			filtros.hasta = filtros.hasta.toISOString();
		}

		if(this.estatusFiltro && this.estatusFiltro > 0)
			filtros.estatus = this.estatusFiltro;

		filtros.estatus_in = this.estatus_historial;

		// if(!filtros.desde && !filtros.hasta)
		// 	return this.$store.dispatch('swalInfo', 'Seleccione una fecha');

		this.recuperarPedidos(filtros);
	},

	updateProxy () {
		this.proxyDate = this.date
	},

	save () {
		this.date = this.proxyDate
	},

	nombreDeEstatus(id){
		const est = this.listaEstatus.filter(e => e.id==id).pop();
		return est ? est.nombre : 'Todos';
	},

	numeroPedidos(tabName){
		return this.pedidos.filter(o => this.estatusTab(o.id_estatus) == tabName).length;
	},

	estatusTab(id){
		// Regresa el nombre de tab para una id de estatus.
		id = parseInt(id||NaN, 10);

		for (let [tab,ids] of Object.entries(this.tabs)) {
			if(ids.includes(id))
				return tab;
		}
	},

	async recuperarPedidos(filtros){
		this.msj = 'Cargando...'
		if(!filtros)
			await this.$api.general.recuperarData('/pedidos/').then(data => {this.pedidos = data});
		else
			await this.$api.general.recuperarDataConData('/pedidos/filtrados', filtros).then(data => this.pedidos = data);

		this.$q.loading.hide();

		if(!this.pedidos || this.pedidos.length == 0)
			this.msj = 'No hay pedidos aquí';
		else
			this.msj = null;

		return new Promise(res => res());
	},

	filtrarDiasSeleccionablesDesde(date){
		date = new Date(date);

		if(this.filtroHasta && new Date(this.filtroHasta) < date)
			return false

		return true;
	},

	filtrarDiasSeleccionablesHasta(date){
		date = new Date(date);

		if(this.filtroDesde && new Date(this.filtroDesde) > date)
			return false

		return true;
	},

	contarPedidos(tab){
		if(tab) {
			let num = this.pedidos.filter(o => this.estatusTab(o.id_estatus) == tab).length;
			return this.$set(this.numero_pedidos, tab, num);
		}
		for (let tab of Object.keys(this.tabs)) {
			let num = this.pedidos.filter(o => this.estatusTab(o.id_estatus) == tab).length;
			this.$set(this.numero_pedidos, tab, num);
			// this.numero_pedidos[tab] = this.pedidos.filter(o => this.estatusTab(o.id_estatus) == tab).length;
		}
	},

	contarPedidosRemoto(){
		this.$api.general.post('/pedidos/contar_pedidos_por_tab', {tabs: this.tabs})
			.then(console.log)
	},

	clickAtras(){
		if (this.$route.params.en_gota)
			this.$router.push('/Home')
		else
			this.$router.push('/Menu_configuraciones')
	},

},

};</script>


<style>
	.q-field__control { margin: -10px 1px; }
</style>
