<template>
	<div class="fuente">

		<div class="row text-center q-mt-md q-mb-md flex content-between item-center ">
			<div class="col-2">
              <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" @click="$router.back()" />
			</div>
			  <div class="col-8">
                 	<p class="mb-0 titulo-header q-mt-sm " >Notificaciones</p>
			  </div>
			<div class="col-2">
             <q-btn icon="delete_sweep" round class="cl_standar" @click="Borrar()" v-if="notificaciones.noti.length > 0" />
			</div>

		</div>

		<div class="row">
			<div class="col">
				<q-list bordered separator class="rounded-borders" full-width>
					<q-item clickable v-ripple v-for="ne in news" :key="ne.id" style="width:100%;">
						<q-item-section avatar>
							<q-avatar>
								<img src="https://cdn.quasar.dev/img/avatar2.jpg">
							</q-avatar>
						</q-item-section>

						<q-item-section>
							<q-item-label class="q-mt-sm" lines="1">{{ne.name}}</q-item-label>
							<q-item-label caption lines="3">
								{{ne.text}}
							</q-item-label>
							<q-item-label class="text-right parrafos-sm q-mb-md ">{{ne.time}}</q-item-label>
						</q-item-section>
					</q-item>
				</q-list>
			</div>
		</div>
	</div>
</template>


<script>

export default {
	name: 'Home',
	data() {
		return {
			news: [
				{
					id: '1',
					img:'https://cdn.quasar.dev/img/avatar4.jpg',
					name: 'Carlos Castellanos',
					text: 'Realizo una compra en TBTGRILL',
					time: 'Hace 1 minuto',
					},
				{
					id: '2',
					img:'https://cdn.quasar.dev/img/avatar4.jpg',
					name: 'Carlos Castellanos',
					text: 'Realizo una compra en TBTGRILL',
					time: 'Hace 1 minuto',
					},
				{
					id: '3',
					img:'https://cdn.quasar.dev/img/avatar4.jpg',
					name: 'Carlos Castellanos',
					text: 'Realizo una compra en TBTGRILL',
					time: 'Hace 1 minuto',
					}
			]
		}
	}

}
</script>
