<template>
	<div class="fuente">
		<div class="row text-center q-mt-md q-mb-md flex content-between item-center ">
			<div class="col-2">
				<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
              <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" /> -->
			</div>
			  <div class="col-8">
                 	<p class="mb-0 titulo-header " >Notificaciones</p>
			  </div>
			<div class="col-2">
             <q-btn icon="delete_sweep" round class="cl_standar" @click="Borrar()" v-if="notificaciones.noti.length > 0" />
			</div>
			
		</div>

		<div class="row q-mb-xl ">
			<div class="col">
				<q-list bordered separator class="rounded-borders" full-width>
					<q-infinite-scroll @load="onLoad" :offset="50">
						<q-item clickable v-ripple v-for="ne in ver_notificaciones" :key="ne.id" @click=" Abrir(ne.id)" >
							<div class="flex item-center " style="width:100%;">
	                           <q-item-section avatar>
								<q-avatar>
									<img class="bordes q-mb-md " :src="ne.img_c || ne.img_r || ne.img_re || 'statics/images/user.png'">
								</q-avatar>
							</q-item-section>

							<q-item-section>
								<q-item-label class="q-mt-sm font-m " lines="1">{{ne.nombre_c || ne.nombre_r || ne.nombre_re || txt_admin}}</q-item-label>
								<q-item-label class="font-m" caption lines="3" v-html="ne.contenido">
									
								</q-item-label>
								<q-item-label class="text-right parrafos-sm ">{{calcularfecha(ne.fecha)}}</q-item-label>
							</q-item-section>
							</div>

							<q-separator color="black" ></q-separator>
							
						</q-item>
						<q-item clickable v-ripple v-if="notificaciones.noti.length == 0" >
							<q-item-section>
								<q-item-label class="text-center" caption lines="3">
									Sin notificaciones pendientes
								</q-item-label>
								
							</q-item-section>
						</q-item>
						<template v-slot:loading>
					        <div class="row justify-center q-my-md">
					          <q-spinner-dots color="primary" size="40px" />
					        </div>
					    </template>
					</q-infinite-scroll>
				</q-list>
			</div>
		</div>
	</div>
</template>


<script>
const moment = require('moment');
require('moment/locale/es')
import { mapGetters } from 'vuex'
export default {
	name: 'Home',
	data() {
		return {
			txt_admin:'Administración',
			ver_notificaciones: [],
			ready: 0,
			num_vista: 7,
			news: [
				{
					id: '1',
					img:'https://cdn.quasar.dev/img/avatar4.jpg',
					name: 'Carlos Castellanos',
					text: 'Realizo una compra en TBTGRILL',
					time: 'Hace 1 minuto',
					},
				{
					id: '2',
					img:'https://cdn.quasar.dev/img/avatar4.jpg',
					name: 'Carlos Castellanos',
					text: 'Realizo una compra en TBTGRILL',
					time: 'Hace 1 minuto',
					},
				{
					id: '3',
					img:'https://cdn.quasar.dev/img/avatar4.jpg',
					name: 'Carlos Castellanos',
					text: 'Realizo una compra en TBTGRILL',
					time: 'Hace 1 minuto',
					}
			]
		}
	},
	async created () {
		await this.$store.dispatch('notificaciones/actualizarNotificaciones');
	},
	mounted(){
		//console.log(this.notificaciones);
	},
	methods: {
		onLoad (index, done) {
			if(this.notificaciones.noti.length>0){
				setTimeout(() => {
			        if(this.notificaciones.noti.length<=this.num_vista){
						this.num_vista = this.notificaciones.noti.length;
					}
					for (var i = this.ready; i < this.num_vista; i++) {
						this.ver_notificaciones.push(this.notificaciones.noti[i]);
						this.ready++;
					}
					if(this.notificaciones.noti.length<=this.num_vista)
						this.num_vista = this.notificaciones.noti.length;
					else
						this.num_vista = this.num_vista + 7;
					if(this.notificaciones.noti.length==this.num_vista){
						done(true);
					}
					else
						done();
			    }, 1500);
				
			}else{
				done(true);
			}
	      
	    },
		calcularfecha(fe){
			return moment(fe).toNow().replace("en", "hace");
		},
		Abrir(id_noti){
			const formData = new FormData();
			this.$api.general.post('notificaciones/vista/'+id_noti, formData)
				.then(r => { 
					if(r.estatus==1){
						this.$store.dispatch('notificaciones/actualizarNotificaciones');
						if(r.tipo_noti==2){
							this.$router.push({ path:'/'+r.redireccionar_noti+'/'+r.id_usable })
						}else if(r.tipo_noti==1){
							this.$router.push({ path:'/'+r.redireccionar_noti+'/' })
						}else{
							this.$router.push({ path:'/Home/' })
						}
					}
				})
				.catch(err => {
					console.log(err);
				});
		},
		Borrar(){
			if(this.notificaciones.noti.length==0) return;
			const data_user = this.$api.cliente.obtenerDatos();
			var tipo_usu = 'clientes';
	        if(this.$api.auth.obtenerTipoUsuario() == 'repartidor')
	          tipo_usu = 'repartidores';
			this.$api.general.recuperarDataConData('notificaciones/vistaall/', { tipo_usuario: tipo_usu,id: data_user.id})
				.then(r => { 
					if(r.r){
						this.ver_notificaciones = [];
						this.$store.dispatch('notificaciones/actualizarNotificaciones');
					}
				})
				.catch(err => {
					console.log(err);
				});
		}
	},
	computed: {
		...mapGetters({
			notificaciones: 'notificaciones/notificaciones',
		}),	
	}

}
</script>
