<template>
	<div class="blue cont_home fuente  ">

		<q-dialog v-model="Fin" maximized >
				<q-card style="width:100%!important;height:100vh!important"  >
					<q-card-section class="q-pt-none p-0  flex flex-center item-center ">

					<q-img src="statics\images\doomi-arrodillado.jpg" class="border mt-20vh w-50 "  >

					</q-img>

					<p class="font-xl bold w-90 text-center q-mt-sm mb-0 " >¡Aleluya!</p>
					<p class="font-xl bold w-90 text-center " >Voy por ti baby, no tardo. </p>


					</q-card-section>
				</q-card>
			</q-dialog>

		<div class="row text-center q-mt-lg   flex content-between item-center ">
			<div class="col-2">
				<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn  flat class="btn_back" color="primary" icon="keyboard_arrow_left" label="" to="/Carrito" /> -->
			</div>
			<div class="col-8">
				<p class="mb-0 titulo-header " >Procesar pago</p>
			</div>
			<div class="col-2">
			</div>
		</div>

		<!-- boton procesar pago -->



		<q-form class="q-ml-md q-mr-md" id="form-pago">
				<div class="flex flex-center  ">
					<div class="row w-100 ">
                        <div class="col-12 q-mt-md">
						<label class="font-lg bold" for="">Modalidad de entrega</label>
						</div>
						<div class="col-12">
							<q-select :dense="true" borderless v-bind:class="{ 'input-black': modalidad!='', 'input': modalidad=='' }"  name="modalidad" v-model="modalidad" :options="modalidadesDeTrabajo" :dark="dark" @input="buscarconfi(), dark = true" label="Seleccione una modalidad de entrega" emit-values />
						</div>
					</div>
				</div>

				<!-- modal ver mapa  -->

                <q-dialog v-model="Mapapickup" maximized >
					<q-card style="height: 100% !important;width: 100% !important;z-index:9999;padding:0" >

						<q-card-section class="p-0 text-right ">
							<q-img  v-close-popup width="15px" height="15px" class="q-mt-md q-mr-md" style="position:fixed;top:0;right:0;z-index:10"  src="statics\Iconos\X.png" ></q-img>
							<div  style="height:10vh" class="  q-pa-sm soft-border flex item-center content-around">
								<div class="flex item-center q-mt-sm ">
									<img src="statics\images\map-azul.png" width="20px" alt="">
									<p class="m-0 titulo-header " >Doomi</p>
								</div>
								<div class="flex item-center q-mt-sm">
									<img src="statics\images\map-aqui-estoy.png" width="20px" alt="">
									<p class="m-0 titulo-header " >{{txt_leyenda}}</p>
								</div>
							</div>
							<div
								ref="mapa2"
								map-type-id="terrain"
								class="col-12"
								style="height: 90vh ; width:100% "
							></div>

							<div v-if="modoDelivery || modoReservacion" style="position:fixed;bottom:0;width: 100%;" class=" bg_rosa q-pa-md" >

					           	<div class="flex">
								   <q-img :src="  doomialiado.img || 'statics/images/logo.png' " class="bordes" width="60px" height="60px" >
								   <div width="15px" height="15px" v-bind:class="{ 'bg-green-light rounded': doomialiado.laborando, 'transparente rounded': !doomialiado.laborando }" style="right: 1px;width: 0px;padding: 7px;top: 1px; border: 1px solid #257d1f9e;" >
			                       </div>
								   </q-img>

								   <div class="w-70">

					                    <div class="flex q-ml-md content-between w-100 ">

					                         <div class="">
					                            <p style="width:200px" class="mb-0 font-xl" >{{doomialiado.nombre}} </p>
												<p class="mb-0 font-md " >{{cargarcat(doomialiado.categorias_menu)}}</p>
											 </div>
										</div>

								   </div>

			                        <div class="flex item-center content-between ">
										<p class="mb-0" >{{ horarioDeHoy(doomialiado.id) }}</p>
									</div>

							   	</div>

							   	<q-separator color="white" ></q-separator>

							   	<div class="flex item-center q-mt-sm ">
								   <q-btn flat icon="pin_drop" ></q-btn>
								   <p class="mb-0 w-80 ">{{doomialiado.ubicacion}}</p>
							   	</div>

							</div>
						</q-card-section>

					</q-card>
				</q-dialog>

				<!-- fin modal ver mapa  -->
				<!-- modo pickup -->
				<div v-if=" modoPickup "  @click="Mapapickup = true;vermapa('');"  class="flex flex-center  ">
						<div class="row w-100 ">
                        <div class="col-10 q-mt-md">
						<label class="font-lg bold q-mb-md " for="">Dirección de retiro</label>
						<q-separator></q-separator>
						</div>

						<div class="col-12 q-mt-md q-mb-md ">
							<div  class="flex item-center">
								<q-icon style="font-size:30px" class="" name="pin_drop" />
							     <p class="mb-0 q-ml-sm font-lg w-80  " >{{doomialiado.ubicacion}}</p>
						    </div>
			            </div>

					   </div>



				</div>

				 <q-separator></q-separator>
<!--
				<div v-if=" modoPickup " class="row q-mt-md ">
					<div @click="Horas = true" class="col-12 flex item-center content-between ">
						<div class="flex item-center ">
                         <q-icon name="alarm" style="font-size:30px" ></q-icon>
						 <p class="mb-0 q-ml-sm font-lg">{{Horasdisponibles}}</p>
						</div>
						<p class="mb-0 font-lg">Hora estimada</p>
					</div>
				</div>
 -->
				<q-dialog v-model="Horas" >
					<q-card class="w-100" style="height:50vh" >

						<q-card-section   class=" p-0 ">
						<div class="row">
							<div  @click="Pasarhoras(hor),Horas = false"  class="col-12" v-for="hor in horas_p">
	                           <p class="mb-0 font-lg q-pa-sm " > {{hor}} </p>
							   <q-separator></q-separator>
							</div>
						</div>
						</q-card-section>

					</q-card>
				</q-dialog>

				<!-- modo pickup -->

				<!-- pedidos programads -->

                <div v-if=" modoReservacion " @click="Mdirecciones = true" class="flex flex-center  ">

						<div class="row w-100 ">
                        <div class="col-12 q-mt-md">
						<label class="font-xl bold q-mb-md " for="">Programa tu delivery</label>
						<q-separator></q-separator>
						</div>
					   </div>

				</div>

				 <q-separator></q-separator>

				<div v-if=" modoReservacion " class="row q-mt-md q-mb-md ">
					<div @click="Dias = true" class="col-12 flex item-center content-between ">
						<div class="flex item-center ">
						 <p class="mb-0 q-ml-sm font-lg">{{Diasdisponibles}}</p>
						</div>
						<p class="mb-0 font-lg">Fecha de entrega</p>
					</div>
				</div>

				 <q-separator></q-separator>

				<div v-if=" modoReservacion " class="row q-mt-md q-mb-md ">
					<div  @click="Horas2 = true" class="col-12 flex item-center content-between ">
						<div class="flex item-center ">
						 <p class="mb-0 q-ml-sm font-lg">{{Horasdisponibles2}}</p>
						</div>
						<p class="mb-0 font-lg">Hora de entrega</p>

					</div>
				</div>
				<q-dialog v-model="Horas2" >
					<q-card class="w-100" style="height:50vh" >

						<q-card-section   class=" p-0 ">
						<div class="row">
							<div  @click="Pasarhoras2(hor),Horas2 = false"  class="col-12" v-for="hor in horas_pro">
	                           <p class="mb-0 font-lg q-pa-sm " > {{hor}} </p>
							   <q-separator></q-separator>
							</div>
						</div>
						</q-card-section>

					</q-card>
				</q-dialog>

				 <q-separator></q-separator>

				<q-dialog v-model="Dias" >
					<q-card class="w-100" style="height:50vh" >

						<q-card-section   class=" p-0 ">
						<div class="row">
							<div  @click="Pasardias(fec),Dias = false"  class="col-12" v-for="fec in fechas_p">
	                           <p class="mb-0 font-lg q-pa-sm " > {{fec}} </p>
							   <q-separator></q-separator>
							</div>
						</div>
						</q-card-section>

					</q-card>
				</q-dialog>


				<!-- pedidos programados -->

				<div v-if=" modoDelivery || modoReservacion " class="flex flex-center  ">
					<div class="row w-100 ">
                        <div  class="col-12 q-mt-md">
						<label class="font-lg bold" for="">Dirección de entrega</label>
						</div>
						<div  @click="Mdirecciones = true;Listardirec();"  class="col-12">
							<q-input :dense="true" v-model="Ubicacionesdisponibles" readonly borderless v-bind:class="{ 'input-black': Ubicacionesdisponibles!='', 'input': Ubicacionesdisponibles=='' }" dark name="direc"  emit-values />
						</div>
						<!-- <div class=" text-center q-pl-sm col-2">
							<q-btn @click="Mapapickup = true; vermapa(1);" class="cl_standar " icon="map" label="" ></q-btn>
						</div> -->
					</div>
				</div>

				<!-- modal mapa -->

                <!-- <q-dialog v-model="mostrarModalMapa" maximized>
					<q-card style="height: 100% !important;width: 100% !important;" >
						<q-card-section class="text-right p-0 " >
							<q-btn flat label="X" v-close-popup />
						</q-card-section>

						<q-card-section class="q-pt-none" style="height: 90vh">


							<div  class=" bordes q-pa-xs soft-border flex item-center content-around">
									<div class="flex item-center q-mt-sm ">
										<img src="statics\images\map-aqui-estoy.png" width="20px" alt="">
										<p class="m-0 titulo-header " >Doomi</p>
									</div>



								<div class="flex item-center q-mt-sm">
									<img src="statics\images\map-verde.png" width="20px" alt="">
									<p class="m-0 titulo-header " >Mi ubicacion</p>
								</div>
							</div>
							<google-map
							     class="q-mt-md"
								:setMarker="marker_delivery"
								:setDirection="direccion_pickup"
								@hook:mounted="setDirecciones">
							</google-map>
						</q-card-section>
					</q-card>
				</q-dialog>-->

				<!-- fin modal mapa -->

				<!-- modal de direcciones -->

              <q-dialog v-model="Mdirecciones"  maximized  >
				<q-card >
					<q-card-section style="" class="p-0 text-right" >
					<q-img   width="15px" height="15px" class=" q-mr-md q-mb-sm q-mt-md " v-close-popup src="statics\Iconos\X.png" ></q-img>
					</q-card-section>

					<q-card-section class=" p-0 ">
					<div class=" row flex content-around item-center alt_cont_Modalmapa_home ">

                      	<div class="col-12 flex flex-center">
                      		<input borderless bottom-slots class="w-90 input rounded " type="text" ref="direc" id="direc" name="direc" placeholder="Buscar nueva direccion">
							<!--<q-input borderless bottom-slots class="w-90 input rounded " v-model="text" label="Buscar nueva direccion"  :dense="true">

								<template v-slot:append>
								<q-btn round to="/Misdirecciones" dense flat icon="search" />
								</template>

							</q-input>-->
						</div>

					</div>

					 <q-separator />

					<div @click=" Seleccionardirec('new')" class=" flex content-around item-center alt_cont_Modalmapa_home ">

							<div class="col-2 text-center "  >
                               <img src="statics\Iconos\Icono_ubiacion_actual.png" class="img-user" height="50px" width="50px" alt="" />
							</div>

							<div class="col-7">
                               <p class="mb-0 font-m " >Usar mi ubicación actual</p>
							</div>

							<div class="col-1">
                               <q-btn flat icon="keyboard_arrow_right" ></q-btn>
							</div>
					</div>



					 <q-separator />

					 <div v-for="dir in direcciones">

						<div  class="row flex q-pa-sm content-around item-center alt_cont_Modalmapa_home " >

                            <div @click="Seleccionardirec(dir)" class="col-1 text-center "  >
                               <img style="margin-left:15%" src="statics/images/objetivo.png" class="img-icon" height="25px" width="25px" alt="" />
							</div>

							 <div class="col-1 text-center " >
                               <q-btn v-on:click="__alertConfirm(dir.id)" :disabled="buttonDisabledEli" icon="delete_forever" round flat ></q-btn>
							</div>

							<div @click="Seleccionardirec(dir)" class="col-7">
                               <p style="margin-left:12%"  class="mb-0 font-m Modalmapa_limite_texto bold capitalize " >{{dir.nom_dir}}</p>
							</div>

							<div  class="  col-2">
								<q-btn flat style="margin-left:15%" icon="visibility" @click="Verdirec(dir)"></q-btn>
							</div>

						</div>
					 	<q-separator />
					</div>



					 <!--<div  @click="Pasarubicacion(),Mdirecciones = false" class=" row flex  item-center alt_cont_Modalmapa_home ">
						    <div class="col-2 text-center "  >
                               <img src="statics/images/objetivo.png" height="20px" width="20px" alt="" />
							</div>

							 <div class="col-8">
                               <p style="margin-left:20px" class="mb-0  Modalmapa_limite_texto " >Mi casa</p>
							 </div>


					    </div>-->

					 <q-separator />

					</q-card-section>

				</q-card>
				</q-dialog>

			<!-- fin modal de direcciones -->

			<!-- metodos de pago -->

				<div v-if="modoPickup || modoDelivery || modoReservacion "  class="flex flex-center mb-30vh scroll-sm ">
						<div class="row w-100 ">
                        <div class="col-12 q-mt-md">
						<label class="font-lg bold" for="">Metodos de pago</label>
						</div>
						<div class="col-12">
							<!-- <q-select :dense="true" borderless class="input" name="cuenta" option-value="id" option-label="nombre" v-model="cuentas" :options="tiposdeCuenta"  @input="cargardatapago" /> -->
							<q-input  @click="modalcuentas = true "   readonly borderless v-model="cuentas_txt" v-bind:class="{ 'input-black': cuentas_txt!='', 'input': cuentas_txt=='' }" label="Seleccione un metodo de pago " :dark="dark2"  />
						</div>
					</div>
				</div>

				<!-- precios -->

				<div class="flex flex-center fixed-end-precios q-mt-md " style="z-index:2">
				<div :class="modoPickup || modoDelivery || modoReservacion ? '' : 'mb-20vh' " class="row padding-precios-fixed  " >
					<div class="col-12 text-center ">
						<p class="mb-0 font-lg bold" >Detalles de precios</p>
					</div>
					<div class="col-12 flex item-center content-between q-mt-md ">
                      <p class="mb-0 font-lg bold " >Subtotal</p>
					  <p class="mb-0 font-lg bold " >{{ precioBs(total*doomialiado.pre_tasa) }} // {{ precio(total) }}</p>
					</div>
					<div class="col-12 flex item-center content-between q-mt-sm " v-if="modoDelivery || modoReservacion">
                      <p class="mb-0 font-lg " >Gastos de envio</p>
					  <p class="mb-0 font-lg bold " > {{ precioBs((this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100))*doomialiado.pre_tasa) }} // {{ precio(this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100)) }}</p>
					</div>
					<!--<div class="col-12 flex item-center content-between q-mt-sm ">
                      <p class="mb-0 font-lg " >Cargo del local</p>
					  <p class="mb-0 font-lg bold " >2.000.000,00 // 5.00 $</p>
					</div>-->
					<div class="col-12 flex item-center content-between q-mt-sm ">
                      <p class="mb-0 font-lg bold " >Total</p>
					  <p class="mb-0 font-lg bold " >{{ precioBs((total+(this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100)))*doomialiado.pre_tasa) }} // {{ precio(total + (this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100))) }}</p>
					</div>

				<q-btn label=""  v-if="modoPickup || modoDelivery || modoReservacion " type="button" @click="verificarPedido" size="md" flat style="text-transform:none!important" class="q-mt-sm" v-bind:class="{ ' q-mb-md w-100 cl_standar rounded': cuentas_txt!='' && ((modoDelivery && Ubicacionesdisponibles!='') || (modoReservacion && Ubicacionesdisponibles!='' && Diasdisponibles!='Seleccione aqui' && Horasdisponibles2!='Seleccione aqui') || (modoPickup)), ' q-mb-md w-100 btn-border-pink rounded': cuentas_txt=='' || (modoDelivery && Ubicacionesdisponibles=='') || (modoReservacion && (Ubicacionesdisponibles=='' || Diasdisponibles=='Seleccione aqui' || Horasdisponibles2=='Seleccione aqui')) || (modoPickup && cuentas_txt=='') }" :disabled="btnpago">{{txtbtn}}</q-btn>


				</div>
			</div>

				<!-- modal de cuentas -->

				 <q-dialog v-model="modalcuentas">
					<q-card class="w-100" style="height:50vh" >

						<q-card-section class="q-pt-none">

						   <div v-for="cuenta in tiposdeCuenta" class="">

							   <p @click="cargardatapago(cuenta), dark2 = true" class="q-mt-md mb-0 " >{{cuenta.nombre}}</p>
							   <q-separator ></q-separator>

						   </div>

						</q-card-section>

					</q-card>
				 </q-dialog>

				 <!-- modal pago -->

				  <q-dialog v-model="modalpagar" maximized >
					<q-card style="width:100% !important;height:100vh !important" >

						<q-card-section class="q-pt-none">

						 <div class="row text-center q-mt-lg q-mb-lg flex content-between item-center ">
							<div class="col-2 flex">
								<q-img  src="statics\Iconos\Icono_Atras.png" @click="modalcuentas = false,modalpagar = false" width="20px" height="30px" ></q-img>
								<!-- <q-btn class="btn_back" @click="modalcuentas = false"  flat color="primary" icon="keyboard_arrow_left" label="" v-close-popup /> -->
							</div>
								<div class="col-8">
									<p class="mb-0 titulo-header q-mt-sm " >Procesar pago</p>
							</div>
							<div class="col-2">

							</div>
						</div>

						<div class="row">
							<div class="col-12 ">
								<p class="mb-0 font-lg bold  " >Datos para el pago</p>
								<q-input
								readonly
								style="background-color:rgb(236, 236, 236);line-height:20px"
								type="textarea"
								autogrow
								borderless
								class="soft-border font-xl "
								v-model="Datospago"
								/>
							</div>
						</div>

						<div class="flex flex-center ">
							<div class="row w-100 ">
								<div class="col-12 q-mt-md">
								<q-uploader
									color="black"
									label="Cargue la prueba de pago"
									accept=".jpg, .pdf, image/*"
									flat
									bordered
									class="w-100"
									:hide-upload-btn="true"
									ref="uploader"
									@added="file_selected"
									@removed="file_remove"
								/>
								</div>
							</div>
						</div>

						<div  class="flex flex-center mb-30vh " v-if="!retorno">
							<div class="row w-100 ">
							<div class="col-12 q-mt-md">
							<label class="font-lg bold" for="">Ingresa el número de referencia</label>
							</div>
							<div class="col-12">
									<q-input type="text" :dense="true" v-model="Referencia"  borderless v-bind:class="{ 'input-black': Referencia!='' && Referencia.length>3, 'input': Referencia.length<4 }" :dark="Referencia!='' && Referencia.length>3" name="refe"  emit-values />
							</div>
							</div>
						</div>





						</q-card-section>

						<div class="flex flex-center btn-fixed-end q-mb-lg ">

						<div class="row w-100 q-pl-lg q-pr-lg " >
							<div class="col-12 w-100 flex item-center content-between q-mt-sm ">
							<p class="mb-0 font-lg bold " >Total</p>
							<p class="mb-0 font-lg bold " >{{ precioBs((total+(this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100)))*doomialiado.pre_tasa) }} // {{ precio(total + (this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100))) }}</p>
							</div>
						</div>

							<q-btn @click="verificarpago" label="Enviar" size="md" class="btn-listo-fixed" flat v-bind:class="{ 'q-ma-md w-100 cl_standar rounded': ((!retorno && Referencia!='' && Referencia.length>3) || retorno) && select_img!='', 'q-ma-md w-100 btn-border-pink rounded': (!retorno && Referencia.length<4) || select_img=='' }"></q-btn>
						</div>

					</q-card>
				 </q-dialog>

				<!--<div v-if="modoPickup || modoDelivery || modoReservacion " class="">

				<div class="row q-mt-md ">
					<div class="col-12 flex item-center content-between ">
						<p class="mb-0 font-md bold" >Total</p>
						<div class="flex item-center ">
							 <p class="mb-0" >bsf 3.245.000.00 / </p>
                             <p class="mb-0" >/ $ 6.00</p>
						</div>

					</div>
				</div>

				</div>-->




				<!-- pago movil -->
                 <!-- <div v-if="pagoTransferencia" class="">
                    <div  class="flex flex-center  ">
						<div class="row w-100 ">
                        <div class="col-12 q-mt-md">
						<label class="font-xl bold" for="">Banco receptor</label>
						</div>
						<div class="col-12">
							<q-input dense="true"  borderless class="input" name="sexo"  emit-values />
						</div>
					</div>
				</div>

				 <div  class="flex flex-center  ">
						<div class="row w-100 ">
                        <div class="col-12 q-mt-md">
						<label class="font-xl bold" for="">Rif / Cedula de identidad</label>
						</div>
						<div class="col-12">
							<q-input dense="true"  borderless class="input" name="sexo"  emit-values />
						</div>
					</div>
				</div>

				 <div  class="flex flex-center  ">
						<div class="row w-100 ">
                        <div class="col-12 q-mt-md">
						<label class="font-xl bold" for="">Numero Telefónico</label>
						</div>
						<div class="col-12">
							<q-input dense="true"  borderless class="input" name="sexo"  emit-values />
						</div>
					</div>
				</div>

				 <div  class="flex flex-center  ">
						<div class="row w-100 ">
                        <div class="col-12 q-mt-md">
						<label class="font-xl bold" for="">Ingresa el numero de referencia</label>
						</div>
						<div class="col-12">
							<q-input dense="true"  borderless class="input" name="sexo"  emit-values />
						</div>
					</div>
				</div>

				<div class="flex flex-center ">
					<div class="row w-100 ">
                        <div class="col-12 q-mt-md">
						<q-uploader
							url="http://localhost:4444/upload"
							color="grey"
							label="Cargue la prueba de pago"
							flat
							bordered
							class="w-100"
						/>
                        </div>
					</div>
				</div>

				<div class="row q-mt-md ">
					<div class="col-12 flex item-center content-between ">
						<p class="mb-0 font-md bold" >Total</p>
                        <p class="mb-0" >$ 6.00</p>
					</div>
				</div>

				 </div>
                  -->
				<!-- fin Pago movil -->
				<!-- metodos de pago -->

			<!-- metodos de pago -->



			<!-- <div class="q-ma-md">
				<label>Referencia</label>
				<q-input
					borderless
					v-model="referencia"
					name="referencia"
					class="input soft-border"
					type="text"
					:rules="[ v => v && v.length > 3 || 'Ingrese la referencia' ]" />
			</div> -->


			<div class="col-12 text-center" v-if="msjError">
				<p style="color:red;">{{ msjError || 'Error'}}</p>
			</div>



			<q-dialog maximized  v-model="Resumen">
				<q-card style="height: 100% !important;width: 100% !important;" >
				   <div class="blue cont_home fuente q-pl-md q-pr-md q-pb-md ">
					<div>

						<div class="row text-center q-mt-lg q-mb-lg flex content-between item-center ">
							<div class="col-2 flex q-pl-sm ">
								<q-img @click="Resumen = false" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
							</div>
								<div class="col-8">
									<p class="mb-0 titulo-header  " >Resumen de orden</p>
							</div>
							<div class="col-2">

							</div>
						</div>

						<!-- orden -->

						<div class="row  q-ml-sm q-mr-lg q-mt-md  ">
							<div class="col-12">
								<p class="mb-0 font-lg bold  " > {{doomialiado.nombre }} </p>
							</div>
						</div>
						<div class="row cont_carrito q-mt-md rounded-1 q-pl-md q-pr-md q-pt-sm q-pb-sm q-ml-xs q-mr-xs"
							v-for="item in datos" :key="item.id"
						>

							<div class="col-12 flex content-between item-center content-between ">
							    <p class="m-0 font-lg bold w-80 ">{{ item.nombre }}</p>
								<p class="mb-0 font-lg bold" > X{{ item.cantidad }}</p>
							</div>

							<div class="col-12 ">
								<p class="m-0 nombre-doomi" v-if="item.adicionales ||  item.acompañantes">
									<span v-if="item.adicionales">
										<b> Adicionales: </b>{{ item.adicionales }}
									</span> <br/>
									<span v-if="item.acompañantes">
										<b> Acompañantes: </b>{{ item.acompañantes }}
									</span> &nbsp;
								</p>
								<p class="m-0 nombre-doomi" v-if="item.notas">
									<span >
										<b>Nota:</b>{{ item.notas }}
									</span> &nbsp;
								</p>
								<div class="flex item-center content-between ">
									<div class="">
										<p class="font-lg bold  mb-0">{{ precioBs(item.precio*doomialiado.pre_tasa) }} // {{ precio(item.precio) }}</p>
									</div>


								</div>
							</div>
						</div>

							<!-- fin orden -->

							<div class="row q-ml-sm q-mr-lg q-mt-lg ">
								<div class="col-12 flex item-center content-between q-mt-md ">
			                      <p class="mb-0 font-lg bold " >Subtotal</p>
								  <p class="mb-0 font-lg bold " >{{ precioBs(total*doomialiado.pre_tasa) }} // {{ precio(total) }}</p>
								</div>
								<div class="col-12 flex item-center content-between q-mt-sm " v-if="modoDelivery || modoReservacion">
			                      <p class="mb-0 font-lg " >Gastos de envio</p>
								  <p class="mb-0 font-lg bold " > {{ precioBs((this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100))*doomialiado.pre_tasa) }} // {{ precio(this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100)) }}</p>
								</div>
								<div class="col-12 flex item-center content-between q-mt-sm ">
			                      <p class="mb-0 font-lg bold " >Total</p>
								  <p class="mb-0 font-lg bold " >{{ precioBs((total+(this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100)))*doomialiado.pre_tasa) }} // {{ precio(total + (this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100))) }}</p>
								</div>
							</div>



						<q-separator></q-separator>

						<div class="row q-ml-sm q-mr-lg q-mt-md q-mb-md ">
							<div class="col-12">
									<p class="mb-0 font-lg bold  " > Modalidad de entrega</p>
									<p class="mb-0 font-lg" > {{this.modalidad}} </p>
							</div>
						</div>

							<q-separator></q-separator>

							<div class="row q-ml-sm q-mr-lg q-mt-md q-mb-md ">
							<div class="col-12">
									<p class="mb-0 font-lg bold  " > Método de pago</p>
									<p class="mb-0 font-lg  " > {{this.cuentas_txt}} </p>
							</div>
						</div>

							<div class="row q-ml-sm q-mr-lg q-mt-md q-mb-md " v-if="!retorno">
							<div class="col-12">
									<p class="mb-0 font-lg bold  " > Número de referencia</p>
									<p class="mb-0 font-lg  " > {{this.Referencia}} </p>
							</div>
						</div>

							<q-separator></q-separator>

							<div v-if="modoDelivery" class="row q-ml-sm q-mr-lg q-mt-md q-mb-md mb-10vh ">
							<div class="col-12">
									<p class="mb-0 font-lg bold  " > Dirección de entrega</p>
									<div class="flex item-center">
										<q-icon style="font-size:30px" class="" name="pin_drop" />
									<p class="mb-0 q-ml-sm font-lg w-80  " >{{this.Ubicacionesdisponibles}} </p>
									</div>
							</div>
						</div>



					</div>
					<div class="col-12 text-center" v-if="msjError">
						<p style="color:red;">{{ msjError || 'Error'}}</p>
					</div>



					<!-- <div v-else class="text-white" style="margin-top: 100px;">
						<center><b><i>Cargando...</i></b></center>
					</div> -->
				</div>
				<div class="flex flex-center btn-fixed-end  ">
					<q-linear-progress  query color="grey" class="q-mt-sm" v-if="loadingBar"/>
					<q-btn :disabled="botonDisabled" @click="onSubmit" label="Listo" type="submit" size="md" flat class="q-ma-md btn-listo-fixed w-100 cl_standar rounded"></q-btn>
				</div>
				</q-card>
			</q-dialog>



			<!--<input type="hidden" v-model="cuenta" name="cuenta" />
			<input type="hidden" v-model="pedido" name="pedido" />-->


			<!-- modal direcciones agregar y editar -->

			 <q-dialog v-model="Opcionesdirecciones" maximized >
				<q-card style="height: 100% !important;width: 100% !important;z-index:9999" >
					<q-card-section class="p-0">
					       <div class="fuente">

                                <q-img style="position:fixed ; top:0;margin-top:10%;z-index:2;left:0;margin-left:10%" @click="Opcionesdirecciones = false" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
                                <div style="position:fixed ; bottom:0;margin-bottom:30vh;z-index:2;left:5px" class="bg-white  flex flex-center item-center circle ">
						           <q-img   src="statics\Iconos\Icono_ubicacion_guardada.png" width="50px" height="50px" @click="ubicacionactual()" ></q-img>
								</div>
								<google-map @ObtenerEmit="ObtenerEmit" :setprueba="centrar_direction">
									<slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
										<input name="lat_dir" id="lat_dir" v-model="lat" type="hidden" />
										<input name="lon_dir" id="lon_dir" v-model="lon" type="hidden" />
									</slot>
								</google-map>

								<div class="w-100 bg-white vh20 flex  item-center fixed-bottom q-pl-md q-pr-md ">

									<div class="row">

										<div class="col-12">
                                            <p class="font-xl bold q-mt-md q-mb-md " >Confirmar dirección de envio</p>
										</div>

										<div class="col-12">
                                            <p class=" font-lg" >{{text2}}</p>
										</div>

										<div class="col-12 text-center ">
                                            <q-btn class="cl_standar w-100 q-mt-md q-mb-md  rounded " @click="verificardireccion" label="confirmar" size="md" ></q-btn>
										</div>

									</div>

								</div>

								<!-- <div class="">
									<div class="">
										<q-form id="form_direc" @submit="onSubmitD"  class="">
											<div  class="row">
												<div style="position:fixed ; top:0;margin-top:10%;z-index:2 " class="col-12 flex flex-center ">
													<label class="w-80" for="">Nombre de esta dirección</label>
													<q-input borderless class="input-map w-80 "  name="nombre_dir" v-model="nombre" placeholder="ejemplo: mi casa"  type="text" hint=""/>
												</div>
											</div>

											<div class="row">
												<div style="position:fixed ; top:0;margin-top:30%;z-index:2 " class="col-12 flex flex-center  ">
													<label class="w-80" for="">Dirección</label>
													<q-input borderless class="input-map w-80 " style="background-color: #fff" autogrow v-model="text" type="textarea" name="direc_dir" />
												</div>
											</div>


											<div class="row">
												<div style="position:fixed ; bottom:0;margin-bottom:20%;z-index:2 " class="col-12 flex flex-center">
													<label class="w-80" for="">Punto de referencia (opcional)</label>
													<q-input borderless class="input-map w-80 " style="background-color: #fff" autogrow v-model="ref" name="ref_dir"  type="textarea" label="" />
												</div>
											</div>


											<div style="position:fixed ; bottom:0;margin-bottom:5%;z-index:2 " class="row w-100 ">
												<div class="w-100 flex flex-center " >
													<q-btn style="margin:5px;" size="md" label="Guardar" type="submit" class="  cl_standar soft-border" :disabled="buttonDisabled" />
												</div>
											</div>
										</q-form>
									</div>
								</div> -->

							</div>
					</q-card-section>
				</q-card>
			</q-dialog>



		</q-form>


			<!-- Modal -->

			<q-dialog v-model="formulario">
				<q-card style="width:90%" >
					<q-card-section class="q-pt-none">
	                    <q-form id="form_direc" @submit="onSubmitD"  class="">
							<div class="text-right">
		                      <q-img     width="15px" height="15px" class=" q-mr-md q-mt-md " v-close-popup  src="statics\Iconos\X.png" ></q-img>
							</div>

							<div class="text-center q-mt-md ">
		                      <p class="font_tituloslg" >Descripción de dirección </p>
							</div>

			                <div class="">
								<div class="">
									<div class="row q-mt-md ">
										<!-- <div  class="col-12 flex flex-center  ">
											<label class="w-80" for="">Dirección</label>
											<q-input borderless class="input w-80 " style="background-color: #fff" autogrow v-model="text" type="textarea" name="direc_dir" />
										</div> -->

										<div class=" col-12 flex flex-center">
											<label class="w-100 flex flex-center q-mb-md text-center" for=""><b>Para mejor experiencia escribe con exactitud este campo</b></label>
											<q-input placeholder="Dirección ej: Av. José Joaquín Veroes con calle 12" class="w-90" autogrow v-model="text" type="textarea" name="direc_dir" :dense="true"  >
											</q-input>
										</div>
									</div>

									<div  class="row q-mt-md ">
										<!-- <div class="col-12 flex flex-center ">
											<label class="w-80" for="">Nombre de esta dirección</label>

											<q-input borderless class="input w-80 "  name="nombre_dir" v-model="nombre" placeholder="ejemplo: mi casa"  type="text" hint=""/>
										</div> -->

										<div class=" col-12 flex flex-center q-mt-md">
											<q-input  class="w-90" name="nombre_dir" :dense="true" v-model="nombre" placeholder="Alias de la direccion ej: Mi casa"  type="text" hint="" >
											</q-input>
									    </div>
									</div>
									<div class="row q-mt-md ">
										<!-- <div  class="col-12 flex flex-center">
											<label class="w-80" for="">Punto de referencia (opcional)</label>
											<q-input borderless class="input w-80 " style="background-color: #fff" autogrow v-model="ref" name="ref_dir"  type="textarea" label="" />
										</div> -->

										<div class=" col-12 flex flex-center q-mt-md">
											<q-input  class="w-90"   autogrow v-model="ref" name="ref_dir"  type="textarea"  placeholder="Punto de referencia (obligatorio)" :dense="true"  >
											</q-input>
										</div>
									</div>
									<div  class="row w-100 q-mt-lg ">
										<div class="col-12 q-mt-md flex flex-center ">
											<q-btn  size="md" label="Guardar" type="submit" class="  q-mb-md cl_standar rounded w-90" :disabled="buttonDisabled" />
										</div>
									</div>
								</div>
							</div>
						</q-form>
					</q-card-section>
				</q-card>
			</q-dialog>
			<!-- fin modal direcciones agregar y editar -->
	</div>
</template>

<script>
const moment = require('moment');
import { mapGetters } from 'vuex'
import GoogleMap from 'components/GoogleMap';
import { LocalStorage } from 'quasar'

export default {

components: {GoogleMap},
/*props:{
	idCuenta: {required: true, validator: v => +v === +v},
	idMetodo: {required: true, validator: v => +v === +v},
	idPedido: {required: true, validator: v => +v === +v},
},*/

data(){
	return{
		dark : false,
		dark2 : false,
		formulario: false,
		Mapapickup: false,
		Opcionesdirecciones: false,
		Datospago: ``,
		Ubicacion_actual: this.$store.state.Estado,
		Ubicacion_nueva: this.$store.state.Estado,
		Dias : false ,
		Horas : false,
		Horas2 : false,
		Mdirecciones : false,
		modalidadesDeTrabajo: [],
		modalidad: '',
		modalcuentas: false,
		modalpagar: false,
		tiposdeCuenta : [],
		direcciones: [],
		cuentas: '',
		cuentas_txt: '',
		loadingBar: false,
		msjError: null,
		alert: false,
		select_img:'',
    	imgLabel: 'Subir Imagen',
		referencia: null,
		cuenta: null,
		//metodo: this.idMetodo,
		pedido: null,
		Modal : false,
		Fin:false,
		Resumen : false,
		mostrarModalMapa : false,
    	marker_delivery: null,
    	direccion_pickup: null,
    	tot_del: 0,
    	ran_min_km: 0,
		pre_del_km: 0,
		pre_del_ext: 0,
		Horasdisponibles: 'Seleccione aqui',
		Horasdisponibles2: 'Seleccione aqui',
		Diasdisponibles: 'Seleccione aqui',
		Ubicacionesdisponibles: '',
		Referencia: '',
		lat: null,
		lon: null,
		referencia_dir: null,
		ubicacion_dir: null,
		botonDisabled: false,
		buttonDisabledEli: false,
		horas_p: [],
		horas_pro: [],
		fechas_p: [],
		fecha_actual_api: null,
		map: null,
		options: {
			mapTypeControl: false,
			streetViewControl: false,
			fullscreenControl: false,
			zoomControl: true,
			scaleControl: true,
			gestureHandling: "greedy",
			zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            backgroundColor: "#fff",
            zoomControlOptions: {
			    position: google.maps.ControlPosition.RIGHT_CENTER
			}
		},
		googlee: google,
		DSERU: "",
    	DIRDISU: "",
    	marker_n: null,
    	marker_n2: null,
    	text:null,
    	text2:null,
		nombre:null,
		ref:null,
		buttonDisabled: false,
		cargarautocomplete: true,
		centrar_direction: null,
		txtbtn: 'Calculando gastos de Envio',
		btnpago: true,
		lat_ver: null,
		lon_ver: null,
		txt_leyenda: 'Mi ubicación',
		direc_autocomplete: false,
		abrir_modal_direc: false,
		porcentaje_ganancia: 0,
		retorno: false
	};
},

// created(){
// 	if(!this.cuenta || !this.metodo)
// 		this.$router.push({path: '/Home'});
// },


watch: {
	img(){
		const limite_megas = 5;
	},
},
mounted() {
	//console.log(this.doomialiado);
	this.cargarDirecciones(0);
	/*
	if(this.doomialiado.modalidad_delivery)
		this.modalidadesDeTrabajo.push('Delivery');

	if(this.doomialiado.modalidad_pickup)
		this.modalidadesDeTrabajo.push('Pickup');

	if(this.doomialiado.modalidad_programados)
		this.modalidadesDeTrabajo.push('Programado');
	*/
	this.$api.general.recuperarData(`/restaurantes/${this.doomialiado.id}/modalidades`)
		.then(data => {
			if (data.modalidad_delivery)
				this.modalidadesDeTrabajo.push('Delivery');
			if (data.modalidad_pickup)
				this.modalidadesDeTrabajo.push('Pickup');
			if (data.modalidad_programados && data.horarios_programados>0)
				this.modalidadesDeTrabajo.push('Programado');
		})
	/*
	this.$api.general.recuperarData(`/horarios/verificar-horarios?id_res=${this.pedidos[0].producto.id_restaurante}&del=${this.doomialiado.modalidad_delivery}&pic=${this.doomialiado.modalidad_pickup}&pro=${this.doomialiado.modalidad_programados}`)
		.then(data => {
			if(data.r){
				this.fecha_actual_api = data.fecha_act;
				if(data.pic.length>0 && this.doomialiado.modalidad_pickup)
					this.modalidadesDeTrabajo.push('Pickup');
				if(data.pro.length>0 && this.doomialiado.modalidad_programados)
					this.modalidadesDeTrabajo.push('Programado');
				if(data.del.length>0 && this.doomialiado.modalidad_delivery)
					this.modalidadesDeTrabajo.push('Delivery');
				if(data.pic.length==0 && data.pro.length==0 && data.del.length==0){
					this.modalidad='En este momento el Doomi no tiene modalidad disponible, intente más tarde';
				}
			}
		});
*/

	this.$api.general.recuperarData(`/cuentas/app?id_res=${this.pedidos[0].producto.id_restaurante}`)
		.then(data => {
			this.tiposdeCuenta = data;
			this.cuentas = 'Seleccione';
		});
},
methods: {
	cargarcat(cat){
		if(cat){
			if(cat[0]){
				let txt_cat = '';
				for (var i = 0; i < cat.length; i++) {
					if(txt_cat=='')
					 	txt_cat= cat[i].nombre;
					else
						txt_cat+= ', '+cat[i].nombre;
				}
				return txt_cat;
			}else{
				return cat;
			}
		}
	},
	ObtenerEmit(data){
		if(!this.direc_autocomplete)
			this.text2 = data;
		else
			this.direc_autocomplete = false;

	},
	verificardireccion(){
		//if(this.text.indexOf('Unnamed Road') > -1)
		// 	this.text = '';
		this.formulario = true;
	},
	async ubicacionactual(){
	    var cordenadas = {}
		await this.$api.general.geo().then(ubicacionActual => {
		    cordenadas = ubicacionActual;
		})
		const latlng = new google.maps.LatLng(parseFloat(cordenadas.lat), parseFloat(cordenadas.lon));
		this.centrar_direction=latlng;
	},
	Listardirec(){

		var selfd = this;
		setTimeout(function(){
			const autocomplete =  new google.maps.places.Autocomplete(document.getElementById('direc'));
			autocomplete.addListener("place_changed", () => {
				const place = autocomplete.getPlace();
				//console.log('DIRECCIONNOM',place.formatted_address);
				//console.log('DIRECCIONLOC',place.geometry.location);
				selfd.Opcionesdirecciones = true;
				//selfd.text = '';
				selfd.direc_autocomplete = true;
				selfd.text2 = place.formatted_address;
				selfd.marcardirec(place.geometry.location);
				//selfd.centrar_direction = null;
				//selfd.centrar_direction = place.geometry.location;
				//console.log(selfd.centrar_direction);
				//selfd.loc_new_dir = place.geometry.location;
				//console.log(selfd.nom_new_dir,selfd.loc_new_dir);
			});
		},300);

	},
	marcardirec(dir){
		//console.log(dir);
		this.centrar_direction = null;
		var selfd = this;
		setTimeout(function(){
			selfd.centrar_direction=dir;
		},500);
	},
	__alertConfirm(ideli) {
		this.buttonDisabledEli = true;
		swal.fire({
			text: "¿Desea eliminar esta dirección?",
			icon: "warning",
			showCancelButton: true,
			confirmButtonText: 'Si',
			cancelButtonText: 'No'
		})
		.then((res) => {
			if (res.value) {
				this.$api.general.eliminarruta('direcciones/delete/'+ideli)
				.then(r => {
					if(r.r){
						let direc_top = LocalStorage.getItem('DIRECCIONSELECT');
						if(direc_top==ideli){
							LocalStorage.set('DIRECCIONSELECT',"0");
						}
						this.cargarDirecciones(0);
						this.abrir_modal_direc=true;
						swal.fire('Genial!!',r.msj||r.msg,'success');
					}else
						swal.fire('Oops...',r.msj||r.msg,'error');
					this.buttonDisabledEli = false;
				})
				.catch(err => {
					swal.fire('Oops...',err.msj||err.msg,'error');
					this.buttonDisabledEli = false;
				});
			}else{
				this.buttonDisabledEli = false;
			}
		});
	},
	notificar(text){
		return this.$store.dispatch('swalInfo', {text});
	},
	precio(val){
		return this.$utils.precio(val, '$')
	},
	precioBs(val){
		return this.$utils.precio(val, 'Bs ')
	},
	 Home(){
             this.Fin = true;
             var thishome = this;
             setTimeout (() => thishome.$router.push({ path:'/Home' }) , 4000 );
		},

	Pasardias(fec){
        this.Diasdisponibles = fec;
        var fec_new = fec.split("/");
        var fec_new = fec_new[2]+'-'+fec_new[1]+'-'+fec_new[0];
        this.$api.general.recuperarData(`horarios/programados-horas?modo=programado&id_res=${this.doomialiado.id}&fec=${fec_new}`)
			.then(r => {
				if(r[0]){
					this.horas_pro = [];
					for (var i = 0; i < r.length; i++) {
						let rangos = this.obtenerrango(r[i].inicio,r[i].fin,'minutes');
						for (var j = 0; j < rangos.length; j++) {
							this.horas_pro.push(rangos[j]);
						}
					}
				}
			}).catch(err => {
				console.log(err);
			});
	},

	Pasarhoras(hora){
        this.Horasdisponibles = hora;
	},
	Pasarhoras2(hora){
        this.Horasdisponibles2 = hora;
	},
	Mapa(){
        this.$router.push({ path:'/Verdireccion' });
	},

      Nuevaubicacion(){
			 this.$router.push({ path:'/Agregarubicacion' });
			 this.$store.state.Ubicacion_nueva = false;
			 this.$store.state.Ubicacion_actual = true;
		},

	   Ventanamapa(){
            this.$router.push({ path:'/Misdirecciones' });
		},

	checkImg(file){
		const max_MB_size = 5;

		if(!file) return;
		if(file.size > max_MB_size*1e+6){
			this.img = null;
			this.$q.notify({
				message: 'La imagen es demasiado grande',
				icon: 'announcement',
				color: 'cyan-4',
			});
			return;
		}
		this.imgLabel = '';
	},
	file_selected(file) {
		this.select_img = file[0];
    },
    file_remove(file) {
    	this.select_img = '';
    },
    verificarpago(){
		if(this.select_img == '') {
			this.notificar('Seleccione una imagen')
			return;
		}
    	if(!this.retorno && (this.Referencia == '' || this.Referencia.length<4)) {
			this.notificar('Ingresa una referencia valida')
			return;
		}
		this.Resumen = true;
    	this.modalcuentas = false;
    	this.modalpagar = false;
    },
	verificarPedido(){
		if((this.modalidad == 'Delivery' || this.modalidad == 'Programado') && this.Ubicacionesdisponibles == '') {
			this.notificar('Selecciona la dirección de entrega')
			return;
		}
		if(this.modalidad=='Programado' && this.Diasdisponibles=='Seleccione aqui'){
			this.notificar('Selecciona una fecha de entrega')
			return;
		}
		if(this.modalidad=='Programado' && this.Horasdisponibles2=='Seleccione aqui'){
			this.notificar('Selecciona una hora de entrega')
			return;
		}
		// if(this.modalidad=='Pickup' && this.Horasdisponibles=='Seleccione aqui'){
		// 	this.notificar('Selecciona una hora estimada')
		// 	return;
		// }
		if(this.cuentas == '' || this.cuentas == 'Seleccione') {
			this.notificar('Selecciona un metodo de pagó')
			return;
		}
		/*if(this.Referencia == '' || this.Referencia.length<4) {
			this.modalpagar = true;
			if(this.select_img!=''){
				var selt2 = this;
				setTimeout(function(){
					selt2.$refs.uploader.addFiles([selt2.select_img]);
				},700);
			}
			this.notificar('Ingresa una referencia valida')
			return;
		}
		if(this.select_img == '') {
			this.modalpagar = true;
			this.notificar('Seleccione una imagen')
			return;
		}*/
		this.modalpagar = true;
		if(this.select_img!=''){
			var selt2 = this;
			setTimeout(function(){
				selt2.$refs.uploader.addFiles([selt2.select_img]);
			},700);
		}
		//this.Resumen = true;
	},
	onSubmit(){
		// Verificar datos:

		const data = new FormData(document.getElementById('form-pago'));
		//data.append("modalidad",this.modalidad);
		data.append("cuenta", this.cuentas);
		data.append("img_pago", this.select_img);
		data.append('tasa_dia',this.doomialiado.pre_tasa);
		if(this.modalidad=='Delivery' || this.modalidad=='Programado'){
			data.append("dir",this.ubicacion_dir);
			data.append("ref",this.referencia_dir);
			data.append("refe", this.Referencia);
			data.append("lat",this.lat);
			data.append("lon",this.lon);
			data.append("precio_del",this.tot_del+((this.tot_del*this.porcentaje_ganancia)/100));

		}
		if(this.modalidad=='Programado'){
			data.append("fecha_pro",this.Diasdisponibles);
			data.append("hora_pro",this.Horasdisponibles2);
		}
		if(this.modalidad=='Pickup'){
			data.append("hora_pic",this.Horasdisponibles);
      		data.append("refe", this.Referencia);
		}

		this.botonDisabled = true;
		this.loadingBar = true;
		this.$store.dispatch('carrito/checkout', data)
			.then(r => {
				this.botonDisabled = false;
				this.loadingBar = false;
				if(r.errr){
					swal.fire('Oops...',r.msj,'error');
				}else{
					this.Home();
					this.tot_del= 0;
					this.pre_del_km= 0;
					this.pre_del_ext= 0;

					/*swal.fire({
						text: r,
						icon: 'success',
						showCancelButton: true,
						cancelButtonText: 'Cerrar',
						confirmButtonText: 'Ver ordenes',
						showClass: {popup: 'animate__animated animate__fadeIn'},
						hideClass: {popup: 'animate__animated animate__fadeOut'},
					}).then(res => { if(res.isConfirmed) this.$router.push('Misordenes') });*/
				}

			})
			.catch(e => {
				console.log(e);
				this.botonDisabled = false;
				this.loadingBar = false;

			});

		/*this.$api.general.post('/pedidos/pago', data)
			.then(data => {
				this.$store.dispatch('swalInfo', {
					title: 'Pago enviado',
					text:'El pago está siendo verificado',
					icon: 'success',
				});
				this.$router.push({path: '/Misordenes'});
			})
			.catch(e => {this.loadingBar = false});*/
	},
	cargarDirecciones(direc_new){

		const data_user = this.$api.cliente.obtenerDatos();
		if(data_user.id){
			this.$api.general.recuperarDataConData('direcciones/', {id_cli:data_user.id})
				.then(r => {
					this.direcciones = r;
					let dir_sel = 0;
					if(direc_new==0){
						if(LocalStorage.has('DIRECCIONSELECT')){
							if(LocalStorage.getItem('DIRECCIONSELECT')!=0)
								dir_sel = LocalStorage.getItem('DIRECCIONSELECT');
						}else{
							this.Seleccionardirec(0);
						}
						if(dir_sel!=0){
							//this.Seleccionardirec(0);
						//}else{
							let filter_dir = r.filter((e)=>{return e.id==dir_sel;});
							this.Seleccionardirec(filter_dir[0]);
						}
					}else{
						let filter_dir = r.filter((e)=>{return e.id==direc_new;});
						this.Seleccionardirec(filter_dir[0]);
					}

				}).catch(err => {
					console.log(err);
				});
		}
	},
	async Seleccionardirec(direc){
		this.btnpago = true;
		this.txtbtn = 'Calculando gastos de Envio';
		if(direc && direc!='new'){
			this.lat = parseFloat(direc.lat_dir);
			this.lon = parseFloat(direc.lon_dir);
			this.Ubicacionesdisponibles = direc.nom_dir+": "+direc.dir_dir;
			this.ubicacion_dir = direc.dir_dir;
			this.referencia_dir = direc.ref_dir;
			this.calcularkmenvio();
		}else{
			var cordenadas = {};
			await this.$api.general.geo().then(ubicacionActual => {
				cordenadas = ubicacionActual;
			})

			var geocoder = new google.maps.Geocoder();
			const latlng = {
				lat: parseFloat(cordenadas.lat),
				lng: parseFloat(cordenadas.lon),
			};
			this.lat = parseFloat(cordenadas.lat);
			this.lon = parseFloat(cordenadas.lon);
			this.referencia_dir = '';
			var self = this;
			geocoder.geocode({ location: latlng }, (results, status) => {
				if (status === "OK") {
					if(results[0]){
						if(direc!='new'){
							self.ubicacion_dir = results[0].formatted_address;
							self.Ubicacionesdisponibles = results[0].formatted_address;
						}else{
							self.Opcionesdirecciones = true;
							self.marcardirec(results[0].geometry.location);
						}
					}
				}
			});
			this.calcularkmenvio();
		}
		//this.vermapa(1);
		if(this.abrir_modal_direc){
			this.Mdirecciones = true;
			this.abrir_modal_direc = false;
		}else
			this.Mdirecciones = false;
	},
	calcularkmenvio(){
		this.btnpago = true;
		this.txtbtn = 'Calculando gastos de Envio';
		var self = this;
		var rut = {
			destination: this.lat + "," + this.lon,
			origin: this.doomialiado.lat + "," + this.doomialiado.lon,
			optimizeWaypoints: true,
			travelMode: 'DRIVING',
		};
		if(this.lat){
			var distance_ruta = new google.maps.DirectionsService();
			distance_ruta.route(rut, (results, status) => {
				if (status === "OK") {
					var point = results.routes[ 0 ].legs[ 0 ];
				    var kmd = self.ran_min_km * 1000;
				    if(point.distance.value>kmd){
				     	var dif = (point.distance.value - kmd)/1000;
				     	var tot_ext = dif*self.pre_del_ext;
			        	self.tot_del=self.pre_del_km+parseFloat(tot_ext.toFixed(2));
			        }else{
			        	self.tot_del=self.pre_del_km;
			        }
			        this.btnpago = false;
					this.txtbtn = 'Procesar pago';
				}
			});
		}else{
			this.btnpago = false;
			this.txtbtn = 'Procesar pago';
		}
	},
	cargardatapago(datos){
		this.cuentas = datos.id;
		this.cuentas_txt = datos.nombre;
		this.Datospago = datos.detalles;
		this.modalcuentas = false;
		this.porcentaje_ganancia= 0;
		this.retorno=false;
		if(this.modoDelivery || this.modoReservacion){
			if(datos.retorno){
				this.porcentaje_ganancia= datos.porcentaje;
				this.retorno=true;
				this.Referencia='';
			}
		}else{
			if(datos.retorno){
				this.retorno=true;
				this.Referencia='';
			}
		}
		//this.modalpagar = true;
		/*if(this.select_img!=''){
			var selt2 = this;
			setTimeout(function(){
				selt2.$refs.uploader.addFiles([selt2.select_img]);
			},700);
		}*/
	},
	buscarconfi(){
		if(this.modalidad=='Delivery' || this.modalidad=='Programado'){
			this.$api.general.recuperarData('configuracion/')
			.then(r => {
				if(r.minimo){
					this.ran_min_km = r.kmd;
					this.pre_del_km = r.minimo;
					this.pre_del_ext = r.precio;
					this.tot_del = r.minimo;
					this.calcularkmenvio();
				}
			}).catch(err => {
				console.log(err);
			});
			if(this.modalidad=='Programado')
				this.Cargarfechas();
			//this.direcciones = 'Seleccione...';
		}else{
			//this.Cargarhoras();
			this.pre_del_km = 0;
			this.pre_del_ext = 0;
			this.tot_del = 0;
			this.btnpago = false;
			this.txtbtn = 'Procesar pago';
		}
	},
	Cargarhoras(){
		this.$api.general.recuperarData(`horarios/programados-app?modo=pickup&id_res=${this.doomialiado.id}`)
			.then(r => {
				if(r[0]){
					this.horas_p = [];
					for (var i = 0; i < r.length; i++) {
						let fec_i = r[i].inicio;
	  					if(r[i].inicio<r[i].fin){
							let fec_ini_v = moment(fec_i).format('YYYY-MM-DD HH:mm:ss');
							if(fec_ini_v<this.fecha_actual_api)
								fec_i = this.fecha_actual_api;
	  					}
	  					let rangos = this.obtenerrango(fec_i,r[i].fin,'minutes');
						for (var j = 0; j < rangos.length; j++) {
							this.horas_p.push(rangos[j]);
						}
					}
				}
			}).catch(err => {
				console.log(err);
			});
	},
	Cargarfechas(){
		this.$api.general.recuperarData(`horarios/programados-app?modo=programado&id_res=${this.doomialiado.id}`)
			.then(r => {
				this.fechas_p = [];
				for (var j = 0; j < r.length; j++) {
					var veri = this.fechas_p.filter((e)=>{return e==moment(r[j].inicio).format('DD/MM/YYYY')});
					if(veri.length==0)
						this.fechas_p.push(moment(r[j].inicio).format('DD/MM/YYYY'));
				}
			}).catch(err => {
				console.log(err);
			});
	},
	CargarhorasPro(){
		this.$api.general.recuperarData(`horarios/programados-app?modo=programado&id_res=${this.doomialiado.id}`)
			.then(r => {
				if(r[0]){
					this.horas_p = [];
					for (var i = 0; i < r.length; i++) {
						let rangos = this.obtenerrango(r[i].inicio,r[i].fin,'minutes');
						for (var j = 0; j < rangos.length; j++) {
							this.horas_p.push(rangos[j]);
						}
					}
				}
			}).catch(err => {
				console.log(err);
			});
	},
	obtenerrango(fec_ini, fec_fin, tipo) {
	  let ini = moment(fec_ini)
	  let fin = moment(fec_fin)
	  let dif = fin.diff(ini, tipo)
	  dif = dif/30;
	  let rango = []
	  for (let i = 1; i < dif; i++) {
	  	let min = i*30;
	    rango.push(moment(fec_ini).add(min, tipo).format('hh:mm A'))
	  }
	  return rango;
	},
	setDirecciones(){
		/*if(this.modoPickup) {
			this.$api.general.geo().then(ubi_actual => {
				this.direccion_pickup = null;
				this.direccion_pickup = {
					origin: {
						lat: ubi_actual.lat,
						lon: ubi_actual.lon,
					},
					destination: {
						lat: this.doomi.lat,
						lon: this.doomi.lon,
					},
				};
			});
		}

		else if(this.modoDelivery){
			this.marker_delivery = null;


			var lat_rep = null;
			var lon_rep = null;
			if(this.pedido.repartidor && (this.pedido.id_estatus==9 || this.pedido.id_estatus==10)){
				lat_rep = this.pedido.repartidor.lat;
				lon_rep = this.pedido.repartidor.lon;
			}
			this.direccion_pickup = {
				destination: {
					lat: this.pedido.lat_dir_p,
					lon: this.pedido.lon_dir_p
				},
				origin: {
					lat: this.doomi.lat,
					lon: this.doomi.lon,
				},
				repartidor: {
					lat: lat_rep,
					lon: lon_rep
				},
				sts: this.pedido.id_estatus
			};
		}*/
	},
	horarioDeHoy(iddomi){
		return this.$store.getters['doomis/horarioDoomialadoDeHoy2'](iddomi);
	},
	cat_menu(cm){
		var cat_m = '';
		if(cm){
			for (var j = 0; j <  cm.length; j++) {
	           	if(cat_m=='')
	            	cat_m +=  cm[j].nombre;
	        	else
	              	cat_m +=  ", "+cm[j].nombre;
	        }
	    }
        return cat_m;
	},
	onSubmitD(evt){
		evt.preventDefault();

		this.buttonDisabled = true;
		const data_user = this.$api.cliente.obtenerDatos();

		const formData = new FormData(document.getElementById('form_direc'));
		formData.append('lat_dir',document.getElementById('lat_dir').value);
		formData.append('lon_dir',document.getElementById('lon_dir').value);
		//REGISTRAR
		formData.append('id_cli',data_user.id);
		this.$api.general.post('direcciones/add', formData)
			.then(r => {
				if(r.r){ //si todo esta bien, se borran los datos de los campos
					this.Opcionesdirecciones = false;
					this.formulario = false;
					this.nombre= '';
					this.text= '';
					this.ref= '';
					this.cargarDirecciones(r.id);
				}else
					swal.fire('Oops...',r.msj||r.msg,'error');
				this.buttonDisabled = false;
			})
			.catch(err => {
				swal.fire('Oops...',err.msj||err.msg,'error');
				this.buttonDisabled = false;
			});

	},
	Verdirec(dir){
		this.lat_ver = dir.lat_dir;
		this.lon_ver = dir.lon_dir;
		this.txt_leyenda = dir.nom_dir;
		this.Mapapickup = true;
		this.vermapa(3);
	},
	async vermapa(op){
		//console.log(op);
		//if(op!='2' && op!='0' && op!='1')
		//	this.Modalmapa= true;
		var cordenadas = {};
		await this.$api.general.geo().then(ubicacionActual => {
	      	cordenadas = ubicacionActual;
	    }).catch(err => {console.log(err);});

		var self = this;
		setTimeout(function(){ //para que cargue bien en el modal
			if (typeof google) {
	            self.DSERU = new google.maps.DirectionsService();
	            self.DIRDISU = new google.maps.DirectionsRenderer({suppressMarkers: true});
	        }

			var styles = [
	            { featureType: "poi.business", elementType: "labels", stylers: [{ visibility: "off" }] },
	            { elementType: 'labels.text.fill', stylers: [{ color: '#294dce' }] }
	        ];

			var styledMap = new google.maps.StyledMapType(styles, { name: "Styled Map" });
			self.options.center = new google.maps.LatLng(cordenadas.lat, cordenadas.lon);
			var map = new google.maps.Map(
	            self.$refs.mapa2,
	            self.options
	        );
	        map.mapTypes.set('map_style', styledMap);
	        map.setMapTypeId('map_style');
	        self.DIRDISU.setMap(map);
	        if(op!='2' && op!='0'){ //funcion para el pickup y cuando se seleccionar una direccion
	        	if(op=='1'){
	        		self.txt_leyenda = 'Mi ubicación';
	        		var data_map = {
				        origin: self.doomialiado.lat + "," + self.doomialiado.lon,
				        destination: self.lat + "," + self.lon,
				        optimizeWaypoints: true,
				        travelMode: 'DRIVING'
		        	};
	        	}else if(op=='3'){
	        		var data_map = {
				        origin: self.doomialiado.lat + "," + self.doomialiado.lon,
				        destination: self.lat_ver + "," + self.lon_ver,
				        optimizeWaypoints: true,
				        travelMode: 'DRIVING'
		        	};
	        	}else{
	        		self.txt_leyenda = 'Mi ubicación';
	        		var data_map = {
			            origin: cordenadas.lat + "," + cordenadas.lon,
			            destination: self.doomialiado.lat + "," + self.doomialiado.lon,
			            optimizeWaypoints: true,
			            travelMode: 'DRIVING'
			        };
	        	}
	        	self.DSERU.route(data_map, function(response, status) {
	        		if (status === 'OK') {
		        		//console.log(response.request);
		        		if(op==1){
		        			var point = response.routes[ 0 ].legs[ 0 ];
			        		var kmd = self.ran_min_km * 1000;
			        		if(point.distance.value>kmd){
			        			var dif = (point.distance.value - kmd)/1000;
			        			var tot_ext = dif*self.pre_del_ext;
			        			self.tot_del=self.pre_del_km+parseFloat(tot_ext.toFixed(2));
			        		}else{
			        			self.tot_del=self.pre_del_km;
			        		}
			        	}
		        		self.DIRDISU.setDirections(response);
		        		var image = {url: "statics/images/map-azul.png",size: new google.maps.Size(81, 81),origin: new google.maps.Point(0, 0),anchor: new google.maps.Point(40, 71),scaledSize: new google.maps.Size(75, 75)};
		        		var image2 = {url: "statics/images/map-aqui-estoy.png",size: new google.maps.Size(81, 81),origin: new google.maps.Point(0, 0),anchor: new google.maps.Point(40, 71),scaledSize: new google.maps.Size(75, 75)};

		        		if(op=='1'){
		        			var marker_n = new google.maps.Marker({
							 	position: {lat: parseFloat(response.request.origin.location.lat()), lng: parseFloat(response.request.origin.location.lng())},
							 	icon: image
							});
							var marker_n2 = new google.maps.Marker({
							 	position: {lat: parseFloat(response.request.destination.location.lat()), lng: parseFloat(response.request.destination.location.lng())},
							 	icon: image2
							});
		        		}else{
		        			var marker_n = new google.maps.Marker({
							 	position: {lat: parseFloat(response.request.origin.location.lat()), lng: parseFloat(response.request.origin.location.lng())},
							 	icon: image2
							});
							var marker_n2 = new google.maps.Marker({
							 	position: {lat: parseFloat(response.request.destination.location.lat()), lng: parseFloat(response.request.destination.location.lng())},
							 	icon: image
							});
		        		}

						self.verleyendadelevery = true;
						marker_n.setMap(map);marker_n2.setMap(map);
		            } else {
		            	if(status === 'ZERO_RESULTS'){
		            		swal.fire('Oops...','Google maps no puede establecer una ruta con tu destino, intente con otra ruta','error');
		            		if(op=='1'){
		            			self.direcciones = 'SELECCIONE...';
		            			self.ubicacion = null;
								self.referencia = null;
								self.lat = null;
								self.lon = null;
								self.UbicacionDialog = false;
		            		}
		            	}
		                console.log('ocurrio un error intenta mas tarde');
		            }
		        });
	    	}

        }, 150);
	},
},

computed : {
	...mapGetters({
		pedidos: 'carrito/pedidosDetallados',
		total: 'carrito/total',
		subtotal: 'carrito/subtotal',
		subtotalAdicionales: 'carrito/subtotalAdicionales',
		hayItems: 'carrito/items',
	}),
	modoDelivery(){
		return this.modalidad ? this.modalidad.toLowerCase() == 'delivery' : false;
	},

	modoPickup(){
		return this.modalidad ? this.modalidad.toLowerCase() == 'pickup' : false;
	},

	modoReservacion(){
		return this.modalidad ? this.modalidad.toLowerCase() == 'programado' : false;
	},

	labelModalidad(){ return this.modalidad ? '' : 'Seleccione...' },

	doomialiado(){
		if(this.pedidos.length > 0)
			return this.$store.getters['carrito/doomi_actual'];
		//return this.$store.getters['doomis/porId'](this.pedidos[0].producto.id_restaurante);
		return {};
	},
	datos(){
		if(!this.hayItems){
			this.botonProcesar = false;
			return [];
		}

		this.botonProcesar = true;
		this.botonDisabled = false;

		return this.pedidos.map(item => ({
			id: item.id || item.ID,
			id_producto: item.producto.id,
			cantidad: item.cantidad,
			nombre: item.producto.nombre,
			descripcion: item.producto.descripcion,
			precio: item.TOTAL || item.producto.precio_usd,
			adicionales: item.adicionales.map(e => e.nombre+'('+e.cantidad+')').join(', '),
			acompañantes: item.acompañantes.map(e => e.nombre+'('+e.cantidad+')').join(', '),
			// precio_adicionales: this.precio(item.SUBTOTAL_ADICIONALES),
			// subtotaladicionado: this.precio(item.TOTAL),
			notas: item.notas,
			img: item.producto.img,
		}), this);
	},

},







};</script>
