<template>
	<div id="Pedidos fuente q-pa-md ">
		<div  class="blue cont_home" >
			<div class=" q-pl-md q-pr-md ">

				<div class="row text-center q-mt-lg   flex content-between item-center ">
					<div class="col-2">
					</div>
					<div class="col-8">
						<p class="mb-0 titulo-header " >Pedidos disponibles</p>
					</div>
					<div class="col-2">
					</div>
				</div>

		<div v-for="pedido in listaPedidos" :key="pedido.id" @click="clickVerMas(pedido)" class="row bg_cont q-mt-lg q-pa-md text-white rounded-1">
			<div class="col-2  row">
					<div class="col-12 text-center  ">
						<img class="circle" height="35px" width="35px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
					</div>

					 <div class="col-12 text-center">
                        <p class="font-xl m-0 bold" >|</p>
					 </div>

					<div class="col-12 text-center">
						<img class="circle" height="35px" width="35px" :src=" pedido.cliente.foto || 'statics/images/user.png'" >
					</div>
			</div>
			<div class="col-6 row">
				 <div class="col-12 q-ml-sm ">
					<p class="text-black mb-0 " >Recogida</p>
					<p class="text-black mb-0 limitar-texto-pedido "  > {{ pedido.doomi_ubicacion }}</p>
				</div>
				 <div class="col-12 q-mt-md q-ml-sm ">
					<p class="text-black mb-0 " >Entrega</p>
					<p class="text-black mb-0 limitar-texto-pedido "  > {{ pedido.direccion }}</p>
				</div>
			</div>
			<div class="col-4 flex flex-center item-center  ">
				<div class="text-center">
                    <p class=" mb-0 w-100 text-black " >Ganancia:</p>
					<p class=" font-md w-100 mb-0 " >
						<span class="font_titulosxl clr_light_pink " >
							{{$utils.precio(pedido.pago_del, '$')}}
						</span>
					</p>
				</div>
				<!-- <q-btn @click="clickVerMas(pedido)" label="Ver más" size="sm" color="primary" class=" soft-border cl_standar"></q-btn> -->
			</div>
		</div>

		<!-- <q-card
			flat bordered
			class="my-card degradado q-ml-sm q-mr-sm text-white rounded-1 row flex"
			v-for="pedido in listaPedidos" :key="pedido.id">



			<q-card-section horizontal class="item-center" >
				<q-card-section class="col-12 pl-0 row">
					<div class="col-12 text-center flex ">
						<img class="circle" height="50px" width="50px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
                        <div class="">
							<p class="text-black mb-0 " >Recogida</p>
							<p class="text-white mb-0"  > {{ pedido.direccion }}</p>
						</div>
					</div>

					 <div class="col-12 text-center">
                        <p class="font-xl m-0 bold" >|</p>
					 </div>

					<div class="col-12 text-center">
						<img class="circle" height="50px" width="50px" :src=" pedido.cliente.foto || 'statics/images/user.png'" >
					</div>
				</q-card-section>

				<q-card-section style="" class="p-0  col-8  ">
					<div class="text-caption text-white w-90 ">
						<div class="q-mb-xs q-mt-md ">
							<div class=" q-mt-sm q-mb-xs parrafos m-0"> <b>{{ pedido.doomi_nombre }}</b>
							</div>
						</div>

						<p class="m-0 nombre-doomi q-mt-md q-mb-md " > <b> Destino: {{ pedido.direccion }}</b></p>
						<div class="text-right">
							<p class="m-0 parrafos-sm q-mb-md " >{{ $utils.timeAgo(pedido.creado) }}</p>
						</div>
						<div class="text-center q-mt-sm q-mb-sm ">
							<q-btn @click="clickVerMas(pedido)" label="Ver más" size="sm" class=" soft-border cl_standar"></q-btn>
						</div>

					</div>
				</q-card-section>
			</q-card-section>
		</q-card> -->


		<div v-if="!listaPedidos || listaPedidos.length == 0" class=" col-12 rounded text-center q-mt-md q-mb-md q-pa-md">
			<center><b><i>{{ msg }}</i></b></center>
		</div>

		<div style="height:50px" class="w-100"></div>


			</div>
		</div>
	</div>
</template>

<script>


export default {

data(){
	return {
		pedidos: [],
		msg: 'Cargando...',
	}
},


created() {
	/******AL DAR CLICK PARA ATRAS QUEDE EN LA MISMA VENTANA********/
	/*const rutaactual = this2.$router.currentRoute.path;
    if(rutaactual=='/Pedidos/' || rutaactual=='/Pedidos'){
		history.pushState(null, null, location.href);
	    history.back();
	    history.forward();
	    window.onpopstate = function () { history.go(1); };
	}
    /******FIN AL DAR CLICK PARA ATRAS QUEDE EN LA MISMA VENTANA********/
	this.$q.loading.show();
	this.$store.dispatch('actualizarTodo');
	this.imprimirpedidos();
},
mounted(){
	this.$socket.removeListener('ActualizarAppRep')
	var this2 = this;
	this.$socket.on('ActualizarAppRep', function (r) {
	  var data = this2.$auth.obtenerDatos();
      if(data){
        if(data.text_tipo_usu!='Cliente'){
          const rutaactual = this2.$router.currentRoute.path;
          if(rutaactual=='/Pedidos/' || rutaactual=='/Pedidos'){
            this2.imprimirpedidos();
          }
        }
      }
    })
},

computed: {
	listaPedidos(){
		// const id_rechazados = this.$store.getters['repartidor/id_pedidos_rechazados'];
		return this.pedidos || [];
	}, 
},

methods: {
	clickVerMas(pedido){
		this.$router.push({
			path:'/Vermas1/' + pedido.id,
		});
	},
	imprimirpedidos(){
		this.$api.general.geo().then(ubi => {
			let no_ped = this.$store.getters['repartidor/id_pedidos_rechazados'];
			ubi.no = no_ped.join(',');
			this.$api.general.recuperarDataConData('/pedidos/repartidor', ubi).then(resp => {
				this.$q.loading.hide();
				if(!Array.isArray(resp)) return;
				// this.$store.commit('ordenes/SET_BUSQUEDA_PEDIDOS', resp);
				const data_user = this.$api.repartidor.obtenerDatos();
				if(data_user.trabajar)
					this.pedidos = resp;
				else
					this.pedidos = [];


				if(!this.pedidos || this.pedidos.length == 0)
					this.msg = 'No hay pedidos';
			}).catch(e => {console.log(e); this.$q.loading.hide()});
		}).catch(e => {console.log(e); this.$q.loading.hide()});
	}
},


}; </script>
