<template>
	<div class="fuente">

		 <div class="row text-center q-mt-lg q-mb-md flex content-between item-center ">
			<div class="col-2">
				<q-img @click="atras()" class="q-ml-xl" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
              <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Menu_configuraciones" /> -->
			</div>
			  <div class="col-8">
                 	<p class="mb-0 titulo-header " >Mi perfil</p>
			  </div>
			<div class="col-2">

			</div>
		</div>

		<div class="">
			<div class="row">
				<div class="col-12">
					<div class="">
						<q-form id="form_perfil" @submit="onSubmit" @reset="onReset" class="">
							<input type="hidden" name="iden" value="" v-model="iden">

							<div class="row text-center ">
								<div class="col-12">
									<q-input
										@input.native="procesarImagen"
										ref="inputFoto"
										style="display:none;"
										type="file"
										accept="image/*" borderless name="foto"
										/>

									<q-img :src="foto" class="img-perfil circle q-pa-lg " :ratio="16/11" spinner-color="black" >
											<q-btn
												style=" position: absolute; z-index: 2;margin-top: 60%;"
												icon="camera_alt" round class="cl_standar "
												@click="$refs.inputFoto.$el.click()">
											</q-btn>
									</q-img>
								</div>

							</div>



							<!-- <div class="row">
								<div class="col-12 q-mt-md ">
									   <label for="">Subir imágen</label>
									<q-file borderless class="input"  bottom-slots @input.native="procesarImagen" name="foto" label="" counter>
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>

										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>
							</div> -->
							<!--
							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">ID *</label>
									<q-input borderless class="input" v-model="iden" label="" lazy-rules readonly />
								</div>
							</div>
							-->

							<!-- <div class="row">
								<div class="col-3 q-mt-md pr-2">
									<label for="">V/E</label>
								<q-select borderless class="input" name="identificacion" v-model="identificacion" :options="identificaciones"  />
								</div>

								<div class="col-9 q-mt-md ">
									<label for="">cédula *</label>
								<q-input borderless class="input" name="cedula" v-model="cedula" label="" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 7 carácteres']" />
								</div>
							</div> -->

							<div class="flex flex-center q-mt-md ">
								<div class="row w-80 flex item-center borde-input ">
									<div class="col-9 q-mb-sm ">
										<q-input borderless :dense="true" input-class="font-xl" class="" name="nombre" v-model="nombre"  label="" emit-values map-options/>
									</div>
									<div style="justify-content:flex-end" class="col-3 flex ">
									<p class="mb-0 bold font-xl " >Nombre</p>
								    </div>
								</div>
							</div>
<br/>
							<div class="flex flex-center  ">
								<div  class="row w-80 flex item-center borde-input ">

									<div class="col-9 q-mb-sm ">
										<q-input borderless :dense="true" class="" input-class="font-xl" name="apellido"  v-model="apellido"  label="" emit-values map-options/>
									</div>
									<div style="justify-content:flex-end" class="col-3 flex ">
									<p class="mb-0 bold font-xl" >Apellido</p>
								    </div>
								</div>
							</div>
<br/>

<!--
							<div class="flex flex-center q-mt-md">
								<q-input :dense="true" class="w-80" name="apellido" v-model="apellido" label="" suffix="Apellido" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
							</div>
 -->

							<div class="flex flex-center  ">
								<div class="row w-80 flex item-center  borde-input ">
									<div class="col-9">
										<q-input borderless label="" :dense="false" input-class="font-xl" class="" name="correo" v-model="correo"  lazy-rules :rules="[ val => val && val.length > 5 || 'Mínimo 5 carácteres']"/>
									</div>
									<div style="justify-content:flex-end" class="col-3 flex ">
									<p class="mb-0 bold font-xl " >Correo</p>
								    </div>
								</div>
							</div>
<br/>
<!--
							<div class="flex flex-center q-mt-md ">
								<q-input :dense="true" class="w-80" suffix="Correo" name="correo" type="email" v-model="correo" label="" hint="" lazy-rules :rules="[ val => val && val.length > 5 || 'Mínimo 5 carácteres']" />
							</div>
 -->
							<div class=" flex flex-center ">
								<div class="row w-80">
                                   <div class="col-12 q-mt-md ">
									<label class="bold font-xl " for="">Celular</label>
								</div>
								<div class="col-3">
                  <q-input mask="+###" :dense="true" class="w-90" type="text" label="" input-class="font-xl" hint="" v-model="cod_area_tlfn"  :rules="[ v => v && v.length>=1 ]"/>
								</div>
								<div class="col-9">
                  <q-input :mask="mask_telefono" :dense="true" class="" name="telefono" input-class="font-xl" type="text" v-model="telefono" label="" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
								</div>
							</div>

							<div class=" flex flex-center ">
								<div class="row w-80">
                                   <div class="col-12 q-mt-md ">
									<label class="bold font-xl" for="">whatsapp</label>
								</div>
								<div class="col-3">
                  <q-input mask="+###" :dense="true" class="w-90" type="text" label="" input-class="font-xl" hint="" v-model="cod_area_ws" :rules="[ v => v && v.length>=1 ]" />
								</div>
								<div class="col-9">
                  <q-input :mask="mask_telefono" :dense="true" class="" name="whatsapp" input-class="font-xl" type="text" v-model="whatsapp" label="" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
								</div>
							</div>



						<div class="flex flex-center q-mt-xl ">
							<div class="col-12">
								<p class="mb-0  bold font-xl " > Sexo: </p>
							</div>
						</div>

					 <div class="flex q-mt-md mb-20vh flex-center">
                            <q-icon @click="sexo = 'M' , EstadoM = true , EstadoF = false " :class="EstadoM ? 'Masculino' : '' "  style="border: solid 1px blue" class="fas fa-mars fa-2x q-mr-md soft-border q-pa-md " ></q-icon>
							 <q-icon @click="sexo = 'F' , EstadoF = true , EstadoM = false " :class="EstadoF ? 'Femenino' : ''" style="border: solid 1px fuchsia" class="fas fa-venus fa-2x q-ml-md q-pa-md soft-border " ></q-icon>
							 	<q-input  style="display:none" :dense="true" class="w-80 q-mt-md  " name="sexo" v-model="sexo"  label="Sexo" emit-values />

							 <!-- <p class="mb-0 font-xl bold  " >¿Te sientes como?</p>
							<div style="height:40px" @click="Estado = !Estado" :class=" Estado ? 'bg-pink' : 'bg-blue' " class=" q-mt-sm bg-pink rounded   w-80 ">

								<div class="col-12 ">
								</div>
								<div class="col-12">

								</div>
							</div> -->
						</div>

<!--
							<div class="flex flex-center  ">
								<div class="row w-80 ">
                                    <div class="col-12 q-mt-md">
									<label for="">Sexo</label>
								    </div>
									<div class="col-12">
										<q-input :dense="true" class="" name="sexo" v-model="sexo"  label="" emit-values map-options/>
									</div>
								</div>
							</div>
 -->
<!--

							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">Facebook (opcional)</label>
								<q-input borderless class="input" name="facebook" v-model="facebook" label="" hint="" lazy-rules :rules="[ val => !val || val.length > 5 || 'Mínimo 5 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">Instagram (opcional)</label>
								<q-input borderless class="input" name="instagram" v-model="instagram" label="" hint="" lazy-rules :rules="[ val => !val || val.length > 5 || 'Mínimo 5 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md ">
									<label for="">Usuario *</label>
								<q-input borderless class="input" name="usuario" v-model="usuario" label="" hint="" lazy-rules :rules="[ val => val && val.length > 2 || 'Mínimo 3 carácteres']" />
								</div>
							</div> -->


							<!-- <input type="hidden" name="pass" value="" v-model="pass"> -->
<!--
							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">País</label>
									<q-select borderless class="input" name="pais" v-model="pais" :options="paises" option-value="id" option-label="nombre" emit-value map-options />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md ">
									<label for="">Estado</label>
									<q-select borderless class="input" name="estado" v-model="estado" :options="estados" label="" option-value="id" option-label="nombre" emit-value map-options />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">Ciudad</label>
									<q-select borderless class="input" name="ciudad" v-model="ciudad" :options="ciudades" label="" option-value="id" option-label="nombre" emit-value map-options />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">Dirección</label>
									<q-input borderless autogrow name="direccion" style="background-color: rgb(236, 236, 236)" class="soft-border" v-model="direccion" type="textarea" label="" />
								</div>
							</div> -->

							<!-- <div class="row">
								<div class="col-12 q-mt-md">
									<google-map>
										<slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
											<input name="lat" v-model="lat" type="hidden" />
											<input name="lon" v-model="lon" type="hidden" />
										</slot>
									</google-map>
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md ">
									<label for="">Punto de referencia (opcional)</label>
								<q-input borderless autogrow class="soft-border" style="background-color: rgb(236, 236, 236)" name="punto_referencia" v-model="punto_referencia" type="textarea" label="" />
								</div>
							</div> -->
							<br/>
							<div class="col-12 text-center" v-if="msjError">
								<p style="color:red;">{{ msjError || 'Error al actualizar datos'}}</p>
							</div>

							<div class="row btn-fixed-end-double  ">

								<!-- <q-linear-progress v-if="loadingBar" query color="grey" class="q-mt-sm" /> -->
								<q-linear-progress v-if="loadingBar" color="grey" :value="upload_progress" class="q-mt-sm"/>

								<div class="col-12  text-center">
									<q-btn  label="Guardar cambios" size="md" type="submit" class="cl_standar rounded w-80 font-lg bold " :disabled="buttonDisabled" />
								</div>

								<div class="col-12 q-mt-md q-mb-lg text-center">
									<q-btn label="Cambiar contraseña" size="md" type="submit" class="btn-border-black rounded w-80 font-lg bold " to="/Cambiarcontraseña" />
								</div>
							</div>




						</q-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { EventBus } from '../router/index';
import GoogleMap from 'components/GoogleMap'

export default {

components: {GoogleMap},

data () {
	return {
		upload_progress: 0,
		EstadoF: null,
		EstadoM: null,
		mask_telefono: '(####) ### - ####',
		loadingBar: false,
		CodigoA: '+58',
		cod_area_ws: '',
		cod_area_tlfn: '',
		posicionInicialMarcador: {},
		iden: null,
		buttonDisabled: false,
		msjError: false,
		isPwd: false,
		model: null,
		foto: 'statics/images/user.png',
		nombre: null,
		apellido: null,
		pass: null,
		pass2: null,
		correo: null,
		sexo: null,
		telefono: null,
		whatsapp: null,
		/*
		usuario: null,
		identificacion: null,
		cedula: null,
		facebook: null,
		instagram: null,
		direccion: null,
		pais: null,
		paises: [],
		estado: null,
		estados: [],
		ciudad: null,
		ciudades: [],
		punto_referencia: null,
		mapConfig: {zoom:8},
		identificaciones: ['V', 'E' , 'J'],
		*/
		// generos: [
		// {label:'Masculino', value:'M'},
		// {label:'Femenino', value:'F'}
		// ],
	}
},


created(){
	/*
	this.$api.cliente.recuperarPaises()
		.then(paises => this.paises = paises);
	*/

	EventBus.$on('EmitirLAT', (data) => {
			console.log("CODIGO BUS" , data);
	});
},


watch: {
	/*
	pais(id_pais){
		this.$api.cliente.recuperarEstados(id_pais)
			.then(estados => {
				this.estados = estados;
				// this.estado = this.ciudad = null;
			});
	},
	estado(id_estado){
		this.$api.cliente.recuperarCiudades(id_estado)
			.then(ciudades => {
				this.ciudades = ciudades;
				// this.ciudad = null;
			});
		},
	*/
},


mounted(){
	if(this.$auth.obtenerTipoUsuario() == 'cliente'){
		let datos_cli = this.$auth.obtenerDatos();
		if(!datos_cli.nombre || !datos_cli.apellido)
			swal.fire('Oops...','Debes completar tu perfil para una mejor experiencia','info');
	}
	this.cargarDatos();
},

methods: {

     atras(){
		this.$router.back();
	},

	onSubmit(evt){
		evt.preventDefault();

		this.msjError = false;
		this.buttonDisabled = true;

		const formData = new FormData(document.getElementById('form_perfil'));

		let tl = this.extraerDigitos(this.cod_area_tlfn) +'-'+ this.extraerDigitos(this.telefono);
		let ws = this.extraerDigitos(this.cod_area_ws) +'-'+ this.extraerDigitos(this.whatsapp);
		formData.set('telefono', tl);
		formData.set('whatsapp', ws);

		this.loadingBar = true;
		this.$api.cliente.editar(formData, progEvt => {this.upload_progress=parseFloat((progEvt.loaded / progEvt.total).toFixed(2), 10)})
			.then(async r => {
				await this.$store.dispatch('actualizarTodo');
				self = this;
				setTimeout(function(){
					swal.fire({icon: 'success', title:'Perfil actualizado'});
					self.$router.push({path:'/Home'})
				}, 700);

			})
			.catch(err => {
				this.msjError = err.msj;
				this.buttonDisabled = false;
			})
	},

	procesarImagen(evt){ this.$utils.procesarImagen(evt, this) },

	cargarDatos(){
		const datos = this.$api.cliente.obtenerDatos();

		if(!datos) return;

		const telefono = datos.telefono || '';
		const whatsapp = datos.whatsapp || '';

		this.iden = datos.id;
		this.correo = datos.correo;
		this.direccion = datos.direccion;
		this.usuario = datos.usuario;
		this.nombre = datos.nombre;
		this.apellido = datos.apellido;
		this.cedula = datos.cedula;
		this.identificacion = datos.identificacion;
		this.sexo = datos.sexo;
		this.cod_area_tlfn = telefono.split('-')[0];
		this.cod_area_ws = whatsapp.split('-')[0];
		this.telefono = telefono.split('-').pop();
		this.whatsapp = whatsapp.split('-').pop();
		this.pais = datos.id_pais;
		this.estado = datos.id_estado;
		this.ciudad = datos.id_ciudad;
		this.punto_referencia = datos.punto_referencia;

		// this.mapConfig.center = {lat:datos.lat, lon:datos.lon};
		this.lat = datos.lat;
		this.lon = datos.lon;

		if(datos.sexo=='M')
			this.EstadoM = true;
		else if(datos.sexo=='F')
			this.EstadoF = true;

		let centroMarcador = {lat:datos.lat, lon:datos.lon};
		// this.posicionInicialMarcador = centroMarcador
		this.$root.$emit('setMarker', centroMarcador);
		if(datos.foto)
			this.foto = datos.foto;
	},

	extraerDigitos(str) {
		// extraerDigitos('h01a mund0') -> '010'
		return (str.match(/\d/g) || []).join('');
	},

	onReset(){},
}


};
</script>
