<template>
<div >
             <div  class="">
			<div class="flex item-center flex-start q-mt-sm">
				<q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Sesionrepartidor" />
				<h6 style="margin-top:0px;margin-bottom:0px;margin-left:10%" class="titulo-header"  >Recuperar contraseña</h6>
			</div>
		</div>
       
       <div class="q-mt-md" >
      <div class="row">
            <div style="margin-left:10%;" class="">
      <label>Correo</label>
      </div>
           <div class="col-12 flex flex-center">
     <q-input borderless class="w-80 input rounded" v-model="email"  type="email" hint=""  :rules="[ val => val && val.length > 10 || 'Ingrese una dirección de correo válida']" />
           </div>
      </div>
      </div>
     <div class="flex flex-center" >
          <q-btn class="cl_standar soft-border q-mt-md " size="sm" label="Enviar" type="Guardar" />
     </div>
</div>
</template>
