<template>
	<div class="fuente" style="overflow: hidden !important;">
		<div class="text-center q-mt-md">
			<q-btn  flat color="primary" class="btn-atras btn_back fa fa-angle-left fa-2x"  @click="Atras()" />
			<h6 class="titulo-header m-0">Registro de repartidor</h6>
		</div>

		<div class="q-pa-md">
			<div class="row">
				<div class="col col-md-12">
					<div class="q-pl-md q-pr-md q-pb-md">
						<q-form id="form_registro_repartidor" @submit="onSubmit" @reset="onReset" class="q-gutter-sm">
						<div class="row">
							<div class="col-12 text-center">
								<q-img :src="img" class="img-perfil rounded-1" :ratio="16/11" spinner-color="white"/>
							</div>
						</div>

						<div class="row">
							<div class="col-12 flex flex-center">
								<q-file class="w-100" :dense="true" bottom-slots @input.native="procesarImagen" name="img" accept="image/*" @input="checkImg" label="Subir imagen" counter>
									<template v-slot:prepend>
										<q-icon name="cloud_upload" @click.stop />
									</template>

									<template v-slot:append>
										<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
									</template>
								</q-file>
							</div>
						</div>

						<div class="row q-mt-lg ">
							<div class="col-12 flex flex-center">
								<q-input class="w-100" :dense="true" v-model="id" label="ID *" lazy-rules readonly />
							</div>
						</div>

						<div class="row q-mt-lg ">
							<div class="col-3 flex flex-center">
								<q-select class="w-90" :dense="true" label="ID" v-model="identificacion" name="identificacion" :options="identificaciones" />
							</div>

							<div class="col-9 flex flex-center">
								<q-input class="w-100" :dense="true" label="Escibe tu cédula" v-model="cedula" name="cedula"  hint="" lazy-rules :rules="[ val => val && val.length > 6 || 'Mínimo 7 carácteres']" />
							</div>
						</div>

						<div class="row q-mt-md ">
							<div class="col-12 flex q-mt-md flex-center">
								<q-input class="w-100" :dense="true" label="Escribe tu nombre *" v-model="nombre" name="nombre"  hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
							</div>
						</div>

						<div class="row q-mt-md ">
							<div class="col-12 q-mt-md flex flex-center">
								<q-input class="w-100" :dense="true" label="Escribe tu apellido *" v-model="apellido" name="apellido"  hint="" lazy-rules :rules="[ val => val && val.length > 2 || 'Mínimo 3 carácteres']" />
							</div>
						</div>

						<div class="col-12 text-center q-mt-lg">
							<q-img :src="img_rif || 'statics/images/logo.png'" class="img-perfil-1" :ratio="16/11" spinner-color="white"/>
						</div>

						<div class="col-12 q-mt-lg">
							<q-file accept="image/*" @input="checkImg" class="w-100" :dense="true" label="Imagen Rif (Opcional) *" bottom-slots  @input.native="procesarImagen" name="img_rif"  counter>
								<template v-slot:prepend>
									<q-icon name="cloud_upload" @click.stop />
								</template>

								<template v-slot:append>
									<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
								</template>
							</q-file>
						</div>

						<div class="row q-mt-lg ">
							<div class="col-12 flex flex-center">
							<q-select class="w-100" :dense="true" label="Tipo de vehículo *" v-model="tipo_veh" name="tipo_veh" :options="vehiculos" option-value="id"	option-label="nombre_veh"  />
							</div>
						</div>

						<div class="row">
							<div class="col-12 text-center q-mt-md">
								<p>Fotos del vehículo</p>
								<div class=" row q-mb-md flex flex-center content-between ">
									<div class="col-4">
									   <q-img :src="img1 || 'statics/images/logo.png'"  class="img-perfil q-pa-sm" :ratio="16/11" width="100px" height="100px" spinner-color="white"/>
									</div>
									<div class="col-4">
									   <q-img :src="img2 || 'statics/images/logo.png'" class="img-perfil q-pa-sm" :ratio="16/11" width="100px" height="100px" spinner-color="white"/>
									</div>
									<div class="col-4">
									   <q-img :src="img3 || 'statics/images/logo.png'" class="img-perfil q-pa-sm" :ratio="16/11" width="100px" height="100px" spinner-color="white"/>
									</div>
								</div>
							</div>

							<div class="col-4 flex flex-center">
								<q-file class="w-100" :dense="true"  accept="image/*" @input="checkImg"  bottom-slots  @input.native="procesarImagen" name="img1" counter>
									<template v-slot:prepend>
										<q-icon name="cloud_upload" @click.stop />
									</template>

									<template v-slot:append>
										<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
									</template>
								</q-file>
							</div>

							<div class="col-4 flex flex-center">
								<q-file accept="image/*" @input="checkImg" class="w-100" :dense="true" bottom-slots  @input.native="procesarImagen" name="img2" counter>
									<template v-slot:prepend>
										<q-icon name="cloud_upload" @click.stop />
									</template>

									<template v-slot:append>
										<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
									</template>
								</q-file>
							</div>

							<div class="col-4 flex flex-center ">
								<q-file accept="image/*" @input="checkImg" class="w-100" :dense="true" bottom-slots  @input.native="procesarImagen" name="img3" counter>
									<template v-slot:prepend>
										<q-icon name="cloud_upload" @click.stop />
									</template>

									<template v-slot:append>
										<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
									</template>
								</q-file>
							</div>
						</div>

						<div class="row">
							<div class="col-12 q-mt-lg q-mb-sm ">
							<q-select class="w-100" :dense="true" label="Sexo" v-model="sexo" name="sexo" :options="generos" />
							</div>
						</div>

						<div class="row q-mt-lg ">
							<div class="col-4 flex flex-center">
							<q-input mask="+###" class="w-90" :dense="true" label="Código pais*" v-model="cod_area_tlfn" hint="" lazy-rules :rules="[ v => v && v.length >= 2 || '' ]" />
							</div>

							<div class="col-8 flex flex-center ">
							<q-input mask="(###) ### - ####" class="w-100" :dense="true" label="Teléfono *"  v-model="telefono"  hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
							</div>
						</div>

						<div class="row q-mt-lg">
							<div class="col-4 q-mt-md flex flex-center">
							<q-input mask="+###" class="w-90" :dense="true" label="Código pais*"  v-model="cod_area_ws" hint="" lazy-rules :rules="[ v => v && v.length >= 2 || '' ]" />
							</div>

							<div class="col-8 q-mt-md flex flex-center">
							<q-input mask="(###) ### - ####" class="w-100" :dense="true" label="Whatsapp *"  v-model="whatsapp"  hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
							</div>
						</div>

<!--
						<div class="row">
							<div class="col-12 q-mt-md">
								<label for="">Escribe tu WhatsApp *</label>
							<q-input borderless class="input"  v-model="whatsapp" name="whatsapp" label="" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
							</div>
						</div>
 -->
						<div class="row q-mt-lg ">
							<div class="col-12 q-mt-md flex flex-center">
							<q-input class="w-100" :dense="true" label="Escribe tu correo *" type="email" v-model="correo" name="correo" hint="" lazy-rules :rules="[this.$utils.verificarCorreo]" />
							</div>
						</div>

						<div class="row q-mt-lg ">
							<div class="col-12  q-mt-md">
							<q-input class="w-100" :dense="true" label="Tipo de vehículo *" v-model="domicilio" name="domicilio" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
							</div>
						</div>

						<div class="row q-mt-lg ">
							<div class="col-12 q-mt-md">
							<q-input class="w-100" :dense="true" label="Escribe tu usuario *" v-model="usuario" name="usuario"  hint="" lazy-rules :rules="[ val => val && val.length > 2 || 'Mínimo 3 carácteres']" />
							</div>
						</div>

						<div class="row q-mt-lg ">
							<div class="col-12 q-mt-md">
							<q-input class="w-100" :dense="true" label="Escribe tu contraseña *" :type="isPwd ? 'password' : 'text'" v-model="pass" name="pass"  hint="" lazy-rules :rules="[ val => val && val.length > 4 || 'Mínimo 4 carácteres']">
								<template v-slot:append>
								<q-icon
								:name="isPwd ? 'visibility_off' : 'visibility'"
								class="cursor-pointer"
								@click="isPwd = !isPwd"
								/>
								</template>
							</q-input>
							</div>
						</div>

						<div class="row q-mt-lg ">
							<div class="col-12 q-mt-md ">
							<q-input class="w-100" :dense="true" label="Confirma tu contraseña *" :type="isPwd ? 'password' : 'text'" v-model="pass2"  hint="" lazy-rules :rules="[ val => val && val.length > 4 || 'Mínimo 4 carácteres', val => val==this.pass || 'Las contraseñas no coinciden']" >
								<template v-slot:append>
								<q-icon
								:name="isPwd ? 'visibility_off' : 'visibility'"
								class="cursor-pointer"
								@click="isPwd = !isPwd"
								/>
								</template>
							</q-input>
							</div>
						</div>

						<div class="col-12 text-center" v-if="msjError">
							<p style="color:red;">{{ msjError || 'Error al registrar'}}</p>
						</div>

						<div class="row">
							<q-linear-progress v-if="loadingBar" color="grey" :value="upload_progress" class="q-mt-sm"/>
							<div class="col-12 text-center q-mt-md">
								<q-btn label="Registrar" size="md" type="submit" class="soft-border cl_standar" :disabled="buttonDisabled" />


								<div class="flex flex-center q-ma-md">
									<p class="text-center">¿Ya tienes cuenta?
									<q-btn flat to="/Sesionrepartidor" size="md" label="Ingresar como repartidor" type="Guardar"/>
									</p>
								</div>
							</div>
						</div>
					</q-form>
				</div>
			</div>
		</div>
	</div>

	<!--modal-->
	<q-dialog  v-model="showAlert">
		<q-card>
			<q-card-section class="bg_blue text-white">
				<div class="text-h6 text-center">Bienvenido...</div>
			</q-card-section>

			<q-card-section class="q-pt-none text-center bg_blue text-white ">
				<img src="statics\images\checkmark.png" style="width:100px" alt="">
				<p>Debe esperar que el Administrador    verifique su registro para poder disfrutar de los servicios de la aplicación.</p>
			</q-card-section>

			<q-card-actions align="center" class="bg_blue">
				<q-btn push class="cl_standar rounded"  to="/home"  label="Aceptar" v-close-popup />
			</q-card-actions>
		</q-card>
	</q-dialog>
	<!--modal-->
	</div>
</template>


<script>
export default {
	data () {
		return {
			loadingBar: false,
			upload_progress: 0,
			showAlert:false,
			model: null,
			buttonDisabled: false,
			msjError: false,
			id: null,
			email: null,
			correo: null,
			domicilio: null,
			usuario: null,
			pass: null,
			pass2:null,
			nombre: null,
			apellido: null,
			cedula: null,
			identificacion: null,
			isPwd: true,
			img_rif: null,
			img: 'statics/images/user.png',
			img1: null,
			img2: null,
			img3: null,
			sexo: null,
			identificaciones: ['V', 'E' , 'J'],
			generos: [
				{
					value:'F',
					label: 'Femenino'
				},
				{
					value: 'M',
					label: 'Masculino'
				}
			],
			tipo_veh: null,
			vehiculos: [
				/*{
					value: 1,
					label: "Auto",
				},
				{
					value: 2,
					label: "Moto",
				},
				{
					value: 3,
					label: "Bicicleta",
				}*/],
			telefono: null,
			whatsapp: null,
			cod_area_tlfn: null,
			cod_area_ws: null,
		}
	},
	methods: {
		checkImg(file){
		},
		onSubmit(e){
			e.preventDefault();

			if(!this.img1 && !this.img2 && !this.img3) {
				this.msjError = 'Seleccione una foto del vehiculo';
				return;
			}

			this.msjError = false;
			this.buttonDisabled = true;

			let form = document.getElementById('form_registro_repartidor');
			let formData = new FormData(form);

			const tlf = this.extraerDigitos(this.cod_area_tlfn) +'-'+ this.extraerDigitos(this.telefono);
			formData.set('telefono', tlf);

			const ws = this.extraerDigitos(this.cod_area_ws) +'-'+ this.extraerDigitos(this.whatsapp);
			formData.set('whatsapp', ws);

			this.loadingBar = true;

			const setProgress = progEvt => {
				this.upload_progress = parseFloat((progEvt.loaded / progEvt.total).toFixed(2), 10)
			};

			this.$api.repartidor.registrar(formData, setProgress)
				// .then(r => this.$router.push({path:'/verificar'}))
				// .then(r => this.showAlert=true)
				.then(async r => {
					await this.$store.dispatch('swalInfo', {
						title:'¡Bienvenido!',
						text:'Debes esperar a que el Administrador verifique tu registro.'
					});

					await this.$store.dispatch('swalInfo', {
						title: 'Recuerda',
						text: 'Una vez seas aprobado ya no podras cambiar las imágenes establecidas',
					});
					this.$router.push('/Home');
				})
				.catch(err => {
					this.loadingBar = false;
					this.buttonDisabled = false;
					this.msjError = err.msj;
					this.buttonDisabled = false;
				});
		},

		Atras(){
			// this.$router.go(-1);
			this.$router.push('home');
		},

		procesarImagen(e){
			const nombre = e.target.name;
			const file = e.target.files[0];
			const max_MB_size = 5;

			if(!file) return;

			if(file.size > max_MB_size*1e+6){
				this[nombre] = null;
				this.$q.notify({
					message: 'La imagen es demasiado grande',
					icon: 'announcement',
					color: 'cyan-4',
				});
				return;
			}

			this.formData.append(e.target.name, e.target.files[0]);
			this.$utils.procesarImagen(e, this);
		},

		extraerDigitos(str) {
			// extraerDigitos('h01a mund0') -> '010'
			return (str.match(/\d/g) || []).join('');
		},

		onReset(){},

	},
	mounted(){
		this.formData = new FormData();
		this.$api.repartidor.recuperarNuevaID().then(ID=>{this.id = ID});
		this.$api.general.recuperarData('tipovehiculo/')
			.then(r => { 
				this.vehiculos = r;
			});
	},
}

</script>
