<template>
<div class="blue cont_home fuente q-pl-md q-pr-md q-pb-md ">
	<div>

		<div class="row text-center q-mt-md q-mb-md flex content-between item-center ">
			<div class="col-2">
				<q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Misordenes" />
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header q-mt-sm " >Resumen de orden</p>
			</div>
			<div class="col-2">
                 
			</div>
		</div>

		<!-- orden -->

		<div class="row  q-ml-lg q-mr-lg q-mt-md  ">
           <div class="col-12">
				<p class="mb-0 font-xl bold  " > pedro miguel</p>
			</div>
		</div>

		 <div class="row cont_carrito q-mt-md rounded-1 q-pl-sm q-pr-sm q-pb-sm q-ml-xs q-mr-xs"
							
						>

							<div class="col-12 flex content-between item-center content-between ">
								<p class="m-0 font-xl bold w-80 ">{{ item.nombre }}</p>
								<p class="mb-0 font-xl bold" > X{{ item.cantidad }}</p>
							</div>

							<div class="col-12 ">
								<p class="m-0 nombre-doomi" >
									<span>
										<b> Adicionales: </b>papas fritas
									</span> <br/>
									<span >
										<b> Acompañantes: </b>refresco 2l
									</span> &nbsp;
								</p>
								<p class="m-0 nombre-doomi">
									<span >
										<b>Nota:</b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, nemo!
									</span> &nbsp;
								</p>
								<div class="flex item-center content-between ">
									<div class="">
										<p class="font-xl bold  mb-0">2020202</p>
									</div>

								
								</div>
							</div>
						</div>

			<!-- fin orden -->

			<div class="row q-ml-lg q-mr-lg q-mt-lg ">
				<div class="col-12">
                    <p class="mb-0 font-xl  " > <b>Pedido NO</b> #001 </p>
				</div>
				<div class="col-12 flex item-center content-between ">
					<p class="mb-0 font-md text-grey ">Subtotal</p>
					<p class="mb-0 font-md text-grey ">2.000.000,00 // $ 6.00</p>
				</div>
				<div class="col-12 flex item-center content-between ">
					<p class="mb-0 font-md text-grey ">Gastos de envio</p>
					<p class="mb-0 font-md text-grey ">2.000.000,00 // $ 6.00</p>
				</div>
				<div class="col-12 flex item-center content-between ">
					<p class="mb-0 font-md text-grey ">Adicionales</p>
					<p class="mb-0 font-md text-grey ">2.000.000,00 // $ 6.00</p>
				</div>
				<div class="col-12 flex item-center content-between ">
					<p class="mb-0 font-xl bold ">Total</p>
					<p class="mb-0 font-xl bold ">2.000.000,00 // $ 6.00</p>
				</div>
			</div>

           <div class="row q-ml-lg q-mr-lg q-mt-md q-mb-md ">
			   <div class="col-12 flex content-between item-center ">
				   <div class="">
					   <p  class="mb-0 font-xl  " > <b>ID Repartidor</b> #00000 </p>
					   <p  class="mb-0 font-xl  " > <b>Jhon Perez </b>, <span>Bicicleta</span> </p>
				   </div>
				   <q-icon   class="font_titulosxl" name="directions_bike" ></q-icon>
			   </div>
		   </div>

		   <q-separator></q-separator>

		   <div class="row q-ml-lg q-mr-lg q-mt-md q-mb-md ">
			   <div class="col-12">
					<p class="mb-0 font-xl bold  " > Modalidad de entrega</p>
					<p class="mb-0 font-xl  " > Delivey </p>
			   </div>
		   </div>

		    <q-separator></q-separator>

			 <div class="row q-ml-lg q-mr-lg q-mt-md q-mb-md ">
			   <div class="col-12">
					<p class="mb-0 font-xl bold  " > Metodo de pago</p>
					<p class="mb-0 font-xl  " > Pago Móvil </p>
			   </div>
		   </div>

		    <div class="row q-ml-lg q-mr-lg q-mt-md q-mb-md ">
			   <div class="col-12">
					<p class="mb-0 font-xl bold  " > Numero de referencia</p>
					<p class="mb-0 font-xl  " > 000000000000032 </p>
			   </div>
		   </div>

		    <q-separator></q-separator>

			<div v-if="modoDelivery" class="row q-ml-lg q-mr-lg q-mt-md q-mb-md ">
			   <div class="col-12">
					<p class="mb-0 font-xl bold  " > Dirección de entrega</p>
					<div class="flex item-center">
                        <q-icon style="font-size:30px" class="" name="pin_drop" />
                       <p class="mb-0 q-ml-sm font-md w-80  " >Mi casa&nbsp; </p>
					</div>
			   </div>
		   </div>

	
		
	</div> 

    <div class="flex flex-center">
				<q-btn @click="Home()" label="Listo" type="submit" size="md" flat class="q-ma-md w-100 bordes rounded"></q-btn>
	</div>

     <q-dialog v-model="Modal" maximized >
      <q-card>
        <q-card-section class="q-pt-none p-0">
         <q-img src="statics/images/logo.png" class="border vh100 w-100 "  >

         </q-img>
        </q-card-section>
      </q-card>
    </q-dialog>

	<!-- <div v-else class="text-white" style="margin-top: 100px;">
		<center><b><i>Cargando...</i></b></center>
	</div> -->
</div>
</template>

<script>
export default {
    data(){
        return{
           Modal : false
        }
    },
    methods:{
        Home(){
            this.Modal = true,
            setTimeout (() => this.$router.push({ path:'/Home' }) , 4000 );
        }
    }
}
</script>
