<template>
<div  class="blue cont_home fuente" >
	<div class=" text-center">

		<div style="z-index:5" class="row absolute-top q-mt-md w-100 text-center q-mt-md q-mb-md flex content-between item-center ">
			<div class="col-2">
				<q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" class="q-ml-md" width="20px" height="30px" ></q-img>
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header-repartidor q-mt-sm " >Pedido N° {{ pedido.id }}</p>
			</div>
			<div class="col-2">

			</div>
		</div>
	</div>

	<GoogleMapRepartidor style="height: 50vh;overflow:hidden " :setDirection="direccion" @hook:mounted="cargarDireccion" />

     <div class=" w-100 vh50 bg_rosa">
		<div class="row q-pa-md text-white rounded-1 box-shadow-1 ">
			<div class="col-2  row">
					<div class="col-12 text-center  ">
						<img class="circle" height="35px" width="35px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
					</div>

					 <div class="col-12 text-center">
                        <p class="font-xl text-black m-0 bold" >|</p>
					 </div>

					<div class="col-12 text-center">
						<img class="circle" height="35px" width="35px" :src="cliente.foto || 'statics/images/user.png'" >
					</div>
			</div>
			<div class="col-10 row">
				 <div class="col-11 q-ml-sm ">
					 <div class="flex ">
                      <p class="text-black mb-0 " >Recogida:</p>
					  <p class="text-black mb-0 q-ml-sm " >{{ pedido.doomi_nombre }}</p>
					 </div>
					<p class="text-black mb-0 "  >{{ pedido.doomi_ubicacion }}</p>
				</div>
				 <div class="col-11 q-mt-md q-ml-sm ">
					 <div class="flex ">
                      <p class="text-black mb-0 " >Entrega:</p>
					  <p class="text-black mb-0 q-ml-sm " >{{ pedido.cliente.nombre +' '+pedido.cliente.apellido }}</p>
					 </div>
					<p class="text-black mb-0 "  > {{ pedido.direccion }}</p>
				</div>
			</div>
		</div>

		<q-separator />

		<div class="col-12 flex flex-center item-center q-mt-md ">
          <p class="font_titulosxl mb-0 " >{{ $utils.precio(pedido.pago_del, '$') }}</p>
		   <p class="font-lg bold mb-0 q-ml-sm " >Ganancia total</p>
		</div>

		<div class="row">

            <div class="col-12 flex flex-center q-mt-sm ">
                <q-icon class="q-ml-sm font_titulosxl  " name="check_circle_outlined" ></q-icon>
                <p class=" font-xl mb-0 bold font_tituloslg " >Articulos entregados</p>
            </div>

            <!-- <div class="col-12 q-mt-md ">
                <p class="q-ml-sm" >5 Articulos</p>
            </div> -->

			<div class="col-12 q-pl-md q-mt-sm ">
				<div
					v-for="(art, index) of articulosPorRecoge"
					:key="index"
					:style="art.tabular ? 'margin-left:30px;' : ''"
					class="flex item-center "
				>
					<label>
						<q-checkbox v-model="art.model" disable color="black" />
						{{ art.nombre }} X{{ art.cantidad }} {{ art.texto_notas }}
					</label>
				</div>
			</div>

			<div class="col-12 text-center q-mt-sm " v-if="mostrarCalificacion">
				<p class="font-xl bold  " >Puntuación ({{calificacion}}/5)</p>
			</div>

			<div class="col-12 text-center q-mb-md " v-if="mostrarCalificacion">
				<q-rating
					v-model="calificacion"
					max="5"
					size="2em"
					color="orange"
					icon="star_border"
					icon-selected="star"
					icon-half="star_half"
					no-dimming
					readonly
				/>
			</div>

            </div>


		</div>


		<!-- <div class=" row q-ml-md q-mr-md q-mb-xs">
			<div class="col-6">
				<q-img
					class="circle img-xs"
					:src=" pedido.doomi_img || 'statics/images/1.jpg'"
				>
				</q-img>
			</div>
			<div class="col-6">
				<q-img
					class="circle img-xs"
					:src=" cliente.foto || 'statics/images/user.png'"
				>
				</q-img>
			</div>
		</div> -->






	<!-- <div style="height:20px"  class="row degradado rounded-1 text-center q-mt-md ">
		<div class="text-white col-12 text-center">
			<p class="m-0 nombre-doomi " >Informacion del cliente</p>
		</div>
	</div> -->

	<!-- <div class="row q-ml-xl q-mr-xl  q-pa-md ">
		<div class="flex item-center text-white   col-12 content-between">
			<p class=" nombre-doomi m-0 text-black " >#Id cliente</p>
			<div class="w-50">
				<b><p class="etiquetas nombre-doomi soft-border " >#{{ cliente.id }}</p></b>
			</div>
		</div>
		<div class="flex item-center text-white q-mt-md col-12 content-between">
			<p class=" nombre-doomi m-0 text-black " >Nombre</p>
			<div class="w-50">
				<b>
					<p class="etiquetas nombre-doomi soft-border " >
						{{ cliente.nombre }} {{cliente.apellido}}
					</p>
				</b>
			</div>
		</div>
		<div class="flex item-center text-white col-12 q-mt-md content-between">
			<p class="nombre-doomi m-0 text-black " >Telefono</p>
			<div class="w-50">
				<b><p class="etiquetas soft-border nombre-doomi " >{{ cliente.telefono }}</p> </b>
			</div>
		</div>
	</div> -->


	<!-- <div style="height:20px"  class="row degradado rounded-1 text-center ">
		<div class="text-white col-12 text-center">
			<p class="m-0 nombre-doomi  " >Informacion del doomi</p>
		</div>
	</div> -->


	<!-- <div class="row q-ml-xl q-mr-xl  q-pa-md "> -->
		<!-- <div class="flex item-center text-white q-mt-md m-0 col-12 content-between">
			<p class="m-0 nombre-doomi text-black " >#Id doomi</p>
			<div class="w-50">
				<b><p class="etiquetas nombre-doomi soft-border " >#{{ pedido.id_restaurante }}</p></b>
			</div>
		</div>
		<div class="flex item-center text-white q-mt-md col-12 content-between">
			<p class="m-0 nombre-doomi text-black " >Nombre</p>
			<div class="w-50">
				<b>	<p class="etiquetas soft-border nombre-doomi">{{ pedido.doomi_nombre }}</p></b>
			</div>
		</div>
		<div class="flex item-center text-white col-12 q-mt-md content-between">
			<p class="m-0 nombre-doomi text-black " >Direccion</p>
			<div class="w-50 ">
				<b> <p class="etiquetas soft-border nombre-doomi">{{ pedido.doomi_ubicacion }}</p> </b>
			</div>
		</div>
		<div class="flex item-center  text-white col-12 q-mt-md content-between">
			<p class="m-0 nombre-doomi text-black " >Telefono</p>
			<div class="w-50 ">
				<b> <p class="etiquetas soft-border nombre-doomi" >{{ pedido.doomi_telefono }}</p></b>
			</div>
		</div> -->

			<!--
				<div class="flex item-center m-0 text-white col-12 q-mt-md content-between">
					<p class="m-0 nombre-doomi" >Puntuacion</p>
					<div class="w-50 q-mt-sm ">
							<q-rating
								v-model="model"
								max="5"
								size="1.5em"
								color="yellow"
								icon="star_border"
								icon-selected="star"
								icon-half="star_half"
								no-dimming
							/>
					</div>
				</div>
			-->
		<!-- <div class="flex item-center  text-white col-12 q-mt-md content-between">
			<div class="w-50" >
				<p class="m-0 nombre-doomi text-black " >Punto de referencia</p>
			</div>

			<div class="w-50 ">
				<b> <p class="etiquetas soft-border nombre-doomi " >{{ pedido.punto_referencia }}</p> </b>
			</div>
		</div> -->
	<!-- </div> -->

	<!-- <div class="col-12 text-center">
			<q-btn class="q-ma-md cl_standar soft-border" size="sm" label="Ver ubicación" v-if="verbtnubicacion" @click="dialogMapa=true" icon="edit_location" />
	</div> -->

	<!-- <div class="row" v-if="verCalificacionLista">
			<div class="col-12">
				<b>	<p class="etiquetas m-0 soft-border titulo-header" >CALIFICACIÓN</p> </b>
			</div>

			<div class="item-center text-white q-mt-md col-12 content-between">
				<div class="col-12 text-center">
					<q-rating
						v-model="Rate_listo"
						max="5"
						size="2.5em"
						color="yellow"
						icon="star_border"
						icon-selected="star"
						icon-half="star_half"
						no-dimming
						class="q-mb-xs"
						readonly
					/>
				</div>
				<b>	<p class="m-0 soft-border titulo-menu text-center" >"{{pedido.obs_rep}}"</p> </b>
			</div>

	</div> -->

	<!-- <div class=" q-mt-xs ">
		<br />
		<label
			class="degradado q-m-0 titulo-header"
			style="display:block;color:white;text-align:center;"
			>
				Pedido #{{ pedido.id }}
		</label>
		<br />
		<q-table
				class="q-mt-xs degradado shadow-10 text-white text-center"
				:data="datos" :columns="columns" row-key="" >
			<template v-slot:body-cell-name="props">
				<q-td :props="props">
					<div>
						<q-badge color="purple" :label="props.value" />
					</div>
				</q-td>
			</template>
		</q-table>
	</div> -->


	<!-- <DIALOG MAPA> -->
	<!-- <q-dialog v-model="dialogMapa" maximized>
		<q-card class="w-100" >
			<q-card-section class="text-right p-0 " >
				<q-btn flat label="X" v-close-popup />
			</q-card-section>

			<q-card-section class="q-pt-none" style="height: 90vh">
				<div  class=" bordes q-pa-xs soft-border flex item-center content-around">
						<div class="flex item-center q-mt-sm ">
							<img src="statics\images\map-aqui-estoy.png" width="20px" alt="">
							<p class="m-0 titulo-header " >{{ pedido.doomi_nombre }}</p>
						</div>

					<div class="flex item-center q-mt-sm">
						<img src="statics\images\map-verde.png" width="20px" alt="">
						<p class="m-0 titulo-header " >Mi ubicacion</p>
					</div>
				</div>
				<google-map
					:setDirection="direccion_delivery"
					@hook:mounted="cargarDireccion"
					/>
			</q-card-section>
		</q-card>
	</q-dialog> -->


</div>
</template>

<script>

import GoogleMapRepartidor from 'components/GoogleMapRepartidor'

export default {

components: {GoogleMapRepartidor},

data () {
	return {
		numero1: true,
		numero2: true,
		numero3: true,
		numero4: true,
		numero5: true,
		numero6: true,
		model: 0,
		calificacion: 0,
		mostrarCalificacion: false,
		dialogMapa: false,
		direccion: null,
		pedido: {},
		cliente: {},
		idPedido: null,
		verbtnubicacion: false,
		Rate_listo: 0,
		verCalificacionLista: false,
		articulosPorRecoge: []
	};
},


created(){
	this.$q.loading.show();

	this.idPedido = this.$route.params.id;

	this.$api.general.recuperarDataPorId('/pedidos/repartidor', this.idPedido)
		.then(resp => {
			this.$q.loading.hide();
			this.pedido = resp;
			this.cliente = resp.cliente;
			if(resp.estatus.id == 11){
				// this.verbtnubicacion = false;
				// this.verCalificacionLista = true;
				this.mostrarCalificacion = true;
				this.calificacion = parseFloat(resp.nota_rep);
				// this.Rate_listo = parseFloat(resp.nota_rep);
			}else if(resp.estatus.id == 98){

			}
			this.articulosPorRecoger();
		})
		.catch(this.$q.loading.hide);
},

/*
computed: {
	datos(){
		if(!this.pedido || !this.pedido.ordenes) return;

		return this.pedido.ordenes.map(item => ({
			cantidad: item.cantidad,
			nombre: item.menu.nombre,
			descripcion: item.menu.descripcion,
			precio: this.$utils.precio(item.precio || item.menu.precio_usd),
			adicionales: item.adicionales.map(e => e.nombre).join(', '),
			notas: item.notas,
		}), this);
	},
},
*/

watch: {
	pedido(val){
		if(this.pedido.id) {
			this.cargarDireccion();
		}
	},
},

methods: {
	atras() {
		this.$router.go(-1);
	},
	cargarDireccion(){
		this.direccion = null;
		var lat_rep = null;
		var lon_rep = null;
		if(this.pedido.id_estatus==11){
			if(this.pedido.repartidor){
				lat_rep = this.pedido.repartidor.lat;
				lon_rep = this.pedido.repartidor.lon;
			}
			this.direccion = {
				destination: {
					lat: this.pedido.lat_dir_p,
					lon: this.pedido.lon_dir_p
				},
				origin: {
					lat: this.pedido.doomi_lat,
					lon: this.pedido.doomi_lon
				},
				repartidor: {
					lat: lat_rep,
					lon: lon_rep
				},
				sts: this.pedido.id_estatus
			};
		}
	},

	articulosPorRecoger(){
		const articulos = [];
		// Tipo 1(menu), 2(adicional), 3(acompañante).
		for (let orden of this.pedido.ordenes || []) {
			
			//this.$set(this.checks_ordenes, orden.id, {checked:true});
			articulos.push({
				nombre: orden.nombre,
				cantidad: orden.cantidad,
				texto_notas: orden.notas ? '('+orden.notas+')' : '',
				tipo: 1,
				//model: this.checks_ordenes[orden.id],
				model: true
			});

			if(orden.adicionales.length > 0) for (let adi of orden.adicionales) {
				//this.$set(this.checks_adis, adi.id, {checked:true});
				articulos.push({
					tabular: true,
					nombre: adi.nombre,
					cantidad: adi.cantidad,
					tipo: 2,
					model: true
					//model: this.checks_adis[adi.id],
				});
			}
			if(orden.acompañantes.length > 0) for (let aco of orden.acompañantes) {
				//this.$set(this.checks_acom, aco.id, {checked:true});
				articulos.push({
					tabular: true,
					nombre: aco.nombre,
					cantidad: aco.cantidad,
					tipo: 3,
					model: true
					//model: this.checks_acom[aco.id],
				});
			}
		}
		this.articulosPorRecoge=articulos;
	},
},


};</script>

<style>
.my-table-details {
  font-size: 0.85em;
  font-style: italic;
  max-width: 200px;
  white-space: normal;
  color:white;
  margin-top: 4px;
}
</style>