<template>
    <div style="height:100%;" class="blue cont_home">
        <div class="q-pa-md text-center">
            <div class="q-mt-md">
  <div class="flex flex-start">
     <q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/Historial" />
  </div>
     <div  class="flex flex-center">
     <h6 style="margin-top:-35px;color:white;" >Pedido</h6>
     </div>
</div>
   <div class=" row q-ml-md q-mr-md q-mb-xs">
   <div class="col-6">
        <q-img
        class="circle img-sm"
          src="statics/images/4.png"
        
        >
          <div  class="absolute-bottom text-subtitle1 text-center">
            Tecnoberry.ca
          </div>
        </q-img>
      </div>
      <div class="col-6">
        <q-img
        class="circle img-sm"
          src="statics\images\user.png"
         
        >
          <div class="absolute-bottom text-subtitle1 text-center">
            Usuario
          </div>
        </q-img>
      </div>
   </div>
  </div>
  <div class=" q-mt-xs ">
    <label class="degradado q-m-0" style="display:block;color:white;text-align:center;font-size:20px" >Pedido</label>
    <q-table 
    class=" q-mt-xs degradado shadow-10 text-white text-center"
   
    
      :data="data"
      :columns="columns"
      row-key=""
    >
      <template v-slot:body-cell-name="props">
        <q-td :props="props">
          <div>
            <q-badge color="purple" :label="props.value" />
          </div>
          <div class="my-table-details">
            {{ props.row.details }}
          </div>
        </q-td>
      </template>
    </q-table>
  </div>
  <div class="row q-ma-md">
		<div style="color:white;justify-content:space-between;align-items:center" class="col-12 flex">
            <div style="margin-left:3%;" class="">
	  <label>Total a pagar</label>
	  </div>
			<q-input class="bg-white" style="height:30px" filled v-model="id" color="white" label="_________55$________" lazy-rules readonly />
		</div>
	</div>
 
	<div class="row q-ma-md">
		<div style="color:white;justify-content:space-between;align-items:center" class="col-12 flex">
            <div style="margin-left:3%;" class="">
              <label>Dirección</label>
	  </div>
	  
			<q-input class="bg-white" style="height:30px" filled v-model="id" color="white" label="Urb. los Cocos" lazy-rules readonly />
		</div>
	</div>

    <div class="row q-ma-md">
		<div style="color:white;justify-content:space-between;align-items:center" class="col-12 flex">
            <div style="margin-left:3%;" class="">
	  <label>Estatus:</label>
	  </div>
			<q-input class="bg-red" style="height:30px" filled v-model="id" color="white" label="__No_completado______" lazy-rules readonly />
		</div>
	</div>

    <div class="row q-ma-md">
		<div style="color:white;justify-content:space-between;align-items:center" class="col-12 flex">
            <div style="margin-left:3%;" class="">
	  <label>Puntuacion:</label>
	  </div>
			<q-rating
            style="margin-right:20px"
      v-model="model"
      max="5"
      size="1.5em"
      color="red"
      icon="star_border"
      icon-selected="star"
      icon-half="star_half"
      no-dimming
    />
		</div>
	</div>

    <div class="row q-ma-md">
		<div style="color:white;" class="col-12">
            <div style="margin-left:3%;" class="">
	  <label>Punto de referencia</label>
	  </div>
			<q-input class="q-mt-md bg-white" style="height:70px" v-model="text" filled type="textarea" label="Bajando por el hotel california" />
		</div>
	</div>

     <div class="text-center">
             <iframe class="q-mt-md" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d63043.65933162676!2d-69.77472853484805!3d9.042890588815574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e7cf41c9cd69a57%3A0x3742dfb0d1bf7894!2sGuanare%203350%2C%20Portuguesa!5e0!3m2!1ses!2sve!4v1595857799374!5m2!1ses!2sve" width="85%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

    

    </div>
</template>

<script>
export default {
  data () {
    return {
      id:null,
      text:null,
        model:1,
      columns: [
        {
          name: '',
          required: true,
          label: 'Cantidad',
          align: 'center',
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
         { name: 'calories', align: 'center', label: 'Descripción', field: 'calories', sortable: true },
        { name: 'carbs', label: '$', field: 'carbs', align: 'center' },
        
      ],

      data: [
        {
          name: '3',
          details: 'Riquisimas donas con relleno de nutella para todos los gustos ',
          calories: 'Rosas',
          fat: 'Rosas',
          carbs: '10',
          protein: '$10',
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        },
        {
          name: '2',
          details: 'Riquisimas donas con relleno de nutella para todos los gustos ',
          calories: 'Confiteria',
          fat: 'Refrescos',
          carbs: '10',
          protein: '$10',
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        },
        {
          name: 1,
          details: 'Riquisimas donas con relleno de nutella para todos los gustos ',
          calories: 'Base',
          fat: '5',
          carbs: '5',
          protein: '$10',
          sodium: 87,
          calcium: '14%',
          iron: '1%'
        },
      ]
    }
  }
}
</script>

<style>
.my-table-details {
  font-size: 0.85em;
  font-style: italic;
  max-width: 200px;
  white-space: normal;
  color:white;
  margin-top: 4px;
}
</style>