<template>
	<div class="blue cont_home fuente">
		
		<div class="row text-center q-mt-md q-mb-md flex content-between item-center ">
			<div class="col-2">
				<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
              <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" /> -->
			</div>
			  <div class="col-8">
                 	<p class="mb-0 titulo-header " >Todas las categorias</p>
			  </div>
			<div class="col-2">
             
			</div>
			
		</div>

		<div class="row">
			<div class="col-12 q-pl-md q-pr-md ">
				<q-select
					use-input
			        v-model="text"
			        hide-selected
			        fill-input
			        borderless
			        input-debounce="0"
			        label="Buscar Doomialiado"
        			:options="options"
			        @filter="filterFn"
			        hide-dropdown-icon
			        option-value="id"
          			option-label="nombre"
          			class="input input-search rounded "
          			style="width: 100%; margin-top:10px;"
          			@input="buscardomi"
          			:loading="loading"
                    behavior="menu"
          		>
			      	<template v-slot:selected>
			          {{ all_domi.nombre }}
			        </template>
			      	<template v-slot:prepend>
			          <q-icon name="search" />
			        </template>
			        <template v-slot:no-option>
			          <q-item>
			            <q-item-section class="text-grey">
			              Sin resultados
			            </q-item-section>
			          </q-item>
			        </template>
			    </q-select>
			</div>
			
			<q-scroll-area horizontal style="height: 55px; width:100%;" class="  q-mb-sm q-mt-sm ">
				<filter-tags :tags="categorias" />
			</q-scroll-area>
		</div>

		<div v-for="cat in allcategorias" v-if="cat && cat.restaurantes.length > 0 " :key="cat.id" class="row q-pl-md q-pr-md all-cate">
			<div class="row flex item-center content-around col-12 bordes text-left q-mt-md q-mb-md  q-pa-sm" style="border-radius: 5rem;">
				<div class="row col-6">
					<p class="m-0 font-m">{{cat.nombre}}</p>
				</div>
				
				<div class="col-6 text-right">
					<q-btn icon-right="keyboard_arrow_right" class="right rounded cl_standar" size="sm" @click="verTodos(cat.id)">Ver todos</q-btn>
				</div>	
			</div>
			
			<q-scroll-area horizontal style="height: 120px;" class="row col-12">
				<div class="row no-wrap q-pa-sm flex " style="width:100%;">
					<div class="col-4 text-center" v-for="(res, i) in cat.restaurantes" v-if="i < 6">  
						<img  :src="res.img || 'statics/images/logo.png'"  style="background-color: #FFF" class="img-xs rounded-1" alt="" @click=" Vermas(res)">
					</div>
				</div>
			</q-scroll-area>
		</div>
	</div>
</template>


<script>
	import { mapGetters } from 'vuex'
	import FilterTags from 'components/FilterTags'
	import {Quasar,QSelect} from 'quasar';

	export default {
		name: 'Home',
		components: {
			FilterTags,
			QSelect,
		},
		data() {
			return {
				text: '',
				allcategorias: [],
				lat_t: 0,
				lon_t: 0,
				all_domi: [],
				options: this.all_domi,
				loading: false,
			}
		  },
		mounted(){
			this.cargartodaslascategorias();
		},
		methods:{
			async cargartodaslascategorias(){
				var cordenadas = await this.$api.general.geo();
				this.lat_t = cordenadas.lat;
				this.lon_t = cordenadas.lon;
				//console.log(cordenadas);
				this.$api.general.recuperarDataConData('restaurantes/app_categoria', {lat:cordenadas.lat, lon: cordenadas.lon})
				.then(r => {
					this.allcategorias = r;
					//console.log(this.allcategorias);
				})
				.catch(err => {
					//this.$q.loading.hide();
					console.log(err);
				});

				this.$api.general.recuperarDataConData('restaurantes/app', {lat:this.lat_t, lon: this.lon_t})
				.then(r => {
					this.all_domi = r;
				})
				.catch(err => {
					this.$q.loading.hide();
					console.log(err);
				});
			},
			verTodos(idcat){
				this.$router.push({ path:'/Home/'+idcat });
			},	   
			Vermas(doomi){
				this.$router.push({ name:'Menudoomialiadohome', params: {id:doomi.id} })
			},
			Atras(){
				this.$router.go(-1)
			},
			buscardomi(){
				this.loading=true;
				this.$router.push({ path:'/Menudoomialiadohome/'+this.text.id, params: {id:this.text.id} })
			},
			filterFn (val, update, abort) {
		      if (val.length < 3) {
		        abort()
		        return
		      }

		      update(() => {
		        const needle = val.toLowerCase()
		        this.options = this.all_domi.filter(v => v.nombre.toLowerCase().indexOf(needle) > -1)
		      })
		    }
		},
		computed: {
			...mapGetters({
				categorias: 'doomis/categorias',
			}),
		},
	}
</script>
