<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=administradores" class="clr_white"><i class="fa fa-user-circle prefix"></i> Administradores </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a class="waves-effect waves-light modal-trigger btn btn-primary tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar un administrador" href="#md-nuevoAdmin" onclick='$("#form_registrar_admins")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo administrador");'>Nuevo <i class="fa fa-plus"></i></a><br>
</div>



<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Usuario</th>
			<th>Correo</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>

<div id="md-nuevoAdmin" class="modal">
	<div class="modal-header">
		<span id="tit-mod">Nuevo administrador</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form class="col s12" id="form_registrar_admins">
				<input id="iden" name="iden" type="hidden" value="">

				<div class="row mb-0">
					<div class="input-field col s12 m6">
						<p class="m-0">Identificación</p>
						<div class="select-wrapper">
							<select name="identificacion" id="identificacion" class="initialized">
								<option value="">Seleccione</option>
								<option value="V">V-</option>
								<option value="E">E-</option>
								<option value="J">J-</option>
								<option value="G">G-</option>
							</select>
						</div>
					</div>

					<div class="input-field col s12 m6">
						<p class="m-0">Número de identificación</p>
						<input id="cedula" name="cedula" type="text" class="form-control mb-0">
					</div>
				</div>

				<div class="row mb-0">
					<div class="input-field col s12 m6">
						<p class="m-0">Nombre</p>
						<input placeholder="" id="nombre" name="nombre" type="text" class="form-control mb-0">
					</div>

					<div class="input-field col s12 m6">
						<p class="m-0">Apellido</p>
						<input placeholder="" id="apellido" name="apellido" type="text" class="form-control mb-0">
					</div>
				</div>
				
				<div class="row mb-0">
					<div class="input-field col s12 m6">
						<p class="m-0">Usuario</p>
						<input id="usuario" name="usuario" type="text" class="form-control mb-0">
					</div>

					<div class="input-field col s12 m6">
						<p class="m-0">Correo</p>
						<input id="correo" name="correo" type="email" class="form-control mb-0">
					</div>
				</div>

				<div class="row mb-0">
					<div class="input-field col s12 m6">
						<p class="m-0">Contraseña</p>
						<input placeholder="" id="pass" name="pass" type="password" class="form-control mb-0">
					</div>

					<div class="input-field col s12 m6">
						<p class="m-0">Confirmar contraseña</p>
						<input placeholder="" id="pass_2" type="password" class="form-control mb-0">
					</div>
				</div>

				<div class="row mb-0">
					<div class="progress col s12 fileprogress hide" style="">
					    <div class="determinate" style="width: 50%"></div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="form-group text-center">
						<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save tooltipped" data-position="bottom" data-delay="50" data-tooltip="Guardar información del administrador">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="modal-footer text-center"></div>
</div>


<div id="md-verAdmin" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles del administrador</h6>
				</li>
				<li class="collection-item"><b>Identificación:</b> <span class="iden-view"></span></li>
				<li class="collection-item"><b>Nombre:</b> <span class="nom-view"></span></li>
				<li class="collection-item"><b>Apellido:</b> <span class="ape-view"></span></li>
				<li class="collection-item"><b>Usuario:</b> <span class="usu-view"></span></li>
				<li class="collection-item"><b>Correo:</b> <span class="cor-view"></span></li>
			</ul>
		</div>
	</div>

	<div class="modal-footer text-center">
		<a href="#!" class="modal-close waves-effect waves-green btn btn-primary tooltipped" data-position="left" data-delay="50" data-tooltip="Cerrar ventana">Cerrar</a>
	</div>
</div>
