<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=cuentas" class="clr_white"><i class="fa fa-list prefix"></i> Cuentas </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a class="waves-effect waves-light btn btn-primary verificar tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar una cuenta" href="#!" >Nuevo <i class="fa fa-plus"></i></a><br>
</div>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre de la cuenta</th>
			<th>Estatus</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>

<div id="md-nuevaCuenta" class="modal">
	<div class="modal-header">
		<span id="tit-mod">Nueva cuenta</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form action="" method="" id="form_registrar_cuenta">
				<input id="iden" name="iden" type="hidden" value="">
				<div class="row mb-0">
					<div class="input-field col s12 m12">
						<p class="m-0">Nombre</p>
						<input type="text" id="nombre" name="nombre" class="form-control mb-0">
					</div>
				</div>

				<div class="row mb-0">
					<div class="input-field col s12">
						<p class="m-0">Detalles</p>
						<textarea name="ext" id="ext" class="form-control"></textarea>
					</div>
				</div>

				<!--<div class="row mb-0" >
					<div class=" col s12 m12 text-center">
						<p class="m-0 text-center">¿Con Retorno?</p>
						<div class="switch">
							<label>
                            	<small class="clr_primary" style="font-size: 12px;">No</small>
								<input type="checkbox"  class="cambiar_sts " id="retorno" name="retorno" value="1">
                                <span class="lever"></span>
                            	<small class="clr_primary" style="font-size: 12px;">Si</small>
                            </label>
                        </div>
					</div>
				</div>

				<div class="row mb-0 div_por" style="display:none;">
					<div class="input-field col s12 m12">
						<p class="m-0">Porcentaje (%)</p>
						<input type="text" id="porcentaje" name="porcentaje" class="form-control mb-0 Amount">
					</div>
				</div>-->

				<div class="row">
					<div class="progress col s12 fileprogress hide" style="">
					    <div class="determinate" style="width: 50%"></div>
					</div>
				</div>
				<div class="row mt-3 mb-3">
					<div class="form-group text-center">
						<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save tooltipped" data-position="bottom" data-delay="50" data-tooltip="Guardar información de la cuenta">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="md-verCuenta" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles de la cuenta</h6>
				</li>
				<li class="collection-item"><b>Nombre:</b> <span class="nom-view"></span></li>
				<li class="collection-item"><b>Detalles:</b> <br><span class="des-view"></span></li>
				<!--<li class="collection-item"><b>Retorno:</b> <span class="ret-view"></span></li>-->
			</ul>
		</div>
	</div>
</div>
