<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=reportes" class="clr_white"><i class="fa fa-list prefix"></i> Historial de pagos </a>
		</div>
	</div>
</div>

<form id="form-reporte">
	<div class="row">

        <div class="col s12 m6 input-field">
			<p class="m-0">Tipo de historial</p>
			<div class="select-wrapper" >
				<select name="modalidad" id="modalidades" class="rif_data initialized">
					<option value="value1">Repartidor</option>
                   
                    <option value="value3">Doomi</option>
				</select>
			</div>
        </div>

        <div class="col s12 m6 input-field">
			<p class="m-0">Tipo de historial</p>
			<div class="select-wrapper" >
				<select name="modalidad" id="modalidades" class="rif_data initialized">
					<option value="value1">Pagado</option>
                   
                    <option value="value3">Pendiente</option>
				</select>
			</div>
        </div>

		<div class="col s12 m6 input-field">
			<p class="m-0">Doomi</p>
			<div class="select-wrapper" >
				<select name="modalidad" id="modalidades" class="rif_data initialized">
					<option value="value1">Food truck</option>
                   
                    <option value="value3">Doomi</option>
				</select>
			</div>
        </div>
        
		<!-- <div class="col s12 m6 input-field">
			<p class="m-0">Desde</p>
			<input type="date" name="desde" id="desde" class="form-control mb-0">
		</div>

		<div class="col s12 m6 input-field">
			<p class="m-0">Hasta</p>
			<input type="date" name="hasta" id="hasta" class="form-control mb-0">
		</div> -->

		<!-- <div class="col s12 m6 input-field">
			<p class="m-0">Modalidad</p>
			<div class="select-wrapper" >
				<select name="modalidad" id="modalidades" class="rif_data initialized">
					<option value="" selected="">Seleccionar</option>
				</select>
			</div>
		</div> -->

		<!-- <div class="col s12 m6 input-field">
			<p class="m-0">Repartidor</p>
			<div class="select-wrapper" >
				<input type="text" name="repartidor" id="reps" class="form-control mb-0">
				
			</div>
		</div> -->

		<!-- <div class="col s12 m6 input-field">
			<p class="m-0">Estatus</p>
			<div class="select-wrapper" >
				<select name="estatus" id="estatus" class="rif_data initialized">
					<option value="" selected="">Seleccionar</option>
				</select>
			</div>
		</div> -->

		<!-- <div class="col s12 m6 input-field view-admin hide">
			<p class="m-0">Doomi</p>
			<div class="select-wrapper" >
				<input type="text" name="doomi" id="doomis" class="form-control mb-0">
				
			</div>
		</div> -->

		<!-- <div class="col s12 m6 input-field view-admin hide">
			<p class="m-0">Tipo de reporte</p>
			<div class="select-wrapper" >
				<select name="tipo_r" id="tipo_r" class="rif_data initialized">
					<option value="1">Pedidos</option>
					<option value="2">Pagos pendientes</option>
					<option value="3">Pagos recibidos</option>
				</select>
			</div>
		</div> -->
	</div>

	<div class="row" style="margin: 20px auto;">
		<div class="input-field col s12 text-center">
			<button type="submit" class="bt_save btn btn-primary tooltipped" data-position="bottom" data-delay="50" data-tooltip="Generar reporte en PDF">
				<i class="fa fa-search"></i> <span>Listar<span></button>
		</div>
	</div>
</form>

<div class="row">
	<div class="col s12 text-center">
		<iframe
			id="pdf-frame"
			src="#!"
			style="width:100%; height:500px; display:none;"
			>
		</iframe>
	</div>
</div>

<!-- Tabla Doomi y Pendiente  -->

<!-- <div class="row mt-2">
	<div class="col-lg-12">
		<table id="data-table-simple" class="table display dt-responsive" cellspacing="0" >
			<thead>
				<tr class="bg_gray">
					<th>#</th>
					<th>Número de pedidos</th>
					<th>Aliado</th>
					<th>Fecha y hora</th>
					<th>Monto</th>
					<th>Opcion</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>1</td>
					<td>5</td>
					<td>Food truck</td>
					<td>10/01/2021 11:03 am</td>
					<td>
                        15.000.000,00 bsf
                        15$
                    </td>
					<td class="flex" >
						<a class="waves-effect waves-light modal-trigger btn btn-primary btn-floating ver-info tooltipped " data-position="left" data-delay="50" data-tooltip="Ver" href="#md-nuevoAdmin" onclick='$("#form_registrar_admins")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo administrador");'><i class="fa fa-eye"></i></a>
						<a class="waves-effect waves-light modal-trigger btn btn-primary btn-floating ver-info tooltipped ml-2 " data-position="left" data-delay="50" data-tooltip="Cambiar estatus" href="#md-nuevoAdmin" onclick='$("#form_registrar_admins")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo administrador");'><i class="fa fa-cog"></i></a><br>
                       
                    </td>
					
				</tr>
				
				
			</tbody>


			
		</table>
	</div>
</div> -->

<!-- MODAL CONFIRMAR PAGO A ADMINISTRACION -->
<!-- <div id="md-nuevoAdmin" style="width:80%"  class="modal witdht-modal">
	<div class="modal-header">
		<span id="tit-mod">Pago en disputa</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form class="col s6" id="form_registrar_admins">
				<input id="iden" name="iden" type="hidden" value="">

				

				<div class="row mb-0">
					<div class="row mt-2">
						<div class="col-lg-12">
							<table id="data-table" class="table display dt-responsive " style="width: 100%;" cellspacing="0" >
								<thead>
									<tr class="bg_gray">
										<th>#</th>
										<th>Codigo del pedido</th>
										<th>Aliado</th>
										<th>Fecha y hora</th>
										<th>Monto</th>
										<th>Monto Total</th>
									</tr>
								</thead>
					
								<tbody>
									<tr>
										<td>1</td>
										<td>1234</td>
										<td>Food truck</td>
										<td>10/01/2021 11:03 am</td>
										<td>
											15.000.000,00 bsf
											15$
										</td>
									
										
									</tr>
									<tr>
										<td>2</td>
										<td>1234</td>
										<td>Food truck</td>
										<td>10/01/2021 11:03 am</td>
										<td>
											15.000.000,00 bsf
											15$
										</td>
										
										
									</tr>
									<tr>
										<td>3</td>
										<td>1234</td>
										<td>Food truck</td>
										<td>10/01/2021 11:03 am</td>
										<td>
											15.000.000,00 bsf
											15$
										</td>
										
										
									</tr>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td>45.000.000,00 bsf 45 $</td>

										
									</tr>
									
									
								</tbody>
					
					
								
							</table>
						</div>
					</div>
				</div>

				

				<div class="row mt-3 mb-2">
					<div class="form-group text-center">
						<button  class="waves-effect waves-green btn btn-primary  tooltipped"  data-tooltip="Confirmar pago">Confirmar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	
</div> -->

<!-- Tabla repartidor  -->

<!-- <div class="row mt-2">
	<div class="col-lg-12">
		<table id="data-table-simple" class="table display dt-responsive" cellspacing="0" >
			<thead>
				<tr class="bg_gray">
					<th>ID pedido</th>
					<th>Fecha y Hora</th>
					<th>Cliente</th>
					<th>Doomi</th>
					<th>Monto</th>
					<th>Estatus</th>
					<th>Opcion</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>1234</td>
					<td>10/01/2021 11:03 am</td>
					<td>Jean viña</td>
					<td>Plade pruebas</td>
					<td>
                        15.000.000,00 bsf
                        15$
                    </td>
					<td>Pagado</td>
					<td style="width: 100px;" class="flex" >
						<a class="waves-effect waves-light modal-trigger btn btn-primary btn-floating ver-info tooltipped " data-position="left" data-delay="50" data-tooltip="Ver" href="#md-nuevoAdmin" onclick='$("#form_registrar_admins")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo administrador");'><i class="fa fa-eye"></i></a>
						<a class="waves-effect waves-light modal-trigger btn btn-primary btn-floating ver-info tooltipped ml-2" data-position="left" data-delay="50" data-tooltip="Cambiar estatus" href="#md-nuevoAdmin" onclick='$("#form_registrar_admins")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo administrador");'><i class="fa fa-cog"></i></a><br>
                        
                    </td>
					
				</tr>
				
			</tbody>


			
		</table>
	</div>
</div> -->

<!-- Modal repartidor -->

<!-- <div id="md-nuevoAdmin" style="width: 40%;" class="modal witdht-modal">
	<div class="modal-header">
		<span id="tit-mod">Pago a repartidor</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form class="col s6" id="form_registrar_admins">
				<input id="iden" name="iden" type="hidden" value="">

				<div class="row mb-0">
					<div class="input-field col s12">
						<p class="m-0">Cuenta</p>
						<div class="select-wrapper" >
							<select name="modalidad" id="modalidades" class="rif_data initialized">
								<option value="value1">Pago móvil</option>
							   
								<option value="value3">BFC</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row mb-0">
					<div class="input-field col s12">
						<p class="m-0">Datos para el pago</p>
						<textarea name="ext" id="ext" class="form-control"></textarea>
					</div>
				</div>

				<div class="row mb-0">
					<div class="input-field col s12">
						<p class="m-0">Motivo del rechazo</p>
						<textarea name="ext" id="ext" class="form-control"></textarea>
					</div>
				</div>

				<div class="row mb-0">
					<div class="input-field col s12 m12">
						<p class="m-0">Referencia</p>
						<input placeholder="" id="apellido" name="apellido" type="text" class="form-control mb-0">
					</div>
				</div>

				<div class="row">
					<div class="col s12 text-center flex flex-center ">
                        <p class="mb-0 font-xl bold text-center " >Monto: 15 $ // 15.000.000,00 bsf</p>
					</div>
				</div>

			
				<div class="row mt-3 mb-2 flex flex-center ">
					<div class="form-group flex flex-center text-center">
						<button  class="waves-effect waves-green btn btn-primary  tooltipped mr-1 "  data-tooltip="Enviar a disputa">Disputar</button>
						<button  class="waves-effect waves-green btn btn-primary  tooltipped ml-1 "  data-tooltip="Confirmar pago">Confirmar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	
</div> -->

<!-- <div id="md-nuevoAdmin"  class="modal witdht-modal">
	<div class="modal-header">
		<span id="tit-mod">Pago a repartidor</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form class="col s6" id="form_registrar_admins">
				<input id="iden" name="iden" type="hidden" value="">

				

				<div class="row mb-0">
					<div class="input-field col s12">
						<p class="m-0">Cuenta</p>
						<div class="select-wrapper" >
							<select name="modalidad" id="modalidades" class="rif_data initialized">
								<option value="value1">Pago móvil</option>
							   
								<option value="value3">BFC</option>
							</select>
						</div>
					</div>
				</div>

				<div class="row mb-0">
					<div class="input-field col s12">
						<p class="m-0">Datos para el pago</p>
						<textarea name="ext" id="ext" class="form-control"></textarea>
					</div>
				</div>

				<div class="row mb-0">
					<div class="input-field col s12 m12">
						<p class="m-0">Referencia</p>
						<input placeholder="" id="apellido" name="apellido" type="text" class="form-control mb-0">
					</div>
				</div>

				<div class="row">
					<div class="col s12 text-center flex flex-center ">
                        <p class="mb-0 font-xl bold " >Monto: 15 $ // 15.000.000,00 bsf</p>
					</div>
				</div>
				

				<div class="row mt-3 mb-2 flex flex-center ">
					<div class="form-group text-center mr-1">
						<button  class="waves-effect waves-green btn btn-primary  tooltipped"  data-tooltip="Enviar referencia">Pagar</button>
					</div>
					<div class="form-group text-center ml-1 ">
						<button  class="waves-effect waves-green btn btn-primary  tooltipped"  data-tooltip="Enviar referencia">En disputa</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	
</div> -->




