<div class="row">
	<div class="col s6 m3 mb-2 view-admin hide tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registrar, ver y editar repartidores">
		<a href="?op=repartidores">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-car"></i>
				<h6 class="clr_white">Repartidores <span class="clr_white conta-rep"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>
			</div>
		</a>
	</div>

	<div class="col s6 m3 mb-2 view-admin hide tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registrar, ver y editar clientes">
		<a href="?op=clientes">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-users"></i>
				<h6 class="clr_white">Clientes <span class="clr_white conta-cli"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>
			</div>
		</a>
	</div>

	<div class="col s6 m3 mb-2 view-admin hide tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registrar, ver y editar Doomialiados">
		<a href="?op=doomialiados">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-utensil-spoon"></i>
				<h6 class="clr_white">Doomialiados <span class="clr_white conta-res"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>
			</div>
		</a>
	</div>

	<div class="col s6 m3 mb-2 view-admin hide tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver y editar pedidos">
		<a href="?op=pedidos_panel">
			<div class="boxInicio__content bg_first-color p-3 text-center">
				<i class="clr_white fa-3x fa fa-inbox"></i>
				<h6 class="clr_white">Pedidos <span class="clr_white conta-sol"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>

			</div>
		</a>
	</div>

	<div class="col s12 m3 mb-2 view-resta hide">
		<a href="?op=categorias">
			<div class="boxInicio__content bg_first-color p-3 text-center tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registrar, ver y editar las categorías del menú">
				<i class="clr_white fa-3x fa fa-list"></i>
				<h6 class="clr_white">Categorías <span class="clr_white conta-cat"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>

			</div>
		</a>
	</div>

	<div class="col s12 m3 mb-2 view-resta hide">
		<a href="?op=menu">
			<div class="boxInicio__content bg_first-color p-3 text-center tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registrar, ver y editar los menú">
				<i class="clr_white fa-3x fa fa-utensil-spoon"></i>
				<h6 class="clr_white">Menú <span class="clr_white conta-men"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>

			</div>
		</a>
	</div>

	<div class="col s12 m3 mb-2 view-resta hide">
		<a href="?op=pedidos_panel">
			<div class="boxInicio__content bg_first-color p-3 text-center tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver y procesar los pedidos realizados">
				<i class="clr_white fa-3x fa fa-inbox"></i>
				<h6 class="clr_white">Pedidos <span class="clr_white conta-ped"><i class="fa fa-spinner fa-spin fa-fw "></i></span></h6>

			</div>
		</a>
	</div>
</div>

<div id="listado-pasos-index" class="view-resta hide">
	<div class="row mb-2">
		<div class="col s6 m4 l4">
			<div class="row">
				<div class="col s12 text-center">
					<p class="text-bold">Paso 1</p>
					<div class="progress text-center" style="height: 20px;border-radius: .5rem;">
						<div id="progress-paso-1" class="determinate" style="width:0%"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Actualizar la tasa USD">
					<a class="abrir-tasa" href="#!">
						<div class="card bg_first-color">
							<div class="card-stacked">
								<div class="card-content text-center">
									<i class="fa fa-dollar-sign fa-2x clr_white"></i>
									<p class="clr_white">Actualiza la tasa</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="col s6 m4 l4">
			<div class="row">
				<div class="col s12 text-center">
					<p class="text-bold">Paso 2</p>
					<div class="progress text-center" style="height: 20px;border-radius: .5rem;">
						<div id="progress-paso-2" class="determinate" style="width:0%"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Ver y editar información del perfil">
					<a href="?op=perfilnegocio">
						<div class="card bg_first-color">
							<div class="card-stacked">
								<div class="card-content text-center">
									<i class="fa fa-user fa-2x clr_white"></i>
									<p class="clr_white">Completa el perfil</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="col s6 m4 l4">
			<div class="row">
				<div class="col s12 text-center">
					<p class="text-bold">Paso 3</p>
					<div class="progress text-center" style="height: 20px;border-radius: .5rem;">
						<div id="progress-paso-4" class="determinate" style="width:0%"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registrar, ver y editar los métodos de pago">
					<a href="?op=cuentas">
						<div class="card bg_first-color">
							<div class="card-stacked">
								<div class="card-content text-center">
									<i class="fa fa-id-card fa-2x clr_white"></i>
									<p class="clr_white">Registra cuentas</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="col s6 m4 l4">
			<div class="row">
				<div class="col s12 text-center">
					<p class="text-bold">Paso 4</p>
					<div class="progress text-center" style="height: 20px;border-radius: .5rem;">
						<div id="progress-paso-5" class="determinate" style="width:0%"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registrar, ver y editar las categorías del menú">
					<a href="?op=categorias">
						<div class="card bg_first-color">
							<div class="card-stacked">
								<div class="card-content text-center">
									<i class="fa fa-th fa-2x clr_white"></i>
									<p class="clr_white">Registra categorías</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="col s6 m4 l4">
			<div class="row">
				<div class="col s12 text-center">
					<p class="text-bold">Paso 5</p>
					<div class="progress text-center" style="height: 20px;border-radius: .5rem;">
						<div id="progress-paso-6" class="determinate" style="width:0%"></div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Registrar, ver y editar los menú">
					<a href="?op=menu">
						<div class="card bg_first-color">
							<div class="card-stacked">
								<div class="card-content text-center">
									<i class="fa fa-utensil-spoon prefix fa-2x clr_white"></i>
									<p class="clr_white">Registra menú</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
