<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=listadomenu" class="clr_white" id="a-list"><i class="fa fa-coffee prefix"></i> Listado de menú (Platillo, adicionales<!--, acompañantes-->)</a>
		</div>
	</div>
</div>

<div class="row mt-3">
	<div class="col s12">
		<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Precio USD/Bs</th>
					<th>Categoria</th>
					<th>% de ganancia</th>
					<th>Estatus</th>
					<th>Precio total</th>
					<th>Opción</th>
				</tr>
			</thead>

			<tbody>
				<!--<tr>
					<td>#</td>
					<td>Nombre</td>
					<td>Descripción</td>
					<td>3$/3000</td>
					<td>
						<input id="" name="" type="text" placeholder="%" class="form-control mb-0">
					</td>
					<td>
						<div class="switch">
						<small class="clr_primary" style="font-size: 10px;">No disponible</small>
						<label>
							<input type="checkbox"  id="" class="btn btn-primary btn-floating tooltipped estatus-switch">
							<span class="lever"></span> <small class="clr_primary" style="font-size: 10px;">Disponible</small>
						</label>
						</div>
					</td>
					<td>3000</td>
					<td>
						<a href="#" id="" class="waves-effect btn btn-primary btn-floating tooltipped" data-position="bottom" data-delay="50" data-tooltip="Guardar"><i class="fa fa-save"></i></a>

						<a href="#md-veradicionales" id="" class="waves-effect btn btn-primary btn-floating tooltipped modal-trigger" data-position="bottom" data-delay="50" data-tooltip="Ver adicionales del menú"><i class="fa fa-eye"></i></a>
					</td>
				</tr>-->
			</tbody>
		</table>

	</div>
</div>


<div id="md-veradicionales" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body adi-view">
			<!--<table class="responsive-table mb-4">
				<thead>
					<tr class="bg_gray">
						<th colspan="7" class="text-center">ADICIONALES</th>
					</tr>
					<tr class="bg_gray">
						<th class="pb-4">Nombre</th>
						<th class="pb-4">Precio USD</th>
						<th class="pb-4">Precio Bs</th>
						<th class="pb-4">Existencia</th>
					</tr>
				</thead>

				<tbody id="lista-adicionales">
					<tr>
						<td>Papas fritas</td>
						<td>1$</td>
						<td>1.800</td>
						<td>2</td>
					</tr>
				</tbody>
			</table>

			<table class="responsive-table">
				<thead>
					<tr class="bg_gray">
						<th colspan="7" class="text-center">ACOMPAÑANTES</th>
					</tr>
					<tr class="bg_gray">
						<th class="pb-4">Nombre</th>
						<th class="pb-4">Precio USD</th>
						<th class="pb-4">Precio Bs</th>
						<th class="pb-4">Existencia</th>
					</tr>
				</thead>

				<tbody id="lista-adicionales">
					<tr>
						<td class="pb-4">Papas fritas</td>
						<td class="pb-4">1$</td>
						<td class="pb-4">1.800</td>
						<td class="pb-4">2</td>
					</tr>
				</tbody>
			</table>-->
		</div>
	</div>
</div>
