<a class="waves-effect waves-light light-blue btn" onclick="Materialize.toast('<span>¿Desea eliminar éste registro? &nbsp; </span><a class=&quot;btn-flat btn-primary&quot; href=&quot;#!&quot;>Sí<a> &nbsp; <a class=&quot;btn-flat btn-primary&quot; href=&quot;#!&quot;>No<a>', 5000)"><i class="fa fa-trash"></i></a>


<a class="waves-effect waves-light light-blue btn btn-primary" onclick="Materialize.toast('<span>Agregado correctamente</span>', 5000)"><i class="fa fa-check"></i></a>