<style type="text/css">
	.no-vist{
		background: #f3f3f3;
	}
</style>

<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="#!" class="clr_white"><i class="fa fa-bell prefix"></i> Notificaciones </a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m10 offset-m1">
		<p class="text-right"><a href="#!" class="vertodasnotificacion vertodas"><i class="fa fa-eye"></i> Marcar todo como leido</a></p>
		
		<div class="row col12 view_more text-right" style="">
			<a href="#!" class="cargarmas" onclick="$(this).html('Cargando...'); obtener_mis_notis(); "><i class="fa fa-plus"></i> Cargar más</a>
		</div>
		<div class="misNotificaciones"></div>
	</div>
</div>