<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=pedidos" class="clr_white"><i class="fa fa-user-circle prefix"></i> Pedidos de clientes </a>
		</div>
	</div>
</div>

<div class="row mt-3 mb-3">
	<div class="input-field col s12 m2">
		<p class="m-0">Desde</p>
		<input type="date" id="" name="" class="form-control mb-0">
	</div>

	<div class="input-field col s12 m2">
		<p class="m-0">Hasta</p>
		<input type="date" id="" name="" class="form-control mb-0">
	</div>

	<div class="input-field col s12 m2">
		<p class="m-0">Repartidores</p>
		<div class="select-wrapper">
			<select name="" id="" class="initialized">
				<option value="">Seleccione</option>
				<option></option>
				<option></option>
			</select>
		</div>
	</div>

	<div class="input-field col s12 m3">
		<p class="m-0">Restaurantes</p>
		<div class="select-wrapper">
			<select name="" id="" class="initialized">
				<option value="">Seleccione</option>
				<option></option>
				<option></option>
			</select>
		</div>
	</div>

	<div class="input-field col s12 m2 text-center">
		<br>
		<a href="#" class="btn btn-primary">Buscar <i class="fa fa-search"></i></a>
	</div>
</div>

<div class="row m-0">
	<div class="col s12">
		<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
			<thead>
				<tr>
					<th>#</th>
					<th>Nombre y apellido</th>
					<th>Fecha del pedido</th>
					<th>Opciones</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>#</td>
					<td>Nombre y apellido</td>
					<td>Fecha del pedido</td>
					<td>
						<a href="#md-verPedido" class="btn btn-floating btn-primary modal-trigger"><i class="fa fa-inbox"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div id="md-verPedido" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-body pr-4">
		<div class="row">
			<div class="col s12">
				<h6>Pedidos realizados por el cliente: <b>Daniela Manzanilla</b></h6>

				<ul class="collection with-header">
					<li class="collection-item bg_gray">#1 - <i class="fa fa-calendar"></i> 12/06/20</li>
					<li class="collection-item">Usuario: Usuario</li>
					<li class="collection-item">Restaurant - Repartidor</li>
				</ul>

				<ul class="collection with-header">
					<li class="collection-item bg_gray">#2 - <i class="fa fa-calendar"></i> 15/06/20</li>
					<li class="collection-item">Usuario: Usuario</li>
					<li class="collection-item">Restaurant - Repartidor</li>
				</ul>

				<ul class="collection with-header">
					<li class="collection-item bg_gray">#3 - <i class="fa fa-calendar"></i> 19/06/20</li>
					<li class="collection-item">Usuario: Usuario</li>
					<li class="collection-item">Restaurant - Repartidor</li>
				</ul>
			</div>
		</div>
	</div>
</div>


