<style type="text/css">
	.head_col{
		background: #fafafa;
		text-align: center;
	}

	.body_col{
		background: #f1f1f1;overflow-y: scroll;
	}

	.panel main, .panel footer{
		padding-left: 0px !important;
	}

	.card, .card-action{
		font-family: 'LiberationSans-Regular' !important;
		font-size: 11px;
	}

	.card_moroso{
		background: #f1c40f;
	}

	.card_delivery{
		background: #ffced2;
	}

	.card_pickup{
		background: #cefffa;
	}

	.card_programado{
		background: #deffb9;
	}

	.btn-deta{
		text-align: center;
		color: #000 !important;
	}

	.not_col{
		padding: 0rem .3rem;
		background: #333;color:#fff;
		margin-left: 2px;
	}

	.alert_col{
		background: #f44236 !important;
	}

	.est_col{
		position: absolute;
		right: 2px;
		top: 2px;
		background: #333;
		color: #fff;
		padding: .1rem;
		border-radius: 3px;
	}

	.round-btn{
		display: flex;
		margin: 0px;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}

	.display-flex-buttoms{
		display: flex;
		justify-content: center;
		align-items: center;
	}


	@media(max-width: 767px){
		.col_med{
			width: 100%;
		}

		.btn-ver{
			position: absolute;
			right: 2px;
			top: 25px;
		}
	}

	@media(min-width: 768px){
		.col_med{
			width:14.2% !important;
		}
		.body_col{
			height: 75vh !important;
		}
	}

	@media(max-width: 992px){
		.head_col h6{
			font-size: 10px;
		}
		.btn-deta{
			font-size: 7px !important;
		}
		.card p, .head_col{
			font-size: 10px;
		}
		.est_col{
			font-size: 7px;
		}
	}

	@media (min-width: 768px) and (max-width: 992px){
		.btn-ver{
			position: absolute;
			right: 2px;
			bottom: 5px !important;
			height: 25px;
			width: 25px !important;
			font-size: 11px;
		}
	}

	@media (min-width: 993px) and (max-width: 1070px){
		.btn-deta, .card p, .head_col, .est_col{
			font-size: 10px;
		}
	}

	@media (min-width: 993px){
		.btn-ver{
			position: absolute;
			right: 2px;
			bottom: 5px !important;
		}
	}

	#md-proPedido,#md-proPedido-pago,#md-calificacion,#md-proEntregar{
		z-index: 9999 !important;
	}
	#materialbox-overlay{
		width: 100% !important;
		overflow: hidden !important;
	}

</style>

<div class="row">
	<div class="col s6">
		<a href="index.html?op=inicio"><i class="fa fa-angle-left"></i>Volver a inicio</a>
	</div>

	<div class="col s6 text-right">
		<a href="#!" class="waves-effect waves-light tooltipped btn btn-primary btn-abrir-modal-repar" data-position="bottom" data-delay="50" data-tooltip="Repartidores disponibles">
			<i class="fa fa-motorcycle"> <span class="nr_disponibes_rep"><i class="fa fa-spinner fa-spin fa-fw "></i></span></i>
		</a>
	</div>
</div>


<div class="row">
	<div class="input-field col s12 m3 hide" id="buscar-doomi-wrapper">
		<p class="m-0">Doomialiado</p>
		<div class="select-wrapper">
			<input type="text" id="buscar-doomi" class="form-control mb-0">
			<!--<select id="buscar-doomi" class="initialized">
				<option value=""></option>
			</select>-->
		</div>
	</div>

	<div class="input-field col s12 m3">
		<p class="m-0">Tipo de modalidad</p>
		<div class="select-wrapper">
			<select id="buscar-modalidad" class="initialized">
				<option value="">Todos</option>
				<option value="delivery" class="card_delivery">Delivery</option>
				<option value="pickup" class="card_pickup">Pick up</option>
				<option value="programado" class="card_programado">Programado</option>
			</select>
		</div>
	</div>

	<div class="input-field col s12 m2">
		<p class="m-0">Desde</p>
		<input type="date" id="buscar-desde" class="form-control mb-0">
	</div>

	<div class="input-field col s12 m2">
		<p class="m-0">Hasta</p>
		<input type="date" id="buscar-hasta" class="form-control mb-0">
	</div>
<!--
	<div class="input-field col s12 m2">
		<p class="m-0">Hora</p>
		<input type="time" id="buscar-hora" class="form-control mb-0">
	</div>
 -->
	<div class="input-field col s12 m2 text-center">
		<br>
		<button id="btn_buscar" disabled="true" class="btn btn-primary">Buscar <i class="fa fa-search"></i></button>
	</div>
</div>



<template id="template-card">
	<div class="card horizontal">
		<div class="card-stacked">
			<div class="card-content p-1">
				<p><span name="cliente">NAME</span>&nbsp;</p>
				<p class="text-bold">Pedido N° #<span name="pedido">0000</span></p>
				<p><i class="fa  icon_modalidad tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delivery"> <span name="fecha">00:00 00-00-0000</span></i></p>
				<a href="#!" class="btn-next btn btn-primary btn-floating btn-ver tooltipped" data-position="bottom" data-delay="50" data-tooltip="Confirmar"><i class="fa fa-angle-right"></i></a>

				<p class="fecha_entrega"><span class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Fecha de entrega del pedido"><strong>Entrega:</strong> <span name="fecha_entrega">22-01-21</span></span></p>

				<span name="estatus" class="est_col">estatus</span>
			</div>

			<div class="card-action p-1 text-center ">
				<a href="#!" class="btn-deta">Ver detalles <i class="fa fa-exclamation-triangle icon_moroso"></i></a>
			</div>
		</div>
	</div>
</template>


<div style="width: 60%;position: fixed;top: 45%;left: 20%;text-align: center;color: black;font-weight: 900;border-radius: 5rem;display: none;z-index:9999;font-size: 22px;" class="txt-cargando">
	<img src="../../static/img/favicon.png" class="fa-spin " width="120"><br>
Cargando. . .</div>
<div class="row">
	<div class="col s12 m2 l2 p-0 col_med">
		<ul class="collapsible">
			<li class="active">
				<div class="head_col collapsible-header p-2 text-bold text-center">Por confirmar <span class="not_col" id="num-confirmar">0</span></div>
				<div class="collapsible-body body_col p-1" id="cards-confirmar"><!-- CARDS --></div>
			</li>
		</ul>
	</div>

	<div class="col s12 m2 l2 p-0 col_med" id="col-programado">
		<ul class="collapsible">
			<li class="active">
				<div class="head_col collapsible-header p-2 text-bold text-center">Programados <span class="not_col" id="num-programado">0</span></div>
				<div class="collapsible-body body_col p-1" id="cards-programado" overflow-y: scroll;><!-- CARDS --></div>
			</li>
		</ul>
	</div>

	<div class="col s12 m2 l2 p-0 col_med">
		<ul class="collapsible">
			<li class="active">
				<div class="head_col collapsible-header p-2 text-bold text-center">Preparando <span class="not_col" id="num-preparando">0</span></div>
				<div class="collapsible-body body_col p-1" id="cards-preparando"><!-- CARDS --></div>
			</li>
		</ul>
	</div>

	<div class="col s12 m2 l2 p-0 col_med">
		<ul class="collapsible">
			<li class="active">
				<div class="head_col collapsible-header p-2 text-bold text-center">Por recoger <span class="not_col" id="num-recoger">0</span></div>
				<div class="collapsible-body body_col p-1" id="cards-recoger"><!-- CARDS --></div>
			</li>
		</ul>
	</div>

	<div class="col s12 m2 l2 p-0 col_med">
		<ul class="collapsible">
			<li class="active">
				<div class="head_col collapsible-header p-2 text-bold text-center">En transito <span class="not_col" id="num-transito">0</span></div>
				<div class="collapsible-body body_col p-1" id="cards-transito"><!-- CARDS --></div>
			</li>
		</ul>
	</div>

	<div class="col s12 m2 l2 p-0 col_med">
		<ul class="collapsible">
			<li class="active">
				<div class="head_col collapsible-header p-2 text-bold text-center">Entregado <span class="not_col" id="num-entregado">0</span></div>
				<div class="collapsible-body body_col p-1" id="cards-entregado"><!-- CARDS --></div>
			</li>
		</ul>
	</div>

	<div class="col s12 m2 l2 p-0 col_med">
		<ul class="collapsible">
			<li class="active">
				<div class="head_col collapsible-header p-2 text-bold text-center">Completado <span class="not_col" id="num-completado">0</span></div>
				<div class="collapsible-body body_col p-1" id="cards-completado"><!-- CARDS --></div>
			</li>
		</ul>
	</div>
</div>




<div id="md-verPedido" class="modal modalFull">
	<div class="modal-header">
		<span>Ver detalles <span class="txt-nombre-doomi"></span></span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<div class="col s12 m6">
					<div class="row m-0">
						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-header">
									<h6 class="text-bold text-center">Detalles del cliente <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id-c"></span></b></h6>
								</li>
								<li class="collection-item"><b>Fecha:</b> <span class="limpiar-data txt-fec"></span></li>
								<li class="collection-item"><b>Cliente:</b> <span class="limpiar-data txt-cli"></span></li>
								<li class="collection-item"><b>Teléfono:</b> <span class="limpiar-data txt-tlf"></span></li>
							</ul><br>
						</div>

						<div class="col s12 pb-2" style="background: #ffdee2;">
							<h6 class="text-bold text-center">Detalles del pedido <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id"></span></b></h6>

							<table class="table-card">
								<thead>
									<tr class="bg_gray">
										<th scope="col">Cantidad</th>
										<th scope="col">Nombre</th>
										<th scope="col">Precio</th>
										<th scope="col">Adicional($)</th>
										<th scope="col">Acompañante($)</th>
										<th scope="col">Notas</th>
									</tr>
								</thead>

								<tbody id="list-pedido">
								</tbody>
							</table>

							<table>
								<tr>
									<td class="bg_gray p-2 text-bold">Subtotal</td>
									<td class="bg_gray p-2 txt-subt-b text-right">0</td>
									<td class="bg_gray p-2 txt-subt text-right">0</td>
								</tr>

								<tr>
									<td class="bg_gray p-2 text-bold">Adicionales</td>
									<td class="bg_gray p-2 txt-adit-b text-right">0</td>
									<td class="bg_gray p-2 txt-adit text-right">0</td>
								</tr>
								<tr>
									<td class="bg_gray p-2 text-bold">Acompañantes</td>
									<td class="bg_gray p-2 txt-acom-b text-right">0</td>
									<td class="bg_gray p-2 txt-acom text-right">0</td>
								</tr>
								<tr class="pre_del" style="display:none;">
									<td class="bg_gray p-2 text-bold">Delivery</td>
									<td class="bg_gray p-2 txt-delt-b text-right">0</td>
									<td class="bg_gray p-2 txt-delt text-right">0</td>
								</tr>
								<tr>
									<td class="bg_gray p-2 text-bold">Total</td>
									<td class="bg_gray p-2 txt-tot-b text-right">0</td>
									<td class="bg_gray p-2 txt-tot text-right">0</td>
								</tr>
							</table>
						</div>

						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-item bg_gray">Estatus: </li>
								<li class="collection-item">
									<span class="limpiar-data" id="sts_ped"></span>
									<!--<input placeholder="Estatus de pedido" id="sts_ped" name="sts_ped" type="text" class="form-control mb-0 limpiar-data-2" disabled>-->
								</li>

								<li class="collection-item bg_gray vista-nota">Nota: </li>
								<li class="collection-item vista-nota">
									<textarea class="form-control limpiar-data-2" name="motivo" id="motivo" placeholder="Nota" disabled></textarea>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col s12 m6">
					<div class="row m-0">
						<div class="col s12 panel-rep">
							<ul class="collection with-header">
								<li class="collection-header">
									<h6 class="text-bold text-center">Detalles del repartidor <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id-r"></span></b></h6>
								</li>
								<span  class="limpiar-data descrip-moda-rep"></span>
							</ul>
						</div>
						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-header">
									<h6 class="text-bold text-center">Modalidad del Pedido</h6>
								</li>
								<li class="collection-item"><b class="txt-mod"></b></li>
								<span  id="fecha-moda" class="limpiar-data descrip-moda"></span>
							</ul>
						</div>

						<!-- leyendas -->
						<div class="col s12 mb-2 ley_mapa" style="display:none">
							<div class="row mt-2">
								<div class="col s6" >
									<div class="row cont-leyenda">
										<div class="col s4 text-center">
											<img src="../../static/img/map-azul.png" class="img-leyenda">
										</div>

										<div class="col s8">
											<p class="m-2 text-bold pt-1">Cliente</p>
										</div>
									</div>
								</div>

								<div class="col s6">
									<div class="row cont-leyenda">
										<div class="col s4 text-center">
											<img src="../../static/img/map-verde.png" class="img-leyenda">
										</div>

										<div class="col s8">
											<p class="m-2 text-bold pt-1">Ubicación Doomialiado</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 ver-mapa limpiar-data">
						</div>

						<div class="col s12 ver-pagos">
							<ul class="collection with-header">
								<li class="collection-item"><b>Datos del pago</b> <!--<span class="txt_m"></span>--></li>
								<li class="collection-item"><b>Cuenta: </b> <span class="txt_c"></span></li>
								<li class="collection-item li-referencia"><b>Referencia: </b> <span class="txt_r"></span></li>
								<li class="collection-item text-center img_pago_ver"><img src="../../static/img/logo.jpg" class="materialboxed img_referencia img_i"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div class="row mt-3">
				<div class="form-group text-center">
					<!--<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save">Procesar</button>-->
					<span class="btn-accion"></span>
					<button type="button" id="btn-devolver" class="accion-rechazado hide waves-effect waves-green btn btn-primary"><i class="fa fa-redo"></i></button>
					<button type="button" name="btg" class="waves-effect waves-green btn btn-primary modal-close cerrar-modal">Cerrar</button>
					<button type="button" name="btn-next-detalle" class="btn-next btn btn-primary waves-effect waves-green tooltipped" data-position="top" data-delay="50" data-tooltip="Avanzar a la siguiente etapa"><i class="fa fa-angle-right"></i></button>
					<button type="button" id="btn-archivar" class="accion-rechazado hide waves-effect waves-green btn btn-primary"><i class="fa fa-archive"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>



<div id="md-proPedido-pago" class="modal">
	<div class="modal-header">
		<span class="tit-det-pedi">Procesar pago del pedido</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<div class="col s12 m12">
					<div class="row m-0">
						<div class="col s12 div-det-pago">
							<h6 class="text-bold text-center">Procesar pago del pedido <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id-pro-pago"></span></b></h6>
						</div>
						<div class="col s12 div-det-pago">
							<ul class="collection with-header">
								<!--<li class="collection-item"><b>Método de pago: </b> <span class="txt_pago_m"></span></li>-->
								<li class="collection-item"><b>Datos del pago</b> <!--<span class="txt_m"></span>--></li>
								<li class="collection-item"><b>Cuenta: </b> <span class="txt_pago_c"></span></li>
								<li class="collection-item li-referencia"><b>Referencia: </b> <span class="txt_pago_r"></span></li>
								<li class="collection-item text-center img_pago"><img src="../../static/img/logo.jpg" class="materialboxed img_referencia img_pago_i"></li>

							</ul>
						</div>
						<div class="col s12 div-det-pago">
							<ul class="collection with-header">
								<li class="collection-item bg_gray">Nota: </li>
								<li class="collection-item">
									<textarea class="form-control limpiar-data-2" name="motivo_ped_p" id="motivo_ped_p" placeholder="Describa observaciones"></textarea>
								</li>
							</ul>
						</div>
						<div class="col s12 text-center div-tiempo">
							<ul class="collection with-header">
								<li class="collection-item bg_gray  ">Indica el tiempo en el que podemos recoger este pedido</li>
								<li class="collection-item display-flex-buttoms "  >
					                <button type="button" name="bta" id="res_" class="waves-effect waves-green btn btn-primary btn_minuto round-btn "><i class="fas fa-minus"></i></button>
									<p style="margin-top: 0px;margin-bottom: 0px;margin-left: 10px;margin-right: 10px;" > <b><span class="txt-min">5</span> min</b></p>
									<button type="button" name="bta" id="sum_" class="waves-effect waves-green btn btn-primary btn_minuto round-btn"><i class="fas fa-plus"></i></button>
								</li>
								<li class="collection-item">Tiempo minimo 5 min</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div class="row mt-3">
				<div class="form-group text-center div-det-pago">
					<button type="button" name="bta" id="btap" class="waves-effect waves-green btn btn-primary bt_save_p4">Aceptar</button>
					<button type="button" name="btr" id="btrp" class="waves-effect waves-green btn btn-primary bt_save_p4">Rechazar</button>
				</div>

				<div class="form-group text-center div-tiempo-pro">
					<button type="button" id="bta_ti" btnmodal='1' class="waves-effect waves-green btn btn-primary bt_save_p4 btn-next-si">Aceptar</button>
					<button type="button" class="waves-effect waves-green btn btn-primary bt_save_p4 modal-close">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>



<div id="md-calificacion" class="modal">
	<div class="modal-header">
		<span>Calificación del pedido</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row mb-2">
				<div class="col s12 text-center">
					<img src="../../static/img/favicon.png" class="img-perfil" id="img-cli-cali">
					<p class="m-0 text-bold txt-cli-cal"></p><br>
					<h5 class="m-0"><span class="txt-nota-cal"></span>/5</h5>
					<span class="ver-est"></span>
				</div>
			</div>

			<div class="row mt-2">
				<div class="col s12 m6 offset-m3">
					<p class="m-0 text-center txt-obs-cal"></p>
				</div>
			</div>
		</div>
	</div>
</div>



<div id="md-proEntregar" class="modal">
	<div class="modal-header">
		<span>Verificar y entregar pedido</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<div class="col s12">
					<h6 class="text-bold text-center">Detalles del pedido <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id-e"></span></b></h6>

					<table class="table-pedido">
						<thead>
							<tr class="bg_gray">
								<th>Cantidad</th>
								<th>Nombre</th>
								<th>Adicional</th>
								<th>Acompañantes</th>
								<th>Notas</th>
							</tr>
						</thead>

						<tbody id="list-pedido-e">
						</tbody>

					</table>

				</div>
			</div>


			<div class="row mt-3">
				<div class="form-group text-center">
					<h5>¿El pedido esta completo para ser entregado?</h5>
					<button type="button" name="bta" id="bta_e" class="modal-close cerrar-modal btn-next-si waves-effect waves-green btn btn-primary conf_si_en">SI</button>
					<!-- <button type="button" name="btr" id="btr_e" class="modal-close cerrar-modal waves-effect waves-green btn btn-primary">NO</button> -->
					<button type="button" name="btr" id="btr_e" class="waves-effect waves-green btn btn-primary modal-close cerrar-moda">No</button>
				</div>
			</div>
		</div>
	</div>
</div>



<div id="md-admin" class="modal">
	<div class="modal-header">
		<span>Procesar pedido</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<div class="col s12 m12">
					<div class="row m-0">
						<div class="col s12">
							<h6 class="text-bold text-center">Pedido <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id-pro-pago"></span></b></h6>
						</div>

						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-header">
									<h6 class="text-bold text-center">Detalles del cliente <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id-c"></span></b></h6>
								</li>
								<li class="collection-item"><b>Fecha:</b> <span class="limpiar-data txt-fec"></span></li>
								<li class="collection-item"><b>Cliente:</b> <span class="limpiar-data txt-cli"></span></li>
								<li class="collection-item"><b>Teléfono:</b> <span class="limpiar-data txt-tlf"></span></li>
							</ul><br>
						</div>
						<!--
						<div class="col s12 hide_no_rep" style="display: none">
							<ul class="collection with-header">
								<li class="collection-header">
									<h6 class="text-bold text-center">Detalles del repartidor <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id-r"></span></b></h6>
								</li>
								<li class="collection-item"><b>Nombre:</b> <span class="limpiar-data txt-rep"></span></li>
								<li class="collection-item"><b>Teléfono:</b> <span class="limpiar-data txt-tlf-r"></span></li>
							</ul><br>
						</div>
						-->
						<div class="col s12">
							<ul class="collection with-header">
								<!--<li class="collection-item"><b>Método de pago: </b> <span class="txt_pago_m"></span></li>-->
								<li class="collection-item"><b>Datos del pago</b> <!--<span class="txt_m"></span>--></li>
								<li class="collection-item"><b>Cuenta: </b> <span class="txt_pago_c"></span></li>
								<li class="collection-item li-referencia"><b>Referencia: </b> <span class="txt_pago_r"></span></li>
								<li class="collection-item text-center img_pago"><img src="../../static/img/logo.jpg" class="materialboxed img_referencia img_pago_i"></li>

							</ul>
						</div>
						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-item bg_gray">Nota: </li>
								<li class="collection-item">
									<textarea class="form-control limpiar-data-2" name="motivo_ped_p" id="admin_motivo" placeholder="Describa observaciones"></textarea>
								</li>
							</ul>
						</div>
						<div class="input-field col s12">
							<p class="m-0">Estatus</p>
							<div class="select-wrapper">
								<select id="admin_estatus" class="initialized">
									<option value="">Todos</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row mt-3 hide_no_rep" style="display: none;">
				<div class="form-group text-center">
					<div class="col s12 mb-3">
						<input type="checkbox" name="modalidad_pickup" value="1" id="check_liberar">
						<label class="clr_black" for="check_liberar">Liberar repartidor</label>
					</div>
				</div>
			</div>



			<div class="row mt-3">
				<div class="form-group text-center">
					<button type="button" id="btn-guardar-admin" class="waves-effect waves-green btn btn-primary bt_save_p4">Guardar Cambios</button>
					<!--
					<button type="button" name="btr" id="btrp" class="waves-effect waves-green btn btn-primary bt_save_p4">Rechazar</button> -->
					<button type="button" name="btg" class="waves-effect waves-green btn btn-primary modal-close cerrar-modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
</div>



<!-------------------- MODAL REPARTIDORES ACTIVOS ------------------->
<div id="md-repartidores" class="modal">
	<div class="modal-header">
		<span>Repartidores disponibles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<table class="table-card">
			<thead>
				<tr class="bg_gray">
					<th scope="col">Nombre y Apellido</th>
					<th scope="col">ID</th>
					<th scope="col">Teléfono</th>
					<th scope="col">WhatsApp</th>
				</tr>
			</thead>

			<tbody id="lista_repartidores_dispo">
				<!--<tr>
					<td data-label="Nombre">Nombre y Apellido</td>
					<td data-label="ID">121</td>
					<td data-label="Teléfono">0414-5848755</td>
					<td class="text-center" data-label="WhatsApp">
						<a href="https://web.whatsapp.com/" id="" class="btn btn-primary btn-floating tooltipped" data-position="bottom" data-delay="50" data-tooltip="Whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>
					</td>
				</tr>

				<tr>
					<td data-label="Nombre">Nombre y Apellido</td>
					<td data-label="ID">121</td>
					<td data-label="Teléfono">0414-5848755</td>
					<td class="text-center" data-label="WhatsApp">
						<a href="https://web.whatsapp.com/" id="" class="btn btn-primary btn-floating tooltipped" data-position="bottom" data-delay="50" data-tooltip="Whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>
					</td>
				</tr>

				<tr>
					<td data-label="Nombre">Nombre y Apellido</td>
					<td data-label="ID">121</td>
					<td data-label="Teléfono">0414-5848755</td>
					<td class="text-center" data-label="WhatsApp">
						<a href="https://web.whatsapp.com/" id="" class="btn btn-primary btn-floating tooltipped" data-position="bottom" data-delay="50" data-tooltip="Whatsapp" target="_blank"><i class="fab fa-whatsapp"></i></a>
					</td>
				</tr>-->
			</tbody>
		</table>
	</div>
</div>
