<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=perfilnegocio" class="clr_white"><i class="fa fa-user-circle prefix"></i> Perfil Negocio </a>
			<a href="index.html?op=inicio" class="modal-close cerrar-modal" style="float: right; left: 50%;"><i class="fa fa-times"></i></a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m12 l12">
		<div class="card-panel boxModulo p-0">
			<div class="row">
				<form action="" id="form_perfil" method="POST" enctype="multipart/form-data" data-parsley-validate class="col s12 p-0">
					<input id="iden" name="iden" type="hidden" value="">

					<div class="row mb-3">
						<div class="col s12 m6 text-center p-1 bg_gray">
							<h6 class="m-1 text-center text-bold">Logo</h6>
							<div class="flexCenter">
								<img src="../../static/img/user.png" class="hide img-perfil all_img" id="imagen">
							</div>

							<div class="text-center">
								<div id="resizer-demo"></div>
							</div>

							<div class="file-field input-field center m-0">
								<div class="btn-floating btn-blue" style="cursor: pointer;">
									<span><i class="fa fa-upload"></i></span>
									<input type="file" onchange="abrirEditor(this,'0');" id="file-input" accept="image/*" name="img">
								</div>
							</div>
						</div>

						<div class="col s12 m6 text-center p-1 bg_gray">
							<h6 class="m-1 text-center text-bold">Imagen de Portada</h6>
							<div class="flexCenter">
								<img src="../../static/img/logo.jpg" class="hide img-perfil all_img" id="imagen1">
							</div>

							<div class="text-center">
								<div id="resizer-demo-1"></div>
							</div>
							<div class="file-field input-field center m-0">
								<div class="btn-floating bg_first-color btn-blue" style="cursor: pointer;">
									<span><i class="fa fa-upload"></i></span>
									<input type="file" onchange="abrirEditor(this,'1');"  accept="image/*" id="img_portada">
								</div>
							</div>
						</div>
					</div>

					<div class="row mb-4">
						<div class="col s12 text-center vista_cali">
						</div>
					</div>

					<div class="row">
						<div class="col s12 m6">
							<div class="row">
								<div class="input-field col s12">
									<p class="m-0 text-bold">Nombre del Doomialiado</p>
									<input placeholder="" id="nombre" name="nombre" type="text" class="form-control mb-0">
								</div>

								<div class="input-field col s12">
									<p class="m-0 text-bold">Categoría</p>
									<select name="categoria" id="categoria" class="select2 initialized">
										<option value="">Seleccione</option>
									</select>
								</div>

								<div class="input-field col s12">
									<p class="m-0 text-bold">Subcategorías</p>
									<select name="subcategoria[]" id="subcategoria" class="initialized" multiple>
										<option></option>
									</select>
								</div>

								<div class="input-field col s12">
									<p class="m-0 text-bold">Descripción</p>
									<textarea class="form-control mb-0" id="descripcion" name="descripcion" placeholder="Descripción"></textarea>
								</div>
							</div>
						</div>

						<div class="col s12 m6">
							<div class="row">
								<div class="input-field col s12">
									<p class="m-0 text-bold">Teléfono local</p>
									<input id="telefono" name="telefono" type="text" class="form-control mb-0">
								</div>

								<div class="input-field col s12 m6">
									<p class="m-0 text-bold">Facebook</p>
									<input type="text" name="facebook" id="facebook" class="form-control mb-0">
								</div>

								<div class="input-field col s12 m6">
									<p class="m-0 text-bold">Instagram</p>
									<input type="text" name="instagram" id="instagram" class="form-control mb-0">
								</div>

								<div class="col s12 p-0">
									<div class="row">
										<div class="input-field col s12">
											<p class="m-0 text-bold">RIF</p>
										</div>

										<div class="input-field col s4 m3 m-0">
											<div class="select-wrapper">
												<select name="rif_letra" id="rif_letra" class="rif_data initialized">
													<option value=""></option>
													<option value="J">J</option>
													<option value="G">G</option>
													<option value="V">V</option>
													<option value="E">E</option>
													<option value="P">P</option>
												</select>
											</div>
										</div>

										<div class="input-field col s4 m5 m-0">
											<input placeholder="" id="rif_numero" name="rif_numero" maxlength="8" type="text" class="rif_data form-control mb-0 text-center">
										</div>

										<div class="input-field col s4 m4 m-0">
											<input placeholder="" id="rif_chequeo" name="rif_chequeo" maxlength="1" type="text" class="rif_data form-control mb-0 text-center">
										</div>
									</div>
								</div>

								<div class="col s12 mb-3">
									<p class="text-bold">Modalidad de trabajo</p>
									<div class="bg_gray p-2">
										<input type="checkbox" name="modalidad_delivery" value="1" id="delivery"><label class="clr_black" for="delivery">Delivery</label>
									</div>
								</div>

								<div class="col s12 mb-3">
									<div class="bg_gray p-2">
										<input type="checkbox" name="modalidad_pickup" value="1" id="pickup">
										<label class="clr_black" for="pickup">Pick up</label>
									</div>
								</div>

<!--
								<div class="col s12 mb-3">
									<div class="bg_gray p-2">
										<input type="checkbox" name="modalidad_pickup" class="check-moda" value="1" id="pickup">
										<label class="clr_black" for="pickup">
											Pick Up
											<a href="#!" modalidad="pickup" class="md-horarioprogramado btn btn-primary modal-trigger btn-floating ml-3">
												<i class="fa fa-calendar"></i>
											</a>
										</label><br>
									</div>
								</div>
 -->
								<div class="col s12 mb-3">
									<div class="bg_gray p-2">
										<input type="checkbox" name="modalidad_programados" class="check-moda" value="1" id="programado">
										<label class="clr_black" for="programado">
											Pedidos programados
											<a href="#!" modalidad="programado" class="md-horarioprogramado btn btn-primary modal-trigger btn-floating ml-3">
												<i class="fa fa-calendar"></i>
											</a>
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>



					<div class="row">
						<div class="col s12 m4">
							<div class="row">
								<div class="input-field col s12">
									<p class="m-0 text-bold">Ubicación</p>
									<input placeholder="" id="ubicacion" name="ubicacion" type="text" class="form-control mb-0">
								</div>
							</div>

							<div class="row">
								<div class="input-field col s12">
									<p class="m-0 text-bold">País</p>
									<div class="select-wrapper">
										<select name="pais" id="pais" class="select2 initialized">
											<option value="">Seleccione</option>

										</select>
									</div>
								</div>

								<div class="input-field col s12">
									<p class="m-0 text-bold">Estado</p>
									<div class="select-wrapper">
										<select name="estado" id="estado" class="select2 initialized">
											<option value="">Seleccione</option>

										</select>
									</div>
								</div>

								<div class="input-field col s12">
									<p class="m-0 text-bold">Ciudad</p>
									<div class="select-wrapper">
										<select name="ciudad" id="ciudad" class="select2 initialized">
											<option value="">Seleccione</option>

										</select>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 m8">
							<div class="row">
								<div class="input-field col s12">
									<p class="m-0 text-bold">Ubicación geográfica</p>
									<div id="map" style="width: 100%; height: 260px; margin-bottom: 50px;"></div>
									<input type="hidden" name="lat" id="lat">
									<input type="hidden" name="lon" id="lon">
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col s12 mb-4">
							<div class="bg_gray p-2">
								<h6 class="text-center">Encargados con acceso <a href="#!" class="btn btn-primary btn-floating add-usu"><i class="fa fa-plus	"></i></a></h6>
							</div>
						</div>

						<div class="row mt-4">
							<div class="col s12">
								<table class="responsive-table">
									<thead>
										<tr class="tr-movil">
											<th>#</th>
											<th>Nombre</th>
											<th>Cédula</th>
											<th>Correo</th>
											<th>Contraseña</th>
											<th>Opción</th>
										</tr>
									</thead>

									<tbody id="list-usuarios">
										<tr id="tr-0 p-0">
											<td class="p-0"><span class="caja-new">Nuevo</span></td>
											<td class="p-0">
												<div class="input-field col s12 p-0">
													<input placeholder="" name="usuarios[]" type="text" class="form-control datausu allusus" iden="n0">
												</div>
											</td>

											<td class="p-0">
												<div class="input-field col s12 p-0">
													<input placeholder="" name="correos[]" type="email" class="form-control datacor" iden="n0">
												</div>
											</td>

											<td class="p-0">
												<div class="input-field col s12 p-0">
													<input type="hidden" name="idusu" value="0"><input placeholder="" name="pass[]" type="password" class="form-control datausu2">
												</div>
											</td>

											<td class="p-0">
												<div class="input-field col s12 p-0 text-center">
													<a class="waves-effect btn btn-primary btn-floating delete-usu" id="-0"><i class="fa fa-trash"></i></a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="row">
								<div class="progress col s12 fileprogress hide" style="">
								    <div class="determinate" style="width: 50%"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row mt-3 mb-3">
						<div class="form-group text-center">
							<button type="submit" name="btg" id="bt_guardar_cambios" class="waves-effect waves-green btn btn-primary bt_save mb-1">Guardar cambios</button>
							<a href="index.html?op=inicio" class="modal-close waves-effect waves-green btn btn-primary mb-1">Cerrar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


<div id="md-nuevoUsuario" class="modal">
	<div class="modal-header">
		<span>Agregar nuevo usuario</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form action="" id="form_usu">
				<div class="row">
					<div class="input-field  col s12 m6">
						<p class="m-0 text-bold">Nombre del usuario</p>
						<input placeholder="" id="nom_usu" name="nom_usu" type="text" class="form-control">
					</div>

					<div class="input-field  col s12 m6">
						<p class="m-0 text-bold">Correo</p>
						<input placeholder="" id="cor_usu" name="cor_usu" type="text" class="form-control">
					</div>

					<div class="input-field  col s12 m12">
						<p class="m-0 text-bold">Contraseña</p>
						<input placeholder="" id="con_usu" name="con_usu" type="password" class="form-control">
					</div>
				</div>
				<div class="row mt-3">
					<div class="form-group text-center">
						<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary mb-2 bt_save">Guardar</button>
						<a href="#!" class="modal-close waves-effect waves-green btn btn-primary mb-2">Cerrar</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


<div id="md-horarioprogramado" class="modal">
	<div class="modal-header">
		<span>Agregar horario <span id="md-horarioprogramado-titulo"></span></span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form id="form-horario">
				<input type="hidden" name="modalidad" id="hor-modalidad">
				<div class="row">
					<div class="input-field col s12 m3">
						<p class="m-0 text-bold">Seleccione la fecha</p>
						<input id="fecha_ini" name="fecha_ini" type="date" class="input-horario form-control">
					</div>
					<div class="input-field col s12 m3">
						<p class="m-0 text-bold">Hora inicio</p>
						<input id="hora_ini" name="hora_ini"  type="time" class="input-horario form-control">
					</div>
					<div class="input-field col s12 m3">
						<p class="m-0 text-bold">Hora fin</p>
						<input id="hora_fin" name="hora_fin" type="time" class="input-horario form-control">
					</div>

					<div class="col s12 m3">
						<p></p><br>
						<a href="#!" class="btn-agregar-horario btn btn-primary">Agregar</a>
					</div>
				</div>
			</form>

			<table id="data-table-horarios">
				<thead>
					<tr class="bg_first-color clr_white">
						<th>#</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th>Opción</th>
					</tr>
				</thead>

				<tbody id="data-body-horarios">
				<!--
					<tr>
						<td>1</td>
						<td>01/02/2021</td>
						<td>04:00pm</td>
						<td>
							<a class="waves-effect btn btn-primary btn-floating tooltipped" data-position="bottom" data-delay="50" data-tooltip="Eliminar horario" onclick="Materialize.toast('<span>¿Desea eliminar ésta horario?</span><a class=&quot;btn-flat green-text&quot; href=&quot;#!&quot;>Sí<a><a class=&quot;btn-flat blue-text&quot; href=&quot;#!&quot;>No<a>', 5000)"><i class="fa fa-trash"></i></a>
						</td>
					</tr>
				-->
				</tbody>

			</table>
		</div>
	</div>
</div>

<div id="md-horariorepetir" class="modal">
	<div class="modal-header">
		<span>Repetir horario <span id="md-horarioprogramado-titulo"></span></span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body ">
			<form id="form-horario-rep">
				<div class="row">
					<div class="input-field col s12 m12 text-center">
						<p class="m-0 text-bold">Cantidad de dias a repetir</p>
						<input id="can_rep" name="can_rep" min="1" max="30" type="number" class="input-horario form-control">
						<p></p>
						<button type="submit" name="btr" class="waves-effect waves-green btn btn-primary mb-2 bt_save_2">Repetir</button>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>