<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=preguntasfrecuentes" class="clr_white"><i class="fa fa-info prefix"></i> Preguntas frecuentes </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a id="btn-nuevo" class="waves-effect waves-light btn btn-primary modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar una pregunta frecuente" href="#md-preguntasfrecuentes">Nuevo <i class="fa fa-plus"></i></a><br>
</div>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Pregunta</th>
			<th>Respuesta</th>
			<th>Estatus</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>


<div id="md-preguntasfrecuentes" class="modal">
	<div class="modal-header">
		<span>Agregar pregunta frecuente</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form id="form-faq">
				<input type="hidden" id="iden">
				<div class="row mb-0">
					<div class="input-field col s12">
						<p class="m-0">Pregunta</p>
						<textarea name="pregunta" id="pregunta" class="form-control"></textarea>
					</div>
				</div>
				
				<div class="row mb-0">
					<div class="input-field col s12">
						<p class="m-0">Respuesta</p>
						<textarea name="respuesta" id="respuesta" class="form-control"></textarea>
					</div>
				</div>

				<div class="row mt-3 mb-3">
					<div class="form-group text-center">
						<button type="submit" id="btn-guardar" class="waves-effect waves-green btn btn-primary bt_save tooltipped" data-position="bottom" data-delay="50" data-tooltip="Guardar información de la pregunta frecuente">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
