
<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=menu" class="clr_white"><i class="fa fa-car prefix"></i> Repartidores favoritos </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a id="nuevoMenuBtn" class="waves-effect waves-light modal-trigger btn btn-primary " data-position="left" data-delay="50" data-tooltip="Agregar repartidor favorito" href="#md-agregar" onclick="document.getElementById('form-favorito').reset();">Agregar <i class="fa fa-plus"></i>
	</a><br>
</div>


<!-------------------- MODAL AGREGAR ------------------->
<div id="md-agregar" class="modal" style="width: 40% !important;">
	<div class="modal-header">
		<span>Agregar Repartidor Favorito</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form method="post" id="form-favorito">
				<div class="row mt-3 mb-3">

					<div class="row mb-0">
						<div class="input-field col s12 m12">
							<p class="m-0">Tipo de Vehículo</p>
							<div class="select-wrapper">
								<select id="vehiculo" class="initialized">
									<option value="">Seleccione</option>
									<option value="V">V-</option>
									<option value="E">E-</option>
									<option value="J">J-</option>
									<option value="G">G-</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row mb-0">
						<div class="input-field col s12 m12">
							<p class="m-0">Identificación</p>
							<div class="select-wrapper">
								<select id="identificacion" class="initialized">
									<option value="">Seleccione</option>
									<option value="V">V-</option>
									<option value="E">E-</option>
									<option value="J">J-</option>
									<option value="G">G-</option>
								</select>
							</div>
						</div>
<!-- 
						<div class="input-field col s12 m12">
							<p class="m-0">Número de identificación</p>
							<input id="cedula" type="text" class="form-control mb-0">
						</div>
						 -->
					</div>

					<div class="row mb-0">
						<div class="input-field col s12 m12">
							<p class="m-0">Número de identificación</p>
							<input id="cedula" type="text" class="form-control mb-0">
						</div>
					</div>

					<div class="row mb-0">
						<div class="input-field col s12 text-center">
							<button id="btn-agregar" type="button" class="btn btn-primary tooltipped" data-position="bottom" data-delay="50" data-tooltip="Agregar repartidor favorito">Agregar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Cédula</th>
			<th>Nombre</th>
			<th>ID</th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>


<!-- 
<style type="text/css">

	.adi-view-style, .aco-view-style, tr:nth-child(odd) {
		background-color: #fafafa;
	}

	#data-table-simple td:nth-last-child(2) {
		width: 200px !important;
	}

	.dataTables_filter input { width: 200px !important; }

</style>
 -->