<div class="row boxBarra">
  <div class="col s12">
    <div class="boxBarra__content">
      <a href="index.html?op=reportes" class="clr_white"><i class="fa fa-list prefix"></i> Reportes </a>
    </div>
  </div>
</div>

<form id="form-reporte">
  <div class="row">
    <div class="col s12 m6 input-field">
      <p class="m-0">Desde</p>
      <input type="date" name="desde" id="desde" class="form-control mb-0">
    </div>

    <div class="col s12 m6 input-field">
      <p class="m-0">Hasta</p>
      <input type="date" name="hasta" id="hasta" class="form-control mb-0">
    </div>

    <div class="col s12 m6 input-field">
      <p class="m-0">Modalidad</p>
      <div class="select-wrapper" >
        <select name="modalidad" id="modalidades" class="rif_data initialized">
          <option value="" selected="">Seleccionar</option>
        </select>
      </div>
    </div>

    <div class="col s12 m6 input-field">
      <p class="m-0">Repartidor</p>
      <div class="select-wrapper reps-wrapper" >
        <input type="text" name="repartidor" id="reps" class="form-control mb-0">
        <!--<select name="repartidor" id="reps" class="rif_data initialized">
          <option value="" selected="">Seleccionar</option>
        </select>-->
      </div>
    </div>

    <div class="col s12 m6 input-field">
      <p class="m-0">Estatus</p>
      <div class="select-wrapper" >
        <select name="estatus" id="estatus" class="rif_data initialized">
          <option value="" selected="">Seleccionar</option>
        </select>
      </div>
    </div>

    <div class="col s12 m6 input-field view-admin hide">
      <p class="m-0">Doomi</p>
      <div class="select-wrapper" id="doomis-wrapper">
        <input type="text" name="doomi" id="doomis" class="form-control mb-0">
        <!--<select name="doomi" id="doomis" class="rif_data initialized">
          <option value="" selected="">Seleccionar</option>
        </select>-->
      </div>
    </div>

    <div class="col s12 m6 input-field view-admin hide">
      <p class="m-0">Tipo de reporte</p>
      <div class="select-wrapper" >
        <select name="tipo_r" id="tipo_r" class="rif_data initialized">
          <option value="1">Pedidos</option>
          <option value="2">Pagos pendientes</option>
          <option value="3">Pagos pendiente por revisar </option>
          <option value="4">Pagos en disputa </option>
          <option value="5">Pagos recibidos </option>

        </select>
      </div>
    </div>
  </div>

  <div class="row" style="margin: 20px auto;">
    <div class="input-field col s12 text-center flex flex-center">
      <button type="submit" class="bt_save hide_btn_pdf btn btn-primary tooltipped mr-1" data-position="bottom" data-delay="50" data-tooltip="Generar reporte en PDF">
        <i class="fa fa-file-pdf"></i> <span>Generar PDF<span></button>

      <button type="button" id="btn_detalles" style="display:none;" class=" btn btn-primary tooltipped ml-1" data-position="bottom" data-delay="50" data-tooltip="Ver detalles de pago">
        <i class="fa fa-search"></i> <span>Detalles de pago<span></button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col s12 text-center">
    <iframe
      id="pdf-frame"
      src="#!"
      style="width:100%; height:500px; display:none;"
      >
    </iframe>
  </div>
</div>



<!--
<div class="row mt-2">
  <div class="col s12">
    <table>
      <thead>
        <tr class="bg_gray">
          <th>#</th>
          <th>ID</th>
          <th>Repartidor</th>
          <th>ID</th>
          <th>Pedido</th>
          <th>Modalidad</th>
          <th>Fecha</th>
          <th>Pedido</th>
          <th>Estatus</th>
          <th>Costo Delivery</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>
          <td>333</td>
          <td>Repartidor</td>
          <td>33</td>
          <td>Pedido</td>
          <td>Modalidad</td>
          <td>20/10/20</td>
          <td>Pedido</td>
          <td>Finalizado</td>
          <td>2.850.000</td>
        </tr>
      </tbody>


      <tfoot class="bg_gray">
        <td colspan="9" style="text-align: right;">TOTAL POR DELIVERY</td>
        <td colspan="1" align="right" style="padding: 8px;"><b style="color:green;">2.850.000</b></td>
      </tfoot>
    </table>
  </div>
</div>
-->

<!-- TABLAS Y MODALES PARA LOS NUEVOS MODOS DE REPORTE -->

<!-- Tabla Doomi y Pendiente  -->

<div id="div_tabla_doomi" style="display:none;" class="row mt-2">
  <div class="col-lg-12">
    <table id="data-table-doomi" class="table display dt-responsive" cellspacing="0" >
      <thead>
        <tr class="bg_gray">
          <th>#</th>
          <!-- <th>Número de pedidos</th> -->
          <th>Aliado</th>
          <!-- <th>Fecha pedido</th> -->
          <th>Monto</th>
          <th>Fecha pago</th>
          <th>Referencia</th>
          <th>Estatus</th>
          <th>Opcion</th>
        </tr>
      </thead>

      <tbody>
        <!--
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="flex" >
            <a class="waves-effect waves-light modal-trigger btn btn-primary btn-floating ver-info tooltipped " data-position="left" data-delay="50" data-tooltip="Ver" href="#md-nuevoAdmin" onclick='$("#form_registrar_admins")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo administrador");'><i class="fa fa-eye"></i></a>
            <a class="waves-effect waves-light modal-trigger btn btn-primary btn-floating ver-info tooltipped ml-2 " data-position="left" data-delay="50" data-tooltip="Cambiar estatus" href="#md-nuevoAdmin" onclick='$("#form_registrar_admins")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo administrador");'><i class="fa fa-cog"></i></a><br>
             
          </td>
        </tr>
         -->
      </tbody>

    </table>
  </div>
</div>

<!-- MODAL CONFIRMAR PAGO A ADMINISTRACION -->
<div id="md-pagoAdmin" style="width:80%"  class="modal witdht-modal">
  <div class="modal-header">
    <span id="tit-mod">Pagos del doomi</span>
    <a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
  </div>

  <div class="modal-content">
    <div class="modal-body">
      <form class="col s6" id="form_registrar_admins">
        <input id="id_pago" name="id_pago" type="hidden" value="">
<!-- 
        <div class="col s12 m6 input-field view-admin hide">
          <p class="m-0">Cuenta</p>
          <div class="select-wrapper" >
            <input type="text" name="cuenta" id="cuenta" class="form-control mb-0">
          </div>
        </div>

        <div class="row mb-0 hide_ref">
          <div class="input-field col s12 m12">
            <p class="m-0">Referencia</p>
            <input placeholder="" id="referencia_doomi" name="referencia" type="text" class="form-control mb-0">
          </div>
        </div>
 -->
        <br>
        <div class="row mb-0">
          <div class="row mt-2">
            <div class="col-lg-12">
              <table id="data-table-pagoadmin" class="table display dt-responsive " style="width: 100%;" cellspacing="0" >
                <thead>
                  <tr class="bg_gray">
                    <th>#</th>
                    <th>Codigo del pedido</th>
                    <th>Aliado</th>
                    <th>Fecha y hora</th>
                    <th>Monto</th>
                  </tr>
                </thead>
          
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th colspan="4" style="text-align:right">Total:</th>
                    <th><span id="total_doomi"></span></th>
                    <!-- <th></th> -->
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>


        <div class="row mt-3 mb-2 hide_confirmar">
          <div class="form-group text-center">
            <button type="button" class="btn_pago_doomi waves-effect waves-green btn btn-primary  tooltipped"  data-tooltip="Confirmar pago">Confirmar</button>
          </div>
        </div>

      </form>
    </div>
  </div>

  
</div>

<!-- Tabla repartidor  -->

<div class="row mt-2" id="div_tabla_repartidor" style="display:none;">
  <div class="col-lg-12">
    <table id="data-table-repartidor" class="table display dt-responsive" cellspacing="0" >
      <thead>
        <tr class="bg_gray">
          <th>#</th>
          <th>ID pedido</th>
          <th><span id="titulo-fecha-rep">Fecha y Hora</span></th>
          <th>Cliente</th>
          <th>Doomi</th>
          <th>Monto</th>
          <th>Referencia</th>
          <th>Estatus</th>
          <th>Opcion</th>
        </tr>
      </thead>

      <tbody>
        <!-- <tr>
          <td>1234</td>
          <td>10/01/2021 11:03 am</td>
          <td>Jean viña</td>
          <td>Plade pruebas</td>
          <td>
            15.000.000,00 bsf
            15$
          </td>
          <td>Pagado</td>
          <td style="width: 100px;" class="flex" >
            
            <a class="waves-effect waves-light modal-trigger btn btn-primary btn-floating ver-info tooltipped " data-position="left" data-delay="50" data-tooltip="Ver" href="#md-nuevoAdmin" onclick='$("#form_registrar_admins")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo administrador");'><i class="fa fa-eye"></i></a>
            
            <a class="waves-effect waves-light modal-trigger btn btn-primary btn-floating ver-info tooltipped ml-2" data-position="left" data-delay="50" data-tooltip="Cambiar estatus" href="#md-nuevoAdmin" onclick='$("#form_registrar_admins")[0].reset();$("#iden").val("");$(".bt_save").html("Guardar");$("#tit-mod").html("Nuevo administrador");'><i class="fa fa-cog"></i></a><br>

          </td>
        </tr>
         -->
      </tbody>
      
    </table>
  </div>
</div>

<!-- Modal repartidor -->

<div id="md-pagoRep" style="width: 40%;" class="modal witdht-modal">
  <div class="modal-header">
    <span id="tit-mod">Pago a repartidor</span>
    <a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
  </div>

  <div class="modal-content">
    <div class="modal-body">
      <form class="col s6" id="form_pago_rep">
        <input id="id_pedido" name="pedido" type="hidden" value="">
<!-- 
        <div class="row mb-0">
          <div class="input-field col s12">
            <p class="m-0">Método de pago</p>
            <div class="select-wrapper" >
              <span class="txt_metodo_rep">
                <p>METODO DEL REPARTIDOR</p>
              </span>
            </div>
          </div>
        </div>
 -->
        <div class="row mb-0">
          <div class="input-field col s12">
            <p class="m-0">Datos para el pago</p>
            <textarea name="datos_pago" id="datos_pago" disabled readonly class="form-control"></textarea>
          </div>
        </div>

        <div class="row mb-0">
          <div class="input-field col s12 m12 hide_ref_prev">
            <p class="m-0">Referencia</p>
            <input placeholder="" disabled readonly  id="referencia_anterior" type="text" class="form-control mb-0">
          </div>
        </div>
        <div class="row mb-0 hide_motivo" style="display:none;">
          <div class="input-field col s12">
            <p class="m-0">Motivo del rechazo</p>
            <textarea name="motivo" id="motivo" class="form-control"></textarea>
          </div>
        </div>

        <div class="row mb-0 hide_ref" style="display:none;">
          <div class="input-field col s12 m12">
            <p class="m-0">Referencia nueva</p>
            <input placeholder="" id="referencia" name="referencia" type="text" class="form-control mb-0">
          </div>
        </div>

        <div class="row">
          <div class="col s12 text-center flex flex-center ">
            <p class="mb-0 font-xl bold text-center " >Monto: <span class="txt_monto">15 $ // 15.000.000,00 bsf</span></p>
          </div>
        </div>


        <div class="row mt-3 mb-2 flex flex-center">
          <div class="form-group flex flex-center text-center hide_disputar_pagar">
            <button href="#!" type="button" name="disputar"  class="btn_repartidor waves-effect waves-green btn btn-primary  tooltipped mr-1"  data-tooltip="Enviar a disputa">Disputar</button>
            <button href="#!" type="button" name="confirmar" class="btn_repartidor waves-effect waves-green btn btn-primary  tooltipped ml-1 "  data-tooltip="Enviar pago">Pagar</button>
            <button href="#!" type="button" name="aceptar" style="display:none;" class="btn_repartidor waves-effect waves-green btn btn-primary  tooltipped ml-1 "  data-tooltip="Aceptar pago">Aceptar</button>
          </div>

          <div class="form-group flex flex-center text-center hide_enviar_rep" style="display:none;">
            <button href="#!" type="button" id="btn_enviar" name="" class="btn_pago_rep waves-effect waves-green btn btn-primary  tooltipped mr-1 "  data-tooltip="Enviar">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>


</div>