<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=pedidos" class="clr_white"><i class="fa fa-user-circle prefix"></i> Pedidos de clientes </a>
		</div>
	</div>
</div>


<div class="row mt-3 mb-3">
	<div class="input-field col s12 m2">
		<p class="m-0">Desde</p>
		<input type="date" id="fec_ped_d" class="form-control">
	</div>

	<div class="input-field col s12 m2">
		<p class="m-0">Hasta</p>
		<input type="date" id="fec_ped_h" class="form-control">
	</div>

	<div class="input-field col s12 m3">
		<p class="m-0">Clientes</p>
		<div class="select-wrapper">
			<select id="sel_cli" class="initialized select2">
				<option value="">Seleccione</option>
				<option></option>
				<option></option>
			</select>
		</div>
	</div>

	<div class="input-field col s12 m3">
		<p class="m-0">Status</p>
		<div class="select-wrapper">
			<select id="sel_sts" class="initialized select2">
			</select>
		</div>
	</div>

	<div class="input-field col s12 m2">
		<br>
		<a href="#!" class="btn btn-primary btn-filtro-ped">Buscar <i class="fa fa-search"></i></a>
	</div>
</div>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr class="bg_gray">
			<th>ID</th>
			<th>Fecha</th>
			<th>Domiliado</th>
			<th>Cédula</th>
			<th>Cliente</th>
			<th>Estatus</th>
			<th>Modalidad</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
		
	</tbody>
</table>


<div id="md-verPedido" class="modal modalFull">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<div class="col s12 m6">
					<div class="row m-0">
						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-header">
									<h6 class="text-bold text-center">Detalles del cliente <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id-c"></span></b></h6>
								</li>
								<li class="collection-item"><b>Fecha:</b> <span class="limpiar-data txt-fec"></span></li>
								<li class="collection-item"><b>C.I:</b> <span class="limpiar-data txt-cli"></span></li>
								<li class="collection-item"><b>Teléfono:</b> <span class="limpiar-data txt-tlf"></span></li>
							</ul><br>
						</div>

						<div class="col s12">
							<h6 class="text-bold text-center">Detalles del pedido <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id"></span></b></h6>
							<table class="responsive-table">
								<thead>
									<tr class="bg_gray">
										<th>Cantidad</th>
										<th>Nombre</th>
										<th>Precio</th>
										<th>Adicional($)</th>
										<th>Notas</th>
									</tr>
								</thead>

								<tbody id="list-pedido">
								</tbody>

							</table>

							<table>
								<tr>
									<td class="bg_gray p-2 text-bold">Subtotal</td>
									<td class="bg_gray p-2 txt-subt text-right">0</td>
								</tr>

								<tr>
									<td class="bg_gray p-2 text-bold">Adicionales</td>
									<td class="bg_gray p-2 txt-adit text-right">0</td>
								</tr>
								<tr class="pre_del" style="display:none;">
									<td class="bg_gray p-2 text-bold">Delivery</td>
									<td class="bg_gray p-2 txt-delt text-right">0</td>
								</tr>
								<tr>
									<td class="bg_gray p-2 text-bold">Total</td>
									<td class="bg_gray p-2 txt-tot text-right">0</td>
								</tr>
							</table>
						</div>

						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-item bg_gray">Estatus: </li>
								<li class="collection-item">
									<div class="select-wrapper">
										<input placeholder="Estatus de pedido" id="sts_ped" name="sts_ped" type="text" class="form-control mb-0 limpiar-data-2" disabled>
										
									</div>
								</li>

								<li class="collection-item bg_gray">Nota: </li>
								<li class="collection-item">
									<textarea class="form-control limpiar-data-2" name="motivo" id="motivo" placeholder="Nota" disabled></textarea>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col s12 m6">
					<div class="row m-0">
						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-header">
									<h6 class="text-bold text-center">Modalidad del Pedido</h6>
								</li>
								<li class="collection-item"><b class="txt-mod"></b></li>
								<span class="limpiar-data descrip-moda"></span>
							</ul>
						</div>

						<!-- leyendas -->
						<div class="col s12 mb-2 ley_mapa" style="display:none">
							<div class="row mt-2">
								<div class="col s6" >
									<div class="row cont-leyenda">
										<div class="col s4 text-center">
											<img src="../../static/img/map-aqui-estoy.png" width="50%">
										</div>

										<div class="col s8">
											<p class="m-2 text-bold">Cliente</p>
										</div>
									</div>
								</div>

								<div class="col s6">
									<div class="row cont-leyenda">
										<div class="col s4 text-center">
											<img src="../../static/img/map-verde.png" width="50%">
										</div>

										<div class="col s8">
											<p class="m-2 text-bold">Mi ubicación</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col s12 ver-mapa limpiar-data">
						</div>

						<div class="col s12 ver-pagos">
							<ul class="collection with-header">
								<li class="collection-item"><b>Método de pago: </b> <span class="txt_m"></span></li>
								<li class="collection-item"><b>Cuenta: </b> <span class="txt_c"></span></li>
								<li class="collection-item"><b>Referencia: </b> <span class="txt_r"></span></li>
								<li class="collection-item text-center img_pago_ver"><img src="../../static/img/logo.jpg" class="img_referencia img_i"></li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div class="row mt-3">
				<div class="form-group text-center">
					<!--<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save">Procesar</button>-->
					<button type="button" name="btg" class="waves-effect waves-green btn btn-primary modal-close cerrar-modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="md-proPedido" class="modal">
	<div class="modal-header">
		<span>Procesar</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<div class="col s12 m12">
					<div class="row m-0">
						<div class="col s12">
							<h6 class="text-bold text-center">Procesar pedido <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id-pro"></span></b></h6>
						</div>

						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-item bg_gray">Nota: </li>
								<li class="collection-item">
									<textarea class="form-control limpiar-data-2" name="motivo_ped" id="motivo_ped" placeholder="Describa observaciones"></textarea>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div class="row mt-3">
				<div class="form-group text-center">
					<button type="button" name="bta" id="bta" class="waves-effect waves-green btn btn-primary bt_save">Aceptar</button>
					<button type="button" name="btr" id="btr" class="waves-effect waves-green btn btn-primary bt_save">Rechazar</button>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="md-calificacion" class="modal">
	<div class="modal-header">
		<span>Calificación del pedido</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">

			<div class="row">
				<div class="col s4 text-center">
					<img src="../../static/img/favicon.png" class="img-perfil">
					<p class="m-0 text-bold">Daniela Manzanilla</p>
					<small>Cliente calificador</small>
				</div>
				

				<div class="col s4">
					<div style="background: #f1f1f1; border: 1px solid #ddd; border-radius: .5rem;">
						<h6 class="text-center text-bold pb-2">Calificación para el Doomialiado</h6>

						<div class="row mb-2">
							<div class="col s12 text-center">
								<img src="../../static/img/logo.jpg" class="img-perfil">
								<p class="m-0 text-bold">Nombre del Doomi</p>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col s12 text-center">
								<h5 class="m-0">4/5</h5>
								<a href="#" class=""><i class="fa fa-star fa-2x"></i></a>
								<a href="#" class=""><i class="fa fa-star fa-2x"></i></a>
								<a href="#" class=""><i class="fa fa-star fa-2x"></i></a>
								<a href="#" class=""><i class="fa fa-star fa-2x"></i></a>
							</div>
						</div>

						<div class="row mt-2">
							<div class="col s12">
								<p class="m-0 text-center">Comentario Lorem ipsum dolor sit amet</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col s4">
					<div style="background: #f1f1f1; border: 1px solid #ddd; border-radius: .5rem;">
						<h6 class="text-center text-bold pb-2">Calificación para el Repartidor</h6>

						<div class="row mb-2">
							<div class="col s12 text-center">
								<img src="../../static/img/logo.jpg" class="img-perfil">
								<p class="m-0 text-bold">Nombre del Repartidor</p>
							</div>
						</div>

						<div class="row mb-2">
							<div class="col s12 text-center">
								<h5 class="m-0">5/5</h5>
								<a href="#" class=""><i class="fa fa-star fa-2x"></i></a>
								<a href="#" class=""><i class="fa fa-star fa-2x"></i></a>
								<a href="#" class=""><i class="fa fa-star fa-2x"></i></a>
								<a href="#" class=""><i class="fa fa-star fa-2x"></i></a>
								<a href="#" class=""><i class="fa fa-star fa-2x"></i></a>
							</div>
						</div>

						<div class="row mt-2">
							<div class="col s12">
								<p class="m-0 text-center">Comentario Lorem ipsum dolor sit amet</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="md-proPedido-pago" class="modal">
	<div class="modal-header">
		<span>Procesar pago del pedido</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<div class="row">
				<div class="col s12 m12">
					<div class="row m-0">
						<div class="col s12">
							<h6 class="text-bold text-center">Procesar pago del pedido <b class="bg_gray p-1">ID: #<span class="limpiar-data txt-id-pro-pago"></span></b></h6>
						</div>
						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-item"><b>Método de pago: </b> <span class="txt_pago_m"></span></li>
								<li class="collection-item"><b>Cuenta: </b> <span class="txt_pago_c"></span></li>
								<li class="collection-item"><b>Referencia: </b> <span class="txt_pago_r"></span></li>
								<li class="collection-item text-center img_pago"><img src="../../static/img/logo.jpg" class="img_referencia img_pago_i"></li>
								
							</ul>
						</div>
						<div class="col s12">
							<ul class="collection with-header">
								<li class="collection-item bg_gray">Nota: </li>
								<li class="collection-item">
									<textarea class="form-control limpiar-data-2" name="motivo_ped_p" id="motivo_ped_p" placeholder="Describa observaciones"></textarea>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>


			<div class="row mt-3">
				<div class="form-group text-center">
					<button type="button" name="bta" id="btap" class="waves-effect waves-green btn btn-primary bt_save_p4">Aceptar</button>
					<button type="button" name="btr" id="btrp" class="waves-effect waves-green btn btn-primary bt_save_p4">Rechazar</button>
				</div>
			</div>
		</div>
	</div>
</div>