<div class="row boxBarra">
	<div class="col s12">
		<div class="boxBarra__content">
			<a href="index.html?op=subcategorias" class="clr_white"><i class="fa fa-list prefix"></i> Subcategorías </a>
		</div>
	</div>
</div>

<div class="text-right mb-3">
	<br><a id="nuevaSubcategoriaBtn" class="waves-effect waves-light modal-trigger btn btn-primary tooltipped" data-position="left" data-delay="50" data-tooltip="Registrar una subcategoría" href="#md-nuevaSubcategoria" onclick='clickNuevaSubcategoria()'>Nuevo <i class="fa fa-plus"></i></a><br>
</div>

<table id="data-table-simple" class="table display dt-responsive" cellspacing="0">
	<thead>
		<tr>
			<th>#</th>
			<th>Nombre de la categoría</th>
			<th>Nombre de subcategoría</th>
			<th>Opciones</th>
		</tr>
	</thead>

	<tbody>
	</tbody>
</table>

<div id="md-nuevaSubcategoria" class="modal">
	<div class="modal-header">
		<span>Nueva subcategoría</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<form action="" method="POST" id="form_registrar_subcategoria">
				<input id="iden" name="iden" type="hidden" value="">

				<div class="row">
					<div class="input-field col s12 m6">
						<p class="m-0">Categorías</p>
						<div class="select-wrapper">
							<select name="categoria" id="categoria" class="select2 initialized">
								<option value="">Seleccione</option>
							</select>
						</div>
					</div>

					<div class="input-field col s12 m6">
						<p class="m-0">Nombre</p>
						<input type="text" id="nombre" name="nombre" class="form-control">
					</div>
				</div>
				
				<div class="row">
					<div class="progress col s12 fileprogress hide" style="">
						<div class="determinate" style="width: 50%"></div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="form-group text-center">
						<button type="submit" name="btg" class="waves-effect waves-green btn btn-primary bt_save tooltipped" data-position="bottom" data-delay="50" data-tooltip="Guardar información de la subcategoría">Guardar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div id="md-verSubcategoria" class="modal">
	<div class="modal-header">
		<span>Ver detalles</span>
		<a href="#" class="modal-close cerrar-modal"><i class="fa fa-times"></i></a>
	</div>

	<div class="modal-content">
		<div class="modal-body">
			<ul class="collection with-header">
				<li class="collection-header">
					<h6 class="text-bold text-center">Detalles de la subcategoría</h6>
				</li>
				<li class="collection-item"><b>Nombre de la categoría:</b> <span class="cat-view"></span></li>
				<li class="collection-item"><b>Nombre de las subcategorías:</b> <span class="nom-view"></span></li>
			</ul>
		</div>
	</div>
</div>
