<template>


	<!-------------------------
		OBSOLETO: Usando Menu.vue
	---------------------------->



	<q-layout view="lHh Lpr lFf">
		<q-header elevated>
			<q-toolbar>
				<q-toolbar-title class="text-subtitle2 text-center">
					<img src="statics/images/logo-icon.png" alt="" width="50px">
				</q-toolbar-title>

				<div style="position:absolute; right: 8px;">
					<a href="/Notifications" class="clr_white"><i class="fa fa-bell"></i><span></span></a>
					<a @click="Carrito()" class="clr_white"><i class="fa fa-shopping-cart"></i><span> (1)</span></a>
				</div>
			</q-toolbar>
		</q-header>

		<q-page-container>
			<router-view />
		</q-page-container>

		<q-footer elevated>
			<q-toolbar>
				<q-toolbar-title>
					<div class="row text-center">
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round icon="home" to="/" />
						</div>
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round icon="map" />
						</div>
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round icon="favorite" @click="alert = true"  />
						</div>
						<div class="col">
							<q-btn push class="btn-footer" color="white" text-color="primary" round icon="assignment" @click="alert = true"  />
						</div>
					</div>
				</q-toolbar-title>
			</q-toolbar>
		</q-footer>

		<q-dialog v-model="mostrarAlertaLogin">
			<q-card style="width: 100%;" class="bg_blue">
				<q-card-section class="text-center">
					<div class="text-right" >
						<q-btn label="x" flat class="rounded " v-close-popup />
					</div>
					<div><i class="fa fa-user-circle fa-5x clr_white"></i></div>
					
					<div class="row pt-4">
						<div class="col s6 p-0 btn-modal">
							<q-btn  icon="account_circle" to="/Iniciodesesion" class="q-ma-md rounded cl_standar">Ingresa</q-btn>
						</div>

						<div class="col s6 p-0 btn-modal">
							<q-btn  icon="touch_app" to="/Registro" class="q-ma-md rounded cl_standar">Regístrate</q-btn>
						</div>
					</div>
				</q-card-section>
			</q-card>
		</q-dialog>

	</q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'


export default {
	name: 'Menu',

	components: {
		EssentialLink
	},

	data () {
		return {
			alert:false,
			leftDrawerOpen: false,
			titleCurrenView: this.$store.state.titleCurrenView ,
			essentialLinks: [
				{
					title: 'Inicio',
					link: '/Home',
					icon: 'home',
				},
				{
					title: 'Doomialiados',
					link: '/business',
					icon: 'reorder',
				},
				{
					title: 'Iniciar sesión',
					link: '/Iniciodesesion',
					icon: 'search',
				},
				{
					title: 'Registro',
					link: '/registro',
					icon: 'group',
				},
				{
					title: 'Registro del repartidor',
					link: '/RegistroRepartidor',
					icon: 'group',
				},
				{
					title: 'Mi perfil',
					link: '/profile',
					icon: 'person_pin',
				},
				{
					title: 'Mi perfil - repartidor',
					link: '/profileRepartidor',
					icon: 'person_pin',
				},
				{
					title: 'Salir',
					link: '/logout',
					icon: 'arrow_back',
				},
			]
		}
	},
	created(){
	}
}
</script>
