<template>
   <div class="fuente bg_blue " >
	<q-layout view="lHh Lpr lFf">

		<menu-drawer
			:logueado="estaLogueado"
			:opciones="opcionesMenu"
			:configuraciones="opcionesConfiguracionMenu"
		/>

		<q-page-container>
			<router-view />
		</q-page-container>

		<!-- <menu-footer :logueado="estaLogueado" :tipo-usuario="tipoUsuario" /> -->

	</q-layout>
	</div>
</template>
<script>

// import EssentialLink from 'components/EssentialLink'
import MenuDrawer from 'components/MenuDrawer'
import MenuFooter from 'components/MenuFooter'

export default {
	name: 'Menu',

	components: {
		// EssentialLink,
		MenuDrawer,
		MenuFooter,
	},


	data () {
		return {
			saludo: 'Hola',
			leftDrawerOpen: false,
			titleCurrenView: this.$store.state.titleCurrenView,
			confirm: false,
			alert:false,
			ConfiguracionesRepartidor:[
				{
					title: 'Editar perfil',
					link: '/profileRepartidor',
					icon: 'directions_bike',
				},
				{
					title: 'Cambiar contraseña',
					link: '/Contraseñarepartidor',
					icon: 'lock',
				},
			],
			Opcionesrepartidor: [
				{
					title: 'Inicio',
					link: '/Pedidos',
					icon: 'home',
				},
				{
					title: 'Notificaciones',
					link: '/notifications',
					icon: 'notifications_active',
				},
				{
					title: 'Historial de Pedidos',
					link: '/Historial',
					icon: 'star',
				},
			],
			Configuraciones:[
				{
					title: 'Editar perfil',
					link: '/profile',
					icon: 'account_box',
				},
				{
					title: 'Cambiar contraseña',
					link: '/Cambiarcontraseña',
					icon: 'lock',
				},
			],
			Opcioneslogeado: [
				{
					title: 'Inicio',
					link: '/Home',
					icon: 'home',
				},
				{
					title: 'Mis direcciones',
					link: '/Listadirecciones',
					icon: 'location_on',
				},
					{
					title: 'Mis favoritos',
					link: '/Favoritos',
					icon: 'favorite',
				},
					{
					title: 'Mis ordenes',
					link: '/Misordenes',
					icon: 'add_shopping_cart',
				},
				 {
					title: 'Notificaciones',
					link: '/notifications',
					icon: 'done_all',
				},
			],
		}
	},


	computed: {
		tipoUsuario() {
      return 'cliente';
			return this.$auth.obtenerTipoUsuario()
		},
		estaLogueado() {
      return this.$store.getters['auth/logueado'];
			// return this.$auth.autenticado()
		},


		opcionesMenu(){
			switch(this.tipoUsuario){
				case 'cliente': return this.Opcioneslogeado;
				case 'repartidor': return this.Opcionesrepartidor;
			}
		},

		opcionesConfiguracionMenu(){
			switch(this.tipoUsuario){
				case 'cliente': return this.Configuraciones;
				case 'repartidor': return this.ConfiguracionesRepartidor;
			}
		},
	},
}
</script>
