<template>
    <div class="">
      
      <!-- nueva ubicacion -->
     <div  v-if="Ubicacion_nueva" style="position:fixed;top:0; margin-top:5%;width:100%;z-index:1" class="row text-center   flex content-between item-center ">
			<div class="col-2">
				<q-btn  flat class="btn_back" color="primary" icon="keyboard_arrow_left" label="" to="/Pago" />
			</div>
			<div class="col-8">
				<p class="mb-0 titulo-header q-mt-sm " >Agregar nueva dirección</p>
			</div>
			<div class="col-2">
			</div>
		</div>
         
         <div v-if="Ubicacion_nueva" class="flex flex-center">
            <div style="position:fixed;top:0; margin-top:20%;width:90%;z-index:1" class=" degradado soft-border q-pb-lg  row">
            <div class="col-12 ">
				<p class="mb-0 font-xl bold q-ml-xs " >Escribe tu dirección</p>
				<q-input
				v-model="nota"
				style="background-color:rgb(236, 236, 236)"
				type="textarea"
				autogrow
				borderless
				class="soft-border q-ml-xs q-mr-sm "
				/>
			</div>
        </div>
         </div>

          <div  v-if="Ubicacion_nueva" class="flex flex-center">
            <div style="position:fixed;bottom:0; margin-bottom:20%;width:90%;z-index:1" class=" degradado soft-border q-pb-lg  row">
            <div class="col-12 ">
				<p class="mb-0 font-xl bold q-ml-xs " >Punto de referencia</p>
				<q-input
				v-model="nota"
				style="background-color:rgb(236, 236, 236)"
				type="textarea"
				autogrow
				borderless
				class="soft-border q-ml-xs q-mr-sm "
				/>
			</div>
        </div>
         </div>

        <div  v-if="Ubicacion_nueva" style="position:fixed;bottom:0; margin-bottom:2%;width:100%;z-index:1" >
            <div class="flex flex-center" >
              <q-btn label="Elegir dirección" type="submit" size="md" flat class="q-ma-md w-70 cl_standar rounded"></q-btn>
            </div>	
		</div>
        <!-- fin nueva ubicacion -->

      <!-- ubicacion actual -->

     <div v-if="Ubicacion_actual" style="position:fixed;top:0; margin-top:5%;width:100%;z-index:1" class="row text-center   flex content-between item-center ">
			<div class="col-2">
				<q-btn  flat class="btn_back" color="primary" icon="keyboard_arrow_left" label="" to="/Pago" />
			</div>
			<div class="col-8">
				<p class="mb-0 titulo-header q-mt-sm " ></p>
			</div>
			<div class="col-2">
			</div>
		</div>
         
         <div v-if="Ubicacion_actual" class="flex flex-center">
            <div style="position:fixed;top:0; margin-top:20%;width:90%;z-index:1" class=" degradado soft-border q-pb-lg  row">
            <div class="col-12 ">
				<p class="mb-0 font-xl bold q-ml-xs " >Mi ubicación actual</p>
				<q-input
				v-model="nota"
				style="background-color:rgb(236, 236, 236)"
				type="textarea"
				autogrow
				borderless
				class="soft-border q-ml-xs q-mr-sm "
				/>
			</div>
        </div>
         </div>

          <div v-if="Ubicacion_actual" class="flex flex-center">
            <div style="position:fixed;bottom:0; margin-bottom:20%;width:90%;z-index:1" class=" degradado soft-border q-pb-lg  row">
            <div class="col-12 ">
				<p class="mb-0 font-xl bold q-ml-xs " >Completa tu dirección</p>
				<q-input
				v-model="nota"
				style="background-color:rgb(236, 236, 236)"
				type="textarea"
				autogrow
				borderless
				class="soft-border q-ml-xs q-mr-sm "
				/>
			</div>
        </div>
         </div>

        <div v-if="Ubicacion_actual" style="position:fixed;bottom:0; margin-bottom:2%;width:100%;z-index:1" >
            <div class="flex flex-center" >
              <q-btn label="Elegir dirección" type="submit" size="md" flat class="q-ma-md w-70 cl_standar rounded"></q-btn>
            </div>	
		</div>
        <!-- fin ubicacion actual -->
        


    <google-map class="vh100" >
		<slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
			<input name="lat_dir" v-model="lat" type="hidden" />
			<input name="lon_dir" v-model="lon" type="hidden" />
		</slot>
	</google-map>
        	
    </div>
</template>

<script>

import GoogleMap from 'components/GoogleMap';

export default {
    components: {GoogleMap},
    data(){
        return{
          Ubicacion_actual: this.$store.state.Ubicacion_actual,
          Ubicacion_nueva: this.$store.state.Ubicacion_nueva,
        }
    }
}
</script>