<template>
	<div class="bg_blue  vh100 ">

		<div class="row text-center q-mt-md q-mb-lg q-mt-lg flex content-between item-center ">
			<div class="col-2">
				<q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
			</div>
			<div class="col-8">
				<p class="mb-0 titulo-header  " >Ayuda</p>
			</div>
			<div class="col-2">
			</div>
		</div>

		<div @click="clickChat" class=" q-pt-md q-pb-md q-pl-md soft-border q-pr-md flex content-between item-center card_shadow_bottom bg-degradado q-ml-md q-mr-md ">

			<div class="w-60">
				<p class="mb-0 text-white font-xl bold " >Chat en línea con servicio al cliente.</p>
			</div>

			<q-img src="statics\Iconos\Icono_Servicio_al_cliente.png" width="75px" height="75px" class="circle bg_nobg q-mr-lg " ></q-img>
		</div>

		<div class="q-ml-md q-mt-lg ">
			<p class=" bold titulo-header " >Preguntas frecuentes</p>
		</div>

		<!-- LISTADO PREGUNTAS -->
		<div v-for="faq in faqs" :key="faq.id">
			<div class="row q-mt-md ">
				<div @click="clickPregunta(faq)" class="col-12 flex item-center content-between ">
					<div class=" q-ml-md w-70 flex item-center ">
						<p class="mb-0 font-xl ">{{ faq.pregunta }}</p>
					</div>
					<q-btn flat icon="keyboard_arrow_right"></q-btn>
				</div>
			</div>
			<q-separator color="" />
		</div>
<!--
		<div v-if="faqs.length == 0" style="width: 100%; font-size: 15px; margin-top: 50px;">
			<center><b><i>No hay ayuda disponible</i></b></center>
		</div>
 -->
		<!-- DIALOG PREGUNTA -->
		<q-dialog v-model="dialog.ver">
			<q-card style="max-height:70vh; min-height:60vh; min-width:60vw;">
				<div class="text-right">
                   <q-img   @click="clickEliminar(item)"  width="15px" height="15px" class=" q-mr-md q-mt-md " v-close-popup src="statics\Iconos\X.png" ></q-img>
				</div>
				<q-card-section class="row items-center q-pt-none q-pb-none">
					<div style="width: 70vw;" class="bold font-xl">
						{{ dialog.pregunta }}
					</div>
					<q-space />

				</q-card-section>

				<q-card-section class="scroll">
					<p class="mb-0 font-xl">
						{{ dialog.respuesta }}
					</p>
				</q-card-section>
			</q-card>
		</q-dialog>


	</div>
</template>


<script>
export default {

data(){
	return {
		datos: [],
		configuracion: {},
		dialog: {
			ver: false,
			pregunta: '',
			respuesta: '',
		},
		model: false,
	};
},

created(){
	this.$api.general.recuperarData('/FAQ').then(r => { this.datos = r||[] });
	this.$api.general.recuperarData('/configuracion').then(conf => { this.configuracion = conf });
},

computed: {
	faqs(){
		return this.datos.filter(faq => faq.estatus);
	},
},

methods: {
	clickPregunta(faq){
		this.dialog.pregunta = faq.pregunta;
		this.dialog.respuesta = faq.respuesta;
		this.dialog.ver = true;
	},

	clickChat(){
		if(this.configuracion.whatsapp_soporte){
			window.open('https://wa.me/'+this.configuracion.whatsapp_soporte);
		}
	},

	atras(){
		this.$router.back();
	},
},

};</script>
