<template>
  <div class="container section fuente">
    <div class="row text-center q-mt-md q-mb-lg q-mt-lg flex content-between item-center ">
      <div class="col-2">
        <q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px"></q-img>
      </div>
      <div class="col-8">
        <p class="mb-0 titulo-header  ">Cambiar contraseña</p>
      </div>
      <div class="col-2">
      </div>
    </div>
    <q-form id="form_cambiar" @submit="onSubmit" @reset="onReset" class=" q-mt-md ">
      <div class="q-mt-md">
        <div class="flex flex-center">
          <q-input :dense="true" class=" w-80" name="pass" v-model="password" :type="isPwd ? 'password' : 'text'"
            hint="" label="Contraseña actual" v-on:keyup="limpiar">
            <template v-slot:append>
              <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click=" isPwd = !isPwd" />
            </template>
          </q-input>
        </div>
      </div>
      <div class="q-mt-md">
        <div class="flex flex-center q-mt-lg ">
          <q-input :dense="true" name="pass_new" class=" w-80" v-model="passwordn" :type="isPwdn ? 'password' : 'text'"
            label="Contraseña nueva" v-on:keyup="limpiar">
            <template v-slot:append>
              <q-icon :name="isPwdn ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                @click="isPwdn = !isPwdn" />
            </template>
          </q-input>
        </div>
      </div>
      <div class="q-mt-md">
        <div class="flex flex-center q-mt-lg ">
          <q-input :dense="true" name="pass_new_con" class=" w-80" v-model="passwordn2"
            :type="isPwdn2 ? 'password' : 'text'" label="Confirmar contraseña" v-on:keyup="limpiar">
            <template v-slot:append>
              <q-icon :name="isPwdn2 ? 'visibility_off' : 'visibility'" class="cursor-pointer"
                @click="isPwdn2=!isPwdn2" />
            </template>
          </q-input>
        </div>
      </div>
      <div class="flex flex-center q-mt-md btn-fixed-end q-mb-md ">
        <q-btn size="md" label="Cambiar" type="submit" class="cl_standar rounded q-mt-md w-80"
          :disabled="desactivarBoton" />
      </div>
    </q-form>
  </div>
</template>

<script>
export default {

data() {
  return {
    desactivarBoton: false,
    msjError: false,
    msjSucces: false,
    password: '',
    passwordn: '',
    passwordn2: '',
    isPwd: true,
    isPwdn: true,
    isPwdn2: true
  }
},


methods: {
  limpiar: function() {
    this.msjError = false;
    this.msjSucces = false;
  },
  onSubmit(evt) {
    evt.preventDefault();
    this.msjError = false;
    this.msjSucces = false;

    let err = false;
    if (!this.password)
    	err = 'Ingrese la contraseña actual';
    else if (!this.passwordn)
    	err = 'Ingrese la contraseña nueva';
    else if (this.passwordn !== this.passwordn2)
    	err = 'Las contraseña no coinciden';

    const datos = {
      pass: this.password,
      pass_new: this.passwordn,
      pass_new_con: this.passwordn2,
      usuario: 'restaurante',
      tipo_usuario: 'restaurante',
      // id: this.$store.getters['doomi/id'],
      id: this.$store.getters["auth/id"],
      token: this.$store.getters['auth/token'],
    };


    this.desactivarBoton = true;
    this.$api
      .post('/login/cambiar-clave', datos)
      .then(res => {
        this.desactivarBoton = false;
        const msj = res.data.msj || res.data.msg;

        if (msj) {
          this.$q.notify(msj);
          if (msj.includes('cambiado')) {
            this.$router.back();
          }
        }
      })
      .catch(err => {
        console.error(err);
        this.desactivarBoton = false;
        this.$q.notify('Ocurrió un error');
      })

    return false;
  },
  onReset() {},
},


computed: {
  cliente() {
    return this.$auth.obtenerTipoUsuario() == 'cliente'
  },
},


}</script>
