<template>
	<div class="container section fuente">
			<div class="flex item-center  flex-start q-mt-sm">
				<q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Pedidos" />
				<h6 style="margin-top:0px;margin-bottom:0px;margin-left:15%" class="titulo-header"  >Cambiar contraseña</h6>
			</div>

		 <div class="q-mt-md" >
              <div class="ml-xs">
			   <label>Contraseña Actual</label>
		     </div>
			<div class="flex flex-center">
				<q-input   class=" input w-80 soft-border" borderless name="pass" v-model="password"  :type="isPwd ? 'password' : 'text'" hint="" v-on:keyup="limpiar">
					<template v-slot:append>
						<q-icon
							:name="isPwd ? 'visibility_off' : 'visibility'"
							class="cursor-pointer"
							@click=" isPwd = !isPwd"
						/>
					</template>
				</q-input>
			</div>
		    </div>
			
			<div class="q-mt-md" >
              <div class="ml-xs">
				<label>Contraseña Nueva</label>
			</div>
			
			<div class="flex flex-center">
				<q-input  name="pass_new" class=" input w-80 soft-border" borderless v-model="passwordn" :type="isPwdn ? 'password' : 'text'" hint="" v-on:keyup="limpiar">
					<template v-slot:append>
						<q-icon
							:name="isPwdn ? 'visibility_off' : 'visibility'"
							class="cursor-pointer"
							@click="isPwdn = !isPwdn"
						/>
					</template>
				</q-input>
			</div>
			</div>

			
             <div class="q-mt-md">
               <div class="ml-xs">
				<label>Confirmar contraseña</label>
			</div>
			
			<div class="flex flex-center">
				<q-input  name="pass_new_con" class="input soft-border w-80" borderless v-model="passwordn2" :type="isPwdn2 ? 'password' : 'text'" hint="" v-on:keyup="limpiar">
					<template v-slot:append>
						<q-icon
							:name="isPwdn2 ? 'visibility_off' : 'visibility'"
							class="cursor-pointer"
							@click="isPwdn2=!isPwdn2"
						/>
					</template>
				</q-input>
			</div>
			 </div>
		
		<div class="flex flex-center" >
			<q-btn style="margin:20px;" size="sm" label="Guardar" type="Guardar" class="cl_standar rounded"  />
		</div>
	</div>
</template>

<script>
export default {
	data () {
		return {
			password: '',
			isPwd: true,
			email: ''
		}
	}
}
</script>
