<template>
	<div class="bg-white">

		<div class="row text-center q-mb-md q-mt-lg flex content-between item-center ">
			<div class="col-2">
               <q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
			  <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" /> -->
			</div>
			<div class="col-8">
					<p class="mb-0 titulo-header " >Datos bancarios</p>
			</div>
			<div class="col-2">

			</div>
		</div>

	   <div class="row q-mt-lg ">
           <div class="col-12 text-center ">
               <q-btn icon-right="add" label="Agregar" @click="abrirmodal" class="cl_standar rounded q-pr-sm q-pl-sm  mayuscula q-pa-xs " content-class="" size="sm" ></q-btn>
           </div>
       </div>

       <div class="row q-pr-lg q-pl-xl q-mt-lg " >
           <div class="col-12 row flex item-center border-bottom-header row q-mt-md "  v-for="(d , i) in datos">
            <div class="col-10">
              <p class="font-lg bold w-100 mb-0  "  @click="verinfo(d)" >{{d.nombre}}</p>
            </div>

              <div class="col-2  flex item-center content-left">
                 <q-checkbox v-model="d.estatus" @input="cambiarestatus(d,i)" ></q-checkbox>
              </div>


           </div>
       </div>


         <!-- Nuevo  Metodo de pago -->

    <q-dialog v-model="DatosB">
      <q-card class="rounded-1" >
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->

        <q-card-section class="q-pt-none text-center row ">


           <div class="col-12 text-center q-mt-lg  ">
           <p class="bold font-xl q-mb-xs " >Nombre</p>
           <q-input class="input_txt q-pl-sm font-xl  " borderless v-model="nombre"></q-input>
          </div>

           <div class="col-12 text-center q-mt-lg  ">
           <p class="bold font-xl q-mb-xs " >Detalles</p>
           <q-input class="input_txt_grow q-pl-sm font-xl  " autogrow borderless v-model="detalles"></q-input>
          </div>

          <!--<div class="col-12 flex flex-center q-mt-md ">

            <p class="bold w-100 mb-0 " >¿Con retorno?</p>
            <div class="q-mt-sm flex flex-center ">
              <p class="bold mb-0" >No</p>
               <q-toggle v-model="retorno" />
              <p class="bold mb-0 " >Si</p>
            </div>

          </div>

          <div v-if="retorno" class="col-12 text-center q-mt-lg  ">
            <p class="bold font-xl q-mb-xs " >Porcentaje (%)</p>
            <money
              style=""
              class="w-40 input_txt q-pl-sm"
              :dense="true"
              borderless
              placeholder="0"
              v-model="porcentaje"
              v-bind="money"
            >
            </money>

          </div>-->

           <div class="col-12 text-center q-mt-md ">
              <q-btn :label="txt_btn" class="mayuscula q-pl-sm q-pr-sm q-mr-sm cl_standar rounded" :disabled="buttonDisabled" @click="guardardatos"></q-btn>
              <q-btn label="Eliminar" v-if="idb" class="mayuscula q-pl-sm q-pr-sm q-ml-sm cl_standar rounded" @click="ConfirmarEliminar(false)"></q-btn>
          </div>


        </q-card-section>

      </q-card>
    </q-dialog>


    <!-- Modal mensaje -->

     <q-dialog v-model="Mensaje">
      <q-card class="rounded-3">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none q-pl-none q-pr-none q-pa-none text-center row ">
          <div class="col-12 text-center q-mt-md q-mb-md q-pt-lg q-pb-lg q-pr-xl q-pl-xl row ">
            <p class="bold font-xl q-mb-xs ">Los pedidos en efectivo tendrán 50% de recargo del delivery al cliente. </p>

              <div class="col-12 text-center q-mt-md flex flex-center ">
                <q-btn label="Agregar" @click="cambiarestatus2" class="mayuscula cl_standar rounded "></q-btn>
              </div>
          </div>



        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Eliminar  favorito -->
    <q-dialog v-model="ModalEliminar">
      <q-card class="rounded-1">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none q-pl-none q-pr-none text-center row ">
          <div class="col-12 text-center q-mt-md q-mb-md ">
            <p class="bold font-xl q-mb-xs ">¿Quitar metodo de pago?</p>
          </div>
          <div class="col-12 text-center flex flex-center ">
            <q-btn label="Quitar" @click="eliminar()" class="mayuscula cl_standar rounded q-mr-md"></q-btn>
            <q-btn label="Cancelar" @click="ModalEliminar = false" class="mayuscula cl_standar rounded q-ml-md"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
	</div>
</template>

<script>
import { Money } from 'v-money'
export default {
  components: { Money },
	data(){
		return{
      indice_cuenta: null,
      Mensaje: false,
      datos: [],
      retorno: false,
      porcentaje: '',
      Efectivo: false,
      nombre: '',
      detalles: '',
      DatosB: false,
      idb: null,
      txt_btn: 'Agregar',
      buttonDisabled: false,
      ModalEliminar: false,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: '',
        suffix: '',
        precision: 2,
        masked: false
      }
		}
	},
  mounted(){
    this.cargarDatosbancarios();
  },
	methods:{
    cargarDatosbancarios() {
      const params = {
        id_res: this.$store.getters['doomi/id'],
        tipo_usu: 'restaurante'
      };
      this.indice_cuenta = null;
      this.$api
          .get('/cuentas/', {params})
          .then(r => {
            for (var i = 0; i < r.data.length; i++) {
              if(r.data[i].estatus)
                r.data[i].estatus = true;
              else
                r.data[i].estatus = false;
            }
            this.datos = r.data;
            //console.log(this.datos);
          }).catch(err => {
            console.log(err);
          })

    },
    abrirmodal(){
      this.nombre = '';
      this.detalles = '';
      this.retorno = false;
      this.porcentaje = 0;
      this.idb = null;
      this.txt_btn = 'Agregar';
      this.DatosB = true;
    },
    verinfo(row){
      //console.log(row);
      if(row.retorno)
        return;
      this.nombre = row.nombre;
      this.detalles = row.detalles;
      this.retorno = false;
      if(row.retorno)
        this.retorno = true;
      this.porcentaje = 0;
      if(row.porcentaje)
        this.porcentaje = row.porcentaje;
      this.idb = row.id;
      this.txt_btn = 'Guardar';
      this.DatosB = true;
    },
    guardardatos(){
      let ret = '0';
      if(this.retorno)
        ret = '1';

      let formData = {
        nombre : this.nombre,
        ext : this.detalles,
        retorno : parseFloat(ret),
        porcentaje : this.porcentaje,
        id_res : this.$store.getters['doomi/id'],
        tipo_usu : 'restaurante',
        app: 1
      }
      if(this.idb){
        formData.iden = this.idb;
        this.$api.put('/cuentas/edit', formData)
            .then(r => {
              if(r.data.r){
                swal.fire('Genial!!',r.data.msj||r.data.msg,'success');
                this.cargarDatosbancarios();
                this.DatosB = false;
              }else
                swal.fire('Oops...',r.data.msj||r.data.msg,'error');
              this.buttonDisabled = false;
            })
            .catch(err => {
              swal.fire('Oops...',err.msj||err.msg,'error');
              this.buttonDisabled = false;
            });
      }else{
        this.$api.post('/cuentas/add', formData)
            .then(r => {
              if(r.data.r){
                swal.fire('Genial!!',r.data.msj||r.data.msg,'success');
                this.cargarDatosbancarios();
                this.DatosB = false;
              }else
                swal.fire('Oops...',r.data.msj||r.data.msg,'error');
              this.buttonDisabled = false;
            })
            .catch(err => {
              swal.fire('Oops...',err.msj||err.msg,'error');
              this.buttonDisabled = false;
            });
      }
    },
    ConfirmarEliminar(row){
      this.ModalEliminar = true;
    },
    eliminar(){
      this.$api.delete('/cuentas/delete/'+this.idb)
            .then(r => {
              if(r.data.msj){
                swal.fire('Genial!!',r.data.msj||r.data.msg,'success');
                this.cargarDatosbancarios();
                this.ModalEliminar = false;
                this.DatosB = false;
              }else
                swal.fire('Oops...',r.data.msj||r.data.msg,'error');
            })
            .catch(err => {
              swal.fire('Oops...',err.msj||err.msg,'error');
            });
    },
    cambiarestatus(row,i){
      //console.log(row,i);
      if(row.retorno){
        if(!row.estatus){
          this.cambio(row);
        }else{
          this.indice_cuenta = i;
          this.datos[i].estatus = false;
          this.Mensaje = true
        }

      }else{
        this.cambio(row);
      }

    },
    cambiarestatus2(){
      this.datos[this.indice_cuenta].estatus = true;
      this.cambio(this.datos[this.indice_cuenta]);
    },
    cambio(row){
      let formData = {
        iden : row.id,
        sts : row.estatus
      }
      this.$api.put('/cuentas/edit_sts/', formData)
            .then(r => {
              if(r.data.r){
                this.Mensaje = false
                swal.fire('Genial!!',r.data.msj||r.data.msg,'success');
              }else
                swal.fire('Oops...',r.data.msj||r.data.msg,'error');
            })
            .catch(err => {
              swal.fire('Oops...',err.msj||err.msg,'error');
            });
    },
		salir(){
			this.$store.dispatch('auth/salir')
				.then(() => this.$router.push('/login'))
		},

		Bancario(){
			this.$router.push({ path:'/Datosbancarios' });
		},

		Favoritos(){
			this.$router.push({ path:'/Favoritos' });
		},

		// Historial(){
		// 	if(this.cliente)
		// 		this.$router.push({ path:'/Misordenes' });
		// 	else
		// 		this.$router.push({ path:'/Menudoomialiadohome' });
		// },

		Profile(){
			if(this.cliente)
				this.$router.push({ path:'/Profile' });
			else
				this.$router.push({ path:'/ProfileRepartidor'})
		},

		Enconstruccion(){
			this.$router.push({ path:'/Enconstruccion' });
		},

		Ayuda(){
			this.$router.push({ path:'/Ayuda' });
		},

		atras(){
		this.$router.back();
	},


	},

	computed: {
		cliente(){ return true },
	},
}
</script>