<template>
  <div class="blue cont_home fuente q-pl-md q-pr-md q-pb-md ">
    <div>
      <div class="row text-center q-mt-lg q-mb-lg flex content-between item-center ">
        <div class="col-2">
          <q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px">
          </q-img>
          <!-- <q-btn class="btn_back"  flat color="primary" icon="keyboard_arrow_left" label="" @click="$router.back()" /> -->
        </div>
        <div class="col-8">
          <p class="mb-0 titulo-header ">Detalles de pedido</p>
        </div>
        <div class="col-2">
          <!-- <q-btn @click="clickAvanzarPedido" :disabled="desactivarBoton" icon="keyboard_arrow_right" class="cl_standar" round></q-btn> -->
        </div>
      </div>
      <!-- Display de botones inferiores -->
      <div style="z-index:99" class="flex content-around item-center w-100 fixed-bottom q-mb-sm ">
        <!-- <q-btn v-if="estatus.id==11" icon="star" class="cl_standar" ></q-btn> -->
        <q-btn v-if="estatus.id==3" @click="rechazado = true" label="Rechazar" class="cl_standar rounded "></q-btn>
         <!-- <q-btn @click="clickAvanzarPedido" :disabled="desactivarBoton" label="Confirmar" class="cl_standar rounded " ></q-btn> -->

        <q-btn v-if="estatus.id==3 && pedido.modalidad!='Programado'" @click="Tiempo = true" :disabled="desactivarBoton" label="Confirmar" class="cl_standar rounded " ></q-btn>
        <q-btn v-if="estatus.id==3 && pedido.modalidad=='Programado'" @click="clickAvanzarPedido" :disabled="desactivarBoton" label="Confirmar" class="cl_standar rounded " ></q-btn>

        <q-btn v-if="verificarpedido(pedido)" @click="Tiempo = true" :disabled="desactivarBoton" label="Comenzar preparación" class="cl_standar rounded " ></q-btn>

        <q-btn v-if="estatus.id==8 && pedido.modalidad!='Pickup'" @click="Entregar = true" :disabled="desactivarBoton" label="Entregar al repartidor" class="cl_standar rounded " ></q-btn>
        <q-btn v-if="estatus.id==10 && pedido.modalidad=='Pickup'" @click="Entregar = true" :disabled="desactivarBoton" label="Entregar al cliente" class="cl_standar rounded " ></q-btn>
         <!-- <q-btn @click="Entregar = true"  label="Entregar al repartidor" class="cl_standar rounded " ></q-btn> -->
      </div>
      <!-- Detalles del cliente -->
      <div class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
        <div class="col-12 flex content-between item-center ">
          <div class="w-100">
            <p class=" font-xl subrayado q-mb-sm  "> <b>Detalles del cliente</b><b></b> </p>
            <p class="mb-0 font-xl  "> <b>ID cliente:</b> #{{cliente.id}} <b></b> </p>
            <p v-if="cliente.nombre" class="mb-0 font-xl"> <b>Nombre:</b> {{cliente.nombre +" "+ cliente.apellido}} </p>
            <p v-else class="mb-0 font-xl"> <b>Nombre:</b> <i> Sin especificar por el cliente</i> </p>
            <p class="mb-0 font-xl  "> <b>Fecha:</b> {{ formatoFecha(pedido.creado) }} <b></b> </p>
            <!-- <p class="mb-0 font-xl  "> <b>Cliente:</b> V-27510283-Jean viña </p> -->
            <p class="mb-0 font-xl  "> <b>Teléfono:</b> {{ cliente.telefono }} </p>
          </div>
        </div>
      </div>
      <q-separator></q-separator>

      <!-- Detalles del pedido -->
      <div class="row  q-ml-md q-mr-md q-mt-md ">
        <div class="col-12">
          <p class="mb-0 font-xl subrayado q-mb-sm  "> <b>Detalles del pedido</b><b></b> </p>
        </div>
      </div>

      <div class="row cont_carrito q-mt-md rounded-1 q-pl-sm q-pt-sm q-pr-md q-pb-sm q-ml-md" v-for="orden in detallesOrdenes">
        <div class="col-12 flex content-between item-center content-between ">
          <p class="m-0 font-xl bold w-80 ">{{ orden.nombre }}</p>
          <p class="mb-0 font-xl bold"> X {{ orden.cantidad }}</p>
        </div>
        <div class="col-12 ">
          <p class="m-0 nombre-doomi">
            <span v-if="orden.adicionales"><b> Adicionales: </b>{{ orden.adicionales }} <br /></span>
            <span v-if="orden.acompañantes"><b> Acompañantes: </b>{{ orden.acompañantes }} </span> &nbsp;
          </p>
          <p v-if="orden.notas" class="m-0 nombre-doomi">
            <span><b>Nota:</b>{{ orden.notas }} </span> &nbsp;
          </p>
          <div class="flex item-center content-between ">
            <div class="">
              <p class="font-xl bold  mb-0">{{ orden.precio_bs }}Bs // {{ orden.precio }}$</p>
            </div>
          </div>
        </div>
      </div>

      <!-- fin orden -->
      <div class="row q-ml-md q-mr-md q-mt-lg q-mb-md ">
        <div class="col-12">
          <p class="mb-0 font-xl  "> <b>Pedido NO</b> #{{ pedido.id }} </p>
        </div>
        <div class="col-12 flex item-center content-between ">
          <p class="mb-0 font-md text-grey font-m">Subtotal</p>

          <p class="mb-0 font-md text-grey font-m"> {{precio(pedido.subtotal*pedido.tasa)}}Bs // {{ precio(pedido.subtotal) }}$</p>
        </div>
        <div class="col-12 flex item-center content-between ">
          <p class="mb-0 font-md text-grey font-m">Gastos de envio</p>
          <p class="mb-0 font-md text-grey font-m"> {{precio(pedido.pago_del*pedido.tasa)}}Bs // {{ precio(pedido.pago_del) }}$</p>
        </div>
        <div class="col-12 flex item-center content-between ">
          <p class="mb-0 font-md text-grey font-m">Adicionales</p>
          <p class="mb-0 font-md text-grey font-m"> {{precio(pedido.subtotal_adicionales*pedido.tasa)}}Bs // {{ precio(pedido.subtotal_adicionales) }}$</p>
        </div>
        <div class="col-12 flex item-center content-between ">
          <p class="mb-0 font-md text-grey font-m">Acompañantes</p>
          <p class="mb-0 font-md text-grey font-m "> {{precio(pedido.subtotal_acompañantes*pedido.tasa)}}Bs // {{ precio(pedido.subtotal_acompañantes) }}$</p>
        </div>
        <div class="col-12 flex item-center content-between ">
          <p class="mb-0 font-xl bold font-m">Total</p>
          <p class="mb-0 font-xl bold font-m"> {{precio(pedido.total*pedido.tasa)}}Bs // {{ precio(pedido.total) }}$</p>
        </div>
      </div>

      <q-separator></q-separator>

      <div v-if="repartidor && repartidor.id" class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
        <div class="col-12 flex content-between item-center ">
          <p class=" font-xl subrayado q-mb-sm  "> <b>Detalles del repartidor</b><b></b> </p>
          <p class="mb-0 font-xl  "> <b>ID Repartidor</b> #{{ repartidor.id}} </p>
          <div class="w-100  ">
            <p class="mb-0 font-xl  "> <b>Repartidor: </b> {{repartidor.nombre +" "+ repartidor.apellido}} - <q-icon class="font_titulosxl "
                :name="tipo_vehiculo_icon"></q-icon>
            </p>
            <p class="mb-0 font-xl  "> <b>Teléfono:</b> {{ repartidor.telefono }} </p>
            <p class="mb-0 font-xl  "> <b>Whatsapp:</b> {{ repartidor.whatsapp }} </p>
            <!-- <p class="mb-0 font-xl  "> <b>Metodo de pago:</b> </p> -->
          </div>
        </div>
      </div>

      <q-separator></q-separator>

      <div class="row q-ml-md q-mr-md q-mt-md q-mb-md  ">
        <div class="col-12">
          <p class=" font-xl subrayado q-mb-sm  "> <b>Modalidad del pedido</b><b></b> </p>
          <p class="mb-0 font-xl   "> <b>Modalidad de entrega: </b> {{ pedido.modalidad }} </p>
        </div>
      </div>
      <!-- <div class="row q-ml-md q-mr-md  q-mb-md ">
        <div class="col-12">
          <p class="mb-0 font-xl bold  "> Dirección de entrega:</p>
          <div class="flex item-center">
            <q-icon style="font-size:30px" class="" name="pin_drop" />
            <p class="mb-0 q-ml-sm font-lg w-80  ">{{ pedido.direccion }}&nbsp; </p>
          </div>
        </div>
        <div class="col-12 q-mt-sm ">
          <p class="mb-0 font-xl bold  ">Punto de referencia:</p>
          <div class="flex item-center">
            <q-icon style="font-size:30px" class="" name="pin_drop" />
            <p class="mb-0 q-ml-sm font-lg w-80  ">{{ pedido.punto_referencia }}&nbsp; </p>
          </div>
        </div>
        <div class="col-12 q-mt-md text-center ">
          <q-btn @click="mostrarModalMapa = true" class="cl_standar rounded " label="Ver ubicación"></q-btn>
        </div>
      </div> -->

      <!-- <q-separator></q-separator>

       <div class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
        <div class="col-12 flex content-between item-center ">
          <div class="">
            <p class=" font-xl subrayado q-mb-sm  "> <b>Estatus del pedido</b><b></b> </p>
            <p class="mb-0 font-xl  "> <b>Estatus:</b> {{ estatus.nombre }} ({{ estatus.descripcion }}) </p>
          </div>

          <div class="w-100 q-mt-sm ">
            <p class="mb-0 font-xl  "> <b>Nota:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>

        </div>
      </div> -->

      <q-separator></q-separator>
      <div class="row q-ml-md q-mr-md q-mt-md  ">
        <div class="col-12">
          <p class=" font-xl subrayado q-mb-sm  "> <b>Datos del pago</b><b></b> </p>
          <p class="mb-0 font-xl bold  "> Método de pago</p>
          <p class="mb-0 font-xl  "> {{ cuenta.cuenta }} </p>
          <p class="mb-0 font-xl bold  " v-if="pedido.referencia"> Número de referencia</p>
          <p class="mb-0 font-xl  " v-if="pedido.referencia">{{ pedido.referencia }}</p>
        </div>
      </div>
      <div class="row q-ml-md q-mr-md q-mt-md q-mb-xl ">
        <div class="col-12">
          <q-img :src="pedido.img_pago || 'statics/images/logo.png'"></q-img>
        </div>
      </div>


      <div v-if="verCalificacion" class="row q-ml-md q-mr-md q-mt-md  ">
        <div class="col-12 text-center">
          <q-btn class="cl_standar w-100 rounded q-mb-md" size="md" @click="mostrarModalrating=true">
            <q-icon name="star" color="orange" class="q-mr-sm"></q-icon> Completar pedido
          </q-btn>
        </div>
      </div>

      <q-dialog v-model="mostrarModalrating">
        <q-card class="w-80">
          <q-card-section class="text-right p-0 ">
            <q-img @click="clickEliminar(item)" width="15px" height="15px" class=" q-mr-md q-mt-md "
              v-close-popup src="statics\Iconos\X.png"></q-img>
          </q-card-section>
          <q-card-section class="q-pt-none" style="">
            <div class="row">
              <div class="col-12 text-center ">
                <p class="titulo-header m-0">Califica el doomialiado</p>
              </div>
              <div class="col-12 text-center">
                <q-rating v-model="Rate" max="5" size="2em" color="orange" icon="star_border"
                  icon-selected="star" icon-half="star_half" no-dimming class="q-mb-xs" />
              </div>
              <div class="col-12 text-center q-mt-md " v-if="verCalificacionDelivery">
                <p class="titulo-header m-0">Califica el repartidor</p>
              </div>
              <div class="col-12 text-center">
                <q-rating v-model="Rate_2" max="5" size="2em" color="orange" icon="star_border"
                  icon-selected="star" icon-half="star_half" no-dimming class="q-mb-xs"
                  v-if="verCalificacionDelivery" />
              </div>
              <div class="col-12 q-mt-xl text-center">
                <q-btn class="cl_standar w-90 rounded " size="md"
                  :disabled="buttonDisabled">
                  <q-icon name="star" class="q-mr-sm" color="orange"></q-icon> Calificar
                </q-btn>
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
      <div class="row" v-if="verCalificacionLista">
        <div class="col-12">
          <b>
            <p class=" mb-0 q-ml-md soft-border font-xl ">Calificación doomialiado</p>
          </b>
        </div>
        <div class="item-center text-white  q-ml-md col-12 content-between">
          <div class="col-12 ">
            <q-rating v-model="Rate_listo" max="5" size="2em" color="orange" icon="star_border"
              icon-selected="star" icon-half="star_half" no-dimming class="q-mb-xs" readonly />
          </div>
        </div>
      </div>
      <div class="row" v-if="verCalificacionLista_2">
        <div class="col-12">
          <b>
            <p class=" q-ml-md mb-0 soft-border font-xl">Calificación repartidor</p>
          </b>
        </div>
        <div class=" col-12 ">
          <div class="col-12 q-ml-md">
            <q-rating v-model="Rate_listo_2" max="5" size="2em" color="orange" icon="star_border"
              icon-selected="star" icon-half="star_half" no-dimming class="q-mb-xs" readonly />
          </div>
        </div>
      </div>
    </div>

     <!-- modal entrgar al repartidor -->

    <q-dialog full-width v-model="Entregar">
      <q-card class="rounded-1" >
        <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo <br> para ser entregado?</p>
        </q-card-section>

        <q-card-section class="q-pt-none text-center row ">

          <div class="col-12 flex flex-center ">

           <q-btn @click="clickAvanzarPedido" class="bg-green w-70 text-white   q-mb-md  rounded" label="si" ></q-btn>

          </div>

          <div class="col-12 text-center  flex-center">

           <q-btn @click="Entregar = false" class="bg-red w-70 text-white   q-mb-md  rounded" label="no" ></q-btn>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- modal tiempo de recogida -->

    <q-dialog v-model="Tiempo">
      <q-card class="rounded-1" >
        <q-card-section class="text-center" >
          <p class="bold" >Indica el tiempo en el que podemos recoger este pedido</p>
        </q-card-section>

        <q-card-section class="q-pt-none">
           <div class=" flex content-around item-center ">

             <q-btn class="bg-black text-white" :disable="minutos==5" icon="remove" @click="minutos = minutos - 5" round ></q-btn>

             <p class="bold font-xl mb-0 " > <span class="font_titulosxl" >{{minutos}}</span>min</p>

             <q-btn class="bg-black text-white" :disable="minutos==120" icon="add" @click="minutos = minutos + 5" round ></q-btn>

           </div>

           <div class="text-center q-mt-md ">
             <p class="bold" >Tiempo minimo 5 min</p>
           </div>

           <div class="text-center">
             <q-btn class="cl_standar rounded " label="Confirmar" @click="clickAvanzarPedido" :disabled="desactivarBoton"></q-btn>
           </div>
        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- modal rechazar pedido -->

    <q-dialog full-width v-model="rechazado">
      <q-card class="rounded-1" >
        <q-card-section class="text-center" >

        </q-card-section>

        <q-card-section class="q-pt-none">
           <div class=" flex content-around item-center ">

              <p class="bold" >Indica el motivo del rechazo</p>

             <q-input class="input_txt_grow q-pl-sm font-xl w-100  " autogrow borderless v-model="nota"></q-input>

           </div>


           <div class="text-center  q-mt-md">
             <q-btn class="cl_standar rounded q-mr-s" label="Cancelar" @click="rechazado = false" :disabled="desactivarBoton"></q-btn>

             <q-btn class="cl_standar rounded q-ml-sm " label="Confirmar" @click="clickRechazarPedido" :disabled="desactivarBoton"></q-btn>
           </div>
        </q-card-section>

      </q-card>
    </q-dialog>

<!--
    <q-dialog v-model="mostrarModalMapa" maximized>
      <q-card class="w-100">
        <q-card-section class="text-right  q-pa-sm ">
          <q-img width="15px" height="15px" class="" v-close-popup src="statics\Iconos\X.png"></q-img>
        </q-card-section>
        <q-card-section class="q-pt-none" style="height: 90vh">
          <div class=" bordes q-pa-xs soft-border flex item-center content-around">
            <div class="flex item-center q-mt-sm ">
              <img src="statics\images\map-aqui-estoy.png" width="20px" alt="">
              <p class="m-0 titulo-header ">Doomi</p>
            </div>
            <div class="flex item-center q-mt-sm ">
              <img src="statics\images\map-azul.png" width="20px" alt="">
              <p class="m-0 titulo-header ">Cliente</p>
            </div>
          </div>
          <google-map class="q-mt-md" :setMarker="marker_delivery" :setDirection="direccion_pickup"
            @hook:mounted="setDirecciones">
          </google-map>
        </q-card-section>
      </q-card>
    </q-dialog>
 -->
    <!-- <div class="text-white" style="margin-top: 100px;">
    <center><b><i>Cargando...</i></b></center>
  </div> -->

  </div>
</template>


<script>
import moment from 'moment'
import mapGetters from 'vuex'
import GoogleMap from 'components/GoogleMap';
import precio from '../lib/precio'

export default {

components: {
  GoogleMap
},

data() {
  return {
    Entregar: false,
    minutos: 5,
    Tiempo: false,
    mostrarModalMapa: false,
    max_MB_img_size: 1,
    upload_progress: 0,
    pedido: {},
    dialog: false,
    slide: null,
    cuenta: {},
    cuentas: [],
    datosDePago: '',
    referencia: '',
    img: null,
    buttonDisabled: false,
    loadingBar: false,
    configuracion: null,
    verCalificacion: false,
    mostrarModalrating: false,
    Rate: 0,
    Rate_2: 0,
    verCalificacionLista: false,
    verCalificacionLista_2: false,
    Rate_listo: 0,
    Rate_listo_2: 0,
    verCalificacionDelivery: false,
    select_img: false,
    iconos_veh: {
      'Bicicleta': 'directions_bike',
      'Auto': 'directions_car',
      'Moto': 'motorcycle',
    },
    repartidor: {},
    tipo_vehiculo_icon: '',

    cliente: {nombre:' ', apellido:' '},
    pedido: {},
    cuenta: {},
    estatus: {},
    ordenes: [],
    desactivarBoton: false,
    rechazado: false,
    serechaza: false,
    nota: ''
  }
},


mounted() {
  this.cargarPedido();
},


computed: {
  doomi() {
    return this.$store.getters['doomi/datos'];
  },

  detallesOrdenes(){
    if (!this.ordenes) return [];

    return this.ordenes.map(item => {
      const precio_porcentaje = ((item.precio_usd * 100) * ((item.ganancia||0)/100) + (item.precio_usd*100)) / 100;
      const bs = precio_porcentaje * 100 * this.pedido.tasa / 100;
      return {
        cantidad: item.cantidad,
        // img: item.menu.img,
        nombre: item.nombre,
        fecha_pro: item.fecha_pro,
        // descripcion: item.menu.descripcion,
        precio: this.precio(precio_porcentaje),
        precio_bs: this.precio(bs),
        adicionales: item.adicionales.map(e => `${e.nombre} (${e.cantidad})`).join(', '),
        acompañantes: item.acompañantes.map(e => `${e.nombre} (${e.cantidad})`).join(', '),
        precio_adicionales:  this.precio(item.adicionales.reduce((a,b)=> (a*100+b.precio_usd*100)/100, 0)),
        subtotaladicionado: this.precio( item.precio_usd * 100 * item.cantidad / 100 ),
        notas: item.notas,
      }
    }, this);
  },

},


methods: {
  precio,

  cargarPedido() {
    this.$api
      .get('/pedidos/' + this.$route.params.id)
      .then(res => {
        this.cliente = res.data.cliente;
        this.ordenes = res.data.ordenes;
        this.pedido = res.data;
        this.repartidor = res.data.repartidor;
        this.cuenta = res.data.cuenta;
        this.estatus = res.data.estatus;

        this.tipo_vehiculo_icon = this.iconos_veh[res.data.repartidor?.vehiculo[0]?.nombre_veh];
      })
  },

  clickAvanzarPedido() {
    this.serechaza = false;
    this.desactivarBoton = true;
    this.avanzarPedido(this.pedido)
      .then(res => {
        this.desactivarBoton = false;
        this.Tiempo = false;
        this.cargarPedido();
        this.$router.back();
      })
      .catch(err => {
        this.desactivarBoton = false;
        this.$q.notify('Ocurrió un error');
      });
  },

  clickRechazarPedido() {
    if(this.nota==''){
      this.$q.notify('Ingresa el motivo del rechazo');
      return;
    }
    this.serechaza = true;
    this.desactivarBoton = true;
    this.avanzarPedido(this.pedido)
      .then(res => {
        this.desactivarBoton = false;
        this.rechazado = false;
        this.cargarPedido();
        this.$router.back();
      })
      .catch(err => {
        this.desactivarBoton = false;
        this.$q.notify('Ocurrió un error');
      });
  },

  avanzarPedido(pedido) {
    return new Promise((resolve, reject) => {
      const id_pedido = pedido.id;

      // Aceptar el pago.
      if (pedido.id_estatus == 3) {
        if (pedido.img_pago) {
        }
        // return;
      }

      let ruta = '';
      let metodo;
      if (pedido.id_estatus==10 && pedido.modalidad == 'Pickup') {
        ruta += 'pedidos/repartidor/entregar';
        metodo = 'PATCH'
      }
      else {
        ruta += 'pedidos/edit_sts';
        metodo = 'PUT'
      }


      let nuevo_sts;
      switch (parseInt(pedido.id_estatus, 10)) {
        case 3:
          nuevo_sts = 6; // Preparando.
          break;

        case 6: {
          nuevo_sts = 8; // Preparando.

          if (pedido.modalidad == 'Programado' && !pedido.preparando_programado){
            nuevo_sts = 6;
            ruta += '?ini_pro=1';
          }
          break;
        }

        case 7:
          nuevo_sts = 8; // Finalizado.
          break;

        case 8:
          nuevo_sts = 9; // Por entregar.
          break;

        case 10:
          nuevo_sts = 12; // En transito (pickup)
          break;
      }
      if(this.serechaza)
        nuevo_sts = 97;
      const data = {
        sts: nuevo_sts,
        nota: this.nota,
        iden: id_pedido,
        id_usu: this.$store.getters['auth/id'],
        tipo_usu: 'restaurante',
        minutos: this.minutos
      };
      if (pedido.id_estatus==10 && pedido.modalidad == 'Pickup') {
        data.id_pedido = data.iden;
      }
      this.$api({
        url: ruta,
        method: metodo,
        data: data,
      })
      .then(resolve, reject)
    });
  },
  verificarpedido(pedido){
    //console.log(pedido);
    if(pedido.modalidad=='Programado' && pedido.estatus.id == 6 && !pedido.preparando_programado){
      let fecha1_p = moment().format('YYYY-MM-DD');
      let fecha2_p = moment(pedido.fecha_pro).format('YYYY-MM-DD');
      fecha1_p = fecha1_p+' 00:00:00';
      fecha2_p = fecha2_p+' 00:00:00';
      fecha1_p = moment(fecha1_p);
      fecha2_p = moment(fecha2_p);
      let dif_dias = fecha2_p.diff(fecha1_p, 'days');
      if(dif_dias<=0)
        return true;
      else
        return false;
    }else
      return false;
  },

  formatoFecha(datetime) {
    return moment(datetime).format('DD-MM-YYYY');
  },
},


}</script>

<style>
#tabla-totales {
  font-size: 13px;
  text-align: right;
  margin-left: auto; margin-right: 0;
}

#table-totales td,th {
  min-width: 70px;
}

#tabla-totales td:last-child {
  width: 80px;
}
.q-drawer .scroll {
  overflow:hidden;
}
.swal2-container{
  z-index: 999999;
}
</style>
