<template>
    <div class="bg_blue q-pa-lg">

       <div class="row text-center q-mt-md q-mb-md flex content-between item-center ">
			<div class="col-2">
              <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" @click="$router.back()" />
			</div>
			  <div class="col-8">
                 	<p class="mb-0 titulo-header q-mt-sm " >Pagina en construcción</p>
			  </div>
			<div class="col-2">
              
			</div>
		</div>

        <div class="text-center">
            <h5 class="text-white m-0 " >En construcción</h5>
        </div>

        <q-card class="" style="max-width: 100%">
      <q-item>
        <q-item-section avatar>
          <q-skeleton type="QAvatar" />
        </q-item-section>

        <q-item-section>
          <q-item-label>
            <q-skeleton type="text" />
          </q-item-label>
          <q-item-label caption>
            <q-skeleton type="text" />
          </q-item-label>
        </q-item-section>
      </q-item>

      <q-skeleton height="60vh" square />

      <q-card-actions align="right" class="q-gutter-md">
        <q-skeleton type="QBtn" />
        <q-skeleton type="QBtn" />
      </q-card-actions>
    </q-card>


    </div>
</template>