<template>
	<div id="Pedidos fuente">
		<div  class="blue cont_home" >
			<div class="q-pa-sm q-gutter-sm ">

			<div class="row text-center q-mt-lg   flex content-between item-center ">
					<div class="col-2">
						<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
					</div>
					<div class="col-8">
						<p class="mb-0 titulo-header " >Resultados</p>
					</div>
					<div class="col-2">
					</div>
			</div>


			<div v-for="pedido in busquedaPedidos" :key="pedido.id" @click="clickVerMas(pedido)" class="row bg_cont q-mt-lg q-pa-md text-white rounded-1">
			<div class="col-2  row">
					<div class="col-12 text-center  ">
						<img class="circle" height="35px" width="35px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
					</div>

					 <div class="col-12 text-center">
                        <p class="font-xl m-0 bold" >|</p>
					 </div>

					<div class="col-12 text-center">
						<img class="circle" height="35px" width="35px" :src=" pedido.cliente.foto || 'statics/images/user.png'" >
					</div>
			</div>
			<div class="col-6 row">
				 <div class="col-12 q-ml-sm ">
					<p class="text-black mb-0 " >Recogida</p>
					<p class="text-black mb-0 limitar-texto-pedido "  > {{ pedido.doomi_ubicacion }}</p>
				</div>
				 <div class="col-12 q-mt-md q-ml-sm ">
					<p class="text-black mb-0 " >Entrega</p>
					<p class="text-black mb-0 limitar-texto-pedido "  > {{ pedido.direccion }}</p>
				</div>
			</div>
			<div class="col-4 flex flex-center item-center  ">
				<div class="text-center">
                    <p class=" mb-0 w-100 text-black " >Ganancia:</p>
					<p class=" font-md w-100 mb-0 " >
						<span class="font_titulosxl clr_light_pink " >
							{{$utils.precio(pedido.pago_del, '$')}}
						</span>
					</p>
				</div>
				<!-- <q-btn @click="clickVerMas(pedido)" label="Ver más" size="sm" color="primary" class=" soft-border cl_standar"></q-btn> -->
			</div>
		</div>



		<!-- <q-card
			flat bordered
			class="my-card degradado q-ml-sm q-mr-sm text-white rounded-1 row flex"
			v-for="pedido in busquedaPedidos" :key="pedido.id">

			<q-card-section horizontal class="item-center" >
				<q-card-section class="col-4 row">
					<div class="col-12 text-center ">
						<img class="circle" height="50px" width="50px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
					</div>
					<div class="col-12 text-center">
						<img class="circle" height="50px" width="50px" :src=" pedido.cliente.foto || 'statics/images/user.png'" >
					</div>
				</q-card-section>

				<q-card-section style="" class="p-0  col-8  ">
					<div class="text-caption text-white w-90 ">
						<div class="q-mb-xs q-mt-md ">
							<div class=" q-mt-sm q-mb-xs parrafos m-0"> <b>{{ pedido.doomi_nombre }}</b>
							</div>
						</div>

						<p class="m-0 nombre-doomi q-mt-md q-mb-md " > <b> Destino: {{ pedido.direccion }}</b></p>
						<div class="text-right">
							<p class="m-0 parrafos-sm q-mb-md " >{{ $utils.timeAgo(pedido.creado) }}</p>
						</div>
						<div class="text-center q-mt-sm q-mb-sm ">
							<q-btn @click="clickVerMas(pedido)" label="Ver más" size="sm" class=" rounded cl_standar"></q-btn>
						</div>

					</div>
				</q-card-section>
			</q-card-section>
		</q-card> -->



			</div>
		</div>
	</div>
</template>

<script>


export default {
data(){
	return {}
},

methods: {
	clickVerMas(pedido){
		this.$router.push({
			path:'/Vermas1/' + pedido.id,
		});
	},
},

computed: {
	busquedaPedidos(){ return this.$store.getters['ordenes/busquedaPedidos'] },
},


};</script>
