<template>
<div class="blue cont_home fuente ">

		<div class="row text-center q-mt-lg q-mb-md flex content-between item-center ">
			<div v-if="Total_pedidos" class="col-2">
				<q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Menu_configuraciones" /> -->
			</div>
			<div v-if="Pagar_doomi" class="col-2">
				<q-img @click="Total_pedidos = true , Pagar_doomi = false" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Menu_configuraciones" /> -->
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header  " >Historial de pedidos</p>
			</div>
			<div class="col-2">
				<!-- <q-btn v-on:click='Mostrarfiltro = !Mostrarfiltro' flat icon="menu" class="" ></q-btn> -->
			</div>
		</div>

		<div v-if="Total_pedidos" class="row q-mt-md q-pl-md q-pr-md ">
			<div @click="Total_pedidos = true , Pagar_doomi = false" class="col-4 q-pa-sm flex flex-center text-center bg-cont border-right ">

				<div class="q-pa-sm">
				  <p class="font_tituloslg  bold mb-0" >{{tot_p}} </p>
				  <p  class="font-md mb-0 "  >Total de pedidos</p>
				</div>

			</div>

			<div class="col-4 q-pa-sm flex flex-center text-center bg-cont ">

				<div class="">
				  <p class="font-xl bold mb-0 " >${{precio(tot_f)}} </p>
				  <p class="font-md mb-0"  >Total facturado</p>
				</div>

			</div>

			<div @click="Total_pedidos = false , Pagar_doomi = true" class="col-4 q-pa-sm flex flex-center text-center bg-verde">

				<div class="text-white">
				  <p class="font-xl bold mb-0 "  >${{precio(tot_d)}} </p>
				  <p :class="Pagar_doomi ? 'font-xl bold' : '' " class="font-md mb-0 "  >Pagar a Doomi</p>
				</div>

			</div>

		</div>

		<div  class="   row rounded-3  q-ma-md">
			<div :class="Pagar_doomi ? 'col-8 rounded-left' : 'col-12 rounded'" class="flex flex-center  bg-cont q-py-sm rounded-left content-around item-center">

				<div class="flex item-center w-fit ">
					<div>
						<p class="m-0" >Desde:</p>
						<p class="m-0" >{{desde}}</p>
					</div>
					<q-btn icon="event" size="sm" round class=" q-ml-md q-mr-md cl_standar rounded" >
						<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
							<q-date v-model="filtroDesde" :options="filtrarDiasSeleccionablesDesde">
								<div class="row items-center justify-end q-gutter-sm">
									<q-btn label="Cancel" color="primary" flat v-close-popup />
									<q-btn label="OK" color="primary" flat @click="save" v-close-popup />
								</div>
						</q-date>
						</q-popup-proxy>
					</q-btn>

				</div>

				<div :class="Pagar_doomi ? 'q-mt-sm':''" class="flex item-center w-fit ">
					<div>
						<p class="m-0" >Hasta:</p>
						<p class="m-0" >{{hasta}}</p>
					</div>
					<q-btn icon="event" size="sm" round class=" q-ml-md q-mr-md cl_standar rounded">
						<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
							<q-date v-model="filtroHasta" :options="filtrarDiasSeleccionablesHasta">
							<div class="row items-center justify-end q-gutter-sm">
								<q-btn label="Cancel" color="primary" flat v-close-popup />
								<q-btn label="OK" color="primary" flat @click="save" v-close-popup />
							</div>
						</q-date>
						</q-popup-proxy>
					</q-btn>
				</div>



			</div>

			<div v-if="Pagar_doomi" :class="Pagar_doomi ? 'bg-verde' : '' " class="col-4 flex flex-center rounded-right ">
				<div @click="verpagodoomi" class="">
                   <p class="font_tituloslg  mb-0 w-100 text-center text-white"  >${{precio(tot_d)}} </p>
				 <p class="mb-0 text-white font-xl w-100 text-center" >Pagar</p>
				</div>
			</div>
			<!--<div v-if="Total_pedidos"  class="col-4 border-left flex flex-center rounded-right bg-cont ">
				<q-btn round icon="search" size="sm"  class="cl_standar" ></q-btn>
			</div>-->
		</div>

		<div class="row">
			<div :class="Por_pagar ? 'bottom-tabs' : '' " @click="Pagados = false, Por_pagar = true"  class="col-6 flex flex-center  ">
               <p class="mb-0 bold font-xl" >Por pagar</p>
			</div>

			<div :class="Pagados ? 'bottom-tabs' : '' " @click="Pagados = true, Por_pagar = false" class="col-6 flex flex-center  ">
                <p class="mb-0 bold font-xl" >Pagados</p>
			</div>
		</div>

		<div v-if="Total_pedidos && Por_pagar" class="row flex flex-center q-mb-lg">
			<div class="text-center q-mt-lg" v-if="!visto_pd">
	  			<q-spinner-dots color="primary" size="40px" />
	  		</div>
			<div v-for="n in pedidos_pendientes" :key="n.id" class=" row bg-cont q-mt-sm q-mb-sm  q-ml-md q-mr-md text-white soft-border flex flex-center ">

			    <div class="col-12 text-center text-black q-mb-xs q-pt-sm q-px-sm ">
					<p class="mb-0 q-pb-xs font-md" v-if="n.delivery_pagado == 0">Orden hecha el {{queDiaEs(n.creado)}} {{extraerFecha(n.creado)}}. {{extraerHora(n.creado)}}</p>
					<p class="mb-0 q-pb-xs font-md" v-if="n.delivery_pagado != 0">Pago hecho el {{queDiaEs(n.fecha_pago_del)}} {{extraerFecha(n.fecha_pago_del)}}. {{extraerHora(n.fecha_pago_del)}}</p>
					<q-separator color="white" ></q-separator>
				</div>

			    <div  class="col-10 flex item-center q-px-sm  row">
					<div class="col-2">
			      	<img class="circle" height="35px" width="35px" :src="n.repartidor.img || 'statics/images/user.png'" onerror="this.src='statics/images/user.png';">
					</div>
					<div style="text-align: initial;" class="col-10">
                         <p class="mb-0 font-md text-black q-ml-md ">{{n.repartidor.nombre}} {{n.repartidor.apellido}}</p>
			      	<p class="mb-0 font-md text-black q-ml-md  ">Pedido N° #{{n.id}}</p>
					</div>


			    </div>

			   	<div class="col-2 flex flex-center q-pr-md ">
			   		<div class="w-100 flex flex-center " > <q-icon name="two_wheeler" class="text-black" style="font-size: 35px;" /> </div>
				   <p class="font_titulosxl mb-0 bold text-black " >${{ precio(n.pago_del) }}</p>
			   	</div>

			    <div class="col-12">
					 <q-btn :class=" n.delivery_pagado == 0 ? 'bg-verde' : 'bg-red' " class=" w-100 " @click="modalpagor(n)" :label=" n.delivery_pagado == 0 ? 'Pagar al repartidor' : 'En disputa' " ></q-btn>
				</div>
  		    </div>
  		    <div class="text-center q-mt-lg" v-if="pedidos_pendientes.length==0 && visto_pd">
	  			<p class="font-xl bold" >No hay pagos encontrados</p>
	  		</div>
			<!-- <div v-for="n in pedidos_delivery" :key="n.id" class=" row bg-cont q-mt-lg q-mb-lg  q-ml-md q-mr-md text-white rounded-top flex flex-center ">

		    <div class="col-12 text-center text-black q-mb-xs q-pa-sm ">
				<p class="mb-0 q-pb-xs font-md" >Orden hecha el {{queDiaEs(n.creado)}} {{extraerFecha(n.creado)}}. {{extraerHora(n.creado)}}</p>
				<q-separator color="white" ></q-separator>
			</div>

		    <div  class="col-10 flex item-center q-pa-sm ">
		      	<img class="circle" height="35px" width="35px" :src="n.repartidor.img || 'statics/images/user.png'" onerror="this.src='statics/images/user.png';">
		      	<p class="mb-0 font-md text-black q-ml-md ">{{n.repartidor.nombre}} {{n.repartidor.apellido}}</p>
		      	<p class="mb-0 font-md text-black q-ml-sm  ">Pedido N° #{{n.id}}</p>

		    </div>

		   	<div class="col-2 flex flex-center q-pr-md ">
		   		<div class="w-100 flex flex-center " > <q-icon name="two_wheeler" class="text-black" style="font-size: 35px;" /> </div>
			   <p class="font_titulosxl bold text-black " >${{ precio(n.pago_del) }}</p>
		   	</div>

		    <div class="col-12">
				 <q-btn class="bg-red w-100 " @click="modalpagor(n)" label="Pagar al repartidor " ></q-btn>
			</div>
  		    </div> -->

		</div>

		<div v-if="Total_pedidos && Pagados" class="row flex flex-center q-mb-lg">
			<div class="text-center q-mt-lg" v-if="!visto_pd">
	  			<q-spinner-dots color="primary" size="40px" />
	  		</div>
			<div v-for="n in pedidos_recibidos" :key="n.id" class=" row bg-cont q-mt-sm q-mb-sm  q-ml-md q-mr-md text-white soft-border flex flex-center " :class="{'border-orange' : n.delivery_pagado == 1 }" @click="modalpagor(n)">

			    <div class="col-12 text-center text-black q-mb-xs q-pt-sm q-px-sm ">
					<p class="mb-0 q-pb-xs font-md" >Orden pagada el {{queDiaEs(n.fecha_pago_del)}} {{extraerFecha(n.fecha_pago_del)}}. {{extraerHora(n.fecha_pago_del)}}</p>
					<q-separator color="white" ></q-separator>
				</div>

			    <div  class="col-10 flex item-center q-px-sm row">
					<div class="col-2">
                       <img class="circle" height="35px" width="35px" :src="n.repartidor.img || 'statics/images/user.png'" onerror="this.src='statics/images/user.png';">
					</div>
			      	<div style="text-align: initial;" class="col-10">
                          <p class="mb-0 font-md text-black q-ml-md ">{{n.repartidor.nombre}} {{n.repartidor.apellido}}</p>
			      	<p class="mb-0 font-md text-black q-ml-md  ">Pedido N° #{{n.id}}</p>
					</div>


			    </div>

			   	<div class="col-2 flex flex-center q-pr-md ">
			   		<div class="w-100 flex flex-center " > <q-icon name="two_wheeler" class="text-black" style="font-size: 35px;" /> </div>
				   <p class="font_titulosxl mb-0 bold text-black " >${{ precio(n.pago_del) }}</p>
			   	</div>

		    </div>
		    <div class="text-center q-mt-lg" v-if="pedidos_recibidos.length==0 && visto_pd">
	  			<p class="font-xl bold" >No hay pagos encontrados</p>
	  		</div>


		</div>

		<div v-if="Pagar_doomi && Por_pagar " class="row flex flex-center q-mb-lg">
			<div class="text-center q-mt-lg" v-if="!visto_pdo">
	  			<q-spinner-dots color="primary" size="40px" />
	  		</div>
			<div v-for="n in pedidos_doomi" :key="n.id" class=" row bg-cont q-mt-sm q-mb-sm  q-ml-md q-mr-md text-white soft-border flex flex-center ">

				<div class="col-12 text-center text-black q-mb-xs q-pt-sm q-px-sm ">
					<p class="mb-0 q-pb-xs font-md" >Orden hecha el {{queDiaEs(n.creado)}} {{extraerFecha(n.creado)}}. {{extraerHora(n.creado)}}</p>
					<q-separator color="white" ></q-separator>
				</div>

				<div style="text-align: initial;"  class="col-10 flex item-center q-px-sm row">
                     <div class="col-2">
                        <img class="circle" height="35px" width="35px" :src="n.img_cli || 'statics/images/user.png'" onerror="this.src='statics/images/user.png';">
					 </div>
					<div class="col-10">
                      <p class="mb-0 font-md text-black q-ml-md ">{{n.nom_cli}} {{n.ape_cli}}</p>
					<p class="mb-0 font-md text-black q-ml-md  ">Pedido N° #{{n.id_pedido}}</p>
					</div>

				</div>

				<div class="col-2 flex flex-center q-pr-md ">
					<p class="font_titulosxl bold text-black mb-0" >${{ precio((n.tot+(n.tot_acom||0)+(n.tot_adi||0))) }}</p>
					<p class="font-md bold text-black" v-if="verificarexonerado((n.tot+(n.tot_acom||0)+(n.tot_adi||0)))">Exonerado</p>
				</div>
			</div>
			<div class="text-center q-mt-lg" v-if="pedidos_doomi.length==0">
	  			<p class="font-xl bold" >No hay datos encontrados</p>
	  		</div>
		</div>

		<div v-if="Pagar_doomi && Pagados " class="row flex flex-center q-mb-lg">
			<div class="text-center q-mt-lg" v-if="!visto_pdo2">
	  			<q-spinner-dots color="primary" size="40px" />
	  		</div>
			<div @click="cargarpagos_D_Listo(n)" v-for="n in pedidos_doomi_completo" :key="n.id" class=" row bg-cont q-mt-sm q-mb-sm q-pb-sm q-ml-md q-mr-md text-white soft-border flex flex-center " :class="{'border-orange' : n.confirmado != 1 }">

				<div class="col-12 text-center text-black q-mb-xs q-px-sm q-pt-sm ">
					<p class="mb-0 q-pb-xs font-md" >Pago: {{queDiaEs(n.fecha_pago)}} {{extraerFecha(n.fecha_pago)}}. {{extraerHora(n.fecha_pago)}}</p>
					<q-separator color="white" ></q-separator>
				</div>

				<div class="col-2 flex flex-center">
	               <img class="circle" height="35px" width="35px" src="statics/images/user.png" onerror="this.src='statics/images/user.png';">
				</div>

				<div  class="col-8 flex item-center q-px-sm ">
					<p style="font-weight: 100 !important;" class="mb-0 font-xl  text-black q-ml-sm  ">Mi querido Doomi Admin </p>
				</div>

				<div class="col-2 flex flex-center q-pr-md ">
					<p class="font_titulosxl bold text-black mb-0" >${{ precio(n.pago_del) }}</p>
					<!--<p class="font-md bold text-black" v-if="verificarexonerado((n.tot+(n.tot_acom||0)+(n.tot_adi||0)))">Exonerado</p>-->
				</div>
			</div>
			<div class="text-center q-mt-lg" v-if="pedidos_doomi_completo.length==0">
	  			<p class="font-xl bold" >No hay datos encontrados</p>
	  		</div>
		</div>



    <q-dialog full-width  v-model="Pagar_a_Doomi">
      <q-card class="rounded-3" >
        <q-card-section class="text-right q-pa-none " >
            <div class="row text-center  q-mt-sm flex content-between item-center ">
			<div class="col-2">

			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header  " >Lista de pedidos</p>
			</div>
			<div class="col-2">
				<q-img src="statics\Iconos\X.png" width="15px" height="15px" @click="Pagar_a_Doomi = false" ></q-img>
				<!-- <q-btn flat label="X" class="" @click="Pagar_a_Doomi = false" ></q-btn> -->
			</div>
		</div>
        </q-card-section>

        <q-card-section class="q-px-none text-center row flex flex-center ">


		 <div class="col-10 text-center  ">
            <p class="bold font-xl q-mb-xs ">Cuenta</p>
            <q-select class="input_txt q-pr-sm q-pl-sm  font-xl " borderless v-model="Cuenta" :options="Cuentas" option-value="id" option-label="nombre" @input="imprimircuenta"></q-select>
          </div>

		   <div class="col-10 text-center  q-mt-md ">
           <p class="bold font-xl q-mb-xs " >Datos para el pago</p>
           <q-input class="input_txt_grow q-pl-sm  font-xl " autogrow borderless readonly v-model="Datos_Cuenta"></q-input>
          </div>


		  <div class="col-12 q-mt-md text-center ">
			  <p class="font-xl mb-0 bold" >Monto:</p>
			  <p class="font-xl mb-0 bold  text-green " >{{precio(tot_d)}}$ / {{precio(tot_dbs)}} bs </p>

		  </div>

		  <div class="col-10 text-center q-mt-md  ">

           <p class="bold font-xl q-mb-xs " >Referencia</p>
           <q-input type="text" class="input_txt q-pl-sm font-xl  " :readonly="btn_pagar_d" placeholder="Ingrese la referencia" borderless v-model="Referencia_d"></q-input>
          </div>

           <div class="col-10 text-center q-mt-md ">
              <q-btn label="Pagar" :disable="btn_pagar_d" @click="PagarDoomi" class="mayuscula q-pl-sm q-pr-sm cl_standar rounded" ></q-btn>
          </div>


        </q-card-section>

      </q-card>
    </q-dialog>

    <q-dialog full-width  v-model="Doomi">
      <q-card class="rounded-1" >
        <q-card-section class="text-right q-pa-none " >
            <div class="row text-center  q-mt-sm flex content-between item-center ">
			<div class="col-2">

			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header  " >Detalles del pago</p>
			</div>
			<div class="col-2">
				<q-img src="statics\Iconos\X.png" width="15px" height="15px" @click="Doomi = false" ></q-img>
				<!-- <q-btn flat label="X" class="" @click="Doomi = false" ></q-btn> -->
			</div>
		</div>
        </q-card-section>

        <q-card-section class="q-px-none text-center row flex flex-center ">
        	<div class="col-9 text-initial">
				<p class="mb-0" > <b>Cuenta:</b> {{cuenta_pagada}}</p>
			</div>
			<div class="col-9 text-initial">
				<p class="mb-0" > <b>Referencia:</b> {{referencia_pagada}}</p>
			</div>
        	<div class="col-9 text-initial">
				<p class="mb-0" > <b>Total pagado ($):</b> {{precio(tot_p)}}</p>
			</div>
			<div class="col-9 text-initial">
				<p class="mb-0"> <b>Total pagado (Bs):</b> {{precio(tot_pb)}}</p>
			</div>
        	<div class="col-12">
				<p class="mb-0 titulo-header q-mt-sm " >Lista de pedidos</p>
			</div>
			<div @click="Doomi = true" v-for="n in pedidos_pagados" :key="n.id" class=" row bg-cont q-mt-sm q-mb-lg  q-ml-md q-mr-md text-white soft-border flex flex-center ">

			<div class="col-12 text-center text-black q-mb-xs q-pa-sm ">
				<p class="mb-0 q-pb-xs font-md" >Orden hecha el {{queDiaEs(n.creado)}} {{extraerFecha(n.creado)}}. {{extraerHora(n.creado)}}</p>
				<q-separator color="white" ></q-separator>
			</div>

			<div  class="col-10 flex item-center q-pa-sm row ">
				<div class="col-2">
				<img class="circle " height="35px" width="35px" :src="n.img_cli || 'statics/images/user.png'" onerror="this.src='statics/images/user.png';">

				</div>
				<div style="text-align: initial;" class="col-10">
                   <p class="mb-0 font-md text-black q-ml-md ">{{n.nom_cli}} {{n.ape_cli}}</p>
				<p class="mb-0 font-md text-black q-ml-md  ">Pedido N° #{{n.id_pedido}}</p>
				</div>

			</div>

		<div class="col-2 flex flex-center q-pr-md ">
			<p class="font_titulosxl bold text-black mb-0" >${{ precio((n.tot+(n.tot_acom||0)+(n.tot_adi||0))) }}</p>
			<p class="font-md bold text-black" v-if="verificarexonerado((n.tot+(n.tot_acom||0)+(n.tot_adi||0)))">Exonerado</p>
		</div>
		</div>


        </q-card-section>

      </q-card>
    </q-dialog>


	<q-dialog v-model="Repartidor">
      <q-card class="rounded-3" >
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->

        <q-card-section class="q-pt-none text-center row  w-100">

			<div class="col-12 relative">
                <img src="statics\Iconos\X.png" width="15px" height="15px" style="position:absolute;top:15px;right:15px;" @click="Repartidor = false" />
			</div>

			<!-- SOLO PARA PAGOS EN DISPUTA -->
				<div class="col-12 text-center q-mt-lg  ">
				    <p class="bold font-xl q-mb-xs " v-if="tit_modal_re" >El satelite pide <br> rectificar el pago</p>
				</div>
			<!-- /SOLO PARA PAGOS EN DISPUTA -->


           <div class="col-12 text-center q-mt-md relative ">

           <p class="bold font-xl q-mb-xs " >Datos para el pago</p>
           <q-input class="input_txt_grow q-pl-sm font-xl  " readonly autogrow borderless  v-model="Datos_repartidor"></q-input>
          </div>

		  <div class="col-12 q-mt-md text-center ">
			  <p class="font-xl mb-0 bold" >Monto:</p>
			  <p class="font-xl mb-0 bold  text-green " >{{precio(monto_r)}}$ / {{precio(total_r)}} bs </p>

		  </div>





			<!-- /SOLO PARA PAGOS EN DISPUTA -->

		  <div class="col-12 text-center q-mt-md  " >
			  <!-- SI es pago en disputa el label debe ser referencia nueva -->
           <p class="bold font-xl q-mb-xs " >Referencia</p>
           <q-input type="text" class="input_txt q-pl-sm font-xl  " :readonly="btn_pagar_r || disputa" placeholder="Ingrese la referencia" borderless v-model="Referencia"></q-input>
          </div>

		   <!-- SOLO PAGO EN DISPUTA -->

		   <div class="col-12 text-center q-mt-md  " v-if="disputa">
           <p class="bold font-xl q-mb-xs " >Motivo</p>
           <q-input class="input_txt_grow q-pl-sm font-xl  " readonly autogrow borderless  v-model="Motivo"></q-input>
          </div>

		    <!-- SOLO PARA PAGOS EN DISPUTA -->
		    <div class="col-12 text-center q-mt-md  " v-if="datos_diferentes">
	           <p class="bold font-xl q-mb-xs " >Nuevos datos para el pago</p>
	           <q-input class="input_txt_grow q-pl-sm font-xl  " readonly autogrow borderless  v-model="Datos_repartidor2"></q-input>
	        </div>
		  <div class="col-12 text-center q-mt-md  " v-if="disputa">
           <p class="bold font-xl q-mb-xs " >Referencia Nueva</p>
           <q-input type="text" class="input_txt q-pl-sm font-xl  " :readonly="btn_pagar_r" placeholder="Ingrese la referencia" borderless v-model="Referencia_nueva"></q-input>
          </div>

           <div class="col-12 text-center q-mt-md " v-if="accion_rep">
              <q-btn label="Pagar" :disable="btn_pagar_r" @click="PagarRepartidor" class="mayuscula q-pl-sm q-pr-sm cl_standar rounded" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

</div>
</template>

<script>
const moment = require('moment');
import precio from '../lib/precio';
export default {

data(){
	return {
		accion_rep: true,
		datos_diferentes: false,
		disputa: false,
		tit_modal_re: false,
		visto_pd: false,
		visto_pdo: false,
		visto_pdo2: false,
		Datos_repartidor:``,
		Repartidor: false,
		filtroDesde: '',
		filtroHasta: '',
		loadMsg: 'Cargando...',
		model: 5,
		Mostrarfiltro:false,
		modelo: 1,
		pedidos: [],
		pedidos_pendientes: [],
		pedidos_recibidos: [],
		pedidos_pagados: [],
		dialogDetalles: false,
		detallesPedido: {},
		proxyDate: '2021/03/01',
		Referencia:'',
		Referencia_nueva:'',
		Referencia_d:'',
		Motivo: '',
		Doomi : false,
		Cuenta:'',
		Cuentas: ['Pago Móvil','Banesco'],
		Datos_Cuenta: '',
		tot_p: 0,
		tot_f: 0,
		tot_d: 0,
		tot_dbs: 0,
		tot_p: 0,
		tot_pb: 0,
		cuenta_pagada: '',
		referencia_pagada: '',
		pedidos_delivery: [],
		pedidos_doomi: [],
		pedidos_doomi_completo: [],
		dias: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
		monto_r:0,
		total_r:0,
		btn_pagar_r : true,
		btn_pagar_d : false,
		id_pedido_pr: null,
		Pagar_a_Doomi: false,
		// pestañas
		Por_pagar: true,
		Pagados:false,
		Total_pedidos: true,
		Pagar_doomi:false
	};
},

watch:{
	'$route': async function(value) {
      	const id_pedido = this.$route.params.id;
 		if(id_pedido)
 			this.BuscarPago(id_pedido);
    },
},
created(){
	this.filtroDesde = moment().format('YYYY/MM/01');
	//this.filtroDesde = moment().format('YYYY/07/01');
	this.filtroHasta = moment().format('YYYY/MM/DD');
	this.cargageneral();

  this.$socket.removeAllListeners('ActualizarPagosAliado');
  this.$socket.on('ActualizarPagosAliado', (res) => {
    if (res.id_restaurante == this.$store.getters['doomi/id']) {
      this.cargageneral();
    }
  });

	const id_pedido = this.$route.params.id;
 	if(id_pedido)
 		this.BuscarPago(id_pedido);

 	const id_pago = this.$route.query.idp;
 	if (id_pago) {
 		this.BuscarPagoDoomi(id_pago).then(info => {
 			this.Total_pedidos = false;
 			this.Pagados = this.Pagar_doomi = true;
 			this.cargarpagos_D_Listo(info[0]);
 		});
 	}

},


methods:{
	precio,
	cargageneral(){
		this.cargarpagos_C();
		this.cargarpagos_T();
		this.cargarpagos_R();
		this.cargarpagos_D();
	},
	cargarpagos_T(){
		this.$api
          .get('/aliados/totales/'+this.$store.getters['doomi/id'])
          .then(r => {
            //console.log(r)
            this.tot_p= r.data.t1;
			this.tot_f= r.data.t2;
			//this.tot_d= r.data.t3;
			//this.tot_dbs= r.data.t3b;
            //this.pedidos_delivery = r.data;
          }).catch(err => {
            console.log(err);
          })
	},
	cargarpagos_D(){
		var filtros = {};
		if(this.filtroDesde)
			filtros.desde = this.filtroDesde;

		if(this.filtroHasta){
			filtros.hasta = this.filtroHasta;
		}
		this.visto_pdo = false;
		this.visto_pdo2 = false;
		this.tot_d= 0;
		this.tot_dbs= 0;
		this.$api
          .get('/aliados/pagos_pendientes/doomialiado/'+this.$store.getters['doomi/id'],{params: filtros})
          .then(r => {
            //console.log(r)
            this.pedidos_doomi = r.data;
            for (var i = 0; i < this.pedidos_doomi.length; i++) {
            	this.tot_d = this.tot_d + this.pedidos_doomi[i].tot+(this.pedidos_doomi[i].tot_acom||0)+(this.pedidos_doomi[i].tot_adi||0)
            	this.tot_dbs = this.tot_d * this.pedidos_doomi[i].pre_tasa;
            }
            this.visto_pdo = true;
          }).catch(err => {
            console.log(err);
          })

        this.$api
          .get('/aliados/pagos_realizados/doomialiado/'+this.$store.getters['doomi/id'],{params: filtros})
          .then(r => {
            this.pedidos_doomi_completo = r.data;
            this.visto_pdo2 = true;
          }).catch(err => {
            console.log(err);
          })
	},
	cargarpagos_D_Listo(info){
		var filtros = {};
		this.tot_p = info.pago_del;
		this.tot_pb = info.tasa;
		this.cuenta_pagada = info.pago_datos_doomi;
		this.referencia_pagada = info.referencia;
		filtros.idpago = info.id;
		this.$api
          .get('/aliados/ver_pago_realizado/doomialiado/'+this.$store.getters['doomi/id'],{params: filtros})
          .then(r => {
            this.pedidos_pagados = r.data;
            this.Doomi = true;
          }).catch(err => {
            console.log(err);
          })

	},
	cargarpagos_R(){
		var filtros = {};
		if(this.filtroDesde)
			filtros.desde = this.filtroDesde;

		if(this.filtroHasta){
			filtros.hasta = this.filtroHasta;
		}
		this.visto_pd = false;
		this.$api
          .get('/aliados/pagos_pendientes/repartidor/'+this.$store.getters['doomi/id'],{params: filtros})
          .then(r => {
          	//this.pedidos_delivery = r.data;
            this.pedidos_pendientes = r.data.filter((e)=>{ return e.delivery_pagado!=3 && e.delivery_pagado!=1;});
            this.pedidos_pendientes.sort(function (a, b) {
			  if (a.creado < b.creado && a.delivery_pagado==0 && b.delivery_pagado==0) {
			    return 1;
			  }
			  if (a.creado > b.creado && a.delivery_pagado==0 && b.delivery_pagado==0) {
			    return -1;
			  }
			  if (a.fecha_pago_del < b.creado && a.delivery_pagado!=0 && b.delivery_pagado==0) {
			    return 1;
			  }
			  if (a.fecha_pago_del > b.creado && a.delivery_pagado!=0 && b.delivery_pagado==0) {
			    return -1;
			  }
			  if (a.fecha_pago_del < b.fecha_pago_del && a.delivery_pagado!=0 && b.delivery_pagado!=0) {
			    return 1;
			  }
			  if (a.fecha_pago_del > b.fecha_pago_del && a.delivery_pagado!=0 && b.delivery_pagado!=0) {
			    return -1;
			  }
			  return 0;
			});
            this.pedidos_recibidos = r.data.filter((e)=>{ return e.delivery_pagado==3 || e.delivery_pagado==1;});
            this.pedidos_recibidos.sort(function (a, b) {
			  if (a.fecha_pago_del < b.fecha_pago_del) {
			    return 1;
			  }
			  if (a.fecha_pago_del > b.fecha_pago_del) {
			    return -1;
			  }
			  return 0;
			});
            //this.calcularpendiente();
            this.visto_pd = true;
          }).catch(err => {
            console.log(err);
          })


	},
	cargarpagos_C(){
		this.$api
          .get('/cuentas/',{params: {tipo_usu:'administrador'}})
          .then(r => {
            //console.log(r)
            this.Cuentas = r.data;
          }).catch(err => {
            console.log(err);
          })
	},
	modalpagor(r){
		//console.log(r);
		this.id_pedido_pr = r.id;
		this.Referencia_nueva = '';
		this.monto_r = r.pago_del;
		this.total_r = r.pago_del*r.tasa;

		if(r.delivery_pagado!=1 && r.delivery_pagado!=3){
			this.accion_rep = true;
			this.btn_pagar_r = true;
			if(r.repartidor.metodos_pagos)
				this.btn_pagar_r = false;
			this.datos_diferentes = false;
			if(r.delivery_pagado==2){
				this.tit_modal_re = true;
				this.disputa = true;
				this.Referencia = r.ref_pago_del;
				this.Motivo = r.pago_motivo;
				this.Datos_repartidor = r.pago_datos;
				var datos_rep = r.repartidor.metodos_pagos || 'El repartidor no tiene datos de pago configurado, éste es el numero de contacto del reparitor ('+r.repartidor.telefono+')';
				if(this.Datos_repartidor!=datos_rep){
					this.datos_diferentes = true;
					this.Datos_repartidor2 = datos_rep;
				}
			}
			else{
				this.Datos_repartidor = r.repartidor.metodos_pagos || 'El repartidor no tiene datos de pago configurado, éste es el numero de contacto del reparitor ('+r.repartidor.telefono+')';
				this.Referencia = '';
				this.Motivo = '';
				this.disputa = false;
				this.tit_modal_re = false;
			}
		}else{
			this.disputa = false;
			this.tit_modal_re = false;
			this.btn_pagar_r = true;
			this.Referencia = r.ref_pago_del;
			this.Datos_repartidor = r.pago_datos;
			this.accion_rep = false;
		}
		this.Repartidor = true;
	},
	PagarRepartidor(){
		var mon_d = this.precio(this.monto_r);
		var mon_b = this.precio(this.total_r);
		let formData = {
	        pedido : this.id_pedido_pr,
	        referencia : this.Referencia,
	        datos_pago : this.Datos_repartidor,
	        monto: mon_d+'$ / '+mon_b+' bs'
	    }
	    if(this.datos_diferentes)
	    	formData.datos_pago = this.Datos_repartidor2;
	    if(this.disputa)
	    	formData.referencia = this.Referencia_nueva;
	    this.btn_pagar_r = true;
	    this.$api.post('/aliados/pago_repartidor', formData)
            .then(r => {
              if(r.data.r){
                swal.fire('Genial!!',r.data.msj||r.data.msg,'success');
                this.cargarpagos_R();
                this.Repartidor = false;
              }else
                swal.fire('Oops...',r.data.msj||r.data.msg,'error');
              this.btn_pagar_r = false;
            })
            .catch(err => {
              swal.fire('Oops...',err.msj||err.msg,'error');
              this.btn_pagar_r = false;
            });
	},
	imprimircuenta(){
		//console.log(this.Cuenta);
		this.Datos_Cuenta = this.Cuenta.detalles;
	},
	verpagodoomi(){
		if(this.tot_d>0){
			this.Cuenta = '';
			this.Referencia_d = '';
			this.Datos_Cuenta = '';
			this.Pagar_a_Doomi = true;
		}
	},
	PagarDoomi(){
		var mon_d = this.tot_d;
		var mon_b = this.tot_dbs;
		var mon_d_2 = this.precio(this.tot_d);
		var mon_b_2 = this.precio(this.tot_dbs);

		let formData = {
	        pedidos : this.pedidos_doomi,
	        referencia : this.Referencia_d,
	        datos_pago : this.Datos_Cuenta,
	        valor: mon_d,
	        tasa: mon_b,
	        cuenta: this.Cuenta.id,
	        id_res: this.$store.getters['doomi/id'],
	        nom_res: this.$store.getters['doomi/datos'].nombre,
	        monto: mon_d_2+'$ / '+mon_b_2+' bs'
	    }
	    this.btn_pagar_d = true;
	    this.$api.post('/aliados/pago_doomi', formData)
            .then(r => {
              if(r.data.r){
                swal.fire('Genial!!',r.data.msj||r.data.msg,'success');
                this.cargarpagos_T();
				this.cargarpagos_D();
                this.Pagar_a_Doomi = false;
              }else
                swal.fire('Oops...',r.data.msj||r.data.msg,'error');
              this.btn_pagar_d = false;
            })
            .catch(err => {
              swal.fire('Oops...',err.msj||err.msg,'error');
              this.btn_pagar_d = false;
            });
	},
	BuscarPago(id){
		var filtros = {};
		this.$api
          .get('/aliados/buscar_pago/repartidor/'+id)
		  .then(r => {
		  	//console.log(r);
		  	if(r.data[0])
		  		this.modalpagor(r.data[0]);
          }).catch(err => {
            console.log(err);
          })
	},
	BuscarPagoDoomi(id_pago) {
		return new Promise((resolve, reject) => {
			this.$api
				.get(`/aliados/pagos_realizados/doomialiado/${this.$store.getters['doomi/id']}?id_pago=`+id_pago)
				.then(res => { resolve(res.data) })
				.catch(err => {
					this.$q.notify('Error al buscar el pago');
				});
		});
	},
	verificarexonerado(tot){
		if(tot==0)
			return true;
		else
			return false;
	},
 	atras(){
		this.$router.back();
	},
	queDiaEs(fecha){
	    /* Nombre del dia en la fecha dada */
	    return this.dias[new Date(fecha).getDay()];
	},

	extraerHora(date){
		return moment(date).format('hh:mm A')
	},
	extraerFecha(date){
	    return moment(date).format('DD-MM-YYYY')
	},
	filtrarDiasSeleccionablesDesde(date){
		date = new Date(date);

		if(this.filtroHasta && new Date(this.filtroHasta) < date)
			return false

		return true;
	},

	filtrarDiasSeleccionablesHasta(date){
		date = new Date(date);
		var fec_act = moment().format('YYYY-MM-DD');
		var date2 = new Date(fec_act+' 00:00:00');
		if(this.filtroDesde && new Date(this.filtroDesde) > date)
			return false
		if(date > date2)
			return false

		return true;
	},

	updateProxy () {
		this.proxyDate = this.date
	},

	save () {
		this.cargarpagos_D();
		this.cargarpagos_R();
		this.date = this.proxyDate
	},
},




computed: {
	desde(){
		// Orden DD/MM/AA
		if(!this.filtroDesde)
			return
		const fechas = this.filtroDesde.split('/');
		fechas.reverse();
		return fechas.join('/');
	},
	hasta(){
		// Orden DD/MM/AA
		if(!this.filtroHasta)
			return
		const fechas = this.filtroHasta.split('/');
		fechas.reverse();
		return fechas.join('/');
	},

},

}; </script>
