<template>
	<div class="blue cont_home fuente">
		<div class="row">
			<div class="col-12 pr-3 pl-3">
				<q-select
					use-input
					v-model="text"
					hide-selected
					fill-input
					borderless
					input-debounce="0"
					:options="options"
					@filter="filterFn"
					hide-dropdown-icon
					option-value="id"
					option-label="nombre"
					class="input input-search mt-2 rounded "
					style="width: 100%;"
					@input="buscardomi"
					:loading="loading"
					behavior="menu"
					 placeholder="Buscar doomialiado"
				>
					<template v-slot:selected>
					  {{ all_domi.nombre }}
					</template>
					<template v-slot:prepend>
					  <q-icon name="search" />
					</template>
					<template v-slot:no-option>
					  <q-item>
						<q-item-section class="text-grey">
						  Sin resultados
						</q-item-section>
					  </q-item>
					</template>
				</q-select>
			</div>

			<q-scroll-area horizontal style="height:50px;" :visible="true" class=" bg_blue w-100 font-md no-capitalize rounded-borders q-mb-sm q-mt-sm">
				<div class="w-100">
                 <filter-tags :tags="categorias" />
				</div>

			</q-scroll-area>

		</div>

		<div  class="flex flex-center">
			<h6 class="w-100 text-center titulo-header q-mb-md " style="margin-top:0px;margin-bottom:10px;color:white;"   >{{this.txt_tit}}</h6>
		</div>

		<div style="max-width: 100%;" v-if="ver_abiertos" >
			<div class="row q-ml-lg q-mr-lg " v-if="domi && domi.length > 0">
				<div class="col-4 col-sm-3 text-center"
					v-for="doomi in domi"
					:key="doomi.id"
					@click=" verMas(doomi)">

					<img :src="doomi.img || 'statics/images/logo.png'" style="background-color: #FFF" class=" shadow-1 img-xs rounded-1" alt="">
					<p class="text-center capitalize m-0 nombre-doomi" ><b>{{ doomi.nombre }}</b></p>

					<div class="">
						<p class="text-center capitalize m-0 elipses nombre-cat" ><span >{{ doomi.nombre_cat }}</span></p>
					</div>

					<p class="text-center clr_white m-0" ></p>
				</div>
			</div>

			<div v-else class=" col-12 rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<center><b><i>No hay doomialiados que mostrar</i></b></center>
			</div>
		</div>

		<div class="row q-pl-md q-pr-md q-ml-md q-mr-md " v-if="ver_abiertos && ver_cerrados">
			<div class="col-12 bg_cont text-center q-mb-md q-pt-sm q-pb-sm clr_light_pink" style="border-radius: .5rem;">
				<p class="m-0"> Negocios cerrados/no disponibles.</p>
			</div>
		</div>

		<div v-if="ver_cerrados">
			<div class="row q-ml-lg q-mr-lg " v-if="domi_ce && domi_ce.length > 0">
				<div class="col-4 text-center no-disponible"
					v-for="doomi in domi_ce"
					:key="doomi.id"
					@click=" verMas(doomi)">

					<img :src="doomi.img || 'statics/images/logo.png'" style="background-color: #FFF" class=" shadow-1 img-xs rounded-1" alt="">
					<p class="text-center text-grey capitalize m-0 nombre-doomi " style="text-transform: uppercase;"> <b> {{ doomi.nombre }} </b>  </p>
					<div class="">
						<p class="text-center m-0 elipses nombre-cat" ><span style="text-transform: uppercase;">{{ doomi.nombre_cat }}</span></p>
					</div>
					<p class="text-center clr_white m-0" ></p>
				</div>
			</div>

			<div v-else style="height:40px:width:100%" class=" col-12 rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<center><b><i>No hay doomialiados que mostrar</i></b></center>
			</div>
		</div>
						<!-- <div class="">
						<div class=" fixed_footer w-100 flex content-around item-center text-center ">

							<q-btn push class="rounded cl_standar"  round icon="home" />

							<q-btn push class="rounded cl_standar"    round icon="map" />

							<q-btn push class="rounded cl_standar"    round icon="favorite" />

							<q-btn push class="rounded cl_standar "   round icon="notifications" />

					   </div>
						</div> -->

		<!-- boton doomi flotante -->


				<div class="btn-doomi " v-if="ver_casco" @click="verPendientes()">
					<div class="badge-doomi">
						{{this.cantidad_casco}}
					</div>
				  <q-img src="statics/images/logo-icon.png" width="40px" height="40px" ></q-img>
				</div>


		<!-- fin boton doomi flotante -->

	</div>
</template>

<script>
	import { mapGetters } from 'vuex'
	import FilterTags from 'components/FilterTags'
	import Vue from 'vue';
	import {Quasar,QSelect} from 'quasar';

	export default {
	name: 'Home',

	components: {
		FilterTags,
		QSelect,
	},


	data() {
		return {
			estatus_contados_en_casco: [3, 5, 6, 7, 8, 10, 12, 97],
			ver_casco: false,
			cantidad_casco: 0,
			lat_user: 0,
			lon_user: 0,
			fav1: 0,
			fav2: 0,
			fav3: 0,
			fav4: 0,
			ver_abiertos: false,
			ver_cerrados: false,
			estado: true,
			Comidas: null,
			Licores: null,
			Postres: null,
			Otras: null,
			text: null,
			all_domi: [],
			options: this.all_domi,
			loading: false,
			domi: [],
			domi_ce: [],
			iden: 0,
			txt_tit: ''
		};
	},
	async created () {

		this.pedidos(),
		/******AL DAR CLICK PARA ATRAS QUEDE EN LA MISMA VENTANA********/
		/*if(rutaactual=='/Home/' || rutaactual=='/Home'){
			history.pushState(null, null, location.href);
	        history.back();
	        history.forward();
	        window.onpopstate = function () { history.go(1); };
        }
        /******FIN AL DAR CLICK PARA ATRAS QUEDE EN LA MISMA VENTANA********/

		//this.$q.loading.show();
		await this.$api.general.geo().then(ubicacionActual => {
			this.lat_user = ubicacionActual.lat;
			this.lon_user = ubicacionActual.lon;
			this.cargarRestaurantes();
			//this.$q.loading.hide();
		})
		.catch(err => {
			console.log(err);
			//this.$q.loading.hide();
			this.ver_cerrados = true; this.ver_abiertos = true;
			//location.reload();
		});
		if(this.$auth.obtenerTipoUsuario() == 'cliente'){
			this.$api.general.recuperarData('/pedidos/conteo_pedidos_por_tab')
				.then(data => {
					let cantidad = 0;
					for (let count of data) {
						if (this.estatus_contados_en_casco.includes(parseInt(count.id_estatus,10))) {
							cantidad += +count.count;
						}
					}
					this.cantidad_casco = cantidad;
					this.ver_casco = cantidad;
				})
			// await this.$api.general.recuperarData('/pedidos/').then(data => {
			// 	// var all_ped = data.filter(o => o.id_estatus != 11 && o.id_estatus != 98 && o.id_estatus != 99);
			// 	var all_ped = data.filter(o => [3, 6, 7, 8, 10, 11, 97].includes(parseInt(o.id_estatus, 10)));
			// 	if(all_ped.length>0){
			// 		this.cantidad_casco = all_ped.length;
			// 		this.ver_casco = true;
			// 	}
			// });
		}

		//const data_user = this.$api.cliente.obtenerDatos();
	},
	methods: {

		pedidos(){
			this.$router.push({path:'/Pedidos'})
		},


		async cargarRestaurantes(){
			if(this.$route.params.id)
				this.iden = this.$route.params.id;
			//console.log(this.iden);
			await this.$store.dispatch('actualizarTodo');


			//var cordenadas = await this.$api.general.geo();
			//console.log(cordenadas);
			this.$api.general.recuperarDataConData('restaurantes/app', {lat:this.lat_user, lon: this.lon_user})
				.then(r => {
					//VER TODOS
					if(this.iden=='-1'){
						this.$router.push({ path:'/Vertodos' });
					}else if(this.iden=='-2'){
						this.txt_tit = 'ABIERTOS';
						this.ver_cerrados = false; this.ver_abiertos = true;
						this.domi =  r.filter((e)=>{
							return e.laborando;
						});
					}else if(this.iden=='-3'){
						this.txt_tit = 'CERRADOS';
						this.ver_cerrados = true; this.ver_abiertos = false;
						this.domi_ce =  r.filter((e)=>{
							return !e.laborando;
						});
					}else if(this.iden!='0' && this.iden!='-1'){
						this.ver_cerrados = true; this.ver_abiertos = true;
						this.$api.general.recuperarDataPorId('categorias/', this.iden)
							.then(d => this.txt_tit = d.nombre)
							.catch(err => console.log(err));

						this.domi =  r.filter((e)=>{
							return e.laborando && e.id_categoria==this.iden;
						});

						this.domi_ce =  r.filter((e)=>{
							return !e.laborando && e.id_categoria==this.iden;
						});
					}else{

						this.txt_tit = '';
						this.ver_cerrados = true; this.ver_abiertos = true;
						this.domi =  r.filter((e)=>{
							return e.laborando;
						});

						this.domi_ce =  r.filter((e)=>{
							return !e.laborando;
						});
					}
					this.all_domi = r;
					//console.log(this.domi);
					//this.$q.loading.hide();
				})
				.catch(err => {
					//this.$q.loading.hide();
					console.log(err);
				});
		},
		Agregar(){
			this.$q.notify({
				message: 'Agregado a mis favoritos',
				color: 'purple',
				textColor: 'white',
				icon: 'done_all',
				color: 'cyan-4',
			})
		},
		Eliminar(){
			this.$q.notify({
				message: 'Eliminado de mis favoritos',
				color: 'green-4',
				textColor: 'white',
				icon: 'done_all',
				color: 'cyan-4',
			})
		},
		Estado(){
			this.estado = !this.estado
		},
		verMas(doomi){
			this.$router.push({ path:'/Menudoomialiadohome/'+doomi.id, params: {id:doomi.id} })
		},
		Vertodo(){
			this.$router.push({ path:'/Vertodos' })
		},
		verPendientes(){
			this.$router.push({ path:'/Misordenes/_' })
		},
		buscardomi(){
			this.loading=true;
			this.$router.push({ path:'/Menudoomialiadohome/'+this.text.id, params: {id:this.text.id} })
		},
		filterFn (val, update, abort) {
			if (val.length < 3) {
				abort()
				return
			}

			update(() => {
				const needle = val.toLowerCase()
				this.options = this.all_domi.filter(v => v.nombre.toLowerCase().indexOf(needle) > -1)
			})
		},

	},


	computed: {
		...mapGetters({
			categorias: 'doomis/categorias',
			//doomialiados: 'doomis/doomialiadosAbiertosCercanos',
			//doomialiados_cerrados: 'doomis/doomialiadosCerradosCercanos',
		}),
	},


	};
</script>
