<template>
  <div class="bg_gray q-pb-md">

    <div class="row text-center q-mb-md q-mt-lg flex content-between item-center ">
      <div class="col-2">
        <q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px"></q-img>
        <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" /> -->
      </div>
      <div class="col-8">
        <p class="mb-0 titulo-header ">Horarios</p>
      </div>
      <div class="col-2">
      </div>
    </div>


    <div class="q-ml-md q-mt-lg q-mr-md bg-white border-gray card_shadow_bottom soft-border ">
      <div class="row q-mt-sm q-mb-sm flex item-center ">
        <div class="col-12 q-mt-sm  q-mb-sm flex flex-center">
           <div class="col-12 q-mt-sm flex item-center content-between ">

          <div class="border flex border-pink rounded item-center fit-content q-pl-xs q-pr-xs ">
            <p @click="clickDia(dia), D_seleccionado = dia.Dia" :style=" dia.Dia == D_seleccionado ? 'width:40px;height:40px;' : '' "  v-for="dia in dias" :key="dia.Dia" :class="dia.Activo ? 'dot-blue' : 'dot-gray' " class="q-pa-sm q-ma-xs font-lg " >{{dia.Dia}}</p>
          </div>
        </div>
          <!-- <q-btn @click="calendario = true" icon-right="add" label="Días de la semana"
            class="cl_standar rounded q-pt-xs q-pb-xs q-pl-xs q-pr-xs  mayuscula " content-class="" size="sm"></q-btn> -->
        </div>
      </div>
      <q-separator color="black" class="clr_dark_gray" />

      <div class="row q-mt-sm q-mb-sm flex item-center ">
        <div class="col-4">
          <p class="mb-0 q-ml-sm font-xl bold ">Horario 1</p>
        </div>
        <div class="col-5">
          <div class="q-mt-sm">
            <p class="mb-0 q-ml-sm font-xl ">Hora inicio</p>
            <q-input class="input_txt q-pl-sm " borderless type="time" v-model="hor1_hora_inicio"
              :disabled="desactivarCampos" :readonly="desactivarCampos"></q-input>
          </div>
          <div class="q-mt-sm">
            <p class="mb-0 q-ml-sm font-xl ">Hora fin</p>
            <q-input class="input_txt q-pl-sm " borderless type="time" v-model="hor1_hora_fin"
              :disabled="desactivarCampos" :readonly="desactivarCampos"></q-input>
          </div>
        </div>
        <div class="col-3 flex flex-center">
          <q-checkbox v-model="hor1_estatus" :disabled="desactivarCampos" :readonly="desactivarCampos" />
        </div>
      </div>
      <q-separator color="black" class="clr_dark_gray" />

      <div class="row q-mt-sm q-mb-sm flex item-center ">
        <div class="col-4">
          <p class="mb-0 q-ml-sm font-xl bold ">Horario 2</p>
        </div>
        <div class="col-5">
          <div class="q-mt-sm">
            <p class="mb-0 q-ml-sm font-xl ">Hora inicio</p>
            <q-input class="input_txt q-pl-sm " borderless type="time" v-model="hor2_hora_inicio"
              :disabled="desactivarCampos"></q-input>
          </div>
          <div class="q-mt-sm">
            <p class="mb-0 q-ml-sm font-xl ">Hora fin</p>
            <q-input class="input_txt q-pl-sm " borderless type="time" v-model="hor2_hora_fin"
              :disabled="desactivarCampos"></q-input>
          </div>
        </div>
        <div class="col-3 flex flex-center">
          <q-checkbox v-model="hor2_estatus" :disabled="desactivarCampos" :readonly="desactivarCampos" />
        </div>
      </div>
      <q-separator color="black" class="clr_dark_gray" />

      <div class="row q-mt-sm q-mb-sm flex item-center ">
        <div class="col-4">
          <p class="mb-0 q-ml-sm font-xl bold ">Horario 3</p>
        </div>
        <div class="col-5">
          <div class="q-mt-sm">
            <p class="mb-0 q-ml-sm font-xl ">Hora inicio</p>
            <q-input class="input_txt q-pl-sm  " borderless type="time" v-model="hor3_hora_inicio"
              :disabled="desactivarCampos"></q-input>
          </div>
          <div class="q-mt-sm">
            <p class="mb-0 q-ml-sm font-xl ">Hora fin</p>
            <q-input class="input_txt q-pl-sm " borderless type="time" v-model="hor3_hora_fin"
              :disabled="desactivarCampos"></q-input>
          </div>
        </div>
        <div class="col-3 flex flex-center">
          <q-checkbox v-model="hor3_estatus" :disabled="desactivarCampos" :readonly="desactivarCampos" />
        </div>
      </div>
      <q-separator color="" class="clr_dark_gray" />

      <div class="row q-mt-sm q-mb-sm flex item-center ">
        <div class="col-12 text-center">
          <q-btn label="Guardar" @click="clickGuardar" :disabled="desactivarBoton || desactivarCampos"
            class="cl_standar rounded q-pl-sm q-pr-sm"></q-btn>
        </div>
      </div>
    </div>


    <!-- <div v-for="(hor, index) in horario_cards" @click="clickCard(hor)" class="q-pa-lg">
      <div class="row q-mt-sm q-mb-sm flex item-center q-pa-sm bg-white border-gray card_shadow_bottom soft-border ">
        <div class="col-12">
          <p class="mb-0 q-ml-sm font-xl bold text-center w-100  ">Horario #{{ index + 1 }}</p>
        </div>
        <div class="col-12">
          <q-separator color="" class="clr_dark_gray" />
        </div>

        <div class="col-12 q-mt-sm flex item-center content-between ">
          <p class="mb-0 q-ml-sm font-md bold  q-mr-sm ">Días de atención:</p>
          <div class="border flex border-pink rounded fit-content q-pl-xs q-pr-xs ">
           
            <p v-if="hor.Lunes" class="q-pa-sm q-ma-xs font-lg dot-blue ">L</p>
            <p v-if="hor.Martes" class="q-pa-sm q-ma-xs font-lg dot-blue ">M</p>
            <p v-if="hor.Miercoles" class="q-pa-sm q-ma-xs font-lg dot-blue ">Mi</p>
            <p v-if="hor.Jueves" class="q-pa-sm q-ma-xs font-lg dot-blue ">J</p>
            <p v-if="hor.Viernes" class="q-pa-sm q-ma-xs font-lg dot-blue ">V</p>
            <p v-if="hor.Sabado" class="q-pa-sm q-ma-xs font-lg dot-blue ">S</p>
            <p v-if="hor.Domingo" class="q-pa-sm q-ma-xs font-lg dot-blue ">D</p>
          </div>
        </div>

        <div class="col-12 q-mt-sm flex item-center content-between ">
          <p class="mb-0 q-ml-sm font-md bold  q-mr-sm ">Turnos activos:</p>
          <div class="border flex border-pink rounded fit-content q-pl-xs q-pr-xs ">
            <p v-if="hor.estatus_hor1==1" class="q-pa-sm q-ma-xs font-lg dot-turnos ">Turno 1</p>
            <p v-if="hor.estatus_hor2==1" class="q-pa-sm q-ma-xs font-lg dot-turnos ">Turno 2</p>
            <p v-if="hor.estatus_hor3==1" class="q-pa-sm q-ma-xs font-lg dot-turnos ">Turno 3</p>
          </div>
        </div>
       
      </div>
    </div> -->


    <!-- <q-dialog full-width v-model="calendario">
      <q-card class="rounded-3">
        <q-card-section class="q-pt-none q-pl-none q-pr-none q-pa-none text-center row ">
          <div class="col-12 flex flex-center q-pt-lg ">
            <p class="bold font-xl q-mb-xs ">¿Qué días atiende?</p>
          </div>
          <div v-for="(dia, index) in dias" :key="dia" class="col-12 flex q-pl-lg  ">
          
            <q-checkbox v-model="dias_check[index]" :label="dia"></q-checkbox>
          </div>
          <div class="col-12 flex flex-center q-pt-md q-pb-md ">
            <q-btn icon-right="done" label="aceptar" @click="calendario=false"
              class="cl_standar rounded q-pt-xs q-pb-xs q-pl-xs q-pr-xs  mayuscula " content-class="" size="sm"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog> -->


  </div>
</template>

<script>
export default {

data() {
  return {
    calendario:false,
    dias_s:false,
    dia: '',
    dias: [ 
      { Dia: 'L' , Activo: false, Nombre:'Lunes' } , 
      { Dia: 'M' , Activo: false, Nombre:'Martes' } ,
      { Dia: 'Mi' , Activo: false, Nombre:'Miercoles' } , 
      { Dia: 'J' , Activo: false, Nombre:'Jueves' } , 
      { Dia: 'V' , Activo: false, Nombre:'Viernes' } ,
      { Dia: 'S' , Activo: false, Nombre:'Sabado' } ,
      { Dia: 'D' , Activo: false, Nombre:'Domingo' }
    ],
    seleccionado: null,
    D_seleccionado: null,
    dias_compare: ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo'],
    dias_2: ['L', 'M', 'Mi', 'J', 'V', 'S', 'D'],
    nosotros: false,
    sesion:false,
    default_foto: 'statics/images/logo.png',
    desactivarBoton: false,

    hor1_hora_inicio: null,
    hor1_hora_fin: null,
    hor1_estatus: false,

    hor2_hora_inicio: null,
    hor2_hora_fin: null,
    hor2_estatus: false,

    hor3_hora_inicio: null,
    hor3_hora_fin: null,
    hor3_estatus: false,

    horarios: [],

    dias_check: {
      0: false, //Lunes
      1: false, //Martes
      2: false,
      3: false,
      4: false,
      5: false,
      6: false, //Domingo
    },

  };
},


mounted() {
  this.cargarHorarios();
},


computed: {
  desactivarCampos() {
    return false;
    // return !this.dia;
  },


  horario_cards() {
    const horario_cards = [];

    const dias = {
      // Lunes: {1:{}, 2:{}, 3:{}},
    };

    // Ordenar horarios por dia.
    for (let hor of this.horarios) {
      if (!dias[hor.dia])
        dias[hor.dia] = {nombre:hor.dia};

      if (!dias[hor.dia][hor.horario])
        dias[hor.dia][hor.horario] = {};

      dias[hor.dia][hor.horario].inicio_hor = hor.inicio_hor;
      dias[hor.dia][hor.horario].fin_hor = hor.fin_hor;
      dias[hor.dia][hor.horario].estatus = hor.estatus;
    }


    let nueva;
    for (let dia of Object.values(dias)) {
      nueva = true;

      // Saltar dia si no tiene turnos.
      if (!dia[1]?.estatus && !dia[2]?.estatus && !dia[3]?.estatus) {
        continue;
      }

      // Si existe una tarjeta para el mismo horario.
      let card = horario_cards.find(c => {
        return c?.inicio_hor1==dia[1]?.inicio_hor && c?.inicio_hor2==dia[2]?.inicio_hor && c?.inicio_hor3==dia[3]?.inicio_hor &&
                c?.fin_hor1==dia[1]?.fin_hor && c?.fin_hor2==dia[2]?.fin_hor && c?.fin_hor3==dia[3]?.fin_hor &&
                c?.estatus_hor1==dia[1]?.estatus && c?.estatus_hor2==dia[2]?.estatus && c?.estatus_hor3==dia[3]?.estatus;
      });

      // Si existe, activar este dia.
      if (card) {
        card[dia.nombre] = true;
      }
      else {
        // Crear nueva tarjeta para este horario.
        horario_cards.push({
          [dia.nombre]: true,
          inicio_hor1: dia[1]?.inicio_hor,
          inicio_hor2: dia[2]?.inicio_hor,
          inicio_hor3: dia[3]?.inicio_hor,
          fin_hor1: dia[1]?.fin_hor,
          fin_hor2: dia[2]?.fin_hor,
          fin_hor3: dia[3]?.fin_hor,
          estatus_hor1: dia[1]?.estatus,
          estatus_hor2: dia[2]?.estatus,
          estatus_hor3: dia[3]?.estatus,
        });
      }

    }


    return horario_cards;
  },


},


watch: {
  seleccionado(val) {
    if (val)
      this.cargarHorariosPorDia(val);
    else
      this.resetCampos();
  },
},


methods:{
  clickDia(dia) {
    this.seleccionado = dia.Nombre;
    console.log(dia.Dia)
  },

  cargarHorarios() {
    return new Promise((resolve, reject) => {
      this.$api
        .get('/horarios/' + this.$store.getters['doomi/id'])
        .then(res => {
          resolve(res);
          res.data.sort((a,b) => a.dia.localeCompare(b.dia));
          this.horarios = res.data;

          this.dias.forEach(d => d.Activo=false);

          for (let hor of this.horarios) {
            if (hor.estatus == 1) {
              const dia = this.dias.find(d => d.Nombre==hor.dia);
              if (dia) {
                dia.Activo = true;
              }
            }
          }
        })
        .catch(err => {
          reject(err);
          this.desactivarBoton = false;
        });
    });
  },
  salir(){
    this.$store.dispatch('auth/salir')
      .then(() => this.$router.push('/login'))
  },

  Bancario(){
    this.$router.push({ path:'/Datosbancarios' });
  },

  Favoritos(){
    this.$router.push({ path:'/Favoritos' });
  },

  Cambiar(){
    this.$router.push({ path:'/Cambiar' });
  },

  clickGuardar() {
    const formData = this.crearFormData();
    formData.set('iden', this.$store.getters['doomi/id']);

    // Algun dia seleccionado.
    if (!this.seleccionado) {
      return this.$q.notify('Debe seleccionar un día');
    }
    // if (Object.values(this.dias_check).filter(Boolean).length==0) {
    //   return this.$q.notify('Debe seleccionar un día');
    // }


    // Obtener dias seleccionados.
    const dias = Object.entries(this.dias_check).filter(d => d[1]);
    const n_dia = this.dias_compare.indexOf(this.seleccionado);


    for (let n_hor = 1; n_hor < 4; n_hor++) {
      formData.set(`hora_ini_${n_hor}[${n_dia}]`, this[`hor${n_hor}_hora_inicio`] || '');
      formData.set(`hora_fin_${n_hor}[${n_dia}]`, this[`hor${n_hor}_hora_fin`] || '');
      if (this[`hor${n_hor}_estatus`]) {
        formData.set(`status_h_${n_hor}[${n_dia}]`, 1);
      }
      else {
        formData.delete(`status_h_${n_hor}[${n_dia}]`);
      }
    }

    /*
    for (let [n_dia,_] of dias) {
      for (let n_hor = 1; n_hor < 4; n_hor++) {
        formData.set(`hora_ini_${n_hor}[${n_dia}]`, this[`hor${n_hor}_hora_inicio`] || '');
        formData.set(`hora_fin_${n_hor}[${n_dia}]`, this[`hor${n_hor}_hora_fin`] || '');
        if (this[`hor${n_hor}_estatus`]) {
          formData.set(`status_h_${n_hor}[${n_dia}]`, 1);
        }
        else {
          formData.delete(`status_h_${n_hor}[${n_dia}]`);
        }
      }
    }
    */
    this.desactivarBoton = true;
    this.$api
      .post('/horarios/add', formData)
      .then(res => {
        // this.desactivarBoton = false;
        this.cargarHorarios().then(() => {
          this.$q.notify({ message:'Datos actualizados', timeout:1000 });
          this.desactivarBoton=false
        });
      })
      .catch(err => {
        this.desactivarBoton = false;
        if (err?.response?.data?.msj || err?.response?.data?.msg)
          this.$q.notify(err?.response?.data?.msj || err?.response?.data?.msg);
        else
          this.$q.notify('Ocurrió un error');
      });
  },

  crearFormData() {
    const formData = new FormData();

    let hor, n_dia, n_hor;
    for (let i = 0; i < this.horarios.length; i++) {
      hor = this.horarios[i];
      n_dia = this.dias_compare.indexOf(hor.dia);
      if (n_dia < 0)
        continue;
      n_hor = hor.horario;

      formData.set(`hora_ini_${n_hor}[${n_dia}]`, hor.inicio_hor || '');
      formData.set(`hora_fin_${n_hor}[${n_dia}]`, hor.fin_hor || '');
      if (hor.estatus == 1) {
        formData.set(`status_h_${n_hor}[${n_dia}]`, 1);
      }
      else {
        formData.set(`status_h_${n_hor}[${n_dia}]`, '');
      }

    }

    return formData;
  },

  cargarHorariosPorDia(dia) {
    const horarios = this.horarios.filter(h => h.dia.toLowerCase() == dia.toLowerCase());

    this.resetCampos();

    for (let hor of horarios) {
      this[`hor${hor.horario}_hora_inicio`] = hor.inicio_hor;
      this[`hor${hor.horario}_hora_fin`] = hor.fin_hor;
      this[`hor${hor.horario}_estatus`] = hor.estatus==1 ? true : false;
    }
  },

  resetCampos() {
    this.hor1_hora_inicio = null;
    this.hor2_hora_inicio = null;
    this.hor3_hora_inicio = null;

    this.hor1_hora_fin = null;
    this.hor2_hora_fin = null;
    this.hor3_hora_fin = null;

    this.hor1_estatus = false;
    this.hor2_estatus = false;
    this.hor3_estatus = false;

    this.dias_check = {
      0: false, //Lunes
      1: false, //Martes
      2: false,
      3: false,
      4: false,
      5: false,
      6: false, //Domingo
    };

  },

  clickCard(card) {
    this.resetCampos();

    for (let i of [1,2,3]) {
      this[`hor${i}_hora_inicio`] = card['inicio_hor'+i];
      this[`hor${i}_hora_fin`] = card['fin_hor'+i];
      this[`hor${i}_estatus`] = card['estatus_hor'+i] == 1 ? true : false;
    }

    this.dias_check = {
      0: Boolean(card.Lunes),
      1: Boolean(card.Martes),
      2: Boolean(card.Miercoles),
      3: Boolean(card.Jueves),
      4: Boolean(card.Viernes),
      5: Boolean(card.Sabado),
      6: Boolean(card.Domingo),
    };
  },


  atras(){
    this.$router.back();
  },
},



}</script>