<template>
	<div class="">
		<div class="q-mt-md">
			<div class="flex flex-start">
				<q-img width="15px" height="15px" class="q-mt-md q-mr-md" v-close-popup src="statics\Iconos\X.png" ></q-img>
			</div>
			<div  class="flex flex-center">
				<!-- MODAL -->
				<q-dialog v-model="carousel" class="bg_rosa" persistent :maximized="maximizedToggle">
					<q-carousel
						transition-prev="slide-right"
						transition-next="slide-left"
						swipeable
						animated
						v-model="slide"
						control-color="red-13"
						persistent
						navigation
						arrows
						padding
						:maximized="maximizedToggle"
						class="bg_rosa shadow-1 rounded-borders vh100"
						>

						<q-carousel-slide :name="1" class="column no-wrap flex-center p-0">
							<h6 class="text-center q-pl-md q-pr-md texto-pasos">OS he venido a liberar de los pedidos por WhatsApp</h6>
							<div class="q-mt-md text-center">
								<q-img style="position: absolute;right: 5px;top:5px"  width="15px" height="15px" class="q-mt-md q-mr-md" @click="home()" v-close-popup src="statics\Iconos\X.png" ></q-img>
								<img src="statics/images/pasos/paso_1.png" class="img-pasos p-0">
							</div>
						</q-carousel-slide>

						<q-carousel-slide :name="3" class="column no-wrap flex-center p-0">
							<h6 class="text-center q-pl-md q-pr-md texto-pasos">Me llamo Doomi, debería explicarte como funciona la app</h6>
							<div class="q-mt-md text-center">
								<q-img style="position: absolute;right: 5px;top:5px"  width="15px" height="15px" class="q-mt-md q-mr-md"  @click="home()"  v-close-popup src="statics\Iconos\X.png" ></q-img>
								<img src="statics/images/pasos/paso_3.png" class="img-pasos p-0">
							</div>
						</q-carousel-slide>

						<q-carousel-slide :name="2" class="column no-wrap flex-center p-0">
							<h6 class="text-center q-pl-md q-pr-md texto-pasos">Pero primero quiero que aprecies mi belleza</h6>
							<div class="q-mt-md text-center">
								<q-img style="position: absolute;right: 5px;top:5px"  width="15px" height="15px" class="q-mt-md q-mr-md"  @click="home()"  v-close-popup src="statics\Iconos\X.png" ></q-img>
								<img src="statics/images/pasos/paso_2.png" class="img-pasos p-0">
							</div>
						</q-carousel-slide>

						<q-carousel-slide :name="4" class="column no-wrap flex-center p-0">
							<h6 class="text-center q-pl-md q-pr-md texto-pasos">Ok ahora sí, escoges , pides y te llega.</h6>
							<q-btn size="md" class="cl_standar w-50 rounded btn-pasos" v-close-popup to="/Home">Listo</q-btn>

							<div class="q-mt-md text-center">
								<q-img style="position: absolute;right: 5px;top:5px"  width="15px" height="15px" class="q-mt-md q-mr-md"  @click="home()"  v-close-popup src="statics\Iconos\X.png" ></q-img>
								<img src="statics/images/pasos/paso_4.png" class="pt-3 img-pasos p-0">
							</div>
						</q-carousel-slide>
					</q-carousel>
				</q-dialog>
				<!--fin modal pasos -->
			</div>
		</div>

	</div>
</template>

<script>

export default {
	name: 'Bienvenido',

	data() {
		return {
			maximizedToggle: true,
			carousel: true,
			card: false,
			sliders: false,
			slide: 1,
			stars: 3,
			slideVol: 39,
			slideAlarm: 56,
			slideVibration: 63,

			lat_user: 0,
			lon_user: 0,
		};
	},

	methods: {
		home(){
		// this.$router.back();
		//this.$router.push('/Pedidos');
		this.$router.push('/Home');
	},
	},

	async created () {
		//para pedir el permiso
		await this.$api.general.geo().then(ubicacionActual => {
	      	this.lat_user = ubicacionActual.lat;
			this.lon_user = ubicacionActual.lon;
		})
		.catch(err => {
			console.log(err);
		});
	},

};
</script>

