<template>
  <div class="bg-white">

    <div style="z-index:99" class="row text-center q-mb-md q-mt-lg flex content-between item-center ">
      <div class="col-2">
        <q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px"></q-img>
        <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" /> -->
      </div>
      <div class="col-8">
        <p class="mb-0 titulo-header ">Categorías</p>
      </div>
      <div class="col-2">
        <div v-if="card" @click="card = false" class="fixed-top w-100 vh100 ">
        </div>
      </div>
    </div>
    <q-btn icon="add" round
      @click="Categoria=true, card_options=id=nombre=null"
      class="cl_standar rounded fixed-left-bottom  mayuscula"
      content-class=""></q-btn>

    <div class="row q-pr-lg q-pl-lg q-mt-md q-mb-xl">
      <div v-for="cat in categorias" :key="cat.id" class="col-12 row flex item-center btn-border-pink q-pa-md q-mt-md ">
        <div class="col-10  ">
          <p class="font-xl bold w-100 mb-0  ">{{ cat.nombre }}</p>
        </div>
        <div class="col-2 flex flex-center relative ">
          <q-btn flat round @click="card_options=(cat.id==card_options ? null : cat.id)" icon="more_vert" class="text-black"></q-btn>
          <div v-if="card_options==cat.id" class="absolute-card  shadow-3 bg-white row text-black ">
            <div @click="clickEditar(cat)" class="col-12 tag ">
              <p class="bold mb-0 q-pa-sm ">Editar</p>
            </div>
            <div @click="Eliminar=true, id=cat.id, card_options=null" class="col-12 tag">
              <p class="bold mb-0 q-pa-sm ">Eliminar</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Nueva  categoria -->
    <q-dialog v-model="Categoria">
      <q-card class="rounded-3">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none text-center row ">
          <div class="col-12 text-center q-mt-md q-mb-md ">
            <p class="bold font-xl q-mb-xs ">Nombre de categoría</p>
            <q-input class="input_txt q-pl-sm font-xl" borderless v-model="nombre"></q-input>
          </div>
          <div class="col-12 text-center q-mb-md ">
            <q-btn label="Guardar" @click="clickGuardar" :disabled="desactivarBoton" class="mayuscula q-pl-sm q-pr-sm cl_standar rounded"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Eliminar  categoria -->
    <q-dialog v-model="Eliminar">
      <q-card class="rounded-1">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none text-center row ">
          <div class="col-12 text-center q-mt-xl q-mb-lg ">
            <p class="bold font-xl q-mb-xs ">¿Eliminar categoría?</p>
          </div>
          <div class="col-12 text-center q-mt-md q-mb-xl ">
            <q-btn label="Eliminar" @click="clickEliminar()" :disabled="desactivarBoton" class="mayuscula cl_standar rounded"></q-btn>
            <q-btn label="Cancelar" @click="Eliminar=id=false" class="mayuscula cl_standar rounded"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- metodo de efectivo -->
    <!-- Nuevo  Metodo de pago -->
    <q-dialog v-model="Efectivo">
      <q-card class="rounded-1">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none text-center row ">
          <div class="col-12 text-center q-mt-lg  ">
            <p class="bold font-xl q-mb-xs ">Los pedidos en efectivo tendrán 50% de recargo del delivery al cliente</p>
          </div>
          <div class="col-12 text-center q-mt-md ">
            <q-btn label="Agregar" class="mayuscula q-pl-sm q-pr-sm cl_standar rounded"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>


<script>
export default {

data() {
  return {
    desactivarBoton: false,
    card: false,
    card_options: null,
    Efectivo: false,
    Eliminar: false,
    Categoria:false,
    categorias: [],

    id: null,
    nombre: null,
  }
},

mounted() {
  this.cargarCategorias();
},


methods: {

  cargarCategorias() {
    this.$api
      .get('/categorias_menu/?id_res=' + this.$store.getters['doomi/id'])
      .then(res => {
        this.categorias = res.data;
      })
      .catch(console.error)
  },

  clickGuardar() {
    if (!this.nombre)
      return this.$q.notify({message:'Ingresa el nombre', timeout:2000});

    const config = {
      url: '/categorias_menu/add',
      method: 'post',
      data: {
        nombre: this.nombre,
        id_res: this.$store.getters['doomi/id'],
      },
    };

    if (this.id) {
      config.data.iden = this.id;
      config.method = 'put';
      config.url = '/categorias_menu/edit';
    }

    this.desactivarBoton = true;
    this.$api(config)
      .then(res => {
        this.desactivarBoton = false;
        this.Categoria = false;
        this.cargarCategorias();
      })
      .catch(err => {
        console.error(err);
        this.$q.notify({message:'Ocurrió un error', timeout:2000});
        this.desactivarBoton = false;
      })
  },

  clickEliminar() {
    this.desactivarBoton = true;
    this.$api
      .delete('/categorias_menu/delete/'+this.id)
      .then(res => {
        this.desactivarBoton = this.Eliminar = this.id = false;
        const data = res.data;
        if (!data.r)
          return this.$q.notify({message:data.msj, timeout:2000});

        this.cargarCategorias();
      })
      .catch(err => {
        console.error(err);
        this.desactivarBoton = false;
        this.$q.notify({message:'Ocurrió un error', timeout:2000});
      })
  },

  clickEditar(cat) {
    this.id = cat.id;
    this.nombre = cat.nombre;

    this.Categoria = true;
    this.card_options = null;
  },

  atras(){
    this.$router.back();
  },

},


computed: {
  cliente(){ return true },
},

}</script>