<template>
	<div class="">
		<div class="q-mt-md mt-0">
			<div class="flex flex-start">
				<q-btn class="pt-2" flat color="primary" icon="keyboard_arrow_left" label="" to="/" style="position:absolute;" />
			</div>

			<div class="flex flex-right">
				<q-btn class="pt-2" flat color="primary" icon="favorite" label="" to="" style="position:absolute;right: 2px;" />
			</div>
		</div>

		<div class="q-pa-md">
			<div class="row">
				<div class="col-12 text-center">
					<a>
						<q-img src="statics/images/1.jpg" style="width:100%;height:auto;z-index: -1;max-height: 160px;" :ratio="16/11" spinner-color="white" />
					</a>
				</div>
			</div>

			<div class="cont_doomialidado">
				<div class="row">
					<div class="col-12 text-center">
						<q-img src="statics/images/menu-prueba.jpg" class="logo_doomialiado" spinner-color="white"/>
					</div>

					<div class="col-8">
						<h6 class="m-0">Donas express Guanare</h6>
						<small>Postres / Catering</small>
					</div>

					<div class="col-4">
						<b class="text-left m-0 text-b">Horario</b><br>
						<small class="text-left m-0" style="font-size:10px;">7:00am/8:00pm</small>
					</div>

					<div class="col-12 mb-2">
						<q-chip v-model="Tortas" color="primary" text-color="white" style="font-size:10px;">
						Tortas
						</q-chip>
						<q-chip v-model="Combos"  color="gray" text-color="white" style="font-size:10px;">
						Combos
						</q-chip>
						<q-chip v-model="Salados"  color="gray" text-color="white" style="font-size:10px;">
						Salados
						</q-chip>
						<q-chip v-model="Bebidas"  color="gray" text-color="white" style="font-size:10px;">
						Bebidas
						</q-chip>
					</div>

					<q-scroll-area
						horizontal
						style="height: 55px; width:100%;"
						class="degradado rounded-borders q-mb-sm q-mt-sm "
						>

						<div class="row no-wrap ">
							<div @click="Vertodo()" style="width: 600px;height:1px " class="q-pa-sm flex ">
								<q-chip  v-model="Comidas"  color="primary" text-color="white">
								Abierto
								</q-chip>

								<q-chip  v-model="Licores" color="primary" text-color="white">
								Cerrado
								</q-chip>

								<q-chip v-model="Postres"  color="primary" text-color="white">
								Categoria1
								</q-chip>

								<q-chip v-model="Otras"  color="primary" text-color="white">
								categoria2
								</q-chip>

								<q-chip v-model="Otras"  color=primary text-color="white">
								categoria3
								</q-chip>

								<q-chip v-model="Otras" @click="Vermas()" color="primary" text-color="white">
								TODOS
								</q-chip>
							</div>
						</div>
					</q-scroll-area>
					 
					<div class="col-12">
						<p class="m-0" >Modalidad de Trabajo:</p>
					</div>

					<div style="font-size:10px" class="col-12 flex">
						<p class="bg-blue rounded q-pa-sm q-ma-xs text-white " >Delivery</p>
						<p class="bg-blue rounded q-pa-sm q-ma-xs  text-white" >Pick Up</p>
						<a push class="bg-blue rounded q-pa-sm q-ma-xs text-white" @click="alert = true" >Pedidos Programados</a>
					</div>
				</div>

				<q-scroll-area
					:thumb-style="thumbStyle"
					style="height: 50vh; max-width: 100%;"
					>

						<div v-for="n in 1" :key="n" class="q-pa-xs">
							<div class="row">
								<div class="col-12 mb-2" style="background:#f1f1f1; border:1px solid #ddd; border-radius:.5rem;">
									<div class="row">
										<div  class="col-3">
											<img src="statics/images/Donas.jpg" class="img-xxs rounded-1 " alt="">
										</div>

										<div class="col-7">
											<h6 class="m-0">Donas con nutella</h6>
											<p class="m-0" style="font-size:10px;">Descripción acerca del producto</p>
										</div>

										<div class="col-2">
											<h5 class="m-0">$2</h5>
										</div>
										
										<div style="margin-bottom:-30px" class=" q-ml-xl  row text-right">
										   <div class="col-4  q-mt-xs">
											<q-btn color="primary w-100 " size="xs" class="rounded" @click="alert = true" >Adicionales</q-btn>
											<q-btn color="primary w-100 " size="xs" class="q-mt-xs rounded " to="/Carrito" >Agregar</q-btn>
										</div>

										<div class="col-4 q-mt-xs ">
											<q-btn class="glossy rounded" size="xs"  @click="pedido++" color="primary" icon="add" label="" />
										   
											<q-btn class="glossy q-mt-xs rounded" size="xs"  @click="pedido--" color="primary" icon="remove" label="" />
										</div>
										
										<div class="col-4 text-center">
											 <h5 class="q-mt-md" >{{pedido}}</h5>
										</div>
										</div>
									</div>
								</div>
							
								<div class="col-12 mb-2" style="background:#f1f1f1; border:1px solid #ddd; border-radius:.5rem;">
									<div class="row">
										<div style="height:70px" class="col-3">
											<img src="statics/images/piepiña.jpg" class="img-xxs rounded-1 " alt="">
										</div>

										<div class="col-7">
											<h6 class="m-0">Pie de piña</h6>
											<p class="m-0" style="font-size:10px;">Descripción acerca del producto</p>
										</div>

										<div class="col-2">
											<h5 class="m-0">$2</h5>
										</div>

										<div style="margin-bottom:-30px" class=" q-ml-xl  row text-right">
											<div class="col-4  q-mt-xs">
												<q-btn color="primary w-100 " size="xs" class="rounded" @click="alert = true"  >Adicionales</q-btn>
												<q-btn color="primary w-100 " size="xs" class="q-mt-xs rounded " to="/Carrito" >Agregar</q-btn>
											</div>

											<div class="col-4 q-mt-xs ">
												<q-btn class="glossy rounded" size="xs"  @click="pedido++" color="primary" icon="add" label="" />
												<q-btn class="glossy q-mt-xs rounded" size="xs"  @click="pedido--" color="primary" icon="remove" label="" />
											</div>
										
											<div class="col-4 text-center">
												<h5 class="q-mt-md" >{{pedido}}</h5>
											</div>
										</div>
									</div>
								</div>

							<div class="col-12 mb-2 no-disponible" style="background:#f1f1f1; border:1px solid #ddd; border-radius:.5rem;">
								<div class="row">
									<div style="height:70px" class="col-3">
										 <img src="statics/images/quesillo.jpg" class="img-xxs rounded-1 " alt="">
									</div>

									<div class="col-7">
										<h6 class="m-0">Quesillo</h6>
										<p class="m-0" style="font-size:10px;">Descripción acerca del producto</p>
									</div>

									<div class="col-2">
										<h5 class="m-0">$2</h5>
									</div>

									<div style="margin-bottom:-30px" class=" q-ml-xl  row text-right">
										<div class="col-4  q-mt-xs">
											<q-btn color="primary w-100 " size="xs" class="rounded" @click="alert = true" >Adicionales</q-btn>
											<q-btn color="primary w-100 " size="xs" class="q-mt-xs rounded " to="/Carrito" >Agregar</q-btn>
										</div>

										<div class="col-4 q-mt-xs">
											<q-btn class="glossy rounded" size="xs"  @click="pedido++" color="primary" icon="add" label="" />
											<q-btn class="glossy q-mt-xs rounded" size="xs"  @click="pedido--" color="primary" icon="remove" label="" />
										</div>
										
										<div class="col-4 text-center">
											 <h5 class="q-mt-md" >{{pedido}}</h5>
										</div>
									</div>
								</div>
							</div>

							<div  class="col-12 mb-2" style="background:#f1f1f1; border:1px solid #ddd; border-radius:.5rem;">
								<div class="row">
									<div style="height:70px" class="col-3">
										<img src="statics/images/5.jpg" class="img-xxs rounded-1 " alt="">
									</div>

									<div class="col-7">
										<h6 class="m-0">Batidos</h6>
										<p class="m-0" style="font-size:10px;">Descripción acerca del producto</p>
									</div>

									<div class="col-2">
										<h5 class="m-0">$2</h5>
									</div>

									<div style="margin-bottom:-30px" class=" q-ml-xl  row text-right">
										<div class="col-4  q-mt-xs">
											<q-btn color="primary w-100 " size="xs" class="rounded" @click="alert = true" >Adicionales</q-btn>
											<q-btn color="primary w-100 " size="xs" class="q-mt-xs rounded " to="/Carrito"  >Agregar</q-btn>
										</div>

										<div class="col-4 q-mt-xs ">
											<q-btn class="glossy rounded" size="xs"  @click="pedido++" color="primary" icon="add" label="" />
											<q-btn class="glossy q-mt-xs rounded" size="xs"  @click="pedido--" color="primary" icon="remove" label="" />
										</div>
										
										<div class="col-4 text-center">
											<h5 class="q-mt-md" >{{pedido}}</h5>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-12 mb-2 no-disponible" style="background:#f1f1f1; border:1px solid #ddd; border-radius:.5rem;">
								<div class="row">
									<div style="height:70px" class="col-3">
										<img src="statics/images/pielimon.jpg" class="img-xxs rounded-1 " alt="">
									</div>

									<div class="col-7">
										<h6 class="m-0">Pie de limon</h6>
										<p class="m-0" style="font-size:10px;">Descripción acerca del producto</p>
									</div>

									<div class="col-2">
										<h5 class="m-0">$2</h5>
									</div>

									<div style="margin-bottom:-30px" class=" q-ml-xl row text-right">
										<div class="col-4  q-mt-xs">
											<q-btn color="primary w-100 " size="xs" class="rounded" @click="alert = true" >Adicionales</q-btn>
											<q-btn color="primary w-100 " size="xs" class="q-mt-xs rounded " to="/Carrito" >Agregar</q-btn>
										</div>

										<div class="col-4 q-mt-xs ">
											<q-btn class="glossy rounded" size="xs"  @click="pedido++" color="primary" icon="add" label="" />
											<q-btn class="glossy q-mt-xs rounded" size="xs"  @click="pedido--" color="primary" icon="remove" label="" />
										</div>
										
										<div class="col-4 text-center">
											 <h5 class="q-mt-md" >{{pedido}}</h5>
										</div>
									</div>
								</div>
							</div>

							<div  class="col-12 mb-2" style="background:#f1f1f1; border:1px solid #ddd; border-radius:.5rem;">
								<div class="row">
									<div style="height:70px" class="col-3">
										<img src="statics/images/oreo.jpg" class="img-xxs rounded-1 " alt="">
									</div>

									<div class="col-7">
										<h6 class="m-0">Malteada de oreo</h6>
										<p class="m-0" style="font-size:10px;">Descripción acerca del producto</p>
									</div>

									<div class="col-2">
										<h5 class="m-0">$2</h5>
									</div>

									<div style="margin-bottom:-30px" class=" q-ml-xl  row text-right">
										<div class="col-4  q-mt-xs">
											<q-btn color="primary w-100 " size="xs" class="rounded" @click="alert = true" >Adicionales</q-btn>
											<q-btn color="primary w-100 " size="xs" class="q-mt-xs rounded " to="/Carrito"  >Agregar</q-btn>
										</div>

										<div class="col-4 q-mt-xs ">
											<q-btn class="glossy rounded" size="xs"  @click="pedido++" color="primary" icon="add" label="" />
											<q-btn class="glossy q-mt-xs rounded" size="xs"  @click="pedido--" color="primary" icon="remove" label="" />
										</div>
										
										<div class="col-4 text-center">
										 <h5 class="q-mt-md" >{{pedido}}</h5>
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</q-scroll-area>
			</div>
		</div>


		<!--modal horarios-->
		<div class="q-pa-md q-gutter-sm">
			<q-dialog v-model="alert">
				<q-card>
					<q-card-section>
						<div class="text-center"><b>Horario</b></div>
					</q-card-section>

					<q-card-section class="q-pt-none">
						<div class="q-pa-md">
							<div class="row">
								<div class="col-6 p-2" style="border-bottom: 1px solid #ddd;background: #eee;">Lunes</div>
								<div class="col-6 p-2" style="border-bottom: 1px solid #ddd;">7:00am - 12:00pm</div>
								<div class="col-6 p-2" style="border-bottom: 1px solid #ddd;background: #eee;">Martes</div>
								<div class="col-6 p-2" style="border-bottom: 1px solid #ddd;">7:00am - 12:00pm</div>
								<div class="col-6 p-2" style="border-bottom: 1px solid #ddd;background: #eee;">Miércoles</div>
								<div class="col-6 p-2" style="border-bottom: 1px solid #ddd;">7:00am - 12:00pm</div>
								<div class="col-6 p-2" style="border-bottom: 1px solid #ddd;background: #eee;">Jueves</div>
								<div class="col-6 p-2" style="border-bottom: 1px solid #ddd;">7:00am - 12:00pm</div>
								<div class="col-6 p-2" style="border-bottom: 1px solid #ddd;background: #eee;">Viernes</div>
								<div class="col-6 p-2" style="border-bottom: 1px solid #ddd;">7:00am - 12:00pm</div>
							</div>
						</div>
					</q-card-section>

					<q-card-actions align="right">
						<q-btn flat label="OK" color="primary" v-close-popup />
					</q-card-actions>
				</q-card>
			</q-dialog>
		</div>

		<!--modal-->
		<q-dialog v-model="alert">
			<q-card class="w-70" >
				<q-card-section class="q-pt-none">
					<div class="text-center">
						<p class="q-mt-md" >Adicionales</p>
						<div class="bordes">
							<div class=" row  text-center ">
								<div class="col-4">
									<q-checkbox v-model="mermelada" />
								</div>

								<div class="col-6">
									<p class="q-ma-sm" >Mermelada</p>
								</div>
							</div>

							<div class=" row  text-center ">
								<div class="col-4">
									<q-checkbox v-model="chocolate" />
								</div>

								<div class="col-6">
									<p class="q-ma-sm" >Chocolate</p>
								</div>
							</div>

							<div class=" row  text-center ">
								<div class="col-4">
									<q-checkbox v-model="caramelo" />
									</div>
								<div class="col-6">
									<p class="q-ma-sm" >Caramelo</p>
								</div>
							</div>

							<div class=" row  text-center ">
								<div class="col-4">
									<q-checkbox v-model="gomitas" />
								</div>

								<div class="col-6">
									<p class="q-ma-sm" >Gomitas</p>
								</div>
							</div>
						</div>

						<div class="col-12 text-center q-mt-md">
							<q-btn color="primary w-100 " size="xs" class="q-mt-xs rounded " to="/Carrito"  >Agregar</q-btn>
						</div>
					</div>
				</q-card-section>
			</q-card>
		</q-dialog>
		<!--modal-->
	</div>
</template>

<script>
export default {
	data() {
		return {
			Tortas:false,
			Combos:false,
			Bebidas:false,
			Salados:false,
			mermelada:false,
			chocolate:false,
			caramelo:false,
			gomitas:false,
			alert:false,
		   pedido:1,
			  thumbStyle: {
		right: '4px',
		borderRadius: '5px',
		backgroundColor: '#027be3',
		width: '5px',
		opacity: 0.75
	  },

	  barStyle: {
		right: '2px',
		borderRadius: '9px',
		backgroundColor: '#027be3',
		width: '9px',
		opacity: 0.2
	  }
		}
	},
	methods: {
		 Vermas(){
			this.$router.push({ path:'/Platillo' })
		}
	},
}
</script>
