<template>
  <div class="fuente ">
    <!-- <div class="position_top">
      <div class=" w-100 text-center q-mt-md q-mb-md flex content-around item-center ">
        <q-btn round icon="keyboard_arrow_left " class="text-white bold  bg-black " to="/Pedidos" />
        <p class="mb-0 titulo-header w-30 "></p>
        <div class=" w-30 flex item-center content-around ">
          <div class="">
            <q-btn icon="share" @click="compartir()" class="bg-black text-white q-mr-sm " round></q-btn>
          </div>
        </div>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-12 text-center">
        <q-img :src="doomi_img_portada || 'statics/images/logo.png'" :ratio="16/11" spinner-color="white"
          class="portada_doomialiado" />
      </div>
    </div> -->
    <div style="position:absolute;width:100%" class=" pb-0">
      <div class=" cont_doomialidado q-pa-md lnh ">
        <div class="row q-pl-sm q-pr-sm ">

          <div class="col-12 flex item-center content-between ">

            <q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>

            <q-btn icon-right="add" label="Categoría" to="/Listacategorias" class="cl_standar rounded q-pt-xs q-pb-xs q-pl-xs q-pr-xs  mayuscula " content-class="" size="sm" ></q-btn>

          </div>

           <div class="col-12 flex item-center flex-center q-mt-md ">

           <q-input class="input_txt q-pl-sm w-90 font-xl" :debounce="500" placeholder="Buscar producto" borderless v-model="N_identificacion">
             <template v-slot:prepend>
                <q-icon name="search" />
              </template>
           </q-input>

          </div>

          <!-- <CATEGORIAS-FILTRO> -->
          <div style="height:40px" class="col-12 q-mt-md ">
            <q-scroll-area :class="barra ? '' : 'barra' " :visible="true" horizontal
              class="cont_categorias_menu p-0 capitalize rounded-borders">
              <div class="row no-wrap flex" style="width: 100%;height:10px">

                <q-chip
                  v-for="cat in categorias" :key="cat.id"
                  :class="[ 'capitalize', cat.id==id_categoria_filtro?'chip-seleccionado':'' ]"
                  text-color="white"
                  @click.native="clickCategoria(cat)"
                  class="q-chip-2"
                >
                  {{ cat.nombre }}
                </q-chip>
              </div>
            </q-scroll-area>
          </div>
          <!-- </CATEGORIAS-FILTRO> -->

        </div>
        <!-- PLATILLOS -->
        <div class=" pt-1 ">
          <div class="cont_bg mb-13vh ">
            <div class="row  ">
              <div
                :style="{background: menu.estatus ? '#f1f2f4': '', 'border-radius':'.5rem', border: menu.estatus ? '' : ''}"
                class="col-12 mb-3 p-2 " v-for="menu in menus" :key="menu.id" @click="verMenu(menu)"
                :class="menu.existencias <= 0 ? 'bg-white': ''  ">
                <div class="row relative ">
                  <div class="col-3 p-1">
                    <img :class=" menu.existencias <= 0 ? 'img-gray': ''  "
                      :style=" menu.estatus ? '': 'filter: grayscale(100);' "
                      :src="menu.img || 'statics/images/logo.png'" class="img-menu">
                  </div>
                  <div class="col-9 q-pl-sm q-pt-sm ">
                    <p class="m-0 font_titulosmd">{{ menu.nombre }}</p>
                    <p class="m-0 descri-menu text-black ">{{ menu.descripcion }}</p>
                    <h6 class="m-0 font_titulosmd cont_menu--precio"><b>{{ precio(menu.precio_usd) }}</b></h6>
                  </div>
                  <div style="bottom:-10px;right:-10px" class="absolute">
                    <q-toggle @click.native="toggleMenu(menu)" v-model="menu.estatus" class="togle-size" color="cyan-4" />
                  </div>

                </div>
              </div>
              <div v-if="!menus.length" class="cont_menu--nohay">
                <center><b><i>{{ mensaje }}</i></b></center>
              </div>
            </div>
          </div>
        </div>
        <!-- PLATILLOS -->
      </div>
    </div>
    <!--modal ver informacion-->
    <q-dialog class="p-0 " maximized v-model="Verinfo">
      <q-card class="" style="width:100%!important;height:100vh!important">
        <q-card-section class="p-0 ">
          <div class="row bg_gray vh100 cuadro1 ">
            <div class="col-11 flex item-center ">
              <img src="statics/images/logo.png" class="bordes soft-border " width="100px" heigth="100px"
                alt="">
              <div class="w-60">
                <p class=" mb-0 font_tituloslg q-ml-sm ">Nombre</p>
                <p class=" q-ml-sm mb-0 q-mt-sm capitalize nombre-cat">categoria /</p>
                <!-- {{ doomialiado.subcategorias.map(e=>e.nombre).join(' - ') }}</p>-->
              </div>
            </div>
            <div class="col-1" style="position:relative">
              <q-img style="position:absolute ; top:0; right:0; " width="15px" height="15px"
                class="q-mt-md q-mr-md" v-close-popup src="statics\Iconos\X.png"></q-img>
            </div>
            <div v-if="doomialiado.calificacion > -1" class="w-100 flex content-left q-mr-sm item-center ">
              <p class="mb-0 font-xl bold text-orange q-mr-sm q-ml-sm q-mt-xs "> 5 </p>
              <q-rating v-model="calificacion" max="5" size="25px" color="orange" color-selected="orange"
                icon="star_outline" icon-selected="star" icon-half="star_outline" no-dimming class=""
                readonly />
              <div style="width:55px" class="">
                <p v-if="nueva_calificacion" @click="calificar = true"
                  class="mb-0 q-ml-xs font-lg clr_light_pink ">Calificar</p>
              </div>
            </div>
            <div class="col-12 q-mt-md q-pl-sm q-pr-sm ">
              <p class="mb-0  ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, iure!</p>
            </div>
            <div class=" q-mt-md col-12 text-center">
              <p style="border-radius:5px" class="mb-0 bg_gray_only font-lg q-pa-sm w-100 text-grey bordes">
                {{modosDisponibles}}</p>
            </div>
            <div class="col-12 q-mt-md soft-border bg_white q-pt-sm q-pb-sm q-pl-md q-pr-md ">
              <p class="  font-md bold q-ml-sm q-mb-sm ">Dirección</p>
              <div class="flex item-center  w-100">
                <q-icon style="font-size:30px" class="" name="pin_drop" />
                <p class="mb-0 q-ml-sm font_titulosmd w-80 bold ">Lorem, ipsum dolor sit amet consectetur
                  adipisicing elit. Soluta, amet.</p>
              </div>
            </div>
            <div class="col-12 q-mt-md soft-border text-center bg_white q-pt-sm q-pb-sm q-pl-md q-pr-md ">
              <p class=" mb-0 font_tituloslg text-grey">Horarios de envío</p>
              <!-- <p class=" mb-0 font_titulosmd " v-html="horariosDeEnvio"></p> -->
              <p class=" mb-0 font_titulosmd ">7:00am / 8:00pm</p>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- boton flotante -->
    <div class="btn-flotante_menu  ">
      <q-btn class="cl_standar q-pa-xs" @click="clickNuevoMenu" icon="add" round></q-btn>
    </div>
    <!-- fin boton flotante -->
  </div>
</template>

<script>
import { copyToClipboard } from 'quasar'
import { mapGetters } from 'vuex'
import precio from '../lib/precio'
import de24a12 from '../lib/de24a12'

export default {

data() {
	return {
    Verinfo: null,
    existencias: null,
    barra: true,
    N_identificacion: '',

    DIAS: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
    mensaje: 'Cargando...',
    menus: [],
    categorias: [],
    id_categoria_filtro: -1,
	};
},


watch: {
  id_categoria_filtro(val) {
    if (val===null)
      return;
    this.cargarMenus();
    this.N_identificacion = null;
  },

  N_identificacion(v) {
    if (v===null)
      return;

    this.id_categoria_filtro = null;
    if (v && v.length > 2)
      this.cargarMenus(this.N_identificacion);
    else
      this.cargarMenus();

  },
},


mounted(){
  window.addEventListener('scroll',this.onScroll)

  this.cargarMenus();
  this.$store.dispatch('doomi/actualizar');

  this.$api
    .get('/categorias_menu/?id_res=' + this.doomi_id)
    .then(res => {
      // res.data.unshift({nombre:'', id:-1});
      this.categorias = res.data;
    })
    .catch(console.error)
},
beforeDestroy(){
  window.addEventListener('scroll',this.onScroll)
},


methods: {

  clickNuevoMenu() {
    if (this.id_categoria_filtro > 0) {
      this.$router.push({ path:'/Nuevo_plato', query:{id_categoria:this.id_categoria_filtro} });
    }
    else {
      this.$q.notify({ message: 'Seleccione una categoría', timeout:2000 });
    }
  },

  atras(){
		this.$router.back();
	},

  verMenu(menu) {
    this.$router.push('/Nuevo_plato/' + menu.id);
  },

  toggleMenu(menu) {
    this.$api
      .put('/menu/edit_estatus', { iden: menu.id, nuevo_estatus: menu.estatus })
      .then()
      .catch(console.error)
  },

  cargarMenus(buscar=null) {
    let ruta = '/menu?id_res=' + this.doomi_id;

    if (this.id_categoria_filtro > 0)
      ruta += '&id_cat=' + this.id_categoria_filtro;

    if (buscar)
      ruta += '&q=' + buscar;

    this.mensaje = 'Cargando...';
    this.menus = [];

    this.$api
      .get(ruta)
      .then(res => {
        this.mensaje = 'Nada por aquí';

        // Convertir estatus a bool.
        this.menus = res.data.map(m => ({...m, estatus:Boolean(m.estatus)}))
      })
      .catch(console.error)
  },

  precio(n) {
    return precio(n, '$');
  },

  clickCategoria(cat) {
    this.id_categoria_filtro = cat.id;
  },
  copy(...a){ return copyToClipboard(...a) },

	compartir() {
    copyToClipboard('https://play.google.com/store/apps/details?id=io.plade.doomi&hl=es&gl=US')
		.then(() => {
			return this.$q.notify({
			message:'Link copiado',
			timeout:800,
			position:'top',
			icon: 'info',
			color: 'cyan-4',
			});
		})
		.catch(() => {
			return this.$q.notify({
			message:'Texto no copiado',
			timeout:800,
			position:'top',
			icon: 'info',
			color: 'cyan-4',
			});
		})
	},

	clickCalificar(){
		const rate = this.nueva_calificacion;
		const id_ped = this.ultimo_pedido.id;
		this.$axios({
			url: this.$api.config.apiURL + 'pedidos/calificacion/' + id_ped,
			method: 'PUT',
			data: { calificacion: rate }
		}).then(r => {
			this.calificar=false;
			const p = this.$route.path;
			this.$router.push('/Home').then(() => this.$router.push(p))
		})
	},

  horarioActual(horarios, sep){
    sep = sep || '';
    const now = new Date();
    let hor = horarios.find(hor => this.fechaEnHorario(now, hor));

    if(!hor) return false;

    return de24a12(hor.inicio_hor) + sep + de24a12(hor.fin_hor);
  },

  fechaEnHorario(date, hor) {
    date = new Date(date);
    let res = true;
    const rango = [hor.inicio_hor, hor.fin_hor];
    const hora = this.pad(date.getHours(), 2) + ':' + this.pad(date.getMinutes(), 2);

    // Si no es el mismo dia.
    if(date.getDay() !== this.DIAS.indexOf(hor.dia)){
      res = false;
    }

    // Si no esta dentro de la hora.
    else if(!(hora >= rango[0] && hora < rango[1])){
      res = false;
    }

    return res;
  },

  pad(num, size) {
    return ('000000000' + num).substr(-size);
  },

	// onScroll(){
	// 	if(window.pageYOffset <= 105){
	// 			this.barra=true;

	// 	}
	// 	else{
	// 		this.barra=false
	// 	}
	// },

},


computed: {
  ...mapGetters({
    doomi_id: 'doomi/id',
    doomi_nombre: 'doomi/nombre',
    doomi_img: 'doomi/img',
    doomi_img_portada: 'doomi/imgPortada',
    doomi_calificacion: 'doomi/calificacion',
    doomi_categoria: 'doomi/categoria',
  }),

  doomi() { return this.$store.getters['doomi/datos'] || {} },

  doomi_subcategorias() {
    const s = this.$store.getters['doomi/subcategorias'] || [];
    return s.join(', ');
  },

  doomi_laborando() {
    return this.doomi?.laborando;
  },

  listadoMenus() {
    return this.menus.map(m => ({
      id: m.id,
      nombre: m.nombre,
      descripcion: m.descripcion,
      existencias: m.existencias,
      precio: this.precio(m.precio_usd),
      estatus: !!m.estatus,
      img: m.img || 'statics/images/logo.png',
    }));
  },


	modosDisponibles(){
		const modos = [];
		let texto = '';

		if(this.doomialiado.modalidad_delivery){
			modos.push('Pedidos por encargo');
		}
		if(this.doomialiado.modalidad_pickup){
			modos.push('Pickup');
		}
		if(this.doomialiado.modalidad_programados){
			modos.push('Pedidos programados');
		}

		return modos.length==0
			? 'No hay modalidades de trabajo disponibles'
			: 'Modalidades disponibles: ' + modos.join(', ') + '.';
	},

	horariosDeEnvio(){
    const doomi = this.doomi;

		// Separar horarios por dia y que esten activos.
		const por_dia = {
			Domingo: doomi.horarios.filter(hor => hor.dia == 'Domingo' && hor.estatus==1),
			Lunes: doomi.horarios.filter(hor => hor.dia == 'Lunes' && hor.estatus==1),
			Martes: doomi.horarios.filter(hor => hor.dia == 'Martes' && hor.estatus==1),
			Miercoles: doomi.horarios.filter(hor => hor.dia == 'Miercoles' && hor.estatus==1),
			Jueves: doomi.horarios.filter(hor => hor.dia == 'Jueves' && hor.estatus==1),
			Viernes: doomi.horarios.filter(hor => hor.dia == 'Viernes' && hor.estatus==1),
			Sabado: doomi.horarios.filter(hor => hor.dia == 'Sabado' && hor.estatus==1),
		};
		const br = '<br />';
		let texto = '';

		for (let [dia, horarios] of Object.entries(por_dia)) {
			if(horarios.length==0) continue;

			texto +=  br+dia;
			for (let hor of horarios) {
				texto += br + de24a12(hor.inicio_hor) + ' / ' + de24a12(hor.fin_hor);
			}
			texto += br;
		}

		return texto;
	},

	doomiDisponible(){
		return Boolean(this.horarioActual(this.doomi.horarios));
	},

	doomialiado(){
    return {};
		return this.$store.getters['doomis/porId'](this.idDoomialiado);
	},

	categoriasMenu(){
		return this.$store.getters['productos/categoriasPorIdDoomialiado'](this.idDoomialiado);
	},

	horarios(){
		let h = this.$store.getters['doomis/horariosDoomialiado'](this.idDoomialiado);
		return this.ordenarHorariosDesdeHoy(h);
	},

	horarioDeHoy(){
		return this.horarioActual(this.doomi.horarios, ' / ') || 'Cerrado';
		// return this.$store.getters['doomis/horarioDoomialadoDeHoy'](this.idDoomialiado);
	},



},




};</script>


<style type="text/css">

	.chip-text-grande {
		font-size: 15px !important;
	}

	.chip-text-medio {
		font-size: 10px !important;
	}

  .chip-seleccionado {
    background-color: #fb5a6a !important;
    color:white !important;
  }

</style>
