<template>
  <div class="fuente">


    <q-img style="position:fixed ; top:0;margin-top:10%;z-index:2;left:0;margin-left:10%" @click="$router.back()"
      src="statics\Iconos\Icono_Atras.png" width="20px" height="30px"></q-img>

    <div style="position:fixed ; bottom:0;margin-bottom:40vh;z-index:2;left:0;margin-left:2%"
      class="bg-white  flex flex-center item-center circle ">
      <q-img src="statics\Iconos\Icono_ubicacion_guardada.png" width="50px" height="50px" @click="ubicacionactual()">
      </q-img>
    </div>


    <google-map ref="mapa" @onMapClick="clickMapa" />


    <div class="w-100 bg-white vh20 flex flex-center item-center fixed-bottom q-pl-md q-pr-md ">
      <div class="row">
        <div class="col-12">
          <p class="font-xl bold q-mt-md q-mb-md ">Confirmar dirección de envio</p>
        </div>
        <div class="col-12">
          <p class=" font-lg">{{ ubicacion_text }} </p>
        </div>
        <div class="col-12 text-center ">
          <q-btn class="cl_standar w-100 q-mt-md q-mb-md  rounded " @click="abrirModal" label="confirmar"
            size="md"></q-btn>
        </div>
      </div>
    </div>

    <q-dialog v-model="formulario">
      <q-card style="width:90%">
        <q-card-section class="q-pt-none">
          <div class="text-right">
            <q-img width="15px" height="15px" class=" q-mr-md q-mt-md " v-close-popup
              src="statics\Iconos\X.png"></q-img>
          </div>
          <div class="text-center q-mt-md ">
            <p class="font_tituloslg">Descripción de dirección </p>
          </div>
          <div class="">
            <div class="">
              <q-form class="">
                <div class="row q-mt-md ">

                  <div class=" col-12 flex flex-center q-mt-md">
                    <q-input placeholder="Dirección" class="w-90" autogrow v-model="ubicacion" type="textarea"
                      name="direc_dir" :dense="true">
                    </q-input>
                  </div>
                </div>
                <div class="row w-100 q-mt-lg ">
                  <div class="col-12 q-mt-md flex flex-center">
                    <q-btn size="md" label="Guardar" type="button" @click="guardar" class="q-mb-md cl_standar rounded w-90"
                      :disabled="desactivarBoton" />
                  </div>

                </div>
              </q-form>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>



<script>
import { LocalStorage } from 'quasar'
import GoogleMap from 'components/GoogleMap';
import geo from '../lib/geo'
export default {

components: {
  GoogleMap,
},

data() {
  return {
    ubicacion: null,
    ubicacion_text: null,
    formulario: null,
    desactivarBoton: false,
  };
},


mounted() {
  const doomi = this.$store.getters['doomi/datos'];
  this.ubicacion = this.ubicacion_text = doomi.ubicacion;

  this.$refs.mapa.onLoad(() => {
    this.$refs.mapa.setMarker(doomi.lat, doomi.lon).panTo(doomi.lat, doomi.lon);
  });
},


methods: {
  guardar() {
    if (!this.ubicacion) {
      return this.$q.notify('Ingresa una descripción');
    }

    const latLng = this.$refs.mapa.getMarkerPosition();

    this.$q.localStorage.set('misdirecciones', {
      coordenadas: { lat: latLng.lat(), lon: latLng.lng() },
      ubicacion: this.ubicacion,
    });
    this.Atras();
  },

  ubicacionactual(){
    geo().then(ubicacionActual => {
      const lat = ubicacionActual.lat;
      const lng = ubicacionActual.lon;

      this.$refs.mapa.setMarker(lat,lng).panTo(lat,lng);
    });
  },

  abrirModal() {
    const latLng = this.$refs.mapa.getMarkerPosition();
    if (!latLng) {
      this.$q.notify('Selecciona una ubicación');
    }
    else {
      this.formulario = true;
    }
  },

  clickMapa(evt) {
    const lat = evt.latLng.lat();
    const lng = evt.latLng.lng();

    this.$refs.mapa.setMarker(lat,lng).panTo(lat,lng);
  },

  Atras(){
    this.$router.go(-1)
  }
},


}</script>