<template>
  <div class="q-mb-xl q-pb-xl ">
    <div class="row text-center q-mt-sm  border-bottom-header q-pb-sm flex content-between item-center ">
      <div class="col-2">
        <q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px">
        </q-img>
      </div>
      <div class="col-6">
        <p class="mb-0 titulo-header ">{{ editandoMenu ? 'Editar plato' : 'Nuevo plato' }}</p>
      </div>
      <div class="col-2" v-if="editandoMenu">
        <q-btn @click="dialogEliminar=true" :disabled="disableButton" icon="fas fa-trash" class="btn-border-pink-blue"  round></q-btn>
      </div>
      <div class="col-2">
        <q-btn @click="guardarMenu" :disabled="disableButton" icon="fas fa-check" class="btn-border-pink-blue"  round></q-btn>
      </div>
    </div>
    <div class="row q-mt-md ">
      <div class="col-12 flex flex-center ">
        <q-img :src="img || 'statics/images/logo.png'" class="img-nuevo-plato"></q-img>
        <q-file style="display: none;" ref="qfile" v-model="img_" name="img" @input.native="onImgInput" accept="image/*"></q-file>
      </div>
      <div class="col-12 flex flex-center q-mt-md ">
        <q-btn @click="$refs.qfile.pickFiles()" icon="fas fa-upload" class="cl_standar" round></q-btn>
      </div>
    </div>

    <div class="row q-pa-md ">
      <div class="col-12 flex content-between item-center q-mt-md ">
        <q-input class="w-100 font-xl" autogrow :dense="true" type="text" v-model="nombre"
          label="Nombre del plato" hint="" :rules="[ruleTexto]" :no-error-icon="true">
        </q-input>
       
      </div>

      <div class="col-12 flex content-between item-center q-mt-lg ">
        <q-input class="w-100 font-xl" autogrow :dense="true" type="text" name="correo" v-model="descripcion"
          label="Descripción del plato" hint="" :rules="[ruleTexto]" :no-error-icon="true">
        </q-input>
      </div>
      
      <div class="col-12 q-mt-lg">
        <q-select
          :dense="true"
          :label="categoria ? '' : 'Seleccione las categorias'"
          class="w-100 font-xl"
          v-model="categoria"
          :options="categorias"
          map-options emit-value
          option-label="nombre" option-value="id"
        />
      </div>
    
    </div>

    <div class="col-12 flex flex-center q-mt-lg ">
        <!--
         <q-input class="w-20"  :dense="true" placeholder="0" type="number"
          v-model="precio" label="Precio" hint="" :rules="[ruleMonto]" :no-error-icon="true">
          <template v-slot:append>
            <q-icon class="font-lg" name="fas fa-dollar-sign" />
          </template>
        </q-input>
        -->
        <q-field stack-label label="Precio" class="w-20" autogrow :dense="true">
          <money
            style="width:60px !important; border:none; background: none;"
            class="w-20 q-field__native font-xl" autogrow
            :dense="true"
            placeholder="0"
            v-model="precio"
            v-bind="money"
          >
          </money>
        </q-field>


      </div>

      <div class="col-12 flex q-mt-lg q-mb-xl flex-center ">

         <q-input class="w-20 font-xl"  :dense="true" placeholder="0" type="number"
          v-model="existencia" label="Existencia" hint="" :rules="[ruleMonto]" :no-error-icon="true">
        </q-input>

      </div>


    <div class="row q-mt-lg q-mb-sm ">
      <div class="col-12 flex flex-center ">
        <p class="mb-0 bold font-xl subrayado ">Adicionales</p>
        <q-btn  icon="add" class="q-ml-sm cl_standar" round size="sm"
          @click="adicionales.push({ nombre:'', precio_usd:'', existencias:'' })"
        >
        </q-btn>

        <!-- <div v-else class="q-ml-sm" style="width:30px; height:30px;"></div> -->
      </div>
    </div>

    <div v-for="(adi,index) in adicionales" :key="index" class="row q-mt-md q-pl-md q-pr-md   ">
      <div class="col-12 flex content-between item-center ">
        <q-input class="w-50 font-xl" autogrow :dense="true" type="text" v-model="adi.nombre"
          label="Nombre del adicional" hint="" :rules="[ruleTexto]" :no-error-icon="true">
        </q-input>
        
        <q-input class="w-20 font-xl" autogrow :dense="true" placeholder="0" type="number"
          v-model="adi.existencias" label="Existencia" hint="" :rules="[ruleMonto]" :no-error-icon="true">
        </q-input>

        <!-- 
        <q-input class="w-20" autogrow :dense="true"  type="number" placeholder="0"
          v-model="adi.precio_usd" label="Precio" hint="">
          <template v-slot:append>
            <q-icon class="font-lg" name="fas fa-dollar-sign" />
          </template>
        </q-input>
        -->

        <q-field stack-label label="Precio" class="w-20" autogrow :dense="true">
          <money
            style="width:60px !important; border:none; background: none;"
            class="w-20 q-field__native font-xl" autogrow
            :dense="true"
            placeholder="0"
            v-model="adi.precio_usd"
            v-bind="money"
          >
          </money>
        </q-field>

      </div>
      <div class="col-12 flex flex-center q-mt-md ">
        <!-- <q-btn v-if="index+1 == adicionales.length || !adicionales.length" icon="add" class="cl_standar" round size="sm"
          @click="adicionales.push({ nombre:'', precio_usd:'', existencia:'' })"></q-btn> -->
        <!-- <div v-else style="width:30px; height:30px;"></div> -->
        <div class=""></div>
        <q-btn v-if="adicionales.length>0" icon="delete_forever" class="cl_standar" round size="sm" @click="quitarAdicional(index)"></q-btn>
      </div>
    </div>


    <div class="row q-mt-lg q-mb-sm ">
      <div class="col-12 flex flex-center ">
        <p class="mb-0 bold font-xl subrayado ">Acompañantes</p>
        <q-btn v-if="!menus" icon="add" class="q-ml-sm cl_standar" round size="sm"
          @click="cargarMenus"
        >
        </q-btn>
        <q-btn v-if="menus" icon="remove" class="q-ml-sm cl_standar" round size="sm"
          @click="quitarMenus"
        >
        </q-btn>
      </div>
    </div>
    <div v-for="aco in acompañantes" :key="aco.id" class="row q-pl-md q-pr-md   ">
      <div class="col-12 flex _content-between item-center ">
        <q-checkbox  color="black" v-model="aco.checked" />
        <div style="text-align:left" class="col-5  flex item-center q-pl-md q-pr-md ">
          <p class="mb-0 font-xl "> {{ aco.nombre }} </p>
        </div>
        <div class="col-2  flex item-right flex-right ">
          <p class="mb-0 font-xl bold ">
            {{ formatoPrecio(aco.precio_usd, '$') }}
          </p>
        </div>
      </div>
    </div>


    <q-dialog v-model="dialogEliminar">
      <q-card class="rounded-1">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none q-pl-none q-pr-none text-center row ">
          <div class="col-12 text-center q-mt-md q-mb-md ">
            <p class="bold font-xl q-mb-xs ">¿Eliminar plato?</p>
          </div>
          <div class="col-12 text-center flex flex-center ">
            <q-btn label="Eliminar" @click="eliminarPlato" :disabled="disableButton" class="mayuscula cl_standar rounded q-mr-md"></q-btn>
            <q-btn label="Cancelar" @click="dialogEliminar = false" class="mayuscula cl_standar rounded q-ml-md"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>


  </div>
</template>


<script>
import extraerDigitos from '../lib/extraerDigitos'
import comprimirImagen from '../lib/comprimirImagen'
import procesarImagen from '../lib/procesarImagen'
import precio from '../lib/precio'
import { Money } from 'v-money'

export default {

components: { Money },

data() {
  return {
    dialogEliminar: false,
    categoria: null,
    categorias: [],
    nombre : '',
    precio:0,
    descripcion: '',
    img: null,
    img_: null,
    adicionales: [],
    existencia: null,
    acompañantes: {},
    acompañante: '',
    cantidad_a: '',
    menus: null,
    disableButton: false,
    menu: {},
    money: {
      decimal: ',',
      thousands: '.',
      prefix: '$ ',
      suffix: '',
      precision: 2,
      masked: false
    }
  };
},


watch: {
  /*
  adicionales: {
    deep: true,
    handler: function(val) {
      // Limpiar inputs numericos.
      this.adicionales.forEach((adi) => {
        this.$set(adi, 'precio_usd', +extraerDigitos(adi.precio_usd));
        this.$set(adi, 'existencia', +extraerDigitos(adi.existencias));
      });
    },
  },
  */
},


mounted() {
  if (+this.$route.query.id_categoria) {
    this.categoria = this.$route.query.id_categoria;
  }
  
  this.$api
    .get('/categorias_menu?id_res=' + this.$store.getters['doomi/id'])
    .then(res => { this.categorias = res.data })
  
  if (this.editandoMenu)
    this.cargarMenuEditando();
},


computed: {
  editandoMenu() {
    return this.$route.params.id;
  },

  tieneAdicionales() {
    return this.adicionales.length;
  },

  acompañantesSeleccionados() {
      return Object.values(this.acompañantes).filter(a => a.checked).map(a => a.id);
  },

  adicionalesValidos() {
    for (let adi of this.adicionales) {
      if (!adi.nombre || !adi.precio_usd || !adi.existencias) {
        return false;
      }
    }

    return true;
  },
},


methods: {
  formatoPrecio: precio,
  ruleTexto: v => !!v || '',
  ruleMonto: v => +v || '',

  eliminarPlato() {
    this.disableButton = true;
    this.$api
      .delete('/menu/delete/' + this.$route.params.id)
      .then(res => {
        this.disableButton = this.dialogEliminar = false;
        // this.$q.notify('Plato eliminado');

        if (res?.data?.hasOwnProperty('r') && !res.data.r)
          this.$q.notify(res.data.msj);
        else
          this.$router.back();
      })
      .catch(err => {
        this.disableButton = false;
        if (err?.response?.data?.msg)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error');
      });
  },

  guardarMenu() {
    let err = false;

    if (!this.nombre)
      err = 'Ingrese el nombre';

    else if (!this.precio || !parseFloat(this.precio))
      err = 'Ingrese el precio'

    else if (!this.descripcion)
      err = 'Ingrese la descripción';

    else if (!this.existencia)
      err = 'Ingrese la existencia';

    else if (!this.categoria)
      err = 'Seleccione la categoría';

    else if (!this.adicionalesValidos)
      err = 'Complete los adicionales';

    if (err) return this.$q.notify(err);


    const formData = new FormData();
    let ruta = '/menu/add';
    let metodo = 'post';

    if (this.editandoMenu) {
      ruta = '/menu/edit';
      metodo = 'put';
      formData.set('iden', this.menu.id);
    }

    formData.set('nom_men', this.nombre);
    formData.set('usd_men', parseFloat(this.precio));
    formData.set('exi_men', this.existencia);
    formData.set('cat_men', this.categoria);
    formData.set('descripcion', this.descripcion);
    formData.set('id_res', this.$store.getters['doomi/id']);
    formData.set('est_men', 1);
    formData.set('imgweb', 1);

    if (this.img && !this.editandoMenu) {
      formData.set('img', this.img);
    }
    else if (this.img && this.img != this.menu.img) {
      formData.set('img', this.img);
    }


    for (let adi of this.adicionales) {
      if (this.editandoMenu) {
        formData.append('adicionales_ids[]', adi.id || 0);
      }
      formData.append('adicionales_nombres[]', adi.nombre);
      formData.append('adicionales_precios[]', adi.precio_usd);
      formData.append('adicionales_existencias[]', adi.existencias);
    }

    for (let idacom of this.acompañantesSeleccionados) {
      formData.append('acom_ids[]', idacom);
    }


    this.disableButton = true;

    this.$api[metodo](ruta, formData)
      .then(r => {
        // this.disableButton = false;
        this.$router.back();
      })
      .catch(err => {
        this.disableButton = false;
      })
  },

  cargarMenus() {
    return new Promise((resolve, reject) => {
      this.$api
        .get('menu?id_res=' + this.$store.getters['doomi/id'])
        .then(res => {

          this.menus = res.data;
          this.acompañantes = {};

          for (let menu of this.menus) {
            this.$set(this.acompañantes, menu.id, {
              id: menu.id,
              nombre: menu.nombre,
              existencias: menu.existencias,
              cantidad: 0,
              checked: false,
              precio_usd: menu.precio_usd
            });
          }

          // No mostrar este mismo menu en acompañantes.
          if (this.$route.params.id) {
            this.$delete(this.acompañantes, this.$route.params.id);
          }
          resolve(res.data);
        })
        .catch(err => { console.error(err); reject(err); })
    });
  },

  async cargarMenuEditando() {
    this.$q.loading.show();

    this.$api
      .get('/menu/' + this.$route.params.id)
      .then(res => {
        const menu = res.data;
        this.menu = menu;

        this.nombre = menu.nombre;
        this.descripcion = menu.descripcion;
        this.precio = menu.precio_usd;
        this.categoria = menu.categoria.id;
        this.existencia = menu.existencias;
        this.img = menu.img;

        if (this.menu.adicionales?.length) {
          this.listarAdicionales(this.menu.adicionales);
        }
        if (this.menu.acompañantes?.length) {
          // Cargar primero todos los adicionales.
          this.cargarMenus().then(() => this.listarAcompañantes(this.menu.acompañantes));
        }
      })
      .finally(() => this.$q.loading.hide())
  },

  listarAdicionales(adicionales) {
    for (const adi of adicionales) {
      this.adicionales.push(adi);
    }
  },
  listarAcompañantes(acompañantes) {
    const menus = [];
    for (const aco of acompañantes) {
      // this.$set(this.acompañantes, aco.id, aco);
      menus.push({id: aco.id_menu_acompañante, precio_usd: aco.precio_usd});

      this.$set(this.acompañantes, aco.id_menu_acompañante, {
        id: aco.id_menu_acompañante,
        nombre: aco.nombre,
        existencias: aco.existencias,
        cantidad: 0,
        checked: true,
        precio_usd: aco.precio_usd
      });
    }

    this.menus = menus;
  },

  quitarMenus() {
    this.acompañantes = {};
    this.menus = null;
  },

  quitarAdicional(index) {
    const adi = this.adicionales[index];

    if (!adi.id) {
      this.adicionales.splice(index,1)
    }
    else {
      this.$api
        .delete('/menu/adicionales/' + adi.id)
        .then(res => { this.adicionales.splice(index,1) })
        .catch(err => { this.$q.notify('Ocurrió un error') })
    }
  },

  async onImgInput(evt) {
    const name = evt?.target?.name;
    const file = evt?.target?.files[0];
    const img = new Image();
    img.src = await procesarImagen(evt);
    this.$set(this, name, comprimirImagen(img, 70, 1000));
  },

},

}</script>