<template>
  <div id="Pedidos fuente  ">
    <div class="blue cont_home  ">
      <div class="  ">
        <q-pull-to-refresh @refresh="actualizar">
          <div class="row q-mt-sm q-pl-md q-pr-md  q-pb-sm flex content-between item-center ">
            <div class="col-1">
              <q-btn icon="settings" to="/menu_configuraciones" class="btn-border-pink" round size="sm"  ></q-btn>
            </div>
            <div class="col-6 q-pl-md ">
              <q-input class="w-100 input-search font-xl"
                :disabled="desactivarBusquedad"
                v-model="id_busquedad"
                v-on:keyup.enter="buscarPedido" borderless label="Ingrese el ID"
              >
                <template v-slot:prepend>
                  <q-icon name="search" class="q-pl-sm" @click="buscarPedido" />
                </template>
              </q-input>
            </div>
            <div class="col-5  text-right flex content-left ">

              <div class="flex item-center">
                <p v-if="!activar && !cargando_value" class="mb-0" >Cerrado</p>
                <p v-if="activar && !cargando_value" class="mb-0" >Abierto</p>
                <q-toggle
                  v-model="activar"
                  class="cyan-4"
                  @input="cambiarestatus()"
                  size="60px"
                  color="cyan-4"
                  v-if="!cargando_value"
                />
                <q-spinner
                    v-if="cargando_value"
                    color="primary"
                    size="2.3em"
                    class="q-ma-sm"
                />
              </div>

              <!-- <q-btn round icon="fas fa-bell" class="btn-border-pink" size="sm" ></q-btn> -->

            </div>
          </div>
          <div class="row q-pl-md q-pr-md ">
            <div class="col-12 relative  flex item-center flex-center ">

              <q-img :src="doomi.img_portada || 'statics/images/logo.png'" class="portada_doomialiado soft-border flex item-center flex-center ">
              </q-img>

              <!-- <q-img src="https://cdn.quasar.dev/img/parallax1.jpg" class="absolute absolute-logo logo_doomialiado " ></q-img> -->
              <div class="absolute absolute-logo logo_doomialiado_home w-100 mt-3-home row content-around " >

              <div style="border-radius: 25px;" class="col-6 row border-btn-home ">
                 <div @click="$router.push('/Menus')" class="col-12 btn-border-pink flex flex-center item-center rounded-1 row  ">
                <div class="col-12 text-center q-mt-md q-mb-md ">
                  <q-icon name="add" color="pink" class="font_titulosxl bold q-mb-sm " ></q-icon>
                  <p class="clr-pink bold q-pl-xs q-pr-xs font-xl " >Gestionar productos</p>
                </div>
              </div>
              </div>

              <div class="col-6 text-center item-center flex flex-center ">
                <div class="border-btn-home rounded ">
                   <q-btn @click="precio = true" round icon="fas fa-dollar-sign" class="btn-border-pink btn-border-home " size="lg" ></q-btn>
                </div>
              </div>

              </div>

            </div>
          </div>
        </q-pull-to-refresh>

        <q-tabs v-model="tab" class="bg_cont text-black ">
          <q-tab name="confirmar" label="Por Confirmar">
            <q-badge color="red" floating>{{ pedidosPorColumna.confirmar }}
            </q-badge>
          </q-tab>
          <q-tab name="preparando" label="Preparando">
            <q-badge color="red" floating>{{ pedidosPorColumna.preparando }}
            </q-badge>
          </q-tab>
          <q-tab name="recoger" label="Por recoger">
            <q-badge color="red" floating>{{ pedidosPorColumna.recoger }}
            </q-badge>
          </q-tab>
        </q-tabs>

        <div class="">
          <pedido-card v-for="ped in listaPedidos" :key="ped.id" :pedido="ped" @avanzar="clickAvanzar" />
          <div v-if="!listaPedidos.length" class="q-mt-xl">
            <br />
            <center><b><i>{{ mensaje }}</i></b></center>
            <div class="flex flex-center">

              <q-btn icon="history" v-if="mensaje == msj_err " @click="clickRecargar" round class="cl_standar q-mt-md " ></q-btn>

            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- modal fijar precio del $ -->

    <q-dialog full-width v-model="precio">
      <q-card>
        <q-card-section class="text-right" >
         <q-img width="15px" height="15px" class="" v-close-popup src="statics\Iconos\X.png" ></q-img>
        </q-card-section>

        <q-card-section class="q-pt-none flex item-center flex-center ">

          <div class="text-center">

            <q-btn round class="btn-border-pink" size="md" icon="fas fa-dollar-sign" ></q-btn>

            <p class="font-xl bold mb-0 q-mt-md " >Tasa actual</p>

             <div class="flex flex-center q-mt-sm q-mb-lg ">
                <q-input  v-model="tasa" :dense="true" class=" w-60 font-lg bold "  type="number" input-class="text-right" suffix="$"  >
                  <!-- <template v-slot:append>
                    <q-icon name="fas fa-dollar-sign" />
                  </template> -->
                </q-input>
              </div>

          </div>

          <div class="flex flex-center item-center q-mt-md ">

            <q-btn label="Actualizar" :disabled="desactivarBoton" @click="actualizarTasa" class="q-mr-sm cl_standar rounded " ></q-btn>

            <q-btn v-close-popup label="Cancelar" class="q-ml-sm cl_standar rounded " ></q-btn>


          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

  </div>
</template>


<script>
import PedidoCard from '../components/PedidoCard'

export default {

components: { PedidoCard },

data(){
  return {
    cargando_value: true,
    activar: true,
    tasa: 270000000,
    precio: false,
    paso1: true,
    paso2: true,
    paso3:true,
    tab1: true,
    tab2:false,
    tab3:false,
    tab: 'confirmar',
    pedidos: [],
    cargado: false,
    mensaje: 'Cargando...',
    loader: true,
    id_busquedad: null,
    desactivarBusquedad: false,
    desactivarBoton: false,
    msj_err: 'Ocurrió un error, intente de nuevo',
  }
},



mounted(){
  if(this.doomi){
    this.cargando_value = false;
    if(this.doomi.laborando)
      this.activar = true;
    else
      this.activar = false;

  }
  this.cargarPedidos()
    .then(() => { this.mensaje = 'Nada por aquí' })
    .catch(() => { this.mensaje = this.msj_err });

  this.$socket.removeAllListeners('ActualizarPedidosAdmin');
  this.$socket.on('ActualizarPedidosAdmin', (res) => {
    if (res.id_restaurante_emisor == this.$store.getters['doomi/id'])
      this.cargarPedidos()
        .then(() => { this.mensaje = 'Nada por aquí' })
        .catch(() => { this.mensaje = this.msj_err });
  });

  this.$socket.removeAllListeners('Recibirpedido');
  this.$socket.on('Recibirpedido', (res) => {
    if (res && res.id_restaurante == this.$store.getters['doomi/id'])
      // this.cargarPedidos();
      this.cargarPedidos()
        .then(() => { this.mensaje = 'Nada por aquí' })
        .catch(() => { this.mensaje = this.msj_err });
  });
},


computed: {
  listaPedidos() {
    return this.pedidos.filter(p => this.nombreDeColumna(p) == this.tab);
  },

  pedidosPorColumna() {
    const columnas = {
      confirmar: 0,
      preparando: 0,
      recoger: 0,
    };

    let col, pedido;
    for (pedido of this.pedidos) {
      col = this.nombreDeColumna(pedido);
      if (!col) continue;

      columnas[col] ? columnas[col]++ : columnas[col] = 1;
    }

    return columnas;
  },

  doomi() {
    return this.$store.getters['doomi/datos'] || {};
  },
},


methods: {
  actualizar(listo) {
    this.cargarPedidos({loading:false})
      .then(() => {
        this.mensaje = 'Nada por aquí';
        listo();
      })
      .catch(() => {
        this.mensaje = this.msj_err;
        listo();
      });
  },

  clickRecargar() {
    this.cargarPedidos({loading:true})
      .then(() => { this.mensaje = 'Nada por aquí' })
      .catch(() => { this.mensaje = this.msj_err });
  },

  buscarPedido() {
    if (!this.id_busquedad)
      return this.$q.notify('Ingrese el ID');

    this.desactivarBusquedad = true;
    this.$api
      .get('/pedidos/' + this.id_busquedad)
      .then(res => {
        this.desactivarBusquedad = false;

        if (res.data?.id_estatus == 98)
          return this.$q.notify('El pedido está archivado');

        this.$router.push('/Detalles/' + res.data.id);
      })
      .catch(err => {
        if (err?.response?.status == 404)
          return this.$q.notify('Pedido no encontrado');

        this.desactivarBusquedad = false;
      })
  },

  clickAvanzar(pedido) {
    const i = this.pedidos.findIndex(p => p.id == pedido.id);

    // Remover pedido del listado.
    const ped = this.pedidos.splice(i, 1)[0];

    this.avanzarPedido(ped)
      .then(this.cargarPedidos)
      .catch(() => {
        // En caso de error, devolver el pedido al listado.
        this.pedidos.splice(i, 0, ped);
        this.$q.notify('Ocurrió un error');
      })
  },

  cargarPedidos(config={}) {
    return new Promise((resolve, reject) => {
      const params = {
        app:1
      };

      if (config.loading) {
        this.$q.loading.show();
      }
      this.$api
        .get('/pedidos/restaurante/' + this.$store.getters['doomi/id'], {params})
        .then(r => {
          resolve(r.data);
          this.pedidos = r.data;
        })
        .catch(reject)
        .finally(() => {
          if (config.loading) {
            this.$q.loading.hide();
          }
        })
    });
  },


  avanzarPedido(pedido) {
    return new Promise((resolve, reject) => {
      const id_pedido = pedido.id;

      // Aceptar el pago.
      if (pedido.id_estatus == 3) {
        if (pedido.img_pago) {
        }
        // return;
      }

      let ruta = '';
      let metodo;
      if (pedido.id_estatus==10 && pedido.modalidad == 'Pickup') {
        ruta += 'pedidos/repartidor/entregar';
        metodo = 'PATCH'
        data.id_pedido = data.iden;
      }
      else {
        ruta += 'pedidos/edit_sts';
        metodo = 'PUT'
      }


      let nuevo_sts;
      switch (parseInt(pedido.id_estatus, 10)) {
        case 3:
          nuevo_sts = 6; // Preparando.
          break;

        case 6: {
          nuevo_sts = 8; // Preparando.

          if (pedido.modalidad == 'Programado' && !pedido.preparando_programado){
            nuevo_sts = 6;
            ruta += '?ini_pro=1';
          }
          break;
        }

        case 7:
          nuevo_sts = 8; // Finalizado.
          break;

        case 8:
          nuevo_sts = 9; // Por entregar.
          break;

        case 10:
          nuevo_sts = 12; // En transito (pickup)
          break;
      }

      const data = {
        sts: nuevo_sts,
        nota: '',//$("#motivo_ped_p").val(),
        iden: id_pedido,
        id_usu: this.$store.getters['auth/id'],
        tipo_usu: 'restaurante'
      };

    // return new Promise((resolve, reject) => {
      this.$api({
        url: ruta,
        method: metodo,
        data: data,
      })
      .then(resolve, reject)
      // .then(r => {
      //   resolve(r)
      //   this.cargarPedidos();
      // })
      // .catch(reject)
    });
  },


  nombreDeColumna(pedido) {
    /*
    ** Obtener el nombre de la columna.
    */
    let { modalidad, id_estatus, fecha_pro } = pedido;

    modalidad = modalidad.toLowerCase();
    id_estatus = parseInt(id_estatus, 10);

    // Por Confirmar
    if ([3, 97].includes(id_estatus))
      return 'confirmar';

    // Preparando y Programado
    if ([6].includes(id_estatus)) {
      if (modalidad == 'programado' && !pedido.preparando_programado) {
        return 'preparando';
      }
      return 'preparando';
    }

    // Por recoger
    if ([7, 8].includes(id_estatus))
      return 'recoger';

    if(id_estatus==10 && modalidad == 'pickup')
      return 'recoger';

    // En transito
    if ([9, 10].includes(id_estatus))
      return 'recoger';

    // Entregado
    if ([12].includes(id_estatus))
      return 'entregado';

    // Completado
    if ([11].includes(id_estatus))
      return 'completado';
  },

  actualizarTasa() {
    if (!parseInt(this.tasa))
      return this.$q.notify('Ingrese la tasa');

    const data = {
      iden: this.$store.getters['doomi/id'],
      tasa: parseInt(this.tasa),
    };

    this.desactivarBoton = true;
    this.$api
      .put('/restaurantes/edit_tasa', data)
      .then(r => {
        this.desactivarBoton = this.precio = false;
        this.$q.notify('Datos actualizados');
      })
      .catch(err => {
        this.$q.notify('Ocurrió un error');
      })
  },

  clickVerMas(pedido){
    this.$router.push({
      path:'/Vermas1/' + pedido.id,
    });
  },

  imprimirpedidos(){
    this.pedidos = [];
    const data_user = this.$api.repartidor.obtenerDatos();
    if(data_user){
      if(!data_user.trabajar){
        this.cargado = true;
        this.loader = false;
        this.pararConteoReintentar();
        this.msg = 'conéctate para recibir pedidos';
        return;
      }
    }
    this.loader = true;
    this.$api.general.geo().then(ubi => {
      let no_ped = this.$store.getters['repartidor/id_pedidos_rechazados'];
      ubi.no = no_ped.join(',');
      this.$api.general.recuperarDataConData('/pedidos/repartidor', ubi).then(resp => {
        this.pararConteoReintentar();
        this.$q.loading.hide();
        if(!Array.isArray(resp)) return;
        // this.$store.commit('ordenes/SET_BUSQUEDA_PEDIDOS', resp);
        const data_user = this.$api.repartidor.obtenerDatos();
        if(data_user.trabajar)
          this.pedidos = resp;
        else
          this.pedidos = [];
        this.cargado = true;
        this.loader = false;

        if(!this.pedidos || this.pedidos.length == 0)
          this.msg = 'No hay pedidos disponibles';
      }).catch(e => {console.log(e); this.$q.loading.hide()});
    }).catch(e => {console.log(e); this.$q.loading.hide()});
  },

  iniciarConteoReintentar() {
    this.id_timeout_reintentar = setTimeout(() => {
      this.confirmar_reintento = true;
    }, this.conteo_hasta_reintentar);
  },
  pararConteoReintentar() {
    clearTimeout(this.id_timeout_reintentar);
  },

  cambiarestatus(){
    let v=0;
    if(this.activar)
      v = 1;
    const formData = new FormData();
    formData.append('iden',this.doomi.id);
    formData.append('sts',v);
    this.$api.put('restaurantes/edit_sts_laborando', formData)
      .then(async r => {
        if(r.data.r){
          this.$store.dispatch('actualizarTodo');
        }
      }).catch(err => {
        console.log(err.msj||err.msg);
      });
  },
},


}; </script>
