<template>
  <div class="fuente">
    <div class="">
      <div class="row text-center q-mt-lg q-mb-md flex content-between item-center ">
        <div class="col-2">
          <q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px"></q-img>
          <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Menu_configuraciones" /> -->
        </div>
        <div class="col-8">
          <p class="mb-0 titulo-header  ">Perfil</p>
        </div>
        <div class="col-2">
          <!-- <q-btn v-on:click='Mostrarfiltro = !Mostrarfiltro' flat icon="menu" class="" ></q-btn> -->
        </div>
      </div>
    </div>
    <div class=" q-pb-md">
      <div class="row">
        <div class="col-12">
          <div class=" q-pb-md  ">
            <q-form id="form_perfil_repartidor" @submit="onSubmit" @reset="onReset" class="">
              <q-input name="iden" style="display:none" v-model="iden" type="hidden" />
              <div class="row  ">

                <!-- Portada -->
                <div 
                  :style="styleImagenPortada"
                  class="row text-center w-100 q-pa-md q-mt-md" @click.stop="$refs.filePortada.pickFiles()">
                  <q-file style="display: none;" ref="filePortada" v-model="file_portada" name="img_portada" @input.native="onImgInputPortada" accept="image/*"></q-file>
                  <div class="col-6 text-center q-mt-md circle" style="height: 130px !important; width:130px !important;"></div>
                </div>

                <!-- Logo  -->
                <div class="col-6 text-center q-mt-md circle" style="position: absolute !important; padding-top: 16px;">
                  <q-img :src="img_logo" class="circle" width="140px" height="140px" :ratio="16/11" spinner-color="white" @click.stop="$refs.fileLogo.pickFiles()" />
                  <q-file style="display: none;" ref="fileLogo" v-model="file_logo" name="img_logo" @input.native="onImgInput" accept="image/*"></q-file>
                </div>

              </div>
              <div class="row">
                <div class="col-12 text-center flex flex-center item-center q-mt-md ">
                  <p class="font-xl bold mb-0">Puntuacion:</p>
                  <div class="col-12 text-center  ">
                    <p class="mb-0 font-xl bold q-ml-sm q-mr-sm"> {{ Rate }} / 5</p>
                  </div>
                  <q-rating readonly v-model="Rate" max="1" size="25px" color="yellow" icon="star" icon-selected="star"
                    icon-half="star_half" no-dimming class="font_tituloslg " />
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-12 q-mt-md text-center ">
                  <q-btn class="cl_standar rounded q-pl-sm q-pr-sm " icon="upload" label="Logo" ></q-btn>
                </div>
              </div> -->
              <div class="flex flex-center q-mt-md ">
                <div class="row w-90 flex item-center borde-input ">
                  <div class="col-9 q-mb-sm ">
                    <q-input borderless :dense="true" class="font-lg" v-model="nombre"  label=""
                      emit-values map-options />
                  </div>
                  <div style="justify-content:flex-end" class="col-3 flex ">
                    <p class="mb-0 bold ">Nombre</p>
                  </div>
                </div>
              </div>
              <div class="flex flex-center q-mt-md ">
                <div class="row w-90 flex item-center borde-input ">
                  <div class="col-9 q-mb-sm ">
                    <q-input borderless :dense="true" class="font-lg" v-model="telefono"  label=""
                      emit-values map-options  />
                  </div>
                  <div style="justify-content:flex-end" class="col-3 flex ">
                    <p class="mb-0 bold ">Teléfono</p>
                  </div>
                </div>
              </div>
              <div class="flex flex-center q-mt-md ">
                <div class="row w-90 flex item-center borde-input ">
                  <div class="col-9 row flex content-between q-mb-sm ">
                    <q-select borderless :dense="true" class=" w-20 font-lg bold " v-model="identificacion"
                      :options="identificaciones" />
                    <q-input borderless :dense="true" class=" w-70 font-lg bold " v-model="rif"  />
                  </div>
                  <div style="justify-content:flex-end" class="col-3 flex ">
                    <p class="mb-0 bold ">RIF</p>
                  </div>
                </div>
              </div>

              <!-- 
              <div class="flex flex-center q-mt-md ">
                <div class="row w-90 flex item-center borde-input ">
                  <div class="col-9 q-mb-sm ">
                    <q-select borderless :dense="true" class=" w-100 font-lg bold " v-model="categoria" name="categoria"
                      :options="categorias" map-options emit-value option-label="nombre" option-value="id"  />
                  </div>
                  <div style="justify-content:flex-end" class="col-3 flex ">
                    <p class="mb-0 bold ">Categoria</p>
                  </div>
                </div>
              </div>
              <div class="flex flex-center q-mt-md ">
                <div class="row w-90 flex item-center borde-input ">
                  <div class="col-9 q-mb-sm ">
                    <q-input borderless :dense="true" class=" w-100 font-lg bold " v-model="Facebook"
                      name="id_repartidor" />
                  </div>
                  <div style="justify-content:flex-end" class="col-3 flex ">
                    <p class="mb-0 bold ">Facebook</p>
                  </div>
                </div>
              </div>
              <div class="flex flex-center q-mt-md ">
                <div class="row w-90 flex item-center borde-input ">
                  <div class="col-9 q-mb-sm ">
                    <q-input borderless :dense="true" class=" w-100 font-lg bold " v-model="Instagram"
                      name="id_repartidor" />
                  </div>
                  <div style="justify-content:flex-end" class="col-3 flex ">
                    <p class="mb-0 bold ">Instagram</p>
                  </div>
                </div>
              </div>
              -->

              <div class="row q-mt-md q-pl-md q-pr-md ">
                <div class="col-12 q-mt-md">
                  <p class="mb-0 font-md bold">Etiquetas</p>
                  <q-select borderless :dense="true" multiple use-input use-chips class=" w-100 font-lg bold "
                    v-model="subcategorias" name="" :options="lista_subcategorias" map-options emit-value option-label="nombre" option-value="id" />
                </div>
              </div>
              <div class="row">
                <div class="col-12 q-mt-md q-pl-md q-pr-md ">
                  <p class="mb-0 font-md bold">Descripción</p>
                  <q-input borderless autogrow :dense="true" class=" w-100 q-pa-sm input_txt_grow_round font-lg bold "
                    v-model="Descripcion" name="id_repartidor" />
                </div>
              </div>
              <div class="row q-mt-md q-pl-md q-pr-md ">
                <div class="col-12 q-mt-md  ">
                  <p class="mb-0 font-md bold w-100  ">Modalidad de trabajo</p>
                  <div class="flex item-center ">
                    <q-checkbox class="" label="Delivery" v-model="delivery"></q-checkbox>
                    <q-checkbox class="" label="Pick up" v-model="pickup"></q-checkbox>
                    <div class="flex item-center">
                      <q-checkbox class="" @input="Programados()" label="Programado" v-model="programado"></q-checkbox>
                      <!-- <q-btn v-if="programado" class="cl_standar q-ml-sm " size="sm" to="/Programados" round icon="calendar_today">
                      </q-btn> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row q-pl-md q-pr-md">
                <div class="col-12 q-mt-md ">
                  <p class="mb-0 font-md bold">Ubicación</p>
                  <q-input @focus="$router.push('/Misdirecciones')" borderless autogrow :dense="true"
                    class=" w-100 q-pa-sm input_txt_grow_round font-lg bold " v-model="ubicacion"
                    name="id_repartidor" />
                </div>
              </div>
              <div class="row q-pl-md q-pr-md">
                <div class="col-12 q-mt-md flex item-center  ">
                  <p class="mb-0 font-md bold">Encargados con acceso</p>
                  <q-btn class="cl_standar q-ml-md" icon="add" size="sm" round @click="Encargados=true, E_cedula=E_correo=E_nombre=E_contraseña=E_id=null"></q-btn>
                </div>
              </div>

              <div class="flex item-center ">
                <div style="width: fit-content;" v-for="(enc, index) in encargados" :key="enc.id"
                  class="row  q-pl-md q-ma-sm  bg-blue-doomi q-pl-sm q-pr-sm rounded fit-content ">
                  <div style="width: fit-content;" class="col-8 fit-content flex item-center ">
                    <p @click="verEncargado(enc, index)" class="mb-0 font-xl bold">{{ enc.nombre }}</p>
                  </div>
                  <div style="width: fit-content;" class="col-2 q-pl-sm fit-content">
                    <q-btn icon="close" @click="clickEliminarUsuario(index)" class="bg-white" size="xs" round></q-btn>
                  </div>
                </div>
              </div>

              <div class="col-12 text-center" v-if="msjError">
                <p style="color:red;">{{ msjError }}</p>
              </div>
              <q-linear-progress v-if="loadingBar" query color="grey" class="q-mt-sm" />

              <div class="col-12 q-mt-md q-mb-sm text-center">
                <q-btn label="Guardar cambios" :disable="desactivarBoton" size="md" type="submit" class="cl_standar rounded w-80 " />
              </div>
            </q-form>
          </div>
        </div>
      </div>
    </div>
    <q-dialog v-model="Encargados">
      <q-card class="rounded-3">

        <q-card-section class="q-pt-none text-center row ">
          <div class="col-12 text-center q-mt-lg  ">
            <q-input class="input_txt q-pl-sm " label="Nombre" borderless v-model="E_nombre"></q-input>
          </div>
          <div class="col-12 text-center q-mt-lg  ">
            <q-input class="input_txt q-pl-sm " label="Cédula" borderless v-model="E_cedula"></q-input>
          </div>
          <div class="col-12 text-center q-mt-lg  ">
            <q-input class="input_txt q-pl-sm " label="Correo" borderless v-model="E_correo"></q-input>
          </div>
          <div class="col-12 text-center q-mt-lg  ">
            <q-input class="input_txt q-pl-sm " label="Contraseña" borderless v-model="E_contraseña"></q-input>
          </div>
          <div class="col-12 text-center q-mt-md ">
            <q-btn label="Agregar" @click="guardarEncargado"
              class="mayuscula q-pl-sm q-pr-sm cl_standar rounded"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Eliminar  favorito -->
    <q-dialog v-model="ModalEliminar">
      <q-card class="rounded-1">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none q-pl-none q-pr-none text-center row ">
          <div class="col-12 text-center q-mt-md q-mb-md ">
            <p class="bold font-xl q-mb-xs ">¿Quitar encargado?</p>
          </div>
          <div class="col-12 text-center flex flex-center ">
            <q-btn label="Quitar" @click="encargados.splice(E_index,1), ModalEliminar=false" class="mayuscula cl_standar rounded q-mr-md"></q-btn>
            <q-btn label="Cancelar" @click="ModalEliminar = false" class="mayuscula cl_standar rounded q-ml-md"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>

<script>

import comprimirImagen from '../lib/comprimirImagen'
import procesarImagen from '../lib/procesarImagen'
import checkEmail from '../lib/checkEmail'
// import { SessionStorage } from 'quasar'

export default {
data(){
  return {
    ModalEliminar: false,
    mask_telefono: '(###) ### - ####',
    Encargados: false,
    n: 1,
    h: 2,
    E_nombre: '',
    E_cedula: '',
    E_correo: '',
    E_contraseña: null,
    E_id: null,
    E_index: null,
    delivery: true,
    pickup: true,
    programado: true,
    Instagram: '',
    Facebook: '',
    telefono: '',
    Mantener: false,
    loadingBar: false,
    Rate:0,
    model: null,
    msjError: null,
    id_repartidor: null,
    aprobado: null,
    iden: null,
    email: null,
    correo: null,
    apellido: null,
    cedula: null,
    isPwd: false,
    img_rif: null,
    img: 'statics/images/user.png',
    img1: null,
    img2: null,
    img3: null,
    sexo: null,
    generos: [
      {
        value:'F',
        label: 'Femenino'
      },
      {
        value: 'M',
        label: 'Masculino'
      }
    ],
    tipo_veh: 'Comida de prueba',
    vehiculos: ['Comida de prueba','Comida real'],
    whatsapp: null,
    cod_area_tlfn: null,
    cod_area_ws: null,
    imagenesVehiculos: true,
    repartidor: {},

    img_logo: 'statics/images/logo.png',
    file_logo: null,

    img_portada: 'statics/images/fondo.jpg',
    file_portada: null,

    styleImagenPortada: {
      backgroundSize: 'cover',
      backgroundImage: 'url(statics/images/fondo.jpg)',
    },


    nombre: '',
    telefono: '',
    rif: '',
    lista_subcategorias: [],
    subcategorias: [],
    categorias: [],
    categoria: null,
    Descripcion: '',
    identificaciones: ['V', 'E' , 'J'],
    identificacion: null,
    encargados: [],
    ubicacion: null,
    lat: null,
    lon: null,
    rutaAnterior: null,
    desactivarBoton: false,
  }
},


beforeRouteEnter(to, from, next) {
  next(vm => {
    vm.rutaAnterior = from;
  })
},


mounted(){
  this.cargarDatos();
},


computed: {
  doomi() {
    return this.$store.getters['doomi/datos'];
  },

  llegandoAlPerfil() {
    // Si el cambio de ruta viene de afuera o de una pantalla dentro del perfil.
    return this.rutaAnterior?.path == '/menu_configuraciones';
  },
},


watch: {
  img_portada(src) {
    this.styleImagenPortada.backgroundImage = "url("+ src.replaceAll('\\', '/') +")";
  },

  encargados: {
    deep: true,
    handler: function(encargados) {
      this.$q.localStorage.set('encargados', encargados);
    },
  },

  delivery(v) {
    this.$q.localStorage.set('mododelivery', !!v);
  },

  pickup(v) {
    this.$q.localStorage.set('modopickup', !!v);
  },

},


methods: {

  Programados(){
    if(this.programado == true){
    this.$router.push('/Programados');
  }
 
  },

  atras(){
    this.$router.back();
  },

  onSubmit(e) {
    let err = false;

    if (!this.nombre)
      err = 'Introduce el nombre';
    else if (!this.telefono)
      err = 'Introduce el número de teléfono';
    else if (this.subcategorias.length==0)
      err = 'Selecciona al menos una etiqueta';
    // else if (!this.$q.localStorage.getItem('ubicacion'))
    //   err = 'Selecciona la ubicacion';

    if (err) return this.$q.notify(err);

    const formData = new FormData();

    formData.set('iden', this.$store.getters['doomi/id']);
    formData.set('nombre', this.nombre);
    formData.set('categoria', this.categoria);
    formData.set('descripcion', this.Descripcion);
    formData.set('lat', this.lat);
    formData.set('lon', this.lon);
    formData.set('telefono', this.extraerDigitos(this.telefono));
    formData.set('imgweb', 1);
    formData.set('ubicacion', this.ubicacion);
    formData.set('rif_letra', this.identificacion);

    formData.set('modalidad_delivery', this.delivery ? 1 : 0);
    formData.set('modalidad_pickup', this.pickup ? 1 : 0);
    formData.set('modalidad_programados', this.programado ? 1 : 0);

    formData.set('img', this.img_logo==this.doomi.img ? '' : this.img_logo);
    formData.set('img1', this.img_portada==this.doomi.img_portada ? '' : this.img_portada);

    const rif = this.rif;
    formData.set('rif_numero', this.rif.substr(0, rif.length-1));
    formData.set('rif_chequeo', this.rif.substr(-1,1));

    for (let id_sub of this.subcategorias) {
      formData.append('subcategoria[]', id_sub);
    }

    for (let enc of this.encargados) {
      formData.append('nombres_apellidos[]', enc.nombre);
      formData.append('cedulas[]', enc.cedula);
      formData.append('correos[]', enc.correo);
      formData.append('idusu[]', enc.id);
      formData.append('pass[]', enc.pass || '');
    }

    formData.set('pais', this.doomi.id_pais);
    formData.set('estado', this.doomi.id_estado);
    formData.set('ciudad', this.doomi.id_ciudad);

    this.desactivarBoton = true;
    this.$api
      .put('/restaurantes/edit', formData)
      .then(res => {
        if (res.data.r) {
          this.$q.notify({ message:'Datos actualizados', timeout:2000 });
          this.$router.go(-1);
        }
        else {
          this.desactivarBoton = false;
          this.$q.notify(res.data.msj || 'Ocurrió un error');
        }
      })
      .catch(err => {
        this.desactivarBoton = false;
        this.$q.notify('Ocurrió un error');
      })
  },


  verEncargado(encargado, index=null) {
    this.E_nombre = encargado.nombre;
    this.E_cedula = encargado.cedula;
    this.E_correo = encargado.correo;
    this.E_contraseña = encargado.contraseña;
    this.E_id = encargado.id;
    this.E_index = index;
    this.Encargados = true;
  },

  guardarEncargado() {
    let err = false;
    if (!this.E_nombre)
      err = 'Introduzca el nombre';

    else if (!this.E_cedula)
      err = 'Introduzca la cédula';

    else if (!this.E_correo || !checkEmail(this.E_correo))
      err = 'Introduzca el correo';

    else if (!this.E_id && (!this.E_contraseña || this.E_contraseña < 8))
      err = 'La contraseña debe tener mínimo 8 caracteres';

    if (err) return this.$q.notify(err);

    const datos = {
      id: 0,
      nombre: this.E_nombre,
      cedula: this.E_cedula,
      correo: this.E_correo,
      contraseña: this.E_contraseña,
    };

    // Reemplazar usuario si existe.
    if (this.E_id) {
      datos.id = this.E_id;
      this.encargados.splice(this.E_index, 1, datos);
    }
    else {
      this.encargados.push(datos);
    }

    this.Encargados = false;
  },

  async cargarDatos() {
    this.$q.loading.show();
    await this.$store.dispatch('doomi/actualizar');

    this.nombre = this.doomi.nombre;
    this.rif = this.doomi.rif_numero + '' + this.doomi.rif_chequeo;
    this.identificacion = this.doomi.rif_letra;
    this.categoria = this.doomi.id_categoria;
    this.Facebook = this.doomi.facebook;
    this.Instagram = this.doomi.instagram;
    this.Descripcion = this.doomi.descripcion;
    this.telefono = this.doomi.telefono;

    this.delivery = Boolean(this.doomi.modalidad_delivery);
    this.pickup = Boolean(this.doomi.modalidad_pickup);

    this.img_logo = this.doomi.img || 'statics/images/logo.png';
    this.img_portada = this.doomi.img_portada || 'statics/images/fondo.png';
    this.Rate = this.unDecimales(this.doomi.calificacion);


    this.encargados = (this.doomi.usuarios || [])
      .map(e => ({
        id: e.id,
        nombre: e.nombre_apellido,
        cedula :e.cedula,
        correo: e.correo,
      }));

    this.ubicacion = this.doomi.ubicacion;
    this.lat = this.doomi.lat;
    this.lon = this.doomi.lon;



    if (['/Programados','/Misdirecciones'].includes(this.rutaAnterior?.path)) {
      const encargados = this.$q.localStorage.getItem('encargados');
      this.encargados = encargados || [];

      this.programado = true;

      if (this.$q.localStorage.has('mododelivery')) {
        this.delivery = this.$q.localStorage.getItem('mododelivery');
      }
      if (this.$q.localStorage.has('modopickup')) {
        this.pickup = this.$q.localStorage.getItem('modopickup');
      }

      const misdirecciones = this.$q.localStorage.getItem('misdirecciones');
      if (misdirecciones) {
        this.ubicacion = misdirecciones.ubicacion;
        this.lat = misdirecciones.coordenadas.lat;
        this.lon = misdirecciones.coordenadas.lon;
      }
    }
    else {
      this.programado = Boolean(this.doomi.modalidad_programados);
      this.$q.localStorage.remove('modopickup');
      this.$q.localStorage.remove('mododelivery');
    }

    const hor_prog = this.$q.localStorage.getItem('n_horarios_programados');
    if (hor_prog === 0) {
      this.programado = false;
    }

    this.$q.loading.hide();
    this.cargarCategorias();
    this.cargarSubcategorias().then(() => { this.subcategorias=this.doomi.id_subcategorias });
  },


  cargarCategorias() {
    this.$api
      .get(`/categorias`)
      .then(res => { this.categorias = res.data; })
      .catch(console.error)
  },
  cargarSubcategorias() {
    return new Promise((resolve, reject) => {
      this.$api
        .get(`/categorias/${this.categoria}/subcategorias`)
        .then(res => {
          this.subcategorias = [];
          this.lista_subcategorias = res.data;
          resolve(res.data);
        })
        .catch(err => {console.error(err); reject(err);})
    });
  },

  extraerDigitos(str) {
    // extraerDigitos('h01a mund0') -> '010'
    return (str.match(/\d/g) || []).join('');
  },

  unDecimales(n) {
    return Math.round(n * 10) / 10;
  },

  onReset(){},

  clickEliminarUsuario(index) {
    this.E_index = index;
    this.ModalEliminar = true;
    // this.encargados.splice(index,1);
  },

  async onImgInput(evt) {
    const name = evt?.target?.name;
    const file = evt?.target?.files[0];
    const img = new Image();
    img.src = await procesarImagen(evt);
    this.$set(this, name, comprimirImagen(img, 70, 1000));
  },

  async onImgInputPortada(evt) {
    const name = evt?.target?.name;
    const file = evt?.target?.files[0];
    const img = new Image();
    img.src = await procesarImagen(evt);
    this.$set(this, name, comprimirImagen(img, 70, 1000));
    this.styleImagenPortada.backgroundImage = `url(${this.img_portada})`;
  },


},



}</script>
