<template>
  <div class="bg-white">
    <div class="row text-center q-mb-md q-mt-lg flex content-between item-center ">
      <div class="col-2">
        <q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px"></q-img>
        <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" /> -->
      </div>
      <div class="col-8">
        <p class="mb-0 titulo-header ">Horario programado</p>
      </div>
      <div class="col-2">
      </div>
    </div>
    <div class="row q-mt-lg ">
      <div class="col-12 text-center ">
        <q-btn icon-right="add" label="Agregar" @click="abrirmodal"
          class="cl_standar rounded q-pr-sm q-pl-sm  mayuscula q-pa-xs " content-class="" size="sm"></q-btn>
      </div>
    </div>

    <div v-for="hor in horarios" :key="hor.id" class="row q-pr-md q-pl-md q-mt-lg ">
      <div class="col-12 row flex item-center bg_gray_only row q-mt-md rounded-1 q-pa-md  ">
        <div class="col-12 text-center ">
          <p class="font-lg mb-0 ">
            <!-- <q-icon name="calendar_today"></q-icon> Desde:{{ formatoFecha(hor.fec_ini) }} - Hasta:{{ formatoFecha(hor.fec_fin) }} -->
            <q-icon name="calendar_today"></q-icon> Fecha: {{ formatoFecha(hor.fec_ini) }}
          </p>
          <q-separator></q-separator>
        </div>
        <div class="col-8 q-mt-sm">
          <p class="font-lg mb-0 w-100 ">Hora inicio: {{ formatoHora(hor.fec_ini) }}</p>
          <p class="font-lg q-mt-md mb-0 w-100 ">Hora fin: {{ formatoHora(hor.fec_fin) }}</p>
        </div>
        <div class="col-4 q-mt-sm flex item-center content-around">
          <q-btn round icon="delete_forever" size="sm" @click="id=hor.id, ModalEliminar=true" class="cl_standar q-mr-sm q-mt-sm"></q-btn>
          <q-btn round icon="fa fa-edit" size="sm" @click="clickEditar(hor)" class="cl_standar q-mr-sm q-mt-sm"></q-btn>
          <q-btn round icon="fa fa-copy" size="sm" @click="horario=hor,clonar=true" class="cl_standar q-mt-sm"></q-btn>
        </div>
      </div>
    </div>

    <!-- Nuevo  Metodo de pago -->
    <q-dialog v-model="ModalNuevo">
      <q-card class="rounded-1">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none text-center row ">
          <div class="col-12 text-center q-mt-lg  ">
            <p class="bold font-xl q-mb-xs ">Seleccione la fecha</p>
            <q-input class="input_txt q-pl-sm q-pr-sm " borderless type="date" v-model="fecha"></q-input>
          </div>
          <div class="col-12 text-center q-mt-lg  ">
            <p class="bold font-xl q-mb-xs ">Hora incio</p>
            <q-input class="input_txt q-pl-sm q-pr-sm " borderless type="time" v-model="hora_inicio"></q-input>
          </div>
          <div class="col-12 text-center q-mt-lg  ">
            <p class="bold font-xl q-mb-xs ">Hora fin</p>
            <q-input class="input_txt q-pl-sm q-pr-sm " borderless type="time" v-model="hora_fin"></q-input>
          </div>
          <div class="col-12 text-center q-mt-md ">
            <q-btn :label="txt_btn" class="mayuscula q-pl-sm q-pr-sm q-mr-sm cl_standar rounded"
              :disabled="desactivarBoton" @click="guardardatos"></q-btn>
            <q-btn label="Eliminar" v-if="idb" class="mayuscula q-pl-sm q-pr-sm q-ml-sm cl_standar rounded"
              @click="ConfirmarEliminar"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Confirmar Eliminar -->
    <q-dialog v-model="ModalEliminar">
      <q-card class="rounded-1">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none text-center row ">
          <div class="col-12 text-center q-mt-xl q-mb-lg ">
            <p class="bold font-xl q-mb-xs ">¿Eliminar horario?</p>
          </div>
          <div class="col-12 text-center q-mt-md q-mb-xl ">
            <q-btn label="Eliminar" @click="eliminar()" :disabled="desactivarBoton" class="mayuscula cl_standar rounded q-mr-sm"></q-btn>
            <q-btn label="Cancelar" @click="ModalEliminar=id=false" class="mayuscula cl_standar rounded q-ml-sm"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Clonar horario -->
    <q-dialog v-model="clonar">
      <q-card class="rounded-1">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none text-center row ">
          <div class="col-12 text-center q-mt-lg  ">
            <p class="bold font-xl q-mb-xs ">Cantidad de dias a repetir</p>
            <q-input class="input_txt q-pl-sm q-pr-sm " borderless type="number" v-model="cantidad"></q-input>
          </div>
          <div class="col-12 text-center q-mt-md ">
            <q-btn label="Repetir" :disabled="desactivarBoton" @click="repetir" class="mayuscula q-pl-sm q-pr-sm q-ml-sm cl_standar rounded"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>



<script>
import { Money } from 'v-money'
import moment from 'moment'
export default {

components: { Money },


data() {
  return{
    clonar:false,
    datos: [],
    retorno: false,
    porcentaje: '',
    Efectivo: false,
    detalles: '',
    ModalNuevo: false,
    idb: null,
    // txt_btn: 'Agregar',
    ModalEliminar: false,
    editando: false,

    id: null,
    horarios: [],
    hora_inicio: null,
    hora_fin: null,
    fecha: null,
    cantidad: null,
    horario: null,
    desactivarBoton: false,
  };
},


beforeRouteLeave(to, from, next) {
  this.$q.localStorage.set('n_horarios_programados', this.horarios.length);
  next();
},


mounted(){
  this.cargarHorarios();
},


computed: {
  txt_btn() {
    return this.editando ? 'Guardar' : 'Agregar';
  },
},


methods: {
  cargarHorarios() {
    this.$api
      .get('/horarios/programados?modo=programado&id_res=' + this.$store.getters['doomi/id'])
      .then(res => {
        this.horarios = res.data;
      })
      .catch(err => {})
  },

  cargarDatosbancarios() {
  },

  abrirmodal() {
    this.nombre = '';
    this.detalles = '';
    this.retorno = false;
    this.porcentaje = 0;
    this.idb = null;
    // this.txt_btn = 'Agregar';
    this.ModalNuevo = true;
    this.editando = false;
  },

  clickEditar(hor) {
    this.id = hor.id;
    this.horario = hor
    this.fecha = moment(hor.fec_ini).format('YYYY-MM-DD');
    this.hora_inicio = moment(hor.fec_ini).format('HH:mm');
    this.hora_fin = moment(hor.fec_fin).format('HH:mm');

    this.editando = this.ModalNuevo = true
  },

  async repetir() {
    const dias = this.cantidad;
    let dias_acu = 0;
    // let fecha_pro = this.formatoFecha(this.horario.fec_ini);
    // let hora_pro_i = this.formatoHora(this.horario.fec_ini);
    // let hora_pro_f = this.formatoHora(this.horario.fec_fin);

    let fecha_pro = moment(this.horario.fec_ini).format('YYYY-MM-DD');
    let hora_pro_i = moment(this.horario.fec_ini).format('HH:mm:ss');
    let hora_pro_f = moment(this.horario.fec_fin).format('HH:mm:ss');

    if (!dias)
      return this.$q.notify('Ingresa la cantidad de días a repetir');
    else if (dias > 30)
      return this.$q.notify('Ingresa un número menor a 30 días');

    this.desactivarBoton = true;
    let data;
    while(dias_acu < dias) {
      fecha_pro = moment(fecha_pro+' '+hora_pro_i).add(1, 'days').format('YYYY-MM-DD');

      data = {
        modalidad: 'programado',
        id_res: this.$store.getters['doomi/id'],
        fecha_inicio: fecha_pro + " " + hora_pro_i,
        fecha_fin: fecha_pro + " " + hora_pro_f,
      };

      await this.$api
        .post('/horarios/programados', data)
        .then(res => {
          dias_acu += 1;
        })
        .catch(console.error);
    };
    this.desactivarBoton = this.clonar = false;
    this.cargarHorarios();
  },

  guardardatos() {
    let err = false;
    if (!this.fecha)
      err = 'Selecciona la fecha';
    else if (!this.hora_inicio)
      err = 'Ingrese la hora inicial';
    else if (!this.hora_fin)
      err = 'Ingrese la hora final';

    if (err)
      return this.$q.notify(err);

    const datos = {
      modalidad: 'programado',
      id_res: this.$store.getters['doomi/id'],
      fecha_ini: this.fecha,
      hora_ini: this.hora_inicio,
      hora_fin: this.hora_fin,
      fecha_inicio: this.fecha +' '+ this.hora_inicio,
      fecha_fin: this.fecha +' '+ this.hora_fin,
    };

    const metodo = this.editando ? 'put' : 'post';
    const ruta = '/horarios/programados/' + (this.editando ? this.id : '')

    this.desactivarBoton = true;
    this.$api[metodo](ruta, datos)
      .then(err => {
        this.desactivarBoton = false;

        if (err?.data?.msj)
          return this.$q.notify(err.data.msj);

        this.ModalNuevo = false;
        this.cargarHorarios();
      })
      .catch(err => {
        this.desactivarBoton = false;
        this.$q.notify('Ocurrió un error');
      })
  },

  eliminar() {
    this.desactivarBoton = true;
    this.$api
      .delete('/horarios/programados/' + this.id)
      .then(res => {
        this.desactivarBoton = this.ModalEliminar = this.id = false;
        this.cargarHorarios();
      })
      .catch(err => {
        this.desactivarBoton = false;
        this.$q.notify('Ocurrió un error');
      })
  },

  ConfirmarEliminar(row){
    this.ModalEliminar = true;
  },

  formatoFecha(date) {
    return moment(date).format('DD/MM/YYYY');
  },

  formatoHora(date) {
    return moment(date).format('hh:mm A');
  },

  atras() {
    this.$router.back();
  },


},


}</script>