<template>
<div  class="blue cont_home fuente " >
	<div >
		<div class="text-center">

		<div style="z-index:5" class="row absolute-top q-mt-lg w-100  text-center q-mb-md flex content-between item-center ">
			<div class="col-2 " @click="clickAyuda">
				<div style="position:relative" class=" q-ml-md bg-img-ayuda ">
					  <q-btn flat style="position:absolute;top:5px;right:0" class="mb-0 clr_light_pink font-lg fas fa-question-circle" ></q-btn>
                </div>
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header-repartidor " >Pedido N° {{ pedido.id }}</p>
			</div>
			<div class="col-2">
				<div class=" q-ml-md" style="width:10px;  margin-right:auto;">
					<!-- <p class="mb-0 titulo-header-repartidor " >X</p> -->
                     <q-btn @click="clickActualizar" icon="autorenew" round size="sm" class="cl_standar q-pa-xs font-xl " ></q-btn>
					
				</div>
			</div>
		</div>

			<GoogleMapRepartidor v-if="mostrarMapa" style="height: 75vh;overflow:hidden " :setDirection="direccion" @hook:mounted="cargarDireccion" />
			<div v-else style="height: 75vh;overflow:hidden; background-color:#EEE; "></div>

		</div>
        <div class=" w-100 vh-mapa flex flex-center item-center bg-white">
		<div class="row w-100 q-pa-md text-white rounded-1 box-shadow-1 ">
			<div class="col-2 flex item-center row">
					<div class="col-12 text-center  ">
						<img class="circle" height="50px" width="50px" :src="pedido.doomi_img || 'statics/images/logo.png'" >
					</div>
			</div>
			<div class="col-9 row">
				 <div class="col-12 q-ml-sm row ">
                     <div class="col-9">
                         <p class="text-black font-lg mb-0 " >Recogida</p>
					     <p class="text-black mb-0 font-lg bold "  >{{ pedido.doomi_nombre }}</p>
                     </div>
                     <div style="height:25px" class="col-3  text-center   ">
                          <q-btn type="a" :href="'tel:+'+pedido.doomi_telefono" class="bg-grey-light text-black soft-border q-mt-md " icon="phone" size="sm"  ></q-btn>
                     </div>
				</div>
				<div class="col-12 q-mt-md q-ml-sm ">
					<p class="text-black mb-0 font-lg "  > {{ pedido.doomi_ubicacion }} </p>
				</div>
			</div>

			<!--<div @click="productos = true" class="col-12 q-mt-md flex flex-center ">
				<div class="bg-grey-light flex flex-center item-center rounded w-70 flex q-pa-sm">
				<q-icon class="q-ml-sm font-xl" name="check_circle_outlined" ></q-icon>
				<p class="text-black font-lg mb-0 " >Articulos por recoger</p>
				<q-icon class="q-ml-sm font-xl" name="keyboard_arrow_down" ></q-icon>
				</div>
			</div>-->

		</div>



        <!-- modal productos -->
        <q-dialog v-model="productos" persistent>
        <q-card style="" class="w-100  " >

            <q-card-section  class="pl-0 pt-0 pr-0">
            <div class="row q-pl-md q-pr-md  q-pb-xl ">

			<div @click="clickAyuda" class="col-12 flex item-center content-left ">
              <div style="position:relative" class=" q-ml-md bg-img-ayuda ">
				 <q-btn flat style="position:absolute;top:5px;right:0" class="mb-0 clr_light_pink font-lg fas fa-question-circle" ></q-btn>
              </div>
			</div>

            <div class="col-12 flex flex-center  ">
                <q-icon class="q-ml-sm font_titulosxl" name="check_circle_outlined" ></q-icon>
                <p class=" font_tituloslg mb-0 bold " >Articulos por recoger</p>
            </div>

            <div style="text-align:initial" gg class="col-12 q-pt-md flex item-center ">
                <q-checkbox  v-model="all_selec" color="black" /><p class="mb-0 font-xl q-pl-md bold " > Seleccionar todos </p>
			</div>

            <div class="col-12  ">
                <div
                	v-for="(art, index) of articulosPorRecoger"
                	:key="index"
                	:style="art.tabular ? 'margin-left:30px;' : ''"
                	class="flex item-center "
                >
                	<label class="q-mt-md row flex  " >
						<div class="col-1">
                            <q-checkbox  v-model="art.model.checked" color="black" />
						</div>
						<div style="text-align:initial"
						gg class="col-11 q-pl-md flex item-center ">
                            <p class="mb-0 font-xl q-pl-md  " > {{ art.nombre }} X{{ art.cantidad }} {{ art.texto_notas }} </p>
						</div>
	                </label>
                </div>
            </div>

            <div style="margin-top:10vh"  class=" flex flex-center w-100 q-mt-md  ">
                <q-btn  class="rounded w-90 cl_standar " @click="clickRecibir" :disabled="botonRecibir.disabled" :label="botonRecibir.label" ></q-btn>
            </div>

            </div>
            </q-card-section>

        </q-card>
        </q-dialog>
		</div>
	</div>
</div>
</template>

<script>

import GoogleMapRepartidor from 'components/GoogleMap'
import Swal from 'sweetalert2'

export default {

components: {GoogleMapRepartidor},

data () {
	return {
		botonRecibir: {
			label: 'Listo para entregar',
			disabled: false,
		},
		all_selec: false,
        productos: false,
		numero1: false,
		numero2: false,
		numero3: false,
		numero4: false,
		numero5: false,
		numero6: false,
		pedido: {},
		checks_ordenes: {},
		checks_adis: {},
		checks_acom: {},
		cliente: {},
		configuracion: {},
		direccion: null,
		contar: 0,
		mostrar_cerrar: true,
		mostrarMapa: true,
  };
},

created(){
	this.creado();

},

watch: {
	puede_empezar_delivery(val){
		if(val) {
			this.productos = true;
			this.botonRecibir.label = 'Listo para entregar';
			this.botonRecibir.disabled = false;
		}
	},

	pedido(val){
		if(this.pedido.id) {
			this.cargarDireccion();
		}
	},
},

methods: {
	creado() {
		this.$q.loading.show();

		// const idPedido = this.$route.params.id;
		const idPedido = this.$store.getters['repartidor/pedido_actual']

		this.$api.general.recuperarDataPorId('/pedidos/repartidor', idPedido)
			.then(resp => {
				this.$q.loading.hide();
				this.pedido = resp;
				this.cliente = resp.cliente;
				if([5,6,7,8].includes( parseInt(resp.id_estatus, 10) )){
					//this.botonRecibir.disabled = true;
					this.botonRecibir.label = 'Esperando al doomi . . .';
				}else if([9].includes( parseInt(resp.id_estatus, 10) )){
					this.productos = true;
				}
			})
			.catch(err => this.$q.loading.hide());

		this.$api.general.recuperarData('/configuracion').then(conf => { this.configuracion = conf });


	  this.$api.general.recuperarData('/repartidores/esta_libre')
	  .then(resp => {
	    if (resp && resp.r) {
	      this.$store.dispatch('repartidor/terminar_pedido')
	        .then(() => this.$router.push('/Pedidos'));
	    }
	  });

	},

	Modal(){
        setTimeout (() => this.productos = true, 13000 );
    },

	async cargarDireccion(){
		this.direccion = null;
		var data_r = await this.$api.repartidor.recuperarDatos();
		var lat_rep = null;
		var lon_rep = null;
		var img_rep = "statics/images/map-repartidor.png";
		if(this.pedido.repartidor){
			lat_rep = data_r.lat;
			lon_rep = data_r.lon;
			img_rep = "statics/images/transporte/"+data_r.vehiculo[0].icono_veh;
		}
		let direccion = {
			destination: {
				lat: this.pedido.lat_dir_p,
				lon: this.pedido.lon_dir_p
			},
			origin: {
				lat: this.pedido.doomi_lat,
				lon: this.pedido.doomi_lon
			},
			repartidor: {
				lat: lat_rep,
				lon: lon_rep,
				imgrep: img_rep
			},
			sts: this.pedido.id_estatus
		};
		await new Promise((resolve) => {setTimeout(() => resolve(), 1000)});
		direccion.destination = direccion.origin;
		this.direccion = direccion;
		/*var data = this.$auth.obtenerDatos();
		if(data){
			var rutasocke = 'RecibirUbicacionRepApp'+data.id;
			this.$socket.removeListener(rutasocke);
			var this2 = this;
			this.$socket.on(rutasocke, function (r) {
				if(data.text_tipo_usu!='Cliente' && data.id==r.id && this2.productos==false){
		         	//console.log(r);
		         	var direccion = this2.direccion;
		         	if(direccion!=null){
		         		this2.direccion = null;
		         		/*setTimeout(() => {
		         				this2.contar++;
		         				var con = '0.000'+this2.contar;
								direccion.repartidor.lat = parseFloat(r.lat+con);
								direccion.repartidor.lon = parseFloat(r.lon+con);
								this2.direccion = direccion;
							}, 1000)
		         		/*if(this2.contar>=2 || this2.contar==0){
		         			this2.direccion = null;
			         		setTimeout(() => {
								direccion.repartidor.lat = r.lat;
								direccion.repartidor.lon = r.lon;
								this2.direccion = direccion;
							}, 3000)
							console.log(this2.direccion)
							this2.contar=0;
						}
						this2.contar++;*
					}
		        }
	      	})
	    }*/
	},

	clickRecibir(){
		this.botonRecibir.disabled = true;
		this.$store.dispatch('repartidor/recibir_pedido')
			.then(r => {
				this.$router.push({ path: '/EntregarDelivery' })
			})
			.catch(e => { console.log('CATCH:', e); this.botonRecibir.disabled = false })
	},

	clickAyuda(){
		if(this.configuracion.whatsapp_soporte){
			window.open('https://wa.me/'+this.configuracion.whatsapp_soporte);
		}
	},

	clickActualizar(){
		// this.mostrar_cerrar = false;
		this.$store.dispatch('repartidor/verificar_libertad')
			.then(libre => {
				if (libre) {
					this.$store.dispatch('repartidor/terminar_pedido')
					.then(() => this.$router.replace('/Pedidos'));
				}
				else {
					// this.mostrar_cerrar = true;
					this.$q.notify({message:'El pedido sigue pendiente', timeout:1500});
					this.recargarMapa();
				}
			})
			.catch(() => this.recargarMapa());
	},


	recargarMapa() {
		this.mostrarMapa = false;
		setTimeout(() => {this.mostrarMapa = true}, 200);
	},
},


computed: {
	cantidadArticulos(){
		return this.pedido.ordenes ? this.pedido.ordenes.length : 0;
	},

	articulosPorRecoger(){
		const articulos = [];
		// Tipo 1(menu), 2(adicional), 3(acompañante).

		for (let orden of this.pedido.ordenes || []) {
			//this.$set(this.checks_ordenes, orden.id, {checked:true});
			this.$set(this.checks_ordenes, orden.id, {checked:this.all_selec});
			articulos.push({
				nombre: orden.nombre,
				cantidad: orden.cantidad,
				texto_notas: orden.notas ? '('+orden.notas+')' : '',
				tipo: 1,
				model: this.checks_ordenes[orden.id],
			});

			if(orden.adicionales.length > 0) for (let adi of orden.adicionales) {
				//this.$set(this.checks_adis, adi.id, {checked:true});
				this.$set(this.checks_adis, adi.id, {checked:this.all_selec});
				articulos.push({
					tabular: true,
					nombre: adi.nombre,
					cantidad: adi.cantidad,
					tipo: 2,
					model: this.checks_adis[adi.id],
				});
			}
			if(orden.acompañantes.length > 0) for (let aco of orden.acompañantes) {
				//this.$set(this.checks_acom, aco.id, {checked:true});
				this.$set(this.checks_acom, aco.id, {checked:this.all_selec});
				articulos.push({
					tabular: true,
					nombre: aco.nombre,
					cantidad: aco.cantidad,
					tipo: 3,
					model: this.checks_acom[aco.id],
				});
			}
		}
		return articulos;
	},

	puede_empezar_delivery(){ return this.$store.getters['repartidor/puede_empezar_delivery'] },
},


};</script>

<style>
.my-table-details {
	font-size: 0.85em;
	font-style: italic;
	max-width: 200px;
	white-space: normal;
	color:white;
	margin-top: 4px;
}
</style>
