<template>
	<div class="fuente">
		
		<div class="row text-center q-mt-lg   flex content-between item-center ">
			<div class="col-2">
				<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn  flat class="btn_back" color="primary" icon="keyboard_arrow_left" label="" to="/Carrito" /> -->
			</div>
			<div class="col-8">
				<p class="mb-0 titulo-header " >Recuperar contraseña</p>
			</div>
			<div class="col-2">
			</div>
		</div>

		<q-form id="form_recuperar" @submit="onSubmit" @reset="onReset" class=" q-mt-md ">
			<div class="row q-mt-md">
				<div class="col-12 flex flex-center">
					<q-input :dense="true" class="w-80" name="correo" v-model="correo"  type="email" label="Correo" v-on:keyup="limpiar" > 
						<template v-slot:prepend>
							<q-icon name="local_post_office" />
						</template>
					</q-input>
				</div>
			</div>

			<div class="col-12 text-center" v-if="msjError || msjSucces ">
				<p style="color:red;" v-if="msjError">{{ msjError }}</p>
				<p style="color:green;" v-if="msjSucces">{{ msjSucces }}</p>
			</div>

			<div class="flex flex-center q-mb-md btn-fixed-end " >
				<q-btn  size="md" label="Enviar" type="submit" :disabled="buttonDisabled" class="w-80 q-mt-md cl_standar rounded" />
			</div>
		</q-form>
	</div>
</template>

<script>
export default {
		data() {
			return{
				buttonDisabled: false,
				msjError: false,
				msjSucces: false,
				correo:''
			}
		},
		methods: {
				 limpiar: function() {
		this.msjError = false;
		this.msjSucces = false;
		},

		onSubmit(evt){
			evt.preventDefault();
			this.buttonDisabled = true;
			this.msjError = false;
			this.msjSucces = false;

			this.formData = new FormData(document.getElementById('form_recuperar'));
			this.$api.general.post('login/recuperar_app', this.formData)
				.then(r => { 
					if(r.r){ //si todo esta bien, se borran los datos de los campos
						this.msjSucces = r.msj||r.msg;
						this.correo= '';
						 swal.fire('Genial!!',r.msj||r.msg,'success');
						this.$router.push('/Iniciodesesion');
					}else
						 swal.fire('Oops...',r.msj||r.msg,'error');
					this.buttonDisabled = false;
				})
				.catch(err => {
					swal.fire('Oops...',err.msj||err.msg,'error');
					this.buttonDisabled = false;
				});
		},
		onReset(){},
		Atras(){
				this.$router.push('/Iniciodesesion');
				//this.$router.go(-1)
			}
			},
}
</script>
