<template>
<div >
            
            <div class="row text-center q-mt-lg   flex content-between item-center ">
			<div class="col-2">
				<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn  flat class="btn_back" color="primary" icon="keyboard_arrow_left" label="" to="/Carrito" /> -->
			</div>
			<div class="col-8">
				<p class="mb-0 titulo-header " >Recuperar contraseña</p>
			</div>
			<div class="col-2">
			</div>
		</div>
       
       <div class="q-mt-md" >
      <div class="row">
            <div style="margin-left:10%;" class="">
      <label>Correo</label>
      </div>
           <div class="col-12 flex flex-center">
     <q-input borderless class="w-80 input rounded" v-model="email"  type="email" hint=""  :rules="[ val => val && val.length > 10 || 'Ingrese una dirección de correo válida']" />
           </div>
      </div>
      </div>
     <div class="flex flex-center" >
          <q-btn class="cl_standar soft-border q-mt-md " size="sm" label="Enviar" type="Guardar" />
     </div>
</div>
</template>
