<template>
  <div class="bg-white">

    <div class="row text-center q-mb-md q-mt-lg flex content-between item-center ">
      <div class="col-2">
        <q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px"></q-img>
        <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" /> -->
      </div>
      <div class="col-8">
        <p class="mb-0 titulo-header ">Repartidores favoritos</p>
      </div>
      <div class="col-2">
      </div>
    </div>

    <div class="row q-mt-lg ">
      <div class="col-12 text-center ">
        <q-btn icon-right="add" label="Agregar" @click="Chofer = true, identificacion=N_identificacion=vehiculo=null" class="cl_standar rounded q-pa-xs  mayuscula "
          content-class="" size="sm"></q-btn>
      </div>
    </div>

    <div v-for="rep in repartidores" :key="rep.id" class="row q-pl-md q-pr-md q-mt-lg ">
      <div class="col-12 row flex item-center ">
        <div class="col-3 flex flex-center ">
          <q-img :src="rep.img || 'statics/images/user.png'" class="circle img-user " width="60px" height="60px"></q-img>
        </div>
        <div class="col-7 q-pl-sm ">
          <p class="font-lg bold w-100 mb-0">{{rep.nombre}} {{rep.apellido}}, ID N°{{rep.id}}</p>
          <p class="w-100 mb-0 ">{{ rep.identificacion }}-{{ rep.cedula }}</p>
        </div>
        <div class="col-2 flex flex-center ">
          <q-btn class="cl_standar" @click="Eliminar=true, id=rep.id" icon="delete_forever" round></q-btn>
        </div>
      </div>
    </div>


    <div v-if="!repartidores.length" class="q-mt-xl">
      <br />
      <center><b><i>{{ mensaje }}</i></b></center>
    </div>


    <!-- Eliminar  favorito -->
    <q-dialog v-model="Eliminar">
      <q-card class="rounded-1">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none q-pl-none q-pr-none  text-center row ">
          <div class="col-12 text-center q-mt-md q-mb-md ">
            <p class="bold font-xl q-mb-xs ">¿Quitar de favoritos?</p>
          </div>
          <div class="col-12 flex flex-center ">
            <q-btn label="Quitar" @click="clickQuitar()" :disabled="desactivarBoton" class="mayuscula cl_standar rounded q-mr-md"></q-btn>
            <q-btn label="Cancelar" @click="Eliminar=id=false" class="mayuscula cl_standar rounded q-ml-md"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>


    <!-- Nuevo chofer favorito -->
    <q-dialog v-model="Chofer">
      <q-card class="rounded-3">
        <!-- <q-card-section class="text-center" >
          <p class="bold font-xl " >¿El pedido esta listo para ser entregado?</p>
        </q-card-section> -->
        <q-card-section class="q-pt-none text-center row ">
          <div class="col-12 text-center q-mt-lg  ">
            <p class="bold font-xl q-mb-xs ">Tipo de vehiculo</p>
            <q-select class="input_txt q-pr-sm q-pl-sm  font-xl " borderless v-model="vehiculo" map-options emit-value option-label="nombre_veh" option-value="id" :options="vehiculos"></q-select>
          </div>
          <div class="col-12 text-center q-mt-lg  ">
            <p class="bold font-xl q-mb-xs ">Identificación</p>
            <q-select class="input_txt q-pr-sm q-pl-sm font-xl " borderless v-model="identificacion"
              :options="identificaciones"></q-select>
          </div>
          <div class="col-12 text-center q-mt-lg  ">
            <p class="bold font-xl q-mb-xs ">Número de Identificación</p>
            <q-input class="input_txt q-pl-sm font-xl " borderless v-model="N_identificacion"></q-input>
          </div>
          <div class="col-12 text-center q-mt-md ">
            <q-btn label="Agregar" @click="clickAgregar" :disabled="desactivarBoton" class="mayuscula q-pl-sm q-pr-sm cl_standar rounded"></q-btn>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

  </div>
</template>


<script>
import { mapGetters } from 'vuex'

export default {

data(){
  return {
    repartidores: [],
    Chofer: false,
    Eliminar: false,
    vehiculo: null,
    vehiculos: [],
    identificacion: null,
    identificaciones: ['V', 'E', 'J', 'H'],
    N_identificacion: null,
    desactivarBoton: false,
    mensaje: 'Sin favoritos',

    id: null,
  };
},


mounted() {
  this.cargarFavoritos();

  this.$api
    .get('/tipovehiculo')
    .then(res => { this.vehiculos = res.data })
    .catch(console.error)
},


methods: {
  cargarFavoritos() {
    this.$api
      .get(`/restaurantes/${ this.$store.getters['doomi/id'] }/repartidor-favorito`)
      .then(res => {
        this.repartidores = res.data.map(d => d.repartidor);
      })
      .catch(console.error)
  },

  clickQuitar(){
    this.desactivarBoton = true;
    this.$api
      .delete('/restaurantes/repartidor-favorito/'+this.id)
      .then(res => {
        this.desactivarBoton = false;
        this.Eliminar = false;
        this.cargarFavoritos();
      })
      .catch(err => {
        this.desactivarBoton = false;
      })
  },

  clickAgregar() {
    let err = false;
    if (!this.identificacion || !this.N_identificacion || !this.vehiculo)
      return this.$q.notify('Complete todos los campos');

    const datos = {
      id_restaurante: this.$store.getters['doomi/id'],
      identificacion: this.identificacion,
      cedula: this.N_identificacion,
      tipo_vehiculo: this.vehiculo,
    };

    this.desactivarBoton = true;
    this.$api
      .post('/restaurantes/repartidor-favorito', datos)
      .then(res => {
        this.desactivarBoton = false;
        if (res.data.msg || res.data.msj) {
          return this.$q.notify(res.data.msg || res.data.msj);
        }
        this.Chofer = false;
        this.cargarFavoritos();
      })
      .catch(err => {
        console.error(err);
        this.desactivarBoton = false;
        this.$q.notify('Ocurrió un error');
      })
  },

  atras() {
    this.$router.back();
  },

},


};</script>