<template>
	<div class="fuente">
		<div class="flex item-center flex-start q-mt-sm">
			<q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Iniciodesesion" />
			<h6 class="titulo-header m-0"> Iniciar sesión</h6>
		</div>
		
		<div class="row q-mt-md ">
			<div style="margin-left:10%;" class="">
				<label>Correo</label>
			</div>

			<div class="col-12 flex flex-center">
				<q-input borderless class="input w-80" v-model="email"  type="email" hint=""  :rules="verificarEmail" />
			</div>
		</div>

		<div class="q-mt-md">
			<div style="margin-left:10%;" class="">
				<label>Contraseña</label>
			</div>

			<div class="flex flex-center">
				<q-input borderless class="w-80 input" v-model="password" :type="isPwd ? 'password' : 'text'" hint="">
					<template v-slot:append>
						<q-icon
						:name="isPwd ? 'visibility_off' : 'visibility'"
						class="cursor-pointer"
						@click="isPwd = !isPwd"
						/>
					</template>
				</q-input>
			</div>
		</div>

		<div class="col-12 text-center q-mt-md" v-if="loginError">
			<p style="color:red;">Usuario no encontrado</p>
		</div>

		<div class="flex flex-center" >
			<q-btn class="soft-border cl_standar q-mt-md" @click="login" size="md" label="Aceptar" type="Guardar" />
		</div>

		<div class="flex flex-center q-ma-md">
			<p class="text-center">¿Olvidaste tu contraseña?
				<q-btn flat class="" to="/Recuperarrepartidor" size="md" label="Recuperar" type="Guardar" />
			</p>
		</div>
	</div>
</template>


<script>

export default {
	data () {
		return {
			password: '',
			isPwd: true,
			email: '',
			loginError: false,
			verificarEmail: [this.$utils.verificarCorreo],
		}
	},
	methods: {
		login() {
			this.$auth.autenticar(this.email, this.password)
				.then(res=>{
					if(this.$auth.obtenerTipoUsuario()=='repartidor'){
						this.$router.push({ name:'Pedidos' })
					}
				})
				.catch(err=>{
					this.loginError=true
				});
		},
	},
}


</script>
