<template>
    <div class="cont_Verinfo vh100 q-pa-lg ">

        <div class="row">
            <div class="col-12 flex item-center ">
                <img src="statics/images/logo.png" class="bordes soft-border " width="100px" heigth="100px" alt="">

                <div class="w-60">
                    <p class=" mb-0 font_tituloslg q-ml-sm "> Dulces sabor de piña cake </p>
                    <p class=" q-ml-sm mb-0 q-mt-sm nombre-cat"> Reposteria, Postres, Catering, Reposteria, Postres, Catering </p>
                </div>

            </div>
            
            
                <div style="justify-content:flex-end" class=" w-100 flex flex-end item-center content-between " >
							<p  class="mb-0 font-xl bold q-mr-sm q-ml-sm q-mt-xs " >{{rating}}</p>
                           <q-rating
								v-model="rating"
								max="5"
								size="25px"
								color="yellow"
								color-selected="yellow"
								icon="star_outline"
								icon-selected="star"
								icon-half="star_outline"
								no-dimming
								class=""
							/>
                            <p class="mb-0 q-ml-xs font-md " >calificar</p>
				</div>
              
              <div class="col-12 q-mt-md q-pl-sm q-pr-sm ">
                  <p class="mb-0  " >Nuestra especialidad es la torta de piña rica y ademas te ofrecemos tortas tematicas y dulces</p>
              </div>

              <div class=" q-mt-md col-12 text-center">
                   <p class="mb-0 bg-grey font-lg q-pa-sm w-100 text-white soft-border" >Disponible pedido por encargo</p>
              </div>

              <div class="col-12 q-mt-md soft-border bg_white q-pt-sm q-pb-sm q-pl-md q-pr-md ">
                   <p class=" mb-0 font-md text-grey">Direccion</p>
                   <div class="flex item-center  w-100">
                       <q-icon style="font-size:30px" class="" name="pin_drop" />
                       <p class="mb-0 q-ml-sm font-lg w-80 bold " >Local 13, Edificio Sofia, Calle 12 San Felipe, Yaracuy</p>
                   </div>
              </div>

               <div class="col-12 q-mt-md soft-border text-center bg_white q-pt-sm q-pb-sm q-pl-md q-pr-md ">
                   <p class=" mb-0 font_tituloslg text-grey">Horarios de envio</p>
                   <p class=" mb-0 font_titulosmd ">Lunes a Domingo</p>
                   <p class=" mb-0 font_titulosmd ">7:00am / 8:00pm</p>
              </div>

        </div>

    </div>
</template>

<script>
export default {
    data(){
        return{
            rating: 4.1
        }
    }
}
</script>