<template>
<div  class="blue cont_home fuente " >
	<div v-if="pedido.id">
		<div class="text-center">

		<div style="z-index:5" class="row absolute-top q-mt-lg w-100  text-center q-mb-md flex content-between item-center ">
			<div class="col-2">
				<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" class="q-ml-lg" width="20px" height="30px" ></q-img>
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header-repartidor " >Pedido N° {{ pedido.id }}</p>
			</div>
			<div class="col-2">

			</div>
		</div>

			<GoogleMapRepartidor style="height: 50vh;overflow:hidden " :setDirection="direccion" @hook:mounted="cargarDireccion" />


		</div>
        <div class=" w-100 flex item-center flex-center vh50 bg_rosa">
		<div class="row w-100 q-pa-md text-white rounded-1 box-shadow-1 ">
			<div class="col-2  row">
					<div class="col-12 text-center  ">
						<img class="circle" height="35px" width="35px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
					</div>

					 <div class="col-12 text-center">
                        <p class="font-xl text-black m-0 bold" >|</p>
					 </div>

					<div class="col-12 text-center">
						<img class="circle" height="35px" width="35px" :src=" pedido.cliente.foto || 'statics/images/user.png'" >
					</div>
			</div>
			<div class="col-10 row">
				 <div class="col-10 q-ml-sm ">
					 <div class="flex ">
                      <p class="text-black font-lg mb-0 " >Recogida</p>
					  <p class="text-black mb-0 font-lg q-ml-sm bold " >{{ pedido.doomi_nombre }}</p>
					 </div>
					<p class="text-black mb-0 font-lg "  >{{ pedido.doomi_ubicacion }}</p>
				</div>
				 <div class="col-10 q-mt-md q-ml-sm ">
					 <div class="flex ">
                      <p class="text-black mb-0 font-lg " >Entrega</p>
					  <p class="text-black mb-0 font-lg q-ml-sm bold " >{{ pedido.cliente.nombre || 'Cliente'}}  {{ pedido.cliente.apellido || '' }}</p>
					 </div>
					<p class="text-black mb-0 font-lg "  > {{ pedido.direccion }}</p>
				</div>
			</div>

				<q-separator />

				<div class="col-12 flex flex-center item-center q-mb-md q-mt-md ">
				<p class="font_titulosxl mb-0 text-black " >{{ $utils.precio(pedido.pago_del, '$') }} </p>
				<p class="font-lg mb-0 q-ml-sm text-black " >Ganancia total</p>
				</div>

				<div class="col-12 flex flex-center ">
					<q-btn @click="tomarPedido"  class=" w-80 cl_standar rounded" size="md" :label="botonEmpezar.label" :disabled="botonEmpezar.disabled"></q-btn>
				</div>

				<div class="col-12 flex flex-center q-mt-md ">
					<q-btn @click="rechazarPedido"  class=" w-80 btn-border-black rounded  " size="md" label="Rechazar" ></q-btn>
				</div>

		</div>



		</div>

		<!-- <div style="height: 20px;"  class="row degradado rounded-1 text-center ">
			<div class="text-white col-12 text-center">
							 <p class="m-0 nombre-doomi " >Informacion del cliente</p>
			</div>

		</div>

		<div class="row q-ml-xl q-mr-xl  q-pa-md ">
		<div class="flex item-center text-white  col-12 content-between">
			<p class="m-0 nombre-doomi text-black " >#Id cliente</p>
			<div class="w-50">
				<b><p class="etiquetas nombre-doomi soft-border " >#{{ cliente.id }}</p></b>
			</div>
		</div>
		<div class="flex item-center text-white  q-mt-md col-12 content-between">
			<p class="m-0 nombre-doomi text-black " >Nombre</p>
			<div class="w-50">
				<b>	<p class="etiquetas nombre-doomi soft-border " >{{ cliente.nombre }}</p> </b>
			</div>
		</div>
		<div class="flex item-center text-white col-12 q-mt-md content-between">
			<p class="m-0 nombre-doomi text-black " >Telefono</p>
			<div class="w-50">
				<b> <p class="etiquetas nombre-doomi soft-border " >{{ cliente.telefono }}</p> </b>
			</div>
		</div>

		</div>

		<div style="height:20px;"  class="row degradado rounded-1 text-center ">
			<div class="text-white col-12 text-center">
							 <p class="m-0 nombre-doomi" >Informacion del doomi</p>
			</div>
		</div>

		<div class="row q-ml-xl q-mr-xl  q-pa-md ">
			<div class="flex item-center text-white q-mt-md m-0 col-12 content-between">
				<p class="m-0 nombre-doomi text-black " >#Id doomi</p>
				<div class="w-50">
					<b><p class="etiquetas nombre-doomi m-0 soft-border " >#{{ pedido.id_restaurante }}</p></b>
				</div>
			</div>
			<div class="flex item-center text-white q-mt-md col-12 content-between">
				<p class="m-0 nombre-doomi text-black " >Nombre</p>
				<div class="w-50   ">
					<b>	<p class="etiquetas nombre-doomi soft-border " >{{ pedido.doomi_nombre }}</p> </b>
				</div>
			</div>
			<div class="flex item-center text-white col-12 q-mt-md content-between">
				<p class="m-0 nombre-doomi text-black " >Direccion</p>
				<div class="w-50 ">
					<b> <p class="etiquetas m-0 nombre-doomi soft-border " >{{ pedido.doomi_ubicacion }}</p> </b>
				</div>
			</div>

			<div class="flex item-center text-white col-12 q-mt-md content-between">
				<p class="m-0 nombre-doomi text-black " >Telefono</p>
				<div class="w-50">
					<b> <p class="etiquetas nombre-doomi soft-border " >{{ pedido.doomi_telefono }}</p> </b>
				</div>
			</div>
		</div>


		<div class="q-mt-xs">
			<label
				class="degradado q-m-0 titulo-header text-white"
				style="display:block; text-align:center; margin:15px auto;"
				>
					Pedido #{{ pedido.id }}
			</label>
			<div class="row q-ml-xl q-mr-xl  q-pa-md ">
				<div class="flex item-center text-white col-12 content-between">
					<p class="m-0 nombre-doomi text-black " >Monto a recibir</p>
					<div class="w-50">
						<b><p class="etiquetas nombre-doomi soft-border " >{{ $utils.precio(pedido.pago_del, '$') }}</p></b>
					</div>
				</div>
			</div>

		<q-table
				class="q-mt-xs degradado shadow-10 text-white text-center"
				:data="datos" :columns="columns" row-key="" >
			<template v-slot:body-cell-name="props">
				<q-td :props="props">
					<div>
						<q-badge color="purple" :label="props.value" />
					</div>
				</q-td>
			</template>
		</q-table>
		</div>


			<q-dialog v-model="dialogMapa" maximized>
				<q-card class="w-100" >
					<q-card-section class="text-right p-0 " >
						<q-btn flat label="X" v-close-popup />
					</q-card-section>

					<q-card-section class="q-pt-none" style="height: 90vh">


						<div  class=" bordes q-pa-xs soft-border flex item-center content-around">
								<div class="flex item-center q-mt-sm ">
									<img src="statics\images\map-aqui-estoy.png" width="20px" alt="">
									<p class="m-0 titulo-header " >{{ pedido.doomi_nombre }}</p>
								</div>

							<div class="flex item-center q-mt-sm">
								<img src="statics\images\map-verde.png" width="20px" alt="">
								<p class="m-0 titulo-header " >Cliente</p>
							</div>
						</div>
						<google-map :setDirection="direccion" @hook:mounted="cargarDireccion" />

					</q-card-section>
				</q-card>
			</q-dialog>


		<div class="text-center flex flex-center q-mt-md ">
			<q-btn @click="dialogMapa=true" class="q-mr-md cl_standar rounded" size="sm" icon="maps" label="Mapa" />
			<q-btn @click="tomarPedido" icon="pan_tool" class=" q-ml-md cl_standar rounded" size="sm" label="Tomar pedido" ></q-btn>
		</div> -->
	</div>


	<div v-else class="text-white" style="margin-top: 100px;">
		<center><b><i>Cargando...</i></b></center>
	</div>
</div>
</template>

<script>

import GoogleMapRepartidor from 'components/GoogleMapRepartidor'
import Swal from 'sweetalert2'

export default {

components: {GoogleMapRepartidor},

data () {
	return {
		botonEmpezar: {
			label: 'Empezar delivery',
			disabled: false
		},
		dialogMapa: false,
		direccion: null,
		pedido: {},
		cliente: {},
		idPedido: null,
	};
},


created(){
	this.$q.loading.show();

	this.idPedido = this.$route.params.id;

	this.$api.general.recuperarDataPorId('/pedidos/repartidor', this.idPedido)
		.then(resp => {
			this.$q.loading.hide();
			this.pedido = resp;
			this.cliente = resp.cliente;
		});

	this.$api.repartidor.recuperarDatos().then(repartidor => {
		if(!repartidor.aprobado) {
			this.botonEmpezar.disabled = true;
			this.botonEmpezar.label = 'Tú cuenta está siendo aprobada';
		}

		if(!repartidor.estatus) {
			this.botonEmpezar.disabled = true;
			this.botonEmpezar.label = 'Tú cuenta está suspendida';
		}
	});
},


methods: {
	async cargarDireccion(){
		this.direccion = null;
		var data_r = await this.$api.repartidor.recuperarDatos();
		var lat_rep = null;
		var lon_rep = null;
		var img_rep = "statics/images/map-repartidor.png";
		if(this.pedido.repartidor || this.pedido.id_repartidor==null){
			lat_rep = data_r.lat;
			lon_rep = data_r.lon;
			img_rep = "statics/images/transporte/"+data_r.vehiculo[0].icono_veh;
		}
		this.direccion = {
			destination: {
				lat: this.pedido.lat_dir_p,
				lon: this.pedido.lon_dir_p
			},
			origin: {
				lat: this.pedido.doomi_lat,
				lon: this.pedido.doomi_lon
			},
			repartidor: {
				lat: lat_rep,
				lon: lon_rep,
				imgrep: img_rep
			},
			sts: this.pedido.id_estatus
		};
	},

	tomarPedido(){
		const id_pedido = this.idPedido;
		const that = this;

		this.botonEmpezar.disabled = true;
		this.$store.dispatch('repartidor/tomar_pedido', id_pedido)
			.then(() => {
				this.$router.push('/RecibirDelivery')
			})
			.catch(err => {
				if(err && err.r==false) {
					this.botonEmpezar.label = err.msj;
					this.botonEmpezar.disabled = true;
				}
			})
	},

	rechazarPedido() {
		this.$store.dispatch('repartidor/rechazar_pedido', this.idPedido);
		this.$router.push('/Pedidos');
	},
},


computed: {
	datos(){
		if(!this.pedido || !this.pedido.ordenes) return;

		return this.pedido.ordenes.map(item => ({
			cantidad: item.cantidad,
			nombre: item.menu.nombre,
			descripcion: item.menu.descripcion,
			precio: this.$utils.precio(item.precio || item.menu.precio_usd),
			adicionales: item.adicionales.map(e => e.nombre).join(', '),
			notas: item.notas,
		}), this);
	},
},


}; </script>

<style>
.my-table-details {
	font-size: 0.85em;
	font-style: italic;
	max-width: 200px;
	white-space: normal;
	color:white;
	margin-top: 4px;
}
</style>
