<template>
<div class="fuente bg_white ">
  <q-dialog
    ref="dialog"
    @hide="onDialogHide"
    persistent transition-show="scale" transition-hide="scale"
  >
    <q-card style="width: 100%">
      <q-card-section class="text-center" >
        <q-icon style="font-size:70px" color="orange" name="error_outline" ></q-icon>
        <div class="text-body1">{{ texto }}</div>
      </q-card-section>

      <q-card-actions class="flex flex-center" >
        <div class="w-100 text-center ">
           <q-btn class=" text-center text-body2 rounded text-weight-bold cl_standar w-90 " size="md"  label="Cancelar orden anterior" v-close-popup @click="onOKClick"/>
        </div>
       
        <q-btn class="text-body2 text-weight-bold rounded w-90 q-mt-md btn-border-black " size="md"  label="Cancelar orden nueva" v-close-popup @click="onCancelClick" />
      </q-card-actions>
    </q-card>
  </q-dialog>
</div>
</template>

<script>

export default {

name: 'DialogCarritoNoLogueado',

props: {
  texto: { type: String, required: true },
},


data(){
  return {};
},

methods: {
  show () {
    this.$refs.dialog.show()
  },

  // following method is REQUIRED
  // (don't change its name --> "hide")
  hide () {
    this.$refs.dialog.hide()
  },

  onDialogHide () {
    // required to be emitted
    // when QDialog emits "hide" event
    this.$emit('hide')
  },

  onOKClick () {
    // on OK, it is REQUIRED to
    // emit "ok" event (with optional payload)
    // before hiding the QDialog
    this.$emit('ok')
    // or with payload: this.$emit('ok', { ... })

    // then hiding dialog
    this.hide()
  },

  onCancelClick () {
    // we just need to hide dialog
    this.hide()
  }
},

}</script>