<template>

	<div class="row no-wrap q-pa-xs flex " >

		<q-chip clickable @click="clickTag(chip_abierto)" color="primary" text-color="white" v-bind:class="{ 'tags-home-selec': seleccionado==-2 }">
			Abierto
		</q-chip>

		<q-chip clickable @click="clickTag(chip_cerrado)" color="primary" text-color="white" v-bind:class="{ 'tags-home-selec': seleccionado==-3 }">
			Cerrado
		</q-chip>

		<q-chip
			clickable
			color="primary"
			text-color="white"
			v-bind:class="{ 'tags-home': seleccionado!=tag.id, 'tags-home tags-home-selec': seleccionado==tag.id }"
			v-for="tag in tags"
			:key="tag.id"
			@click="clickTag(tag)"
			>
				{{ tag.nombre }}
		</q-chip>

		<q-chip clickable @click="clickTag(chip_todos)" color="primary" text-color="white" v-bind:class="{ 'tags-home-selec': seleccionado==-1 }">
	       Todos
		</q-chip>

	</div>

</template>


<script>

export default {
	name: 'FilterTags',

	props: {
		tags: { type: Array },
	},


	data(){
		return {
			chip_todos: {id:-1, nombre:'TODOS'},
			chip_abierto: {id:-2, nombre:'ABIERTO'},
			chip_cerrado: {id:-3, nombre:'CERRADO'},
			seleccionado: 0,
		};
	},
	created () {
		const rutaactual = this.$router.currentRoute.path; //obtener la ruta actual 
		if(rutaactual=='/Vertodos')
			this.seleccionado = -1;
		if(this.$route.params.id)
			this.seleccionado = this.$route.params.id;
	},
	methods: {
		clickTag(tag){
			if(tag.id=='-1')
				this.$router.push({ path:'/Vertodos' });
			else
				this.$router.push({ path:'/Home/'+tag.id });
		},
	},

};

</script>