<style type="text/css">
	.pac-container{
		z-index: 7000;
	}
</style>
<template>
<div class="fuente" >

         <div :class="logueado ? '' : 'q-mt-sm' " class="flex  item-center content-between">
              <!--Logeado y Repartidor-->
			  <div class="w-10">
                <q-btn v-if="logueado"
				icon="settings"
				aria-label="Menu"
				flat
				@click="menu_confi()"
			/>
			  </div>

              <!--Logeado y Repartidor-->
			<div  @click="Mdirecciones = true;Listardirec()" class="text-center q-mt-sm " v-if="logueado && esCliente">
				<p class="mb-0 font-lg bold " > {{alerta_top}} </p>
				<div class="text-center flex item-center ">
                  <p class="mb-0  limitar-texto text-grey " >{{txt_direc}} </p>
				  <q-icon  class="fas fa-chevron-down"  />
				</div>
			</div>

			<!-- modal de direcciones -->

              <q-dialog v-model="Mdirecciones"  maximized  >
				<q-card >
					<q-card-section style="" class="p-0 text-right" >
					<q-img width="15px" height="15px" class="q-mt-md q-mr-md q-mb-sm " v-close-popup src="statics\Iconos\X.png" ></q-img>
					</q-card-section>

					<q-card-section class=" p-0 ">
					<div class="row flex item-center alt_cont_Modalmapa_home ">
						<div class="col-12 flex flex-center" >
							<!--<q-input borderless bottom-slots class="w-90 input rounded " ref="direc" id="direc" v-model="text" label="Buscar nueva direccion"  :dense="true">
								<template v-slot:append>
									<q-btn round @click="Listardirec()" dense flat icon="search" />
								</template>
							</q-input>-->
							<input borderless style="padding-left:15px" bottom-slots class="w-90 input rounded " type="text" ref="direc" id="direc" name="direc" placeholder="Buscar nueva direccion">

						</div>
							<!-- <div class="col-2 text-center "  >
                               <img src="statics/images/anadir.png" height="25px" width="25px" alt="" />
							</div>
							<div class="col-7"  >
                               <p class="mb-0" >Agregar nueva dirección</p>
							</div>
							<div class="col-1"  >
                               <q-btn flat icon="keyboard_arrow_right" ></q-btn>
							</div> -->
					</div>

					 <q-separator />

					<div  @click="Seleccionardirec(0)" class="row flex item-center alt_cont_Modalmapa_home ">
							<div class="col-2 text-center "  >
                               <img src="statics\Iconos\Icono_ubiacion_actual.png" height="50px" width="50px" alt="" />
							</div>
							<div class="col-7"  >
                               <p class="mb-0" >Usar mi ubicación actual</p>
							</div>
							<div class="col-1"  >
                               <q-btn flat icon="keyboard_arrow_right" ></q-btn>
							</div>
					</div>

					 <q-separator />
					 <div v-for="dir in direcciones">
						<div @click="Seleccionardirec(dir.id)" class=" row flex  item-center alt_cont_Modalmapa_home " >
						    <div class="col-2 text-center "  >
                               <img src="statics/images/objetivo.png" height="25px" width="25px" alt="" />
							</div>

							<div class="col-7">
                               <p  class="mb-0  Modalmapa_limite_texto bold capitalize " >{{dir.nom_dir}}</p>
							</div>

							<div class="col-1">
								<q-btn flat icon="visibility" @click="Verdirec(dir)"></q-btn>
							</div>

					    </div>
					 	<q-separator />
					</div>


					</q-card-section>

				</q-card>
				</q-dialog>

			<!-- fin modal de direcciones -->




			<div v-if="mostrarCarrito" class="q-mr-sm" style="">
				<a @click="Carrito()" class=" q-mr-sm "><i class="fa fa-shopping-cart"></i>
					<span> ({{ itemsCarrito }})</span>
				</a>
			</div>

			<div v-if="logueado && !esCliente" class="flex w-70 item-center content-left " style="right: 10px; ">
				 <p v-if="!value && !cargando_value" class="mb-0" >Desconectado</p>
				 <p v-if="value && !cargando_value" class="mb-0" >Conectado</p>
				 <q-toggle
					v-model="value"
					class="font-m_s"
					@input="cambiarestatus()"
					v-touch-swipe.mouse.right.left="handleSwipe"
					size="60px"
					color="cyan-4"
					v-if="!cargando_value"
				/>

				<q-spinner
					v-if="cargando_value"
			        color="primary"
			        size="2.3em"
			        class="q-ma-sm"
			     />
			</div>
		 </div>



	<!-- <q-header elevated>
		<q-toolbar class="" >
			Logeado y Repartidor
			<q-btn v-if="logueado"
				icon="menu"
				aria-label="Menu"
				@click="abrirMenu()"
			/>

			<div v-else style="width: 56px; height: 36px;"></div>
			Logeado y Repartidor
			<q-toolbar-title class="text-subtitle2 text-center">
				<img src="statics/images/logo-icon.png" alt="" width="50px">
			</q-toolbar-title>


			<div v-if="mostrarCarrito" style="right: 8px;">
				<a @click="Carrito()" class="clr_white"><i class="fa fa-shopping-cart"></i>
					<span> ({{ itemsCarrito }})</span>
				</a>
			</div>

			<div v-else style="width: 56px; height: 36px;"></div>
		</q-toolbar>
	</q-header> -->


	<!-- <q-drawer v-if="logueado"
		v-model="leftDrawerState"
		show-if-above
		bordered
		content-class="bg-grey-1"
		>
		<div style="font-size:20px;background: #ddd;" class="flex flex-center p-0 item-center m-0 text-subtitle2 text-center">
			<q-btn flat icon="account_circle" ></q-btn>
			{{ saludo }}
		</div>



		<q-list>

			<EssentialLink

				v-for="link in opciones"
				:key="link.title"
				v-bind="link"
			/>
		</q-list>
		 <q-expansion-item :content-inset-level="0.5" expand-separator icon="settings" style="margin-top:10px" label="Configuraciones">
			 <EssentialLink

				v-for="link in configuraciones"
				:key="link.title"
				v-bind="link"
			/>
		 </q-expansion-item>




		<div style="align-items:center;"  class="flex">
			<q-btn flat  icon="undo"/>
			<span style="margin-left:5%;" @click="confirm = true" >Salir</span>
		</div>

		<div style="align-items:center;"  class="flex">
		<q-img
		src="statics/images/logo-icon2.png"
		spinner-color="white"
		style="height: 30px; width: 0px; left:6px; padding-right: 40px;"
		/>
		<span class="ml-4" @click="carousel = true">¿Qué es Doomi?</span>
		</div>


		<q-dialog v-model="confirm" persistent>
			<q-card  class="bg_blue fuente ">
				<q-card-section class="row items-center" text-color="white">
					<div class="text-center col-12 fuente"><q-avatar icon="warning" text-color="white" style="color: #fff !important; text-align:center;" /></div>

					<span class="q-ml-sm" style="color: #fff !important; text-align:center;">¿Está seguro que desea cerrar sesión? </span>
				</q-card-section>

				<q-card-actions align="center">
					<q-btn push  @click="salir()" size="sm" class="soft-border cl_standar fuente " label="Aceptar" v-close-popup />
					<q-btn push class="soft-border cl_standar fuente  " size="sm" label="Cancelar " v-close-popup />
				</q-card-actions>
			</q-card>
		</q-dialog>




		<q-dialog v-model="carousel" class="bg_rosa" persistent :maximized="maximizedToggle">
			<q-carousel
				transition-prev="slide-right"
				transition-next="slide-left"
				swipeable
				animated
				v-model="slide"
				control-color="primary"
				persistent
				arrows
				:maximized="maximizedToggle"
				class="shadow-1 rounded-borders vh100 bg_rosa"
				>

				<q-carousel-slide :name="1" class="column no-wrap flex-center p-0">
					<h6 class="text-center texto-pasos">Texto 1</h6>
					<div class="text-center">
						<q-btn to="/Home" flat color="primary" class="fa fa-times pt-3 pr-2 fa-2x" v-close-popup style="position: absolute;right: 5px;" />
						<img src="statics/images/pasos/paso_1.png" class="img-pasos p-0">
					</div>
				</q-carousel-slide>

				<q-carousel-slide :name="2" class="column no-wrap flex-center p-0">
					<h6 class="text-center texto-pasos">Texto 2</h6>
					<div class="text-center">
						<q-btn to="/Home" flat color="primary" class="fa fa-times pt-3 pr-2 fa-2x" v-close-popup style="position: absolute;right: 5px;" />
						<img src="statics/images/pasos/paso_2.png" class="img-pasos p-0">
					</div>
				</q-carousel-slide>

				<q-carousel-slide :name="3" class="column no-wrap flex-center p-0">
					<h6 class="text-center texto-pasos">Texto 3</h6>
					<div class="text-center">
						<q-btn to="/Home" flat color="primary" class="fa fa-times pt-3 pr-2 fa-2x" v-close-popup style="position: absolute;right: 5px;" />
						<img src="statics/images/pasos/paso_3.png" class="img-pasos p-0">
					</div>
				</q-carousel-slide>

				<q-carousel-slide :name="4" class="column no-wrap flex-center p-0">
					<h6 class="text-center texto-pasos">Texto 4</h6>
					<q-btn size="md" class="cl_standar btn-pasos" v-close-popup to="/Home">Listo</q-btn>

					<div class="text-center">
						<q-btn to="/Home" flat color="primary" class="fa fa-times pt-3 pr-2 fa-2x" v-close-popup style="position: absolute;right: 5px;" />
						<img src="statics/images/pasos/paso_4.png" class="img-pasos p-0">
					</div>
				</q-carousel-slide>
			</q-carousel>
		</q-dialog>


	</q-drawer> -->
	</div>
</template>

<style>


.q-field__control{
	margin: -10px 1px
}


</style>


<script>

// import EssentialLink from 'components/EssentialLink'
import { LocalStorage } from 'quasar'

export default {
	name: 'MenuDrawer',

	props: ['logueado', 'opciones', 'configuraciones'],

	components: {
		// EssentialLink,
	},


	data() {
		return {
			cargando_value: true,
			text: null,
			value: true,
			Mdirecciones : false,
			Direccion:'Urb los cocos calle 3 casa 44',
			maximizedToggle: true,
			carousel: false,
			card: false,
			sliders: false,
			slide: 1,
			stars: 3,
			slideVol: 39,
			slideAlarm: 56,
			slideVibration: 63,
			txt_direc: 'Cargando...',
			tipo_direc: 0,
			direcciones: [],
			leftDrawerOpen: false,
			cargarautocomplete: true,
			titleCurrenView: this.$store.state.titleCurrenView ,
			confirm: false,
			alert:false,
			nom_new_dir: '',
			loc_new_dir: '',
			 ConfiguracionesRepartidor:[
				{
					title: 'Editar perfil repartidor',
					link: '/profileRepartidor',
					icon: 'directions_bike',
				},
				{
					title: 'Cambiar contraseña',
					link: '/Contraseñarepartidor',
					icon: 'lock',
				},
			],
			 Opcionesrepartidor: [
				{
					title: 'Inicio',
					link: '/Pedidos',
					icon: 'home',
				},
				{
					title: 'Notificaciones',
					link: '/Notificationsrepartidor',
					icon: 'notifications_active',
				},
				{
					title: 'Historial de pedidos',
					link: '/Historial',
					icon: 'star',
				},
			],
			Configuraciones:[
				{
					title: 'Editar perfil',
					link: '/profile',
					icon: 'account_box',
				},
				{
					title: 'Cambiar contraseña',
					link: '/Cambiarcontraseña',
					icon: 'lock',
				},

			],
			Opcioneslogeado: [
				{
					title: 'Inicio',
					link: '/Home',
					icon: 'home',
				},
				{
					title: 'Mis direcciones',
					link: '/Listadirecciones',
					icon: '',
				},
					{
					title: 'Mis favoritos',
					link: '/Favoritos',
					icon: 'favorite',
				},
					{
					title: 'Mis ordenes',
					link: '/Misordenes',
					icon: 'add_shopping_cart',
				},
				 {
					title: 'Notificaciones',
					link: '/notifications',
					icon: 'done_all',
				},
			],
		}
	},
	mounted(){
		this.cargarDirecciones();
		this.cargarTrabajando();
	},
	async beforeMount(){
		if(!LocalStorage.has('DIRECCIONSELECT')){
	      	LocalStorage.set('DIRECCIONSELECT',"0");
	    }else{
	    	this.tipo_direc = LocalStorage.getItem('DIRECCIONSELECT');
	    }
	    this.direccion_top(0);
	},
	
	methods: {
		handleSwipe ({ evt, ...info }) {
			if(info.direction=='left')
				this.value=false;
			else
				this.value=true;
			this.cambiarestatus();

	      //console.log("diste swip",info)
	    },
		menu_confi(){
			this.$router.push({ path:'/Menu_configuraciones' });
		},
		Listardirec(){

				var selfd = this;
				setTimeout(function(){
					const autocomplete =  new google.maps.places.Autocomplete(document.getElementById('direc'));
					autocomplete.addListener("place_changed", () => {
				        const place = autocomplete.getPlace();
				        LocalStorage.set('DIRECCIONNOM',place.formatted_address);
						LocalStorage.set('DIRECCIONLOC',place.geometry.location);
						LocalStorage.set('DIRECCIONTIP','B');
						selfd.$router.push({ path:'/Misdirecciones' });
				        //selfd.nom_new_dir = place.formatted_address;
				        //selfd.loc_new_dir = place.geometry.location;
				        //console.log(selfd.nom_new_dir,selfd.loc_new_dir);
				    });
				},300);


		},
		Ventanamapa(){
            this.$router.push({ path:'/Misdirecciones' });
		},

		Carrito(){
			 this.$router.push({ path:'/Carrito' });
		},

		abrirMenu(){
			this.$store.commit('openLeftDrawer')
		},

		salir(){
			this.$auth.salir()
				.then(() => {
					this.$store.commit('carrito/VACIAR');
					this.$store.dispatch('detenersetinterval');
					this.$router.push('/Iniciodesesion');
				});
		},
		cargarDirecciones(){
			if(this.logueado){
				if(this.$auth.obtenerTipoUsuario() == 'cliente'){
					const data_user = this.$api.cliente.obtenerDatos();
					this.$api.general.recuperarDataConData('direcciones/', {id_cli:data_user.id})
						.then(r => {
							/*for (var i = 0; i < r.length; i++) {
								r[i].autoicrement=i+1;
							}*/
							this.direcciones = r;
						}).catch(err => {
							console.log(err);
						});
				}
			}
		},
		cambiarestatus(){
			if(this.logueado){
				//this.$q.loading.show();
				const data_user = this.$api.repartidor.obtenerDatos();
				const formData = new FormData();
				formData.append('iden',data_user.id);
				formData.append('sts',this.value);
				this.$api.general.put('repartidores/edit_sts_tra', formData)
					.then(async r => {
						if(r.r){
							//this.$q.loading.hide();
							await this.$api.repartidor.recuperarDatos();
							//location.reload();
							var self = this;
							const rutaactual = this.$router.currentRoute.path;
							if(rutaactual=='/Pedidos/' || rutaactual=='/Pedidos'){
								setTimeout(function(){
									self.$router.go(0)
								},300);
							}
						}
					})
					.catch(err => {
						//this.$q.loading.hide();
						console.log(err.msj||err.msg);
					});
			}
		},
		cargarTrabajando(){
			if(this.logueado){
				if(this.$auth.obtenerTipoUsuario() == 'repartidor'){
					const data_user = this.$api.repartidor.obtenerDatos();
					if(data_user.trabajar)
						this.value=true;
					else
						this.value=false;
					this.cargando_value=false;
				}
			}
		},
		Verdirec(dir){
			LocalStorage.set('DIRECCIONSELECT',dir.id);
			this.$router.push({ path:'/Editardireccion/'+dir.id })
		},
		Seleccionardirec(idselec){
			LocalStorage.set('DIRECCIONSELECT',idselec);
			this.tipo_direc = idselec;
			if(idselec!=0)
				this.Mdirecciones = false;
			this.direccion_top(1);
		},
		async direccion_top(opc){
			this.txt_direc='Cargando...';
			if(this.logueado){
				if(this.tipo_direc==0){
					var cordenadas = {}
					await this.$api.general.geo().then(ubicacionActual => {
				      	cordenadas = ubicacionActual;
				    })

				    var geocoder = new google.maps.Geocoder();
				    const latlng = {
					    lat: parseFloat(cordenadas.lat),
					    lng: parseFloat(cordenadas.lon),
					};
					var self = this;
				    geocoder.geocode({ location: latlng }, (results, status) => {
				    	if (status === "OK") {
				    		if(results[0]){
				    			self.txt_direc = results[0].formatted_address;
				    			if(opc==1){
				    				LocalStorage.set('DIRECCIONNOM',results[0].formatted_address);
									LocalStorage.set('DIRECCIONLOC',results[0].geometry.location);
									LocalStorage.set('DIRECCIONTIP','A');
									self.$router.push({ path:'/Misdirecciones' });
								}
				    		}
				    	}
				    });
				}else{
					const data_user = this.$api.cliente.obtenerDatos();
					this.$api.general.recuperarData('direcciones/'+this.tipo_direc)
					.then(r => {
						if(r && data_user.id==r.id_cliente)
							this.txt_direc = r.nom_dir+": "+r.dir_dir;
						else{
							LocalStorage.set('DIRECCIONSELECT',"0");
							this.tipo_direc = "0";
							this.direccion_top(opc);
						}

					}).catch(err => {
						if(err.statusText=='OK'){
							LocalStorage.set('DIRECCIONSELECT',"0");
							this.tipo_direc = "0";
							this.direccion_top(opc);
						}
						console.log(err);
					});
				}
			}
		},
	},

	computed: {
		esCliente(){ return this.$auth.obtenerTipoUsuario() == 'cliente' },
		leftDrawerState: {
				get(){return this.$store.getters.leftDrawerState},
				set(val){this.$store.commit('setLeftDrawer', val)},
		},
		alerta_top(){
			var msj = '';
			if(this.logueado){
				if(this.$api.general.obtenerNombreUsuario()){
					var nomusu = this.$api.general.obtenerNombreUsuario();
					nomusu = nomusu.split(' ');
					msj = nomusu[0]+', ';
				}
				msj +='Soy tu padre!';
			}
			return msj;
		},
		saludo(){
			return this.logueado ?
				'Hola, '+this.$api.general.obtenerNombreUsuario()
				: 'Hola'
			},

		itemsCarrito(){
			return this.$store.getters['carrito/items'];
		},

		mostrarCarrito(){
			const tipo_usu = this.$auth.obtenerTipoUsuario();
			return tipo_usu !== 'repartidor';
		}
	},

	watch: {
		logueado(n){
			console.log('logueado cambio:', n);
			this.saludo = 'hola ' + this.$api.general.obtenerNombreUsuario();
		},
	},

};

</script>
