<template>
	<div class="fuente" >

                     <div class="">
                     <div class="row fixed_footer q-mb-md w-100 flex content-around item-center text-center   text-center">

						<div class="col" v-for="(par,index) in paresIconoEnlace">
							<q-btn push style="padding:5px" round class="rounded  cl_standar alert-red"
								:icon="par.icono"
								:too="par.enlace"
								v-if="tipoUsuario && (index==3 && notificaciones.noti.length>0 && tipoUsuario=='cliente') || (index==2 && notificaciones.noti.length>0 && tipoUsuario=='repartidor')"
								@click="clickEnlace(par.enlace),Mostarfiltro(index)" />
							<q-btn push style="padding:5px" round class="rounded cl_standar"
								:icon="par.icono"
								:too="par.enlace"
								v-else
								@click="clickEnlace(par.enlace),Mostarfiltro(index)" />
						</div>
					</div>
					</div>

		<!-- <q-footer elevated>
			<q-toolbar class="bg_transparent" >
				<q-toolbar-title>
					<div class="row text-center">

						<div class="col" v-for="(par,index) in paresIconoEnlace">
							<q-btn push round class="rounded cl_standar alert-red"
								:icon="par.icono"
								:to="par.enlace"
								v-if="tipoUsuario && (index==3 && notificaciones.noti.length>0 && tipoUsuario=='cliente') || (index==2 && notificaciones.noti.length>0 && tipoUsuario=='repartidor')"
								@click="clickEnlace(),Mostarfiltro(index)" />
							<q-btn push round class="rounded cl_standar"
								:icon="par.icono"
								:to="par.enlace"
								v-else
								@click="clickEnlace(),Mostarfiltro(index)" />
						</div>


						<div class="col">
							<q-btn push class="rounded cl_standar"  round :icon="iconos[0]" :to="enlaces[0]" />
						</div>
						<div class="col">
							<q-btn push class="eounded cl_standar"    round :icon="iconos[1]" :to="enlaces[1]"/>
						</div>
						<div class="col">
							<q-btn push class="rounded cl_standar"    round :icon="iconos[2]" :to="enlaces[2]" @click="clickEnlace(),filtrardoomi = true" />
						</div>
						<div class="col">
							<q-btn push class="rounded cl_standar "   round :icon="iconos[3]" :to="enlaces[3]" @click="clickEnlace()" />
						</div>

					</div>
				</q-toolbar-title>
			</q-toolbar>
		</q-footer> -->

		<q-dialog v-model="filtrardoomi">
			<q-card style="width: 100%;" class="bg_blue fuente">
				<q-card-section class="text-center">
					<div class="row flex item-center q-mb-md ">
						
						<div class="col-10 text-center ">
							<p class="m-0 parrafos"> Buscar </p>
						</div>

						<div class="col-2 text-center ">

							<q-img src="statics\Iconos\X.png" width="15px" height="15px" ></q-img>

						</div>

						
					</div>

					<div class="row flex item-center ">
						<div class="col-10">
							<q-input borderless v-model="busqueda" label="Buscar Doomialiado" class=" m-2 input ">
							</q-input>
						</div>

						<div class="text-center col-2">
							<q-btn icon="search" class="cl_standar  m-0" round @click="clickBuscar" ></q-btn>
						</div>

						<div style="margin: 10px auto;" v-if="busquedaMsjError">
							<p class="m-0"  style="color:red;">{{ busquedaMsjError }}</p>
						</div>

					</div>
				</q-card-section>
			</q-card>
		</q-dialog>

		<q-dialog v-model="mostrarAlertaLogin" >
			<q-card style="width: 90%;" class="bg_blue fuente bg_ingresar">
				<q-card-section class="text-center">
					<div class="text-right" >
						<q-img v-close-popup src="statics\Iconos\X.png" class=" q-mr-md" width="15px" height="15px" ></q-img>
					</div>

					<div>
						<div class="row q-mt-md " >
							<div class="col-12 p-0 btn-modal">
								<q-btn  to="/Registro" size="md" class="q-ma-md rounded w-100 cl_standar fuente" >Regístrate</q-btn>
							</div>
						</div>

						<div class="row pt-4">
							<div class="col-12 p-0 btn-modal">
								<q-btn  size="md" to="/Iniciodesesion" class="fuente q-ma-md rounded w-100 btn-border-pink" >Iniciar sesión</q-btn>
							</div>
						</div>
						<div class="row">
							<div class="col-12 text-center q-mt-md ">
								<q-img src="statics\images\doomi-flor.jpg" width="50%"  ></q-img>
							</div>
						</div>
					</div>
				</q-card-section>
			</q-card>
		</q-dialog>
	</div>
</template>


<script>
import { repartidor } from '../api';
import { mapGetters } from 'vuex';
export default {
	name: 'MenuFooter',
	props: ['logueado', 'tipoUsuario'],
//v-bind:class="{ 'tags-home': seleccionado!=tag.id, 'tags-home tags-home-selec': seleccionado==tag.id }"
	data(){
		return {
			mostrarAlertaLogin: false,
			filtrardoomi: false,
			text: '',
			busqueda: '',
			busquedaMsjError: '',
			iconosNoLogueado: ['home', 'map', 'favorite', 'notifications_active'],
			enlacesNoLogueado: ['/home', '/Mapahome', '', ''],

			iconosCliente: ['home', 'map', 'favorite', 'notifications_active'],
			enlacesCliente: ['/home', '/Mapahome', '/Favoritos', '/notifications'],

			iconosRepartidor: ['home', 'search', 'notifications_active'],
			enlacesRepartidor: ['/Pedidos', '', '/notifications'],
		};
	},


	computed: {
		...mapGetters({
			notificaciones: 'notificaciones/notificaciones',
		}),
		enlaces(){
			switch(this.tipoUsuario){
				case 'cliente': return this.enlacesCliente;
				case 'repartidor': return this.enlacesRepartidor;
				default: return this.enlacesNoLogueado;
			}
		},

		iconos(){
			switch(this.tipoUsuario){
				case 'cliente': return this.iconosCliente;
				case 'repartidor': return this.iconosRepartidor;
				default: return this.iconosNoLogueado;
			}
		},

		paresIconoEnlace(){
			return this.iconos.map((icono, i) => {
				return {icono, enlace:this.enlaces[i]};
			});
		},
	},

	methods: {
		clickEnlace(enlace){
			if(!this.logueado)
				this.mostrarAlertaLogin = true;
			else{
				var self = this;
				const rutaactual = this.$router.currentRoute.path;

				if((rutaactual=='/Pedidos' || rutaactual=='/Pedidos/') && enlace=='/Pedidos'){
					setTimeout(function(){
						self.$router.go(0)
					},300);
				}else{
					this.$router.push({ path:enlace });
				}
			}

		},

		async clickBuscar(){
			this.busquedaMsjError = '';

			if(!this.busqueda){
				this.busquedaMsjError = 'Búsqueda vacía';
				return;
			}
			if(this.busqueda.length < 3){
				this.busquedaMsjError = 'La búsqueda debe tener más de 2 caracteres';
				return;
			}

			const filtros = {
				doomi: this.busqueda || '',
			};

			await this.$api.general.geo().then(ubi => {
				filtros.lat = ubi.lat;
				filtros.lon = ubi.lon;
			}).catch(this.$q.loading.hide);

			this.$api.general.recuperarDataConData('/pedidos/repartidor', filtros)
				.then(data => {
					this.$store.commit('ordenes/SET_BUSQUEDA_PEDIDOS', data);
					this.filtrardoomi = false;
					this.busqueda = '';
					if(!this.$route.path.toLowerCase().endsWith('filtropedidos'))
						this.$router.push('/Filtropedidos');
				})
		},

		Mostarfiltro(I){
			if( I== 1 && this.$auth.obtenerTipoUsuario() == "repartidor" ){
				this.filtrardoomi = true;
			}
		},

},


}; </script>
