<template>
<div class="blue bg-white vh100 fuente">

  <!-- LISTA PEDIDOS -->
  <div
    class="row bg_cont q-mt-md  soft-border q-ml-md q-mr-md"
    v-for="pedido in pedidosPendientes" :key="pedido.id"
    @click="clickVerMas(pedido)"
  >
    <div class="col-12 q-pt-sm  q-pl-md q-pr-md ">
      <p class="mb-0 ">Pedido hecho el {{$utils.queDiaEs(pedido.creado)}}
        <span>{{ $utils.extraerFecha(pedido.creado) }}</span>.
        <span>{{ $utils.extraerHora(pedido.creado) }}</span> </p>
    </div>
    
    <div class="col-12">
      <q-separator color="white" ></q-separator>
    </div>

    <div class="col-12 flex item-center content-between  q-pl-md q-pr-md ">
        <p class="mb-0 font-xl w-70 " ><b>{{ pedido.nombre_doomi }}</b></p>
        <div class="text-right w-30 ">
          <p class="font_tituloslg  mb-0 " >{{ $utils.precio(pedido.total, '$') }}</p>
        </div>
     </div>
      <div class="col-12 text-right flex item-center content-between q-pl-md q-pr-md q-pb-sm ">
           <span class="font-xl" >Pedido N° #{{ pedido.id }}</span>&nbsp;
          <p class="font-lg mb-0 " > {{ nombreDeEstatus(pedido.id_estatus) }} </p>
     </div>
  </div>

  <div
    class="row bg-red q-mt-md q-pt-sm q-pb-sm border-red soft-border q-ml-md q-mr-md "
    v-for="pedido in pedidosRechazados" :key="pedido.id"
    @click="clickVerMas(pedido)"
  >
    <div class="col-12 q-pl-md q-pr-md ">
      <p class="mb-0 text-white ">Orden rechazada <span class="material-icons"> error_outline </span> </p>
    </div>
    <div class="col-12 bg_cont q-pl-md q-pr-md flex item-center content-between">
      <div class="w-100 flex content-between item-center ">
        <p class="mb-0 font-xl  " ><b>{{ pedido.nombre_doomi }}</b></p>
        <p class="font_tituloslg  mb-0 " >{{ $utils.precio(pedido.total, '$') }}</p>
      </div>
         <div class="w-100 flex content-between item-center ">
        <span class="font-xl" >Pedido N° #{{ pedido.id }}</span>&nbsp;
          <p class="font-lg mb-0 " > {{ nombreDeEstatus(pedido.id_estatus) }} </p>
        </div>
    </div>
  </div>

  <div v-if="pedidos.length==0" class="q-pt-xl">
    <center><b><i>{{ mensaje || "No hay pedidos aquí" }}</i></b></center>
  </div>

</div>
</template>

<script>
export default {

name: 'PedidosListado',

props: {
  pedidos: {
    type: Array,
    required: true,
  },

  mensaje: {
    type: String,
    required: false,
  },
},


data() {
  return {
    lista_estatus: [],
    en_rojo: [97, 99],
  };
},


computed: {
  pedidosRechazados() {
    return this.pedidos.filter(o => this.en_rojo.includes(parseInt(o.id_estatus,10)));
  },

  pedidosPendientes() {
    return this.pedidos.filter(o => !this.en_rojo.includes(parseInt(o.id_estatus,10)));
  },
},


mounted() {
  this.$api.general.recuperarData('/pedidos/estatus')
    .then(data => {
      data.unshift({id:-1, nombre:'Todos'});
      this.lista_estatus = data;
    });
},


methods: {
  nombreDeEstatus(id) {
    const est = this.lista_estatus.filter(e => e.id==id).pop();
    return est ? est.nombre : 'Todos';
  },

  clickVerMas(pedido){
    this.$router.push({path: '/Detallescliente/'+pedido.id, params:{id:pedido.id}})
  },

},


}</script>