@media only screen and (max-width: 767px) {
	.row .col.s12 {
		width: 100%;
	}

	.input-search-filter[type="search"], .input-search-filter[type="search"]:focus {
		width: 100%;
	}

	.main_panel.panel{
		margin-bottom: 10rem !important;
	}
	
	.boxLogin{
		margin: 2rem;
		max-width: 400px !important;
	}

	.img-cursos{
		height: 80vh !important;
		object-fit: cover;
		object-position: center center; 
	}

	.switch-res{
		position: absolute;
		left: 50px;
	}

	.modal{
		width: 100% !important;
		height: 100% !important;
		max-height: 100% !important;
		top: 0px !important;
		overflow-y: auto !important;
		z-index: 9999 !important;
	}
	.tr-movil{
		width: 100px;
	}

	.row .col.s12 {
		width: 100%;
	}

	.input-search-filter[type="search"], .input-search-filter[type="search"]:focus {
		width: 100%;
	}
	.main_panel.panel{
		margin-bottom: 10rem !important;
	}

	.img-perfil{
		height: 150px;
		width: 150px;
	}

	.img-tipovehiculo{
		width: 70%;
	}

	.icon_busc{
		right: 12%;
		top: 22px;
	}
	
	.main_panel{
		min-height: 480px;
		margin: .5em;
	}

	.card-panel{
		width: 100% !important;
		float: none !important;
	}
	.fa-angle-down:before{
		margin-top: 20px;
		position: absolute;
	}
	.img_referencia{
		width: 100% !important;
	}
}

@media only screen and (min-width: 768px) {
	.main_panel.panel{
		margin-bottom: 10rem !important;
	}
	.boxLogin{
		min-width: 400px !important;
		max-width: 500px !important;
	}

	.img-cursos{
		width: 90%;
	}

	.icon_busc{
		right: 12%;
		top: 25px;
	}

	.main_panel{
		min-height: 480px;
		margin: 1em;
	}
	.boxModulo{
		min-height: 600px !important;
	}
	.switch-res{
		width: 200px !important;
	}
	
	.main_panel.panel{
		margin-bottom: 10rem !important;
	}

	.img-tipovehiculo{
		width: 20%;
	}

	.img-perfil{
		height: 150px;
		width: 150px;
	}

	.modalShort{
		width: 30% !important;
		overflow-y: auto !important;
		z-index: 9999 !important;
	}
	.img_referencia{
		width: 100% !important;
	}
}


@media (min-width: 995px) and (max-width : 1125px) {
	.btnApp--yellow{
		padding-left: .1rem;
		padding-right: .1rem;
	}
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

	.modalFullmv{
		width: 100%;
		height: 100%;
		max-height: 100%;
		top: 0px !important;
		overflow-y: auto;
		z-index: 9999;
	}
}


@media (min-width: 995px) and (max-width : 1125px) {
	.btnApp--yellow{
		padding-left: .1rem;
		padding-right: .1rem;
	}
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

	.modalFullmv{
		width: 100%;
		height: 100%;
		max-height: 100%;
		top: 0px !important;
		overflow-y: auto;
		z-index: 9999;
	}
}


@media only screen and (max-width: 376px){
	.card-panel{
		width: 100% !important;
		float: none !important;
	}
}

@media (min-width: 768px) and (max-width: 992px){
	.boxPasos{
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-columns: repeat(3, 1fr);
	}

	.boxPasosGrupo{
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-columns: repeat(3, 1fr);
		min-height: 2030px;
	}
	
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 992px){
	.card-panel{
		width: 100% !important;
		float: none !important;
	}

    .boxFact--cards img{
        width: 50%;
    }

	header,main,footer {
		padding-left: 0;
	}
	div.dataTables_wrapper div.dataTables_info{

	font-size: 7px !important;
	}

	.hidden-mv{
		display: none !important;
	}

	.boxFact--cards img{
		width: 80%;
	}
}

@media (min-width: 993px){
	.hidden-lp{
		display: none !important;
	}
	.boxPasos{
		display: grid;
		grid-column-gap: 5px;
		grid-template-columns: repeat(6,1fr);
		margin: 1rem 0rem 1rem 0rem;
	}
	.boxPasosGrupo{
		display: grid;
		grid-column-gap: 5px;
		grid-template-columns: repeat(6,1fr);
	}
	.panel main,.panel footer {
		padding-left: 240px;
	}
}
