select-wrapper.valid>input.select-dropdown {
		border-bottom: 1px solid #4CAF50;
		-webkit-box-shadow: 0 1px 0 0 #4CAF50;
		box-shadow: 0 1px 0 0 #4CAF50;
}


.input-field.inline input,
.input-field.inline .select-dropdown {
		margin-bottom: 1rem;
}

select {
		display: none;
}

select.browser-default {
		display: block;
}

select {
		background-color: rgba(255, 255, 255, 0.9);
		width: 100%;
		padding: 5px;
		border: 1px solid #f2f2f2;
		border-radius: 2px;
		height: 3rem;
}

.select-label {
		position: absolute;
}

.select-wrapper {
		position: relative;
}

.select-wrapper.valid+label,
.select-wrapper.invalid+label {
		width: 100%;
		pointer-events: none;
}

.select-wrapper input.select-dropdown {
		position: relative;
		cursor: pointer;
		background-color: transparent;
		border: none;
		outline: none;
		height: 30px;
		line-height: 3rem;
		width: 100%;
		font-size: 16px;
		margin: 0 0 8px 0;
		padding: 0;
		display: block;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		z-index: 1;
}

.select-wrapper input.select-dropdown:focus {
		border-bottom: 1px solid #26a69a;
}

.select-wrapper .caret {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto 0;
		z-index: 0;
		fill: rgba(0, 0, 0, 0.87);
}

.select-wrapper+label {
		position: absolute;
		top: -26px;
		font-size: 0.8rem;
}

select:disabled {
		color: rgba(0, 0, 0, 0.42);
}

.select-wrapper.disabled+label {
		color: rgba(0, 0, 0, 0.42);
}

.select-wrapper.disabled .caret {
		fill: rgba(0, 0, 0, 0.42);
}

.select-wrapper input.select-dropdown:disabled {
		color: rgba(0, 0, 0, 0.42);
		cursor: default;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.select-wrapper i {
		color: rgba(0, 0, 0, 0.3);
}

.select-dropdown li.disabled,
.select-dropdown li.disabled>span,
.select-dropdown li.optgroup {
		color: rgba(0, 0, 0, 0.3);
		background-color: transparent;
}


body.keyboard-focused .select-dropdown.dropdown-content li:focus {
		background-color: rgba(0, 0, 0, 0.08);
}

.select-dropdown.dropdown-content li:hover {
		background-color: rgba(0, 0, 0, 0.08);
}

.select-dropdown.dropdown-content li.selected {
		background-color: rgba(0, 0, 0, 0.03);
}

.prefix~.select-wrapper {
		margin-left: 3rem;
		width: 92%;
		width: calc(100% - 3rem);
}

.prefix~label {
		margin-left: 3rem;
}

.select2-container .select2-choice{
	border:none !important;
}

.select-dropdown li img {
		height: 40px;
		width: 40px;
		margin: 5px 15px;
		float: right;
}

.select-dropdown li.optgroup {
		border-top: 1px solid #eee;
}

.select-dropdown li.optgroup.selected>span {
		color: rgba(0, 0, 0, 0.7);
}

.select-dropdown li.optgroup>span {
		color: rgba(0, 0, 0, 0.4);
}

.select-dropdown li.optgroup~li.optgroup-option {
		padding-left: 1rem;
}

.select2-choice{
	background-color: transparent !important;
	background-image: none !important;
	border-radius: 0px !important;
	border-bottom: 1px solid #a6a6a6;
	border-top: hidden !important;
	border-left: hidden !important;
	border-right: hidden !important;
	height: 3rem !important;
}
.select2-chosen{
	padding: 0.4rem;
	color: #000 !important;
}
.select2-arrow{
	border: hidden !important;
}
.select2-drop.select2-display-none.select2-with-searchbox.select2-drop-active{
	border-top: 1px solid #5897fb;
}
.select2-container.select2-container-active,.select2-container-active .select2-choices {
	border: 1px solid #c9f3ef !important;
	-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
	-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0) !important;
}
.select2-choice .select2-arrow{
	background: transparent !important;
}
.select-wrapper select.required {
	width: 100% !important;
    display: block !important;
    z-index: -1000;
    position: relative;
    top: -2.8rem;
}

.select2-container-multi .select2-choices .select2-search-choice{
	background-image: none !important;
	background: #182C61 !important;
	border-color: #182C61;
    padding: 5px 5px 5px 18px;
    line-height: 20px;
    color: #fff !important;
}