<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width" />
</head>

<style type="text/css">
	*{
		font-size: 6pt;
	}

/*	@media screen and (max-width : 320px){
		body{
			font-size: 10pt;
		}
	}
	@media screen and (max-width : 1204px){
		body{
			font-size: 15pt;
		}
	}*/

	.border{
		border:1px solid #ddd !important;
	}
	.borderb{
		border-bottom:1px solid #ddd !important;
		padding: 3px;
	}
	.id-col{
		width: 25px;
	}
	.center{
		text-align: center;
	}
	.hide{
		display: none;
	}
</style>

<body>
	<center>
		<table class="border" style="width: 100%;">

			<tr>
				<td class="borderb" align="center" colspan="10" style="padding: 20px"><b>REPORTE PAGOS PENDIENTES</b></td>
			</tr>

			<!-- ENCABEZADO COLUMNAS -->
			<tr>
				<td class="borderb id-col" style="padding: 8px;">#</td>
				<td class="borderb id-col" style="padding: 8px;">ID Doomi</td>
				<td class="borderb" style="padding: 8px;">Doomialiado</td>


				<td class="borderb id-col" style="padding: 8px;">ID Pedido</td>
				<td class="borderb" style="padding: 8px;">Cliente</td>
				<td class="borderb" style="padding: 8px;">Fecha Pedido</td>
				<td class="borderb" style="padding: 8px;text-align: right;">Ganancia</td>
				<td class="borderb" style="padding: 8px;text-align: right;">Total</td>
			</tr>

			<!-- LISTADO DATOS -->
			<span style="display:none;"><% count=1 %></span>
			<span style="display:none;"><% total=0 %></span>
			<span style="display:none;"><% total2=0 %></span>
			<% for(fila of this.data){ %>
				<tr>
					<td class="borderb id-col" style="padding: 8px;"> <% count++ %> </td>
					<td class="borderb id-col" style="padding: 8px;"><% fila.id_restaurante %></td>
					<td class="borderb" style="padding: 8px;"><% fila.nombre_doomi %></td>
					<td class="borderb" style="padding: 8px;"><% fila.id_pedido %></td>
					<td class="borderb" style="padding: 8px;"><% fila.nom_cli %> <% fila.ape_cli %></td>
					<td class="borderb" style="padding: 8px;"><% fila.fecha_pedido %></td>
					<td class="borderb" style="padding: 8px;text-align: right;"><% this.precio(fila.tot + (fila.tot_acom || 0) + (fila.tot_adi || 0)) %></td>
					<td class="borderb" style="padding: 8px;text-align: right;"><% this.precio(fila.tot_ped) %></td>
					<span style="display:none;"><% total=total + (fila.tot + (fila.tot_acom || 0) + (fila.tot_adi || 0)) %></span>
					<span style="display:none;"><% total2=total2 + fila.tot_ped %></span>
				</tr>
			<% } %>
			<tr>
				<td colspan="6" style="padding: 8px;text-align: right;">Totales</td>
				<td style="padding: 8px;text-align: right;"><% this.precio(total) %></td>
				<td style="padding: 8px;text-align: right;"><% this.precio(total2) %></td>
			</tr>
		</table>
	</center>
</body>
</html>