<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width" />
</head>

<style type="text/css">
	*{
		font-size: 6pt;
	}

/*	@media screen and (max-width : 320px){
		body{
			font-size: 10pt;
		}
	}
	@media screen and (max-width : 1204px){
		body{
			font-size: 15pt;
		}
	}*/

	.border{
		border:1px solid #ddd !important;
	}
	.borderb{
		border-bottom:1px solid #ddd !important;
		padding: 3px;
	}
	.id-col{
		width: 25px;
	}
	.center{
		text-align: center;
	}
	.hide{
		display: none;
	}
</style>

<body>
	<center>
		<table class="border" style="width: 100%;">

			<tr>
				<td class="borderb" align="center" colspan="10" style="padding: 20px"><b>REPORTE PAGOS RECIBIDOS</b></td>
			</tr>

			<!-- ENCABEZADO COLUMNAS -->
			<tr>
				<td class="borderb id-col" style="padding: 8px;">#</td>
				<td class="borderb id-col" style="padding: 8px;">ID Pedido</td>
				<td class="borderb id-col" style="padding: 8px;">ID Repartidor</td>
				<td class="borderb" style="padding: 8px;">Nombre</td>
				<td class="borderb" style="padding: 8px;">Fecha Pago</td>
				<td class="borderb" style="padding: 8px;">Datos de pago</td>
				<td class="borderb" style="padding: 8px;">Referencia</td>
				<td class="borderb" style="padding: 8px;">ID Doomialiado</td>
				<td class="borderb" style="padding: 8px;">Doomialiado</td>
				<td class="borderb" style="padding: 8px;text-align: right;">Monto pagado</td>
			</tr>

			<!-- LISTADO DATOS -->
			<span style="display:none;"><% count=1 %></span>
			<span style="display:none;"><% total=0 %></span>
			<span style="display:none;"><% total2=0 %></span>
			<span style="display:none;"><% total3=0 %></span>
			<% for(fila of this.data){ %>
				<tr>
					<td class="borderb id-col" style="padding: 8px;"> <% count++ %> </td>
					<td class="borderb id-col" style="padding: 8px;"><% fila.id %></td>
					<td class="borderb id-col" style="padding: 8px;"><% fila.id_repartidor %></td>
					<td class="borderb" style="padding: 8px;"><% fila.repartidor.nombre %> <% fila.repartidor.apellido %></td>
					<td class="borderb" style="padding: 8px;"><% fila.fecha_pago_del %></td>
					<td class="borderb" style="padding: 8px;"><% fila.pago_datos %></td>
					<td class="borderb" style="padding: 8px;"><% fila.ref_pago_del %></td>
					<td class="borderb" style="padding: 8px;"><% fila.id_restaurante %></td>
					<td class="borderb" style="padding: 8px;"><% fila.nombre_restaurante %></td>
					<td class="borderb" style="padding: 8px;text-align: right;"><% this.precio(fila.pago_del) %><br><% this.precio2(fila.tasa) %></td>

				</tr>
				<span style="display:none;"><% total=total + fila.pago_del %></span>
				<span style="display:none;"><% total2=total2 + fila.tasa %></span>
			<% } %>
			<tr>
				<td colspan="8" style="padding: 8px;text-align: right;">Totales</td>
				<td style="padding: 8px;text-align: right;"><% this.precio(total) %><br><% this.precio2(total2) %></td>
			</tr>
		</table>
	</center>
</body>
</html>