<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width" />
</head>

<style type="text/css">
	*{
		font-size: 6pt;
	}

/*	@media screen and (max-width : 320px){
		body{
			font-size: 10pt;
		}
	}
	@media screen and (max-width : 1204px){
		body{
			font-size: 15pt;
		}
	}*/

	.border{
		border:1px solid #ddd !important;
	}
	.borderb{
		border-bottom:1px solid #ddd !important;
		padding: 3px;
	}
	.id-col{
		width: 25px;
	}
	.center{
		text-align: center;
	}
	.hide{
		display: none;
	}
</style>

<body>
	<center>
		<table class="border" style="width: 100%;">

			<tr>
				<td class="borderb" align="center" colspan="10" style="padding: 20px"><b>REPORTE PAGOS PENDIENTES</b></td>
			</tr>

			<!-- ENCABEZADO COLUMNAS -->
			<tr>
				<td class="borderb id-col" style="padding: 8px;">#</td>
				<td class="borderb id-col" style="padding: 8px;">ID Pedido</td>
				<td class="borderb" style="padding: 8px;">Fecha y Hora</td>
				<td class="borderb id-col" style="padding: 8px;">Cliente</td>
				<td class="borderb" style="padding: 8px;">ID Doomialiado</td>
				<td class="borderb" style="padding: 8px;">Doomialiado</td>
				<td class="borderb" style="padding: 8px;">Monto</td>
			</tr>

			<!-- LISTADO DATOS -->
			<span style="display:none;"><% count=1 %></span>
			<span style="display:none;"><% total=0 %></span>
			<span style="display:none;"><% total2=0 %></span>
			<% for(fila of this.data){ %>
				<tr>
					<td class="borderb id-col" style="padding: 8px;"> <% count++ %> </td>
					<td class="borderb id-col" style="padding: 8px;"><% fila.id %></td>
					<td class="borderb" style="padding: 8px;"><% fila.creado %></td>
					<td class="borderb" style="padding: 8px;"><% fila.cliente.nombre %> <% fila.cliente.nombre %></td>
					<td class="borderb" style="padding: 8px;"><% fila.id_restaurante %></td>
					<td class="borderb" style="padding: 8px;"><% fila.nombre_restaurante %></td>
					<td class="borderb" style="padding: 8px;text-align: right;"><% this.precio(fila.pago_del) %></td>
				</tr>
			<% } %>
		</table>
	</center>
</body>
</html>