<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width" />
</head>

<style type="text/css">
	*{
		font-size: 6pt;
	}

/*	@media screen and (max-width : 320px){
		body{
			font-size: 10pt;
		}
	}
	@media screen and (max-width : 1204px){
		body{
			font-size: 15pt;
		}
	}*/

	.border{
		border:1px solid #ddd !important;
	}
	.borderb{
		border-bottom:1px solid #ddd !important;
		padding: 3px;
	}
	.id-col{
		width: 25px;
	}
	.center{
		text-align: center;
	}
	.hide{
		display: none;
	}
</style>

<body>
	<center>
		<table class="border" style="width: 100%;">

			<!-- ENCABEZADO DOOMI -->
			<% if(this.tipo_usuario=='restaurante'){ %>
				<tr>
					<td class="borderb" rowspan="5" colspan="2" align="center">
						<center><img src="<% this.img_doomi || this.logo %>" width="100%"></center>
					</td>

					<tr>
						<td class="borderb" colspan="8" align="left" style="padding: 0px !important;">
							Identificación del Doomi: <b><% this.id_doomi %></b>
						</td>
					</tr>
					<tr>
						<td class="borderb" colspan="8" align="left" style="padding: 0px !important;">
							Nombre: <b><% this.nombre_doomi %></b>
						</td>
					</tr>
					<tr>
						<td class="borderb" colspan="8" align="left" style="padding: 0px !important;">
							Dirección corta: <b><% this.direccion_doomi || this.ubicacion_doomi %></b>
						</td>
					</tr>
					<tr>
						<td class="borderb" colspan="8" align="left" style="padding: 0px !important;">
							Teléfono: <b><% this.telefono_doomi %></b>
						</td>
					</tr>
				</tr>
			<% } %>

			<tr>
				<td class="borderb" align="center" colspan="10" style="padding: 20px"><b>REPORTE</b></td>
			</tr>

			<!-- ENCABEZADO COLUMNAS -->
			<tr>
				<td class="borderb id-col" style="padding: 8px;">#</td>
				<td class="borderb id-col" style="padding: 8px;">ID Repartidor</td>
				<td class="borderb" style="padding: 8px;">Repartidor</td>

				<% if(this.tipo_usuario=='administrador'){ %>
					<td class="borderb id-col" style="padding: 8px;">ID Doomi</td>
					<td class="borderb" style="padding: 8px;">Doomialiado</td>
				<% } %>

				<td class="borderb id-col" style="padding: 8px;">ID Pedido</td>
				<td class="borderb id-col" style="padding: 8px;"><% if(this.tipo_usuario=="administrador") { %>
					% Ganancia
					<% } else { %>
					% Doomi
					<% } %>
				<td class="borderb" style="padding: 8px;">Modalidad</td>
				<td class="borderb" style="padding: 8px;">Fecha Pedido</td>
				<td class="borderb" style="padding: 8px;">Estatus</td>
<% if(this.filtro_modalidad !== "Pickup"){ %>
				<td class="borderb center" style="padding: 8px;">Costo Delivery</td>
<% } %>
			</tr>

			<!-- LISTADO DATOS -->
			<span style="display:none;"><% count=1 %></span>
			<% for(fila of (this.datos||this.data)){ %>
				<tr>
					<td class="borderb id-col" style="padding: 8px;"> <% count++ %> </td>
					<td class="borderb id-col" style="padding: 8px;"><% fila.id_repartidor %></td>
					<td class="borderb" style="padding: 8px;"><% fila.repartidor %></td>

					<% if(this.tipo_usuario=='administrador'){ %>
						<td class="borderb id-col" style="padding: 8px;"><% fila.id_doomi %></td>
						<td class="borderb" style="padding: 8px;"><% fila.nombre_doomi %></td>
					<% } %>

					<td class="borderb id-col" style="padding: 8px;"><% fila.id_pedido %></td>
					<td class="borderb id-col" style="padding: 8px;"><% this.precio(fila.ganancia_acumulada) %></td>
					<td class="borderb" style="padding: 8px;"><% fila.modalidad %></td>
					<td class="borderb" style="padding: 8px;"><% this.fecha(fila.fecha_pedido) %></td>
					<td class="borderb" style="padding: 8px;"><% fila.estatus %></td>
					<% if(this.filtro_modalidad !== "Pickup"){ %>
						<td class="borderb center" style="padding: 8px;"><% this.precio(fila.costo_delivery) %></td>
					<% } %>
				</tr>
			<% } %>

			<span class="hide">
				<% if(this.tipo_usuario == 'restaurante'){
						total_colspan = 4;
					}
					else{
						total_colspan = 6;
					}
				%>
			</span>

			<tr>
				<td colspan="<% total_colspan %>" align="right" style="padding: 8px;">
					<% if(this.tipo_usuario == 'restaurante') { %>
						<b>TOTAL % DOOMI</b>
					<% } else { %>
						<b>TOTAL % GANANCIA</b>
					<% } %>
				</td>
				<td colspan="1" align="center" style="padding: 8px;"><b style="color:green;">
					<% this.precio(this.total_ganancia) %></b>
				</td>
<% if(this.filtro_modalidad !== "Pickup"){ %>
				<td colspan="3" align="right" style="padding: 8px;">
					<b>TOTAL POR DELIVERY</b>
				</td>
				<td colspan="1" align="center" style="padding: 8px;"><b style="color:green;">
					<% this.precio(this.total_delivery) %></b>
				</td>
<% } %>
			</tr>
		</table>
	</center>
</body>
</html>