<template>
  <div id="q-app">
    <!-- <Menu></Menu> -->
    <router-view :key="$route.fullPath" />
  </div>
</template>

<script >
import Menu from './layouts/Menu.vue'
import Estilos from './css/estilos.css'
import Icons from './css/all.min.css'
import PaddingMargin from './css/padding-margin.css'
import GoogleMapsApiLoader from "google-maps-api-loader";
import cordovaPlugins from "./plugins/cordovaPlugins";
import Swal from 'sweetalert2';
import { LocalStorage, Notify } from 'quasar'
window.canRequest = "";
export default {
  name: 'App',
  components: {
    Menu
  },
  data(){
    return {
      titleCurrenView: 'Doomi, Actualicaciones',
      autenticado: false,
    }
  },
  async beforeMount() {
    const Swal = require('sweetalert2');

    const googleMapApi = await GoogleMapsApiLoader({
        libraries: ['places'],
        apiKey: "AIzaSyBUPAHemQKCzVuIBCYTJ9AvsEtZDkfOOjY"
    });
    window.google = googleMapApi;
    window.swal = Swal;

    this.$store.dispatch('actualizarTodo');
  },
  computed: {
    ValStore() {
      return {
        data: this.$auth.obtenerDatos()
      };
    },
  },
  mounted(){
    var this2 = this;
    this.$socket.removeListener('RecibirNotificacionApp')
    this.$socket.on('RecibirNotificacionApp', function (r) {
      var data = this2.$auth.obtenerDatos();
      if(data){
        if((data.text_tipo_usu=='Cliente' && r.tabla_usuario_r=='clientes' && r.id_receptor==data.id) || (data.text_tipo_usu!='Cliente' && r.tabla_usuario_r=='repartidores' && r.id_receptor==data.id)){
          this2.$store.dispatch('notificaciones/actualizarNotificaciones');
          Notify.create({
            message: 'Nueva Notificación',
            icon: 'notifications_active',
            position: 'top',
            actions: [
              {
                label: 'Ver',
                color: 'teal',
                handler: () => {
                  this2.$router.replace({ path:'/Home' })
                  if(r.tipo_noti=='1'){
                    this2.$router.push('/'+r.redireccionar_noti);
                    //location.href = "index.html#/" + r.redireccionar_noti + "";
                  }else if(r.tipo_noti=='2'){
                    this2.$router.push('/'+r.redireccionar_noti+'/' + r.id_usable);
                    //location.href = "index.html#/" + r.redireccionar_noti + "/"+r.id_usable;
                  }else{
                    this2.$router.push('/notifications');
                    //location.href = "index.html#/notifications/";
                  }
                }
              }
            ]
          });
          navigator.vibrate(1000);
        }

        if (data.tipo_usu=='cliente' &&
          r.redireccionar_noti=='Detallescliente' &&
          (r.tabla_usuario_e=='repartidores' || r.tabla_usuario_e=='restaurantes') &&
          (r.contenido.includes('repartidor') || r.contenido.includes('doomialiado')) &&
          r.contenido.includes('entregó')) {
            this2.$router.push('/Detallescliente/' + r.id_usable);
        }

        // Cliente: pickup por recoger.
        if (data.tipo_usu=='cliente' && r.redireccionar_noti=='Detallescliente' && r.tabla_usuario_e=='restaurantes' && r.contenido.includes('Por entregar')) {
          this2.$router.push('/Aviso/' + r.id_usable);
        }


        // CLiente: pedido rechazado por admin o doomi.
        if (data.tipo_usu=='cliente' &&
          r.redireccionar_noti=='Detallescliente' &&
          (r.tabla_usuario_e=='administradores' || r.tabla_usuario_e=='restaurantes') &&
          r.contenido.includes('Motivo')) {
            if (this2.$route.name != 'Misordenes')
              this2.$router.push('/Misordenes/_');
            else if (this2.$route.query['_'])
              this2.$router.replace('/Misordenes/_')
            else
              this2.$router.replace('/Misordenes/_?_=_');
        }

        // Cliente: pedido devuelto.
        if (data.tipo_usu=='cliente' && r.redireccionar_noti=='Detallescliente' && r.tabla_usuario_e=='administradores' && r.contenido.includes('devuelto')) {
          this2.$router.push('/Detallescliente/' + r.id_usable);
        }

        // Repartidor.
        if(data.text_tipo_usu!='Cliente' && r.tabla_usuario_r=='repartidores' && r.id_receptor==data.id){
          if( r.contenido.includes('Entregado') && !r.contenido.includes('Completado') ){

            this2.$store.dispatch('repartidor/recibir_pedido')
            .then(r => {
              this2.$router.push({ path: '/EntregarDelivery' })
            })
            .catch(e => { console.log('CATCH:', e); });

            //this2.$store.commit('repartidor/PUEDE_EMPEZAR_DELIVERY', true);
          }
          else if(
            r.contenido.includes('Completado') ||
            r.contenido.includes('desasignado') ||
            r.contenido.includes('liberado') ) {
            this2.$store.dispatch('repartidor/terminar_pedido');
            this2.$router.push('/Pedidos');
          }

          else if( r.contenido.includes('cancelado') ) {
            this2.$store.dispatch('repartidor/terminar_pedido').then(() => this2.$router.push('Pedidos'));
          }
        }
      }
      this2.$store.dispatch('cliente/actualizarPedidosEnGlobo');
    })

    //this.CordovaP(this.ValStore);
    //VERIFICAR SI HA INICIADO POR PRIMERA VES
    //if(!LocalStorage.has('VERIFICARPRIMERAVES')){
    //  LocalStorage.set('VERIFICARPRIMERAVES',"1");
    //  return this.$router.push({ path:'/bienvenido' });
    //}
    if(this.$auth.obtenerTipoUsuario()=='repartidor')
      this.$store.dispatch('iniciarsetinterval').catch(e => {console.error('err iniciarsetinterval'); this.$q.loading.hide()});;
    switch(this.$auth.obtenerTipoUsuario()){
      case 'cliente': return this.$router.replace({ name:'home' });
      case 'repartidor': return this.$router.replace({ name:'inicio' });
      default: return this.$router.replace({ name:'inicio' });
    }
  },
  watch: {
    '$route': async function(value) {
      // Cerrar el menu cuando la ruta cambie.
      this.$store.commit('closeLeftDrawer');
      var data_all = await this.$auth.obtenerDatos();
      if(data_all){
        if(!this.ValStore.data){
          this.ValStore.data = data_all;
          this.CordovaP(this.ValStore,this);
        }
      }else{
        if(this.ValStore.data && !data_all){
          //this.ValStore.data = await this.$auth.obtenerDatos();
          this.ValStore.data = null;
          this.CordovaP(this.ValStore,this);
        }
      }
    },
  },
  async created () {
    this.CordovaP(this.ValStore,this);
  },
  methods: {
    CordovaP: function(store,this2) {
      //console.log(store);
      document.addEventListener("deviceready", function() {
        //alert(store.data.id+"-"+store.data.text_tipo_usu+"-0000");
        document.addEventListener("backbutton", function(e) {
          alert("entre al evento");
          e.preventDefault();
          e.stopPropagation();
          alert("voy a salir");
          navigator.app.exitApp();
        },false);
        cordovaPlugins.Firebase(store,this2);
        cordovaPlugins.Permissens();

      });

      /*document.addEventListener("backbutton", onBackKeyDown, false);
      function onBackKeyDown(e){
        var URLactual = window.location.hash;
        if(URLactual=='#/Home/' || URLactual=='#/home/' || URLactual=='#/Home' || URLactual=='#/home' || URLactual=='/Home' || URLactual=='/home'){
          e.preventDefault();
          e.stopPropagation();
          navigator.app.exitApp();
        }
      };*/
      var this2 = this;
      window.addEventListener('popstate', function (e) {
        //history.pushState(null, document.title, location.href);
        var URLactual = window.location.hash;

        //alert(URLactual);
        if(URLactual!='#/Pedidos/' && URLactual!='#/pedidos/' && URLactual!='#/Pedidos' && URLactual!='#/pedidos' && URLactual!='/Pedidos' && URLactual!='/pedidos' && URLactual!='#/Menu_configuraciones' && URLactual!='#/Misordenes' && URLactual !='#/Misordenes/_' && URLactual !='#/Carrito' && URLactual !='#/notifications' && URLactual !='#/Historial'){
          //console.log(URLactual);
          e.preventDefault();
          e.stopPropagation();
          navigator.app.exitApp();
        }else if(URLactual=='#/Menu_configuraciones'){
          let verifi = this2.$auth.obtenerDatos();
          if(verifi==null){
            e.preventDefault();
            e.stopPropagation();
            navigator.app.exitApp();
          }
        }
      });
    },

  },
}
</script>
