
/* margenes y paddin en ventanas */

.cuadro1{
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 18px;
	padding-top: 18px;
}

.cuadro2{
	padding-left: 107px;
	padding-top: 0px;
	padding-right: 107px;
	padding-bottom: 81px;
}

.cuadro3{
	padding-left: 107px;
	padding-top: 138px;
	padding-right: 107px;
	padding-bottom: 175px;
}

.cuadro4{
	padding-left: 50px;
	padding-top: 138px;
	padding-right: 50px;
	padding-bottom: 0px;
}

.cuadro5{
	padding-left: 66px;
	padding-top: 142px;
	padding-right: 66px;
	padding-bottom: 0px;
}

.cuadro6{
	padding-left: 107px;
	padding-top: 138px;
	padding-right: 107px;
	padding-bottom: 175px;
}

/* paleta de colores del cliente */

.bg-degradado{
	background-image: radial-gradient(circle at 82.46% 27.27%, #ff703b 0, #ff6340 16.67%, #ff5444 33.33%, #f94646 50%, #eb3848 66.67%, #dd2a49 83.33%, #d01c4b 100%);
}

.bg_gray{
	background-color: #f1f2f4;
	height: 100vh;
	overflow: scroll;
}

.bg_gray_only{
	background-color: #f1f2f4;
}

.bg-dark-gray{
	background-color: #a9a9a9!important;
}

.clr_gray{
	color: #f1f2f4;
}

.clr_dark_gray{
	color: #a9a9a9;
}

.clr_light_blue{
	color: #02e9ff;
}

.clr_dark_blue{
	color: #0035a7;
}

.clr_light_pink{
	color: #fb5a6a
}

.my-10vh{
	margin-top: 10vh;
}

.mt-15vh{
	margin-top: 15vh;
}

.mt-20vh{
	margin-top: 20vh;
}

.mb-10vh{
	margin-bottom: 10vh;
}

.mb-13vh{
	margin-bottom: 13vh;
}

.mb-15vh{
	margin-bottom: 15vh;
}

.mb-20vh{
	margin-bottom: 20vh;
}

.mb-30vh{
	margin-bottom: 30vh;
}

.subrayado{
	text-decoration: underline;
}

.btn_back{
	font-size: 20px!important;
}

.bg-green-light{
	background-color: rgb(10, 235, 10) !important ;
}

.bold{
	font-weight: bold;
}

.q-btn{
	text-transform: capitalize !important ;
}

.q-tab .q-badge {
	display: flex;
    background-color: #02e9ff;
    padding: 4px 3px;
    width: 20px;
    justify-content: center;
}

.q-tab--active .q-tab__indicator {
    opacity: 1;
	transform-origin: left;
	color: #fb5a6a;
	background-color: #fb5a6a;
}

.transparente{
	background-color: rgba( 0, 0, 0, 0) !important ;
	border: 0px !important;
}

/*--background--*/

.bg_transparent{
	background-color: rgba(0, 0, 0, 0.1);
}

.bg_nobg{
	background-color: rgba( 0, 0, 0, 0)!important;
}

.bg_white{
	background-color: white;
	height: 100vh;
}

.bg_blue{
	background-color:white;
}

.bg_rosa{
	background: #f8f6f6;
}

.bg_repartidor{
	background-color: rgb(180, 178, 178);
	overflow: scroll;
	height: 100vh;
}

.bg-grey-light{
	background-color: rgb(233, 222, 222);
}

.bg-img-ayuda{
	background-image: url(../statics/images/Doomi_ayuda.png);
	width: 70px;
	height: 70px;
	background-position: center center ;
	background-size: cover;
}

.separadores{
	background-color: gray;
}

.toolbar{
	background-color: gray;
}

.c_white{
	color: white;
}

.text-end{
	text-align: end;
}

.clr_white{
	color: #fff;
}

.clr_blue{
	color: #0044ff;
}

.clr_pink{
	color: fuchsia;
}

.clr_orange{
	color: orange;
}

.vh100{
	height: 100vh !important;
	overflow: scroll;
}

.vh50{
	height: 50vh !important;
	overflow: scroll;
}

.vh40{
	height: 40vh !important;
	overflow: scroll;
}

.vh20{
	height: 30vh !important;
	overflow: scroll;
}

.vh-mapa{
	height: 25vh;
	overflow: scroll;
}



.flexCenter{
	display: flex;align-items: center;justify-content: center;flex-direction: column;
}

.img-perfil{
	border: 1px solid #ddd;
	height: 120px;
	object-fit: cover;
	object-position: center;
	width: 120px;

}

.img-gray{
	filter: grayscale(100%);
}

.img-doomi, .img-menu{
	/* border: 1px solid #ddd; */
	border-radius: .4rem;
	height: auto;
	object-fit: cover;
	object-position: center center;
	width: 100%;
}
.img-pasos{
	width:100%;
}

/** IMAGENES ***/
.bg_carrito-vacio{
	background-image: url(../statics/images/carrito-vacio.png);
	background-size: 100% 100vh;
	background-repeat: no-repeat;
}

/* .bg_ingresar{
	background-image: url(../statics/images/inicio de sesion 1.png);
	background-size: 100% 95vh;
	background-repeat: no-repeat;
	object-fit: cover;
	object-position: bottom center;
} */


/*-- home--*/

.cont_home{
     background-color:  white;
	/*--background-image: linear-gradient(#273c75, #182C61);--*/
	height: 100vh;
	overflow: scroll;
}

.input-search{
	background: #fff !important;
	border: 1px solid #ddd;
	border-radius: .5rem;
    padding-bottom: 0rem;
	height: 40px;
}

.input{
	background: rgb(236, 236, 236) !important;
	border: 1px solid #ddd;
	border-radius: .5rem;
    padding-bottom: 0rem;
	height: 40px;
}

.input-black{

	background: black !important;
	border: 1px solid #ddd;
	border-radius: .5rem;
    padding-bottom: 0rem;
	height: 40px;

}

.input-map{
	background: #fff !important;
	border: 1px solid #ddd;
	border-radius: .5rem;
    padding-bottom: 0rem;
	width: 100%;
	box-shadow: 2px 2px 2px 2px rgba( 0, 0, 0, .2) ;
}


.img-search{
	background: #fff !important;
	border: 1px solid #fff;
	border-radius: .2rem;
	object-fit: cover;
	object-position: center;
	width: 90%;
	height: 80px;
	padding: 1rem !important;
}

.q-layout__section--marginal{
	background: #273c75 !important;
	width: 100%;
}

.btn-atras{
	position: absolute;
	left: 5px;
	font-size: 20px;
}

.btn-back{
	font-size: 20px;
}

.btn-fixed-end-double{
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	background-color: white;
	bottom: 0;
}

.fixed-end-precios{
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: fixed;
	width: 100%;
	background-color: white;
	bottom: 0;

}

.btn-fixed-end{
	height: 12vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	background-color: white;
	bottom: 0;
}

.btn-detalle{
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	width: 100%;
	background-color: white;
	bottom: 0;
}

.btn-absolute-end{
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	background-color: white;
	bottom: 0;
}

.btn-doomi{
	background-color: orange;
	display: flex;
	justify-content: center;
	width: 65px;
	height: 65px;
	position: fixed;
	bottom: 0;
	right: 0;
	border-radius: 50%;
	margin-right: 4% ;
	margin-bottom: 23%;
	align-items: center;
}

.badge-doomi{
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #02e9ff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.btn-footer .q-btn__content {
	background: #48dbfb;
	color: #fff;
	border-radius: 50%;
}

.circle{
	border-radius: 50%;
}

.cl_standar{
	background-color: #fb5a6a;
	color: white;
	font-size: 16px;
	font-weight: bold;
}

.btn-black{
	background-color: #080f33;
	color: white;
}

.btn-border-black{
	background-color: #f1f2f4;
	border: 1px solid #080f33;
	color: #080f33;
}

.btn-border-pink{
	background-color: #ffffff;
	border: 1px solid #fb5a6a;
	color: #fb5a6a;
}

.bg-snarpy{
	background-image: url(../statics/images/2.png);
	background-size: cover;
	background-position-y:-20px ;
}

.bg-coco{
	background-image: url(../statics/images/3.jpg);
	background-size: cover;

}

.bg-tecno{
	background-image: url(../statics/images/4.png);
	background-size: cover;
    background-position-y:-35px ;
}

.bg-donas{
	background-image: url(../statics/images/1.jpg);
	background-size: cover;

}

.bg-doomi{
	background-image: url(../statics/images/logo.png);
	background-size: cover;
	background-color: white;

}

.bordes{
	border: gray .5px solid;
}

.border-top{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.border-red{
	border: red solid 1px;
}

.border-gray{
	border: 1px solid #a9a9a9;
}

.borde-input{
	border-bottom: solid 2px rgb(211, 204, 204);
}

.degradado{

	background-color: rgb(211, 204, 204);
/*--
background: -moz-linear-gradient(top,  rgba(0,4,56,1) 25%, rgba(0,4,56,1) 25%, rgba(0,9,70,1) 49%);
background: -webkit-linear-gradient(top,  rgba(0,4,56,1) 25%,rgba(0,4,56,1) 25%,rgba(0,9,70,1) 49%);
background: linear-gradient(to bottom,  rgba(0,4,56,1) 25%,rgba(0,4,56,1) 25%,rgba(0,9,70,1) 49%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000438', endColorstr='#000946',GradientType=0 );
--*/
}

.m-ud{
	margin-top: 0px;
	margin-bottom: 0px;
}

.ml-xs{
	margin-left: 10%;
}

.ml-sm{
	margin-left: 25%;
}

.ml-md{
	margin-left: 50%;
}

.ml-xl{
	margin-left: 80%;
}

.alt-xs{
	height: 10%;
}

.alt-sm{
	height: 25%;
}

.alt-md{
	height: 50%;
}

.alt-xl{
	height: 80%;
}

.alt-full{
	height: 100%;
}

.alt_cont_Modalmapa_home{
	height: 60px;
}

.Modalmapa_limite_texto{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.img-xs{
	width: 80px;
	height: 80px;
}

.img-xxs{
	width: 70px;
	height: 70px;
}

.img-sm{
	width: 150px;
	height: 150px;
}

.no-disponible{
	opacity: 0.5;
}

.rounded{
	border-radius: 5rem;
}

.rounded-top{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.rounded-1{
	border-radius: 1rem !important;
}

.soft-border{
	border-radius: .5rem;
}

.w-10{
	width: 10%;
}

.w-20{
	width: 20%;
}

.w-30{
	width: 30%;
}

.w-40{
	width: 40%;
}

.w-50{
	width: 50%;
}

.w-60{
	width: 60%;
}

.w-70{
	width: 70%;
}

.w-80{
	width: 80%;
}

.w-90{
	width: 90%;
}

.w-100{
	width: 100%;
}

.fixed-top{
	position: fixed;
	top: 0;
}

.fixed-bottom{
	position: fixed;
	bottom: 0;
}

.content-between{
	justify-content: space-between;
}

.content-around{
	justify-content: space-around;
}

.content-left{
	justify-content: flex-end !important;
}

.item-center{
	align-items: center;

}

.item-end{
	align-items: flex-end;
}

.position{
	position: absolute;
	right: 0;
	margin-top: 0%;
}

.position_top{
	position: absolute;
	top: 0;
	width: 100%;
	z-index:2;
}

.position-map{
	position: fixed;
	margin-top: 5%;
	text-align: center;
	z-index: 2;
	width: 100%;
}

.elipses{
	height: 40px;
}

.tags-home{
	text-transform: uppercase;
}

.btn-map-home {
    width: 70%;
    padding: 5px;
    background: #1976D2;
    margin-left: 15%;
    display: block;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.positon-fav{
	position:absolute;
	right: 0;
	z-index:1;
}

.all-cate .full-height {
    width: 100% !important;
}

.btn-modal a{
	margin: 0px !important;
}

/*--- menu doomialiados---*/

.cont_categorias_menu{
	height: 35px; width:100%; background:  #ffffff;
}

.portada_doomialiado{
	width:100%;max-height:170px;z-index: 0;filter: blur(3px);
}

.logo_doomialiado{
	width:25%; margin-top: -3rem; margin-left: 10%; border:2px solid #ccc; border-radius: 50%;background: #fff;padding:1rem;
}

.cont_doomialidado{
	background: #ffffff; border-top-left-radius: 1.5rem;border-top-right-radius: 1.5rem ;  margin-top: -25px;z-index:2;
}

.cont_Verinfo{
	background: rgb(224, 221, 221); border-top-left-radius: 1.5rem;border-top-right-radius: 1.5rem ;
}

.bg_cont{
	background: #f1f2f4;
}

.cont_doomi{
	background: #f1f2f4; border-radius: .3rem;
}

.cont_carrito{
	background: #f1f2f4; border-radius: .3rem; ;
}

.cont_categorias{
	height: 35px; width:100%; background: #eee;
}

.cont_menu{
	height: 300px;overflow: scroll;
}

.cont_menu--scroll{
	height: 100vh; max-width: 100%;
}

.cont_menu--nombre{
	line-height: 1.5rem;
}

.cont_menu--precio{
	font-size: 14px;
}

.cont_menu--nohay{
	width: 100%; font-size: 15px; margin-top: 50px;
}

.cont_horario--dia{
	border-bottom: 1px solid #ddd;background: #eee;
}

.cont_horario--hora{
	border-bottom: 1px solid #ddd;
}

.btn-flotante_menu{
	position: fixed;
	right: 0;
	margin-right: 3%;
	bottom: 0;
	margin-bottom: 3%;
}
/*---fin menu doomialiados---*/

.text-b{
	color:#888;font-size:10px;
}

.text-titulo{
	font-size: 18px;
}

.mayusculas{
	text-transform:uppercase;
}

.text-categoria{
	font-size: 15px;
}

.text-subcategoria{
	font-size: 10px;
}

.texto-pasos{
	color: #333;position: absolute;bottom: 70px;
}

.txt-etiquetas{
	color:#0035a7;
}

.btn-pasos{
	position: absolute;
	bottom: 70px;
}

.etiquetas{
	text-align: center;
	font-size: 15px;
	font-weight: 900px;
	margin: 0;
	color: rgb(255, 236, 236);
	background-color: gray;
}



/*---tamaño de las fuentes---*/

.capitalize{
	text-transform: capitalize!important;
}

.no-capitalize{
	text-transform: none!important;
}

.no-bold{
	font-weight: normal!important;
}

.titulo-header{
	font-size: 16px!important;
	font-weight: bold;
}

.titulo-header-repartidor{
	font-size: 20px!important;
	font-weight: bold;
}

.titulo-menu{
	font-size: 14px;
	font-weight: bold;
}

.encabezado{
	font-size: 13px;
}

.descri-menu{
	font-size: 10px;
	color: #999;
}

.nombre-doomi{
	font-size: 12px;
	text-transform: uppercase;

}

.font-sm{
	font-size: 8px;
}

.font-md{
	font-size: 12px;
}

.font-lg{
	font-size: 15px;
}

.font-xl{
	font-size: 15px;
}

.font_titulosxl{
	font-size: 25px;
	font-weight: bold;
}

.font_tituloslg{
	font-size: 20px;
	font-weight: bold;
}

.font_titulosmd{
	font-size: 17px;
	font-weight: bold;
}


.limitar-texto{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.limitar-nombre{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 30px;
}

.limitar-texto-pedido{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

.nombre-cat{
	color:#888;
	font-size: 12px;
	text-transform: uppercase;
}

.parrafos-sm{
	font-size: 8px;
}

.parrafos{
	font-size: 17px;
	line-height: 17px;
}
/*---tamaño de las fuentes---*/


/*---fuente global ---*/

@font-face{
	font-family: 'Liberation Sans', sans-serif;
	src: url(../webfonts/LiberationSans-Regular.ttf)
}

.fuente{
font-family: 'Liberation Sans', sans-serif;

}
/*---fuente global ---*/

.cultar{
	display: none;
}

.q-chip__content{
	font-size:12px;
    text-transform: capitalize;
}

.overflow{
	overflow: scroll;
	height: 100vh;
}

.q-chip{
	border: 1px solid #fb5a6a;
	background-color: white!important;
	padding: 12px;
	color: #fb5a6a!important;
}

.q-item__label{
	color:black;
	font-weight: bold;
	font-size: 17px;
}

.q-item{
	padding: 10px;

}

.q-field__native{
	margin-left: 0px;
}

.q-field__before, .q-field__prepend {
    padding-right: 0px;
}

.q-field__label {
    color: rgba(0, 0, 0, 1.6);
}

.q-field__control-container{
	margin-left:5px;
}
.tags-home-selec{
	background-color: #fb5a6a !important;
	color: white !important;
}

.lnh{
	line-height: 17px;
}

.q-field--auto-height.q-field--labeled .q-field__control-container{
	padding-top: 10px;
}

.q-field--labeled .q-field__native, .q-field--labeled .q-field__prefix, .q-field--labeled .q-field__suffix{
	padding-top: 10px;
}

.q-textarea.q-field--labeled .q-field__control-container {
    padding-top: 17px;
}

.q-textarea .q-field__native {
    padding-top: 12px;
	line-height: 20px;
}
.q-textarea .q-field__native {
    min-height: 64px;
}

.q-dialog__inner--maximized > div {
    height: 95% !important ;
    width: 95% !important ;
    max-height: 100vh;
    max-width: 100vw;
    border-radius: 0 !important;
}

.q-select__dialog {
    width: 100vw !important;
    max-width: 100vw !important;
    max-height: calc(100vh - 70px) !important;
    background: #fff;
    display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0;
}

.q-scrollarea__thumb {
    display: none;
}

.q-field__messages > div{
	margin-top: 10px;
}

.q-field--with-bottom {
	padding-bottom: 0px;
}

.q-tab .q-badge {
	top: 32px;
    right: -25px;
}

.q-tab__label {
    font-size: 14px;
    line-height: 1.715em;
    font-weight: 500;
    text-transform: capitalize;
}

.text-subtitle1{
	line-height: 15px;
}

.franja{
	position: fixed;
	left: 0;
	margin-left: 0%;
	z-index: 2;
	top:0px;
	background-color: #ffffff ;
	width: 100%;
	height: 15%;
	margin-top: 0rem;
}

.img{
	position: fixed;
	left: 0;
	margin-left: 5%;
	z-index: 2;
	top:0px;
	width: 73px;
	height: auto;
	margin-top: 0rem;
}

.titulo{
	position: fixed;
	left: 0;
	margin-left: 5%;
	z-index: 2;
	top:66px;
	width: 100%;
	background-color: #ffffff ;
}

.barra{
	position: fixed;
	right: 0;
	top:105px;
	z-index: 2;
	width: 100%;
}

.cont-leyenda{
	background: #f1f1f1; border:1px solid #ddd; border-radius: .5rem;
}

.alert-red{
	color: #02e9ff;
}

.fixed_footer{
	position: fixed;
	bottom: 0;
	margin-bottom: 15px;
}

.arrow-up{
  transform: rotate(90deg);
}

.arrow-up{
	transform: rotate(270deg);
}

/* box shadow */

.card_shadow_bottom{
	box-shadow: 17px 18px 16px -14px rgba( 0, 0, 0, 0.3);
}

.card_shadow_bottom_sm{
	box-shadow: 6px 5px 7px 0px rgba( 0, 0, 0, 0.1);
}

/* fin box shadow */

/* modales del appi */

.swal2-container.swal2-center {
    z-index: 7000;
}

.swal2-styled.swal2-confirm {
    border-radius: 5rem !important;
    background: initial !important;
    background-color: #fb5a6a !important;
    color: #fff !important;
	font-size: 15px !important;
	width: 90%;
}

.swal2-styled.swal2-cancel {
    border-radius: 5em !important;
    background: initial !important;
    background-color: #f1f2f4 !important;
	color: black !important;
	border: 1px solid black !important;
	font-size: 15px !important;
	width: 90%;
}

/* clases sobre el genero */

.Masculino{
	color: white;
	background-color: blue;
}

.Femenino{
	color: white;
	background-color: fuchsia;
}

/* media querys en height */

.padding-precios-fixed{
padding-right: 30px;
  
}

@media screen and (max-height:400px) and (max-width:300px) {
	.font-xl{
		font-size: 10px;
	}

	.font-m{
		font-size: 10px !important ;
	}

	.font-m_s{
		font-size: 15px !important ;
	}

	.btn-extrasm{
		display: block !important ;
	}

	.nombre-cat {
		color: #888;
		font-size: 9px;
		text-transform: uppercase;
	}

	.font-md{
		font-size: 10px;
	}

	.font-lg{
		font-size: 10px ;
	}

	.font_titulosxl{
		padding: 0px;
		font-size: 15px !important;
	}

	.q-btn{
		padding: 0px;
		font-size: 10px !important;
	}

	.cl_standar{
		font-size: 10px;
	}

	.img-icon{
		width: 20px !important;
		height: 20px !important;
	}

	.img-user{
		width: 30px !important;
		height: 30px !important;
	}

	.barra {
		position: fixed;
		right: 0;
		top: 85px;
		z-index: 2;
		width: 100%;
	}

	.titulo {
		padding-top: 0px !important;
		position: fixed;
		left: 0;
		margin-left: 5%;
		z-index: 2;
		top: 59px;
		width: 100%;
		background-color: #ffffff;
	}

	.img-asteroide{
		width: 80px !important;
		height: 80px !important;
	}

	.img-favoritos{
		width: 70px !important;
		height: 70px !important;
	}

	.img-logo{
		width: 20% !important;
	}

	

	.font_titulosmd {
		font-size: 12px;
		font-weight: bold;
	}

	.swal2-styled.swal2-confirm {
    border-radius: 5rem !important;
    background: initial !important;
    background-color: #fb5a6a !important;
    color: #fff !important;
    font-size: 10px !important;
    width: 90%;
}

.font_tituloslg{
	font-size: 14px;
}

.heart-xs{
	padding: 15px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.swal2-styled.swal2-cancel {
    border-radius: 5em !important;
    background: initial !important;
    background-color: #f1f2f4 !important;
    color: black !important;
    border: 1px solid black !important;
    font-size: 10px !important;
    width: 90%;
}

	.q-chip {
		border: 1px solid #fb5a6a;
		background-color: white!important;
		padding: 5px;
		color: #fb5a6a!important;
		margin-bottom: 10px !important;
		font-size: 10px;
	}

	.input {
		background: rgb(236, 236, 236) !important;
		border: 1px solid #ddd;
		border-radius: 5rem;
		padding-bottom: 0rem;
		height: 30px;
	}

	.q-field--dense .q-field__label {
		font-size: 10px;
		top: 10px;
	}

	.q-field__label {
		font-size: 10px;
	}

	.q-field__before, .q-field__prepend {
	 font-size: 15px;
	}

	.q-tab__label {
		font-size: 10px;
		line-height: 1.715em;
		font-weight: 500;
		text-transform: capitalize;
	}

	.img-xs {
		width: 50px;
		height: 50px;
	}

	.btn-doomi {
		background-color: orange;
		display: flex;
		justify-content: center;
		width: 50px;
		height: 50px;
		position: fixed;
		bottom: 0;
		right: 0;
		border-radius: 50%;
		margin-right: 4%;
		margin-bottom: 23%;
		align-items: center;
	}

	.q-field__native {
		margin-left: 0px;
		font-size: 10px !important;
	}
}

@media screen and (max-width:330px) {

	.q-field__native {
		margin-left: 0px;
		font-size: 10px !important;
	}
	.font-xl{
		font-size: 10px;
	}

	.font-m{
		font-size: 10px !important ;
	}

	.font-m_s{
		font-size: 15px !important ;
	}

	.btn-extrasm{
		display: block !important ;
	}

	.nombre-cat {
		color: #888;
		font-size: 9px;
		text-transform: uppercase;
	}

	.font-md{
		font-size: 10px;
	}

	.font-lg{
		font-size: 10px ;
	}

	.font_titulosxl{
		padding: 0px;
		font-size: 15px !important;
	}

	.q-btn{
		padding: 0px;
		font-size: 10px !important;
	}

	.cl_standar{
		font-size: 10px;
	}

	.img-icon{
		width: 20px !important;
		height: 20px !important;
	}

	.img-user{
		width: 30px !important;
		height: 30px !important;
	}

	.barra {
		position: fixed;
		right: 0;
		top: 85px;
		z-index: 2;
		width: 100%;
	}

	.titulo {
		padding-top: 0px !important;
		position: fixed;
		left: 0;
		margin-left: 5%;
		z-index: 2;
		top: 59px;
		width: 100%;
		background-color: #ffffff;
	}

	.img-asteroide{
		width: 80px !important;
		height: 80px !important;
	}

	.img-favoritos{
		width: 70px !important;
		height: 70px !important;
	}

	.img-logo{
		width: 20% !important;
	}

	

	.font_titulosmd {
		font-size: 12px;
		font-weight: bold;
	}

	.swal2-styled.swal2-confirm {
    border-radius: 5rem !important;
    background: initial !important;
    background-color: #fb5a6a !important;
    color: #fff !important;
    font-size: 10px !important;
    width: 90%;
}

.font_tituloslg{
	font-size: 14px;
}

.heart-xs{
	padding: 15px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.swal2-styled.swal2-cancel {
    border-radius: 5em !important;
    background: initial !important;
    background-color: #f1f2f4 !important;
    color: black !important;
    border: 1px solid black !important;
    font-size: 10px !important;
    width: 90%;
}

	.q-chip {
		border: 1px solid #fb5a6a;
		background-color: white!important;
		padding: 5px;
		color: #fb5a6a!important;
		margin-bottom: 10px !important;
		font-size: 10px;
	}

	.input {
		background: rgb(236, 236, 236) !important;
		border: 1px solid #ddd;
		border-radius: 5rem;
		padding-bottom: 0rem;
		height: 30px;
	}

	.q-field--dense .q-field__label {
		font-size: 10px;
		top: 10px;
	}

	.q-field__label {
		font-size: 10px;
	}

	.q-field__before, .q-field__prepend {
	 font-size: 15px;
	}

	.q-tab__label {
		font-size: 10px;
		line-height: 1.715em;
		font-weight: 500;
		text-transform: capitalize;
	}

	.img-xs {
		width: 50px;
		height: 50px;
	}

	.btn-doomi {
		background-color: orange;
		display: flex;
		justify-content: center;
		width: 50px;
		height: 50px;
		position: fixed;
		bottom: 0;
		right: 0;
		border-radius: 50%;
		margin-right: 4%;
		margin-bottom: 23%;
		align-items: center;
	}
}

@media screen and (max-height:500px){

	.btn-listo-fixed{
		bottom: 10px !important;
	}

	.mb-30vh{
		margin-bottom: 20px;
	}

	.padding-precios-fixed{
	  padding-right: 0px;
		  
	}

	.scroll-sm{
		margin-bottom: 0px !important;
	}

	.mb-20vh{
		margin-bottom: 10px;
	}

	.fixed-end-precios{
		position: relative;
	}

	.btn-fixed-end{
		position: relative;
	}

	.btn-fixed-end-double{
		position: relative;;
	}

	.btn-detalle{
		position: relative;
	}
}

@media screen and (max-width:360px){

	.scroll-sm{
		margin-bottom:40vh
	}
	
}

@media screen and (max-width:320px){

	.scroll-xs{
		margin-bottom:20vh
	}
	
}

