<div class="cont_bg ">
	<div class="cont-login m-2 row">
		<div class="col s12">
			<form method="post" action="" class="login-form" id="formLogin">
				<div class="row">
					<div class="input-field col s12 center">
						<img src="../static/img/logo.png" class="img-logo">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12">
						<p for="correo" class="active m-0">Correo</p>
						<input id="correo" name="correo" type="email" autocomplete="off" class="form-control" required="required">
					</div>
				</div>

				<div class="row">
					<div class="input-field col S12">
						<p for="pass" class="active m-0">Contraseña</p>
						<input id="pass" name="pass" type="password" autocomplete="off" class="form-control" required="required">
					</div>
				</div>

				<div class="row text-center">
					<div class="input-field col S12">
						<button type="submit" name="" class="btn btn-primary waves-effect w100 BTentrar">Entrar</button>
					</div>
				</div>

				<div class="row">
					<div class="input-field col S12">
						<p class="margin text-center medium-small">
							<a href="index.html?op=recuperar" class="clr_first-color text-bold">Recuperar contraseña</a>
						</p>			
					</div>
				</div>
			</form>
		</div>
	</div>
</div>