<div class="cont_bg ">
	<div class="cont-login m-2 row">
		<div class="col s12">
			<form method="post" action="" id="formRecuperar" class="login-form">
				<div class="row">
					<div class="input-field center">
						<img src="../static/img/logo.jpg" class="img-logo">
					</div>
				</div>

				<div class="row">
					<div class="input-field col s12 m12">
						<p for="correo" class="active m-0">Correo</p>
						<input id="correo" name="correo" type="email" autocomplete="off" placeholder="" class="form-control" required="required">
					</div>
				</div>

				<div class="row center">
					<div class="input-field">
						<button type="submit" name="recuperar" class="btn btn-primary  waves-effect Btrecuperar">Enviar</button>
						<a href="panel/.."class="btn btn-primary waves-effect ">Volver</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>