<template>
  <div id="q-app">
    <!-- <Menu></Menu> -->
    <!-- <router-view :key="$route.fullPath" /> -->
    <router-view />
  </div>
</template>

<script >
import Menu from './layouts/Menu.vue'
import Estilos from './css/estilos.css'
import Icons from './css/all.min.css'
import PaddingMargin from './css/padding-margin.css'
import GoogleMapsApiLoader from "google-maps-api-loader";
import cordovaPlugins from "./plugins/cordovaPlugins";
import Swal from 'sweetalert2';
import { LocalStorage, Notify } from 'quasar'
window.canRequest = "";
export default {
  name: 'App',
  components: {
    Menu
  },

  data(){
    return {
      titleCurrenView: 'Doomi, Actualicaciones',
      autenticado: false,
    }
  },


  async beforeMount() {
    const Swal = require('sweetalert2');

    const googleMapApi = await GoogleMapsApiLoader({
        libraries: ['places'],
        apiKey: "AIzaSyBUPAHemQKCzVuIBCYTJ9AvsEtZDkfOOjY"
    });
    window.google = googleMapApi;
    window.swal = Swal;

    this.$store.dispatch('actualizarTodo');
  },


  computed: {
    ValStore() {
      return {
        // data: this.$auth.obtenerDatos()
      };
    },
  },


  mounted() {
    this.$socket.removeAllListeners('RecibirNotificacion');

    this.$socket.on('RecibirNotificacion', evt => {
      if (evt.tabla_usuario_r=='restaurantes' && evt.id_receptor==this.$store.getters['doomi/id']) {
        this.on_notificacion_doomi(evt);
      }
    });
  },


  watch: {
    '$route': async function(value) {
      var data_all = await this.$store.getters['doomi/id'];
      if(data_all){
        if(!this.ValStore.data){
          this.ValStore.data = data_all;
          this.CordovaP(this.ValStore,this);
        }
      }else{
        if(this.ValStore.data && !data_all){
          this.ValStore.data = null;
          this.CordovaP(this.ValStore,this);
        }
      }
    },
  },


  async created () {
    this.CordovaP(this.ValStore,this);
  },


  methods: {
    on_notificacion_doomi(evt) {
      if (evt.redireccionar_noti.includes('op=pedidos_panel') &&
          evt.redireccionar_noti.includes('id=') &&
          evt.tabla_usuario_e=='clientes')
      {
        this.$q.notify({
          message: `Cliente #${evt.id_emisor}: ${evt.contenido.toLowerCase()}`,
          timeout: 4000,
          actions: [
            { label: 'VER', color: 'cyan', handler: () => { this.$router.push('/Detalles/'+evt.id_usable); } }
          ]
        })
      }
      else if(evt.tabla_usuario_e=='repartidores' && evt.contenido.includes('tomado')) {
        this.$q.notify({
          message: `Repartidor #${evt.id_emisor}: ha tomado el pedido ${evt.id_usable}`,
          timeout: 4000,
          actions: [
            { label: 'VER', color: 'cyan', handler: () => { this.$router.push('/Detalles/'+evt.id_usable); } }
          ]
        })
      }
      else {
        this.$q.notify({ message:evt.contenido, timeout:4000 });
      }
    },

    CordovaP: function(store,this2) {
      //console.log(store);
      document.addEventListener("deviceready", function() {
        //alert(store.data.id+"-"+store.data.text_tipo_usu+"-0000");
        document.addEventListener("backbutton", function(e) {
          alert("entre al evento");
          e.preventDefault();
          e.stopPropagation();
          alert("voy a salir");
          navigator.app.exitApp();
        },false);
        cordovaPlugins.Firebase(store,this2);
        cordovaPlugins.Permissens();

      });

      /*document.addEventListener("backbutton", onBackKeyDown, false);
      function onBackKeyDown(e){
        var URLactual = window.location.hash;
        if(URLactual=='#/Home/' || URLactual=='#/home/' || URLactual=='#/Home' || URLactual=='#/home' || URLactual=='/Home' || URLactual=='/home'){
          e.preventDefault();
          e.stopPropagation();
          navigator.app.exitApp();
        }
      };*/
      var this2 = this;
      /*
      window.addEventListener('popstate', function (e) {
        //history.pushState(null, document.title, location.href);
        var URLactual = window.location.hash;

        //alert(URLactual);
        if(URLactual!='#/Pedidos/' && URLactual!='#/pedidos/' && URLactual!='#/Pedidos' && URLactual!='#/pedidos' && URLactual!='/Pedidos' && URLactual!='/pedidos' && URLactual!='#/Menu_configuraciones' && URLactual!='#/Misordenes' && URLactual !='#/Misordenes/_' && URLactual !='#/Carrito' && URLactual !='#/notifications' && URLactual !='#/Historial'){
          //console.log(URLactual);
          e.preventDefault();
          e.stopPropagation();
          navigator.app.exitApp();
        }else if(URLactual=='#/Menu_configuraciones'){
          let verifi = this2.$auth.obtenerDatos();
          if(verifi==null){
            e.preventDefault();
            e.stopPropagation();
            navigator.app.exitApp();
          }
        }
      });
      */
    },

  },
}
</script>
