<template>
  <div>
    <div
      ref="mapa"
      map-type-id="terrain"
      class="col-12"
      style="height: 100vh ; width:100% "
      >
    </div>
  </div>
</template>



<script type="text/javascript">
export default {

name: 'GoogleMap',

data() {
  return {
    mapa: null,
    marker: null,
    lastClickEvent: null,
    isLoaded: false,
    onLoadCallbacks: [],
    options: {
      zoom: 9,
      center: { lat:10.3403975, lng:-68.7595871 },
    },

    mapStyles: [
      {
        featureType: "poi.business",
        elementType: "labels",
        stylers: [{ visibility: "off" }]
      },
      {
        elementType: 'labels.text.fill',
        stylers: [{ color: '#294dce' }]
      }
    ],

    beaconImage: {
      url: "statics/images/map-aqui-estoy.png",
      size: new google.maps.Size(81, 81),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(40, 71),
      scaledSize: new google.maps.Size(75, 75)
      //anchor: new google.maps.Point(17, 34),
      //scaledSize: new google.maps.Size(30, 30)
    },

  };
},


mounted() {
  this.mapa = this._initMap(this.$refs.mapa, this.options, this.mapStyles);
  google.maps.event.addListener(this.mapa, 'click', this._onMapClick);

  google.maps.event.addListenerOnce(this.mapa, 'idle', (evt) => {
    this.isLoaded = true;
    this._callAll(this.onLoadCallbacks);
    this.onLoadCallbacks = [];
  });
},


methods: {
  /**
  *** FUNCIONES PUBLICAS
  **/
  getMarkerPosition() {
    return this.marker?.position;
  },

  getCenter() {
    return this.mapa?.getCenter();
  },

  panTo(lat, lng) {
    const Point = {lat:+lat, lng:+lng};
    this.mapa.panTo(Point);
    return this;
  },

  setCenter(lat, lng, zoom=null) {
    const Point = {lat:+lat, lng:+lng};
    this.mapa.setCenter(Point, +zoom||this.options.zoom);
    return this;
  },

  setMarker(lat, lng, Label=" ") {
    const Point = {lat:+lat, lng:+lng};

    if (this.marker) {
      this.marker.setPosition(Point);
    }
    else {
      this.marker = new google.maps.Marker({
        position: Point,
        map: this.mapa,
        icon: this.beaconImage,
        // label: {
        //   text: Label,
        //   color: '#FFF',
        // },
      });
    }

    return this;
  },

  onLoad(fn) {
    if (this.isLoaded) {
      fn();
    }

    else {
      this.onLoadCallbacks.push(fn);
    }
  },



  /**
  *** FUNCIONES PRIVADAS
  **/
  _onMapClick(evt) {
    this.lastClickEvent = evt;
    this.$emit('onMapClick', evt);
  },

  _initMap($ref, mapOptions={}, mapStyles={}) {
    // Regresa el mapa estilizado.

    const styledMap = new google.maps.StyledMapType(mapStyles, {
      name: "Styled Map"
    });

    const map = new google.maps.Map($ref, {...mapOptions});

    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
    return map;
  },

  _callAll(funcs) {
    const call = async (fn) => fn();

    for (let i = 0; i < funcs.length; i++) {
      call(funcs[i]);
    }
  },

},

}</script>