<template>
    <div class="">
        <div class="row">
             <q-dialog v-model="Modalmapa">
					<q-card class="w-100" >
						<q-card-section class="text-right p-0 " >
							<q-btn flat label="X" v-close-popup />
						</q-card-section>

						<q-card-section class="q-pt-none">
							<div class="col-12 text-center ">
                                 <p class="titulo-header m-0 " > Nombre del doomialido </p>
                            </div>

							<div class="col-12 q-mt-md ">
								<google-map>
									<slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
									<input name="lat_dir" v-model="lat" type="hidden" />
									<input name="lon_dir" v-model="lon" type="hidden" />
									</slot>
								</google-map>
							</div>
						</q-card-section>
					</q-card>
				</q-dialog>
        </div>
              
    </div>
</template>

<script>

import GoogleMap from 'components/GoogleMap';
import { date } from 'quasar';

export default {
    name: 'Modalmapa',
    props:{
        Modalmapa:false
    },
    data () {
        return{
              Modalmapa: false
        }
    
    }


}
</script>