<template>
<div class="blue bg-white vh100 rounded-top fuente">
  <slot :tab="tab_activa"></slot>
    <!-- TABS -->
    <q-tabs v-model="tab_activa" class="">
      <q-tab v-for="tabName in Object.keys(tabs)" :key="tabName" :name="tabName" icon="" :label="tabName">
        <q-badge v-if="numero_pedidos[tabName]"  class="circle" text-color="white" floating>
          {{ numero_pedidos[tabName] }}
        </q-badge>
      </q-tab>
    </q-tabs>

<!--   <div v-if="pedidos.length==0" class="q-pt-xl">
    <center><b><i>{{ msj || "No hay pedidos aquí" }}</i></b></center>
  </div> -->

  <pedidos-listado :pedidos="pedidos" :mensaje="msj" />

  <q-btn
    class="row bg_cont q-mt-md q-pt-sm q-pb-sm q-pl-md q-pr-md soft-border "
    v-if="tab_activa == 'Entregados' && !entregados_antes_de_hoy" style="width: 80vw; margin-left: auto; margin-right: auto;"
    @click="clickVerAnteriores"
  >
    <center><b>Mostrar anteriores a hoy</b></center>
  </q-btn>


</div>
</template>


<script>

import PedidosListado from 'components/PedidosListado'
import { mapGetters } from 'vuex'

export default {

name: 'PedidosTabs',
components: { PedidosListado },

props: {
  tabs: { //Estructura: { "Nombre de tab": [ids, de, estatus] }
    type: Object,
    required: true,
    validator: obj => Object.values(obj).reduce((a,b) => a && Array.isArray(b), true)
  },
},


data() {
  return {
    msj: '',
    tab_activa: null,
    entregados_antes_de_hoy: true,
    numero_pedidos: {},
    lista_estatus: [],
    pedidos: [],
    // tabs: {
    //   'Pendientes': [3, 97], // Pagados, Inhabilitados
    //   // 'Rechazados': [98, 99], // Cancelados, Rechazados
    //   'Confirmados': [5, 6, 7, 8], // En proceso, Preparado, Finalizado, Por entregar
    //   'En Camino': [10, 12], // En transito, Entrgado al cliente
    //   'Entregados': [11], // Completos
    // },
  };
},


created() {
    // this.recuperarPedidos().then(this.contarPedidos);
    this.tab_activa = null;
    this.tab_activa = Object.keys(this.tabs)[0];
    this.contarPedidosRemoto();
    this.$api.general.recuperarData('/pedidos/estatus')
      .then(data => {
        data.unshift({id:-1, nombre:'Todos'});
        this.lista_estatus = data;
      });
},


computed: {
  ...mapGetters({
    count_notif: 'cliente/count_notif',
  }),
},


watch: {
  // Recuperar pedidos al cambiar de tab.
  tab_activa(tab) {
    this.recuperarPedidos({
      estatus_in: this.tabs[tab],
      // actual: this.entregados_antes_de_hoy ? '' : 1
    }).then(() => this.contarPedidos(tab));
  },

  count_notif(val){
    this.contarPedidosRemoto();
    // this.recuperarPedidos({ estatus_in: this.tabs[this.tab_activa] });
    this.recuperarPedidos({ estatus_in: this.tabs[this.tab_activa] });
  },

},


methods: {

  async recuperarPedidos(filtros) {
    this.pedidos = [];
    this.msj = 'Cargando...';
    if(!filtros)
      await this.$api.general.recuperarData('/pedidos/').then(data => {this.pedidos = data});
    else
      await this.$api.general.recuperarDataConData('/pedidos/filtrados', filtros).then(data => this.pedidos = data);

    this.$q.loading.hide();

    if(!this.pedidos || this.pedidos.length == 0)
      this.msj = 'No hay pedidos aquí';
    else {
      this.msj = null;
      this.pedidos.sort((a,b) => new Date(b.creado) - new Date(a.creado));
    }

    return Promise.resolve();
  },

  contarPedidos(tab) {
    if(tab) {
      let num = this.pedidos.filter(o => this.estatusTab(o.id_estatus) == tab).length;
      return this.$set(this.numero_pedidos, tab, num);
    }
    this.numero_pedidos = {};
    for (let tab of Object.keys(this.tabs)) {
      let num = this.pedidos.filter(o => this.estatusTab(o.id_estatus) == tab).length;
      this.$set(this.numero_pedidos, tab, num);
    }
  },

  estatusTab(id) {
    // Regresa el nombre de tab para un id de estatus.
    id = parseInt(id||NaN, 10);

    for (let [tab,ids] of Object.entries(this.tabs)) {
      if(ids.includes(id)) return tab;
    }
  },

  contarPedidosRemoto(){
    this.$api.general.recuperarData('/pedidos/conteo_pedidos_por_tab')
      .then(data => {
        this.numero_pedidos = {};
        for (let count of data) {
          let prev = this.numero_pedidos[this.estatusTab(count.id_estatus)] || 0
          this.$set(this.numero_pedidos, this.estatusTab(count.id_estatus), count.count+prev);
        }
      }).catch(console.error);
  },

  clickVerAnteriores() {
    this.entregados_antes_de_hoy = true;
    this.recuperarPedidos({
      estatus_in: this.tabs[this.tab_activa],
      actual: this.entregados_antes_de_hoy ? '' : 1
    })
  },

},


}</script>

