<template>
  <div :class="verificarpedido(pedido) ? parentClasses2 : parentClasses  "
    >

    <!-- medalla de estatus -->
    <p style="top:-10px;right:0;" :class="pedido.estatus.nombre == 'Pago rechazado' ? 'bg-red' : 'bg-pink' " class="absolute mb-0  q-pa-xs rounded q-pl-md q-pr-md ">
      {{ pedido.estatus.nombre }} <q-icon name="warning" class="text-white" v-if="pedido.estatus.nombre == 'Pago rechazado'" ></q-icon>
    </p>

    <!-- <q-btn @click="clickAvanzar" style="bottom:-5px;right:0px" icon="keyboard_arrow_right"
      class="cl_standar absolute q-pa-xs " size="sm" round></q-btn> -->

    <div @click="Vermas()" class="col-12 flex item-center ">
      <img class="circle" height="35px" width="35px" :src=" pedido.cliente.foto || 'statics/images/user.png'">
      <p class="mb-0 font-xl text-black q-ml-md ">{{ pedido.cliente.nombre }}</p>
      <p class="mb-0 font-xl text-black q-ml-sm  ">Pedido N° #{{ pedido.id }}</p>
    </div>

    <div @click="Vermas()" class="col-12 flex item-center q-mt-md ">
      <!-- <img class="circle" height="35px" width="35px" src="statics/images/transporte/car.png"> -->
      <q-icon :name="icono" class="text-black" style="font-size: 35px;" />
      <p class="mb-0 font-xl text-black q-ml-md ">
        {{ formatoHora(pedido.creado) }}
      </p>

      <p class="mb-0 font-xl text-black q-ml-sm  ">
        {{ formatoFecha(pedido.creado) }}
      </p>
    </div>
    <div @click="Vermas()" class="col-12 flex item-center  " v-if="pedido.modalidad=='Programado'">
      <p class="mb-0 font-xl text-black  ">
        Entrega: {{ formatoHora(pedido.fecha_pro) }} {{ formatoFecha(pedido.fecha_pro) }}
      </p>
    </div>
  </div>
</template>


<script type="text/javascript">

import moment from 'moment';

export default {
name: 'PedidoCard',

props: {
  pedido: {
    type: Object,
    required: true,
  },

  debounce: {
    type: Number,
    required: false,
    default: 0,
  },
},


data() {
  return {
    iconosModalidad: {
      'Pickup': 'shopping_basket',
      'Delivery': 'two_wheeler',
      'Programado': 'schedule',
    },

    parentClasses: [
      'row',
      'bg_cont',
      'animate__animated',
      'animate__slow',
      '2s',
      'relative',
      'q-mt-lg',
      'q-mb-lg',
      'q-pa-md',
      'q-ml-md',
      'q-mr-md',
      'text-white',
      'rounded-1'
    ],
    parentClasses2: [
      'row',
      'bg_cont',
      'animate__animated',
      'animate__slow',
      '2s',
      'relative',
      'q-mt-lg',
      'q-mb-lg',
      'q-pa-md',
      'q-ml-md',
      'q-mr-md',
      'text-white',
      'rounded-1',
      'bg-green'
    ],
  };
},


computed: {
  icono() {
    return this.iconosModalidad[this.pedido.modalidad];
  },
},


methods: {
  verificarpedido(pedido){
    //console.log(pedido);
    if(pedido.modalidad!='Programado' && pedido.estatus.id == 6 && (pedido.buscar_favoritos == 0 || pedido.buscar_favoritos == 1))
      return true;
    else if(pedido.modalidad=='Programado' && pedido.estatus.id == 6 && pedido.preparando_programado && (pedido.buscar_favoritos == 0 || pedido.buscar_favoritos == 1)){
      return true;
    }
    else
      return false;
  },
  clickAvanzar() {
    // Animar salida.
    this.parentClasses.push('animate__backOutRight');

    // Esperar por animacion.
    setTimeout(() => this.$emit('avanzar', this.pedido), this.debounce);
  },

  Vermas(){
    this.$router.push({path:'/Detalles/' + this.pedido.id})
  },

  formatoHora(datetime) {
    return moment(datetime).format('hh:mm A');
  },
  formatoFecha(datetime) {
    return moment(datetime).format('DD-MM-YYYY');
  },

},


}</script>
