<template>
	<div class="blue cont_home fuente  ">
		<div >
			<div class="row text-center q-mt-lg q-mb-lg flex content-between item-center ">
				<div class="col-2">
					<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
					<!-- <q-btn class="btn_back"  flat color="primary" icon="keyboard_arrow_left" label="" @click="$router.back()" /> -->
				</div>
				<div class="col-8">
					<p class="mb-0 titulo-header " >Detalles de pedido</p>
				</div>
				<div class="col-2"></div>
			</div>
			<!-- orden -->
			<div class="row  q-ml-md q-mr-md q-mt-md  ">
				<div class="col-12 text-center ">
					<p class="mb-0 font-xl bold  " > {{ pedido.cliente && pedido.cliente.nombre }}, Tu pedido esta listo</p>
				</div>
			</div>
			<!-- <div class="row  q-ml-md q-mr-md q-mt-md  "><div class="col-12"><p class="mb-0 font-xl bold  " > Nombre del doomi</p></div></div> -->
			<!--
		 <div v-for="item in detallesOrdenes" class="row lnh bg_cont q-mt-sm q-pt-sm q-pb-md q-pl-md q-pr-md soft-border q-ml-md q-mr-md "><div class="col-12 flex item-center q-mt-xs content-between"><div class="w-70"><p class="mb-0 font-xl " >{{ item.nombre }}</p><p class="mb-0 text-grey font-md" >{{ item.descripcion }}</p></div><p class="font-xl bold  mb-0 " >{{ item.precio }}$</p></div></div>
 -->
			<q-expansion-item
                expand-icon-toggle
                expand-separator
                default-opened
                label="Pedro Miguel, detalles del pedido"
                class="font-lg bold p-0 q-mt-sm q-ml-sm "
            >
				<q-card>
					<q-card-section class="p-0" >
						<div class="row q-mt-md rounded-1  q-ml-md q-mr-md "
							v-for="(orden, i) in detallesOrdenes" :key="i"
						>
							<div class="col-1 ">
								<q-checkbox v-model="orden.check.checked" style="margin-left:-50%" color="black" />
							</div>
							<div class="col-11 cont_carrito  q-pl-sm q-pt-sm q-pr-md q-pb-sm ">
								<div class="flex content-between item-center content-between ">
									<p class="m-0 font-xl bold w-80 ">{{orden.nombre}}</p>
									<p class="mb-0 font-xl bold" > X{{orden.cantidad}}</p>
								</div>
								<p class="m-0 nombre-doomi">
									<span>
										<b> Adicionales: </b>{{ orden.adicionales }}

									</span>
									<br/>
									<span >
										<b> Acompañantes: </b>{{ orden.acompañantes }}

									</span> &nbsp;

								</p>
								<p class="m-0 nombre-doomi" v-if="orden.notas" >
									<span >
										<b>Nota:</b>{{ orden.notas }}

									</span> &nbsp;

								</p>
								<div class="flex item-center content-between ">
									<div class="">
										<p class="font-xl bold  mb-0">{{ orden.precio_bs }}Bs // {{ orden.precio }}$</p>
									</div>
								</div>
							</div>
						</div>
					</q-card-section>
				</q-card>
			</q-expansion-item>
			<!-- fin orden -->
			<q-expansion-item
                expand-icon-toggle
                expand-separator
                label="Detalles del cobro"
                class="font-lg bold p-0 q-mt-sm q-ml-sm "
            >
				<q-card>
					<q-card-section class="p-0" >
						<div class="row q-ml-md q-mr-md  ">
							<div class="col-12">
								<p class="mb-0 font-xl  " >
									<b>Pedido NO</b> #{{ pedido.id }}
								</p>
							</div>
							<div class="col-12 flex item-center content-between ">
								<p class="mb-0 font-md text-grey ">Subtotal</p>
								<p class="mb-0 font-md text-grey ">{{precio(pedido.subtotal*pedido.tasa)}}Bs</p>
							</div>
							<div class="col-12 flex item-center content-between ">
								<p class="mb-0 font-md text-grey ">Gastos de envio</p>
								<p class="mb-0 font-md text-grey ">{{precio(pedido.pago_del*pedido.tasa)}}Bs</p>
							</div>
							<div class="col-12 flex item-center content-between ">
								<p class="mb-0 font-md text-grey ">Adicionales</p>
								<p class="mb-0 font-md text-grey ">{{precio(pedido.subtotal_adicionales*pedido.tasa)}}Bs</p>
							</div>
							<div class="col-12 flex item-center content-between ">
								<p class="mb-0 font-md text-grey ">Acompañantes</p>
								<p class="mb-0 font-md text-grey ">{{precio(pedido.subtotal_acompañantes*pedido.tasa)}}Bs</p>
							</div>
							<div class="col-12 flex item-center content-between ">
								<p class="mb-0 font-xl bold ">Total</p>
								<p class="mb-0 font-xl bold ">{{precio(pedido.total*pedido.tasa)}}Bs</p>
							</div>
						</div>
					</q-card-section>
				</q-card>
			</q-expansion-item>
			<q-separator></q-separator>
			<div class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
				<div class="col-12">
					<p class="mb-0 font-xl bold  " > Modalidad de entrega</p>
					<p class="mb-0 font-xl  " > {{ pedido.modalidad }} </p>
				</div>
			</div>
			<q-separator></q-separator>
			<div class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
				<div class="col-12">
					<p class="mb-0 font-xl bold  " > Método de pago</p>
					<p class="mb-0 font-xl  " > {{ pedido.cuenta && pedido.cuenta.cuenta }} </p>
				</div>
			</div>
			<div class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
				<div class="col-12">
					<p class="mb-0 font-xl bold  " > Número de referencia</p>
					<p class="mb-0 font-xl  " >{{ pedido.referencia }}</p>
				</div>
			</div>
			<q-separator></q-separator>
			<div class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
				<div class="col-12">
					<p class="mb-0 font-xl bold  " > Dirección de retiro</p>
					<div class="flex item-center">
						<q-icon style="font-size:30px" class="" name="pin_drop" />
						<p class="mb-0 q-ml-sm font-md w-80  " >{{ pedido.restaurante && pedido.restaurante[0].ubicacion}}&nbsp; </p>
					</div>
				</div>
			</div>

			<div class="row  q-ml-md q-mr-md q-mt-md  ">
				<div class="col-12 text-center ">
					<p class="mb-0 font-xl bold  " >No califiques antes de recibir tu pedido</p>
				</div>
			</div>

			<div  class="row q-ml-md q-mr-md q-mt-md  ">
				<div class="col-12 text-center" >
					<q-btn
						:class="[
							disableButton ? 'btn-border-pink' : 'cl_standar',
							'w-100',
							'rounded q-mb-md'
						]"
						size="md"
						@click="clickEnCamino" :disabled="disableButton" >
						<q-icon name="star" color="orange" class="q-mr-sm" ></q-icon> Ok voy en camino
					</q-btn>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import mapGetters from 'vuex'
import GoogleMap from 'components/GoogleMap';

import estatus_ordenes from '../store/estatus-ordenes'

export default{

components: {GoogleMap},

data(){
	return {
	    val: false,
		pedido: {},
		checks: {},
		apagarBoton: false,
		mostrarModalrating: false,
		Rate: 0,
		verCalificacionLista: false,
		verCalificacionLista_2: false,
		Rate_listo: 0,
		iconos_veh: {
			'Bicicleta': 'directions_bike',
			'Auto': 'directions_car',
			'Moto': 'motorcycle',
		},
	}
},


created(){
	const id_pedido = this.$route.params.id;
	this.$api.general.recuperarData('/pedidos/'+id_pedido)
		.then(pedido => { this.pedido = pedido });

},


computed: {
	detallesOrdenes(){
		for (let orden of (this.pedido.ordenes || [])) {
			this.$set(this.checks, orden.id, {checked:false});
		}

		return (this.pedido.ordenes || []).map(item => ({
			check: this.checks[item.id],
			cantidad: item.cantidad,
			img: item.menu.img,
			nombre: item.menu.nombre,
			fecha_pro: item.fecha_pro,
			descripcion: item.menu.descripcion,
			precio: this.precio(item.menu.precio_usd),
			precio_bs: this.precio(item.menu.precio_usd * this.pedido.tasa),
			adicionales: item.adicionales.map(e => e.nombre).join(', '),
			acompañantes: item.acompañantes.map(e => e.nombre).join(', '),
			precio_adicionales:  this.precio(item.adicionales.reduce((a,b)=> (a*100+b.precio_usd*100)/100, 0)),
			subtotaladicionado: this.precio( item.menu.precio_usd * 100 * item.cantidad / 100 ),
			notas: item.notas,
		}), this);

	},

	disableButton() {
		let disable = false;
		for (let check of Object.values(this.checks)){
			if (!check.checked) {
				disable = true;
				break;
			}
		}

		return disable && !this.apagarBoton;
	},

},



methods: {
	clickEnCamino(){
		const data = new FormData();
		data.set('iden', this.pedido.id)
		data.set('sts', 10);
    data.set('tipo_usu', 'cliente');
    data.set('id_receptor', this.pedido.id);
    data.set('usu_id', this.$auth.obtenerIdUsuario());

		this.$api.general.put('/pedidos/edit_sts', data)
			.then(() => this.$router.back());

	},

	precio(val){
		return this.$utils.precio(val, '')
	},

},

// computed: {
// 	max_img_size(){ return this.max_MB_img_size*1e+6 },

// 	pedidoCancelable(){
// 		return this.estatus.id == 4 || this.estatus.id == 1;
// 	},

// 	doomi(){
// 		return this.$store.getters['doomis/porId'](this.idDoomi)
// 	},

// 	mostrarDetalles(){
// 		return this.estatus.detalles || this.modoDelivery;
// 	},

// 	modoPickup(){
// 		return this.pedido.modalidad ? this.pedido.modalidad.toLowerCase() == 'pickup' : false;
// 	},
// 	modoProgramado(){
// 		return this.pedido.modalidad ? this.pedido.modalidad.toLowerCase() == 'programado' : false;
// 	},
// 	modoDelivery(){
// 		return this.pedido.modalidad ? this.pedido.modalidad.toLowerCase() == 'delivery' : false;
// 	},

// 	mostrarBtnProcesar(){ return this.estatus.id == 4 },

// 	totales(){
// 		return {
// 			total: this.pedido.total,// this.$utils.sumarDinero(this.pedido.total, this.pedido.pago_del),
// 			subtotal: this.pedido.subtotal,
// 			delivery: this.pedido.pago_del,
// 			adicionales: this.pedido.subtotal_adicionales,
// 			acompa: this.pedido.subtotal_acompañantes
// 		}
// 	},

// 	detallesOrdenes(){
// 		// return this.ordenes.map(item => ({
// 		// 	cantidad: item.cantidad,
// 		// 	img: item.menu.img,
// 		// 	nombre: item.menu.nombre,
// 		// 	fecha_pro: item.fecha_pro,
// 		// 	descripcion: item.menu.descripcion,
// 		// 	precio: this.precio(item.menu.precio_usd),
// 		// 	adicionales: item.adicionales.map(e => e.nombre).join(', '),
// 		// 	precio_adicionales:  this.precio(item.adicionales.reduce((a,b)=> (a*100+b.precio_usd*100)/100, 0)),
// 		// 	subtotaladicionado: this.precio( item.menu.precio_usd * 100 * item.cantidad / 100 ),
// 		// 	notas: item.notas,
// 		// }), this);

// 		return this.ordenes.map(item => ({
// 			cantidad: item.cantidad,
// 			img: item.menu.img,
// 			nombre: item.menu.nombre,
// 			fecha_pro: item.fecha_pro,
// 			descripcion: item.menu.descripcion,
// 			precio: this.precio(item.menu.precio_usd),
// 			precio_bs: this.precio(item.menu.precio_usd * this.pedido.tasa),
// 			adicionales: item.adicionales.map(e => e.nombre).join(', '),
// 			precio_adicionales:  this.precio(item.adicionales.reduce((a,b)=> (a*100+b.precio_usd*100)/100, 0)),
// 			subtotaladicionado: this.precio( item.menu.precio_usd * 100 * item.cantidad / 100 ),
// 			notas: item.notas,
// 		}), this);

// 	},

// },


// methods: {
// 	reintentarPago(){
// 		this.slide = this.pedido.nr_pago;
// 		this.dialog = true;
// 		this.cuenta = 'Cargando...';
// 		this.$api.general.recuperarData(`/cuentas/app?id_res=${this.pedido.id_restaurante}`)
// 			.then(data => {
// 				this.cuentas = data;
// 				this.cuenta = 'Seleccione';

// 				// this.slide = this.pedido.nr_pago;
// 				// this.dialog = true;
// 			});
// 	},

// 	cargardatapago(cuenta){ this.datosDePago = cuenta.detalles },


// 	file_selected(file) {
// 		this.select_img = file[0];
// 	},
// 	file_remove(file) {
// 		this.select_img = null;
// 	},
// 	onImgInput(evt) {
// 		const file = evt.target.files[0];
// 		if (!file) return;

// 		if (file.size > this.max_img_size)
// 			return this.$q.notify({ message:'La imagen es demasiado grande',color: 'cyan-4', icon:'info' });
// 	},

// 	onSubmit(){

// 		if(!this.cuentas || this.cuentas == 'Seleccione')
// 			return this.notificar('Selecciona una cuenta')

// 		if(!this.referencia || this.referencia.length < 4)
// 			return this.notificar('Ingresa una referencia valida');

// 		if(!this.select_img)
// 			return this.notificar('Seleccione una imagen');

// 		this.buttonDisabled = true;
// 		this.loadingBar = true;
// 		const data = new FormData();
// 		data.append('img_pago', this.select_img);
// 		data.append('referencia', this.referencia);
// 		data.append('cuenta', this.cuenta.id);
// 		data.append('id_pedido', this.pedido.id);

// 		const config = {
// 			onUploadProgress: (progressEvent) => {
// 				this.upload_progress = parseFloat((progressEvent.loaded / progressEvent.total).toFixed(2), 10);
// 			}
// 		}


// 		// this.$api.general.post('/pedidos/pago', data)
// 		this.$axios.post(this.$api.config.apiURL+'pedidos/pago', data, config)
// 			.then(resp => {
// 				if(resp.data.r == true){
// 					this.dialog = false;
// 					// this.$router.go(0);
// 					this.creado();
// 				}
// 			})
// 			.catch(err => {
// 				this.buttonDisabled = false;
// 				this.loadingBar = false;
// 			});

// 	},

// 	notificar(txt){
// 		this.$q.notify(txt);
// 	},

// 	clickContactar(){
// 		if(this.configuracion.whatsapp_soporte) {
// 			window.open('https://wa.me/'+this.configuracion.whatsapp_soporte);
// 		}
// 	},
// 	ultimanota(){
// 		const data_user = this.$api.cliente.obtenerDatos();
// 		this.$api.general.recuperarDataPorId('/pedidos/ultima-calificacion/', data_user.id)
// 			.then(resp => {
// 				if(resp[0]){
// 					this.Rate=parseFloat(resp[0].nota);
// 				}else{
// 					this.Rate=parseFloat(0);
// 				}
// 			})
// 			.catch(console.log);
// 	},
// 	creado(){

// 		this.$q.loading.show();

// 		if(!this.$route.params || !this.$route.params.id)
// 			this.$router.push({path:'/Home'})

// 		this.idPedido = this.$route.params.id
// 		// this.idDoomi = this.orden.id_restaurante

// 		this.$api.general.recuperarData('/configuracion')
// 			.then(conf => { this.configuracion = conf });

// 		this.$api.general.recuperarDataPorId('/pedidos/', this.idPedido)
// 			.then(resp => {
// 				this.ordenes = resp.ordenes;
// 				this.estatus = resp.estatus;
// 				this.pedido = resp;
// 				this.idDoomi = resp.id_restaurante;

// 				if(resp.estatus.id == 97 || resp.estatus.id == 99) // Inhabilitado, Rechazado.
// 					this.reintentarPago();

// 				if(resp.estatus.id==7 || resp.estatus.id==10 || resp.estatus.id==12){
// 					this.ultimanota();
// 					if((resp.modalidad=='Delivery' || resp.modalidad=='Programado') &&
// 					(resp.estatus.id==12)){
// 						this.verCalificacion = true;
// 						this.verCalificacionDelivery = true;
// 					}
// 					else
// 						this.verCalificacionDelivery = false;
// 					if(resp.estatus.id==7 && resp.modalidad!='Delivery' && resp.modalidad!='Programado')
// 						this.verCalificacion = true;
// 				}else if(resp.estatus.id==11){
// 					this.verCalificacionLista = true;
// 					this.Rate_listo = parseFloat(resp.nota);
// 					if(resp.modalidad=='Delivery'){
// 						this.verCalificacionLista_2 = true;
// 						this.Rate_listo_2 = parseFloat(resp.nota_rep);
// 					}
// 				}
// 				this.$q.loading.hide();

// 				/*
// 				if(this.pedido.modalidad_delivery)
// 					this.Modalidad = 'Delivery';

// 				if(this.pedido.modalidad_pickup)
// 					this.Modalidad = 'Pickup';

// 				if(this.pedido.modalidad_programados)
// 					this.Modalidad = 'Programado';
// 				*/
// 				this.Modalidad = this.pedido.modalidad;

// 				this.buscarconfi();
// 			})
// 			.catch(console.log);

// 		if (this.$route.query.calificar){
// 			this.mostrarModalrating=true;
// 		}
// 	},


// 	/*
// 	clickProcesar(){
// 		// Verificar que el doomi o admin tengan cuentas.
// 		this.$axios({
// 			url: this.$api.config.apiURL+'cuentas/',
// 			method: 'SEARCH',
// 			data: {id_restaurante: this.idDoomi},
// 		})
// 		.then(resp => {
// 			if(resp.data.r)
// 				this.$router.push({
// 					name:'formasdepago',
// 					params: { idDoomialiado: this.idDoomi, idPedido:this.pedido.id }
// 				});

// 			else
// 				this.$store.dispatch('swalInfo', 'No hay métodos de pago que mostrar');
// 		})
// 		.catch(console.log);
// 	},

// 	clickCancelar(){
// 		swal.fire({
// 			text: '¿Desea cancelar el pedido?',
// 			icon: 'warning',
// 			showCancelButton: true,
// 			confirmButtonText: 'Sí',
// 			cancelButtonText: 'No',
// 			showClass: {popup: 'animate__animated animate__fadeIn'},
// 			hideClass: {popup: 'animate__animated animate__fadeOut'},
// 		}).then(res => {
// 			if(res.isConfirmed) {
// 				this.$store.dispatch('ordenes/cancelar', this.idPedido)
// 					.then(() => {
// 						this.$store.dispatch('swalInfo', {text:'Pedido cancelado', icon:'success'})
// 							.then(() => this.$router.push({path:'/Misordenes'}))
// 					})
// 			}
// 		});
// 	},
// 	*/
// 	clickCalificar(){
// 		if(this.Rate==0)
// 			swal.fire('Oops...','Debes seleccionar la calificación del Doomiliado','error');
// 		else if(this.pedido.id_estatus == 10 && this.Rate_2==0)
// 			swal.fire('Oops...','Debes seleccionar la calificación del Repartidor','error');
// 		else{
// 			this.buttonDisabled = true;
// 			const formData = new FormData();
// 			formData.append('iden',this.pedido.id);
// 			//formData.append('nota',this.Rate_comment);
// 			formData.append('calificacion',this.Rate);
// 			//formData.append('nota2',this.Rate_comment_2);
// 			formData.append('calificacion2',this.Rate_2);
// 			formData.append('sts',11);
// 			this.$api.general.put('pedidos/edit_sts/', formData)
// 				.then(r => {
// 					this.buttonDisabled = false;
// 					if(r.r){
// 						//swal.fire('Genial!!','Pedido Completado','success');
// 						this.verCalificacion = false;
// 						this.mostrarModalrating = false;
// 						this.$router.push({path:'/Misordenes'});
// 					}else{
// 						swal.fire('Oops...',r.msj||r.msg,'error');
// 					}
// 				}).catch(err => {
// 					swal.fire('Oops...',err.msj||err.msg,'error');
// 					this.buttonDisabled = false;
// 				});
// 		}
// 	},

// 	precio(val){
// 		return this.$utils.precio(val, '$')
// 	},

// 	precioBs(val){
// 		return this.$utils.precio(val, 'Bs ')
// 	},

// 	atras(){
// 		this.$router.back()
// 	},

// 	extraerHora(date){ return this.$utils.extraerHora(date) },
// 	extraerFecha(date){ return this.$utils.extraerFecha(date) },

// 	nombreDeEstatus(id){
// 		return this.listaEstatus.filter(e => e.id==id).pop().nombre;
// 	},

// 	setDirecciones(){
// 		if(this.modoPickup) {
// 			this.$api.general.geo().then(ubi_actual => {
// 				this.direccion_pickup = null;
// 				this.direccion_pickup = {
// 					origin: {
// 						lat: ubi_actual.lat,
// 						lon: ubi_actual.lon,
// 					},
// 					destination: {
// 						lat: this.doomi.lat,
// 						lon: this.doomi.lon,
// 					},
// 				};
// 			});
// 		}

// 		else if(this.modoDelivery){
// 			this.marker_delivery = null;

// 			/*
// 			this.marker_delivery = {
// 				lat: this.pedido.lat_dir_p,
// 				lon: this.pedido.lon_dir_p
// 			};
// 			*/
// 			var lat_rep = null;
// 			var lon_rep = null;
// 			if(this.pedido.repartidor && (this.pedido.id_estatus==9 || this.pedido.id_estatus==10)){
// 				lat_rep = this.pedido.repartidor.lat;
// 				lon_rep = this.pedido.repartidor.lon;
// 			}
// 			this.direccion_pickup = {
// 				destination: {
// 					lat: this.pedido.lat_dir_p,
// 					lon: this.pedido.lon_dir_p
// 				},
// 				origin: {
// 					lat: this.doomi.lat,
// 					lon: this.doomi.lon,
// 				},
// 				repartidor: {
// 					lat: lat_rep,
// 					lon: lon_rep
// 				},
// 				sts: this.pedido.id_estatus
// 			};
// 		}
// 	},


// 	buscarconfi(){
// 		if(this.modoDelivery) {
// 			this.$api.general.recuperarData('configuracion/')
// 			.then(r => {
// 				if(r.minimo){
// 					this.ran_min_km = r.kmd;
// 					this.pre_del_km = r.minimo;
// 					this.pre_del_ext = r.precio;
// 					this.tot_del = r.minimo;
// 				}
// 			}).catch(console.log);
// 		}
// 		else {
// 			this.pre_del_km = 0;
// 			this.pre_del_ext = 0;
// 			this.tot_del = 0;
// 		}
// 	},
// },


}</script>


<style >
#tabla-totales {
	font-size: 13px;
	text-align: right;
	margin-left: auto; margin-right: 0;
}

#table-totales td,th {
	min-width: 70px;
}

#tabla-totales td:last-child {
	width: 80px;
}
.q-drawer .scroll {
	overflow:hidden;
}
.swal2-container{
	z-index: 999999;
}
</style>
