<template>
<div class="blue cont_home fuente q-pl-md q-pr-md q-pb-md ">
	<div v-if="pedido.id">

		<div class="row text-center q-mt-lg q-mb-lg flex content-between item-center ">
			<div class="col-2">
				<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn class="btn_back"  flat color="primary" icon="keyboard_arrow_left" label="" @click="$router.back()" /> -->
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header " >Detalles de pedido</p>
			</div>
			<div class="col-2">

			</div>
		</div>

		<!-- orden -->

		<div class="row  q-ml-md q-mr-md q-mt-md  ">
			<div class="col-12">
				<p class="mb-0 font-xl bold  " > {{ doomi.nombre }}</p>
			</div>
		</div>
<!--
		 <div v-for="item in detallesOrdenes" class="row lnh bg_cont q-mt-sm q-pt-sm q-pb-md q-pl-md q-pr-md soft-border q-ml-md q-mr-md ">
			<div class="col-12 flex item-center q-mt-xs content-between">
				<div class="w-70">
					<p class="mb-0 font-xl " >{{ item.nombre }}</p>
					<p class="mb-0 text-grey font-md" >{{ item.descripcion }}</p>
				</div>
				<p class="font-xl bold  mb-0 " >{{ item.precio }}$</p>
			</div>
			</div>
 -->

			<div class="row cont_carrito q-mt-md rounded-1 q-pl-sm q-pt-sm q-pr-md q-pb-sm q-ml-md"
				v-for="item in detallesOrdenes"
			>

				<div class="col-12 flex content-between item-center content-between ">
				    <p class="m-0 font-xl bold w-80 ">{{ item.nombre }}</p>
					<p class="mb-0 font-xl bold" > X{{ item.cantidad }}</p>
				</div>

				<div class="col-12 ">
					<p class="m-0 nombre-doomi" v-if="item.adicionales ||  item.acompañantes">
						<span v-if="item.adicionales">
							<b> Adicionales: </b>{{ item.adicionales }}
						</span> <br/>
						<span v-if="item.acompañantes">
							<b> Acompañantes: </b>{{ item.acompañantes }}
						</span> &nbsp;
					</p>
					<p class="m-0 nombre-doomi" v-if="item.notas">
						<span >
							<b>Nota:</b>{{ item.notas }}
						</span> &nbsp;
					</p>
					<div class="flex item-center content-between ">
						<div class="">
							<p class="font-xl bold  mb-0">{{ item.precio_bs }} // {{ item.precio }}</p>
						</div>

					</div>
				</div>
			</div>

			<!-- fin orden -->

			<div class="row q-ml-md q-mr-md q-mt-lg ">
				<div class="col-12">
					<p class="mb-0 font-xl  " > <b>Pedido NO</b> #{{pedido.id}} </p>
				</div>
				<div class="col-12 flex item-center content-between ">
					<p class="mb-0 font-md text-grey ">Subtotal</p>
					<p class="mb-0 font-md text-grey ">{{ precio(totales.subtotal) }}</p>
				</div>
				<div class="col-12 flex item-center content-between ">
					<p class="mb-0 font-md text-grey ">Gastos de envio</p>
					<p class="mb-0 font-md text-grey ">{{ precio(totales.delivery) }}</p>
				</div>
				<div class="col-12 flex item-center content-between ">
					<p class="mb-0 font-md text-grey ">Adicionales</p>
					<p class="mb-0 font-md text-grey ">{{ precio(totales.adicionales) }}</p>
				</div>
				<div class="col-12 flex item-center content-between ">
					<p class="mb-0 font-md text-grey ">Acompañantes</p>
					<p class="mb-0 font-md text-grey ">{{ precio(totales.acompa) }}</p>
				</div>
				<div class="col-12 flex item-center content-between ">
					<p class="mb-0 font-xl bold ">Total</p>
					<p class="mb-0 font-xl bold ">{{ precio(totales.total) }}</p>
				</div>
			</div>

			<div class="row q-ml-md q-mr-md q-mt-md q-mb-md " v-if="pedido.id_repartidor">
				<div class="col-12 flex content-between item-center ">
					<div class="">
						<p v-if="pedido.repartidor" class="mb-0 font-xl  " > <b>ID Repartidor</b> #{{pedido.repartidor.id}} </p>
						<p v-if="pedido.repartidor" class="mb-0 font-xl  " > <b>{{pedido.repartidor.nombre}} {{pedido.repartidor.apellido}}</b>, <span> {{ pedido.repartidor.vehiculo[0].nombre_veh }}</span> </p>
					</div>
					<!-- <q-img :src="pedido.repartidor.vehiculo[0].icono_veh" ></q-img> -->
					<q-icon
						v-if="modoDelivery"
						class="font_titulosxl"
						:name="iconos_veh[pedido.repartidor.vehiculo[0].nombre_veh]"
					></q-icon>
				</div>
			</div>

			<q-separator></q-separator>

			<div class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
				<div class="col-12">
					<p class="mb-0 font-xl bold  " > Modalidad de entrega</p>
					<p class="mb-0 font-xl  " > {{ pedido.modalidad }} </p>
				</div>
			</div>

			<q-separator></q-separator>

			<div class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
				<div class="col-12">
					<p class="mb-0 font-xl bold  " > Método de pago</p>
					<p class="mb-0 font-xl  " > {{ pedido.cuenta.cuenta }} </p>
				</div>
			</div>

			<div class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
				<div class="col-12">
					<p class="mb-0 font-xl bold  " > Número de referencia</p>
					<p class="mb-0 font-xl  " >{{ pedido.referencia }}</p>
				</div>
			</div>

			<q-separator></q-separator>

			<div v-if="modoDelivery" class="row q-ml-md q-mr-md q-mt-md q-mb-md ">
				<div class="col-12">
					<p class="mb-0 font-xl bold  " > Dirección de entrega</p>
					<div class="flex item-center">
						<q-icon style="font-size:30px" class="" name="pin_drop" />
						<p class="mb-0 q-ml-sm font-lg w-80  " >{{ pedido.direccion }}&nbsp; </p>
					</div>
				</div>
			</div>

			<div v-if="verCalificacion" class="row q-ml-md q-mr-md q-mt-md  ">
				<div class="col-12 text-center" >
					<q-btn class="cl_standar w-100 rounded q-mb-md" size="md"  @click="mostrarModalrating=true" > <q-icon name="star" color="orange" class="q-mr-sm" ></q-icon> Completar pedido </q-btn>
				</div>
			</div>
				<q-dialog v-model="mostrarModalrating">
					<q-card class="w-80" >
						<q-card-section class="text-right p-0 " >
							<q-img   @click="clickEliminar(item)"  width="15px" height="15px" class=" q-mr-md q-mt-md " v-close-popup src="statics\Iconos\X.png" ></q-img>
						</q-card-section>

						<q-card-section class="q-pt-none" style="">


							<div class="row">


								<div class="col-12 text-center ">
									<p class="titulo-header m-0" >Califica el doomialiado</p>
								</div>


								<div class="col-12 text-center">
									 <q-rating
									 v-model="Rate"
									 max="5"
									 size="2em"
									 color="orange"
									 icon="star_border"
									 icon-selected="star"
									 icon-half="star_half"
									 no-dimming
									 class="q-mb-xs"
									 />
								</div>

								<div class="col-12 text-center q-mt-md " v-if="verCalificacionDelivery">
									<p class="titulo-header m-0" >Califica el repartidor</p>
								</div>


								<div class="col-12 text-center">
									 <q-rating
									 v-model="Rate_2"
									 max="5"
									 size="2em"
									 color="orange"
									 icon="star_border"
									 icon-selected="star"
									 icon-half="star_half"
									 no-dimming
									 class="q-mb-xs"
									 v-if="verCalificacionDelivery"
									 />
								</div>

								<div class="col-12 q-mt-xl text-center" >
									<q-btn class="cl_standar w-90 rounded " size="md"   @click="clickCalificar" :disabled="buttonDisabled" > <q-icon name="star" class="q-mr-sm" color="orange" ></q-icon> Calificar </q-btn>
								</div>



							</div>

						</q-card-section>
					</q-card>
				</q-dialog>

			<div class="row" v-if="verCalificacionLista">
				<div class="col-12">
					<b>	<p class=" mb-0 q-ml-md soft-border font-xl " >Calificación doomialiado</p> </b>
				</div>

				<div class="item-center text-white  q-ml-md col-12 content-between">
					<div class="col-12 ">
						<q-rating
							v-model="Rate_listo"
							max="5"
							size="2em"
							color="orange"
							icon="star_border"
							icon-selected="star"
							icon-half="star_half"
							no-dimming
							class="q-mb-xs"
							readonly
						/>
					</div>
					<!--<b>	<p class="m-0 soft-border titulo-menu text-center" >"{{pedido.motivo}}"</p> </b>-->
				</div>

			</div>
			<div class="row" v-if="verCalificacionLista_2">
				<div class="col-12">
					<b>	<p class=" q-ml-md mb-0 soft-border font-xl" >Calificación repartidor</p> </b>
				</div>

				<div class=" col-12 ">
					<div class="col-12 q-ml-md">
						<q-rating
							v-model="Rate_listo_2"
							max="5"
							size="2em"
							color="orange"
							icon="star_border"
							icon-selected="star"
							icon-half="star_half"
							no-dimming
							class="q-mb-xs"
							readonly
						/>
					</div>
				</div>

			</div>

		<!-- <q-dialog v-model="dialog1" >
      <q-card style="height:70vh;width:90%" >

        <q-card-section class="q-pt-none">
			<div class="row">
				<div class="col-12 text-center q-mt-xl ">
					 <q-img src="statics\Iconos\image.png" width="120px" ></q-img>
					 <p class=" mb-0 text-h3 bold q-mt-sm " >Oops!</p>
					 <p class="font-md " >parece que se cayo el sistema ¡¡clave!!</p>
					<div class="text-h4 bold q-mt-md ">¡{{ pedido.cliente.nombre }}!</div>
					 <p class="q-mt-md mb-0 " >Me vas a degastar el botón</p>
					 <p>Mejor llamame y te doy una ayudadita</p>
					 <q-btn size="md"  class="cl_standar w-90 q-mt-md  rounded"
					label="Ir a pagar" @click="slide = 'pago'"></q-btn>
				</div>
			</div>

        </q-card-section>

      </q-card>
    </q-dialog> -->

		<q-dialog v-model="dialog" full-width >

		<q-carousel
			v-model="slide"
			transition-prev="slide-right"
			transition-next="slide-left"
			animated
			control-color="primary"
			padding
			height="auto"
			class="bg-grey-1 shadow-2 rounded-borders"
		>
			<!-- SEGUNDO INTENTO -->
			<q-carousel-slide  :name="1" class="column no-wrap text-center">
				<div class="row">
				<div class="col-12 text-center  ">
					 <q-img src="statics\images\logo.png" width="170px" ></q-img>
					 <p class=" mb-0 text-h3 bold " >Oops!</p>
					 <p class="font-md " >Parece que se cayo el sistema ¡¡clave!!</p>

					 <!-- <p>no puede ser confirmada</p> -->
					 <p>{{ pedido.motivo }}</p>
					<q-btn size="md"  class="cl_standar w-90 q-mb-md  rounded"
					label="Ir a pagar" @click="slide = 'pago'"></q-btn>
				</div>
			</div>
			</q-carousel-slide>

			<!-- TERCER INTENTO -->
			<q-carousel-slide :name="2" class="column no-wrap text-center ">
				<div class="row">
				<div class="col-12 text-center ">
					 <q-img src="statics\images\logo.png" width="170px" ></q-img>
					 <p class=" mb-0 text-h3 bold  " >Oops!</p>
					 <p class="font-md " >Parece que se cayo el sistema ¡¡clave!!</p>
					 <!-- <p class="mb-0 q-mt-lg " >La transferencia</p> -->
					 <!-- <p>no puede ser confirmada</p> -->
					  <p>{{ pedido.motivo }}</p>
					<q-btn size="md"   class="cl_standar w-90 q-mb-md  rounded"
					label="Ir a pagar" @click="slide = 'pago'"></q-btn>
				</div>
			</div>
			</q-carousel-slide>

			<!-- RECHAZADO -->
			<q-carousel-slide :name="3" class="column no-wrap text-center ">
				<div class="row">
				<div class="col-12 text-center  ">
					 <q-img src="statics\images\logo.png" width="170px" ></q-img>
					 <p class=" mb-0 text-h3 bold  " >Oops!</p>
					 <p class="font-md " >Parece que se cayo el sistema ¡¡clave!!</p>
					<div class="text-h4 bold q-mt-md ">¡{{ pedido.cliente.nombre }}!</div>
					 <p class="q-mt-md " >Me vas a degastar el botón</p>
					 <p class="bold" > {{pedido.motivo}} </p>
					 <p>Mejor llamame y te doy una ayudadita</p>
					 <q-btn size="md" @click="clickContactar()" class="cl_standar q-mb-md w-90 rounded"
					label="Contactar a doomi "></q-btn>
				</div>
			</div>
			</q-carousel-slide>

			<!-- PAGO -->
			<q-carousel-slide name="pago" class="column no-wrap">
				<div class="row w-100 ">
					<div class="col-12 q-mt-md">
						<label class="font-xl bold" for="">Cuenta</label>
					</div>
					<div class="col-12">
						<q-select :dense="true" borderless v-bind:class="{'input-black': cuenta!='Seleccione' ,'input': cuenta=='Seleccione'}" :dark="cuenta!='Seleccione'" name="cuenta" option-value="id" option-label="nombre" v-model="cuenta" :options="cuentas"  @input="cargardatapago" />
					</div>
				</div>
				<div v-if="cuenta && cuenta !== 'Seleccione' && cuenta !== 'Cargando...' ">
				<div class="row">
					<div class="col-12 ">
						<p class="mb-0 font-xl bold  " >Datos para el pago</p>
						<q-input
						readonly
						style="background-color:rgb(236, 236, 236)"
						type="textarea"
						autogrow
						borderless
						class="soft-border "
						v-model="datosDePago"
						/>
					</div>
				</div>

				<div class="flex flex-center ">
					<div class="row w-100 ">
						<div class="col-12 q-mt-md">
						<q-uploader
							color="grey"
							:label=" 'Cargue la prueba de pago (max '+max_MB_img_size+' MB)' "
							accept=".jpg, .pdf, image/*"
							flat
							bordered
							class="w-100"
							:hide-upload-btn="true"
							:max-file-size="max_img_size"
							@added="file_selected"
							@removed="file_remove"
							v-model="img"
							@input.native="onImgInput"
						/>
						</div>
					</div>
				</div>

				<div  class="flex flex-center  ">
					<div class="row w-100 ">
						<div class="col-12 q-mt-md">
							<label class="font-xl bold" for="">Ingresa el número de referencia</label>
						</div>
						<div class="col-12">
							<q-input :dense="true" v-model="referencia"  borderless v-bind:class="{ 'input-black': referencia!='' && referencia.length>3, 'input': referencia.length<4 }" :dark="referencia!='' && referencia.length>3" name="referencia"  emit-values />
						</div>
					</div>
				</div>


				<q-linear-progress v-if="loadingBar" color="grey" :value="upload_progress" class="q-mt-sm"/>
				<q-btn
					:disabled="buttonDisabled"
					@click="onSubmit"
					label="Listo"
					type="submit" size="md" flat
					v-bind:class="{ 'q-mt-xl w-100 cl_standar rounded': referencia!='' && referencia.length>3 && select_img!=null, 'q-mt-xl w-100 btn-border-pink rounded': referencia.length<4 || select_img==null }"
					></q-btn>
					<!--class="q-mt-xl w-100 bordes rounded"-->
			</div>
			</q-carousel-slide>
		</q-carousel>

		</q-dialog>



	<!-- <div class="row  q-mb-md ">
		<div class="flex item-center text-white q-mt-md  col-12 content-between">
			<div class="text-center">
							<p class="m-0 titulo-menu " >#Id doomialiado</p>
			</div>

			<div class="w-50">
				<b><p class="etiquetas soft-border titulo-menu m-0 " >{{idDoomi}}</p></b>
			</div>
		</div>

		<div class="flex item-center text-center text-white q-mt-md col-12 content-between">
			<p class="m-0 titulo-menu" >Doomialiado</p>
			<div class="w-50">
				<b>	<p class="etiquetas soft-border titulo-menu m-0 " >{{doomi.nombre}}</p> </b>
			</div>
		</div>

		<div class="flex item-center text-white  q-mt-md col-12 content-between">
			<p class="m-0 titulo-menu" >#Id pedido</p>
			 <div class="w-50">
			<b>	<p class="etiquetas soft-border titulo-menu m-0 " >{{pedido.id}}</p> </b>
			</div>
		</div>

		<div class="flex item-center text-white q-mt-md  col-12 content-between" v-if="pedido.repartidor">
			<div class="text-center">
				<p class="m-0 titulo-menu " >#Id repartidor</p>
			</div>

			<div class="w-50">
				<b><p class="etiquetas soft-border titulo-menu m-0 " >{{pedido.repartidor.id}}</p></b>
			</div>
		</div>

		<div class="flex item-center text-center text-white q-mt-md col-12 content-between" v-if="pedido.repartidor">
			<p class="m-0 titulo-menu" >Repartidor</p>
			<div class="w-50">
				<b>	<p class="etiquetas soft-border titulo-menu m-0 " >{{pedido.repartidor.nombre}} {{pedido.repartidor.apellido}}</p> </b>
			</div>
		</div>

		<div class="flex item-center text-white col-12 q-mt-md content-between">
			<p class="m-0 titulo-menu" >Estatus</p>
			<div class="w-50">
				<b> <p class="etiquetas soft-border m-0 titulo-menu " >{{estatus.nombre}}</p> </b>
			</div>
		</div>

		<div class="flex item-center text-white q-mt-md col-12 content-between">
			<p class="m-0 titulo-menu" >Fecha de creación</p>
			<div class="w-50">
			<b>	<p class="etiquetas m-0 soft-border titulo-menu" >{{extraerFecha(pedido.creado)}}</p> </b>
			</div>
		</div>

		<div class="flex item-center  text-white col-12 q-mt-md content-between">
			<p class="m-0 titulo-menu" >Hora de creación</p>
			<div class="w-50">
			<b>	<p class="etiquetas m-0 soft-border titulo-menu " >{{extraerHora(pedido.creado)}}</p> </b>
			</div>
		</div>

		</div>

		<table id="tabla-totales" class="q-mt-md  text-white text-center nombre-doomi mr-1">
			<tr>
				<td colspan="3">TOTALES</td>
			</tr>
			<tr>
				<td>Subtotal:</td>
				<td>{{ precio(totales.subtotal) }}</td>
			</tr>
			<tr>
				<td>Adicionales:</td>
				<td>{{ precio(totales.adicionales) }}</td>
			</tr>
			<tr v-if="modoDelivery">
				<td>Pago Delivery:</td>
				<td>{{ precio(totales.delivery) }}</td>
			</tr>
			<tr>
				<td>Total:</td>
				<td>{{ precio(totales.total) }}</td>
			</tr>
		</table>

		<div class="row  ">
			<div class="flex item-center text-white q-mt-md col-12  content-between">
				<p class="m-0 nombre-doomi " >Modalidad del pedido</p>
				<div class="w-50">
					<p class="etiquetas soft-border m-0 titulo-menu" >{{Modalidad}}</p>
				</div>
			</div>

			<div v-if="pedido.fecha_pro" class="flex item-center text-white q-mt-md col-12  content-between">
				<p class="m-0 nombre-doomi " >Fecha del pedido</p>
				<div class="w-50">
					<p class="etiquetas soft-border m-0 titulo-menu" >
						{{ extraerFecha(pedido.fecha_pro) }} - {{ extraerHora(pedido.fecha_pro) }}
					</p>
				</div>
			</div>

			<div v-if="mostrarDetalles" style="width: 100%">
					<div v-if="modoDelivery" class="flex item-center text-white col-12 q-mt-sm content-between">
						<p class="m-0 nombre-doomi " >Dirección</p>
						<div class="w-50">
							<p class="etiquetas m-0  titulo-menu soft-border q-pa-sm " >{{pedido.direccion}}&nbsp;</p>
						</div>
					</div>

					<div v-if="modoPickup" class="flex item-center text-white col-12 q-mt-md  content-between">
						<p class="m-0 nombre-doomi  " >Ubicación</p>
							<div class="w-50">
							<p class="etiquetas m-0 titulo-menu soft-border q-pa-xs " >{{doomi.ubicacion}}</p>
						</div>
					</div>



				<div v-if="pedido.punto_referencia" class="flex item-center text-white col-12 q-mt-md content-between">
					<p class="m-0 nombre-doomi " >Punto de referencia</p>
						<div class="w-50">
						<p class="etiquetas m-0 titulo-menu soft-border q-pa-sm " >{{pedido.punto_referencia}}</p>
					</div>
				</div>
			</div>



				<div class="col-12 text-center" v-if="!modoProgramado">
						<q-btn class="q-ma-md cl_standar soft-border" size="sm" label="Ver ubicación" @click="mostrarModalMapa=true; keyMap++" icon="edit_location" />
				</div>



				<div class="col-12 text-center" >
						<q-btn class="cl_standar soft-border q-mb-md" size="sm" label="Completar pedido" @click="mostrarModalrating=true" icon="star" v-if="verCalificacion" />
				</div>

				<q-dialog v-model="mostrarModalrating">
					<q-card class="" >
						<q-card-section class="text-right p-0 " >
							<q-btn flat label="X" v-close-popup />
						</q-card-section>

						<q-card-section class="q-pt-none" style="">


							<div class="row">


								<div class="col-12 text-center ">
									<p class="titulo-header m-0" >Califica el doomialiado</p>
								</div>


								<div class="col-12 text-center">
									 <q-rating
									 v-model="Rate"
									 max="5"
									 size="2.5em"
									 color="yellow"
									 icon="star_border"
									 icon-selected="star"
									 icon-half="star_half"
									 no-dimming
									 class="q-mb-xs"
									 />
								</div>

								 <div class="col-12 q-mt-md ">
									 <label for="">Comentario:</label>
									 <q-input borderless class="soft-border " style="background-color:rgb(236, 236, 236)"  autogrow  v-model="Rate_comment" type="textarea" name="direc_dir"  />
								 </div>



								<div class="col-12 text-center q-mt-md " v-if="verCalificacionDelivery">
									<p class="titulo-header m-0" >Califica el repartidor</p>
								</div>


								<div class="col-12 text-center">
									 <q-rating
									 v-model="Rate_2"
									 max="5"
									 size="2.5em"
									 color="yellow"
									 icon="star_border"
									 icon-selected="star"
									 icon-half="star_half"
									 no-dimming
									 class="q-mb-xs"
									 v-if="verCalificacionDelivery"
									 />
								</div>

								 <div class="col-12 q-mt-md " v-if="verCalificacionDelivery">
									 <label for="">Comentario:</label>
									 <q-input borderless class="soft-border " style="background-color:rgb(236, 236, 236)"  autogrow  v-model="Rate_comment_2" type="textarea" name="direc_dir"  />
								 </div>


								 <div class="col-12 q-mt-md text-center" >
									<q-btn class="cl_standar soft-border" size="sm" label="Calificar"  icon="star" @click="clickCalificar" :disabled="buttonDisabled" />
								 </div>



							</div>

						</q-card-section>
					</q-card>
				</q-dialog>




				<q-dialog v-model="mostrarModalMapa" maximized>
					<q-card class="w-100" >
						<q-card-section class="text-right p-0 " >
							<q-btn flat label="X" v-close-popup />
						</q-card-section>

						<q-card-section class="q-pt-none" style="height: 90vh">


							<div  class=" bordes q-pa-xs soft-border flex item-center content-around">
									<div class="flex item-center q-mt-sm ">
										<img src="statics\images\map-aqui-estoy.png" width="20px" alt="">
										<p class="m-0 titulo-header " >Doomi</p>
									</div>

									<div v-if="modoDelivery" class="flex item-center q-mt-sm ">
										<img src="statics\images\map-repartidor.png" width="20px" alt="">
										<p class="m-0 titulo-header " >Repartidor</p>
									</div>

								<div class="flex item-center q-mt-sm">
									<img src="statics\images\map-verde.png" width="20px" alt="">
									<p class="m-0 titulo-header " >Mi ubicacion</p>
								</div>
							</div>
							<google-map
								 class="q-mt-md"
								:setMarker="marker_delivery"
								:setDirection="direccion_pickup"
								@hook:mounted="setDirecciones">
							</google-map>
						</q-card-section>
					</q-card>
				</q-dialog>


		</div>

		<div class="row" v-if="verCalificacionLista">
			<div class="col-12">
				<b>	<p class="etiquetas m-0 soft-border titulo-header" >CALIFICACIÓN DOOMILIADO</p> </b>
			</div>

			<div class="item-center text-white q-mt-md col-12 content-between">
				<div class="col-12 text-center">
					<q-rating
						v-model="Rate_listo"
						max="5"
						size="2.5em"
						color="yellow"
						icon="star_border"
						icon-selected="star"
						icon-half="star_half"
						no-dimming
						class="q-mb-xs"
						readonly
					/>
				</div>
				<b>	<p class="m-0 soft-border titulo-menu text-center" >"{{pedido.motivo}}"</p> </b>
			</div>

		</div>
		<div class="row" v-if="verCalificacionLista_2">
			<div class="col-12">
				<b>	<p class="etiquetas m-0 soft-border titulo-header" >CALIFICACIÓN REPARTIDOR</p> </b>
			</div>

			<div class="item-center text-white q-mt-md col-12 content-between">
				<div class="col-12 text-center">
					<q-rating
						v-model="Rate_listo_2"
						max="5"
						size="2.5em"
						color="yellow"
						icon="star_border"
						icon-selected="star"
						icon-half="star_half"
						no-dimming
						class="q-mb-xs"
						readonly
					/>
				</div>
				<b>	<p class="m-0 soft-border titulo-menu text-center" >"{{pedido.obs_rep}}"</p> </b>
			</div>

		</div>

		<div class="col-6 text-center q-mt-md q-mb-md">
			<q-btn v-if="mostrarBtnProcesar" @click="clickProcesar" class="cl_standar soft-border w-70 " size="sm" label="Procesar pago" ></q-btn>
		</div>
		<div class="col-6 text-center  q-mt-md q-mb-md">
			<q-btn v-if="pedidoCancelable" @click="clickCancelar" class="cl_standar soft-border w-70 " size="sm" label="Cancelar pedido" ></q-btn>
		</div>


			 <div class="row">
				 <div class="col-12">
					 <b>	<p class="etiquetas m-0 soft-border titulo-header" >Orden</p> </b>
				 </div>
			 </div>


		<div
			class="row cont_carrito q-mt-md soft-border q-pl-sm q-pr-sm q-pb-sm q-pt-sm q-ml-xs q-mr-xs"
			v-for="item in detallesOrdenes">
			<div class="col-4">
				<q-img
				:src=" item.img || 'statics/images/logo.png' "
				class="img-doomi"
				/>
			</div>

			<div class="col-8 q-pl-md">
				<p class="m-0 parrafos">{{ item.nombre }}</p>
				<p class="m-0 nombre-doomi">
					<span v-if="item.adicionales">
						<b> Adicionales: </b>{{ item.adicionales }}
					</span>&nbsp;
				</p>
				<p class="m-0 nombre-doomi">
					<span v-if="item.notas">
						<b>Nota:</b>{{ item.notas }}
					</span>&nbsp;
				</p>
				<div class="flex item-center q-mt-sm ">
					<div class="flex item-center">

												<p class="m-0 nombre-doomi " >Cantidad:</p>
						<p class=" mb-0 parrafos q-ml-xs q-mr-xs">{{ item.cantidad }}</p>


					</div>

					<div class="q-ml-md flex item-center ">
						<p class="m-0 nombre-doomi " >Precio</p>
						<p class="parrafos mb-0 q-mr-xs">{{ item.precio }}</p>
					</div>
				</div>
			</div>
		</div>-->

	</div>

	<div v-else class="text-white" style="margin-top: 100px;">
		<center><b><i>Cargando...</i></b></center>
	</div>
</div>
</template>



<script>
import mapGetters from 'vuex'
import GoogleMap from 'components/GoogleMap';

import estatus_ordenes from '../store/estatus-ordenes'

export default{

components: {GoogleMap},

data(){
	return {
	max_MB_img_size: 1,
	upload_progress: 0,
	pedido: {},
	dialog: false,
	slide: null,
	cuenta: {},
	cuentas: [],
	datosDePago: '',
	referencia: '',
	img: null,
	buttonDisabled: false,
	loadingBar: false,
	configuracion: null,
	verCalificacion: false,
	mostrarModalrating: false,
	Rate: 0,
	Rate_2: 0,
	verCalificacionLista: false,
	verCalificacionLista_2: false,
	Rate_listo: 0,
	Rate_listo_2: 0,
	verCalificacionDelivery: false,
	select_img: false,
	iconos_veh: {
		'Bicicleta': 'directions_bike',
		'Auto': 'directions_car',
		'Moto': 'motorcycle',
	},
	}
},


created(){
	this.creado();
},


computed: {
	max_img_size(){ return this.max_MB_img_size*1e+6 },

	pedidoCancelable(){
		return this.estatus.id == 4 || this.estatus.id == 1;
	},

	doomi(){
		return this.$store.getters['doomis/porId'](this.idDoomi)
	},

	mostrarDetalles(){
		return this.estatus.detalles || this.modoDelivery;
	},

	modoPickup(){
		return this.pedido.modalidad ? this.pedido.modalidad.toLowerCase() == 'pickup' : false;
	},
	modoProgramado(){
		return this.pedido.modalidad ? this.pedido.modalidad.toLowerCase() == 'programado' : false;
	},
	modoDelivery(){
		return this.pedido.modalidad ? this.pedido.modalidad.toLowerCase() == 'delivery' : false;
	},

	mostrarBtnProcesar(){ return this.estatus.id == 4 },

	totales(){
		return {
			total: this.pedido.total,// this.$utils.sumarDinero(this.pedido.total, this.pedido.pago_del),
			subtotal: this.pedido.subtotal,
			delivery: this.pedido.pago_del,
			adicionales: this.pedido.subtotal_adicionales,
			acompa: this.pedido.subtotal_acompañantes
		}
	},

	detallesOrdenes(){
		// return this.ordenes.map(item => ({
		// 	cantidad: item.cantidad,
		// 	img: item.menu.img,
		// 	nombre: item.menu.nombre,
		// 	fecha_pro: item.fecha_pro,
		// 	descripcion: item.menu.descripcion,
		// 	precio: this.precio(item.menu.precio_usd),
		// 	adicionales: item.adicionales.map(e => e.nombre).join(', '),
		// 	precio_adicionales:  this.precio(item.adicionales.reduce((a,b)=> (a*100+b.precio_usd*100)/100, 0)),
		// 	subtotaladicionado: this.precio( item.menu.precio_usd * 100 * item.cantidad / 100 ),
		// 	notas: item.notas,
		// }), this);

		return this.ordenes.map(item => ({
			cantidad: item.cantidad,
			img: item.menu.img,
			nombre: item.menu.nombre,
			fecha_pro: item.fecha_pro,
			descripcion: item.menu.descripcion,
			precio: this.precio(item.menu.precio_usd),
			precio_bs: this.precio(item.menu.precio_usd * this.pedido.tasa),
			adicionales: item.adicionales.map(e => e.nombre).join(', '),
			acompañantes: item.acompañantes.map(e => e.nombre).join(', '),
			precio_adicionales:  this.precio(item.adicionales.reduce((a,b)=> (a*100+b.precio_usd*100)/100, 0)),
			subtotaladicionado: this.precio( item.menu.precio_usd * 100 * item.cantidad / 100 ),
			notas: item.notas,
		}), this);

	},

},


methods: {
	reintentarPago(){
		this.slide = this.pedido.nr_pago;
		this.dialog = true;
		this.cuenta = 'Cargando...';
		this.$api.general.recuperarData(`/cuentas/app?id_res=${this.pedido.id_restaurante}`)
			.then(data => {
				this.cuentas = data;
				this.cuenta = 'Seleccione';

				// this.slide = this.pedido.nr_pago;
				// this.dialog = true;
			});
	},

	cargardatapago(cuenta){ this.datosDePago = cuenta.detalles },


	file_selected(file) {
		this.select_img = file[0];
	},
	file_remove(file) {
		this.select_img = null;
	},
	onImgInput(evt) {
		const file = evt.target.files[0];
		if (!file) return;

		if (file.size > this.max_img_size)
			return this.$q.notify({ message:'La imagen es demasiado grande',color: 'cyan-4', icon:'info' });
	},

	onSubmit(){

		if(!this.cuentas || this.cuentas == 'Seleccione')
			return this.notificar('Selecciona una cuenta')

		if(!this.referencia || this.referencia.length < 4)
			return this.notificar('Ingresa una referencia valida');

		if(!this.select_img)
			return this.notificar('Seleccione una imagen');

		this.buttonDisabled = true;
		this.loadingBar = true;
		const data = new FormData();
		data.append('img_pago', this.select_img);
		data.append('referencia', this.referencia);
		data.append('cuenta', this.cuenta.id);
		data.append('id_pedido', this.pedido.id);

		const config = {
			onUploadProgress: (progressEvent) => {
				this.upload_progress = parseFloat((progressEvent.loaded / progressEvent.total).toFixed(2), 10);
			}
		}


		// this.$api.general.post('/pedidos/pago', data)
		this.$axios.post(this.$api.config.apiURL+'pedidos/pago', data, config)
			.then(resp => {
				if(resp.data.r == true){
					this.dialog = false;
					// this.$router.go(0);
					this.creado();
				}
			})
			.catch(err => {
				this.buttonDisabled = false;
				this.loadingBar = false;
			});

	},

	notificar(txt){
		this.$q.notify(txt);
	},

	clickContactar(){
		if(this.configuracion.whatsapp_soporte) {
			window.open('https://wa.me/'+this.configuracion.whatsapp_soporte);
		}
	},
	ultimanota(){
		const data_user = this.$api.cliente.obtenerDatos();
		this.$api.general.recuperarDataPorId('/pedidos/ultima-calificacion/', data_user.id)
			.then(resp => {
				if(resp[0]){
					this.Rate=parseFloat(resp[0].nota);
				}else{
					this.Rate=parseFloat(0);
				}
			})
			.catch(console.log);
	},
	creado(){

		this.$q.loading.show();

		if(!this.$route.params || !this.$route.params.id)
			this.$router.push({path:'/Home'})

		this.idPedido = this.$route.params.id
		// this.idDoomi = this.orden.id_restaurante

		this.$api.general.recuperarData('/configuracion')
			.then(conf => { this.configuracion = conf });

		this.$api.general.recuperarDataPorId('/pedidos/', this.idPedido)
			.then(resp => {
				this.ordenes = resp.ordenes;
				this.estatus = resp.estatus;
				this.pedido = resp;
				this.idDoomi = resp.id_restaurante;

				if(resp.estatus.id == 97 || resp.estatus.id == 99) // Inhabilitado, Rechazado.
					this.reintentarPago();

				if(resp.estatus.id==7 || resp.estatus.id==10 || resp.estatus.id==12){
					this.ultimanota();
					if((resp.modalidad=='Delivery' || resp.modalidad=='Programado' || resp.modalidad=='Pickup') &&
					(resp.estatus.id==12)){
						this.verCalificacion = true;
						this.verCalificacionDelivery = true;
					}
					else
						this.verCalificacionDelivery = false;
					if(resp.estatus.id==7 && resp.modalidad!='Delivery' && resp.modalidad!='Programado')
						this.verCalificacion = true;
				}else if(resp.estatus.id==11){
					this.verCalificacionLista = true;
					this.Rate_listo = parseFloat(resp.nota);
					if(resp.modalidad=='Delivery'){
						this.verCalificacionLista_2 = true;
						this.Rate_listo_2 = parseFloat(resp.nota_rep);
					}
				}
				this.$q.loading.hide();

				/*
				if(this.pedido.modalidad_delivery)
					this.Modalidad = 'Delivery';

				if(this.pedido.modalidad_pickup)
					this.Modalidad = 'Pickup';

				if(this.pedido.modalidad_programados)
					this.Modalidad = 'Programado';
				*/
				this.Modalidad = this.pedido.modalidad;

				this.buscarconfi();
			})
			.catch(console.log);

		if (this.$route.query.calificar){
			this.mostrarModalrating=true;
		}
	},


	/*
	clickProcesar(){
		// Verificar que el doomi o admin tengan cuentas.
		this.$axios({
			url: this.$api.config.apiURL+'cuentas/',
			method: 'SEARCH',
			data: {id_restaurante: this.idDoomi},
		})
		.then(resp => {
			if(resp.data.r)
				this.$router.push({
					name:'formasdepago',
					params: { idDoomialiado: this.idDoomi, idPedido:this.pedido.id }
				});

			else
				this.$store.dispatch('swalInfo', 'No hay métodos de pago que mostrar');
		})
		.catch(console.log);
	},

	clickCancelar(){
		swal.fire({
			text: '¿Desea cancelar el pedido?',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Sí',
			cancelButtonText: 'No',
			showClass: {popup: 'animate__animated animate__fadeIn'},
			hideClass: {popup: 'animate__animated animate__fadeOut'},
		}).then(res => {
			if(res.isConfirmed) {
				this.$store.dispatch('ordenes/cancelar', this.idPedido)
					.then(() => {
						this.$store.dispatch('swalInfo', {text:'Pedido cancelado', icon:'success'})
							.then(() => this.$router.push({path:'/Misordenes'}))
					})
			}
		});
	},
	*/
	clickCalificar(){
		if(this.Rate==0)
			swal.fire('Oops...','Debes seleccionar la calificación del Doomiliado','error');
		else if(this.pedido.id_estatus == 10 && this.Rate_2==0)
			swal.fire('Oops...','Debes seleccionar la calificación del Repartidor','error');
		else{
			this.buttonDisabled = true;
			const formData = new FormData();
			formData.append('iden',this.pedido.id);
			//formData.append('nota',this.Rate_comment);
			formData.append('calificacion',this.Rate);
			//formData.append('nota2',this.Rate_comment_2);
			formData.append('calificacion2',this.Rate_2);
			formData.append('sts',11);
			this.$api.general.put('pedidos/edit_sts/', formData)
				.then(r => {
					this.buttonDisabled = false;
					if(r.r){
						//swal.fire('Genial!!','Pedido Completado','success');
						this.verCalificacion = false;
						this.mostrarModalrating = false;
						this.$router.push({path:'/Misordenes'});
					}else{
						swal.fire('Oops...',r.msj||r.msg,'error');
					}
				}).catch(err => {
					swal.fire('Oops...',err.msj||err.msg,'error');
					this.buttonDisabled = false;
				});
		}
	},

	precio(val){
		return this.$utils.precio(val, '$')
	},

	precioBs(val){
		return this.$utils.precio(val, 'Bs ')
	},

	atras(){
		this.$router.back()
	},

	extraerHora(date){ return this.$utils.extraerHora(date) },
	extraerFecha(date){ return this.$utils.extraerFecha(date) },

	nombreDeEstatus(id){
		return this.listaEstatus.filter(e => e.id==id).pop().nombre;
	},

	setDirecciones(){
		if(this.modoPickup) {
			this.$api.general.geo().then(ubi_actual => {
				this.direccion_pickup = null;
				this.direccion_pickup = {
					origin: {
						lat: ubi_actual.lat,
						lon: ubi_actual.lon,
					},
					destination: {
						lat: this.doomi.lat,
						lon: this.doomi.lon,
					},
				};
			});
		}

		else if(this.modoDelivery){
			this.marker_delivery = null;

			/*
			this.marker_delivery = {
				lat: this.pedido.lat_dir_p,
				lon: this.pedido.lon_dir_p
			};
			*/
			var lat_rep = null;
			var lon_rep = null;
			if(this.pedido.repartidor && (this.pedido.id_estatus==9 || this.pedido.id_estatus==10)){
				lat_rep = this.pedido.repartidor.lat;
				lon_rep = this.pedido.repartidor.lon;
			}
			this.direccion_pickup = {
				destination: {
					lat: this.pedido.lat_dir_p,
					lon: this.pedido.lon_dir_p
				},
				origin: {
					lat: this.doomi.lat,
					lon: this.doomi.lon,
				},
				repartidor: {
					lat: lat_rep,
					lon: lon_rep
				},
				sts: this.pedido.id_estatus
			};
		}
	},


	buscarconfi(){
		if(this.modoDelivery) {
			this.$api.general.recuperarData('configuracion/')
			.then(r => {
				if(r.minimo){
					this.ran_min_km = r.kmd;
					this.pre_del_km = r.minimo;
					this.pre_del_ext = r.precio;
					this.tot_del = r.minimo;
				}
			}).catch(console.log);
		}
		else {
			this.pre_del_km = 0;
			this.pre_del_ext = 0;
			this.tot_del = 0;
		}
	},
},


}</script>


<style >
#tabla-totales {
	font-size: 13px;
	text-align: right;
	margin-left: auto; margin-right: 0;
}

#table-totales td,th {
	min-width: 70px;
}

#tabla-totales td:last-child {
	width: 80px;
}
.q-drawer .scroll {
	overflow:hidden;
}
.swal2-container{
	z-index: 999999;
}
</style>
