<template>
	<div class="blue fuente">

		<div class="row text-center q-mt-lg q-mb-lg flex content-between item-center ">
			<div class="col-2">
				<q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header " >Favoritos</p>
			</div>
			<div class="col-2">

			</div>
		</div>

		<div v-for="doomi in doomisFavoritos" @click="verMas(doomi)" style="position:relative" class="  q-pa-md q-mt-md my-card cont_doomi flex item-center q-ml-md q-mr-md soft-border ">


			<div class="col-6">
					<q-img :src="doomi.img || 'statics/images/logo.png'" class=" soft-border " width="100px" height="100px" >
					<div
						width="20px" height="20px"
						:class="[{'bg-green-light': doomiDisponible(doomi)}, 'rounded']"
						style="top: 5px;right:0;width:20px;padding:10px"
						>
					</div>
					<!-- <q-icon class="absolute all-pointer-events" size="32px" name="fiber_manual_record" color="green" style="top: -3px; left: 70%">
					<div class="bg_green">

					</div>
					</q-icon> -->
					</q-img>
			</div>


			<div class="w-60 q-ml-sm ">
				<div class="">
					<p style="margin-top:-10%" class="mb-0 font-xl bold  " > {{ doomi.nombre }} </p>
					<p class="mb-0 font-md text-grey" >{{ horarioActual(doomi.horarios) || 'Cerrado' }} </p>
				</div>

				<div class="flex item-center content-between">
					<p class="mb-0 w-80 font-md ">{{ doomi.ubicacion }}</p>
				</div>
			</div>

			<q-rating
				@click.stop="eliminar(doomi)"
				v-model="dummyFav"
				max="1"
				size="30px"
				color="red"
				icon="favorite_border"
				icon-selected="favorite"
				icon-half="favorite"
				no-dimming
				style="position:absolute;right:0;bottom:0"
				class="q-mb-md q-mr-md"
			/>

		</div>


		<div v-if="!doomisFavoritos[0]" style="width: 100%; font-size: 15px; margin-top: 50px;">
			<center><b><i>No tienes doomialiados favoritos</i></b></center>
		</div>
	</div>
</template>



<script>

import { mapGetters } from 'vuex'

export default {

data(){
	return {};
},


computed: {
	...mapGetters({
		favoritos: 'cliente/favoritos',
	}),

	doomisFavoritos(){
		return this.favoritos.map(e => this.getDoomi(e));
	},

	dummyFav:{
		get(){return 1},
		set(){},
	},
},


methods: {
	getDoomi(id){
		return this.$store.getters['doomis/porId'](id);
	},

	eliminar(doomi){
		this.$store.dispatch('cliente/favorito', [doomi.id, false]);
		/*
		this.$q.notify({
			message: 'Eliminado de mis favoritos',
			color: 'green-4',
			textColor: 'white',
			icon: 'done_all',
			timeout: 2500,
		})
		*/
	},

	verMas(doomi){
		this.$router.push({
			path:'/Menudoomialiadohome/'+doomi.id,
		});
	},

	doomiDisponible(doomi){
		return Boolean(this.horarioActual(doomi.horarios));
	},

	horarioActual(horarios){
		const now = new Date();
		let hor = horarios.find(hor => this.$utils.fechaEnHorario(now, hor));

		if(!hor) return false;

		return this.$utils.de24a12(hor.inicio_hor) + ' - ' + this.$utils.de24a12(hor.fin_hor);
	},
},


};</script>