<template>
<div class="blue cont_home fuente ">

		<div class="row text-center q-mt-lg q-mb-md flex content-between item-center ">
			<div class="col-2">
				<q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Menu_configuraciones" /> -->
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header  " >Historial de pagos</p>
			</div>
			<div class="col-2">
				<!-- <q-btn v-on:click='Mostrarfiltro = !Mostrarfiltro' flat icon="menu" class="" ></q-btn> -->
			</div>
		</div>



		<div  class=" row bg-cont rounded-1 q-ma-md">
			<div class="col-4 border-right flex flex-center ">
				<div class="">
                <p class="mb-0 font_tituloslg  w-100 text-center" >{{ $utils.precio(tot_f, '$') }}</p>
				<p class="mb-0 font-md " >Balance Total</p>
				</div>

			</div>
			<div class="flex col-8 flex flex-center row content-around q-py-sm item-center">

				<!--<div class="col-6 flex flex-center ">
                   <p class="mb-0 font_tituloslg bold" >{{ $utils.precio(tot_p, '$') }}</p>
				</div>-->

				<div class="col-6">

					<div class="flex item-center content-around ">
						<div class="q-pl-sm">
                           <p class="m-0 font-md " >Desde: </p>
						   <p class="m-0 font-md " >{{desde}}</p>
						</div>

						<div class="">
                            <q-btn icon="event" size="sm" round class="  cl_standar rounded" >
							<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
								<q-date v-model="filtroDesde" :options="filtrarDiasSeleccionablesDesde">
									<div class="row items-center justify-end q-gutter-sm">
										<q-btn label="Cancel" color="primary" flat v-close-popup />
										<q-btn label="OK" color="primary" flat @click="save" v-close-popup />
									</div>
							</q-date>
							</q-popup-proxy>
						</q-btn>
						</div>


					</div>
				</div>
				<div class="col-6">
					<div class="flex item-center content-around">

						<div class="q-pl-sm">
							<p class="mb-0 font-md" >Hasta:  </p>
							<p class="m-0 font-md" >{{hasta}}</p>
						</div>

						<div class="">
                            <q-btn icon="event" size="sm" round class="  cl_standar rounded">
							<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
								<q-date v-model="filtroHasta" :options="filtrarDiasSeleccionablesHasta">
								<div class="row items-center justify-end q-gutter-sm">
									<q-btn label="Cancel" color="primary" flat v-close-popup />
									<q-btn label="OK" color="primary" flat @click="save" v-close-popup />
								</div>
							</q-date>
							</q-popup-proxy>
						    </q-btn>
						</div>


					</div>

				</div>

			</div>


		</div>

		<div class="row">
			<div :class="Por_pagar ? 'bottom-tabs' : '' " @click="Pagados = false, Por_pagar = true"  class="col-6 flex flex-center  ">
               <p class="mb-0 bold font-xl" >Pagos pendientes</p>
			</div>

			<div :class="Pagados ? 'bottom-tabs' : '' " @click="Pagados = true, Por_pagar = false" class="col-6 flex flex-center  ">
                <p class="mb-0 bold font-xl" >Pagos recibidos</p>
			</div>
		</div>

		<div v-if="Por_pagar" class="row flex flex-center q-mb-lg">
			<div class="text-center q-mt-lg" v-if="!visto_pd">
	  			<q-spinner-dots color="primary" size="40px" />
	  		</div>
			<div v-for="n in pedidos_pendientes" :key="n.id" @click="abrirpagos(n)" :class="{'border-red' : n.delivery_pagado == 2 , 'border-orange' : n.delivery_pagado == 1 }" class=" row bg-cont q-mt-lg q-mb-sm  q-ml-md q-mr-md text-white soft-border flex flex-center ">

			    <div class="col-12 text-center text-black q-mb-xs q-pt-sm q-px-sm ">
					<p class="mb-0 q-pb-xs font-md" v-if="n.delivery_pagado == 0">Orden hecha el {{queDiaEs(n.creado)}} {{extraerFecha(n.creado)}}. {{extraerHora(n.creado)}}</p>
					<p class="mb-0 q-pb-xs font-md" v-if="n.delivery_pagado != 0">Pago hecho el {{queDiaEs(n.fecha_pago_del)}} {{extraerFecha(n.fecha_pago_del)}}. {{extraerHora(n.fecha_pago_del)}}</p>
					<q-separator style="height:3px" :color=" n.delivery_pagado == 2 ? 'red' : 'orange' " v-if="n.delivery_pagado != 0" ></q-separator>
					<q-separator style="height:3px" v-else ></q-separator>
				</div>

			    <div  class="col-10 flex item-center q-px-sm row ">
			    	<div class="col-2" >
			    		<img class="circle img-icon" height="35px" width="35px" :src="n.img_restaurante || 'statics/images/user.png'" onerror="this.src='statics/images/user.png';" />
			    	</div>

					 <div class="col-10">
					  	<p class="mb-0 font-md bold text-black q-ml-md ">{{n.nombre_restaurante}}</p>
						<p class="mb-0 font-md text-black q-ml-md  ">{{n.cliente.nombre}} {{n.cliente.apellido}} Pedido N° #{{n.id}}</p>
					</div>
			    </div>

			   	<div class="col-2 flex flex-center q-pr-md ">
			   		<!-- <div class="w-100 flex flex-center " > <q-icon name="two_wheeler" class="text-black" style="font-size: 35px;" /> </div> -->
				   <p class="font_titulosxl mb-0 bold text-black " >{{ $utils.precio(n.pago_del, '$') }}</p>
			   	</div>

			    <div v-if="n.delivery_pagado == 2" class="col-12">
					 <q-btn class="bg-red w-100 "  label="En disputa" ></q-btn>
				</div>
  			</div>
  			<div class="text-center q-mt-lg" v-if="pedidos_pendientes.length==0 && visto_pd">
	  			<p class="font-xl bold" >No hay datos encontrados</p>
	  		</div>
	  		
		</div>

		<div v-if="Pagados" class="row flex flex-center q-mb-lg">
			<div class="text-center q-mt-lg" v-if="!visto_pd">
	  			<q-spinner-dots color="primary" size="40px" />
	  		</div>
			<div v-for="m in pedidos_recibidos" :key="m.id" @click="abrirpagos(m)"  class=" row bg-cont q-mt-sm q-mb-lg  q-ml-md q-mr-md text-white rounded-top flex flex-center ">

				<div class="col-12 text-center text-black q-mb-xs q-pt-sm q-px-sm ">
					<p class="mb-0 q-pb-xs font-md" >Pago hecho el {{queDiaEs(m.fecha_pago_del)}} {{extraerFecha(m.fecha_pago_del)}}. {{extraerHora(m.fecha_pago_del)}}</p>
					<q-separator color="white" ></q-separator>
				</div>
				<div  class="col-10 flex item-center q-px-sm row">
					<div class="col-2" >
						<img class="circle img-icon" height="35px" width="35px" :src="m.img_restaurante || 'statics/images/user.png'" onerror="this.src='statics/images/user.png';">
					</div>

					 <div class="col-10">
					  	<p class="mb-0 font-md bold text-black q-ml-md ">{{m.nombre_restaurante}}</p>
						<p class="mb-0 font-md text-black q-ml-md  ">{{m.cliente.nombre}} {{m.cliente.apellido}} Pedido N° #{{m.id}}</p>
					</div>
			    </div>
				<div class="col-2 flex flex-center q-pr-md ">
					<p class="font_titulosxl bold text-black mb-0" >{{ $utils.precio(m.pago_del, '$') }}</p>
				</div>
			</div>
			<div class="text-center q-mt-lg" v-if="pedidos_recibidos.length==0 && visto_pd">
	  			<p class="font-xl bold" >No hay datos encontrados</p>
	  		</div>

		<!-- <div class="col-10 text-center  ">
            <p class="bold font-xl q-mb-xs ">Cuenta</p>
            <q-select class="input_txt q-pr-sm q-pl-sm  font-xl " borderless v-model="Cuenta" :options="Cuentas" option-value="id" option-label="nombre" ></q-select>
          </div>

           <div class="col-10 text-center  q-mt-md ">
           <p class="bold font-xl q-mb-xs " >Datos para el pago</p>
           <q-input class="input_txt_grow q-pl-sm  font-xl " autogrow borderless readonly v-model="Datos_Cuenta"></q-input>
          </div>

		  <div class="col-10 q-mt-md text-center ">
			  <p class="font-xl mb-0 bold" >Monto:</p>
			  <p class="font-xl mb-0 bold text-green " >15$ / 15.000.000,00 bsf </p>

		  </div>

		  <div class="col-10 text-center q-mt-md  ">
           <p class="bold font-xl q-mb-xs " >Referencia</p>
           <q-input class="input_txt q-pl-sm font-xl " placeholder="Ingrese la referencia" borderless v-model="Referencia_d" type="text"></q-input>
          </div>

           <div class="col-10 text-center q-mt-md ">
              <q-btn label="Pagar" :disable="btn_pagar_d" @click="PagarDoomi" class="mayuscula q-pl-sm q-pr-sm cl_standar rounded" ></q-btn>
          </div> -->

		</div>

		<!-- <div class="text-center q-mt-lg" v-if="pedidos_delivery.length==0 && visto_pd">
  			<p class="font-xl bold" >No hay pagos pendientes</p>
  		</div> -->



    <q-dialog  v-model="Doomi">
      <q-card class="rounded-3" >
        <q-card-section class="text-right q-pa-none " >
            <div class="row text-center  q-mt-sm flex content-between item-center ">
			<div class="col-2">

			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header  " >Pago de Doomi</p>
			</div>
			<div class="col-2">
				<q-img src="statics\Iconos\X.png" width="15px" height="15px" @click="Doomi = false" ></q-img>
			</div>
		</div>
        </q-card-section>

        <q-card-section class="q-pt-none text-center row ">




		 <!-- <div class="col-12 text-center  ">
            <p class="bold font-xl q-mb-xs ">Cuenta</p>
            <q-select class="input_txt q-pr-sm q-pl-sm  font-xl " borderless v-model="Cuenta" :options="Cuentas" option-value="id" option-label="nombre" @input="imprimircuenta"></q-select>
          </div> -->

           <div class="col-12 text-center  q-mt-md ">
           <p class="bold font-xl q-mb-xs " >Datos para el pago</p>
           <q-input class="input_txt_grow q-pl-sm  font-xl " readonly autogrow borderless readonly v-model="Datos_Cuenta"></q-input>
          </div>

		  <div class="col-12 q-mt-md text-center ">
			  <p class="font-xl mb-0 bold" >Monto:</p>
			  <p class="font-xl mb-0 bold text-green " >{{$utils.precio(tot_d)}}$ / {{$utils.precio(tot_dbs)}} bs </p>

		  </div>

		  <div class="col-12 text-center q-mt-md  ">
           <p class="bold font-xl q-mb-xs " >Referencia</p>
           <q-input class="input_txt q-pl-sm font-xl " placeholder="Ingrese la referencia" readonly borderless v-model="Referencia_d" type="text"></q-input>
          </div>

           <div v-if="rechazo" class="col-12 text-center  q-mt-md ">
           <p class="bold font-xl q-mb-xs " >Motivo del rechazo</p>
           <q-input class="input_txt_grow q-pl-sm  font-xl " :readonly="!acciones" autogrow borderless  v-model="motivo"></q-input>
          </div>

          <div v-if="!rechazo && acciones" class="col-6 text-center q-mt-md ">
              <q-btn label="Disputar" :disable="btn_pagar_r" @click="rechazo = true" class="mayuscula q-pl-sm q-pr-sm cl_standar rounded" ></q-btn>
          </div>

           <div v-if="!rechazo && acciones" class="col-6 text-center q-mt-md ">
              <q-btn label="Aceptar" :disable="btn_pagar_r" @click="AceptarPago" class="mayuscula q-pl-sm q-pr-sm cl_standar rounded" ></q-btn>
          </div>
          <div v-if="rechazo && acciones" class="col-12 text-center q-mt-md ">
              <q-btn label="Enviar" :disable="btn_disputa_d" @click="DisputarPago" class="mayuscula q-pl-sm q-pr-sm cl_standar rounded" ></q-btn>
          </div>
        </q-card-section>

      </q-card>
    </q-dialog>



</div>
</template>

<script>
const moment = require('moment');
// import precio from '../lib/precio';
export default {

data(){
	return {
		visto_pd: false,
		visto_pdo: false,
		Datos_repartidor:``,
		Repartidor: false,
		filtroDesde: '',
		filtroHasta: '',
		loadMsg: 'Cargando...',
		model: 5,
		Mostrarfiltro:false,
		modelo: 1,
		pedidos: [],
		dialogDetalles: false,
		detallesPedido: {},
		proxyDate: '2021/03/01',
		Referencia:'',
		Referencia_d:'1234',
		Doomi : false,
		Cuenta:'Pago móvil mercantil',
		Cuentas: ['Pago Móvil','Banesco'],
		Datos_Cuenta:
        `0102
123456789
04143056789`,
		tot_p: 0,
		tot_f: 0,
		tot_d: 0,
		tot_dbs: 0,
		pedidos_pendientes: [],
		pedidos_recibidos: [],
		dias: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
		monto_r:0,
		total_r:0,
		btn_pagar_r : false,
		btn_pagar_d : false,
		btn_disputa_d : false,
		id_pedido: null,
		// pestañas
		Por_pagar: true,
		Pagados:false,
		Total_pedidos: true,
		Pagar_doomi:false,
        rechazo: false,
        acciones: true,
        motivo:''
	};
},
watch:{
	'$route': async function(value) {
      	const id_pedido = this.$route.params.id;
 		if(id_pedido)
 			this.BuscarPago(id_pedido);
    },
},
created(){
	this.filtroDesde = moment().format('YYYY/MM/01');
	this.filtroHasta = moment().format('YYYY/MM/DD');
 	this.cargageneral();
 	const id_pedido = this.$route.params.id;
 	if(id_pedido)
 		this.BuscarPago(id_pedido);
 	//console.log(id_pedido);
},
mounted(){
  	this.$socket.removeListener('ActualizarPagoRep')
  	var this2 = this;
  	this.$socket.on('ActualizarPagoRep', function (r) {
    	var data = this2.$auth.obtenerDatos();
      	if(data){
        	if (r.id_repartidor == data.id) {
	      		this2.cargageneral();
	    	}
      	}
    })
},
methods:{
	// precio,
	cargageneral(){
		this.cargarpagos_R();
		this.cargarpagos_T();
	},
	cargarpagos_R(){
		var filtros = {};
		if(this.filtroDesde)
			filtros.desde = this.filtroDesde;

		if(this.filtroHasta){
			filtros.hasta = this.filtroHasta;
		}
		this.visto_pd = false;
		var id_rep = this.$auth.obtenerDatos();
		this.$api.general.recuperarDataConData('/aliados/pagos/repartidor/'+id_rep.id,filtros)
		  .then(r => {
		  	this.pedidos_pendientes = r.filter((e)=>{ return e.delivery_pagado!=3;});
            this.pedidos_pendientes.sort(function (a, b) {
              if (a.creado < b.creado && a.delivery_pagado==0 && b.delivery_pagado==0) {
			    return 1;
			  }
			  if (a.creado > b.creado && a.delivery_pagado==0 && b.delivery_pagado==0) {
			    return -1;
			  }
			  if (a.fecha_pago_del < b.creado && a.delivery_pagado!=0 && b.delivery_pagado==0) {
			    return 1;
			  }
			  if (a.fecha_pago_del > b.creado && a.delivery_pagado!=0 && b.delivery_pagado==0) {
			    return -1;
			  }
			  if (a.fecha_pago_del < b.fecha_pago_del && a.delivery_pagado!=0 && b.delivery_pagado!=0) {
			    return 1;
			  }
			  if (a.fecha_pago_del > b.fecha_pago_del && a.delivery_pagado!=0 && b.delivery_pagado!=0) {
			    return -1;
			  }
			  return 0;
			});
            this.pedidos_recibidos = r.filter((e)=>{ return e.delivery_pagado==3;});
            this.pedidos_recibidos.sort(function (a, b) {
			  if (a.fecha_pago_del < b.fecha_pago_del) {
			    return 1;
			  }
			  if (a.fecha_pago_del > b.fecha_pago_del) {
			    return -1;
			  }
			  return 0;
			});
            this.calcularpendiente();
            this.visto_pd = true;
            //console.log(this.pedidos_pendientes,this.pedidos_recibidos);
          }).catch(err => {
            console.log(err);
          })
	},
	cargarpagos_T(){
		var filtros = {};
		//this.tot_f = 0;
		var id_rep = this.$auth.obtenerDatos();
		this.$api.general.recuperarDataConData('/aliados/pagos/repartidor_total/'+id_rep.id,filtros)
		  .then(r => {
		  	if(r[0])
		  		this.tot_f = r[0].tot;
		  	else
		  		this.tot_f = 0;
		  }).catch(err => {
            console.log(err);
          })
	},
	calcularpendiente(){
		var tot = 0;
		for (var i = 0; i < this.pedidos_pendientes.length; i++) {
			tot = tot + this.pedidos_pendientes[i].pago_del;
		}
		this.tot_p = tot;
	},
	abrirpagos(pago){
		if(pago.delivery_pagado!=0){
			this.Datos_Cuenta=pago.pago_datos;
			this.Referencia_d=pago.ref_pago_del;
			this.tot_d = pago.pago_del;
			this.tot_dbs = pago.pago_del*pago.tasa;
			this.id_pedido = pago.id;
			if(pago.delivery_pagado==1){
				this.rechazo = false;
				this.acciones = true;
				this.motivo = '';
			}else if(pago.delivery_pagado==3){
				this.rechazo = false;
				this.acciones = false;
				this.motivo = '';
			}else{
				this.rechazo = true;
				this.acciones = false;
				this.motivo = pago.pago_motivo;
			}

			this.Doomi = true;
		}
	},
	DisputarPago(){
		let formData = {
	        pedido : this.id_pedido,
	        motivo : this.motivo,
	    }
	    this.btn_pagar_r = true;
	    this.$api.general.post('/aliados/disputar_pago', formData)
            .then(r => {
              if(r.r){
                swal.fire('Genial!!',r.msj||r.msg,'success');
                this.cargageneral();
                this.Doomi = false;
              }else
                swal.fire('Oops...',r.msj||r.msg,'error');
              this.btn_pagar_r = false;
            })
            .catch(err => {
              swal.fire('Oops...',err.msj||err.msg,'error');
              this.btn_pagar_r = false;
            });
	},
	AceptarPago(){
		let formData = {
	        pedido : this.id_pedido
	    }
	    this.btn_pagar_r = true;
	    this.$api.general.post('/aliados/finalizar_pago', formData)
            .then(r => {
              if(r.r){
                swal.fire('Genial!!',r.msj||r.msg,'success');
                this.cargageneral();
                this.Doomi = false;
              }else
                swal.fire('Oops...',r.msj||r.msg,'error');
              this.btn_pagar_r = false;
            })
            .catch(err => {
              swal.fire('Oops...',err.msj||err.msg,'error');
              this.btn_pagar_r = false;
            });
	},
	BuscarPago(id){
		var filtros = {};
		this.$api.general.recuperarDataConData('/aliados/buscar_pago/repartidor/'+id,filtros)
		  .then(r => {
		  	if(r[0])
		  		this.abrirpagos(r[0]);
          }).catch(err => {
            console.log(err);
          })
	},
 	atras(){
		this.$router.back();
	},
	queDiaEs(fecha){
	    /* Nombre del dia en la fecha dada */
	    return this.dias[new Date(fecha).getDay()];
	},

	extraerHora(date){
		return moment(date).format('hh:mm A')
	},
	extraerFecha(date){
	    return moment(date).format('DD-MM-YYYY')
	},

	filtrarDiasSeleccionablesDesde(date){
		date = new Date(date);

		if(this.filtroHasta && new Date(this.filtroHasta) < date)
			return false

		return true;
	},

	filtrarDiasSeleccionablesHasta(date){
		date = new Date(date);
		var fec_act = moment().format('YYYY-MM-DD');
		var date2 = new Date(fec_act+' 00:00:00');
		if(this.filtroDesde && new Date(this.filtroDesde) > date)
			return false
		if(date > date2)
			return false
		return true;
	},

	updateProxy () {
		this.proxyDate = this.date
	},

	save () {
		this.cargageneral();
		this.date = this.proxyDate
	},
},




computed: {
	desde(){
		// Orden DD/MM/AA
		if(!this.filtroDesde)
			return
		const fechas = this.filtroDesde.split('/');
		fechas.reverse();
		return fechas.join('/');
	},
	hasta(){
		// Orden DD/MM/AA
		if(!this.filtroHasta)
			return
		const fechas = this.filtroHasta.split('/');
		fechas.reverse();
		return fechas.join('/');
	},

},

}; </script>
