<template>
<div class="blue cont_home fuente ">

		<div class="row text-center q-mt-lg q-mb-md flex content-between item-center ">
			<div class="col-2">
				<q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Menu_configuraciones" /> -->
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header  " >Historial de pedidos</p>
			</div>
			<div class="col-2">
				<q-btn v-on:click='Mostrarfiltro = !Mostrarfiltro' flat icon="menu" class="" ></q-btn>
			</div>
		</div>

		<div v-if="Mostrarfiltro" class="bg_cont flex item-center row rounded-1 q-pa-sm q-ml-sm q-mr-sm q-mb-md">
			<div class="flex col-10 content-around item-center">
				<div class="flex item-center w-70 ">
					<p class="m-0" >Desde: </p>
					<q-btn icon="event" size="sm" round class=" q-ml-md q-mr-md cl_standar rounded" >
						<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
							<q-date v-model="filtroDesde" :options="filtrarDiasSeleccionablesDesde">
								<div class="row items-center justify-end q-gutter-sm">
									<q-btn label="Cancel" color="primary" flat v-close-popup />
									<q-btn label="OK" color="primary" flat @click="save" v-close-popup />
								</div>
						</q-date>
						</q-popup-proxy>
					</q-btn>
					<p class="m-0" >{{desde}}</p>
				</div>

				<div class="flex item-center w-70 q-mt-sm">
					<p class="mb-0 q-mr-xs" >Hasta:  </p>
					<q-btn icon="event" size="sm" round class=" q-ml-md q-mr-md cl_standar rounded">
						<q-popup-proxy @before-show="updateProxy" transition-show="scale" transition-hide="scale">
							<q-date v-model="filtroHasta" :options="filtrarDiasSeleccionablesHasta">
							<div class="row items-center justify-end q-gutter-sm">
								<q-btn label="Cancel" color="primary" flat v-close-popup />
								<q-btn label="OK" color="primary" flat @click="save" v-close-popup />
							</div>
						</q-date>
						</q-popup-proxy>
					</q-btn>

					<p class="m-0" >{{hasta}}</p>

				</div>

			</div>

			<div class="col-2">
				<q-btn @click="clickBuscar" class="cl_standar rounded" round size="md" icon="search" ></q-btn>
			</div>
		</div>

		 <div v-if="pedidos && pedidos.length > 0" class="">

		<div  v-for="pedido in pedidos" :key="pedido.id"  @click="clickVerMas(pedido)" class="row bg_cont q-ml-md q-mr-md q-pa-md q-mt-sm text-white rounded-1 ">
			<div class="col-2  row">
					<div class="col-12 text-center  ">
						<img class="circle img-icon" height="35px" width="35px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
					</div>

					 <div class="col-12 text-center">
						<p class="font-xl m-0 bold" >|</p>
					 </div>

					<div class="col-12 text-center">
						<img class="circle img-icon" height="35px" width="35px" :src="pedido.cliente.foto || 'statics/images/user.png'" >
					</div>
			</div>
			<div class="col-6 row">
				 <div class="col-12 q-ml-sm ">
					<p class="text-black mb-0 font-m " >Recogida</p>
					<p class=" mb-0 text-black font-m  limitar-texto-pedido "  > {{ pedido.doomi_ubicacion }}</p>
				</div>
				 <div class="col-12 q-mt-md q-ml-sm ">
					<p class="text-black font-m mb-0 " >Entrega</p>
					<p class="mb-0 text-black font-m limitar-texto-pedido "  > {{ pedido.direccion }}</p>
				</div>
			</div>
			<div class="col-4 text-center flex flex-center item-center text-black ">
				<div class="flex flex-center">
                   <p class=" w-100 font-m mb-0" >Ganancia:</p>
                   <p class=" w-100 font-m font-md text-green mb-0 " ><span class="font_titulosxl text-green" >{{ $utils.precio(pedido.pago_del, '$') }}</span> </p>
                </div>
			</div>
			<div class="col-12 q-pt-sm q-pl-md q-pr-md text-center" style="margin-top: 5px;border-top:1px solid;">
		      <p class="mb-0 text-black font-m">Pedido del {{$utils.queDiaEs(pedido.fecha_pro || pedido.creado)}}
		        <span>{{ $utils.extraerFecha(pedido.fecha_pro || pedido.creado) }}</span>.
		        <span>{{ $utils.extraerHora(pedido.fecha_pro || pedido.creado) }}</span> </p>
		    </div>
		</div>
		</div>


	<!-- <div v-if="pedidos && pedidos.length > 0">
			<q-card
				class="my-card col-12 rounded-1 c_white degradado q-mt-md row flex item-center q-ml-md q-mr-md "
				v-for="pedido in pedidos"
				:key="pedido.id"
				>

				<q-card-section class="col-4 row">
					<div class="col-12 text-center ">
						<img class="circle" height="50px" width="50px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
					</div>
					<div class="col-12 text-center">
						<img class="circle" height="50px" width="50px" :src=" pedido.cliente.foto || 'statics/images/user.png'" >
					</div>
				</q-card-section>

				<q-card-section class="col-8" >
					<h4 class="m-0 parrafos " > <b>{{ pedido.doomi_nombre }}</b> </h4>
					<h6 style="" class="m-0 nombre-doomi " > <b> Estatus: </b>{{ pedido.estatus.nombre }}</h6>


					<q-rating
							v-model="model"
							max="5"
							size="1.5em"
							color="yellow"
							icon="star_border"
							icon-selected="star"
							icon-half="star_half"
							no-dimming
							class="q-mb-xs"
							/>


					<div class="flex item-center content-around">
						<div class="text-center" v-if="pedido.id_estatus == 9">
						<q-btn @click="clickRecibir(pedido)" label="Recibir" size="sm" class="cl_standar soft-border">
						</q-btn>
					</div>
					<div class="text-center">
						<q-btn @click="clickVerMas(pedido)" label="Ver mas" size="sm" class="cl_standar soft-border">
						</q-btn>
					</div>
					</div>


				</q-card-section>
			</q-card>
	</div> -->

	<div v-else class="text-black" style="margin-top: 100px;">
		<center><b><i>{{ loadMsg }}</i></b></center>
	</div>


	<q-dialog v-model="dialogDetalles" full-width persistent>
		<q-card>
			<q-card-section class="row items-center q-pb-none">
				<div class="row text-center q-mt-md  flex content-between item-center ">
					<div class="col-12">
						<p class="mb-0 font-xl "><b> {{ dialogInfoDoomi.nombre }} </b></p>
					</div>
					<q-space />
				</div>
			</q-card-section>

			<!-- DETALLES PEDIDO -->
			<q-card-section>
				<div class="row">
					<div class="col-12">
						 <p class="mb-0 titulo-header cont_doomi q-pl-md "><b>Pedido NO</b> #{{detallesPedido.id}}</p>
					</div>
				</div>

				<!-- <LISTADO-PRODUCTOS> -->
				<div class="row cont_carrito q-mt-md rounded-1 q-pl-sm q-pr-sm q-pb-sm q-ml-xs q-mr-xs"
					v-for="orden in detallesPedido.ordenes" :key="orden.id"
				>

					<div class="col-12 flex item-center content-between ">
						<p class="m-0 font-xl bold w-80 ">{{ orden.nombre }}</p>
					</div>

					<div class="col-12 ">
						<p class="m-0 nombre-doomi"
							v-if=" (orden.adicionales && orden.adicionales.length) || orden.acompañantes && orden.acompañantes.length "
						>
							<span v-if="orden.adicionales && orden.adicionales.length">
								<b> Adicionales: </b> {{ orden.adicionales.map(a => a.nombre+'('+a.cantidad+')' ).join(', ') }}
							</span> <br/>
							<span v-if="orden.acompañantes && orden.acompañantes.length">
								<b> Acompañantes: </b> {{ orden.acompañantes.map(a => a.nombre+'('+a.cantidad+')' ).join(', ') }}
							</span> &nbsp;
						</p>
						<p class="m-0 nombre-doomi" v-if="orden.notas">
							<span>
								<b>Nota:</b> {{ orden.notas }}
							</span> &nbsp;
						</p>

					</div>
				</div>
			</q-card-section>

			<q-card-actions class="" align="center">
				<q-btn push @click="recibirPedido" size="sm" class="soft-border cl_standar fuente " label="Recibir" v-close-popup />
				<q-btn push class="soft-border cl_standar fuente  " size="sm" label="Cancelar" v-close-popup />
			</q-card-actions>

		</q-card>
	</q-dialog>

</div>
</template>

<script>
const moment = require('moment');
export default {

data(){
	return {
		filtroDesde: '',
		filtroHasta: '',
		loadMsg: 'Cargando...',
		model: 5,
		Mostrarfiltro:false,
		modelo: 1,
		pedidos: [],
		dialogDetalles: false,
		detallesPedido: {},
		proxyDate: '2021/03/01',
	};
},


created(){

	this.cargarHistorial();
},


computed: {
	desde(){
		// Orden DD/MM/AA
		const fechas = this.filtroDesde.split('/');
		fechas.reverse();
		return fechas.join('/');
	},
	hasta(){
		// Orden DD/MM/AA
		const fechas = this.filtroHasta.split('/');
		fechas.reverse();
		return fechas.join('/');
	},
	dialogInfoDoomi() {
		return this.detallesPedido.restaurante ? this.detallesPedido.restaurante[0] : {};
	},

	dialogInfoCliente() {
		return this.detallesPedido.cliente || {};
	},
},


methods: {
	atras(){
		// this.$router.back();
		this.$router.push('/Pedidos');
	},

	cargarHistorial(){
		if(this.filtroHasta=='')
			this.filtroHasta=moment().format('YYYY/MM/DD');
		if(this.filtroDesde=='')
			this.filtroDesde=moment().format('YYYY/MM/DD');
		this.$q.loading.show();

		const filtros = {};
		filtros.desde = new Date(this.filtroDesde+' 00:00:00');
		filtros.desde = moment(filtros.desde).format('YYYY-MM-DD HH:mm:ss');
		filtros.hasta = new Date(this.filtroHasta+' 23:59:59');
		filtros.hasta = moment(filtros.hasta).format('YYYY-MM-DD HH:mm:ss');
		
		//this.$api.general.recuperarData('/pedidos/repartidor/historial')
		this.$api.general.recuperarDataConData('/pedidos/repartidor/historial/filtrados',filtros)
		
			.then(pedidos => {
				this.loadMsg = '';
				this.$q.loading.hide();
				this.pedidos = pedidos;
				if(pedidos && pedidos.length == 0)
					this.loadMsg = 'No hay pedidos';
			})
			.catch(e => {console.log(e); this.$q.loading.hide()});
	},

	cargarHistorialFiltro(filtros){
		this.$q.loading.show();

		this.$api.general.recuperarDataConData('/pedidos/repartidor/historial/filtrados',filtros)
			.then(pedidos => {
				this.loadMsg = '';
				this.$q.loading.hide();
				this.pedidos = pedidos;
				if(pedidos && pedidos.length == 0)
					this.loadMsg = 'No hay pedidos';
			})
			.catch(e => {console.log(e); this.$q.loading.hide()});
	},

	clickVerMas(pedido){
		this.$router.push({
			path:'/Vermashistorial1/' + pedido.id,
		});
	},

	async clickRecibir(pedido){
		await this.$api.general.recuperarData('/pedidos/'+pedido.id).then(resp => {
			this.detallesPedido = resp;
			this.dialogDetalles = true;
		});
	},

	async recibirPedido(pedido){
		// let cambiar = await this.$store.dispatch('swalInfo', {
		// 	text:'¿Cambiar estatus a En Tránsito?',
		// 	showCancelButton:true,
		// 	cancelButtonText:'Cancelar'
		// });
		// if(!cambiar.isConfirmed) return;

		const data = {id_pedido: this.detallesPedido.id};

		this.$axios({
			url: this.$api.config.apiURL + 'pedidos/repartidor/estatus',
			method: 'PATCH',
			data,
		})
		.then(resp => {
			// this.$store.dispatch('swalSuccess', 'Estatus actualizado');
			// this.$q.notify('Estatus actualizado');
			this.cargarHistorial();
		})
		.catch(console.log);
	},
	updateProxy () {
		this.proxyDate = this.date
	},
	filtrarDiasSeleccionablesDesde(date){
		date = new Date(date);

		if(this.filtroHasta && new Date(this.filtroHasta) < date)
			return false

		return true;
	},

	filtrarDiasSeleccionablesHasta(date){
		date = new Date(date);

		if(this.filtroDesde && new Date(this.filtroDesde) > date)
			return false

		return true;
	},
	save () {
		this.date = this.proxyDate
	},
	clickBuscar(){
		const filtros = {};
		
		if(this.filtroDesde){
			//filtros.desde = this.filtroDesde;
			filtros.desde = new Date(this.filtroDesde+' 00:00:00');
			// Para que incluya el dia actual.
			filtros.desde = moment(filtros.desde).format('YYYY-MM-DD HH:mm:ss');
		}
			

		if(this.filtroHasta){
			filtros.hasta = new Date(this.filtroHasta+' 23:59:59');

			filtros.hasta = moment(filtros.hasta).format('YYYY-MM-DD HH:mm:ss');
		}

		if(!filtros.desde)
		 	return this.$store.dispatch('swalInfo', 'Seleccione desde que fecha');

		if(!filtros.hasta)
		 	return this.$store.dispatch('swalInfo', 'Seleccione hasta que fecha');


		this.cargarHistorialFiltro(filtros);
	},
},

}; </script>
