<template>
	<div></div>
</template>


<script>


export default {

	data () {
		return {

		}
	},
	created (){
		switch(this.$auth.obtenerTipoUsuario()){
      		case 'repartidor': return this.$router.replace({ name:'Pedidos' });
      		default: return this.$router.replace({ name:'Iniciodesesion' });
    	}
		//this.$router.push({ path:'/Pedidos' })
	},

};</script>
