<template>
	<div class="blue cont_home fuente">
		<div class="text-center q-mt-md">
			<q-btn  flat color="primary" class="btn-atras btn_back  fa fa-angle-left fa-2x" to="/Home"/>
			<h6 class="titulo-header m-0">Mis direcciones</h6>
		</div>

		<div class="row">
			<div class="text-right col-12">
				<q-btn class="q-ma-md cl_standar soft-border" size="md" label="Agregar" to="/Misdirecciones" icon="edit_location" />
			</div>
		</div>


		<div class="q-ma-sm text-white ">
			<q-separator color="white" />
				<div v-if="direcciones.length > 0"  v-for="dir in direcciones">
					<div @click="Verdirec(dir.id)"   class="flex  item-center content-between q-ml-xl q-mr-xl q-pa-md ">
						<div  class=" m-0 col-6">
							<h6 class="m-0 parrafos item-center" >#{{dir.autoicrement}}</h6>
						</div>

						<div class=" m-0 col-6  ">
							<p class="parrafos text-white text-right m-0 item-center " >{{dir.nom_dir}}</p>
						</div>
					</div>
				</div>
			<q-separator color="white" />

			<div v-if="direcciones.length === 0" style="height:40px:width:100%" class="col-12 rounded text-center q-mt-md q-mb-md text-white q-pa-md">
				<center><b><i>No tiene direcciones registradas</i></b></center>
			</div>
		</div>
	</div>
</template>

<script>
export default {
		data() {
				return {
						direcciones: [],
				}
		},
		mounted(){
			this.cargarDirecciones();
		},
		methods:{
			cargarDirecciones(){
				const data_user = this.$api.cliente.obtenerDatos();
				this.$api.general.recuperarDataConData('direcciones/', {id_cli:data_user.id})
					.then(r => {
						for (var i = 0; i < r.length; i++) {
							r[i].autoicrement=i+1;
						}
						this.direcciones = r;
						//console.log(this.direcciones);
					}).catch(err => {
						console.log(err);
					});
			},
			Verdirec(id_dir){
				this.$router.push({ path:'/Editardireccion/'+id_dir })
			}
		}
}
</script>