<template>
	<div class="fuente vh100 ">
		
		<div class="position-map">
             <div class="row text-center q-mt-md q-mb-md flex content-between item-center ">
			<div class="col-2">
              <q-img @click="$router.back()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
			</div>
			  <div class="col-10 flex flex-center ">
			  	<q-select
					use-input
			        v-model="text"
			        hide-selected
			        fill-input
			        borderless
			        input-debounce="0"
        			:options="options"
			        @filter="filterFn"
			        hide-dropdown-icon
			        option-value="id"
          			option-label="nombre"
          			class="input input-map rounded q-mr-md "
          			style="width: 100%;"
          			@input="buscardomi"
          			:loading="loading"
                    behavior="menu"
					placeholder="Buscar doomialiado en el mapa"
          		>
			      	<template v-slot:selected>
			          {{ all_domi.nombre }}
			        </template>
			      	<template v-slot:prepend>
			          <q-icon name="search" />
			        </template>
			        <template v-slot:no-option>
			          <q-item>
			            <q-item-section class="text-grey">
			              Sin resultados
			            </q-item-section>
			          </q-item>
			        </template>
			    </q-select>
                 	<!--<q-input class="input-map rounded" style="100%" borderless v-model="text" label="Buscar en el mapa">
						<template v-slot:prepend>
						<q-icon name="search" />
						</template>
					</q-input>-->
			  </div>
			<div class="col-2">
            
			</div>
		</div>
		</div>
		

		<google-map @ObtenerEmit="ObtenerEmit" :setprueba="centrar_direction"></google-map>

        

	</div>
</template>


<script>
import { EventBus } from '../router/index';
import GoogleMap from 'components/GoogleMapHome'

export default {

	components: {GoogleMap},

	data () {
		return {
			mapConfig: {zoom:8},	
			text: null,
			all_domi: [],
			options: this.all_domi,
			loading: false,
			centrar_direction: null
		}
	},
	methods: {
		ObtenerEmit(data){
      		this.all_domi = data;
     	},
		buscardomi(){
			//console.log(this.text);
			this.centrar_direction = null;
			this.centrar_direction={
				lat: this.text.lat,
				lon: this.text.lon,
				id: this.text.id
			};
			//this.loading=true;
			//this.$router.push({ path:'/Menudoomialiadohome/'+this.text.id, params: {id:this.text.id} })
		},
		setprueba(){
			return 0;
		},
		filterFn (val, update, abort) {
	      if (val.length < 3) {
	        abort()
	        return
	      }

	      update(() => {
	        const needle = val.toLowerCase()
	        this.options = this.all_domi.filter(v => v.nombre.toLowerCase().indexOf(needle) > -1)
	      })
	    }
	}

};
</script>
