<template>
	<div class="fuente " >

		<div class="position_top">
			<div class=" w-100 text-center q-mt-md q-mb-md flex content-around item-center ">

			 <q-btn round  icon="keyboard_arrow_left " class="text-white bold  bg-black " to="/Home" />

					<p class="mb-0 titulo-header w-30 " ></p>

 			<div class=" w-30 flex item-center content-around ">

				<div class="">
					<q-btn icon="share" @click="compartir()" class="bg-black text-white q-mr-sm " round ></q-btn>
				</div>

				<div class="">
					<q-rating
					v-if="this.$auth.autenticado()"
					v-model="favorito"
					max="1"
					size="30px"
					color="red"
					color-selected="red-9"
					icon="favorite_border"
					icon-selected="favorite"
					icon-half="favorite"
					no-dimming
					class="bg-black q-pa-sm rounded"
				/>
				</div>

			</div>
		</div>
			</div>

			<div class="row">
				<div class="col-12 text-center">

					<q-img :src="doomialiado.img_portada || 'statics/images/logo.png'" :ratio="16/11" spinner-color="white" class="portada_doomialiado" />

				</div>
			</div>



		<div style="position:absolute;width:100%" class=" pb-0">

			<div class=" cont_doomialidado q-pa-md lnh ">
				<div class="row">
					<div height="100px"  class="col-12 text-left">
						<div :class="barra ? '' : 'franja' " class=""></div>
						<q-img :src="doomialiado.img || 'statics/images/logo.png'" spinner-color="white" :class="barra ? '' : 'img' " class="logo_doomialiado" heigth="100px" >
							<div width="15px" height="15px" :class="[{'bg-green-light': doomiDisponible}, 'rounded']" style="right: 7px;width: 0px;padding: 7px;top: 7px; border: 1px solid #257d1f9e;" >
							</div>
						</q-img>
					</div>

					<div class="col-12">
						<p :class="barra ? '' : 'titulo' " style="margin-bottom:5px;line-height: 20px;" class=" pl-1 q-mt-sm font_titulosxl">{{ doomialiado.nombre }}</p>
						<span class="pl-1 q-mt-sm nombre-cat capitalize text-black ">
							{{ doomialiado.categoria.nombre}} /
							{{ doomialiado.subcategorias.map(e=>e.nombre).join(' - ') }}
						</span>
					</div>

					<div class="col-12">
						<p @click="Verinfo = true" style="    position: absolute; top: 0;right:0; margin-top: -3%;" class=" mb-0 clr_dark_blue q-mr-md " >Ver información</p>
					</div>


						<div :class="doomialiado.calificacion < 0 ? 'content-left' : '' " class="col-12  flex q-mb-md item-center  content-between ">

						<div v-if="doomialiado.calificacion > -1"  class="flex item-center  content-between " >
							<p  class="mb-0 font-xl bold q-mr-sm q-ml-sm clr_light_pink " >
								{{ parseFloat(doomialiado.calificacion||0).toFixed(1) }}
							</p>
							<q-rating
								v-model="doomialiado.calificacion"
								max="5"
								size="25px"
								color="orange"
								color-selected="orange"
								icon="star_outline"
								icon-selected="star"
								icon-half="star_outline"
								no-dimming
								class=""
								readonly
							/>
						</div>

						<div v-if="horarios && horarios.length > 0" class="q-mr-sm q-ml-sm nombre-doomi text-right " @click="dialogHorario = true">
						<b class="text-left m-0 text-b">HORARIO</b> <br>
						<b class="text-left m-0 clr_light_pink ">{{ horarioDeHoy }}</b>
						</div>

						</div>


					<!-- <CATEGORIAS-FILTRO> -->
					<div style="height:40px" class="col-12">
						<q-scroll-area :class="barra ? '' : 'barra' " :visible="true" horizontal class="cont_categorias_menu p-0 capitalize rounded-borders">
							<div class="row no-wrap flex" style="width: 100%;height:10px">
								<q-chip class="capitalize" v-bind:class="{ 'tags-home-selec': idCategoriaFiltro==null || idCategoriaFiltro==-1 }" clickable @click="filtrarPorCategoria(chip_todos)" text-color="white">
									Todos
								</q-chip>

								<q-chip
									clickable
									color="primary"
									text-color="white"
									v-bind:class="{ 'tags-home-selec': idCategoriaFiltro==cat.id }"
									v-for="cat in categoriasMenu"
									:key="cat.id"
									@click="filtrarPorCategoria(cat)"
									>
										{{ cat.nombre }}
								</q-chip>
							</div>
						</q-scroll-area>
					</div>
					<!-- </CATEGORIAS-FILTRO> -->
				</div>

				<!-- PLATILLOS -->
		<div class=" pt-1 ">

				<div class="cont_bg mb-13vh ">
					<div class="row  ">
						<div
							:style="{background: producto.estatus? '#f1f2f4': '', 'border-radius':'.5rem', border: producto.estatus ? '' : ''}"
							class="col-12 mb-3 p-2 "
							v-for="producto in productos" :key="producto.id"
							:class=" producto.existencias <= 0 ? 'bg-white': ''  "
						>
							<div @click="verMas(producto, producto.existencias)" class="row" :disabled="!producto.existencias || !producto.estatus">
								<div  class="col-3 p-1">
									<img :class=" producto.existencias <= 0 ? 'img-gray': ''  " :style=" producto.estatus? '': 'filter: grayscale(100);' " :src="producto.img || 'statics/images/logo.png'" class="img-menu">
								</div>

								<div class="col-7 q-pl-sm q-pt-sm ">
									<p class="m-0 font_titulosmd">{{ producto.nombre }}</p>
									<p class="m-0 descri-menu text-black ">{{ producto.descripcion }}</p>
									<h6 class="m-0 font_titulosmd cont_menu--precio"><b>$&nbsp;</b>{{ $utils.precio( porcentaje(producto.precio_usd, producto.ganancia) ) }}</h6>
								</div>

								<div class="col-2 flex flex-center">
									<q-btn  @click.stop="clickCarrito(producto)" :disabled="!producto.existencias || !producto.estatus"  class="rounded bg-white circle" round size="md" icon="fas fa-cart-plus" />
								</div>
							</div>
						</div>

						<div v-if="productos && !productos[0]" class="cont_menu--nohay">
							<center><b><i>No hay productos aquí</i></b></center>
						</div>
					</div>
				</div>

		</div>
		<!-- PLATILLOS -->

			</div>
		</div>



		<!-- btn CANTIDAD
			<q-btn label="cant" color="primary" @click="dialogCantidad = true" />
		-->


		<!--modal horarios-->
		<q-dialog v-model="dialogHorario">
			<q-card>
				<q-card-actions align="right">
					<q-img  width="15px" height="15px" class="q-mt-md q-mr-md" v-close-popup src="statics\Iconos\X.png" ></q-img>
				</q-card-actions>
				<q-card-section class="pt-0" >
					<div class="text-center"><b>Horario</b></div>
				</q-card-section>

				<q-card-section class="q-pt-none">
					<div class="q-pa-md">
						<div class="row"v-for="hor in horarios" :key="hor.id">
							<div class="col-6 p-2 cont_horario--dia">{{ hor.dia }}</div>
							<div class="col-6 p-2 cont_horario--hora">
								{{$utils.de24a12(hor.inicio_hor)}} / {{$utils.de24a12(hor.fin_hor)}}
							</div>
						</div>
					</div>
				</q-card-section>


			</q-card>
		</q-dialog>

		<!--modal cantidad-->
		<q-dialog v-model="dialogCantidad.mostrar">
			<q-card style="width:90%" >
				

				<q-card-section class="q-pt-none q-pa-md ">
					
					<div class="row q-mt-md ">
						<div class="col-12 text-center ">
							<p class="font-xl" >Ingrese la cantidad a ordenar</p>
						</div>
					</div>

					<div class="flex item-center flex-center">

					<q-btn @click="cambiarCantidad(-1)" icon="remove" size="md" round class="cl_standar rounded circle "></q-btn>

					<p class="q-ml-md q-mr-md mb-0 font-xl bold ">{{ cantidad }}</p>

					<q-btn @click="cambiarCantidad(+1)" icon="add" size="md" round class="cl_standar rounded circle "></q-btn>

					</div>
					
				
				    <div class="row w-100 flex flex-center q-mt-md ">
						<div class="col-12 flex flex-center ">
					        <q-btn class="rounded cl_standar w-40 " label="Cancelar" size="md" v-close-popup />
							<q-btn @click="agregarAlCarrito" :disabled="!cantidad" class="rounded cl_standar w-40 q-ml-md  " label="Aceptar" size="md" v-close-popup />   
						</div>
					</div>
				
				</q-card-section>

				
			</q-card>
		</q-dialog>

		<!-- modal calificar doomi -->

			<q-dialog v-model="calificar">
					<q-card  class="w-80" >
						<q-card-section class="text-right p-0 " >
							<q-btn flat label="X" v-close-popup />
						</q-card-section>

						<q-card-section class="q-pt-none" style="">


							<div class="row">


								<div class="col-12 text-center ">
									<p class="titulo-header q-mb-lg m-0" >La ultima calificacion por usted colocada al doomi es</p>
								</div>


								<div class="col-12 text-center">
									 <q-rating
									 v-model="nueva_calificacion"
									 max="5"
									 size="2.5em"
									 color="orange"
									 icon="star_border"
									 icon-selected="star"
									 icon-half="star_half"
									 no-dimming
									 class="q-mb-xs q-mt-lg "
									 />
								</div>

								<div class="col-12 text-center q-mt-md " v-if="verCalificacionDelivery">
									<p class="titulo-header m-0" >Califica el repartidor</p>
								</div>


								<div class="col-12 text-center">
									 <q-rating
									 v-model="Rate_2"
									 max="5"
									 size="2em"
									 color="orange"
									 icon="star_border"
									 icon-selected="star"
									 icon-half="star_half"
									 no-dimming
									 class="q-mb-xs"
									 v-if="verCalificacionDelivery"
									 />
								</div>

								<div class="col-12 q-mt-xl text-center" >
									<q-btn class="cl_standar w-90 rounded " size="md"   @click="clickCalificar" :disabled="!nueva_calificacion" > <q-icon name="star" class="q-mr-sm" color="orange" ></q-icon> Recalificar </q-btn>
								</div>



							</div>

						</q-card-section>
					</q-card>
				</q-dialog>


		<!--modal ver informacion-->
		<q-dialog class="p-0 "  maximized v-model="Verinfo">
			<q-card class="" style="width:100%!important;height:100vh!important" >
				<q-card-section  class="p-0 ">



					 <div class="row bg_gray vh100 cuadro1 ">
				<div class="col-11 flex item-center ">
				<img :src="doomialiado.img || 'statics/images/logo.png'" class="bordes soft-border " width="100px" heigth="100px" alt="">

				<div class="w-60">
					<p class=" mb-0 font_tituloslg q-ml-sm ">{{ doomialiado.nombre }}</p>
					<p class=" q-ml-sm mb-0 q-mt-sm capitalize nombre-cat">{{ doomialiado.categoria.nombre }} /
							{{ doomialiado.subcategorias.map(e=>e.nombre).join(' - ') }}</p>
				</div>

			</div>

			<div class="col-1" style="position:relative" >
				<q-img  style="position:absolute ; top:0; right:0; " width="15px" height="15px" class="q-mt-md q-mr-md" v-close-popup src="statics\Iconos\X.png" ></q-img>
			</div>


				<div v-if="doomialiado.calificacion > -1"
					class="w-100 flex content-left q-mr-sm item-center "
					>
							<p  class="mb-0 font-xl bold text-orange q-mr-sm q-ml-sm q-mt-xs " >
                {{ parseFloat(doomialiado.calificacion||0).toFixed(1) }}
              </p>
							<q-rating
								v-model="doomialiado.calificacion"
								max="5"
								size="25px"
								color="orange"
								color-selected="orange"
								icon="star_outline"
								icon-selected="star"
								icon-half="star_outline"
								no-dimming
								class=""
								readonly
							/>
							<div style="width:55px" class="">
								<p v-if="nueva_calificacion" @click="calificar = true" class="mb-0 q-ml-xs font-lg clr_light_pink " >Calificar</p>
							</div>

				</div>

				<div class="col-12 q-mt-md q-pl-sm q-pr-sm ">
					<p class="mb-0  " >{{ doomialiado.descripcion }}</p>
				</div>

				<div class=" q-mt-md col-12 text-center">
					<p style="border-radius:5px" class="mb-0 bg_gray_only font-lg q-pa-sm w-100 text-grey bordes" >{{modosDisponibles}}</p>
				</div>

				<div class="col-12 q-mt-md soft-border bg_white q-pt-sm q-pb-sm q-pl-md q-pr-md ">
					<p class="  font-md bold q-ml-sm q-mb-sm ">Dirección</p>
					<div class="flex item-center  w-100">
						<q-icon style="font-size:30px" class="" name="pin_drop" />
						<p class="mb-0 q-ml-sm font_titulosmd w-80 bold " >{{ doomialiado.ubicacion }}</p>
					</div>
				</div>

				<div class="col-12 q-mt-md soft-border text-center bg_white q-pt-sm q-pb-sm q-pl-md q-pr-md ">
					<p class=" mb-0 font_tituloslg text-grey">Horarios de envío</p>
					<p class=" mb-0 font_titulosmd " v-html="horariosDeEnvio"></p>
					<!-- <p class=" mb-0 font_titulosmd ">7:00am / 8:00pm</p> -->
				</div>

		</div>
				</q-card-section>
			</q-card>
		</q-dialog>

		<!-- boton flotante -->
		<div class="btn-flotante_menu  ">

			<div v-if="itemsEnCarrito" class="badge-doomi q-mt-sm q-mr-sm ">
				{{ itemsEnCarrito }}
			</div>

			<q-img class="" v-if="itemsEnCarrito" @click="$router.push('/Carrito')" width="100px" height="100px" src="statics\Iconos\icono_asteroide.png" >
				<div style="position: relative;margin-top: 10%;" class="bg_nobg flex item-center flex-center ">
					<p class="font-md m-0 " >Carrito</p>
					<p class="mb-0 font-lg text-white text-center " >{{ $utils.precio(totalCarrito, '$') }}</p>
				</div>
			</q-img>

		</div>
		<!-- <div
			class="cl_standar circle btn-flotante_menu"
			v-if="itemsEnCarrito"
			@click="$router.push('/Carrito')"
			>

			<div class="">
			   <p class="mb-0 font-md text-white text-center " >({{ itemsEnCarrito }})</p>
			   <p class="mb-0 font-lg text-white text-center " >{{ $utils.precio(totalCarrito, '$') }}</p>
			</div>
		</div> -->
		<!-- fin boton flotante -->

	</div>
</template>

<script>
import { copyToClipboard } from 'quasar'

export default {

props: {
	id: {required: false, validator: v => +v===+v},
},

data() {
	return {
		id_app: '',
		ultima_calificacion: null,
		ultimo_pedido: {},
		nueva_calificacion: 0,
		verCalificacionDelivery: false,
		buttonDisabled: true,
		Rate_2: 4,
		calificar: false,
		Verinfo:false,
		rating: null,
		img: true,
		titulo: true,
		barra:true,
		idDoomialiado: null,
		nulo: null,
		favorito: null,
		modalidadesDeTrabajo: [],
		dialogHorario: false,
		dialogCantidad: {mostrar: false, producto: {}},
		cantidad: 1,
		pedidos: {
			'idProducto': {cantidad: 0, adicionales:[]},
		},
		adicionales: { 'idAdicional': Boolean },
		dialogAdicionales: {mostrar: false, producto: {}},
		idCategoriaFiltro: null,

		chip_todos: {id:-1, nombre:'Todos'},

		thumbStyle: {
			right: '4px',
			borderRadius: '5px',
			backgroundColor: '#027be3',
			width: '5px',
			opacity: 0.75
		},
	};
},

mounted(){
window.addEventListener('scroll',this.onScroll)
},

beforeDestroy(){
window.addEventListener('scroll',this.onScroll)
},

created(){
	if(!this.id && !this.$route.params.id)
		return this.$router.push({path: '/Home'});

	this.idDoomialiado = this.id || this.$route.params.id;
	let esFavorito = this.$store.getters['cliente/esFavorito'](this.idDoomialiado);
	this.favorito = esFavorito ? 1 : 0;

	this.$api.general.recuperarData('pedidos/ultima-calificacion/'+this.$auth.obtenerIdUsuario())
		.then(p => {
			this.ultimo_pedido = p[0];
			this.nueva_calificacion = parseInt(p[0] ? p[0].nota : 0, 10);
		});
},


methods: {
	porcentaje(precio_usd, porcentaje) {
		return this.$utils.addPercentage(precio_usd, porcentaje || this.doomialiado.ganancia)
	},

	compartir(){
      copyToClipboard('https://play.google.com/store/apps/details?id=io.plade.doomi&hl=es&gl=US')
		.then(() => {
			return this.$q.notify({
			message:'Link copiado',
			timeout:800,
			position:'top',
			icon: 'info',
			color: 'cyan-4',
			});
		})
		.catch(() => {
			return this.$q.notify({
			message:'Texto no copiado',
			timeout:800,
			position:'top',
			icon: 'info',
			color: 'cyan-4',
			});
		})
	},

	clickCalificar(){
		const rate = this.nueva_calificacion;
		const id_ped = this.ultimo_pedido.id;
		this.$axios({
			url: this.$api.config.apiURL + 'pedidos/calificacion/' + id_ped,
			method: 'PUT',
			data: { calificacion: rate }
		}).then(r => {
			this.calificar=false;
			const p = this.$route.path;
			this.$router.push('/Home').then(() => this.$router.push(p))
		})
	},

	onScroll(){
		if(window.pageYOffset <= 105){
				this.barra=true;

		}
		else{
			this.barra=false
		}
	},

	clickCarrito(producto){
		this.cantidad = 1;
		this.dialogCantidad.producto = producto;
		this.dialogCantidad.mostrar = true;
	},

	cambiarCantidad(cambio){
		const producto = this.dialogCantidad.producto;

		if((this.cantidad+cambio >= 0) && (this.cantidad+cambio <= producto.existencias)){
			this.cantidad += cambio;
			// this.$store.dispatch('carrito/cambiarCantidadPedido', [this.idProducto, cambio]);
		}
	},

	agregarAlCarrito(){

		const producto = this.dialogCantidad.producto;

		let pedido = {
			cantidad: this.cantidad,
			idDoomialiado: this.idDoomialiado,
			idProducto: producto.id,
		};

		// if(producto.adicionales && producto.adicionales.length > 0)
		// 	return this.$router.push({path:'/Menudetallehome/'+producto.id});

		this.$store.dispatch('carrito/agregar', pedido)
			.then(data => {

				if(data.r > 0){
					// return this.$store.dispatch('swalInfo', {
					// 	text: data.m,
					// 	icon: 'success',
					// 	// showCancelButton: true,
					// 	cancelButtonText: 'OK',
					// 	// confirmButtonText: 'Seguir comprando',
					// })
					navigator.vibrate(1000);
					return this.notificar('Agregado al carrito', 800);
					// .then(res => {
					// 	if(res.isConfirmed){
					// 		this.$router.push({path: 'Menudoomialiadohome/'+this.idDoomialiado});
					// 	}
					// 	else if(res.isDismissed && res.dismiss == 'cancel'){}
					// });
				}
				else if(data.r == -2){
					return this.$store.dispatch('swalInfo', {text:data.m, icon: 'warning'});
				}

				this.$store.dispatch('swalOtroDoomi', {
					text:data.m,
					path: `/Menudoomialiadohome/${this.$store.getters['carrito/idDoomialiadoActual']}`,
				});
			})
	},

	filtrarPorCategoria(categoria){
		this.idCategoriaFiltro = categoria.id || -1;
	},

	verMas(producto, existencias){
		if (!existencias) {
			return this.$q.notify({
				message:'No hay existencias',
				timeout:800,
				position:'top',
				icon: 'info',
				color: 'cyan-4',
			});
		}
    else if (!producto.estatus) {
      return this.$q.notify({
        message:'No disponible',
        timeout:800,
        position:'top',
        icon: 'info',
		color: 'cyan-4'
      });
    }
		this.$router.push({
			path: '/Menudetallehome/'+producto.id,
			// params: {id: producto.id},
		});
	},

	ordenarHorariosDesdeHoy(hors) {
		let day_of_week = 0;//new Date().getDay();
		let list = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'];
		let sorted_list = list.slice(day_of_week).concat(list.slice(0,day_of_week));
		return hors.sort(function(a,b) {return sorted_list.indexOf(a.dia) - sorted_list.indexOf(b.dia); });
	},

	notificar(message, timeout=2000){
		this.$q.notify({
			message,
			timeout,
			// color: 'green-4',
			// textColor: 'white',
			position: 'top',
			icon: 'done_all',
			color: 'cyan-4',
		});
	},

},


computed: {
	totalCarrito(){ return this.$store.getters['carrito/total'] },
	itemsEnCarrito(){
		return this.$store.getters['carrito/items'];
	},

	modosDisponibles(){
		const modos = [];
		let texto = '';

		if(this.doomialiado.modalidad_delivery){
			modos.push('Pedidos por encargo');
		}
		if(this.doomialiado.modalidad_pickup){
			modos.push('Pickup');
		}
		if(this.doomialiado.modalidad_programados){
			modos.push('Pedidos programados');
		}

		return modos.length==0
			? 'No hay modalidades de trabajo disponibles'
			: 'Modalidades disponibles: ' + modos.join(', ') + '.';
	},

	horariosDeEnvio(){
		// Separar horarios por dia y que esten activos.
		const por_dia = {
			Domingo: this.doomialiado.horarios.filter(hor => hor.dia == 'Domingo' && hor.estatus==1),
			Lunes: this.doomialiado.horarios.filter(hor => hor.dia == 'Lunes' && hor.estatus==1),
			Martes: this.doomialiado.horarios.filter(hor => hor.dia == 'Martes' && hor.estatus==1),
			Miercoles: this.doomialiado.horarios.filter(hor => hor.dia == 'Miercoles' && hor.estatus==1),
			Jueves: this.doomialiado.horarios.filter(hor => hor.dia == 'Jueves' && hor.estatus==1),
			Viernes: this.doomialiado.horarios.filter(hor => hor.dia == 'Viernes' && hor.estatus==1),
			Sabado: this.doomialiado.horarios.filter(hor => hor.dia == 'Sabado' && hor.estatus==1),
		};
		const br = '<br />';
		let texto = '';

		for (let [dia, horarios] of Object.entries(por_dia)) {
			if(horarios.length==0) continue;

			texto +=  br+dia;
			for (let hor of horarios) {
				texto += br + this.$utils.de24a12(hor.inicio_hor) + ' / ' + this.$utils.de24a12(hor.fin_hor);
			}
			texto += br;
		}

		return texto;
	},

	doomiDisponible(){
		return Boolean(this.$utils.horarioActual(this.doomialiado.horarios));
	},

	doomialiado(){
		return this.$store.getters['doomis/porId'](this.idDoomialiado);
	},

	categoriasMenu(){
		return this.$store.getters['productos/categoriasPorIdDoomialiado'](this.idDoomialiado);
	},

	horarios(){
		let h = this.$store.getters['doomis/horariosDoomialiado'](this.idDoomialiado);
		return this.ordenarHorariosDesdeHoy(h);
	},

	horarioDeHoy(){
		return this.$utils.horarioActual(this.doomialiado.horarios, ' / ') || 'Cerrado';
		// return this.$store.getters['doomis/horarioDoomialadoDeHoy'](this.idDoomialiado);
	},

	productos(){
		let productos;

		if(!this.idCategoriaFiltro || this.idCategoriaFiltro < 0)
			productos = this.$store.getters['productos/porIdDoomialiado'](this.idDoomialiado);
		else
			productos = this.$store.getters['productos/porIdDoomialiadoYCategoria'](this.idDoomialiado, this.idCategoriaFiltro);

		// Poner productos sin existencias hasta el final.
		return productos.sort(  (a,b) => b.existencias - a.existencias  );
	},
},


watch: {
	favorito(val, oldVal){
		if(oldVal===null) return;

		this.$store.dispatch('cliente/favorito', [this.doomialiado.id, val]);

		// this.notificar(val ? 'Agregado a mis favoritos' : 'Eliminado de mis favoritos');
	},
},



};</script>


<style type="text/css">

	.chip-text-grande {
		font-size: 15px !important;
	}

	.chip-text-medio {
		font-size: 10px !important;
	}

</style>
