<template>
  <div id="Pedidos fuente q-pa-md ">
    <div  class="blue cont_home" >
      <div class=" q-pl-md q-pr-md ">

        <div class="row text-center q-mt-lg   flex content-between item-center ">
          <div class="col-2">
          </div>
          <div class="col-8">
            <p class="mb-0 titulo-header font-m_s" >Pedidos disponibles</p>
          </div>
          <div class="col-2">
          </div>
        </div>

         <div   v-if="listaPedidos.length == 0 && loader "  class="">

           <div v-for="n in 2" :key="n"  class="row bg_cont q-mt-lg q-pa-md text-white rounded-1">
      <div  class="col-2  row">
          <div class="col-12 text-center  ">
            <q-card flat bordered class="circle" style=" display: flex; justify-content: center; width: fit-content;">

              <q-skeleton class="circle" type="circle" />

            </q-card>
          </div>

           <div class="col-12 text-center">
                        <p class="font-xl m-0 bold" >|</p>
           </div>

          <div class="col-12 text-center">
              <q-card flat bordered class="circle"  style=" display: flex; justify-content: center; width: fit-content;">

              <q-skeleton class="circle" type="circle" />

            </q-card>
          </div>
      </div>
      <div class="col-6 row">
         <div class="col-12 q-ml-sm flex item-center ">

           <q-card flat bordered class="" style="width: 50%;height:10px">

              <q-skeleton class="" style="height:10px" type="rect" />

          </q-card>

          <q-card flat bordered class="" style="width: 100%;margin-top: -20px;">

              <q-skeleton class="" style="height:10px" type="rect" />

          </q-card>

        </div>
         <div class="col-12 q-mt-md q-ml-sm flex item-center ">

            <q-card flat bordered class="" style="width: 50%;height:10px;">

              <q-skeleton class="" style="height:10px;" type="rect" />

          </q-card>

            <q-card flat bordered class="" style="width: 100%;margin-top: -20px;">

              <q-skeleton class="" style="height:10px;" type="rect" />

          </q-card>

        </div>
      </div>
      <div class="col-4 flex flex-center item-center  ">
        <div class="text-center w-60 flex flex-center ">

          <q-card flat bordered class="" style="width: 100%;height:10px">

              <q-skeleton class="" style="height:10px" type="rect" />

          </q-card>

           <q-card flat bordered class="q-mt-md" style="width: 80%">

              <q-skeleton class="" style="height:30px" type="QToolbar" />

          </q-card>

        </div>
        <!-- <q-btn @click="clickVerMas(pedido)" label="Ver más" size="sm" color="primary" class=" soft-border cl_standar"></q-btn> -->
      </div>
    </div>

         </div>


    <div v-for="pedido in listaPedidos" :key="pedido.id" @click="clickVerMas(pedido)" class="row bg_cont q-mt-lg q-pa-md text-white rounded-1">
      <div class="col-2  row">
          <div class="col-12 text-center  ">
            <img class="circle img-icon " height="35px" width="35px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
          </div>

           <div class="col-12 text-center">
                        <p class="font-xl m-0 bold" >|</p>
           </div>

          <div class="col-12 text-center">
            <img class="circle img-icon " height="35px" width="35px" :src=" pedido.cliente.foto || 'statics/images/user.png'" >
          </div>
      </div>
      <div class="col-6 row">
         <div class="col-12 q-ml-sm ">
          <p class="text-black mb-0 font-m" >Recogida <b>{{ pedido.doomi_nombre }}</b> </p>
          <p class="text-black mb-0 font-m limitar-texto-pedido "  > {{ pedido.doomi_ubicacion }}</p>
        </div>
         <div class="col-12 q-mt-md q-ml-sm ">
          <p class="text-black mb-0  font-m" >Entrega <b>{{ pedido.cliente.nombre || 'Cliente'}}</b> </p>
          <p class="text-black mb-0 font-m limitar-texto-pedido "  > {{ pedido.direccion }}</p>
        </div>
      </div>
      <div class="col-4 flex flex-center item-center  ">
        <div class="text-center">
                    <p class=" mb-0 w-100 text-black font-m " >Ganancia:</p>
          <p class=" font-md w-100 mb-0 " >
            <span v-bind:class="{'font_titulosxl clr_green' : pedido.cuenta.retorno,'font_titulosxl font-m clr_light_pink' : !pedido.cuenta.retorno,}"  >
              {{$utils.precio(pedido.pago_del, '$')}}
            </span>
          </p>
        </div>
        <!-- <q-btn @click="clickVerMas(pedido)" label="Ver más" size="sm" color="primary" class=" soft-border cl_standar"></q-btn> -->
      </div>
      <div class="col-12 q-pt-sm q-ml-sm flex flex-center item-center " v-if="pedido.cuenta.retorno" style="border-top: 2px solid white;">
          <p class="mb-0 clr_green  font-m" ><b>Pedido con pago en efectivo</b></p>
      </div>
    </div>

    <div v-if="pedidos.length==0 && cargado" class="row bg_cont q-mt-lg q-pa-md text-white rounded-1">
      <div class="col-12 row ">
         <div class="col-12 flex flex-center">
          <p class="text-black mb-0 " >{{msg}}</p>
          <p class="text-black mb-0 limitar-texto-pedido "  > </p>
        </div>
      </div>
    </div>
    <!-- <q-card
      flat bordered
      class="my-card degradado q-ml-sm q-mr-sm text-white rounded-1 row flex"
      v-for="pedido in listaPedidos" :key="pedido.id">



      <q-card-section horizontal class="item-center" >
        <q-card-section class="col-12 pl-0 row">
          <div class="col-12 text-center flex ">
            <img class="circle" height="50px" width="50px" :src=" pedido.doomi_img || 'statics/images/1.jpg' " >
                        <div class="">
              <p class="text-black mb-0 " >Recogida</p>
              <p class="text-white mb-0"  > {{ pedido.direccion }}</p>
            </div>
          </div>

           <div class="col-12 text-center">
                        <p class="font-xl m-0 bold" >|</p>
           </div>

          <div class="col-12 text-center">
            <img class="circle" height="50px" width="50px" :src=" pedido.cliente.foto || 'statics/images/user.png'" >
          </div>
        </q-card-section>

        <q-card-section style="" class="p-0  col-8  ">
          <div class="text-caption text-white w-90 ">
            <div class="q-mb-xs q-mt-md ">
              <div class=" q-mt-sm q-mb-xs parrafos m-0"> <b>{{ pedido.doomi_nombre }}</b>
              </div>
            </div>

            <p class="m-0 nombre-doomi q-mt-md q-mb-md " > <b> Destino: {{ pedido.direccion }}</b></p>
            <div class="text-right">
              <p class="m-0 parrafos-sm q-mb-md " >{{ $utils.timeAgo(pedido.creado) }}</p>
            </div>
            <div class="text-center q-mt-sm q-mb-sm ">
              <q-btn @click="clickVerMas(pedido)" label="Ver más" size="sm" class=" soft-border cl_standar"></q-btn>
            </div>

          </div>
        </q-card-section>
      </q-card-section>
    </q-card> -->


    <!-- <div v-if="!listaPedidos || listaPedidos.length == 0" class=" col-12 rounded text-center q-mt-md q-mb-md q-pa-md">
      <center><b><i>{{ msg }}</i></b></center>
    </div> -->

    <div style="height:50px" class="w-100"></div>


      </div>
    </div>

    <q-dialog v-model="confirmar_reintento" persistent>
			<q-card style="padding-left:20px;padding-right:20px" class="bg_blue fuente ">
				<q-card-section  class="row " >

					<div class="text-center col-12 fuente">
						<q-avatar icon="warning" class="clr_orange"   style="text-align:center;font-size:130px" />
					</div>

				   <div class="flex flex-center col-12">
					   <p style="color: #545454;font-size: 1.125em;font-weight: 400;" class="" >La información está <br> tardando en llegar</p>
				   </div>

				   <div class="text-center w-100 q-mb-md ">
					<q-btn push  @click="$router.go(0)" v-close-popup size=md class="rounded cl_standar fuente w-90 q-mt-md " label="Reintentar"  />
          <!--
					<q-btn push v-close-popup class="rounded btn-border-black cl_standar fuente w-90 q-mt-md q-mb-md " size="md" label="Cerrar"  />
           -->
				   </div>

				</q-card-section>

			</q-card>
		</q-dialog>


    <!-- <q-dialog v-model="confirmar_reintento" persistent>
      <q-card>
        <q-card-section>
          <div class="text-h6">La información está<br> tardando en llegar</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Click/Tap on the backdrop.
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cerrar" color="primary" v-close-popup />
          <q-btn flat label="Reintentar" @click="$router.go(0)" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog> -->


  </div>
</template>

<script>


export default {

data(){
  return {
    pedidos: [],
    cargado: false,
    msg: 'Cargando...',
    loader: true,
    confirmar_reintento: false,
    conteo_hasta_reintentar: 15000,//ms
    id_timeout_reintentar: null,
  }
},


created() {
  /******AL DAR CLICK PARA ATRAS QUEDE EN LA MISMA VENTANA********/
  /*const rutaactual = this2.$router.currentRoute.path;
    if(rutaactual=='/Pedidos/' || rutaactual=='/Pedidos'){
    history.pushState(null, null, location.href);
      history.back();
      history.forward();
      window.onpopstate = function () { history.go(1); };
  }
    /******FIN AL DAR CLICK PARA ATRAS QUEDE EN LA MISMA VENTANA********/
  // this.$q.loading.show();
  this.$store.dispatch('actualizarTodo');
  this.iniciarConteoReintentar();
  let self2 = this;
  setTimeout(function(){
    self2.imprimirpedidos();
  },700);

},
mounted(){
  this.$socket.removeListener('ActualizarAppRep')
  var this2 = this;
  this.$socket.on('ActualizarAppRep', function (r) {
    var data = this2.$auth.obtenerDatos();
      if(data){
        if(data.text_tipo_usu!='Cliente'){
          const rutaactual = this2.$router.currentRoute.path;
          if(rutaactual=='/Pedidos/' || rutaactual=='/Pedidos'){
            this2.imprimirpedidos();
          }
        }
      }
    })
},

computed: {
  listaPedidos(){
    // const id_rechazados = this.$store.getters['repartidor/id_pedidos_rechazados'];
    return this.pedidos || [];
  },
},

methods: {
  clickVerMas(pedido){
    this.$router.push({
      path:'/Vermas1/' + pedido.id,
    });
  },
  imprimirpedidos(){
    this.pedidos = [];
    const data_user = this.$api.repartidor.obtenerDatos();
    if(data_user){
      if(!data_user.trabajar){
        this.cargado = true;
        this.loader = false;
        this.pararConteoReintentar();
        this.msg = 'conéctate para recibir pedidos';
        return;
      }
    }
    this.loader = true;
    this.$api.general.geo().then(ubi => {
      let no_ped = this.$store.getters['repartidor/id_pedidos_rechazados'];
      ubi.no = no_ped.join(',');
      this.$api.general.recuperarDataConData('/pedidos/repartidor', ubi).then(resp => {
        this.pararConteoReintentar();
        this.$q.loading.hide();
        if(!Array.isArray(resp)) return;
        // this.$store.commit('ordenes/SET_BUSQUEDA_PEDIDOS', resp);
        const data_user = this.$api.repartidor.obtenerDatos();
        if(data_user.trabajar)
          this.pedidos = resp;
        else
          this.pedidos = [];
        this.cargado = true;
        this.loader = false;

        if(!this.pedidos || this.pedidos.length == 0)
          this.msg = 'No hay pedidos disponibles';
      }).catch(e => {console.log(e); this.$q.loading.hide()});
    }).catch(e => {console.log(e); this.$q.loading.hide()});
  },

  iniciarConteoReintentar() {
    this.id_timeout_reintentar = setTimeout(() => {
      this.confirmar_reintento = true;
    }, this.conteo_hasta_reintentar);
  },
  pararConteoReintentar() {
    clearTimeout(this.id_timeout_reintentar);
  },

},


}; </script>
