<template>
	<div class="fuente">
		 <div  class="">

           <div class="row text-center q-mb-md q-mt-lg flex content-between item-center ">
			<div class="col-2">
               <q-img @click="atras()" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
			  <!-- <q-btn class="btn_back" flat color="primary" icon="keyboard_arrow_left" label="" to="/Home" /> -->
			</div>
			<div class="col-8">
					<p class="mb-0 titulo-header " >Mi perfil</p>
			</div>
			<div class="col-2">

			</div>
		</div>

		</div>

			<div class="q-pl-md q-pb-md q-pr-md">
				<div class="row">
					<div class="col-12">
						<div class="q-pl-md q-pb-md q-pr-md ">
							<q-form id="form_perfil_repartidor" @submit="onSubmit" @reset="onReset" class="">
							<q-input name="iden" style="display:none" v-model="iden" type="hidden" />

							<div class="row">
								<div class="col-12 text-center q-mt-md ">
									<q-img :src="img" class="img-perfil" :ratio="16/11" spinner-color="white"/>
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md ">
									<label for="">Subir imágen</label>
									<q-file @input.native="procesarImagen" class="input soft-border" borderless name="img" bottom-slots  counter >
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>

										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md ">
								<label for="">ID *</label>
								<q-input borderless class="input soft-border" v-model="id_repartidor" name="id_repartidor"  lazy-rules readonly />
								</div>
							</div>

							<div class="row">
								<div class="col-3 q-mt-md pr-3">
									<label for="">V/E</label>
								<q-select class="input soft-border" borderless v-model="identificacion" name="identificacion" :options="identificaciones"  />
								</div>

								<div class="col-9 q-mt-md">
									<label for="">Escribe tu cédula *</label>
								<q-input class="input soft-border" borderless v-model="cedula" name="cedula" hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 7 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md">
								<label for="">Escribe tu nombre *</label>
								<q-input class="input soft-border" borderless v-model="nombre" name="nombre"  hint="" lazy-rules :rules="[ val => val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">Escribe tu apellido *</label>
								<q-input class="input soft-border" borderless v-model="apellido" name="apellido"  lazy-rules :rules="[ val => val && val.length > 2 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="col-12 text-center q-mt-md">
									<q-img :src="img_rif || 'statics/images/logo.png'" class="img-perfil rounded-1 " :ratio="16/11" spinner-color="white"/>
								</div>

							<div class="row">
								<div class="col-12 q-mt-md ">
									<label for="">Imagen Rif (Opcional)</label>
									<q-file @input.native="procesarImagen" class="input soft-border" borderless bottom-slots name="img_rif" counter >
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>

										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md"  >
									<label for="">Tipo de vehículo</label>
								<q-select class="input soft-border" borderless v-model="tipo_veh" name="tipo_veh" :options="vehiculos" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 text-center q-mt-md ">
									<p>Fotos del vehículo</p>
								</div>

								<div class="col-4">
									<q-img :src="img1 || 'statics/images/logo.png'" class="rounded-1" :ratio="16/11" spinner-color="white"/>
									<q-file class="input soft-border q-mt-md" borderless v-if="imagenesVehiculos" @input.native="procesarImagen" bottom-slots name="img1" counter >
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>

										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>

								</div>

								<div class="col-4">
									<q-img :src="img2 || 'statics/images/logo.png'" class="rounded-1" :ratio="16/11" spinner-color="white"/>
									<q-file class="input soft-border q-mt-md" borderless v-if="imagenesVehiculos" @input.native="procesarImagen"  bottom-slots name="img2" counter >
										<template  v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>

										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>

								</div>

								<div class="col-4">
									<q-img :src="img3 || 'statics/images/logo.png'" class="rounded-1" :ratio="16/11" spinner-color="white"/>
									<q-file class="input soft-border q-mt-md " borderless v-if="imagenesVehiculos" @input.native="procesarImagen" bottom-slots name="img3" counter >
										<template v-slot:prepend>
											<q-icon name="cloud_upload" @click.stop />
										</template>

										<template v-slot:append>
											<q-icon name="close" @click.stop="model = null" class="cursor-pointer" />
										</template>
									</q-file>
								</div>

							</div>

							<div class="row">
								<div class="col-12 q-mt-lg" >
									<label for="">Género</label>
								<q-select class="input soft-border" borderless v-model="sexo" name="sexo" :options="generos"  />
								</div>
							</div>
<!--
							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">Escribe tu teléfono *</label>
								<q-input class="input soft-border" borderless type="text" v-model="telefono" name="telefono"  hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md ">
									<label for="">Escribe tu WhatsApp *</label>
								<q-input class="input soft-border" borderless type="text" v-model="whatsapp" name="whatsapp" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>
 -->
							<div class="row">
								<div class="col-4 q-mt-md">
									<label for="">Teléfono *</label>
								<q-input mask="+###" borderless class="input"  v-model="cod_area_tlfn" label="Código de pais" hint="" lazy-rules :rules="[ v => v && v.length >= 2 || '' ]" />
								</div>

								<div class="col-8 q-mt-md">
									<label for="">&nbsp;</label>
								<q-input mask="(####) ### - ####" borderless class="input"  v-model="telefono" label="Número" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>

							<div class="row">
								<div class="col-4 q-mt-md">
									<label for="">Whatsapp *</label>
								<q-input mask="+###" borderless class="input"  v-model="cod_area_ws" label="Código de pais" hint="" lazy-rules :rules="[ v => v && v.length >= 2 || '' ]" />
								</div>

								<div class="col-8 q-mt-md">
									<label for="">&nbsp;</label>
								<q-input mask="(####) ### - ####" borderless class="input"  v-model="whatsapp" label="Número" hint="" lazy-rules :rules="[this.$utils.verificarTelefono]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md ">
									<label for="">Escribe tu correo *</label>
								<q-input class="input soft-border" borderless type="email" v-model="correo" name="correo" hint="" lazy-rules :rules="[this.$utils.verificarCorreo]" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">Escribe tu domicilio *</label>
								<q-input class="input soft-border" borderless v-model="domicilio" name="domicilio"  hint="" lazy-rules :rules="[ val => !val || val && val.length > 3 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">Escribe tu usuario *</label>
								<q-input class="input soft-border" borderless v-model="usuario" name="usuario" hint="" lazy-rules :rules="[ val => val && val.length > 2 || 'Mínimo 3 carácteres']" />
								</div>
							</div>

							<div class="row">
								<div class="col-12 q-mt-md">
									<label for="">Método de pago *</label>
									<q-input class="input_grow soft-border" borderless v-model="metodo_pago" name="metodo_pago" placeholder="Ej: Pago movil 0102 24000000 04121234567" hint="" lazy-rules autogrow style="background: rgb(236, 236, 236) !important;border: 1px solid #ddd;" />

								</div>
							</div>

							<div class="row" v-if="Rate > -1">
								<div class="col-12 text-center q-mt-md ">
									<label for="">Mi calificacion</label>
									<q-rating
									readonly
									v-model="Rate"
									max="5"
									size="3.5em"
									color="yellow"
									icon="star_border"
									icon-selected="star"
									icon-half="star_half"
									no-dimming
									class="q-mb-xs q-ml-md font-m_s2"
									/>
									<div class="col-12 text-center q-mt-md ">
										<p>{{ Rate }} / 5</p>
									</div>
								</div>
							</div>

	<!--
							<div class="row">
								<div class="col-12">
								<q-input filled :type="isPwd ? 'password' : 'text'" v-model="pass" name="pass" label="Contraseña" placeholder="Sin cambios" hint="" lazy-rules :rules="[val => !val || val.length > 4 || 'Mínimo 4 carácteres', val => val == this.pass || 'Las contraseñas no coinciden']">
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
								</div>
							</div>

							<div class="row">
								<div class="col-12">
								<q-input filled :type="isPwd ? 'password' : 'text'" v-model="pass2" label="Confirma tu contraseña *" hint="Confirmar contraseña" lazy-rules :rules="[val => !val || val.length > 4 || 'Mínimo 4 carácteres']" v-if="pass">
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
								</div>
							</div>
	-->
							<div class="col-12 text-center" v-if="msjError">
								<p style="color:red;">{{ msjError }}</p>
							</div>

							<q-linear-progress v-if="loadingBar" query color="grey" class="q-mt-sm" />
<!--
							<div class="row">
								<div class="col-12 text-center q-mt-md">
								<q-btn label="Guardar" size="sm"  type="Guardar" class="cl_standar rounded" />
								</div>
							</div>
 -->
							<div class="col-12 q-mt-md q-mb-sm text-center">
								<q-btn label="Guardar" size="md" type="submit" class="cl_standar rounded w-80 "/>
							</div>

							<div class="col-12 q-mt-md q-mb-sm text-center">
								<q-btn label="Cambiar contraseña" size="md" type="submit" class="cl_standar rounded w-80 " to="/Cambiarcontraseña" />
							</div>
						</q-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>


<script>

export default {
	data(){
		return {
			loadingBar: false,
			Rate:0,
			model: null,
			msjError: null,
			id_repartidor: null,
			aprobado: null,
			iden: null,
			email: null,
			correo: null,
			domicilio: null,
			usuario: null,
			pass: null,
			pass2:null,
			nombre: null,
			apellido: null,
			cedula: null,
			identificacion: null,
			isPwd: false,
			img_rif: null,
			img: 'statics/images/user.png',
			img1: null,
			img2: null,
			img3: null,
			sexo: null,
			metodo_pago: null,
			identificaciones: ['V', 'E' , 'J'],
			generos: [
				{
					value:'F',
					label: 'Femenino'
				},
				{
					value: 'M',
					label: 'Masculino'
				}
			],
			tipo_veh: null,
			vehiculos: [
				{
					value: 1,
					label: "Auto",
				},
				{
					value: 2,
					label: "Moto",
				},
				{
					value: 3,
					label: "Bicicleta",
				}],
			telefono: null,
			whatsapp: null,
			cod_area_tlfn: null,
			cod_area_ws: null,
			imagenesVehiculos: true,
			repartidor: {},
		}
	},

	mounted(){
		this.formData = new FormData();
		this.cargarDatos();
	},

	methods: {

		atras(){
		this.$router.back();
	},

		onSubmit(e){
			e.preventDefault();

			let formData = new FormData(document.getElementById('form_perfil_repartidor'));

			const tlf = this.extraerDigitos(this.cod_area_tlfn) +'-'+ this.extraerDigitos(this.telefono);
			formData.set('telefono', tlf);

			const ws = this.extraerDigitos(this.cod_area_ws) +'-'+ this.extraerDigitos(this.whatsapp);
			formData.set('whatsapp', ws);

			this.loadingBar = true;
			this.$api.repartidor.editar(formData)
				.then(r => {
					this.$store.dispatch('swalSuccess', 'Datos actualizados');
					this.loadingBar = false;
					this.$router.push({path:'/Pedidos'})
				})
				.catch(err => {
					this.loadingBar = false;
					this.msjError=err.msj || `Error al actualizar datos`;
					console.log(err)
				});
		},

		procesarImagen(e){
			this.formData.append(e.target.name, e.target.files[0]);
			this.$utils.procesarImagen(e, this);
		},

		async cargarDatos(){
			await this.$api.repartidor.recuperarDatos();
			const datos = this.$api.repartidor.obtenerDatos();
			this.$api.repartidor.recuperarTipoVehiculos(datos.id)
				.then(data => this.tipo_veh = {value: data.id, label: data.nombre_veh})
				.catch(console.log);

			this.repartidor = datos;
			this.iden = datos.id;
			this.aprobado = datos.aprobado;
			this.id_repartidor = datos.id_repartidor;
			this.correo = datos.correo;
			this.domicilio = datos.domicilio;
			this.usuario = datos.usuario;
			this.nombre = datos.nombre;
			this.apellido = datos.apellido;
			this.cedula = datos.cedula;
			this.identificacion = datos.identificacion;
			this.sexo = datos.sexo;
			this.cod_area_tlfn = datos.telefono.split('-')[0];
			this.telefono = datos.telefono.split('-')[1];
			this.cod_area_ws = datos.whatsapp.split('-')[0];
			this.whatsapp = datos.whatsapp.split('-')[1];
			this.tipo_veh = {value: datos.vehiculo[0].id, label: datos.vehiculo[0].nombre_veh};
			this.Rate = datos.nota;
			this.metodo_pago = datos.metodos_pagos;
			if(datos.sexo == 'M') this.sexo={value:'M', label:'Masculino'};
			if(datos.sexo == 'F') this.sexo={value:'F', label:'Femenino'};

			if(datos.img)
				this.img = datos.img;

			if(datos.img1 || datos.foto_1)
				this.img1 = datos.img1 || datos.foto_1;

			if(datos.img2 || datos.foto_2)
				this.img2 = datos.img2 || datos.foto_2;

			if(datos.img3 || datos.foto_3)
				this.img3 = datos.img3 || datos.foto_3;

			if(datos.img_rif)
				this.img_rif = datos.img_rif;

			if(datos.aprobado)
				this.imagenesVehiculos = false;
		},

		extraerDigitos(str) {
			// extraerDigitos('h01a mund0') -> '010'
			return (str.match(/\d/g) || []).join('');
		},

		onReset(){},

	},
}

</script>
