<template>
	<div class="fuente">

		 <div class="row text-center q-mt-lg q-mb-lg flex content-between item-center ">
			<div class="col-2">
				<q-img @click="atras()" class="q-ml-lg" src="statics\Iconos\Icono_Atras.png" width="20px" height="30px" ></q-img>
				<!-- <q-btn class="btn_back"  flat color="primary" icon="keyboard_arrow_left" label="" to="/Iniciodesesion" /> -->
			</div>
				<div class="col-8">
					<p class="mb-0 titulo-header " >Registrarme</p>
				</div>
			<div class="col-2">

			</div>
		</div>


		<div class="">
			<div class="row">
				<div class="col col-md-12">
					<div class="">
						<q-form id="form_registro" @submit="onSubmit" @reset="onReset" class="q-gutter-sm">

						<div style="height: 10vh">
						</div>

						<div class="flex flex-center q-mt-md">
							<q-input  class="w-80" :dense="true" type="email" name="correo" v-model="correo" label="Correo" hint="" lazy-rules :rules="[this.$utils.verificarCorreo]" >
								 <template v-slot:prepend>
									<q-icon name="local_post_office" />
								</template>
							</q-input>
						</div>
<!--
						<div class="flex flex-center q-mt-md">
							<q-input :dense="true" class="w-80 q-mt-md " label="Teléfono" type="number" name="telefono" v-model="telefono" hint="" lazy-rules :rules="[$utils.verificarTelefono]">
							</q-input>
						</div>
 -->


						<div class=" flex flex-center q-mt-xl">
							<div class="row w-80">
								<!-- <div class="col-12 q-mt-md ">
									<label for="">Teléfono</label>
								</div> -->
								<div class="col-4">
									<q-input mask="+###" :dense="true" class="w-90" type="text" label="Código pais" hint="" v-model="cod_area_tlfn" :rules="[ v => v && v.length >= 2 || '' ]"/>
								</div>
								<div class="col-8">
									<q-input mask="(###) ### - ####" :dense="true" class="" name="telefono" type="text" v-model="telefono" label="Teléfono" hint="" lazy-rules :rules="[$utils.verificarTelefono]" />
								</div>
							</div>
						</div>

						<div class="flex flex-center q-mt-md">
							<q-input :dense="true" class="w-80 q-mt-md " label="Contraseña" :type="isPwd ? 'password' : 'text'" name="pass" v-model="pass" hint="" lazy-rules :rules="[ val => val && val.length > 4 || 'Mínimo 4 carácteres']">
								<template v-slot:append>
								<q-icon
								:name="isPwd ? 'visibility_off' : 'visibility'"
								class="cursor-pointer"
								@click="isPwd = !isPwd"
								/>
								</template>
							</q-input>
						</div>

							<div class="flex flex-center q-mt-md ">
								<q-input :dense="true" class="w-80 q-mt-md " :type="isPwd ? 'password' : 'text'" v-model="pass2" label="Confirmar contraseña" hint="" lazy-rules :rules="[ val => val && val.length > 4 || 'Mínimo 4 carácteres', val => val == this.pass || 'Las contraseñas no coinciden']" >
									<template v-slot:append>
									<q-icon
									:name="isPwd ? 'visibility_off' : 'visibility'"
									class="cursor-pointer"
									@click="isPwd = !isPwd"
									/>
									</template>
								</q-input>
						</div>

						<div class="flex flex-center q-mt-lg ">
							<div class="col-12">
								<p class="mb-0 font-lg bold " > Sexo: </p>
							</div>
						</div>

					 <div class="flex q-mt-md  flex-center">
							<q-icon @click="sexo = 'M' , EstadoM = true , EstadoF = false " :class="EstadoM ? 'Masculino' : '' "  style="border: solid 1px blue" class="fas fa-mars fa-2x q-mr-md soft-border q-pa-md " ></q-icon>
							 <q-icon @click="sexo = 'F' , EstadoF = true , EstadoM = false " :class="EstadoF ? 'Femenino' : ''" style="border: solid 1px fuchsia" class="fas fa-venus fa-2x q-ml-md q-pa-md soft-border " ></q-icon>
								<q-input  style="display:none" :dense="true" class="w-80 q-mt-md  " name="sexo" v-model="sexo"  label="Sexo" emit-values />

							 <!-- <p class="mb-0 font-xl bold  " >¿Te sientes como?</p>
							<div style="height:40px" @click="Estado = !Estado" :class=" Estado ? 'bg-pink' : 'bg-blue' " class=" q-mt-sm bg-pink rounded   w-80 ">

								<div class="col-12 ">
								</div>
								<div class="col-12">

								</div>
							</div> -->
						</div>

						<div  class="flex flex-center q-mt-md ">
							<div class=" w-80">
								<q-checkbox color="black"  v-model="terminosCheck" class="font-md" label="Acepto los terminos de servicios y politicas de privacidad" />
						</div>
						</div>

						<!-- modal de condiciones de servicio -->
							<q-dialog v-model="modal" maximized style="width:100% !important ;height:100vh !important " >
							<q-card style="width:100% !important ;height:100vh !important " >
						
								<q-card-section style="text-align:justify" class="q-pt-none">
									<div class="text-center q-mt-md">
                                    <p class="bold font-xl " >Términos y condiciones del servicio</p>
									</div>
									
									<p>Esta aplicación móvil (“App”, “App móvil”) es operada por DOOMI. En toda la App, los términos “nosotros”, “nos” y “nuestro” se refieren a DOOMI. DOOMI ofrece esta App, incluyendo toda la información, herramientas y servicios disponibles para ti en este sitio, el usuario, está condicionado a la aceptación de todos los términos, condiciones, políticas y notificaciones aquí establecidas.</p>
								
								    <p>Al visitar nuestra App y/o comprar algo de nosotros, participas en nuestro “Servicio” y aceptas los siguientes términos y condiciones (“Términos de Servicio”, “Términos”), incluidos todos los términos y condiciones adicionales y las políticas a las que se hace referencia en el presente documento y/o disponible a través de hipervínculos. Estas Condiciones de Servicio se aplican a todos los usuarios de la App, incluyendo sin limitación a usuarios que sean navegadores, proveedores, clientes, comerciantes, y/o colaboradores de contenido.</p>
								
								    <p>Por favor, lee estos Términos de Servicio cuidadosamente antes de acceder o utilizar nuestra App. Al acceder o utilizar cualquier parte de la App, estás aceptando los Términos de Servicio. Si no estás de acuerdo con todos los términos y condiciones de este acuerdo, entonces no deberías acceder a la App o usar cualquiera de los servicios.</p>
								
								    <p>Cualquier función nueva o herramienta que se añadan a la App actual, también estarán sujetas a los Términos de Servicio. Puedes revisar la versión actualizada de los Términos de Servicio, en cualquier momento en esta página. Nos reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los Términos de Servicio mediante la publicación de actualizaciones y/o cambios en nuestro sitio web y App. Es tu responsabilidad revisar los Términos de Servicio periódicamente para verificar cambios. Tu uso continuo o el acceso a la App después de la publicación de cualquier cambio constituye la aceptación de dichos cambios.</p>

									<p class="bold">SECCIÓN 1 - TÉRMINOS DE LA APP</p>

									<p>Al utilizar esta App, declaras que tienes al menos la mayoría de edad en tu país de residencia, o que tienes la mayoría de edad en tu país de residencia y que nos has dado tu consentimiento para permitir que cualquiera de tus dependientes menores use este sitio.</p>

									<p>No puedes usar nuestros productos con ningún propósito ilegal o no autorizado tampoco puedes, en el uso del Servicio, violar cualquier ley en tu jurisdicción (incluyendo, pero no limitado a las leyes de derecho de autor).</p>

									<p>No debes transmitir virus o cualquier código de naturaleza destructiva.</p>

									<p>El incumplimiento o violación de cualquiera de estos Términos darán lugar al cese inmediato de tus Servicios.</p>

									<p class="bold" >SECCIÓN 2 - CONDICIONES GENERALES</p>

									<p>Nos reservamos el derecho de rechazar la prestación del servicio a cualquier persona, por cualquier motivo y en cualquier momento.</p>

									<p>Entiendes que tu contenido (sin incluir la información de tu tarjeta de crédito o débito), puede ser transferido sin encriptar e involucrar (a) transmisiones a través de varias redes; y (b) cambios para ajustarse o adaptarse a los requisitos técnicos de conexión de redes o dispositivos. La información de tarjetas de crédito y débito está siempre encriptada durante la transferencia a través de las redes.</p>

									<p>Estás de acuerdo con no reproducir, duplicar, copiar, vender, revender o explotar cualquier parte del Servicio, uso del Servicio, o acceso al Servicio o cualquier contacto en la App a través del cual se presta el servicio, sin el expreso permiso por escrito de nuestra parte.</p>

									<p class="bold">SECCIÓN 3 - EXACTITUD, EXHAUSTVIDAD Y ACTUALIDAD DE LA INFORMACIÓN</p>

									<p>No nos hacemos responsables si la información disponible en la App no es exacta, completa o actual.  El material en esta App es provisto solo para información general y no debe confiarse en ella o utilizarse como la única base para la toma de decisiones sin consultar previamente, información más precisa, completa u oportuna.  Cualquier dependencia en el material de esta App es bajo su propio riesgo.</p>

									<p>Esta App puede contener cierta información histórica.  La información histórica, no es necesariamente actual y es provista únicamente para tu referencia.  Nos reservamos el derecho de modificar los contenidos de esta App en cualquier momento, pero no tenemos obligación de actualizar cualquier información en nuestra App.  Aceptas que es tu responsabilidad de monitorear los cambios en nuestra App.</p>

									<p class="bold">SECTION 4 - MODIFICACIONES AL SERVICIO Y PRECIOS</p>

									<p>Los precios de los productos/servicios publicados en la app están sujetos a cambio sin aviso.</p>

									<p>Nos reservamos el derecho de modificar o descontinuar el Servicio (o cualquier parte del contenido) en cualquier momento sin aviso previo.</p>

									<p>No seremos responsables ante ti o alguna tercera parte por cualquier modificación, cambio de precio, suspensión o discontinuidad del Servicio.</p>

									<p class="bold">SECCIÓN 5 - PRODUCTOS O SERVICIOS</p>

									<p>Ciertos productos o servicios pueden estar disponibles exclusivamente en línea a través de la App. Estos productos o servicios pueden tener cantidades limitadas y estar sujetas a devolución o cambio de acuerdo con nuestra política de devolución solamente.</p>

									<p>Hemos hecho el esfuerzo de mostrar los colores y las imágenes de nuestros productos, en la tienda, con la mayor precisión de colores posible.  No podemos garantizar que el monitor de tu computadora muestre los colores de manera exacta.</p>

									<p>Nos reservamos el derecho, pero no estamos obligados, a limitar las ventas de nuestros productos o servicios a cualquier persona, región geográfica o jurisdicción.  Podemos ejercer este derecho basados en cada caso.  Nos reservamos el derecho de limitar las cantidades de los productos o servicios que ofrecemos.  Todas las descripciones de productos o precios de los productos están sujetos a cambios en cualquier momento sin previo aviso, a nuestra sola discreción.  Nos reservamos el derecho de descontinuar cualquier producto en cualquier momento.  Cualquier oferta de producto o servicio hecho en esta App es nula donde esté prohibido. Las imágenes de los productos mostradas en la App podrían variar de la imagen del empaque que recibes.</p>

									<p>No garantizamos que la calidad de los productos, servicios, información u otro material comprado u obtenido por ti cumpla con tus expectativas, o que cualquier error en el Servicio será corregido. Cada producto comprado es proporcionado por cada restaurante o local afiliado por lo que la app sirve como plataforma para conectar a ambos usuarios. Cualquier queja o devolución está sujeta a políticas individuales de cada afiliado donde has decidido comprar. Puedes contactar al proveedor o afiliado a la aplicación antes de concretar un pedido para dudas adicionales y evitar inconvenientes. </p>

									<p class="bold">SECCIÓN 6 - EXACTITUD DE FACTURACIÓN E INFORMACIÓN DE CUENTA</p>

									<p>Nos reservamos el derecho de rechazar cualquier pedido que realice con nosotros. Podemos, a nuestra discreción, limitar o cancelar las cantidades compradas por persona, por hogar o por pedido. Estas restricciones pueden incluir pedidos realizados por o bajo la misma cuenta de cliente, la misma tarjeta de crédito, y/o pedidos que utilizan la misma facturación y/o dirección de envío.</p>

									<p>En el caso de que hagamos un cambio o cancelemos una orden, podemos intentar notificarte poniéndonos en contacto vía correo electrónico y/o dirección de facturación / número de teléfono proporcionado en el momento que se hizo el pedido.</p>

									<p>Te comprometes a proporcionar información actual, completa y precisa de la compra y cuenta utilizada para todas las compras realizadas en nuestra App. Te comprometes a actualizar rápidamente tu cuenta y otra información, incluyendo tu dirección de correo electrónico y números de tarjetas de crédito y fechas de vencimiento, para que podamos completar tus transacciones y contactarte cuando sea necesario.</p>

									<p class="bold">SECCIÓN 7 - HERRAMIENTAS OPCIONALES</p>

									<p>Es posible que te proporcionemos acceso a herramientas de terceros a los cuales no monitoreamos y sobre los que no tenemos control.</p>

									<p>Reconoces y aceptas que proporcionamos acceso a este tipo de herramientas "tal cual" y "según disponibilidad" sin garantías, representaciones o condiciones de ningún tipo y sin ningún respaldo.  No tendremos responsabilidad alguna derivada de o relacionada con tu uso de herramientas proporcionadas por terceras partes.</p>

									<p>Cualquier uso que hagas de las herramientas opcionales que se ofrecen a través de la App corre bajo tu propio riesgo y discreción y debes asegurarte de estar familiarizado y aprobar los términos bajo los cuales estas herramientas son proporcionadas por el o los proveedores de terceros.</p>

									<p>También es posible que, en el futuro, te ofrezcamos nuevos servicios y/o características a través de la App (incluyendo el lanzamiento de nuevas herramientas y recursos).  Estas nuevas características y/o servicios también estarán sujetos a estos Términos de Servicio.</p>

									<p class="bold">SECCIÓN 8 - ENLACES DE TERCERAS PARTES</p>

									<p>Cierto contenido, productos y servicios disponibles vía nuestro Servicio pueden incluir material de terceras partes.</p>

									<p>Enlaces de terceras partes en esta App pueden direccionarte a sitios web de terceras partes que no están afiliadas con nosotros.  No nos responsabilizamos de examinar o evaluar el contenido o exactitud y no garantizamos ni tendremos ninguna obligación o responsabilidad por cualquier material de terceros o sitios web, o de cualquier material, productos o servicios de terceros.</p>

									<p>No nos hacemos responsables de cualquier daño o daños relacionados con la adquisición o utilización de bienes, servicios, recursos, contenidos, o cualquier otra transacción realizadas en conexión con sitios web de terceros.  Por favor revisa cuidadosamente las políticas y prácticas de terceros y asegúrate de entenderlas antes de participar en cualquier transacción.  Quejas, reclamos, inquietudes o preguntas con respecto a productos de terceros deben ser dirigidas a la tercera parte.</p>

									<p class="bold">SECCIÓN 9 - COMENTARIOS DE USUARIO, CAPTACIÓN Y OTROS ENVÍOS</p>

									<p>Si, a pedido nuestro, envías ciertas presentaciones específicas (por ejemplo, la participación en concursos) o sin un pedido de nuestra parte envías ideas creativas, sugerencias, proposiciones, planes, u otros materiales, ya sea en línea, por email, por correo postal, o de otra manera, aceptas que podamos, en cualquier momento, sin restricción, editar, copiar, publicar, distribuir, traducir o utilizar por cualquier medio comentarios que nos hayas enviado. No tenemos ni tendremos ninguna obligación (1) de mantener ningún comentario confidencialmente; (2) de pagar compensación por comentarios; o (3) de responder a comentarios.</p>

									<p>Nosotros podemos, pero no tenemos obligación de, monitorear, editar o remover contenido que consideremos sea ilegítimo, ofensivo, amenazante, calumnioso, difamatorio, pornográfico, obsceno u objetable o viole la propiedad intelectual de cualquiera de las partes o los Términos de Servicio.</p>

									<p>Aceptas que tus comentarios no violarán los derechos de terceras partes, incluyendo derechos de autor, marca, privacidad, personalidad u otros derechos personales o de propiedad. Asimismo, aceptas que tus comentarios no contienen material difamatorio o ilegal, abusivo u obsceno, o contienen virus informáticos u otro malware que pudiera, de alguna manera, afectar el funcionamiento del Servicio o de cualquier app relacionada.  No puedes utilizar una dirección de correo electrónico falsa, usar otra identidad que no sea legítima, o engañar a terceras partes o a nosotros en cuanto al origen de tus comentarios. Tú eres el único responsable por los comentarios que haces y su precisión.  No nos hacemos responsables y no asumimos ninguna obligación con respecto a los comentarios publicados por ti o cualquier tercer parte.</p>

									<p class="bol">SECCIÓN 10 - INFORMACIÓN PERSONAL</p>

									<p>Tu presentación de información personal a través de la App se rige por nuestra Política de Privacidad.</p>

									<p class="bold">SECCIÓN 11 - ERRORES, INEXACTITUDES Y OMISIONES</p>

									<p>De vez en cuando puede haber información en nuestro sitio o en el Servicio que contiene errores tipográficos, inexactitudes u omisiones que puedan estar relacionadas con las descripciones de productos, precios, promociones, ofertas, gastos de envío del producto, el tiempo de tránsito y la disponibilidad. Nos reservamos el derecho de corregir los errores, inexactitudes u omisiones y de cambiar o actualizar la información o cancelar pedidos si alguna información en el Servicio o en cualquier sitio web relacionado es inexacta en cualquier momento sin previo aviso (incluso después de que hayas enviado tu orden) .</p>

									<p>No asumimos ninguna obligación de actualizar, corregir o aclarar la información en el Servicio o en cualquier sitio web o app relacionado, incluyendo, sin limitación, la información de precios, excepto cuando sea requerido por la ley. Ninguna especificación actualizada o fecha de actualización aplicada en el Servicio o en cualquier sitio web o app relacionado, debe ser tomada para indicar que toda la información en el Servicio o en cualquier sitio web relacionado ha sido modificada o actualizada.</p>

									<p class="bold">SECCIÓN 12 - USOS PROHIBIDOS</p>

									<p>En adición a otras prohibiciones como se establece en los Términos de Servicio, se prohíbe el uso de la App o su contenido: (a) para ningún propósito ilegal; (b) para pedirle a otros que realicen o participen en actos ilícitos; (c) para violar cualquier regulación, reglas, leyes internacionales, federales, provinciales o estatales, u ordenanzas locales; (d) para infringir o violar el derecho de propiedad intelectual nuestro o de terceras partes; (e) para acosar, abusar, insultar, dañar, difamar, calumniar, desprestigiar, intimidar o discriminar por razones de género, orientación sexual, religión, raza, edad, nacionalidad o discapacidad; (f) para presentar información falsa o engañosa; (g) para cargar o transmitir virus o cualquier otro tipo de código malicioso que sea o pueda ser utilizado en cualquier forma que pueda comprometer la funcionalidad o el funcionamiento del Servicio o de cualquier sitio web o app relacionado, otros sitios o Internet; (h) para recopilar o rastrear información personal de otros; (i) para generar spam, phishing, pharm, pretext, spider, crawl, or scrape; (j) para cualquier propósito obsceno o inmoral; o (k) para interferir con o burlar los elementos de seguridad del Servicio o cualquier sitio web o app relacionado. Nos reservamos el derecho de suspender el uso del Servicio o de cualquier app relacionada por violar cualquiera de los ítems de los usos prohibidos. </p>

									<p class="bold">SECCIÓN 13 - EXCLUSIÓN DE GARANTÍAS; LIMITACIÓN DE RESPONSABILIDAD</p>

									<p>No garantizamos ni aseguramos que el uso de nuestro servicio será ininterrumpido, puntual, seguro o libre de errores.</p>

									<p>No garantizamos que los resultados que se puedan obtener del uso del servicio serán exactos o confiables.</p>

									<p>Aceptas que de vez en cuando podemos quitar el servicio por períodos de tiempo indefinidos o cancelar el servicio en cualquier momento sin previo aviso.</p>

									<p>Aceptas expresamente que el uso de, o la posibilidad de utilizar, el servicio es bajo tu propio riesgo.  El servicio y todos los productos y servicios proporcionados a través del servicio son (salvo lo expresamente manifestado por nosotros) proporcionados "tal cual" y "según esté disponible" para su uso, sin ningún tipo de representación, garantías o condiciones de ningún tipo, ya sea expresa o implícita, incluidas todas las garantías o condiciones implícitas de comercialización, calidad comercializable, la aptitud para un propósito particular, durabilidad, título y no infracción.</p>

									<p>En ningún caso DOOMI, nuestros directores, funcionarios, empleados, afiliados, agentes, contratistas, internos, proveedores, prestadores de servicios o licenciantes serán responsables por cualquier daño, pérdida, reclamo, o daños directos, indirectos, incidentales, punitivos, especiales o consecuentes de cualquier tipo, incluyendo, sin limitación, pérdida de beneficios, pérdida de ingresos, pérdida de ahorros, pérdida de datos, costos de reemplazo, o cualquier daño similar, ya sea basado en contrato, agravio (incluyendo negligencia), responsabilidad estricta o de otra manera, como consecuencia del uso de cualquiera de los servicios o productos adquiridos mediante el servicio, o por cualquier otro reclamo relacionado de alguna manera con el uso del servicio o cualquier producto, incluyendo pero no limitado, a cualquier error u omisión en cualquier contenido, o cualquier pérdida o daño de cualquier tipo incurridos como resultados de la utilización del servicio o cualquier contenido (o producto) publicado, transmitido, o que se pongan a disposición a través del servicio, incluso si se avisa de su posibilidad. </p>

									<p class="bold">SECCIÓN 14 - INDEMNIZACIÓN</p>

									<p>Aceptas indemnizar, defender y mantener indemne DOOMI y nuestras matrices, subsidiarias, afiliados, socios, funcionarios, directores, agentes, contratistas, concesionarios, proveedores de servicios, subcontratistas, proveedores, internos y empleados, de cualquier reclamo o demanda, incluyendo honorarios razonables de abogados, hechos por cualquier tercero a causa o como resultado de tu incumplimiento de las Condiciones de Servicio o de los documentos que incorporan como referencia, o la violación de cualquier ley o de los derechos de autor.</p>

									<p class="bold">SECCIÓN 15 - DIVISIBILIDAD</p>

									<p>En el caso de que se determine que cualquier disposición de estas Condiciones de Servicio sea ilegal, nula o inejecutable, dicha disposición será, no obstante, efectiva a obtener la máxima medida permitida por la ley aplicable, y la parte no exigible se considerará separada de estos Términos de Servicio, dicha determinación no afectará la validez de aplicabilidad de las demás disposiciones restantes.</p>

									<p class="bold">SECCIÓN 16 - RESCISIÓN</p>

									<p>Las obligaciones y responsabilidades de las partes que hayan incurrido con anterioridad a la fecha de terminación sobrevivirán a la terminación de este acuerdo a todos los efectos.</p>

									<p>Estas Condiciones de servicio son efectivos a menos que y hasta que sea terminado por ti o nosotros. Puedes terminar estos Términos de Servicio en cualquier momento por avisarnos que ya no deseas utilizar nuestros servicios, o cuando dejes de usar nuestra App.</p>

									<p>Si a nuestro juicio, fallas, o se sospecha que has fallado, en el cumplimiento de cualquier término o disposición de estas Condiciones de Servicio, también podemos terminar este acuerdo en cualquier momento sin previo aviso, y seguirás siendo responsable de todos los montos adeudados hasta incluida la fecha de terminación; y/o en consecuencia podemos negarte el acceso a nuestros servicios (o cualquier parte del mismo).</p>

									<p class="bol">SECCIÓN 17 - ACUERDO COMPLETO</p>

									<p>Nuestra falla para ejercer o hacer valer cualquier derecho o disposición de estas Condiciones de Servicio no constituirá una renuncia a tal derecho o disposición.</p>

									<p>Estas Condiciones del servicio y las políticas o reglas de operación publicadas por nosotros en este sitio o con respecto al servicio constituyen el acuerdo completo y el entendimiento entre tú y nosotros y rigen el uso del Servicio y reemplaza cualquier acuerdo, comunicaciones y propuestas anteriores o contemporáneas, ya sea oral o escrita, entre tú y nosotros (incluyendo, pero no limitado a, cualquier versión previa de los Términos de Servicio).</p>

									<p>Cualquier ambigüedad en la interpretación de estas Condiciones del servicio no se interpretará en contra del grupo de redacción.</p>

									<p class="bold">SECCIÓN 18 - LEY</p>

									<p>Estas Condiciones del servicio y cualquier acuerdo aparte en el que te proporcionemos servicios se regirán e interpretarán en conformidad con las leyes de la República republica bolivariana de Venezuela</p>

									<p class="bold">SECCIÓN 19 - CAMBIOS EN LOS TÉRMINOS DE SERVICIO</p>

									<p>Puedes revisar la versión más actualizada de los Términos de Servicio en cualquier momento en esta página.</p>

									<p>Nos reservamos el derecho, a nuestra sola discreción, de actualizar, modificar o reemplazar cualquier parte de estas Condiciones del servicio mediante la publicación de las actualizaciones y los cambios en nuestro sitio web. Es tu responsabilidad revisar nuestro sitio web periódicamente para verificar los cambios. El uso continuo de o el acceso a nuestro sitio Web o el Servicio después de la publicación de cualquier cambio en estas Condiciones de servicio implica la aceptación de dichos cambios.</p>

									<p class="bold">SECCIÓN 20 - POLÍTICAS DE USO</p>

									<p>1.Generalidades</p>

									<p>Estas reglas aplican al uso de la app llamada DOOMI que es propiedad de Juan Guedez, Omar D’amelio y Juan Loaiza y que en adelante nos referiremos como “App”.</p>

									<p>Cualquier persona natural o jurídica, que desee comprar los productos o servicios de la App podrá hacerlo previa inscripción como cliente del sistema. Además, deberá aceptar los Términos de Servicio, Políticas de Uso, Políticas de Privacidad, Política de Envíos y Política de Reclamos y Devoluciones, las cuales tiene el carácter de vinculante entre las partes.</p>

									<p>2.Capacidad para Contratar</p>

									<p>El uso de la App y los productos y servicios ofrecidos por DOOMI, están disponibles para personas naturales o jurídicas que tengan capacidad legal de ejercicio para contratar, es decir, que sean susceptibles de ejercer derechos y adquirir obligaciones por sí mismas sin necesidad de autorización de otra. Por tanto, quedan imposibilitados para contratar los dementes y los menores de 18 años, entre otras personas sin capacidad legal para contratar.</p>

									<p>En el caso de las personas jurídicas, quien contrate en nombre y representación de estas, debe ser quien tenga la calidad legítima y suficiente para hacerlo.</p>

									<p>3.Inscripción</p>

									<p>Para comprar a través de la App es necesario registrarse como cliente, completando un formulario de inscripción en todos sus campos, así como establecer un nombre de usuario y contraseña. También es posible registrarse en la App usando una cuenta de Google o Facebook.</p>

									<p>El cliente asume el compromiso de actualizar la información personal conforme se produzcan cambios en la misma, así como se responsabiliza y garantiza la veracidad, exactitud y vigencia de la información ingresada.</p>

									<p>El cliente es responsable por todas las operaciones efectuadas en su cuenta.</p>

									<p>Para realizar una compra de un producto es necesario completar el formulario de compra que contendrá el(los) producto(s), especificaciones del producto, dirección de envío, teléfono, entre otras especificaciones de la compra.</p>

									<p>4.Cargos</p>

									<p>DOOMI se reserva el derecho de adicionar costos de envío según sea el caso. Todo costo extra al precio de los productos será detallado y mostrado antes de finalizar la compra para que el cliente de su consentimiento.</p>

									<p>5.Domicilio y Ley aplicable</p>

									<p>Este acuerdo estará regido por las leyes vigentes en la República bolivariana de Venezuela. El usuario renuncia a su domicilio y para efectos de este contrato designa como domicilio especial la ciudad de San Felipe y se somete a la jurisdicción y leyes de la República bolivariana de Venezuela. Se fija como dirección de DOOMI la siguiente: Calle callejón Cascabel 15-6 San Felipe Yaracuy. Puede contactarnos al teléfono definir  y al correo electrónico por definir</p>

									<p class="bold">SECCIÓN 21 - POLÍTICAS DE PRIVACIDAD</p>

									<p>Para utilizar los servicios ofrecidos por DOOMI, los clientes deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica.</p>

									<p>DOOMI tomará las medidas que estén a su alcance para resguardar la privacidad de la información de los clientes. Por lo tanto, no compartirá la información personal sea a manera onerosa o gratuita, a excepción de las maneras establecidas en el presente documento. En caso de que terceras personas logren acceder a alguna información de manera ilegítima, DOOMI no se hace responsable por el uso de la información.</p>

									<p>DOOMI cooperará con las autoridades judiciales o administrativas para garantizar el fiel cumplimiento a la ley y con el propósito de salvaguardar la integridad y la seguridad de la sociedad y la de sus clientes. Por lo tanto, esta podrá proporcionar información personal de sus usuarios a petición de cualquier autoridad para efectos de sus investigaciones en casos como: protección de derechos de propiedad industrial e intelectual, prevención del fraude y otras materias, y por su parte, el usuario autoriza a DOOMI para que brinde la información que a su discreción estime pertinentes para el fiel cumplimiento de la ley.</p>

									<p>DOOMI según su discreción y cuando lo considere necesario por considerar que la actividad de un cliente es sospechosa o hayan indicios de que intente cometer un delito o perjudicar a una persona, podrá proporcionar información personal de un usuario a otros usuarios o a terceros para hacer cumplir los las políticas y con la finalidad de cooperar con la ejecución y cumplimiento de la ley. Esta facultad será ejercida por DOOMI independientemente que exista o no una orden judicial o administrativa al efecto.</p>

									<p class="bold" >SECCIÓN 22 - POLÍTICA DE ENVÍO O ENTREGA</p>

									<p>Las formas de entrega de los productos comprados en nuestro sitio web son:</p>

									<p>a) Entrega a domicilio en la dirección especificada por el cliente siempre y cuando esté dentro del área de cobertura. El área de cobertura incluye las siguientes ciudades dentro de la República Bolivariana de Venezuela: Yaracuy: San Felipe, Cocorote, Independencia El tiempo aproximado de la entrega a domicilio es de 1 día, desde la compra.</p>

									<p>SECCIÓN 23 - POLÍTICAS DE RECLAMOS Y DEVOLUCIONES</p>

									<p>En caso  que exista un reclamo de algún cliente, éste debe escribir a definir o llamar al número de teléfono +definir</p>

									<p>El plazo para que el cliente ponga un reclamos es de 7 días después de realizada la compra o la entrega.</p>

									<p>Las condiciones bajo las cuales DOOMI admitirá un reclamo son las siguientes:</p>

									<p>a) El producto está en malas condiciones o deteriorado.</p>

									<p>b) El producto está vencido.</p>

									<p>c) El producto no es el que el cliente solicitó.</p>

									<p>DOOMI resolverá el reclamo presentado en los siguientes 3 días después de presentado el reclamo.</p>

									<p>Si procede una devolución de un producto, no se cobrará cargo adicional por la devolución del producto. DOOMI hará llegar/entregará en el producto sustituto en la dirección que el cliente indique siempre y cuando esté en el área de cobertura detallada en la sección 22. El cliente debe devolver a DOOMI el producto que pidió cambiar.</p>

									<p class="bold" >SECCIÓN 24 - INFORMACIÓN DE CONTACTO</p>

									<p class="mb-10vh" >Preguntas acerca de los Términos de Servicio y las Políticas deben ser enviadas a @DEFINIR</p>
                                      

								</q-card-section>

								<div class="flex flex-center btn-fixed-end ">
									<q-btn label="Acepto" @click="aceptarTerminos" size="md" class="rounded w-80 font-lg bold cl_standar  "/>
								</div>

							</q-card>
							</q-dialog>
						<!-- fin modal de condiciones de servicio -->

						<div class="col-12 text-center" v-if="msjError">
							<p style="color:red;">{{ msjError || 'Error al registrar' }}</p>
						</div>

						<div class="btn-fixed-end-double row ">

						<div class=" col-12 flex flex-center">
							<q-btn label="Registrarme" type="submit" size="md" class="rounded w-80 cl_standar font-lg bold q-mt-md " :disabled="buttonDisabled"/>
						</div>

						<div  @click="To()" class=" col-12 text-center ">
							<p class="mb-0" >Ya tengo una cuenta <b class="clr_light_blue" >Iniciar sesión</b> </p>
						</div>

						</div>

						</q-form>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>



<script>
// import GoogleMap from 'components/GoogleMap'

export default {

// components: {GoogleMap},

data () {
	return {
		EstadoM : false,
		EstadoF : false,
		sexo: '',
		modal: false,
		terminosAceptados: false,
		showAlert:false,
		buttonDisabled: false,
		msjError: false,
		isPwd: true,
		model: null,
		foto: 'statics/images/user.png',
		nombre: null,
		apellido: null,
		pass: null,
		pass2: null,
		correo: null,
		usuario: null,
		telefono: null,
		cod_area_tlfn: null,
		whatsapp: null,
		// generos: [{label :'', value :'' },],
	}
},


computed: {

	terminosCheck: {
		get(){
			return this.terminosAceptados;
		},
		set(val){
			if(!val){
				this.terminosAceptados = false;
			}
			else {
				this.modal = true;
			}
		},
	},
},


methods: {

	aceptarTerminos(){
		this.terminosAceptados = true;
		this.modal = false;
		this.buttonDisabled = false;
	},

	To(){
		this.$router.push({path:'/Iniciodesesion'});
	},

	atras(){ this.$router.go(-1) },

	procesarImagen(evt){ this.$utils.procesarImagen(evt, this) },

	onSubmit(evt){
		evt.preventDefault();


		this.msjError = false;

		if(!this.sexo) {
			this.msjError = 'Selecciona el sexo';
			return;
		};
		this.buttonDisabled = true;
		if(!this.terminosAceptados){
			this.msjError = 'Debes aceptar los términos y condiciones';
			return;
		}

		let formData = new FormData(document.getElementById('form_registro'));

		const tlf = this.extraerDigitos(this.cod_area_tlfn) +'-'+ this.extraerDigitos(this.telefono);
		formData.set('telefono', tlf);

		this.$api.cliente.registrar(formData)
			// .then(r => this.$router.push({path:'/Home'}))
			.then(r => {
				this.showAlert=true;
				this.$auth.autenticar(this.correo, this.pass)
				.then(res => {
					this.$store.dispatch('carrito/subir');
					this.$store.dispatch('swalInfo', {title:'¡Genial!', text:'Se ha enviado un correo de verificación'})
						.then(r => this.$router.push({ path:'/Home' }));
				})
				.catch(err => console.log('loginErr:', err));
			})
			.catch(err => {
				this.msjError = err.msj;
				this.buttonDisabled = false;
			});
	},

	extraerDigitos(str) {
		// extraerDigitos('h01a mund0') -> '010'
		return (str.match(/\d/g) || []).join('');
	},

	onReset(){},
},

};
</script>
