<template>
	<div class="fuente vh100 ">
		
		<div class="position-map">
             <div class="row text-center q-mt-md q-mb-md flex content-between item-center ">
			<div class="col-2">
              <q-btn  flat color="primary" icon="keyboard_arrow_left" label="" to="/pago" />
			</div>
			  <div class="col-8">
                 	<p class="mb-0 titulo-header q-mt-sm " >Dirección de retiro</p>
			  </div>
			<div class="col-2">
            
			</div>
		</div>
		</div>
		

		<google-map></google-map>

        

	</div>
</template>


<script>
import { EventBus } from '../router/index';
import GoogleMap from 'components/GoogleMapHome'

export default {

	components: {GoogleMap},

	data () {
		return {
			mapConfig: {zoom:8},	
			text: ''
		}
	},


};
</script>

