<template>
	<div class="blue cont_home fuente ">
		<div v-if="pedido.id">
			<div class="text-center">

				<div v-if="!Up" style="z-index:5"
					class="row absolute-top q-mt-lg w-100  text-center q-mb-md flex content-between item-center ">
					<div class="col-2">
						<q-img @click="$router.back()"
							src="statics\Iconos\Icono_Atras.png" class="q-ml-lg"
							width="20px" height="30px"></q-img>
					</div>
					<div class="col-8">
						<p class="mb-0 titulo-header-repartidor ">Pedido N°
							{{ pedido.id }}
						</p>
					</div>
					<div class="col-2">

					</div>
				</div>

				<GoogleMapRepartidor :class="Up ? 'vh0' : 'vh50' " style=""
					:setDirection="direccion" @hook:mounted="cargarDireccion" />


			</div>
			<div :class="Up ? 'vh100' : 'vh50' "
				class=" w-100 flex item-center flex-center  bg_rosa">

				<div class="row w-100 q-pl-md q-pr-md q-pb-md q-pt-sm text-white rounded-1 box-shadow-1 ">

					<div @click="Up = !Up" class="col-12 flex flex-center q-mb-md ">
						<q-img  src="statics\Iconos\Icono_Atras.png" :class="Up ? 'arrow-down' : 'arrow-up' " class="" width="20px" height="30px"></q-img>
					</div>

					<div class="col-2  row">
						<div class="col-12 text-center  ">
							<img class="circle" height="35px" width="35px"
								:src=" pedido.doomi_img || 'statics/images/1.jpg' ">
						</div>

						<div class="col-12 text-center">
							<p class="font-xl text-black m-0 bold">|</p>
						</div>

						<div class="col-12 text-center">
							<img class="circle" height="35px" width="35px"
								:src=" pedido.cliente.foto || 'statics/images/user.png'">
						</div>
					</div>
					<div class="col-10 row">
						<div class="col-10 q-ml-sm ">
							<div class="flex ">
								<p class="text-black font-lg mb-0 ">Recogida</p>
								<p class="text-black mb-0 font-lg q-ml-sm bold ">
									{{ pedido.doomi_nombre }}
								</p>
							</div>
							<p class="text-black mb-0 font-lg ">
								{{ pedido.doomi_ubicacion }}
							</p>
						</div>
						<div class="col-10 q-mt-md q-ml-sm ">
							<div class="flex ">
								<p class="text-black mb-0 font-lg ">Entrega</p>
								<p
									class="text-black mb-0 font-lg q-ml-sm bold ">
									{{ pedido.cliente.nombre || 'Cliente'}}
									{{ pedido.cliente.apellido || '' }}
								</p>
							</div>
							<p class="text-black mb-0 font-lg ">
								{{ pedido.direccion }}
							</p>
						</div>
					</div>

					<div class="col-12">
						<q-separator color="white" />
					</div>

					
					<div v-bind:class="{'col-12 flex flex-center item-center q-mb-md q-mt-md clr_green' : pedido.cuenta.retorno,'col-12 flex flex-center item-center q-mb-md q-mt-md text-black' : !pedido.cuenta.retorno,}" >
						<p class="mb-0 w-100 flex flex-center item-center" v-if="pedido.cuenta.retorno"><b>Pedido con pago en efectivo</b></p>
						<br>
				      	<p class="font_titulosxl mb-0  ">
							{{ $utils.precio(pedido.pago_del, '$') }}
						</p>
						<p class="font-lg mb-0 q-ml-sm  " v-if="!pedido.cuenta.retorno">Ganancia
							total</p>
						<b class="font-lg mb-0 q-ml-sm  " v-else>Ganancia total</b>
					</div>

					<div :class="Up ? ['vh50','q-mb-sm'] : 'vh0' " class="row w-100 ">
	
						<div class="w-100">

							<p  v-if="Up" class=" font_tituloslg  bold text-black w-100 text-center q-mb-md "> Articulos por recoger</p>

							<div v-for="(orden, index) in datos" :key="index" :class="Up ? '' : 'vh0' " class="flex q-mb-md  row w-100">

							<div class="col-9 q-pl-sm text-black ">
								<p class="mb-0 font-xl q-pl-md  ">
									{{ orden.nombre }}
								</p>

								<p v-if="orden.adicionales" class="mb-0 font-m q-pl-xl  ">
									{{ orden.adicionales }}
								</p>

							</div>

							<div class="col-3 q-pr-sm text-right text-black ">
								<p class="mb-0 font-xl q-pl-md text-bold">
									X {{ orden.cantidad }}
								</p>
							</div>

						    </div>

						</div>

					</div>


					<div class="col-12 flex flex-center ">
						<q-btn @click="tomarPedido"
							class=" w-80 cl_standar rounded" size="md"
							:label="botonEmpezar.label"
							:disabled="botonEmpezar.disabled"></q-btn>
					</div>

					<div class="col-12 flex flex-center q-mt-md ">
						<q-btn @click="rechazarPedido"
							class=" w-80 btn-border-black rounded  " size="md"
							label="Rechazar"></q-btn>
					</div>

				</div>


			</div>


		</div>


		<div v-else class="text-white" style="margin-top: 100px;">
			<center><b><i>Cargando...</i></b></center>
		</div>
	</div>
</template>
<script>

import GoogleMapRepartidor from 'components/GoogleMapRepartidor'
import Swal from 'sweetalert2'

export default {

components: {GoogleMapRepartidor},

data () {
	return {
		botonEmpezar: {
			label: 'Empezar delivery',
			disabled: false
		},
		dialogMapa: false,
		direccion: null,
		pedido: {},
		cliente: {},
		idPedido: null,
		Up : false,
		check: true,
	};
},


created(){
	this.$q.loading.show();

	this.idPedido = this.$route.params.id;

	this.$api.general.recuperarDataPorId('/pedidos/repartidor', this.idPedido)
		.then(resp => {
			this.$q.loading.hide();
			this.pedido = resp;
			this.cliente = resp.cliente;
		});

	this.$api.repartidor.recuperarDatos().then(repartidor => {
		if(!repartidor.aprobado) {
			this.botonEmpezar.disabled = true;
			this.botonEmpezar.label = 'Tú cuenta está siendo aprobada';
		}

		if(!repartidor.estatus) {
			this.botonEmpezar.disabled = true;
			this.botonEmpezar.label = 'Tú cuenta está suspendida';
		}
	});
},


methods: {

	handleSwipe ({ evt, ...info }) {
			if(info.direction=='up'){
                this.Up = true;
			}
			else if (info.direction=='down'){
                 this.Up = false;
			}
			else this.Up = !this.Up
				
	      console.log("diste swip",info)
	    },

	async cargarDireccion(){
		this.direccion = null;
		var data_r = await this.$api.repartidor.recuperarDatos();
		var lat_rep = null;
		var lon_rep = null;
		var img_rep = "statics/images/map-repartidor.png";
		if(this.pedido.repartidor || this.pedido.id_repartidor==null){
			lat_rep = data_r.lat;
			lon_rep = data_r.lon;
			img_rep = "statics/images/transporte/"+data_r.vehiculo[0].icono_veh;
		}
		this.direccion = {
			destination: {
				lat: this.pedido.lat_dir_p,
				lon: this.pedido.lon_dir_p
			},
			origin: {
				lat: this.pedido.doomi_lat,
				lon: this.pedido.doomi_lon
			},
			repartidor: {
				lat: lat_rep,
				lon: lon_rep,
				imgrep: img_rep
			},
			sts: this.pedido.id_estatus
		};
	},

	tomarPedido(){
		const id_pedido = this.idPedido;
		const that = this;

		this.botonEmpezar.disabled = true;
		this.$store.dispatch('repartidor/tomar_pedido', id_pedido)
			.then(() => {
				this.$router.push('/RecibirDelivery')
			})
			.catch(err => {
				if(err && err.r==false) {
					this.botonEmpezar.label = err.msj;
					this.botonEmpezar.disabled = true;
				}
			})
	},

	rechazarPedido() {
		this.$store.dispatch('repartidor/rechazar_pedido', this.idPedido);
		this.$router.push('/Pedidos');
	},
},


computed: {
	datos(){
		if(!this.pedido || !this.pedido.ordenes) return;

		let acompañantes = [];

		let ordenes = this.pedido.ordenes.map(item => {
			item.acompañantes.map(a => acompañantes.push({ cantidad: a.cantidad, nombre: a.nombre }));
			return {
				cantidad: item.cantidad,
				nombre: item.nombre,
				// descripcion: item.menu.descripcion,
				precio: this.$utils.precio(item.precio || item.precio_usd),
				adicionales: item.adicionales.map(e => `${e.nombre} (${e.cantidad})`).join(', '),
				notas: item.notas,
			};
		}, this);


		return ordenes.concat(acompañantes);
	},
},


}; </script>

<style>
.my-table-details {
	font-size: 0.85em;
	font-style: italic;
	max-width: 200px;
	white-space: normal;
	color:white;
	margin-top: 4px;
}
</style>
