<template>
	<div>
				<div
					ref="mapa"
					map-type-id="terrain"
					style="height: 60vh;width:100%; "
					>
				</div>

				<template>
					<slot :google="googlee" v-bind:lat="lat" v-bind:lon="lon"/></slot>
				</template>

	</div>
</template>


<script>

import { EventBus } from '../router/index';

export default {
	name: 'GoogleMapRepartidor',
	props: {
		mapConfig: {
			type: Object,
			default(){
					return {
						center: { lat: 10.336902, lon: -68.745944 },
						zoom: 8,
					}
			},
		},

		setDirection: { type: Object },
		setMarker: { type: Object },
	},

	data(){
		return {
			// markers: [],
			map: null,
			options: {
				center: this.mapConfig.center,
				mapTypeControl: false,
				streetViewControl: false,
				fullscreenControl: false,
				zoomControl: true,
				rotateControl: true,
				scaleControl: true,
				zoom: 14,
				gestureHandling: "greedy",
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				backgroundColor: "#fff",
				 zoomControlOptions: {
			        position: google.maps.ControlPosition.RIGHT_CENTER
			    }
			},
			lat: null,
			lon: null,
			googlee: google,
			listado: [],
			mapStyles: [
				{ featureType: "poi.business", elementType: "labels", stylers: [{ visibility: "off" }] },
				{ elementType: 'labels.text.fill', stylers: [{ color: '#294dce' }] }
			],
			delayBeforeMap: 500,
		};
	},
	async mounted(){

		const data_user = this.$api.cliente.obtenerDatos(); //obtener informacion del user cliente
		const rutaactual = this.$router.currentRoute.path; //obtener la ruta actual
		//CUANDO SE ESTA EN PROFILE CON LA SESION CLIENTE
		if(data_user && data_user.lat && data_user.lon && rutaactual=='/profile'){
			this.mapConfig.center.lat = parseFloat(data_user.lat);
				this.mapConfig.center.lon = parseFloat(data_user.lon);
		}else if(rutaactual=='/Misdirecciones' || rutaactual.indexOf("/Editardireccion/") == 0){
			var cordenadas = await this.$api.general.geo();
			if(cordenadas.lat){
				this.mapConfig.center.lat = parseFloat(cordenadas.lat);
					this.mapConfig.center.lon = parseFloat(cordenadas.lon);
				}
				if(this.$route.params.id){

				var iden = this.$route.params.id;
				await this.$api.general.recuperarData('direcciones/'+iden)
							.then(r => {
								this.mapConfig.center.lat = parseFloat(r.lat_dir);
						this.mapConfig.center.lon = parseFloat(r.lon_dir);
								//console.log(r);
							}).catch(err => {
								console.log(err);
							});
				}
		}else{ //CUANDO NO EXISTA NINGUNA CONDICION
			var cordenadas = await this.$api.general.geo();
			if(cordenadas.lat){
				this.mapConfig.center.lat = parseFloat(cordenadas.lat);
					this.mapConfig.center.lon = parseFloat(cordenadas.lon);
			}else if (navigator.geolocation) { //validar si esta activo la funcion de geolocation en el movil o navegador
				const self = this;
				//Funcion para obtener cordenadas actuales
						navigator.geolocation.getCurrentPosition(function(position){
								self.mapConfig.center.lat = position.coords.latitude;
								self.mapConfig.center.lon = position.coords.longitude;
						});
			}
		}

			this.options.center = new google.maps.LatLng(this.mapConfig.center.lat, this.mapConfig.center.lon);
			var map = new google.maps.Map(
								this.$refs.mapa,
								this.options
						);

			const self = this;
			var image = {
				url: "statics/images/map-aqui-estoy.png",
				size: new google.maps.Size(81, 81),
				origin: new google.maps.Point(0, 0),
				anchor: new google.maps.Point(40, 71),
				scaledSize: new google.maps.Size(75, 75)
			};
			const centroMarker = new google.maps.LatLng(this.mapConfig.center.lat, this.mapConfig.center.lon);
			var marker = new google.maps.Marker({position: centroMarker, icon: image});
			
			if(rutaactual=='/profile'){
				//CUANDO SE ESTA EN PROFILE CON LA SESION CLIENTE
				self.lat = centroMarker.lat();//guarda coordenada en el input hidden
				self.lon = centroMarker.lng();//guarda coordenada en el input hidden
				marker.setMap(map);//crea la marca en el mapa

			}else if(rutaactual.indexOf("/Editardireccion/") == 0 && this.$route.params.id){
				self.lat = centroMarker.lat();//guarda coordenada en el input hidden
				self.lon = centroMarker.lng();//guarda coordenada en el input hidden
				marker.setMap(map);//crea la marca en el mapa

			}else{
				//CUANDO NO EXISTA NINGUNA CONDICION
				self.lat = null;//se vacian las cordenadas para que se exija la validación
				self.lon = null;//se vacian las cordenadas para que se exija la validación
			}

			//posicion del marcador al hacer click
			var eb = EventBus;
			google.maps.event.addListener(map, 'click', function(event) {
				marker.setMap(null);
				marker = new google.maps.Marker({position: event.latLng,icon: image});
				marker.setMap(map);
				// map.panTo();

				self.lat = event.latLng.lat();
				self.lon = event.latLng.lng();
				eb.$emit('EmitirLAT', event.latLng.lat());
			});
	},


	methods: {
		crearMapa(options){
			// Regresa el mapa estilizado.
			options = options || {};
			const styledMap = new google.maps.StyledMapType(this.mapStyles, { name: "Styled Map" });
			const mapa_ref = this.$refs.mapa;
			const map = new google.maps.Map(mapa_ref, {...this.options, ...options});

			map.mapTypes.set('map_style', styledMap);
			map.setMapTypeId('map_style');
			return map;
		},

		asyncDelay(ms){
			return new Promise((resolve) => {setTimeout(() => resolve(), ms)});
		},
	},


	watch: {
		async setMarker(data){
			if(!data || !data.lat || !data.lon) return;

			const { lat, lon } = data;
			const centroMarker = new google.maps.LatLng(lat, lon);

			// Esperar hasta que todo este renderizado.
			await this.asyncDelay(this.delayBeforeMap);
			this.$nextTick(() => {
				const map = this.crearMapa({center: centroMarker});
				const centroMarker = new google.maps.Marker({position: centroMarker});

				centroMarker.setMap(map);
			});
		},

		async setDirection(data){
			//console.log(data);
			var origin = data.origin;
			var destination = data.destination;
			var repartidor = data.repartidor;
			var sts = data.sts;
			if(typeof origin == 'object')
				origin = new google.maps.LatLng(origin.lat, origin.lon);

			if(typeof destination == 'object')
				destination = new google.maps.LatLng(destination.lat, destination.lon);

			const DIR_SVC = new google.maps.DirectionsService();
			const DIR_REN = new google.maps.DirectionsRenderer({suppressMarkers: true,polylineOptions: { strokeColor: "#fb5a6a" }});


			// Esperar un momento antes de crear mapa.
			await this.asyncDelay(this.delayBeforeMap);

			// Esperar hasta que todo este renderizado.
			this.$nextTick(function() {
				const map = this.crearMapa({center: origin});

				DIR_REN.setMap(map);

				const data_map = {
					origin,
					destination,
					optimizeWaypoints: true,
					travelMode: 'DRIVING'
				};

				DIR_SVC.route(data_map, (response, status) => {
					if(status !== 'OK'){
						console.log('Ocurrió un error, intente más tarde'); return;
					}

					DIR_REN.setDirections(response);

					var image = {
						url: "statics/images/map-azul.png",
						size: new google.maps.Size(81, 81),
						origin: new google.maps.Point(0, 0),
						anchor: new google.maps.Point(40, 71),
				  		scaledSize: new google.maps.Size(75, 75)
					};
					var image2 = {
						url: "statics/images/map-aqui-estoy.png",
						size: new google.maps.Size(81, 81),
						origin: new google.maps.Point(0, 0),
						anchor: new google.maps.Point(40, 71),
				  		scaledSize: new google.maps.Size(75, 75)
					};
					
					var marker_n = new google.maps.Marker({
						position: {lat: parseFloat(response.request.origin.location.lat()), lng: parseFloat(response.request.origin.location.lng())},
						icon: image
					});
					var marker_n2 = new google.maps.Marker({
						position: {lat: parseFloat(response.request.destination.location.lat()), lng: parseFloat(response.request.destination.location.lng())},
						icon: image2
					});

					marker_n.setMap(map);
					marker_n2.setMap(map);

					// Forzar redibujado del mapa.
					this.$nextTick(() => google.maps.event.trigger(map, 'resize'));
				});
				if(sts==10 || sts==9 || sts==8 || sts==7 || sts==6 || sts==5){
					if(sts==8 || sts==7 || sts==6 || sts==5){
						destination = origin;
					}
					origin = repartidor;
					if(typeof origin == 'object')
						origin = new google.maps.LatLng(origin.lat, origin.lon);
					const data_map2 = {
						destination,
						origin,
						optimizeWaypoints: true,
						travelMode: 'DRIVING'
					};
					const DIR_REN = new google.maps.DirectionsRenderer({suppressMarkers: true,polylineOptions: { strokeColor: "#02e9ff" }});
					DIR_REN.setMap(map);
					DIR_SVC.route(data_map2, (response, status) => {
						if(status !== 'OK'){
							console.log('Ocurrió un error, intente más tarde'); return;
						}

						DIR_REN.setDirections(response);

						var image = {
							//url: "statics/images/map-repartidor.png",
							url: repartidor.imgrep,
							size: new google.maps.Size(81, 81),
							origin: new google.maps.Point(0, 0),
							anchor: new google.maps.Point(13, 15),
				  			scaledSize: new google.maps.Size(35, 35)
						};

						var marker_n = new google.maps.Marker({
							position: {lat: parseFloat(response.request.origin.location.lat()), lng: parseFloat(response.request.origin.location.lng())},
							icon: image
						});
						

						marker_n.setMap(map);
						
						// Forzar redibujado del mapa.
						this.$nextTick(() => google.maps.event.trigger(map, 'resize'));
					});
				}
			});
		},



	},
};
</script>
