<template>
	<div>
				<div
					ref="mapa"
					map-type-id="terrain"
					class="col-12 vh100 "
					>
				</div>

				<template>
					<slot :google="googlee" v-bind:lat="lat" v-bind:lon="lon"/></slot>
				</template>

				<div style="position:fixed;bottom:0;display: none;width: 100%;" class=" bg_rosa q-pl-md q-pr-md q-pb-md q-pt-lg " v-for="item in listado" :id="item.id">

		           	<div class="flex">
					   <q-img :src="  item.img || 'statics/images/logo.png' " class="soft-border" width="60px" height="60px" >
					   <div width="15px" height="15px" v-bind:class="{ 'bg-green-light rounded': item.laborando, 'transparente rounded': !item.laborando }" style="right: 1px;width: 0px;padding: 7px;top: 1px;" >
                       </div>
					   </q-img>

					   <div class="w-70">

		                    <div style="position:relative" class="flex q-ml-md content-between w-100 ">

		                         <div class="w-100">
		                            <p  class="mb-0 font-xl bold " >{{item.nombre}} </p>
									<p class="mb-0 font-lg " >{{item.categorias_menu}}</p>
									<div  class="flex item-center content-between">
                                        <p class="mb-0 text-blue font-xl " @click=" verDoomi(item)">Ver mas...</p>
										<p class="mb-0 font-xl" @click="vermodalhorario(item)" >{{ horarioDeHoy(item) }}</p>
									</div>
								 </div>

								 <div class="absolute-top-right ">
									 <!-- <q-btn flat style="position: fixed;right: 5px;margin-top:-5%" @click="CerrarVentana">X</q-btn> -->
									 <q-img  @click="CerrarVentana" style="position: fixed;right:0;margin-top:-2%" width="30px" class="q-mr-md" src="statics\Iconos\X_redonda.png" ></q-img>

									  <q-rating
		                         	v-model="dummyFav"
		                         	v-if="verFavo"
		                         	max="1"
									size="30px"
									color="red"
									icon="favorite_border"
									icon-selected="favorite"
									icon-half="favorite"
									no-dimming
									class="q-mb-md q-mr-md "
									style="position: fixed;right: 0;margin-top:30px"
									@input="cambiarfavo(item.id)"
							      />

								 </div>


							</div>

					   </div>

                         <div class="row w-100 ">
							 <div class="col-3">

							 </div>

							 <div class="col-3">

							 </div>

							 <div class="col-6 text-right ">

							 </div>

						</div>

				   	</div>

				   	<q-separator color="white" ></q-separator>

				   	<div class="flex item-center q-mt-sm row ">
					<div class="col-2 flex flex-center">
                        <q-btn flat icon="pin_drop" ></q-btn>
					</div>
					  <div class="col-10">
					   <p class="mb-0 w-80 font-xl ">{{item.ubicacion}}</p>
					  </div>
				   	</div>

				</div>
				<q-dialog v-model="dialogHorario">
					<q-card>
						<q-card-actions align="right">
							<q-img width="15px" height="15px" class="q-mt-md q-mr-md" v-close-popup src="statics\Iconos\X.png" ></q-img>
						</q-card-actions>
						<q-card-section class="pt-0" >
							<div class="text-center"><b>Horario</b></div>
						</q-card-section>

						<q-card-section class="q-pt-none">
							<div class="q-pa-md">
								<div class="row"v-for="hor in horarios" :key="hor.id">
									<div class="col-6 p-2 cont_horario--dia">{{ hor.dia }}</div>
									<div class="col-6 p-2 cont_horario--hora">
										{{$utils.de24a12(hor.inicio_hor)}} / {{$utils.de24a12(hor.fin_hor)}}
									</div>
								</div>
							</div>
						</q-card-section>


					</q-card>
				</q-dialog>
	</div>
</template>


<script>

import { EventBus } from '../router/index';
import { LocalStorage } from 'quasar';

export default {
	name: 'GoogleMap',
	props: {
		mapConfig: {
			type: Object,
			default(){
					return {
						center: { lat: 10.336902, lon: -68.745944 },
						zoom: 8,
					}
			},
		},
		setprueba: {
			type: Object,
		},
	},

	data(){
		return {
			// markers: [],
			map: null,
			options: {
				mapTypeControl: false,
				streetViewControl: false,
				fullscreenControl: false,
				zoomControl: true,
				rotateControl: true,
				scaleControl: true,
				gestureHandling: "greedy",
				zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                backgroundColor: "#fff",
                zoomControlOptions: {
			        position: google.maps.ControlPosition.RIGHT_CENTER
			    }
			},
			lat: null,
			lon: null,
			googlee: google,
			listado: [],
			heightmobile: 500,
			dummyFav: 1,
			verFavo: false,
			vista_ant: 0,
			marcador_ant: 0,
			horarios: [],
			dialogHorario: false
		}
	},
	async mounted(){
		this.verFavo = this.$auth.autenticado();
		var cordenadas = {};
		var cor = LocalStorage.getItem('DIRECCIONSELECTCORDENADA');
		if(!LocalStorage.has('DIRECCIONSELECTCORDENADA') || !cor.lat){
			await this.$api.general.geo().then(ubicacionActual => {
		      	cordenadas = ubicacionActual;
		    })
			.catch(err => {
				console.log(err);
			});
		}else{
			cordenadas = cor;
		}
		await this.$api.general.recuperarDataConData('restaurantes/app', {lat:cordenadas.lat, lon: cordenadas.lon})
	        .then(r => {
	        	this.listado = r;
	          	//console.log(this.listado);
	        })
	        .catch(err => {
	          console.log(err);
	        });
	    if(cordenadas.lat){
	    	this.mapConfig.center.lat = cordenadas.lat;
			this.mapConfig.center.lon = cordenadas.lon;
		}


		this.cargarMapa(null);
		this.$emit('ObtenerEmit', this.listado);
		//marker.setMap(map);//crea la marca en el mapa


	},
	methods:{
		vermodalhorario(domi){
			this.horarios = domi.horarios;
			this.dialogHorario = true;
		},
		cargarMapa(databusqueda){
			var center_lat = this.mapConfig.center.lat;
	        var center_lon = this.mapConfig.center.lon;
	        if(databusqueda){
	        	center_lat = databusqueda.lat;
				center_lon = databusqueda.lon;
				this.options.zoom= 17;
	        }
			this.options.center = new google.maps.LatLng(center_lat, center_lon);

			var map = new google.maps.Map(
	            this.$refs.mapa,
	            this.options
	        );

	        const self = this;


			const centroMarker = new google.maps.LatLng(this.mapConfig.center.lat, this.mapConfig.center.lon);
			//var infowindow = new google.maps.InfoWindow();
			var image_user = {
				url: "statics/images/map-aqui-estoy.png",
				size: new google.maps.Size(81, 81),
				origin: new google.maps.Point(0, 0),
				anchor: new google.maps.Point(40, 71),
				scaledSize: new google.maps.Size(75, 75)
			};
			var marker = new google.maps.Marker({position: centroMarker,icon: image_user});

			marker.setMap(map);
			var i;
			var marca = this.listado;

			if(databusqueda){
				var imgview = "statics/images/map-gris.png";
		        if(databusqueda.laborando)
		            imgview = "statics/images/map-azul.png";
		        var image = {
					url: imgview,
					size: new google.maps.Size(91, 91),
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(50, 87),
					scaledSize: new google.maps.Size(95, 95)
				};
		        /*var image = {
				  url: "statics/images/map-azul.png",
				  size: new google.maps.Size(81, 81),
				  origin: new google.maps.Point(0, 0),
				  anchor: new google.maps.Point(40, 71),
				  scaledSize: new google.maps.Size(75, 75)
				};*/
				const position_bus = new google.maps.LatLng(databusqueda.lat, databusqueda.lon);
		        this.marcador_ant = new google.maps.Marker({
				 	position: position_bus,
				 	icon: image,
				 	draggable: false
				});
				this.vista_ant = databusqueda.id;
			}
			for (i = 0; i < this.listado.length; i++) {
				if(this.listado[i].laborando)
					var image_ico = "statics/images/map-azul.png";
				else
					var image_ico = "statics/images/map-gris.png";
				var image = {
				  url: image_ico,
				  size: new google.maps.Size(81, 81),
				  origin: new google.maps.Point(0, 0),
				  anchor: new google.maps.Point(40, 71),
				  scaledSize: new google.maps.Size(75, 75)
				};
				var marker_n = new google.maps.Marker({
				 	position: {lat: parseFloat(this.listado[i].lat), lng: parseFloat(this.listado[i].lon)},
				 	icon: image,
				 	title: this.listado[i].nombre,
				 	draggable: false
				});




				// Add info window to marker
		        google.maps.event.addListener(marker_n, 'click', (function(marker, i) {
		            return function() {
		            	if(self.marcador_ant){
		            		self.marcador_ant.setMap(null);
		            	}
		            	var imgview = "statics/images/map-gris.png";
		            	if(marca[i]['laborando'])
		            		imgview = "statics/images/map-azul.png";
		            	var image = {
						  url: imgview,
						  size: new google.maps.Size(91, 91),
						  origin: new google.maps.Point(0, 0),
						  anchor: new google.maps.Point(50, 87),
						  scaledSize: new google.maps.Size(95, 95)
						};
		            	self.marcador_ant = new google.maps.Marker({
						 	position: marker.position,
						 	icon: image,
						 	title: marker.title,
						 	draggable: false
						});
						self.marcador_ant.setMap(map);

		            	if(self.vista_ant!=0)
		            		document.getElementById(self.vista_ant).style.display = "none";
		            	document.getElementById(marca[i]['id']).style.display = "block";
		            	self.vista_ant = marca[i]['id'];

		            	let esFavorito = self.$store.getters['cliente/esFavorito'](marca[i]['id']);
		            	self.dummyFav = esFavorito ? 1 : 0;

		            	/*var off_on = '<p style="color:green;"><b>Domiliado:</b> Abierto</p>';
		            	if(!marca[i]['laborando'])
		            		off_on = '<p style="color:red;"><b>Domiliado:</b> Cerrado</p>';

		            	var conten = '<img src="'+marca[i]['img']+'" style="width:100%;"/ onerror="this.src=\'statics/images/logo.png\'"><h5 style="margin:0;">'+marca[i]['nombre']+'</h5>'+
							'<p>'+marca[i]['descripcion']+'</p>'+
							'<p style="margin-bottom: 0;"><b>Telefono:</b> '+marca[i]['telefono']+'</p>'+off_on+
							'<a class="btn-map-home" id="'+marca[i]['id']+'">Ver Domiliado</a>';
		            	infowindow.setContent(conten);
		                infowindow.open(map, marker);
		                setTimeout(function(){
		                	var elementos = document.querySelectorAll('.btn-map-home');
							// Recorremos cada uno de nuestros elementos
							elementos.forEach(function(elemento) {
							  	// Obtenemos el id
							  	var id = elemento.id;
							  	// Agregamos un listener a cada elemento
								elemento.addEventListener('click', function() {
								    self.$router.push({ name:'Menudoomialiadohome', params: {id:parseFloat(id)} })
								});
					  		});

		                }, 500);*/

		            }
		        })(marker_n, i));


		        marker_n.setMap(map);
			};
			if(databusqueda){
				document.getElementById(databusqueda.id).style.display = "block";
		        self.marcador_ant.setMap(map);
		    }
		},
		CerrarVentana(){
			if(this.vista_ant!=0){
		        document.getElementById(this.vista_ant).style.display = "none";
		        this.marcador_ant.setMap(null);
		        this.vista_ant = 0;
		        this.marcador_ant = 0;
		    }
		},
		verDoomi(doomi){
			this.$router.push({ path:'/Menudoomialiadohome/'+doomi.id, params: {id:doomi.id} })
		},
		horarioDeHoy(domi){
			//return this.$store.getters['doomis/horarioDoomialadoDeHoy2'](iddomi);
			return this.$utils.horarioActual(domi.horarios, ' / ') || 'Cerrado';
		},
		cambiarfavo(iddomi){
			this.$store.dispatch('cliente/favorito', [iddomi, this.dummyFav]);

			this.notificar(this.dummyFav ? 'Agregado a mis favoritos' : 'Eliminado de mis favoritos');
		},
		obtenerdata(){
			return this.listado;
		},
		notificar(message, timeout=2000){
			this.$q.notify({
				message,
				timeout,
				color: 'green-4',
				textColor: 'white',
				icon: 'done_all',
				color: 'cyan-4',
			});
		},
	},
	watch: {
		async setprueba(data){
			if(data){
				this.CerrarVentana();
				this.cargarMapa(data);
			}
		}
	}
};
</script>
