<template>
  <div class="">
  <div class="row">
    <div class="col">
        <q-list bordered separator class="rounded-borders" full-width>
          <q-item clickable v-ripple v-for="ne in products" :key="ne.id" :to="'/company/' + ne.id">
            <q-item-section avatar>
              <q-avatar rounded>
                <img src="https://cdn.quasar.dev/img/avatar2.jpg">
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label lines="1">{{ne.name}}</q-item-label>
              <q-item-label caption lines="4" class="text-justify">
                {{ne.description}}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
    </div>
  </div>
  </div>
</template>


<script>

export default {
  name: 'ProductosByCategory',
  props: ['categoryId'],
  data() {
    return {
      products: [
        {
          id: '1',
          img:'https://cdn.quasar.dev/img/avatar4.jpg',
          name: 'Coco Fresh',
          description: 'CCarrera 12, entre calle 9 y 10aCarrera 12, entre calle 9 y 10rCarrera 12, entre calle 9 y 10rCarrera 12, entre calle 9 y 10Carrera 12, entre calle 9 y 10era 12, entre calle 9 y 10',
          },
        {
          id: '2',
          img:'https://cdn.quasar.dev/img/avatar4.jpg',
          name: 'Tbt Grill',
          description: 'CCarrera 12, entre calle 9 y 10aCarrera 12, entre calle 9 y 10rCarrera 12, entre calle 9 y 10rCarrera 12, entre calle 9 y 10Carrera 12, entre calle 9 y 10era 12, entre calle 9 y 10',
          },
        {
          id: '3',
          img:'https://cdn.quasar.dev/img/avatar4.jpg',
          name: 'Plade Company',
          description: 'CCarrera 12, entre calle 9 y 10aCarrera 12, entre calle 9 y 10rCarrera 12, entre calle 9 y 10rCarrera 12, entre calle 9 y 10Carrera 12, entre calle 9 y 10era 12, entre calle 9 y 10',
          },
      ],
      textFindBusiness: '',
      showFilter: false
    }
  },
  methods: {

  },
  created(){
    if(this.categoryId==null){
      this.$emit('showCategories')
    }
  }

}
</script>
